::-webkit-scrollbar
{
	width: 10px;
	height: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.input-default-height{height:24px}
.search-area{margin-bottom:10px}
.table th, .table td {
    text-align: center;
}
body{
	color:#000; 
	font-family: "microsoft yahei";
	min-width: 1366px;
    overflow-x: auto;
}
a{cursor: pointer;}
a:hover, a:focus{text-decoration: none;}
.input-group-addon{cursor:pointer;}
.necessary{color:red}
th .necessary{font-weight:100}
.nav-tabs li.active a,.nav-tabs li.active a span{color:#5085AF;font-weight:bold;}
.nav-tabs li.active a:hover,.nav-tabs li.active a:hover span{color:#5085AF;font-weight:bold;}
.nav-tabs .tab-close{width: 16px;height: 16px;cursor: pointer;line-height: 16px;margin-left:15px}
.nav-tabs .tab-close:hover{background: #b74635;border-radius:16px;color:#fff}
.widget-body .wysiwyg-editor{border-width: 1px;}
.ui-autocomplete {max-height: 200px;overflow-y: auto;overflow-x: hidden; /*z-index:9999;*/}
.ui-autocomplete .ui-menu-item{height: 16px;}
.timeline-item{margin-bottom: 0;}
.ui-dialog, .ui-jqdialog{z-index:99040!important;}
select {height: 33px}
.font-size-14 span{font-size: 14px;}
.show-grid{padding: 10px 0;}
.border{border: 1px solid #ddd; padding-top: 10px; padding-bottom: 10px;}
.border.no-border-bottom{border-bottom: none;}
.border.no-border-right{border-right: none;}
.border.no-border-left{border-left: none;}
.border.no-border-top{border-top: none;}
input:read-only{background: #EFEBEB!important;}
.tripPlanViewList.table>thead>tr>th,
.tripPlanViewList.table>tbody>tr>td{padding-left: 0; padding-right: 0;word-break: break-all;}
.tripPlanViewList .td-col-3{width: 3%;}
.tripPlanViewList .td-col-5{width: 5%;}
.tripPlanViewList .td-col-6{width: 6%;}
.tripPlanViewList .td-col-8{width: 8%;}
.tripPlanViewList .td-col-9{width: 9%;}
.tripPlanViewList .td-col-10{width: 10%;}
.tripPlanViewList .td-col-15{width: 15%;}
.border-top{border-top: 1px solid #ddd;}
textarea, input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color]{color:#333;}
textarea:focus, input[type=text]:focus, input[type=password]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=date]:focus, input[type=month]:focus, input[type=time]:focus, input[type=week]:focus, input[type=number]:focus, input[type=email]:focus, input[type=url]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=color]:focus{color:#333;}
.form-control, select{color:#333;}
.form-control:focus, select:focus{color:#333;}
.widget-body .table thead:first-child tr{color:#707070;font-weight:400;background:#F2F2F2;background-image:-webkit-linear-gradient(top,#f8f8f8 0,#ececec 100%);background-image:-o-linear-gradient(top,#f8f8f8 0,#ececec 100%);background-image:linear-gradient(to bottom,#f8f8f8 0,#ececec 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffececec', GradientType=0)}
.ui-dialog-titlebar-close{display: none} 

.layui-layer-title{font-size:16px;}
.ui-spinner .btn{background-color:#fff!important;
	border:1px solid #B5B5B5!important;
	/*border-right:1px solid #B5B5B5!important ;*/
	/*border-left: 1px solid #B5B5B5!important;*/
	color:#b5b5b5!important;height:14px;line-height:7px;}
.ui-spinner .btn i.fa-sort-asc{line-height:17px;}
.ui-spinner .btn i.fa-sort-desc{line-height:17px;}
.fuckIcon{position: absolute;margin-top: -20px;}
.ui-spinner .ui-spinner-down{bottom:2px;right:5px;}
.input-group-addon{background:none;padding:0;border:0;position:relative;left:-25px;}
.widget-body .table thead:first-child tr{color:#707070;font-weight:400;background:#F2F2F2;background-image:-webkit-linear-gradient(top,#f8f8f8 0,#ececec 100%);background-image:-o-linear-gradient(top,#f8f8f8 0,#ececec 100%);background-image:linear-gradient(to bottom,#f8f8f8 0,#ececec 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffececec', GradientType=0)}
.ui-dialog-titlebar-close{display: none}

/*表格内容设置省略符号*/
.table-fixed{
	table-layout:fixed;
}
.table-fixed td{
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;
}  
/*.ui-widget-content{
	width: 120px;
	overflow: scroll;
}*/

.money {
	width: 60px;
}

/***发团计划样式**/

input.datepicker {
	border-radius: 0;
	width: 90px;
}
.hct-content-tabs{
	padding-left: 0;
	padding-right: 0;
}
.hct-content-tabs .nav-tabs{
	top: 0;
}
.hct-content-tabs .nav-tabs{
	border-color: #c5d0dc;
}
.hct-content-tabs .tab-content{
	padding: 16px 0;
	border-color: #c5d0dc;
	border-top: 1px solid #f4f4f4;
}
.hct-content-tabs .tab-content .row{
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 0;
	margin-right: 0;
}
.hct-search-area{
	width: 100%;
	max-width: 1280px;
	margin-bottom: 0;
	overflow: hidden;
}
.hct-search-area .form-group,
.hct-search-area.form-inline .form-group{
	display: block;
	float: left;
	margin-bottom: 0;
	padding: 5px 10px 5px 0;
}
.hct-view-plan{
	margin-bottom: 20px;
}
.hct-view-plan .border{
	border-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}
.hct-view-plan .border:last-child{
	border-bottom: 1px solid #ddd;
}
.hct-view-plan .border > [class*="col-xs-"]{
	border-right: 1px solid #ddd;
	padding-top: 10px;
	padding-bottom: 10px;
}
.hct-view-plan .border > [class*="col-xs-"]:last-child{
	border-right: none;
}
.hct-view-plan .border > [class*="col-xs-"] span{
	padding-left: 0;
}
.hct-view-plan .border > .col-xs-12 > .col-xs-1{
	width: 8%;
}
.hct-view-plan .border > .col-xs-12.hd{
	background-color: #f7f8f8;
}
.hct-view-plan .border > .hd > h3,
.hct-editor-plan .row > .hd > h3{
	color: #428bca;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 14px;
	font-weight: bold;
	line-height: 1;
	position: relative;
}
.hct-view-plan .border > .hd > h3:before,
.hct-editor-plan .row > .hd > h3:before{
	content: '';
	width: 5px;
	height: 12px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -6px;
	background-color: #428bca;
	border-radius: 1px;
}
.control-label{
	padding-top: 2px;
}
.hct-input-group{
	position: relative;
}
.hct-input-group > input{
	padding-right: 34px!important;
}
.hct-input-group .hct-group-search,
.hct-input-group .hct-group-add{
	height: 12px;
	position: absolute;
	right: 3px;
	top: 50%;
	margin-top: -6px;
	color: #428bca;
	font-size: 12px;
	line-height: 1;
}
.hct-input-group[class*="col-xs-"] .hct-group-search,
.hct-input-group[class*="col-xs-"] .hct-group-add{
	right: 15px;
}
.hct-editor-plan .row > .col-xs-12 > .col-xs-1{
	width: 7.78%;
}
.hct-editor-plan .row > .col-xs-12 > .col-xs-11{
	width: 92.22%;
}
.hct-editor-plan .row > [class*="col-xs-"]{
	padding-top: 7px;
	padding-bottom: 7px;
}
.hct-editor-plan .row > [class*="col-xs-"] label{
	padding-right: 0;
	padding-left: 0;
}
.hct-editor-plan .row{
	border-bottom: 1px solid #f4f4f4;
}
.hct-editor-plan .table{
	margin-bottom: 0;
}
.hct-plan-ask{
	position: relative;
	padding-top: 7px;
	padding-bottom: 7px;
}
.hct-plan-ask .hct-plan-ask-operate,
.hct-plan-ask .hct-plan-ask-title{
	position: absolute;
	top: 50%;
	margin-top: -12px;
	line-height: 24px;
}
.hct-plan-ask .hct-plan-ask-title{
	width: 110px;
	left: 0;
	text-align: right;
	z-index: 2;
}
.hct-plan-ask .hct-plan-ask-operate{
	width: 80px;
	right: 0;
	text-align: center;
	z-index: 2;
}
.hct-plan-ask .hct-plan-ask-input{
	width: 100%;
	padding-left: 110px;
	padding-right: 80px;
	position: relative;
	z-index: 1;
}
.hct-update-detail{
	width: 100%;
}
.hct-update-detail .detail-title{
	width: 100%;
	line-height: 36px;
	padding-left: 34px;
	background-color: #e4e4e4;
	border-bottom: 1px solid #c9c9c9;
	color: #333;
}
.hct-update-detail .detail-content{
	width: 100%;
}
.hct-update-detail .detail-footer{
	width: 100%;
	text-align: center;
	padding-top: 10px;
}
.w-8{
	width: 8%;
}
.par-r-15{
	padding-right: 15px!important;
}
/*财务样式兼容*/
.financial-search-planProfit{
	display: inline-block;
    padding-left: 15px;
}
@media (max-width: 1485px) {
	.financial-search-planProfit{
		display: inline-block;
	    padding-left: 0px;
	    padding-top: 8px;
	}
}
