<div class="touristGroupViewAccount" id="T-touristGroupViewAccount">
	<div class="form-inline" style="text-align:center;margin: 15px 0px 25px 0px;">
		<div class="form-group">
			<h4 style="margin: auto;">
			{{if touristGroup.companyLogo !=null && touristGroup.companyLogo !=""}}
			<img src="{{touristGroup.companyLogo}}" class="imgViewAccount" alt=" " style="width: 35px;height: 35px">
			{{/if}}
			<span class="mar-l-5">{{touristGroup.travelName}}</span>
		</h4>
		</div>
		<div class="form-group pull-right mar-r-20 globalAdd">
			<button class="btn btn-sm btn-success T-printAccountBtn T-noprint" style="height: 24px;">
				<i class="ace-icon fa fa-print"></i>打印
			</button>
		</div>
	</div>
	
	<form action="">
		<div class="viewAccountsMain view-InfoPrint">
			<p>
				<span>致</span> 
				<span style="margin-left: 4px;">{{partnerAgency.travelAgencyName}}</span> 
				<span class="mar-l-5"></span> (<span>{{partnerAgency.partnerAgencyContact}}</span> 
				<span class="mar-l-3">{{partnerAgency.partnerAgencyName}}</span>) <span class="mar-l-5">您好！</span>
			</p>
			<p>
				<span>贵单位：</span> 
				<span>(收客单号)</span>
				<span>{{touristGroup.orderNumber}}</span> 
				<span class="mar-l-8">(行程)</span> <span>{{lineProduct.name}},</span> 
				<span>现将该团费用结算列表如下,请审阅并盖章、签字回执我社！</span>
			</p>
			<table class="table whereQ whereTwo" style="width: 100%;">
				<tr class="view-TranAccountsPrint">
					<td class="textaR-paR"><span>人数</span></td>
					<td class="textaR-paL"><span>{{touristGroup.count}}</span></td>
					<td class="textaR-paR"><span>联系人</span></td>
					<td class="textaR-paL"><span>{{touristGroup.contactName}}</span><span class="mar-l-5">{{touristGroup.contactPhone}}</span></td>
				</tr>
				<tr class="view-TranAccountsPrint">
					<td class="textaR-paR"><span>出团日期</span></td>
					<td class="textaR-paL"><span>{{touristGroup.startTime | dateFormat: 'yyyy-MM-dd'}}</span></td>
					<td class="textaR-paR"><span>完团日期</td>
					<td class="textaR-paL"><span>{{touristGroup.endTime | dateFormat: 'yyyy-MM-dd'}}</span></td>
				</tr>
				<tr class="view-TranAccountsPrint">
					<td class="textaR-paR"><span>团号</span></td>
					<td class="textaR-paL"><span>{{touristGroup.tripNumber}}</span></td>
					<td class="textaR-paR"><span>针对客源</span></td>
					<td class="textaR-paL"><span>{{if touristGroup.customerType == 0}}散客{{/if}}{{if touristGroup.customerType == 1}}团体{{/if}}</span></td>
				</tr>
				<tr class="view-TranAccountsPrint">
					<td class="textaR-paR"><span>导游</span></td>
					<td class="textaR-paL"><span>{{touristGroup.guidName}}</span></td>
					<td class="textaR-paR"><span>全陪</span></td>
					<td class="textaR-paL"><span>{{touristGroup.accompanyGuideName}}</span><span class="mar-l-5">{{touristGroup.accompanyGuideMobile}}</span></td>
				</tr>
			</table>

				<table class="table table-bordered"> 
					<thead>
						<tr class="view-TranAccountsPrint" style="border: 1px solid #E2E2E2">
							<th class="th-border" width="160">费用项</th>
							<th class="th-border">数量</th>
							<th class="th-border">单价</th>
							<th class="th-border">天数</th>
							<th class="th-border">金额</th>
							<th class="th-border">说明</th>
						</tr>
					</thead>
					<tbody class="addCostTbody">
						{{each touristGroup.touristGroupFeeList as touristGroup}}
							<tr class="view-TranAccountsPrint" data-entity-id="{{touristGroup.id}}">
								<td>
									<span>{{touristGroup.name}}</span>
								</td>
								<td>
									<span class="F-float F-count">{{touristGroup.count}}</span>
								</td>
								<td>
									<span class="F-float F-money">{{touristGroup.price}}</span>
								</td>
								<td>
									<span>{{touristGroup.days}}</span>
								</td>
								<td>
									<span class="F-float F-money">{{touristGroup.price*touristGroup.count*(touristGroup.days || 1)}}</span>
								</td>
								<td class="textaR-paL">
									{{touristGroup.remark}}
								</td>

							</tr>
								{{/each}}
					</tbody>
			</table>
			<table class="table whereQ" style="width: 100%;margin-top: -20px;">
				<tr class="view-TranAccountsPrint">
					<td style="text-align: right;padding-right:60px;width: 160px"><span>应收</span></td>
					<td class="textaR-paL">
						<span class="F-float F-money">{{touristGroup.needPayAllMoney}}</span>
					</td>
				</tr>
				<tr class="view-TranAccountsPrint">
					<td style="text-align: right;padding-right:60px;width: 160px"><span>已收</span></td>
					<td class="textaR-paL">
						<span class="F-float F-money">{{touristGroup.payedMoney}}</span>
					</td>
				</tr>
				<tr class="view-TranAccountsPrint">
					<td style="text-align: right;padding-right:60px;width: 160px"><span>现收</span></td>
					<td class="textaR-paL">
						<span class="F-float F-money">{{touristGroup.currentNeedPayMoney}}</span>
					</td>
				</tr>
				<tr class="view-TranAccountsPrint">
					<td style="text-align: right;padding-right:60px;width: 160px"><span>未收</span></td>
					<td class="textaR-paL">
						<span class="F-float F-money">{{touristGroup.UnIncomeMoney}}</span>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="text-a-l"><span style="margin-left: 10px;">请仔细阅读并盖章确认之后回传！谢谢！</span></td>
				</tr>
			</table>
			<p style="text-align: right;margin-top: 10px;">
				<span class="{{if !!touristGroup.outOPUserName || !!touristGroup.outOPUserName}}{{else}}hidden{{/if}}">
					<span>外联销售：</span> 
					<span>{{touristGroup.outOPUserName}}</span> 
					<span>{{touristGroup.outOPUserMobileNumberr}}</span>
				</span>
			</p>
			<p style="text-align: right;margin-top: -8px;" class="{{if !!touristGroup.faxNumber}}{{else}}hidden{{/if}}">
				<span>传真：{{touristGroup.faxNumber}}</span>
			</p>
			<p style="text-align: right;margin-top: -8px;"><span>{{touristGroup.nowTime | dateFormat: 'yyyy-MM-dd hh:mm:ss'}}</span></p>
		</div>
	</form>
	<div class="form-inline col-xs-12 hidden" style="text-align: center;margin-top: 30px;"> 
		<button class="btn btn-sm btn-primary T-btn-cancel T-noprint" style="height:24px;width: 75px;font-size: 12px;line-height: 10px;"> <i class="ace-icon fa fa-times"></i> 关闭 </button>
	</div>
	
</div>