<div class="touristGroupViewAccount" id="T-touristGroupViewAccount">
	<div class="form-inline" style="text-align:center;margin: 15px 0px 25px 0px;">
		<div class="form-group">
			<h4 style="margin: auto;">
			{{if touristGroup.companyLogo !=null && touristGroup.companyLogo !=""}}
			<img src="{{touristGroup.companyLogo}}" class="imgViewAccount" alt=" " style="width: 35px;height: 35px">
			{{/if}}
			<span class="mar-l-5">{{touristGroup.travelName}}</span>
		</h4>
		</div>
		<div class="form-group pull-right mar-r-20 globalAdd">
			<button class="btn btn-sm btn-success T-printAccountBtn T-noprint" style="height: 24px;">
				<i class="ace-icon fa fa-print"></i>打印
			</button>
		</div>
	</div>
	
	<form action="">
		<div class="viewAccountsMain view-InfoPrint">
			<p>
				<span>致</span> 
				<span style="margin-left: 4px;">{{partnerAgency.travelAgencyName}}</span> 
				<span class="mar-l-5"></span> (<span>{{partnerAgency.partnerAgencyContact}}</span> 
				<span class="mar-l-3">{{partnerAgency.partnerAgencyName}}</span>) <span class="mar-l-5">您好！</span>
			</p>
			<p>
				<span>贵单位：</span> 
				<span>(收客单号)</span>
				<span>{{touristGroup.orderNumber}}</span> 
				<span class="mar-l-8">(行程)</span> <span>{{lineProduct.name}},</span> 
				<span>现将该团费用结算列表如下,请审阅并盖章、签字回执我社！</span>
			</p>
			<table class="table whereQ whereTwo" style="width: 100%;">
				<tr class="view-TranAccountsPrint">
					<td class="textaR-paR"><span>人数</span></td>
					<td class="textaR-paL"><span>{{touristGroup.count}}</span></td>
					<td class="textaR-paR"><span>联系人</span></td>
					<td class="textaR-paL"><span>{{touristGroup.contactName}}</span><span class="mar-l-5">{{touristGroup.contactPhone}}</span></td>
				</tr>
				<tr class="view-TranAccountsPrint">
					<td class="textaR-paR"><span>出团日期</span></td>
					<td class="textaR-paL"><span>{{touristGroup.startTime | dateFormat: 'yyyy-MM-dd'}}</span></td>
					<td class="textaR-paR"><span>完团日期</td>
					<td class="textaR-paL"><span>{{touristGroup.endTime | dateFormat: 'yyyy-MM-dd'}}</span></td>
				</tr>
				<tr class="view-TranAccountsPrint">
					<td class="textaR-paR"><span>团号</span></td>
					<td class="textaR-paL"><span>{{touristGroup.tripNumber}}</span></td>
					<td class="textaR-paR"><span>针对客源</span></td>
					<td class="textaR-paL"><span>{{if touristGroup.customerType == 0}}散客{{/if}}{{if touristGroup.customerType == 1}}团体{{/if}}</span></td>
				</tr>
				<tr class="view-TranAccountsPrint">
					<td class="textaR-paR"><span>导游</span></td>
					<td class="textaR-paL"><span>{{touristGroup.guidName}}</span></td>
					<td class="textaR-paR"><span>全陪</span></td>
					<td class="textaR-paL"><span>{{touristGroup.accompanyGuideName}}</span><span class="mar-l-5">{{touristGroup.accompanyGuideMobile}}</span></td>
				</tr>
			</table>

			<!-- 日程安排 -->
			<table class="table table-bordered" style="margin-bottom:0px;">
				<thead>
					<tr class="view-TranAccountsPrint" style="border: 1px solid #E2E2E2">
						<th class="th-border" width="160">日期</th>
						<th class="th-border">行程安排</th>
						<th class="th-border">早餐</th>
						<th class="th-border">午餐</th>
						<th class="th-border">晚餐</th>
					</tr>
				</thead>
				<tbody>
					{{each lineProductDay as rs }}
						<tr>
							<td>
								<span>{{rs.whichDay}}</span>
							</td>
							<td>
								<span>{{rs.title}}</span>
							</td>

							<td>
								{{if rs.includeRest.b}}
									<i class="ace-icon fa fa-check"></i>
								{{else}}
									<i class="fa fa-times"></i>
								{{/if}}
							</td>
								
							<td>
								{{if rs.includeRest.l}}
									<i class="ace-icon fa fa-check"></i>
								{{else}}
									<i class="fa fa-times"></i>
								{{/if}}
							</td>

							<td>
								{{if rs.includeRest.d}}
									<i class="ace-icon fa fa-check"></i>
								{{else}}
									<i class="fa fa-times"></i>
								{{/if}}
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
			<table class="table table-bordered"> 
				<thead>
					<tr class="view-TranAccountsPrint" style="border: 1px solid #E2E2E2">
						<th class="th-border" width="160">费用项</th>
						<th class="th-border">数量</th>
						<th class="th-border">单价</th>
						<th class="th-border">单位</th>
						<th class="th-border">金额</th>
						<th class="th-border">说明</th>
					</tr>
				</thead>
				<tbody class="addCostTbody">
					{{each touristGroup.touristGroupFeeList as touristGroup}}
						<tr class="view-TranAccountsPrint" data-entity-id="{{touristGroup.id}}">
							<td>
								<span>{{touristGroup.name}}</span>
							</td>
							<td>
								<span class="F-float F-count">{{touristGroup.count}}</span>
							</td>
							<td>
								<span class="F-float F-money">{{touristGroup.price}}</span>
							</td>
							<td>
								<span>{{touristGroup.days}}</span>
							</td>
							<td>
								<span class="F-float F-money">{{touristGroup.price*touristGroup.count*(touristGroup.days || 1)}}</span>
							</td>
							<td class="textaR-paL">
								{{touristGroup.remark}}
							</td>

						</tr>
							{{/each}}
				</tbody>
			</table>
			<table class="table whereQ" style="width: 100%;margin-top: -20px;margin-bottom:0px;">
				<tr class="view-TranAccountsPrint">
					<td style="text-align: center;width: 160px"><span>合计</span></td>
					<td style="text-align: left;" colspan="5">
						<span>应收:</span>
						<span class="F-float F-money mar-r-5">{{touristGroup.needPayAllMoney}}</span>
						<span>已收:</span>
						<span class="F-float F-money mar-r-5">{{touristGroup.payedMoney}}</span>
						<span>现收:</span>
						<span class="F-float F-money mar-r-5">{{touristGroup.currentNeedPayMoney}}</span>
						<span>未收:</span>
						<span class="F-float F-money mar-r-5">{{touristGroup.UnIncomeMoney}}</span>
					</td>
				</tr>
				<tr>
					<td style="text-align: center;width: 160px"><span>备注</span></td>
					<td style="text-align: left;" colspan="5">
						<span>
							{{touristGroup.remark}}
						</span>
					</td>
				</tr>
			</table>
			<table class="table table-bordered" >
				<tbody>
					<tr class="view-TranAccountsPrint">
						<td colspan="3" style="text-align:left">
							<p>请贵社盖章确认!</p>
							<p>
								<span>确认人:</span>______
							</p>
							<p>
								<span>确认日期:</span>
								<span class="mar-l-20">年</span>
								<span class="mar-l-20">月</span>
								<span class="mar-l-20">日</span>
							</p>
						</td>
						<td colspan="3" style="text-align:left">
							<p>
								<span class="{{if !!touristGroup.outOPUserName || !!touristGroup.outOPUserName}}{{else}}hidden{{/if}}">
									<span>外联销售：</span> 
									<span>{{touristGroup.outOPUserName}}</span> 
									<span>{{touristGroup.outOPUserMobileNumberr}}</span>
								</span>
							</p>
							<p style="margin-top: -8px;" class="{{if !!touristGroup.faxNumber}}{{else}}hidden{{/if}}">
								<span>传真：{{touristGroup.faxNumber}}</span>
							</p>
							<p style="margin-top: -8px;">
								<span>日期:</span>
								<span>{{touristGroup.nowTime | dateFormat: 'yyyy-MM-dd hh:mm:ss'}}</span>
							</p>

						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</form>
	<div class="form-inline col-xs-12 hidden" style="text-align: center;margin-top: 30px;"> 
		<button class="btn btn-sm btn-primary T-btn-cancel T-noprint" style="height:24px;width: 75px;font-size: 12px;line-height: 10px;"> <i class="ace-icon fa fa-times"></i> 关闭 </button>
	</div>
	
</div>