<div class="container-fluid mar-t-20">
	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-1 text-right no-padding-right control-label">线路名称</div>
			<div class="col-xs-3 control-label">{{if !!lineData}}{{lineData.lineProductName}}{{/if}}</div>
			<div class="col-xs-1 text-right no-padding-right control-label">天数</div>
			<div class="col-xs-1 control-label">{{if !!lineData}}{{lineData.days}}{{/if}}</div>
			<div class="col-xs-1 text-right no-padding-right control-label">出团日期</div>
			<div class="col-xs-3 control-label">{{if !!lineData}}{{lineData.startTime | dateFormat: 'yyyy-MM-dd'}}{{/if}}</div>
		</div>
		<div class="col-xs-12 mar-t-20">
			<div class="col-xs-1 text-right no-padding-right control-label">同行</div>
			<div class="col-xs-3 control-label">{{transferPartnerAgency}}</div>
		</div>
		<div class="col-xs-12 mar-t-20">
			<div class="col-xs-1 text-right no-padding-right control-label">备注</div>
			<div class="col-xs-10 control-label">{{remark}}</div>
		</div>
		<div class="col-xs-12 mar-t-10">
			<div class="col-xs-1 text-right no-padding-right control-label">应付</div>
			<div class="col-xs-3 control-label">{{needPayAllMoney}}</div>
			<div class="col-xs-1 text-right no-padding-right control-label">计划现收</div>
			<div class="col-xs-2 control-label">{{currentNeedPayMoney}}</div>
			<div class="col-xs-1 text-right no-padding-right control-label">对方现收</div>
			<div class="col-xs-1">
				<input type="checkbox" disabled class="ace"{{if isNowIncome == 1}} checked{{/if}}>
				<label class="lbl"></label>
			</div>
		</div>
		<div class="col-xs-12 mar-t-20">
			<table class="table table-striped table-new table-bordered table-hover">
				<thead>
					<tr>
						<th>费用项</th>
						<th>数量</th>
						<th>单价</th>
						<th>金额</th>
						<th>说明</th>
					</tr>
				</thead>
				<tbody class="T-fee-list">
				{{if outTransferFee && outTransferFee.length > 0}}
					{{each outTransferFee as rs}}
					<tr>
						<td>{{rs.type | getFeeItemText}}</td>
						<td>{{rs.count}}</td>
						<td>{{rs.price}}</td>
						<td>{{rs.price*rs.count}}</td>
						<td>{{rs.remark}}</td>
					</tr>
					{{/each}}
				{{/if}}
				</tbody>
			</table>
		</div>
		<div class="col-xs-12 mar-t-20 mar-b-10 text-center">
			<button class="btn btn-xs btn-default T-btn-close btn-primary w100"> <i class="ace-icon fa fa-times"></i> 关闭 </button>
		</div>
	</div>
</div>