<div class="container-fluid mar-t-20">
	<div class="row">
		<div class="col-xs-12 mar-t-10">
			<div class="col-xs-1 text-right no-padding-right control-label">部门</div>
			<div class="col-xs-2 control-label">{{dutyDepartmentName}}</div>
			<div class="col-xs-1 text-right no-padding-right control-label">子部门</div>
			<div class="col-xs-2 control-label">{{dutySubDepartmentName}}</div>
			<div class="col-xs-1 text-right no-padding-right control-label">责任计调</div>
			<div class="col-xs-3 control-label">{{dutyUserName}}</div>
		</div>
		<div class="col-xs-12 mar-t-10">
			<div class="col-xs-1 text-right no-padding-right control-label">消费日期</div>
			<div class="col-xs-3 control-label">{{consumeTime | dateFormat: 'yyyy-MM-dd'}}</div>
		</div>
		<div class="col-xs-12 mar-t-10 {{if isRestaurantRequired != 1}}hidden {{/if}}T-ask-restaurant">
			<div class="col-xs-1 text-right no-padding-right control-label">餐厅要求</div>
			<div class="col-xs-11 control-label">{{if !!restaurantRequired}}{{restaurantRequired.requireContent}}{{/if}}</div>
		</div>
		<div class="col-xs-12 mar-t-10{{if isTicketRequired != 1}} hidden{{/if}} T-ask-ticket">
			<div class="col-xs-1 text-right no-padding-right control-label">票务要求</div>
			<div class="col-xs-11 control-label">{{if !!ticketRequired}}{{ticketRequired.requireContent}}{{/if}}</div>
		</div>
		<div class="col-xs-12 mar-t-10 {{if isOtherRequired != 1}}hidden {{/if}}T-ask-other">
			<div class="col-xs-1 text-right no-padding-right control-label">其它要求</div>
			<div class="col-xs-11 control-label">{{if !!otherRequired}}{{otherRequired.requireContent}}{{/if}}</div>
		</div>
		<div class="col-xs-12 mar-t-20">
			<div class="col-xs-8" style="padding-left: 20px; padding-top: 4px;">
				<label class="control-label pull-left" style="width: 35px;">应付</label>
				<span class="control-label pull-left">{{needPayAllMoney}}</span>
			</div>
		</div>
		<div class="col-xs-12 mar-t-20">
			<table class="table table-striped table-new table-bordered table-hover">
				<thead>
					<tr>
						<th>费用项</th>
						<th>数量</th>
						<th>单价</th>
						<th>金额</th>
						<th>说明</th>
					</tr>
				</thead>
				<tbody class="T-fee-list" data-del-json="{{otherFeeDel}}">
				{{if otherFee && otherFee.length > 0}}
					{{each otherFee as rs}}
					<tr data-id="{{rs.id}}">
						<td>{{rs.type | getFeeItemText}}</td>
						<td>{{rs.count}}</td>
						<td>{{rs.price}}</td>
						<td>{{rs.price*rs.count}}</td>
						<td>{{rs.remark}}</td>
					</tr>
					{{/each}}
				{{/if}}
				</tbody>
			</table>
		</div>
		<div class="col-xs-12 mar-t-20 mar-b-10 text-center">
			<button class="btn btn-xs btn-default T-btn-close btn-primary w100"> <i class="ace-icon fa fa-times"></i> 关闭 </button>
		</div>
	</div>
</div>