<div class="container-fluid mar-t-20">
	<div class="row">
		{{if type == 1}}
		<div class="col-xs-12">
			<div class="col-xs-1 text-right no-padding-right no-padding-left control-label">线路名称：</div>
			<div class="col-xs-5 control-label">{{if !!lineData}}{{lineData.lineProductName}}{{/if}}</div>
			<div class="col-xs-1 text-right no-padding-right control-label">天数：</div>
			<div class="col-xs-1 control-label">{{if !!lineData}}{{lineData.days}}{{/if}}</div>
			<div class="col-xs-1 text-right no-padding-right no-padding-left control-label">出团日期：</div>
			<div class="col-xs-2 control-label">{{if !!lineData}}{{lineData.startTime | dateFormat: 'yyyy-MM-dd'}}{{/if}}</div>
		</div>
		<div class="col-xs-12 mar-t-20">
			<div class="col-xs-2">
				<select class="col-xs-12" disabled>
					<option value="0">本部操作</option>
					<option value="1" {{if isTransfer == 1}}selected{{/if}}>他部操作</option>
					<option value="2" {{if isTransfer == 2}}selected{{/if}}>外转操作</option>
				</select> 
			</div>
		{{if isTransfer == 2}}
			<div class="col-xs-1 text-right no-padding-right control-label">同行：</div>
			<div class="col-xs-3 control-label">{{transferPartnerAgency}}</div>
		{{else if isTransfer == 1}}
			<div class="col-xs-1 text-right no-padding-right no-padding-left control-label">责任部门：</div>
			<div class="col-xs-3 control-label">{{dutyDepartmentName}}</div>
			<div class="col-xs-1 text-right no-padding-right no-padding-left control-label">责任计调：</div>
			<div class="col-xs-3 control-label">{{dutyUserName}}</div>
		{{/if}}
		</div>
		<div class="col-xs-12 mar-t-20">
			<div class="col-xs-1 text-right no-padding-right control-label">备注：</div>
			<div class="col-xs-10 control-label">{{remark}}</div>
		</div>
		<div class="col-xs-12 mar-t-10">
			<div class="col-xs-1 text-right no-padding-right control-label">应付：</div>
			<div class="col-xs-3 control-label F-float F-money T-needPayAllMoney">{{needPayAllMoney}}</div>
			<div class="col-xs-1 text-right no-padding-right no-padding-left control-label">现收团款：</div>
			<div class="col-xs-2 control-label F-float F-money">{{needPayMoney}}</div>
			<div class="col-xs-2 text-right no-padding-right no-padding-left control-label">对方现收金额：</div>
			{{if isFeeAdjust}}
			<input type="text" class="currentNeedPayMoney" value="{{currentNeedPayMoney}}">
			{{else}}
			<div class="col-xs-2 control-label F-float F-money">{{currentNeedPayMoney}}</div>
			{{/if}}
		</div>
		{{else}}
		<div class="col-xs-12 mar-t-20">
			<label class="control-label pull-left" style="width: 40px;">应收：</label>
			<span class="control-label pull-left F-float F-money T-needPayAllMoney">{{needPayAllMoney}}</span>
			<label class="control-label pull-left" style="width: 75px; padding-left: 24px;">预收款：</label>
			<span class="control-label pull-left F-float F-money">{{preIncomeMoney}}</span>
			<label class="control-label pull-left" style="width: 75px; padding-left: 12px;">现收团款：</label>
			{{if isFeeAdjust}}
			<input type="text" class="currentNeedPayMoney" value="{{currentNeedPayMoney}}">
			{{else}}
			<span class="control-label pull-left F-float F-money">{{currentNeedPayMoney}}</span>
			{{/if}}
		</div>
		{{/if}}

		{{if isFeeAdjust}}
		<div class="col-xs-12 mar-t-20">
			<button class="btn btn-sm btn-success T-add-fee"> <i class="ace-icon fa fa-plus"></i> 新增费用项 </button>
		</div>
		{{/if}}
		<div class="col-xs-12 mar-t-20">
			<table class="table table-striped table-new table-bordered table-hover">
				<thead>
					<tr>
						<th>费用项</th>
						<th>数量</th>
						{{if type != 1}}<th>天数</th>{{/if}}
						<th>单价</th>
						<th>金额</th>
						<th>说明</th>
						{{if isFeeAdjust}}
						<th>操作</th>
						{{/if}}
					</tr>
				</thead>
				<tbody class="T-fee-list" data-del-json="{{if !!type}}{{lineFeeDel}}{{else}}{{touristGroupFeeJsonDel}}{{/if}}" {{if !!type}}data-type="4"{{/if}}>
				{{if touristGroupFeeJsonAdd && touristGroupFeeJsonAdd.length > 0}}
					{{each touristGroupFeeJsonAdd as rs}}
					<tr data-id="{{rs.id}}">
						<td>
							{{rs.type | getFeeItemText}}
						</td>
						<td class="F-float F-count">{{rs.count}}</td>
						{{if type != 1}}<td>{{rs.days}}</td>{{/if}}
						<td class="F-float F-money">{{rs.price}}</td>
						<td class="F-float F-money T-money">{{rs.price*rs.count*(rs.days || 1)}}</td>
						<td>{{rs.remark}}</td>
						{{if isFeeAdjust}}
						<td></td>
						{{/if}}
					</tr>
					{{/each}}
				{{else if lineFee && lineFee.length > 0}}
					{{each lineFee as rs}}
					<tr>
						<td>{{rs.type | getFeeItemText:2}}</td>
						<td class="F-float F-count">{{rs.count}}</td>
						{{if type != 1}}<td>{{rs.days}}</td>{{/if}}
						<td class="F-float F-money">{{rs.price}}</td>
						<td class="F-float F-money T-money">{{rs.price*rs.count*(rs.days || 1)}}</td>
						<td>{{rs.remark}}</td>
						{{if isFeeAdjust}}
						<td></td>
						{{/if}}
					</tr>
					{{/each}}
				{{/if}}
				</tbody>
			</table>
		</div>
		<div class="col-xs-12 mar-t-20 mar-b-10 text-center">
			<button class="btn btn-xs btn-default T-btn-close btn-primary w100"> <i class="ace-icon fa fa-times"></i> 关闭 </button>
			{{if isFeeAdjust}}
			<button class="btn btn-xs btn-primary T-btn-save w100" style="height: auto;"> <i class="ace-icon fa fa-check"></i> 保存 </button>
			{{/if}}
		</div>
	</div>
</div>