<div class="container-fluid T-container">
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right" style="margin-top: -6px;">
                <label class="pull-left control-label text-right mar-r-10">代订单号</label>
                <input type="text" class="pull-left w-150" name="orderNumber" disabled value="{{orderNumber}}">
            </div>
        </div>
        <div class="col-xs-12 mar-t-10">
            <table class="table table-striped table-bordered table-hover hct-table-update">
                <thead>
                    <tr>
                        <th rowspan="2">客户</th>
                        <th colspan="4">代订项目</th>
                        <th rowspan="2">代订小计</th>
                        <th rowspan="2">应收</th>
                        <th rowspan="2">客人信息</th>
                        <th rowspan="2">联系电话</th>
                        <th rowspan="2">外联销售</th>
                    </tr>
                    <tr>
                        <th width="110">酒店</th>
                        <th width="110">票务</th>
                        <th width="110">景区</th>
                        <th width="110">旅游车</th>
                    </tr>
                </thead>
                <tbody class="T-booking-info">
                    <tr>
                        <td>{{partnerAgencyName}}</td>
                        <td><a class="cursor T-action T-hotel F-float F-money" data-json="{{hotel}}">{{hotelNeedPayMoney}}</a></td>
                        <td><a class="cursor T-action T-ticket F-float F-money" data-json="{{ticket}}">{{ticketNeedPayMoney}}</a></td>
                        <td><a class="cursor T-action T-scenic F-float F-money" data-json="{{scenic}}">{{scenicNeedPayMoney}}</a></td>
                        <td><a class="cursor T-action T-bus F-float F-money" data-json="{{bus}}">{{busNeedPayMoney}}</a></td>
                        <td><span class="F-float F-money">{{(hotelNeedPayMoney || 0) + (ticketNeedPayMoney||0) + (scenicNeedPayMoney||0) + (busNeedPayMoney||0)}}</span></td>
                        <td><a class="cursor T-action T-receivable F-float F-money" data-json="{{needGet}}">{{needGetNeedPayMoney}}</a></td>
                        <td><a class="cursor T-action T-guest-info" data-json="{{tourist}}">{{touristInfo}}</a></td>
                        <td>{{touristMobileNumber}}</td>
                        <td>{{outOPUserName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 mar-t-20 mar-b-10 text-center">
            <button class="btn btn-xs btn-default T-btn-close btn-primary w100"> <i class="ace-icon fa fa-times"></i> 关闭 </button>
        </div>
    </div>
</div>