<div class="container-fluid mar-t-20">
    <div class="row">
        <div class="col-xs-12 mar-t-20">
            <div class="pull-left">
                人数：大人 {{adultCount}} 小孩 {{childCount}}
            </div>
        </div>
        <div class="col-xs-12 mar-t-10">
            <table class="table table-striped table-new table-bordered table-hover">
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>手机号码</th>
                    </tr>
                </thead>
                <tbody class="T-addTouristTbody">
                    <tr>
                        <td>{{touristRealname}}</td>
                        <td>{{touristMobileNumber}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 mar-t-20 mar-b-10 text-center">
            <button class="btn btn-xs btn-default T-btn-close btn-primary w100"> <i class="ace-icon fa fa-times"></i> 关闭 </button>
        </div>
    </div>
</div>