<div class="col-sm-12 countUpdate">
    <div class="col-xs-12 border">
        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="search-area  editable editable-click" style="margin-top: 10px;">
                <div class="form-group">
                    <label class="col-sm-3" >团号: {{tripPlanMainInfo.tripNumber}}</label>
                    <label class="col-sm-2" >导游: {{tripPlanMainInfo.guideName}}</label>
                    <label class="col-sm-2" >全陪: {{tripPlanMainInfo.accompanyGuideName}}</label>
                    <label class="col-sm-2" >团队人数:{{tripPlanMainInfo.adultCount}}大{{tripPlanMainInfo.childCount}}小</label>
                </div>
            </div>
        </form>
        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="search-area  editable editable-click" style="margin-top: 10px;">
                <div class="form-group">
                    <label class="col-sm-3" >线路：{{tripPlanMainInfo.lineProductName}}</label>
                    <label class="col-sm-2" >天数：{{tripPlanMainInfo.days}}</label>
                    <label class="col-sm-2" >出团日期：{{tripPlanMainInfo.startTime | dateFormat:'yyyy-MM-dd'}}</label>
                    <label class="col-sm-2" >完团日期：{{tripPlanMainInfo.endTime | dateFormat:'yyyy-MM-dd'}}</label>
                    <label class="col-sm-2" >导游收入：{{tripPlanMainInfo.guideIncome}}</label>
                </div>
            </div>
        </form>
        <div class="col-sm-12 widget-container-col" >
            <div class="pull-left" style="margin-left: -15px">预支款：{{tripPlanMainInfo.guideAllPreMoney}}</div>
            <div class="pull-left" style="margin-left: 50px;">现收：{{tripPlanMainInfo.guideAllNowIncomeMoney}}</div>
            <div class="pull-left" style="margin-left: 50px;">现付：{{tripPlanMainInfo.guideAllNowPayMoney}}</div>
            <div class="pull-left" style="margin-left: 20px;">导服费：{{tripPlanMainInfo.guideFee}}</div>
            <div class="pull-left" style="margin-left: 20px;">管理费：{{tripPlanMainInfo.guideManageFee}}</div>
            <div class="pull-left" style="margin-left: 50px;">导游购物返佣：{{tripPlanMainInfo.gshoppingRebateMoney}}</div>
            <div class="pull-left" style="margin-left: 50px;">导游自费返佣：{{tripPlanMainInfo.selfPayRebateMoney}}</div>
            <div class="pull-left" style="margin-left: 50px;">账面退补：{{tripPlanMainInfo.zhangmiantuibu}}</div>
            <div class="clearfix"></div>
        </div>
    </div>
    <input type="hidden" value="{{WEB_IMG_URL_BIG}}" name="WEB_IMG_URL_BIG" />
    <input type="hidden" value="{{WEB_IMG_URL_SMALL}}" name="WEB_IMG_URL_SMALL" />
    <div class="clearfix"></div>
    <!-- 现收团款 -->
    <div class="col-sm-13 widget-container-col margin-top">
        <div class=" ui-sortable-handle">
                <h5 class="">
                    <label class="middle title-size">现收团款</label>
                </h5>
            <div class="widget-body">
                <div class="widget-main">
                    <table class="table table-striped table-bordered table-hover">
                        <thead><tr>
                            <th class="th-border">小组</th>
                            <th class="th-border">姓名</th>
                            <th class="th-border">联系电话</th>
                            <th class="th-border">证件类型</th>
                            <th class="th-border">证件号</th>
                            <th class="th-border">应收款</th>
                            <th class="th-border">已收款</th>
                            <th class="th-border">导游现收</th>
                            <th class="th-border">联系人</th>
                        </tr></thead>
                        <tbody>
                        {{each touristGroupList as group groupIndex}}
                            {{each group.touristGroupMemberList as member memberIndex}}
	                        <tr>
	                        	{{if memberIndex == 0}}
                        		<td rowspan="{{group.length}}">第{{groupIndex+1}}组</td>
	                        	{{/if}}
                        		<td>{{member.name}}</td>
	                            <td>{{member.mobileNumber}}</td>
	                            <td>
	                            	{{member.idCardType | getCardText}}
	                            </td>
	                            <td>{{member.idCardNumber}}</td>
	                            <td>
	                            	{{if member.isContactUser == 1}}是{{/if}}
	                            </td>
                                {{if memberIndex == 0}}
                                <td rowspan="{{group.length}}">{{member.needPayAllMoney}}</td>
                                <td rowspan="{{group.length}}">{{member.payedMoney}}</td>
                                <td rowspan="{{group.length}}">{{member.currentNeedPayMoney}}</td>
                                {{/if}}
	                        </tr>
	                        {{/each}} 
                        {{/each}} 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {{if currentIncomeData}}
    {{if !!currentIncomeData.selfPayData && currentIncomeData.selfPayData.length }}
    <!-- 现收自费 -->
    <div class="col-sm-13 widget-container-col margin-top">
        <div class=" ui-sortable-handle">
                <h5 class="">
                    <label class="middle title-size">现收自费</label>
                </h5>
            <div class="widget-body">
                <div class="widget-main">
                    <table class="table table-striped table-bordered table-hover">
                        <thead><tr>
                            <th class="th-border">日期</th>
                            <th class="th-border">自费商家</th>
                            <th class="th-border">项目</th>
                            <th class="th-border">单价</th>
                            <th class="th-border">数量</th>
                            <th class="th-border">优惠</th>
                            <th class="th-border">应收</th>
                            <th class="th-border">社收</th>
                            <th class="th-border">导收</th>
                            <th class="th-border">单据</th>
                        </tr></thead>
                        <tbody>
                        {{each currentIncomeData.selfPayData as item}}
                        <tr>
                            <td>{{item.time}}</td>
                            <td>{{item.selfPayName}}</td>
                            <td>{{item.itemName}}</td>
                            <td>{{item.marketPrice}}</td>
                            <td>{{item.realCount}}</td>
                            <td>{{item.reduceMoney}}</td>
                            <td>{{item.needGetMoney}}</td>
                            <td>{{item.agencyGetMoney}}</td>
                            <td>{{item.guideGetMoney}}</td>
                            <td><a href="javascript:void(0);" class="T-view-bill" data-fn="{{item.billImage}}">{{if item.billImage }} 查看 {{/if}}</a></td>
                        </tr>
                        {{/each}} 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    <!-- 现收购物佣金 -->
    <div class="col-sm-13 widget-container-col hidden margin-top">
        <div class=" ui-sortable-handle">
                <h5 class="">
                    <label class="middle title-size">现收购物佣金</label>
                </h5>
            <div class="widget-body">
                <div class="widget-main">
                    <table class="table table-striped table-bordered table-hover">
                        <thead><tr>
                            <th class="th-border">日期</th>
                            <th class="th-border">购物店</th>
                            <th class="th-border">总金额</th>
                            <th class="th-border">金额返佣</th>
                            <th class="th-border">人数返佣</th>
                            <th class="th-border">停车返佣</th>
                            <th class="th-border">购物佣金</th>
                            <th class="th-border">社收</th>
                            <th class="th-border">导收</th>
                            <th class="th-border">单据</th>
                        </tr></thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {{if !!currentIncomeData.incomePaymentData && currentIncomeData.incomePaymentData.length }}
    <!-- 其他收入 -->
    <div class="col-sm-13 widget-container-col margin-top">
        <div class=" ui-sortable-handle">
                <h5 class="">
                    <label class="middle title-size">其他收入</label>
                </h5>
            <div class="widget-body">
                <div class="widget-main">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="th-border">日期</th>
                            <th class="th-border">单价</th>
                            <th class="th-border">数量</th>
                            <th class="th-border">优惠</th>
                            <th class="th-border">应收</th>
                            <th class="th-border">社收</th>
                            <th class="th-border">导收</th>
                            <th class="th-border">单据</th>

                        </tr></thead>
                        <tbody>
                        {{each currentIncomeData.incomePaymentData as item}}
                        <tr>
                            <td>{{item.time}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.count}}</td>
                            <td>{{item.reduceMoney}}</td>
                            <td>{{item.needGetMoney}}</td>
                            <td>{{item.agencyGetMoney}}</td>
                            <td>{{item.guideGetMoney}}</td>
                            <td><a href="javascript:void(0);" class="T-view-bill" data-fn="{{item.billImage}}">{{if item.billImage }} 查看 {{/if}}</a></td>
                        </tr>
                        {{/each}} 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    {{/if}}<!-- 结束现收 -->

    {{if !!currentPayData}}
    <!-- 存在现付 -->
    {{if !!currentPayData.busCompanyData && currentPayData.busCompanyData.length }}
    <!-- 现付车费 -->
    <div class="col-sm-13 widget-container-col margin-top">
        <div class=" ui-sortable-handle">
                <h5 class="">
                    <label class="middle title-size">现付车费</label>
                </h5>
            <div class="widget-body">
                <div class="widget-main">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="th-border">司机</th>
                            <th class="th-border">车型</th>
                            <th class="th-border">车牌号</th>
                            <th class="th-border">优惠</th>
                            <th class="th-border">应付</th>
                            <th class="th-border">社付</th>
                            <th class="th-border">导付</th>
                            <th class="th-border">单据</th>
                        </tr></thead>
                        <tbody>
                        {{each currentPayData.busCompanyData as item}}
                        <tr>
                            <td>{{item.driverName}}</td>
                            <td>{{item.busType}}</td>
                            <td>{{item.licenseNumber}}</td>
                            <td>{{item.reduceMoney}}</td>
                            <td>{{item.needPayMoney}}</td>
                            <td>{{item.agencyPayedMoney}}</td>
                            <td>{{item.guidePayedMoney}}</td>
                            <td><a href="javascript:void(0);" class="T-view-bill" data-fn="{{item.billImage}}">{{if item.billImage }} 查看 {{/if}}</a></td>
                        </tr>
                        {{/each}} 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

    {{if !!currentPayData.restaurantData && currentPayData.restaurantData.length }}
    <!-- 现付餐费 -->
    <div class="col-sm-13 widget-container-col margin-top">
        <div class=" ui-sortable-handle">
                <h5 class="">
                    <label class="middle title-size">现付餐费</label>
                </h5>
            <div class="widget-body">
                <div class="widget-main">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="th-border">用餐日期</th>
                            <th class="th-border">用餐类型</th>
                            <th class="th-border">餐标</th>
                            <th class="th-border">人数</th>
                            <th class="th-border">优惠</th>
                            <th class="th-border">应付</th>
                            <th class="th-border">社付</th>
                            <th class="th-border">导付</th>
                            <th class="th-border">单据</th>

                        </tr></thead>
                        <tbody>
                        {{each currentPayData.restaurantData as item}}
                        <tr>
                            <td>{{item.time}}</td>
                            <td>{{item.stardardType}}</td>
                            <td>{{item.price}}/人</td>
                            <td>{{item.realCount}}</td>
                            <td>{{item.reduceMoney}}</td>
                            <td>{{item.needPayMoney}}</td>
                            <td>{{item.agencyPayedMoney}}</td>
                            <td>{{item.guidePayedMoney}}</td>
                            <td><a href="javascript:void(0);" class="T-view-bill" data-fn="{{item.billImage}}">{{if item.billImage }} 查看 {{/if}}</a></td>
                        </tr>
                        {{/each}} 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

    {{if !!currentPayData.hotelData && currentPayData.hotelData.length }}
    <!-- 现付房费 -->
    <div class="col-sm-13 widget-container-col margin-top">
        <div class=" ui-sortable-handle">
                <h5 class="">
                    <label class="middle title-size">现付房费</label>
                </h5>
            <div class="widget-body">
                <div class="widget-main">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="th-border">入住日期</th>
                            <th class="th-border">房型</th>
                            <th class="th-border">单价</th>
                            <th class="th-border">数量</th>
                            <th class="th-border">优惠</th>
                            <th class="th-border">应付</th>
                            <th class="th-border">社付</th>
                            <th class="th-border">导付</th>
                            <th class="th-border">单据</th>
                        </tr></thead>
                        <tbody>
                        {{each currentPayData.hotelData as item}}
                        <tr>
                            <td>{{item.time}}</td>
                            <td>{{item.roomType}}</td>
                            <td>{{item.price}}/间</td>
                            <td>{{item.realCount}}</td>
                            <td>{{item.reduceMoney}}</td>
                            <td>{{item.needPayMoney}}</td>
                            <td>{{item.agencyPayedMoney}}</td>
                            <td>{{item.guidePayedMoney}}</td>
                            <td><a href="javascript:void(0);" class="T-view-bill" data-fn="{{item.billImage}}">{{if item.billImage }} 查看 {{/if}}</a></td>
                        </tr>
                        {{/each}} 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    
    {{if !!currentPayData.scenicData && currentPayData.scenicData.length }}
    <!-- 现付景区费用 -->
    <div class="col-sm-13 widget-container-col margin-top">
        <div class=" ui-sortable-handle">
                <h5 class="">
                    <label class="title-size middle">现付景区费用</label>
                </h5>
            <div class="widget-body">
                <div class="widget-main">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="th-border">日期</th>
                            <th class="th-border">景区</th>
                            <th class="th-border">收费项目</th>
                            <th class="th-border">单价</th>
                            <th class="th-border">数量</th>
                            <th class="th-border">优惠</th>
                            <th class="th-border">应付</th>
                            <th class="th-border">社付</th>
                            <th class="th-border">导付</th>
                            <th class="th-border">单据</th>
                        </tr></thead>
                        <tbody>
                        {{each currentPayData.scenicData as item}}
                        <tr>
                            <td>{{item.time}}</td>
                            <td>{{item.scenicName}}</td>
                            <td>{{item.scenicItemName}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.realCount}}</td>
                            <td>{{item.reduceMoney}}</td>
                            <td>{{item.needPayMoney}}</td>
                            <td>{{item.agencyPayedMoney}}</td>
                            <td>{{item.guidePayedMoney}}</td>
                            <td><a href="javascript:void(0);" class="T-view-bill" data-fn="{{item.billImage}}">{{if item.billImage }} 查看 {{/if}}</a></td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    
    {{if !!currentPayData.ticketData && currentPayData.ticketData.length }}
    <!-- 现付票务费 -->
    <div class="col-sm-13 widget-container-col margin-top">
        <div class=" ui-sortable-handle">
                <h5 class="">
                    <label class="middle title-size">现付票务费</label>
                </h5>
            <div class="widget-body">
                <div class="widget-main">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="th-border">日期</th>
                            <th class="th-border">类型</th>
                            <th class="th-border">单价</th>
                            <th class="th-border">数量</th>
                            <th class="th-border">优惠</th>
                            <th class="th-border">应付</th>
                            <th class="th-border">社付</th>
                            <th class="th-border">导付</th>
                            <th class="th-border">单据</th>
                        </tr></thead>
                        <tbody>
                        {{each currentPayData.ticketData as item}}
                        <tr>
                            <td>{{item.time}}</td>
                            <td>{{item.ticketType | getTicketText}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.realCount}}</td>
                            <td>{{item.reduceMoney}}</td>
                            <td>{{item.needPayMoney}}</td>
                            <td>{{item.agencyPayedMoney}}</td>
                            <td>{{item.guidePayedMoney}}</td>
                            <td><a href="javascript:void(0);" class="T-view-bill" data-fn="{{item.billImage}}">{{if item.billImage }} 查看 {{/if}}</a></td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    
    {{if !!currentPayData.selfPayData && currentPayData.selfPayData.length }}
    <!-- 现付自费费用 -->
    <div class="col-sm-13 widget-container-col margin-top">
        <div class=" ui-sortable-handle">
                <h5 class="">
                    <label class="middle title-size">现付自费费用</label>
                </h5>
            <div class="widget-body">
                <div class="widget-main">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="th-border">日期</th>
                            <th class="th-border">底价</th>
                            <th class="th-border">数量</th>
                            <th class="th-border">优惠</th>
                            <th class="th-border">应付</th>
                            <th class="th-border">社付</th>
                            <th class="th-border">导付</th>
                            <th class="th-border">单据</th>
                        </tr></thead>
                        <tbody>
                        {{each currentPayData.selfPayData as item}}
                        <tr>
                            <td>{{item.time}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.realCount}}</td>
                            <td>{{item.reduceMoney}}</td>
                            <td>{{item.needPayMoney}}</td>
                            <td>{{item.agencyPayedMoney}}</td>
                            <td>{{item.guidePayedMoney}}</td>
                            <td><a href="javascript:void(0);" class="T-view-bill" data-fn="{{item.billImage}}">{{if item.billImage }} 查看 {{/if}}</a></td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    
    {{if !!currentPayData.otherData && currentPayData.otherData.length }}
    <!-- 现付其他费用 -->
    <div class="col-sm-13 widget-container-col margin-top">
        <div class=" ui-sortable-handle">
                <h5 class="">
                    <label class="middle  title-size">现付其他费用</label>
                </h5>
            <div class="widget-body">
                <div class="widget-main">
                    <table class="table table-striped table-bordered table-hover">
                        <thead><tr>
                            <th class="th-border">日期</th>
                            <th class="th-border">单价</th>
                            <th class="th-border">数量</th>
                            <th class="th-border">优惠</th>
                            <th class="th-border">应付</th>
                            <th class="th-border">社付</th>
                            <th class="th-border">导付</th>
                            <th class="th-border">单据</th>
                        </tr></thead>
                        <tbody>
                        {{each currentPayData.otherData as item}}
                        <tr>
                            <td>{{item.time}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.realCount}}</td>
                            <td>{{item.reduceMoney}}</td>
                            <td>{{item.needPayMoney}}</td>
                            <td>{{item.agencyPayedMoney}}</td>
                            <td>{{item.guidePayedMoney}}</td>
                            <td><a href="javascript:void(0);" class="T-view-bill" data-fn="{{item.billImage}}">{{if item.billImage }} 查看 {{/if}}</a></td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{/if}}  <!-- 结束现付 -->

    {{/if}}
    
    {{if !!guideRebateData}}
    {{if !!guideRebateData.shopRebateData && guideRebateData.shopRebateData.length }}
    <!-- 购物导佣 -->
    <div class="col-sm-13 widget-container-col margin-top">
        <div class=" ui-sortable-handle">
                <h5 class="">
                    <label class="middle title-size">购物导佣</label>
                </h5>
            <div class="widget-body">
                <div class="widget-main">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="th-border">进店日期</th>
                            <th class="th-border">购物店</th>
                            <th class="th-border">总金额</th>
                            <th class="th-border">金额返佣</th>
                            <th class="th-border">人数返佣</th>
                            <th class="th-border">停车返佣</th>
                            <th class="th-border">购物佣金</th>
                            <th class="th-border">导游购物返佣</th>
                            <th class="th-border">单据</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{each guideRebateData.shopRebateData as item}}
                        <tr>
                            <td>{{item.time}}</td>
                            <td>{{item.shopName}}</td>
                            <td>{{item.sumConsumeMoney}}</td>
                            <td>{{item.sumRebateMoney}}</td>
                            <td>{{item.sumCustomerRebateMoney}}</td>
                            <td>{{item.sumParkingRebateMoney}}</td>
                            <td>{{item.sumBuyRebateMoney}}</td>
                            <td>{{item.sumGuideRebateMoney}}</td>
                            <td><a href="javascript:void(0);" class="T-view-bill" data-fn="{{item.billImage}}">{{if item.billImage }} 查看 {{/if}}</a></td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    
    {{if !!guideRebateData.selfRebateData && guideRebateData.selfRebateData.length }}
    <!-- 自费导佣 -->
    <div class="col-sm-13 widget-container-col margin-top">
        <div class=" ui-sortable-handle">
                <h5 class="">
                    <label class="title-size middle">自费导佣</label>
                </h5>
            <div class="widget-body">
                <div class="widget-main">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="th-border">日期</th>
                            <th class="th-border">自费商家</th>
                            <th class="th-border">项目</th>
                            <th class="th-border">单价</th>
                            <th class="th-border">底价</th>
                            <th class="th-border">计划数量</th>
                            <th class="th-border">实际数量</th>
                            <th class="th-border">导游自费返佣</th>
                            <th class="th-border">单据</th>

                        </tr></thead>
                        <tbody>
                        {{each guideRebateData.shopRebateData as item}}
                        <tr>
                            <td>{{item.time}}</td>
                            <td>{{item.selfPayName}}</td>
                            <td>{{item.selfPayItemName}}</td>
                            <td>{{item.marketPrice}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.memberCount}}</td>
                            <td>{{item.realCount}}</td>
                            <td>{{item.guideRebateMoney}}</td>
                            <td><a href="javascript:void(0);" class="T-view-bill" data-fn="{{item.billImage}}">{{if item.billImage }} 查看 {{/if}}</a></td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    {{/if}} <!-- 导游佣金 -->
</div>