{{each list as guide}}
<tr class="T-checkTr" data-confirm="{{guide.isConfirmAccount}}" data-id="{{guide.id}}">
    <td><a class="T-gid" data-id="{{guide.tripPlanId}}">{{guide.tripNumber}}</a></td>
    <td>{{guide.lineProductName}}</td>
    <td>{{guide.accountTime}}</td>
    <td>{{guide.guideAllPreMoney}}</td>
    <td>{{guide.guideAllNowIncomeMoney}}</td>
    <td>{{guide.guideAllNowPayMoney}}</td>
    <td>{{guide.price}}</td>
    <td>{{guide.manageFee}}</td>
    <td>{{guide.shoppingRebateMoney}}</td>
    <td>{{guide.selfPayRebateMoney}}</td>
    <td>{{guide.guideIncomeMoney}}</td>
    <td>{{guide.zhangmiantuibu}}</td>
    <td>{{if guide.isConfirmAccount}} {{guide.settlementMoney}} {{ else }} <input name="settlementMoney" type="text" class="T-settlementMoney" value="{{guide.settlementMoney}}"> {{/if}}</td>
    <td class="T-payedDetail" data-money="{{guide.payedMoney}}">{{guide.payedMoney}}</td>
    <td name="unPayedMoney">{{guide.unPayedMoney}}</td>
    <td>{{if guide.isConfirmAccount}} {{guide.checkRemark}} {{ else }} <input type="text" class="T-checkRemark" name="checkRemark" value="{{guide.checkRemark}}"> {{/if}}</td>
    <td>{{guide.checkTime}}</td>
    <td>{{guide.checkRealName}}</td>
    <td>
        <label class="pos-rel  R-right" data-right="1290002">
            <input type="checkbox" class="ace T-checkbox" {{ if guide.isConfirmAccount }} checked="checked" {{/if}}/> 
            <span class="lbl"></span>
        </label>
        {{ if guide.isConfirmAccount }}
        <label class="cursor R-right" data-right="1290002"> <a class="R-right" data-right="1290003"> |</a></label>
        <a class="cursor T-action T-view R-right" data-right="1290003">查看</a>
        {{/if}}
    </td>
</tr>
{{/each}}