{{each list as guide}}
<tr class="T-checkTr {{if guide.change}}success{{/if}}" data-confirm="{{guide.isConfirmAccount}}" data-id="{{guide.id}}" {{if guide.change}}change="true"{{/if}}> 
    <td>
        <p>
            {{if guide.billStatus}}
                <a class="T-action T-gid" data-id="{{guide.tripPlanId}}" data-guidearrangeid = "{{guide.guideArrangeId}}">{{guide.tripNumber}}</a>
            {{else}}
                {{guide.tripNumber}}
            {{/if}}
        </p>
    </td>
    <td>{{guide.lineProductName}}</td>
    <td>{{guide.accountTime}}</td>
    <td>{{if guide.guideAllPreMoney == 0}}
        <span class="F-float F-money T-preMoney">{{guide.guideAllPreMoney}}</span>
        {{else}}
        <a class="cursor T-action T-borrow-detail">
            <span class="F-float F-money T-preMoney">{{guide.guideAllPreMoney}}</span>
        </a>
        {{/if}}
    </td>
    <td><span class="F-float F-money">{{guide.guideAllNowIncomeMoney}}</span></span></td>
    <td><span class="F-float F-money">{{guide.guideAllNowPayMoney}}</span></td>
    <td><span class="F-float F-money">{{guide.price}}</span></td>
    <td><span class="F-float F-money">{{guide.manageFee}}</span></td>
    <td><span class="F-float F-money">{{guide.shoppingRebateMoney}}</span></td>
    <td><span class="F-float F-money">{{guide.selfPayRebateMoney}}</span></td>
    <td><span class="F-float F-money">{{guide.guideIncomeMoney}}</span></td>
    <td><span class="F-float F-money">{{guide.zhangmiantuibu}}</span></td>
    <td>{{if guide.isConfirmAccount}}<span class="F-float F-money">{{guide.settlementMoney}}</span>
        {{else}}<input name="settlementMoney" type="text" class="money T-settlementMoney F-float F-money" value="{{guide.settlementMoney}}" /> 
        {{/if}}
    </td>
    <td class="T-payedDetail F-float F-money" data-money="{{guide.payedMoney}}"><a href="javascript:void(0);" class="T-action T-viewPayedMoney">{{guide.payedMoney}}</a></td>
    <td name="unPayedMoney"><span class="F-float F-money">{{guide.unPayedMoney}}</span></td>
    <td>{{if guide.isConfirmAccount}}{{guide.checkRemark}}
        {{else}}<textarea class="col-sm-12 hct-textarea T-checkRemark" name="checkRemark" maxlength="1000">{{guide.checkRemark}}</textarea>
        {{/if}}
    </td>
    <td>{{guide.checkTime}}</td>
    <td>{{guide.checkRealName}}</td>
    <td>
        <label class="pos-rel">
            <input type="checkbox" class="ace T-checkbox" {{ if (guide.change && guide.isChecked == 1) || (!guide.change && guide.isConfirmAccount == 1) }} checked="checked" {{/if}}/> 
            <span class="lbl">对账</span>
        </label>
        <label class="cursor"> |</a></label>
        <a class="cursor T-action T-view" data-right="1200003">查看</a>
    </td>
</tr>
{{/each}}