<div class="row check globalAdd">
    <!-- <div class="clearfix border col-sm-12"> -->
    <div>
        <div class="T-search-area">
            <form class="form-inline" role="form" onsubmit="return false">
                <div class="form-group mar-r-10">
                    <label>导游：</label>
                    <input type="text" class="T-guideName" value="{{guideName}}" />
                </div>
                <div class="form-group input-daterange mar-r-10">
                    <label>账期：</label>
                    <input type="text" class="form-control datepicker T-time T-search-start-date" style="width:100px;" value="{{startDate}}">
                    <label>&nbsp;至&nbsp;</label>
                    <input type="text" class="form-control datepicker T-time T-search-end-date" style="width:100px;" value="{{endDate}}">
                </div>
                <div class="form-group mar-r-10">
                    <label>团号：</label>
                    <input type="text" class="form-control T-tripPlanNumber" style="width: 160px;" value="{{tripPlanNumber}}" maxlength="20">
                </div>
                <div class="form-group mar-r-10">
                    <label>线路产品：</label>
                    <input type="text" class="form-control T-lineProductName" style="width: 200px;" data-id="{{lineProductId}}" value="{{lineProductName}}" maxlength="100">
                </div>
                <label class="form-group">对账状态：</label>
                <div class="form-group btn-group T-check-status mar-r-10">
                    <button data-value="{{isConfirmAccount}}" data-toggle="dropdown" class=" btn-sm  dropdown-toggle block-up" aria-expanded="false">
                        <span>
                            {{if !isConfirmAccount || isConfirmAccount === ""}}
                                全部
                            {{else if isConfirmAccount == 1}}
                                已对账
                            {{else}}
                                未对账
                            {{/if}}
                        </span>
                        <i class="ace-icon fa fa-angle-down icon-on-right"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a data-value="" href="javascript:void(0)">全部</a></li>
                        <li><a data-value="1" href="javascript:void(0)">已对账</a></li>
                        <li><a data-value="0" href="javascript:void(0)">未对账</a></li>
                    </ul>
                </div>
                <div class="form-group mar-r-10">
                    <label>对账时间：</label>
                    <input class="datepicker T-checkTime T-checkStartTime" placeholder="开始日期" type="text" value="{{startCheck}}" style="width:100px;" />
                    <label>&nbsp;至&nbsp;</label>
                    <input class="datepicker T-checkTime T-checkEndTime" value="{{endCheck}}" placeholder="结束日期" type="text" style="width:100px;" />
                </div>

                <div class="form-group">
                    <button class="btn-sm search-btn T-btn-search">
                        <i class="ace-icon fa fa-search"></i> 搜索
                    </button>
                </div>
            </form>
            <input name="accountStatus" value="{{accountStatus}}" type="hidden">
        </div>
        <form class="form-horizontal T-auto-fill-area" role="form" onsubmit="return false">
            <div class="form-group col-sm-12">
                <label class=" control-label">预支款合计：<span class="F-float F-money">{{sumData.sumGuideAllPreMoney}}</span></label>
                <label class=" control-label marginLeft-30">账面应付合计：<span class="F-float F-money">{{sumData.sumZhangmiantuibu}}</span></label>
                <label class=" control-label marginLeft-30">结算金额合计：<span class="T-stMoney F-float F-money">{{sumData.sumSettlementMoney}}</span></label>
                <label class=" control-label marginLeft-30">已付金额合计：<span class="F-float F-money">{{sumData.sumPayedMoney}}</span></label>
                <label class=" control-label marginLeft-30">未付金额合计：<span class="T-unpayMoney-temp F-float F-money">{{sumData.sumUnPayedMoney}}</span></label>
                <label class=" control-label marginLeft-30">未付金额合计(已对账)：<span class="T-unpayMoney F-float F-money">{{sumData.sumConfirmedUnPayedMoney}}</span></label>
            </div>
        </form>

        <div class="form-inline globalAdd T-summary" style="padding-top: 10px;">
            <div class="form-group mar-r-10">
                <label class="control-label">{{if borrow}}本次预支款金额合计{{else}}本次付款金额合计{{/if}}：</label>
                <label class="control-label">
                    <input type="text" name="sumPayMoney" class="T-sumPayMoney money F-float F-money"  {{if isOuter}}disabled {{/if}}>
                </label>
            </div>

            {{if !isOuter}} 
            <div class="form-group mar-r-10">
                <button class="btn btn-xs btn-primary T-btn-autofill"><i class="ace-icon fa fa-check-circle"></i> 自动下账</button>
            </div>
            {{/if}}

            <div class="form-group mar-r-10">
                <label class="control-label">付款方式：</label>
                <select class="form-control T-sumPayType" name="sumPayType">
                    {{getPayTypeOptions}}
                </select>
            </div>

            <div class="form-group mar-r-10">
                <label class="control-label">现金账号：</label>
                <label class="control-label">
                    <input type="text" name="cash-number" class="money" style="width:300px;">
                    <input type="hidden" name="cash-id">
                </label>
            </div>
            <div class="form-group mar-r-10">
                <label class="control-label">银行账号：</label>
                <label class="control-label">
                    <input type="text" name="card-number" class="money" style="width:300px;">
                    <input type="hidden" name="card-id">
                </label>
            </div>
            <div class="form-group mar-r-10">
                <label class="control-label">凭证编号：</label>
                <label class="control-label">
                    <input type="text" name="credentials-number">
                </label>
            </div>
            <div class="form-group mar-r-10">
                <label class="control-label">记账日期：</label>
                <label class="control-label">
                    <input type="text" name="tally-date"  style="width:140px;">
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">备注：</label>
            <label class="control-label">
                <input type="text" name="remark" class="T-remark" style="width:900px;">
            </label>
        </div>
    </div>
    <div class="overflow-x min-w-1050">
    <table class="table table-striped table-bordered table-hover hct_align_middle w-1500">
        <thead>
            <tr class="T-tr-fixed bg-blur">
                <th>团号</th>
                <th>线路</th>
                <th>完团日期（账期）</th>
                <th>预支款</th>
                <th>现收</th>
                <th>现付</th>
                <th>导服费</th>
                <th>管理费</th>
                <th>购物导佣</th>
                <th>自费导佣</th>
                <th>导游收入</th>
                <th>账面退补</th>
                <th>结算金额</th>
                <th>已付金额</th>
                <th>未付金额</th>
                <th>{{if borrow}}本次预支款{{else}}本次付款{{/if}}</th>
                <th class="col-sm-1">备注</th>
                <th class="col-sm-1">对账时间</th>
                <th>对账人</th>
                <th style="min-width: 105px;">对账状态</th>
            </tr>
        </thead>
        <tbody class="T-checkList T-clearList" data-right="1200005">            
        </tbody>
    </table>
    </div>
    <div class="row pageMode" style="padding-top: 15px;">
        <div class="col-xs-4">
            <small class="T-sumItem">没有查询到相关记录</small>
        </div>
        <div class="col-xs-8">
            <div class="dataTables_paginate paging_simple_numbers T-pagenation">
            </div>
        </div>

    </div>
    <form class="form-horizontal" role="form" onsubmit="return false">
        <div class="form-group" style="text-align: center;">
            <button class="btn btn-xs btn-primary T-btn-close">
                <i class="ace-icon fa fa-times-circle"></i> 关闭
            </button>
            <button class="btn btn-xs btn-primary R-right T-saveClear" style="margin-left:20px" data-id={{id}} data-type="{{type}}" data-name="{{guideName}}" data-right="1200003" {{if borrow}}data-borrow="borrow"{{/if}}>
                <i class="ace-icon fa fa-check-circle"></i> {{if borrow}}确认预支{{else}}确认付款{{/if}}
            </button>
        </div>
    </form>
</div>