{{each list as guide}}
<tr class="T-checkTr" data-confirm="{{guide.isConfirmAccount}}" data-id="{{guide.id}}">
    <td><a class="T-gid" data-id="{{guide.tripPlanId}}">{{guide.tripNumber}}</a></td>
    <td>{{guide.lineProductName}}</td>
    <td>{{guide.accountTime}}</td>
    <td>{{guide.guideAllPreMoney}}</td>
    <td>{{guide.guideAllNowIncomeMoney}}</td>
    <td>{{guide.guideAllNowPayMoney}}</td>
    <td>{{guide.price}}</td>
    <td>{{guide.manageFee}}</td>
    <td>{{guide.shoppingRebateMoney}}</td>
    <td>{{guide.selfPayRebateMoney}}</td>
    <td>{{guide.guideIncomeMoney}}</td>
    <td>{{guide.zhangmiantuibu}}</td>
    <td>{{guide.settlementMoney}}</td>
    <td>{{guide.payedMoney}}</td>
    <td>{{guide.unPayedMoney}}</td>
    <td><input type="text" name="payMoney" class=""></td>
    <td>
        <select class="T-payType">
            <option value="0">现金</option>
            <option value="1">银行转账</option>
            <option value="2">网上支付</option>
            <option value="3">支票</option>
            <option value="4">其它</option>
        </select>
    </td>
    <td><input type="text" name="payRemark" class=""></td>
    <td>{{guide.checkTime}}</td>
    <td>{{guide.checkRealName}}</td>
    <td>
        {{ if guide.isConfirmAccount }} 已对账 {{else}} 未对账 {{/if}}
        {{ if guide.isConfirmAccount }}
        <label class="cursor R-right" data-right="1290002"> <a class="R-right" data-right="1290003"> |</a></label>
        <a class="cursor T-action T-view R-right" data-right="1290003">查看</a>
        {{/if}}
    </td>
</tr>
{{/each}}