<div class="row check globalAdd">
    <!-- <div class="clearfix border col-sm-12"> -->
    <div>
        <div class="T-search-area" data-id="{{id}}">
            <form class="form-inline" role="form" onsubmit="return false">
                <input type="hidden" name="businessName" value="{{businessName}}">
                <input type="hidden" name="businessGroupId" value="{{businessGroupId}}">
                <input type="hidden" name="groupName" value="{{groupName}}">
                <input type="hidden" name="groupId" value="{{groupId}}">
                <div class="form-group mar-r-10">
                    <label>导游：</label>
                    <input type="text" class="T-guideName" value="{{guideName}}" />
                </div>
                <div class="form-group input-daterange mar-r-10">
                    <label>账期：</label>
                    <input type="text" class="form-control datepicker T-time T-search-start-date" style="width:100px;" value="{{startDate}}">
                    <label>&nbsp;至&nbsp;</label>
                    <input type="text" class="form-control datepicker T-time T-search-end-date" style="width:100px;" value="{{endDate}}">
                </div>
                <div class="form-group mar-r-10">
                    <label>团号：</label>
                    <input type="text" class="form-control T-tripPlanNumber" style="width: 160px;" value="{{tripPlanNumber}}" maxlength="20">
                </div>
                <div class="form-group mar-r-10">
                    <label>线路产品：</label>
                    <input type="text" class="form-control T-lineProductName" style="width: 200px;" data-id="{{lineProductId}}" value="{{lineProductName}}" maxlength="100">
                </div>
                <label class="form-group">对账状态：</label>
                <div class="form-group btn-group T-check-status mar-r-10">
                    <button data-value="{{isConfirmAccount}}" data-toggle="dropdown" class=" btn-sm  dropdown-toggle block-up" aria-expanded="false">
                        <span>
                            {{if !isConfirmAccount || isConfirmAccount === ""}}
                                全部
                            {{else if isConfirmAccount == 1}}
                                已对账
                            {{else}}
                                未对账
                            {{/if}}
                        </span>
                        <i class="ace-icon fa fa-angle-down icon-on-right"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a data-value="" href="javascript:void(0)">全部</a></li>
                        <li><a data-value="1" href="javascript:void(0)">已对账</a></li>
                        <li><a data-value="0" href="javascript:void(0)">未对账</a></li>
                    </ul>
                </div>
                <div class="form-group mar-r-10">
                    <label>对账时间：</label>
                    <input class="datepicker T-checkTime T-checkStartTime" placeholder="开始日期" type="text" value="{{startCheck}}" style="width:100px;" />
                    <label>&nbsp;至&nbsp;</label>
                    <input class="datepicker T-checkTime T-checkEndTime" value="{{endCheck}}" placeholder="结束日期" type="text" style="width:100px;" />
                </div>

                <div class="form-group mar-r-10">
                    <button class="btn-sm search-btn T-btn-search">
                        <i class="ace-icon fa fa-search"></i> 搜索
                    </button>
                </div>
                <div class="form-group">
                    <button class="btn-sm search-btn T-btn-export">导出报表</button>
                </div>
            </form>
            <input name="accountStatus" value="{{accountStatus}}" type="hidden">
        </div>
        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="form-group col-sm-11">
                <label class=" control-label mar-r-20">预支款合计：<span class="F-float F-money">{{sumData.sumGuideAllPreMoney}}</span></label>
                <label class=" control-label mar-r-20">现收合计：<span class="F-float F-money">{{sumData.sumGuideAllNowIncomeMoney}}</span></label>
                <label class=" control-label mar-r-20">现付合计：<span class="F-float F-money">{{sumData.sumGuideAllNowPayMoney}}</span></label>
                <label class=" control-label mar-r-20">导服费合计：<span class="F-float F-money">{{sumData.sumPrice}}</span></label>
                <label class=" control-label mar-r-20">管理费合计：<span class="F-float F-money">{{sumData.sumManageFee}}</span></label>
                <label class=" control-label mar-r-20">购物导佣合计：<span class="F-float F-money">{{sumData.sumShoppingRebateMoney}}</span></label>
                <label class=" control-label ">自费导佣合计：<span class="F-float F-money">{{sumData.sumSelfPayRebateMoney}}</span></label>
            </div>
            <div class="form-group col-sm-11">
                <label class=" control-label mar-r-20">导游收入合计：<span class="F-float F-money">{{sumData.sumGuideIncomeMoney}}</span></label>
                <label class=" control-label mar-r-20">账面应付合计：<span class="F-float F-money">{{sumData.sumZhangmiantuibu}}</span></label>
                <label class=" control-label mar-r-20">结算金额合计：<span class="T-stMoney F-float F-money">{{sumData.sumSettlementMoney}}</span></label>
                <label class=" control-label mar-r-20">已付金额合计：<span class="F-float F-money">{{sumData.sumPayedMoney}}</span></label>
                <label class=" control-label mar-r-20">未付金额合计：<span class="T-unpayMoney F-float F-money">{{sumData.sumUnPayedMoney}}</span></label>
                <label class=" control-label">未付金额合计(已对账)：<span class="F-float F-money">{{sumData.sumConfirmedUnPayedMoney}}</span></label>
            </div>
        </form>
    </div>
    <div class="overflow-x min-w-1050" >
    <table class="table table-striped table-bordered table-hover hct_align_middle w-1500">
        <thead>
            <tr class="T-tr-fixed  bg-blur">
                <th>团号</th>
                <th>线路</th>
                <th>完团日期（账期）</th>
                <th>预支款</th>
                <th>现收</th>
                <th>现付</th>
                <th>导服费</th>
                <th>管理费</th>
                <th>购物导佣</th>
                <th>自费导佣</th>
                <th>导游收入</th>
                <th>账面退补</th>
                <th>结算金额</th>
                <th>已付金额</th>
                <th>未付金额</th>
                <th class="col-sm-1">备注</th>
                <th class="col-sm-1">对账时间</th>
                <th>对账人</th>
                <th style="min-width: 105px;">对账</th>
            </tr>
        </thead>
        <tbody class="T-checkList" data-right="1200002|1200005">            
        </tbody>
    </table>
    </div>
    <div class="clearfix"></div>
    <div class="row pageMode" style="padding-top: 15px;">
        <div class="col-xs-4">
            <small class="T-sumItem">没有查询到相关记录</small>
        </div>
        <div class="col-xs-8">
            <label class="pos-rel pull-right" style="line-height: 2.2em;">
                <input type="checkbox" class="ace T-checkAll"/> 
                <span class="lbl">全选</span>
            </label>
            <div class="dataTables_paginate paging_simple_numbers T-pagenation pull-right">
            </div>
        </div>

    </div>
    <form class="form-horizontal" role="form" onsubmit="return false">
        <div class="form-group" style="text-align: center;">
            <button class="btn btn-xs btn-primary T-btn-close">
                <i class="ace-icon fa fa-times-circle"></i> 关闭
            </button>
            <button class="btn btn-xs btn-primary R-right T-saveClear" style="margin-left:20px" data-id={{id}} data-type="{{type}}" data-right="1200005|1200002">
                <i class="ace-icon fa fa-check-circle"></i> 确认对账
            </button>
        </div>
    </form>
</div>
