<div class="row T-search-area">
    <form class="form-inline" role="form" onsubmit="return false">
        <div class="form-group">
            <label>导游：</label>
            <input type="text" class="form-control T-search-name" style="width: 220px;" value="{{guideName}}" maxlength="100">
        </div>
        <div class="form-group input-daterange marginLeft-30">
            <label>账期：</label>
            <input type="text" class="form-control datepicker T-search-start-date" style="width:100px;" value="{{startDate}}">
            <label>&nbsp;至&nbsp;</label>
            <input type="text" class="form-control datepicker T-search-end-date" style="width:100px;" value="{{endDate}}">
        </div>
        <div class="form-group marginLeft-30">
            <button class="btn-sm search-btn T-btn-search">
                <i class="ace-icon fa fa-search"></i> 搜索 
            </button>
        </div>
    </form>
</div>
<div class="row">
    <table class="table table-striped table-bordered table-hover T-showHighLight">
        <thead>
            <tr class="bg-blur">
                <th>导游</th>
                <th>账面退补</th>
                <th>结算金额</th>
                <th>已付金额</th>
                <th>未付金额</th>
                <th>对账进度</th>
                <th>收款进度</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody class="T-list">
        {{each list as rs}}
            <tr data-id='{{rs.guideId}}'>
                <td>{{rs.realname}}</td>
                <td>{{rs.sumZhangmiantuibu}}</td>
                <td>{{rs.sumSettlementMoney}}</td>
                <td>{{rs.sumPayedMoney}}</td>
                <td>{{if rs.sumUnPayedMoney != 0}}<span style="color:#FF0000;">{{rs.sumUnPayedMoney}}</span>{{else}}{{rs.sumUnPayedMoney}}{{/if}}</td>
                <td>{{if rs.checkFCount == rs.sumFCount}}<span style="color:#00CC00;">{{rs.checkFCount}}/{{rs.sumFCount}}</span>{{else}}<span style="color:#FF9900;">{{rs.checkFCount}}/{{rs.sumFCount}}</span>{{/if}}</td>
                <td>{{if rs.payFCount == rs.sumFCount}}<span style="color:#00CC00;">{{rs.payFCount}}/{{rs.sumFCount}}</span>{{else}}<span style="color:#FF9900;">{{rs.payFCount}}/{{rs.sumFCount}}</span>{{/if}}</td>
                <td>
                    <a class="cursor T-action T-check R-right" data-right="1290002">对账</a>
                    <label class="cursor R-right" data-right="1290002"> <a class="R-right" data-right="1290003"> |</a></label>
                    <a class="cursor T-action T-pay R-right" data-right="1290003">付款</a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <div class="row pageMode">
        <div class="col-xs-6">
            <small>共计 {{recordSize}} 条记录</small>
        </div>
        <div class="col-xs-6">
            <div class="dataTables_paginate paging_simple_numbers T-pagenation">
            </div>
        </div>
    </div>
</div>