<div class="row" style="margin: 0; padding: 10px 10px 0;">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                {{if type == 1 || type == 2}}
                <th>付款类别</th>
                <th>发生业务</th>
                <th>付款方</th>
                <th>金额</th>
                <th>付款方式</th>
                <th>账户名称</th>
                <th>备注</th>
                <th>操作人</th>
                <th>操作时间</th>
                {{else}}
                <th>应付类别</th>
                <th>发生业务</th>
                <th>金额</th>
                <th>备注</th>
                <th>操作人</th>
                <th>操作时间</th>
                {{/if}}
            </tr>
        </thead>
        <tbody>
            {{if (type == 1)}}
                {{each payedRecordList as item}}
                <tr>
                    <td>{{item.receivableType}}</td>
                    <td>{{item.businessType}}</td>
                    <td>{{item.payParty}}</td>
                    <td><span class="F-float F-money">{{item.payDifferenceMoney}}</span></td>
                    <td>{{item.payType | getPayTypeText}}</td>
                    <td>{{if item.accountName == null || item.accountName == ""}}-{{else}}{{item.accountName}}{{/if}}</td>
                    <td>{{item.remark}}</td>
                    <td>{{item.checkRealname}}</td>
                    <td>{{item.checkTime}}</td>
                </tr>
                {{/each}}
            {{else if (type == 2)}}
                {{each guidePreRecordList as item}}
                <tr>
                    <td>{{item.receivableType}}</td>
                    <td>{{item.businessType}}</td>
                    <td>{{item.payParty}}</td>
                    <td><span class="F-float F-money">{{item.payDifferenceMoney}}</span></td>
                    <td>{{item.payType | getPayTypeText}}</td>
                    <td>{{if item.accountName == null || item.accountName == ""}}-{{else}}{{item.accountName}}{{/if}}</td>
                    <td>{{item.remark}}</td>
                    <td>{{item.checkRealname}}</td>
                    <td>{{item.checkTime}}</td>
                </tr>
                {{/each}}
            {{else}}
                {{each checkRecordList as item}}
                <tr>
                    <td>{{item.receivableType}}</td>
                    <td>{{item.businessType}}</td>
                    <td><span class="F-float F-money">{{item.settlementMoney}}</span></td>
                    <td>{{item.remark}}</td>
                    <td>{{item.checkRealname}}</td>
                    <td>{{item.checkTime}}</td>
                </tr>
                {{/each}}
            {{/if}}
        </tbody>
    </table>
</div>