<div class="T-payment-container hct-pay-wrap">
	<div class="row">
		{{if type != 0}}
		<div class="col-sm-12">
			<span class="col-sm-6 hct-pay-payee" style="padding-left:0;">支付单号：{{orderNumber}}</span>
			<span class="col-sm-6 hct-pay-payee">创建时间：{{createTime | dateFormat:"yyyy-MM-dd hh:mm:ss"}}</span>
		</div>
		{{/if}}
		<div class="col-xs-12">
			<span class="hct-pay-payee">收款方：<strong>{{if type == 0}}{{args.resourceName}}{{else}}{{resourceName}}{{/if}}</strong></span>
		</div>
		<div class="col-xs-3">
			<a class="hct-pay-item fa fa-check T-option T-pay-item pay-action" data-value="1">
				<img src="/images/underline.png">
			</a>
		</div>
		<div class="col-xs-3">
			<a class="hct-pay-item fa fa-check T-option T-pay-item T-showGuide" data-value="2">
				<img src="/images/alipay.png">
			</a>
		</div>
		<div class="col-xs-12 hide T-guideInfo">
			<div class="hct-pay-info">
				<div class="hct-pi-header pull-left"><img class="T-guideImg" src="{{if type == 0 || guideInfo.photo == "" || guideInfo.photo == null}}/images/logo_24x24.png{{else}}{{imgUrl + guideInfo.photo}}{{/if}}"></div>
				<div class="hct-pi-name pull-left T-guideName">{{if type == 1 || type == 2}}{{guideInfo.name}}{{/if}}</div>
				<div class="hct-pi-guideNum pull-left">导游证：<span class="T-guideNumber">{{if type == 1 || type == 2}}{{guideInfo.guideCardNumber}}{{/if}}</span></div>
				<div class="hct-pi-hotel pull-left">联系电话：<span class="T-guideMobile">{{if type == 1 || type == 2}}{{guideInfo.mobileNumber}}{{/if}}</span></div>
			</div>
		</div>
		<div class="col-xs-12">
			{{if type != 0}}<a class="pull-left T-option T-detail" style="line-height:34px; font-size: 16px;">明细</a>{{/if}}
			<a href="javascript:;" class="btn btn-warning pull-right T-option T-toPay" style="height: 34px; font-size: 18px; padding: 0px 26px;border-radius: 8px;">确定</a>
			<div class="pull-right" style="padding-right:20px; line-height:34px;">
				<span>付款金额：</span>
				<span style="font-size:32px; color: #ff8922;"><em style="color:#c0c1c0; font-style:normal;">￥</em>{{if type == 0}}{{args.payMoney}}{{else}}{{payMoney}}{{/if}}</span>
			</div>
		</div>
	</div>
</div>