{{each list as checking index}}
    <tr data-id="{{checking.id}}" data-entity-createTime="{{checking.createTime}}" isComfirmStatus="{{checking.isConfirmAccount}}" data-entity-realUnPayedMoney="{{checking.realUnPayedMoney}}"  data-entity-remark="{{checking.checkRemark}}">
        <td>{{checking.lineProductName}}</td>
        <td>{{checking.accountTime | dateFormat: 'yyyy-MM-dd'}}</td>
        <td>111</td><!-- {{checking.contactUserName}} -->
        <td>{{checking.adultCount}}大{{checking.childCount}}小<a href="#" class="T-seeGroup" style="margin-left:5px">展开</a></td>
        <td>{{checking.operateTransRealname}}</td>
        <td>{{checking.operateTransTime | dateFormat: 'yyyy-MM-dd'}}</td>
        <td>{{checking.transNeedPayMoney}}</td>
        <td>
            大人:{{checking.transAdultPrice}}(元)*{{checking.transAdultCount}}={{checking.transAdultPrice*checking.transAdultCount}}<br>
            小孩:{{checking.transChildPrice}}(元)*{{checking.transChildCount}}={{checking.transChildPrice*checking.transChildCount}}<br>
            {{if checking.innerTransferFeeList.length != 0}}
                {{each checking.innerTransferFeeList as otherFee}}
                    {{otherFee.discribe}}:{{otherFee.price}}(元)*{{otherFee.count}}={{otherFee.price*otherFee.count}}<br>
                {{/each}}
                {{else}}
                -
            {{/if}}
        </td>
        <td><a href="javascript:void(0)" class="T-viewDetail">社付：{{checking.payedMoney}}<br>导游现收：{{checking.currentNeedPayMoney}}</a></td>
        <td><span>{{checking.punishMoney}}</span></td>
        <td>{{checking.settlementMoney}}</td>
        <td>{{checking.unPayedMoney}}</td>
        <td><input name="payMoney" type="text" value="{{checking.payMoney}}" data-le="{{checking.unPayedMoney}}" 
        {{if !showBtnFlag && checking.unPayedMoney<= 0}} disabled {{/if}}/></td>
        <td><input type="text" maxlength="9" name="payRemark" value="{{checking.checkRemark}}"
        {{if !showBtnFlag && checking.unPayedMoney<= 0}} disabled {{/if}} /></td>
        <td>{{if checking.isConfirmAccount == 0}}<span>-</span>{{else}}{{if checking.checkTime == null || checking.checkTime == ""}}-{{else}}{{checking.checkTime | dateFormat: 'yyyy-MM-dd hh:mm:ss'}}{{/if}}{{/if}}</td>
        <td>{{if checking.isConfirmAccount == 0}}<span>-</span>{{else}}{{if checking.checkRealname == null || checking.checkRealname == ""}}-{{else}}{{checking.checkRealname}}{{/if}}{{/if}}</td>
        <td>
            <label class="pos-rel">
            {{if checking.isConfirmAccount == 1}}<span>已对账</span>{{else}}<span>未对账</span>{{/if}}
            </label>
            <label>
                <a href="#" class="T-check-Detail" style="margin-left:5px">查看</a>
            </label>
        </td>
    </tr>
    <tr class="hide">
        <td colspan="17">
            <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="th-border">序号</th>
                            <th class="th-border">姓名</th>
                            <th class="th-border">联系电话</th>
                            <th class="th-border">证件类型</th>
                            <th class="th-border">证件号</th>
                            <th class="th-border">是否联系人</th>
                        </tr>
                    </thead>  
                    <tbody>
                       {{each checking.touristGroupMemberList as visitor index}}
                        <tr>
                            <td>{{index+1}}</td>
                            <td>{{visitor.name}}</td>
                            <td>{{visitor.mobileNumber}}</td>
                            <td>{{if visitor.idCardType == 0}}身份证{{/if}}{{if visitor.idCardType == 1}}护照{{/if}}{{if visitor.idCardType == 2}}其他{{/if}}</td>
                            <td>{{visitor.idCardNumber}}</td>
                            <td>{{if visitor.isContactUser == 1}}是{{/if}}</td>
                        </tr>
                      {{/each}} 
                    </tbody>
            </table>
        </td>
    </tr>
{{/each}}