{{each list as checking index}}
    <tr data-id="{{checking.id}}" data-entity-createTime="{{checking.createTime}}" isComfirmStatus="{{checking.isConfirmAccount}}" data-entity-realUnPayedMoney="{{checking.realUnPayedMoney}}"  data-entity-remark="{{checking.checkRemark}}">
        <td rowspan="{{checking.rowLen}}">{{checking.orderNumber}}</td>
        <td rowspan="{{checking.rowLen}}">{{checking.lineProductName}}</td>
        <td rowspan="{{checking.rowLen}}">{{checking.accountTime | dateFormat: 'yyyy-MM-dd'}}</td>
        <td rowspan="{{checking.rowLen}}">{{checking.contactUserName}}</td>
        <td rowspan="{{checking.rowLen}}"><a href="#" class="T-seeGroup" data-list="{{checking.touristGroupMemberList}}" title="查看小组">
                <span class="F-float F-count">{{checking.adultCount}}</span>大
                <span class="F-float F-count">{{checking.childCount}}</span>小
            </a>
        </td>
        <td rowspan="{{checking.rowLen}}">{{checking.operateTransRealname}}</td>
        <td rowspan="{{checking.rowLen}}">{{checking.operateTransTime | dateFormat: 'yyyy-MM-dd'}}</td>
        <td rowspan="{{checking.rowLen}}"><span class="F-float F-money">{{checking.transNeedPayMoney}}</span></td>
        <td style="text-align:left">{{if checking.innerTransferFeeList.length > 0}}
                {{each checking.innerTransferFeeList as otherFee}}
                    {{otherFee.name}}:
                    <span class="F-float F-money">{{otherFee.price}}</span> X
                    <span class="F-float F-count">{{otherFee.count}}</span> =
                    <span class="F-float F-money">{{otherFee.price*otherFee.count}}</span><br>
                {{/each}}
            {{else}}-
            {{/if}}
        </td>
        <td rowspan="{{checking.rowLen}}"><a href="javascript:void(0)" class="T-viewDetail">社付：<span class="F-float F-money">{{checking.payedMoney}}</span><br></a></td>
        <td><span class="F-float F-money">{{checking.punishMoney}}</span></td>
        <td><span class="F-float F-money">{{checking.settlementMoney}}</span></td>
        <td rowspan="{{checking.rowLen}}"><span class="F-float F-money">{{checking.unPayedMoney}}</span></td>
        <td rowspan="{{checking.rowLen}}"><input name="payMoney" type="text" class="money F-float F-money" value="{{checking.payMoney}}" /></td>
        <td rowspan="{{checking.rowLen}}"><textarea class="col-sm-12 hct-textarea" name="payRemark" maxlength="1000">{{checking.payRemark}}</textarea></td>
        <td rowspan="{{checking.rowLen}}">{{if checking.isConfirmAccount == 0}}<span>-</span>{{else}}{{if checking.checkTime == null || checking.checkTime == ""}}-{{else}}{{checking.checkTime | dateFormat: 'yyyy-MM-dd hh:mm:ss'}}{{/if}}{{/if}}</td>
        <td rowspan="{{checking.rowLen}}">{{if checking.isConfirmAccount == 0}}<span>-</span>{{else}}{{if checking.checkRealname == null || checking.checkRealname == ""}}-{{else}}{{checking.checkRealname}}{{/if}}{{/if}}</td>
        <td rowspan="{{checking.rowLen}}">
            <label class="pos-rel">
            {{if checking.isConfirmAccount == 1}}<span>已对账</span>{{else}}<span>未对账</span>{{/if}}
            </label>
            <label>
                <a href="#" class="T-check-Detail" style="margin-left:5px">查看</a>
            </label>
        </td>
    </tr>
{{/each}}