{{each list as checking index}}
    <tr class="T-checkTr" data-id="{{checking.id}}" data-entity-createTime="{{checking.createTime}}" data-confirm="{{checking.isConfirmAccount}}" data-entity-realUnPayedMoney="{{checking.realUnPayedMoney}}"  data-entity-remark="{{checking.checkRemark}}">
        <td rowspan="{{checking.rowLen}}">{{checking.lineProductName}}</td>
        <td rowspan="{{checking.rowLen}}">{{checking.accountTime | dateFormat: 'yyyy-MM-dd'}}</td>
        <td rowspan="{{checking.rowLen}}">111</td><!-- {{checking.contactUserName}} -->
        <td rowspan="{{checking.rowLen}}"><a href="#" class="T-seeGroup" data-list="{{checking.touristGroupMemberList}}" title="查看小组">
                <span class="F-float F-count">{{checking.adultCount}}</span>大
                <span class="F-float F-count">{{checking.childCount}}</span>小
            </a>
        </td> 
        <td rowspan="{{checking.rowLen}}">{{checking.operateTransRealname}}</td>
        <td rowspan="{{checking.rowLen}}">{{checking.operateTransTime | dateFormat: 'yyyy-MM-dd'}}</td>
        <td rowspan="{{checking.rowLen}}"><span class="transNeedPayMoney F-float F-money">{{checking.transNeedPayMoney}}</span></td>
        <td>{{if checking.detailList.transitFee.transitFeeList.length > 0}}
            <!-- 若有中转结算价 -->
                {{each checking.detailList.transitFee.transitFeeList as tf}}
                    {{tf.name}}：
                    <span class="F-float F-money T-touristGroupId" data-id="{{tf.touristGroupId}}" data-status="3">{{tf.price}}</span> x
                    <span class="F-float F-count">{{tf.count}}</span> =
                    <span class="F-float F-money">{{tf.price * tf.count}}</span><br>
                {{/each}}
            {{else}}
            <!-- 若无中转结算价 -->
                {{if checking.status == 5 && checking.detailList.otherFee.length > 0}}
                <!-- 中转，otherFee中多条数据 -->
                    {{each checking.detailList.otherFee as temp index}}
                        {{if index == 0}}
                            {{each temp.otherFeeList as of}}
                                {{of.name}}：
                                <span class="F-float F-money T-touristGroupId" data-id="{{of.touristGroupId}}">{{of.price}}</span>x
                                <span class="F-float F-count">{{of.count}}</span>=
                                <span class="F-float F-money">{{of.price * of.count}}</span><br>
                            {{/each}}
                        {{/if}}
                    {{/each}}
                {{else if checking.detailList.otherFee.otherFeeList.length > 0}}
                <!-- 非中转，otherFee中单条数据 -->
                    {{each checking.detailList.otherFee.otherFeeList as of}}
                        {{of.name}}：
                        <span class="F-float F-money T-touristGroupId" data-id="{{of.touristGroupId}}">{{of.price}}</span>x
                        <span class="F-float F-count">{{of.count}}</span>=
                        <span class="F-float F-money">{{of.price * of.count}}</span><br>
                    {{/each}}
                {{else}}<!-- 若无费用明细 -->-
                {{/if}}
            {{/if}}
        </td>
        <td rowspan="{{checking.rowLen}}"><a href="javascript:void(0)" class="T-viewDetail">社付：<span class="travelPayedMoney F-float F-money">{{checking.payedMoney}}</span></a></td>
        {{if checking.detailList.transitFee.transitFeeList.length > 0}}
        <!-- 若有中转结算价 -->
            <td><input type="text" class="col-sm-12 T-refund money F-float F-money" value="{{checking.detailList.transitFee.punishMoney}}" name="settlementMoney" {{if checking.isConfirmAccount}} disabled="disabled"{{/if}}></td>
            <td class="T-settlementMoney F-float F-money">{{checking.detailList.transitFee.settlementMoney}}</td>
        {{else}}
        <!-- 若无中转结算价 -->
            {{if checking.status == 5 && checking.detailList.otherFee.length > 0}}
            <!-- 中转，otherFee中多条数据 -->
                {{each checking.detailList.otherFee as of index}}
                    {{if index == 0}}
                        <td><input type="text" class="col-sm-12 T-refund money F-float F-money" value="{{of.punishMoney}}" name="settlementMoney" {{if checking.isConfirmAccount}} disabled="disabled"{{/if}}></td>
                        <td class="T-settlementMoney F-float F-money">{{of.settlementMoney}}</td>
                    {{/if}}
                {{/each}}
            {{else if checking.detailList.otherFee.otherFeeList.length > 0}}
                <td><input type="text" class="col-sm-12 T-refund money F-float F-money" value="{{checking.detailList.otherFee.punishMoney}}" name="settlementMoney" {{if checking.isConfirmAccount}} disabled="disabled"{{/if}}></td>
                <td class="T-settlementMoney F-float F-money">{{checking.detailList.otherFee.settlementMoney}}</td>
            {{else}}
            <!-- 若无费用明细 -->
                <td><input type="text" class="col-sm-12 T-refund money F-float F-money" value="{{checking.punishMoney}}" name="settlementMoney" {{if checking.isConfirmAccount}} disabled="disabled"{{/if}}></td>
                <td class="T-settlementMoney F-float F-money">{{checking.settlementMoney}}</td>
            {{/if}}
        {{/if}}
        <td rowspan="{{checking.rowLen}}"><span class="T-unReceivedMoney F-float F-money">{{checking.unPayedMoney}}</span></td>
        <td rowspan="{{checking.rowLen}}">{{if checking.isConfirmAccount == 1}}<span><input type="text" readonly="readonly" name="checkRemark" value="{{checking.checkRemark}}">{{else}}<input type="text"  name="checkRemark" value="{{checking.checkRemark}}">{{/if}}</td>
        <td rowspan="{{checking.rowLen}}">{{if checking.isConfirmAccount == 0}}<span>-</span>{{else}}{{if checking.checkTime == null || checking.checkTime == ""}}-{{else}}{{checking.checkTime | dateFormat: 'yyyy-MM-dd hh:mm:ss'}}{{/if}}{{/if}}</td>
        <td rowspan="{{checking.rowLen}}">{{if checking.isConfirmAccount == 0}}<span>-</span>{{else}}{{if checking.checkRealname == null || checking.checkRealname == ""}}-{{else}}{{checking.checkRealname}}{{/if}}{{/if}}</td>
        <td rowspan="{{checking.rowLen}}">
            <label class="pos-rel">
                <input type="checkbox" checkStatus="{{checking.isConfirmAccount}}" class="ace innerTransferFinancial" 
                {{if checking.isConfirmAccount == 1}}checked="checked"{{/if}}/>
                <span class="lbl">对账</span>

            </label>
            <label>|</label>
            <label>
                <a href="#" class="T-check-Detail" style="margin-left:5px">查看</a>
            </label>
        </td>
    </tr>
    {{if checking.detailList.transitFee.transitFeeList.length > 0}}
    <!-- 若有中转结算价 -->
        {{if checking.status == 5 && checking.detailList.otherFee.length > 0}}
            {{each checking.detailList.otherFee as temp}}
                <tr><td>{{each temp.otherFeeList as of}}
                            {{of.name}}：
                            <span class="F-float F-money T-touristGroupId" data-id="{{of.touristGroupId}}">{{of.price}}</span> x
                            <span class="F-float F-count">{{of.count}}</span> =
                            <span class="F-float F-money">{{of.price * of.count}}</span><br>
                        {{/each}}
                    </td>
                    <td><input type="text" class="col-sm-12 T-refund money F-float F-money" value="{{temp.punishMoney}}" name="settlementMoney" {{if checking.isConfirmAccount}} disabled="disabled"{{/if}}></td>
                    <td class="T-settlementMoney F-float F-money">{{temp.settlementMoney}}</td>
                </tr>
            {{/each}}
        {{else checking.detailList.otherFee.otherFeeList.length > 0}}
            <tr><td>{{each checking.detailList.otherFee.otherFeeList as of}}
                    {{of.name}}：
                    <span class="F-float F-money T-touristGroupId" data-id="{{of.touristGroupId}}">{{of.price}}</span> x
                    <span class="F-float F-count">{{of.count}}</span> =
                    <span class="F-float F-money">{{of.price * of.count}}</span><br>
                    {{/each}}
                </td>
                <td><input type="text" class="col-sm-12 T-refund money F-float F-money" value="{{checking.detailList.otherFee.punishMoney}}" name="settlementMoney" {{if checking.isConfirmAccount}} disabled="disabled"{{/if}}></td>
                <td class="T-settlementMoney F-float F-money">{{checking.detailList.otherFee.settlementMoney}}</td>
            </tr>
        {{/if}}
    {{else}}
        {{if checking.status == 5}}
            {{each checking.detailList.otherFee as temp index}}
                {{if index > 0}}
                    <tr><td>{{each temp.otherFeeList as of}}
                                {{of.name}}：
                                <span class="F-float F-money T-touristGroupId" data-id="{{of.touristGroupId}}">{{of.price}}</span> x
                                <span class="F-float F-count">{{of.count}}</span> =
                                <span class="F-float F-money">{{of.price * of.count}}</span><br>
                            {{/each}}
                        </td>
                        <td><input type="text" class="col-sm-12 T-refund money F-float F-money" value="{{temp.punishMoney}}" name="settlementMoney" {{if checking.isConfirmAccount}} disabled="disabled"{{/if}}></td>
                        <td class="T-settlementMoney F-float F-money">{{temp.settlementMoney}}</td>
                    </tr>
                {{/if}}
            {{/each}}
        {{/if}}
    {{/if}}
{{/each}}