<div class="innerTransferChecking globalAdd">
      <div>
          <div class="T-search" >
              <label  class="control-label">部门：</label>
              <input type="text" class="mar-r-10" name="toBusinessGroupName" value="{{searchParam.toBusinessGroupName}}" />
              <label class="control-label">账期：
                <input type="text" style="width:100px;" class="date-picker" name="startDate" value="{{searchParam.startDate}}"/>
                <span>至</span>
                <input type="text" style="width:100px;" class="date-picker mar-r-10" name="endDate" value="{{searchParam.endDate}}"/>
              </label>
          
              <label class="control-label mar-r-10">线路名称：
                <input type="text" name="lineProductName" value="{{searchParam.lineProductName}}"/>
                <input type="hidden" name="lineProductId" value="{{searchParam.lineProductId}}" />
              </label>
              <label class="control-label mar-r-10">收客单号：
                  <input type="text" name="orderNumber" value="{{searchParam.orderNumber}}" />
              </label>
              <label class="control-label mar-r-10">录入人：
                  <select name="operater" style="margin-top:5px;">
                  <option value="">&nbsp;全部&nbsp;</option>
                  {{each operateTransUserList as operater}}
                      <option value="{{operater.id}}" {{if searchParam.operateUserId == operater.id}}selected="selected"{{/if}}>{{operater.realname}}</option>
                  {{/each}} 
                  </select>
              </label>
              <label class="control-label mar-r-10">游客：
                  <input type="text" name="contactInfo" value="{{searchParam.contactInfo}}" placeholder="联系人或联系电话" />
              </label>
              <label>对账状态：</label>
              <div class="btn-group T-check-status mar-r-10">
                  <button data-value="{{searchParam.isConfirmAccount}}" data-toggle="dropdown" class=" btn-sm  dropdown-toggle block-up" aria-expanded="false">
                      <span>
                          {{if searchParam.isConfirmAccount === 0}}
                              未对账
                          {{else if searchParam.isConfirmAccount === 1}}
                              已对账
                          {{else}}
                              全部
                          {{/if}}
                      </span>
                      <i class="ace-icon fa fa-angle-down icon-on-right"></i>
                  </button>
                  <ul class="dropdown-menu">
                      <li><a data-value="" href="javascript:void(0)">全部</a></li>
                      <li><a data-value="1" href="javascript:void(0)">已对账</a></li>
                      <li><a data-value="0" href="javascript:void(0)">未对账</a></li>
                  </ul>
              </div>
              <button class="mar-r-10 btn-sm search-btn T-checking-search" >
                   <i class="ace-icon fa fa-search"></i>
                       搜索
              </button>
              <button class="btn-sm search-btn T-btn-export">导出报表</button>
            <input name="accountStatus" value="{{searchParam.accountStatus}}" type="hidden">
          </div>
          <form class="form-horizontal" role="form" onsubmit="return false">
            <div>
                <label class=" control-label mar-r-20">总人数：<span class="F-float F-count">{{sumData.sumTransCount}}</span></label>
                <label class=" control-label mar-r-20">内转转出金额合计：<span class="F-float F-money">{{sumData.sumTransNeedPayMoney}}</span></label>
                <label class=" control-label mar-r-20">已付金额合计：<span class="F-float F-money">{{sumData.sumPayedMoney}}</span></label>
                <label class=" control-label mar-r-20">扣款金额合计：<span class="T-sumBackMoney F-float F-money">{{sumData.sumPunishMoney}}</span></label>
                <label class=" control-label mar-r-20">结算金额合计：<span class="T-sumSettlementMoney F-float F-money">{{sumData.sumSettlementMoney}}</span></label>
                <label class=" control-label">未付金额合计：<span class="T-sumUnReceivedMoney F-float F-money">{{sumData.sumUnPayedMoney}}</span></label>
            </div>
        </form>
      </div>

    <div class="overflow-x min-w-1050 mar-t-10">
        <table class="table table-striped table-bordered table-hover all hct_align_middle w-1500">
            <thead>
            <tr class="T-tr-fixed bg-blur">
             <th>收客单号</th>
             <th>线路产品</th>
             <th>出游日期</th>
             <th>联系人</th>
             <th>人数</th>
             <th>操作人</th>
             <th>操作时间</th>
             <th>内转转出</th>
             <th>明细</th>
             <th>已付金额</th>
             <th>扣款金额</th>
             <th>结算金额</th>
             <th>未付金额</th>
             <th>备注</th>
             <th>对账时间</th>
             <th>对账人</th>
             <th style="width:105px">对账</th>  
            </tr>
            </thead>   
            <tbody class="T-checkList" data-right="1370005">
            </tbody>
        </table>
      </div>
        <div class="row pageMode" style="padding-top: 15px;">
            <div class="col-xs-4">
                <small>共计<span class="T-recordSize"></span>条记录</small>
            </div>
            <div class="col-xs-8">
                <label class="pos-rel pull-right" style="line-height:2.2em">
                    <input type="checkbox" class="ace T-selectAll"/> 
                    <span class="lbl">全选</span>
                </label>
                <div class="dataTables_paginate paging_simple_numbers T-pagenation pull-right">
                </div>
                
            </div>
        </div>
        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="form-group" style="text-align: center;">
                <button class="btn btn-xs btn-primary T-btn-close">
                    <i class="ace-icon fa fa-times-circle"></i>
                    关闭
                </button>
                <button class="btn btn-xs btn-primary T-checking">
                    <i class="ace-icon fa fa-check-circle"></i>
                     确认对账
                </button>
            </div>
        </form>
</div>