{{each list as checking index}}
    <tr class="T-checkTr {{if checking.change}}success{{/if}}" data-id="{{checking.id}}" data-entity-createTime="{{checking.createTime}}" data-confirm="{{checking.isConfirmAccount}}" data-entity-realUnPayedMoney="{{checking.realUnPayedMoney}}"  data-entity-remark="{{checking.checkRemark}}" {{if checking.change}}data-change="true"{{/if}}>
        <td>{{checking.orderNumber}}</td>
        <td>{{checking.lineProductName}}</td>
        <td>{{checking.accountTime | dateFormat: 'yyyy-MM-dd'}}</td>
        <td>{{checking.contactUserName}}</td>
        <td><a href="#" class="T-seeGroup" data-list="{{checking.touristGroupMemberList}}" title="查看小组">
                <span class="F-float F-count">{{checking.adultCount}}</span>大
                <span class="F-float F-count">{{checking.childCount}}</span>小
            </a>
        </td> 
        <td>{{checking.operateTransRealname}}</td>
        <td>{{checking.operateTransTime | dateFormat: 'yyyy-MM-dd'}}</td>
        <td><span class="transNeedPayMoney F-float F-money">{{checking.transNeedPayMoney}}</span></td>
        <td style="text-align:left">{{if checking.innerTransferFeeList.length > 0}}
                {{each checking.innerTransferFeeList as otherFee}}
                    {{otherFee.name}}:
                    <span class="F-float F-money">{{otherFee.price}}</span> X
                    <span class="F-float F-count">{{otherFee.count}}</span> =
                    <span class="F-float F-money">{{otherFee.price*otherFee.count}}</span><br>
                {{/each}}
            {{else}}-
            {{/if}}
        </td>
        <td class="align-left"><a href="javascript:void(0)" class="T-viewDetail in-block">社付：<span class="travelPayedMoney F-float F-money">{{checking.payedMoney}}</span></a></td>
        <td>{{if checking.isConfirmAccount == 1}}<span class="F-float F-money">{{if checking.backMoney}}{{checking.backMoney}}{{else}}{{checking.punishMoney}}{{/if}}</span>
            {else}}<input type="text" class="col-sm-12 T-refund money F-float F-money" value="{{if checking.backMoney}}{{checking.backMoney}}{{else}}{{checking.punishMoney}}{{/if}}" name="settlementMoney" />
            {{/if}}
        </td>
        <td class="T-settlementMoney F-float F-money">{{checking.settlementMoney}}</td>
        <td class="T-unReceivedMoney F-float F-money" name="unPayedMoney">{{checking.unPayedMoney}}</td>
        <td>{{if checking.isConfirmAccount == 1}}{{checking.checkRemark}}
            {[else}}<textarea class="col-sm-12 hct-textarea" name="checkRemark" maxlength="1000">{{checking.checkRemark}}</textarea>
            {{/if}}
        </td>
        <td>{{if checking.isConfirmAccount == 0}}<span>-</span>{{else}}{{if checking.checkTime == null || checking.checkTime == ""}}-{{else}}{{checking.checkTime | dateFormat: 'yyyy-MM-dd hh:mm:ss'}}{{/if}}{{/if}}</td>
        <td>{{if checking.isConfirmAccount == 0}}<span>-</span>{{else}}{{if checking.checkRealname == null || checking.checkRealname == ""}}-{{else}}{{checking.checkRealname}}{{/if}}{{/if}}</td>
        <td>
            <label class="pos-rel">
                <input type="checkbox" checkStatus="{{checking.isConfirmAccount}}" class="ace T-checkbox" 
                {{if (checking.change && checking.isChecked == 1) || (!checking.change && checking.isConfirmAccount == 1)}}checked="checked"{{/if}}/>
                <span class="lbl">对账</span>

            </label>
            <label>|</label>
            <label>
                <a href="#" class="T-check-Detail" style="margin-left:5px">查看</a>
            </label>
        </td>
    </tr>
{{/each}}