<div class="row FinancialinnerTransferOut">
    <div class="form-horizontal search-area">
        <div class="T-search-area">
            <label class="mar-l-10">部门 </label>
            <input type="text" class="mar-r-10" name="toBusinessGroupName" value="{{toBusinessGroupName}}" 
            placeholder="所有部门"/>
            <input type="hidden" name="toBusinessGroupId" value="{{toBusinessGroupId}}" />
            <label class="mar-r-10">账期
                <input type="text" class="date-picker" style="width:100px;text-align:center" name="startDate" value="{{startDate}}" />
                <span>&nbsp;至&nbsp;</span>
                <input type="text" class="date-picker" name="endDate" value="{{endDate}}" style="width:100px;text-align:center" />
            </label>
            <div class="btn-group T-finance-status mar-r-10">
                <button data-value="{{searchParam.accountStatus}}" data-toggle="dropdown" class=" btn-sm  dropdown-toggle block-up block-up" aria-expanded="false">
                    <span>
                        {{if searchParam.accountStatus == 0}}
                            全部
                        {{else if searchParam.accountStatus == 1}}
                            已结清
                        {{else}}
                            未结清
                        {{/if}}
                    </span>
                    <i class="ace-icon fa fa-angle-down icon-on-right"></i>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a data-value="0" href="javascript:void(0)">全部</a>
                    </li>
                    <li>
                        <a data-value="1" href="javascript:void(0)">已结清</a>
                    </li>
                    <li>
                        <a data-value="2" href="javascript:void(0)">未结清</a>
                    </li>
                </ul>
            </div>
            <button class=" btn-sm search-btn T-search" style="margin-top:2px;"> <i class="ace-icon fa fa-search"></i> 搜索 </button>
        </div>
    </div>
</div>
<div class="form-inline T-sum-area">
    <div class="form-group mar-r-20">
        <label class="control-label">总人数合计：</label>
        <label class="control-label T-sumCount"></label>
    </div>
    <div class="form-group mar-r-20">
        <label class="control-label">内转转出合计：</label>
        <label class="control-label F-float F-money T-sumInnerOutMoney"></label>
    </div>
    <div class="form-group mar-r-20">
        <label class="control-label">结算金额合计：</label>
        <label class="control-label F-float F-money T-sumStMoney"></label>
    </div>
    <div class="form-group mar-r-20">
        <label class="control-label">已付金额合计：</label>
        <label class="control-label F-float F-money T-sumPaiedMoney"></label>
    </div>
    <div class="form-group">
        <label class="control-label">未付金额合计：</label>
        <label class="control-label F-float F-money T-sumUnPaiedMoney"></label>
    </div>
</div>
<div class="row innerTransferOutList">
    <div class="col-xs-12">
        <table class="table table-striped table-bordered table-hover T-showHighLight">
            <thead>
                <tr class="bg-blur T-tr-fixed">
                    <th>部门</th>
                    <th>总人数</th>
                    <th>内转应付</th>
                    <th>结算金额</th>
                    <th>已付金额</th>
                    <th>未付金额</th>
                    <th>对账进度</th>
                    <th>付款进度</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody class="T-innerTransferOutList">
                {{each list as innerTransferOut}}
                <tr accountStatus="{{searchParam.accountStatus}}" businessGroupId="{{innerTransferOut.businessGroupId}}" businessGroupName="{{innerTransferOut.businessGroupName}}" endDate="{{endDate}}" startDate="{{startDate}}">
                    <td>{{innerTransferOut.businessGroupName}}</td>
                    <td><span class="F-float F-count">{{innerTransferOut.sumTransAdultCount}}</span>大
                        <span class="F-float F-count">{{innerTransferOut.sumTransChildCount}}</span>小
                    </td>
                    <td><span class="F-float F-money">{{innerTransferOut.sumTransNeedPayMoney}}</span></td>
                    <td><span class="F-float F-money">{{innerTransferOut.sumSettlementMoney}}</span></td>
                    <td><span class="F-float F-money">{{innerTransferOut.sumPayedMoney}}</span></td>
                    <td><span class="F-float F-money" style="color:#FF0000">{{innerTransferOut.sumUnPayedMoney}}</span></td>
                    <td>
                        {{if innerTransferOut.checkFCount != innerTransferOut.sumFCount}}
                        <span style="color:#ff9900">{{innerTransferOut.checkFCount}}/{{innerTransferOut.sumFCount}}</span> {{else}}
                        <span style="color:#00CC00"> {{innerTransferOut.checkFCount}}/{{innerTransferOut.sumFCount}}</span> {{/if}}
                    </td>
                    <td>
                        {{if innerTransferOut.payFCount != innerTransferOut.sumFCount}}
                        <span style="color:#ff9900"> {{innerTransferOut.payFCount}}/{{innerTransferOut.sumFCount}}</span> {{else}}
                        <span style="color:#00CC00"> {{innerTransferOut.payFCount}}/{{innerTransferOut.sumFCount}}</span> {{/if}}
                    </td>
                    <td>
                        <a class="cursor T-action T-check R-right" data-right="1370001|1370005">
                            对账
                    </a>
                        <label class="cursor R-right" data-right="1370001|1370005"><a class="R-right" data-right="1370002"> |</a></label>
                        <a class="cursor T-action T-balance R-right" data-right="1370002">
                            付款
                    </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <div class="row pageMode">
            <div class="col-xs-6">
                <small>共计 {{recordSize}} 条记录</small>
            </div>
            <div class="col-xs-6">
                <div class="dataTables_paginate paging_simple_numbers T-pagenation">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
