{{each result as rs}}
    <tr data-id="{{rs.id}}">
        <td>{{if rs.tripNumber == null || rs.tripNumber == ""}}-{{else}}{{rs.tripNumber}}{{/if}}</td>
        <td>{{if rs.lineProductName == null || rs.lineProductName == ""}}-{{else}}<a class="T-option T-transfer" data-id="{{rs.lineProductId}}">{{rs.lineProductName}}</a>{{/if}}</td>
        <td>{{if rs.startTime == null || rs.startTime == ""}}-{{else}}{{rs.startTime | dateFormat:'yyyy-MM-dd'}}{{/if}}</td>
        <td>{{if (rs.adultCount == null || rs.adultCount == "") && (rs.childCount == null || rs.childCount == "")}}
                -
            {{else}}
                {{if (rs.adultCount != null || rs.adultCount != "")}}
                    {{rs.adultCount}} 大 
                {{/if}}
                {{if (rs.childCount != null || rs.childCount != "")}}
                    {{rs.childCount}} 小 
                {{/if}}
            {{/if}}
        </td>
        <td>{{if rs.totalIncome == null || rs.totalIncome == ""}}-{{else}}{{rs.totalIncome}}{{/if}}</td>
        <td>{{if rs.totalOtherIncome == null || rs.totalOtherIncome == ""}}-{{else}}{{rs.totalOtherIncome}}{{/if}}</td>
        <td>{{if rs.orderIncome == null || rs.orderIncome == ""}}-{{else}}{{rs.orderIncome}}{{/if}}</td>
        <td>{{if rs.totalOut == null || rs.totalOut == ""}}-{{else}}{{rs.totalOut}}{{/if}}</td>
        <td>{{if rs.totalTrip == null || rs.totalTrip == ""}}-{{else}}{{rs.totalTrip}}{{/if}}</td>
        <td>{{if rs.innerPay == null || rs.innerPay == ""}}-{{else}}{{rs.innerPay}}{{/if}}</td>
        <td>{{if rs.transferPay == null || rs.transferPay == ""}}-{{else}}{{rs.transferPay}}{{/if}}</td>
        <td>{{if rs.orderPay == null || rs.orderPay == ""}}-{{else}}{{rs.orderPay}}{{/if}}</td>
        <td>{{if rs.incomeTrip == null || rs.incomeTrip == ""}}-{{else}}{{rs.incomeTrip}}{{/if}}</td>
        <td>{{if rs.payTrip == null || rs.payTrip == ""}}-{{else}}{{rs.payTrip}}{{/if}}</td>
        <td>{{if rs.profit == null || rs.profit == ""}}-{{else}}{{rs.profit}}{{/if}}</td>
    </tr>
{{/each}}