 <div class="row totalProfit" >
    <div class="col-sm-12 ">
        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="editable T-search-area" style="margin-top: 10px">

			<div class="col-xs-3">
				<div class="col-xs-6">
					<div class="input-group">
						<input class="col-xs-12 date-picker" name="startTime" value = "{{searchParam.startTime}}" placeholder="开始日期" type="text" />	
						<span class="input-group-addon">
							<i class="fa fa-calendar"></i>
						</span>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="input-group">
						<input class="col-xs-12 date-picker" name="endTime" value = "{{searchParam.endTime}}" placeholder="结束日期"  type="text" />	
						<span class="input-group-addon">
							<i class="fa fa-calendar"></i>
						</span>
					</div>
				</div>
			</div>
                    <button class="btn-height btn-sm search-btn T-search" >
                        <i class="ace-icon fa fa-search"></i>
                     	   搜索
                    </button>
                </div>
        </form>   
    </div>
    <div class="space-20"></div>
    <div class="row ticketList">
        <div class="col-xs-12" style="margin-top: 20px">
            <table class="table table-striped table-bordered table-hover T-NotShowHighLight">
                <thead>
	                <tr class="bg-blur">
	                   <th >发团数量</th>
	                   <th >毛利</th>
	                   <th >项目代订单数</th>
	                   <th >毛利</th>
	                   <th >转客单数</th>
	                   <th >毛利</th>
	                   <th >总毛利</th>
	                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{trip.count}}</td>
                    <td>{{trip.grossProfit}}</td>
                    <td>{{booking.count}}</td>
                    <td>{{booking.grossProfit}}</td>
                    <td>{{transfer.count}}</td>
                    <td>{{transfer.grossProfit}}</td>
                    <td>{{sumGrossProfit}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>