
	<form class="form-horizontal scenicMainForm" role="form" style="margin-top:10px" onsubmit="return false">
		<table class="whereQ whereOne">
			<tr>
				<td colspan="4" class="HeadManage">景区主体信息</td>
			</tr>
			<tr>
				<td class="style-myself">景区名称：</td>
				<td class="styleOne-self">{{scenic.name}}</td>
				<td class="style-myself">是否启用：</td>
				<td class="styleOne-self">{{if scenic.status == 0}}
					已停用
					{{else}}
					已启用
					{{/if}}</td>
			</tr>
			<tr>
				<td class="style-myself">联系人：</td>
				<td class="styleOne-self">{{scenic.managerName}}</td>
				<td class="style-myself">联系电话：</td>
				<td class="styleOne-self">{{scenic.mobileNumber}}</td>
			</tr>
			<tr>
				<td class="style-myself">座机号码：</td>
				<td class="styleOne-self">{{scenic.telNumber}}</td>
				<td class="style-myself">传真号码：</td>
				<td class="styleOne-self">{{scenic.faxNumber}}</td>
			</tr>

			<tr>
				<td class="style-myself">所在地区：</td>
				<td class="styleOne-self" colspan="3">{{if scenic.province != null}}
					{{scenic.province.name}}
					{{/if}}
					{{if scenic.city != null}}
					-{{scenic.city.name}}
					{{/if}}
					{{if scenic.district != null}}
					-{{scenic.district.name}}
					{{/if}}</td>
			</tr>
			<tr>
				<td class="style-myself">景区政策：</td>
				<td class="styleOne-self" colspan="3">{{scenic.seasonPolicy}}</td>
			</tr>
			<tr>
				<td class="style-myself">景区简介：</td>
				<td class="styleOne-self" colspan="3">{{scenic.remark}}</td>
			</tr>
		</table>
	</form>
	<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
		<table class="whereQ whereTwo">
			<tr>
				<td colspan="8" class="HeadManage" style="text-align: left">项目列表</td>
			</tr>
			<tr>
				<td class="style-myself">收费项目</td>
				<td class="style-myself">时间范围</td>
				<td class="style-myself">单价</td>
				<td>备注</td>
			</tr>
			{{each scenic.scenicItemList as item}}
			<tr data-entity-id="{{item.id}}">
				<td colspan="">{{item.name}}</td>
				<td class="rangeTimeWidth">
					<div>
						日常价格
					</div>
					{{each item.priceList as price}}
					<div>
						{{price.startTime | dateFormat:'yyyy-MM-dd'}}至{{price.endTime | dateFormat:'yyyy-MM-dd'}}
					</div>
					{{/each}}
				</td>
				<td>
					<div>
						<span class='F-float F-money'>{{item.normalInnerPrice}}</span>
					</div>
					{{each item.priceList as price}}
					<div>
						<span class='F-float F-money'>{{price.contractPrice}}</span>
					</div>
					{{/each}}
				</td>
				<td class="remarkWidth">
					{{item.remark}}
				</td>
			</tr>
			{{/each}}
		</table> 
	</form>

