<div class="col-xs-12">
    <table class="table table-striped table-bordered table-hover T-showHighLight">
        <thead>
            <tr class="bg-blur T-tr-fixed">
                <th>收客信息</th>
                <th>线路产品</th>
                <th>针对客源</th>
                <th>出游日期</th>
                <th>天数</th>
                <th>现收</th>
                <th>操作人</th>
                <th class="col-sm-1">操作时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {{each transitSubTgroupList as subList indexA}}
            <tr data-entity-id="{{subList.id}}">
                <td class="h-touristGroupInfo">
                    <p>
                        <span class="h-orderNumber">收客单号：{{subList.orderNumber}}</span>
                        <span class="h-memberName">{{if subList.contactMember!=null}}{{subList.contactMember.name}}{{/if}}</span>
                        <span class="h-peopleCount">(<label class="F-float F-count">{{subList.adultCount}}</label>大<label class="F-float F-count">{{subList.childCount}}</label>小)</span>
                    </p>
                    <p class="h-agencyName">{{if !!subList.partnerAgency}}{{subList.partnerAgency.travelAgencyName}}{{/if}}</p>
                </td>
                <td>{{if !!subList.lineProduct}}{{subList.lineProduct.name}}{{/if}} 
                   {{if subList.subTouristGroupDetails != null}}
                    <label class="lineProductArea" style="float: right;">
                        <button class="btn btn-success btn-sm btn-white show" index="{{indexA}}">
                            <i class="ace-icon fa fa-plus bigger-110 icon-only"></i>
                            <!-- fa-minus -->
                        </button>
                    </label>
                    {{/if}}
                </td>
                <td>{{if subList.customerType == 0}}散客{{else}}团体{{/if}}</td>
                <td>{{subList.startTime | dateFormat: 'yyyy-MM-dd'}}</td>
                <td><span class="F-float F-count">{{if !!subList.lineProduct}}{{subList.lineProduct.days}}{{/if}}</span></td>
                <td><span class="F-float F-money">{{subList.currentNeedPayMoney}}</span></td>
                <td>{{if subList.subOperatorUser != null}}{{subList.subOperatorUser.realName}}{{else}}-{{/if}}</td>

                <td>{{if subList.subOperateTime != null}}{{subList.subOperateTime}}{{else}}-{{/if}}</td>
                <td>{{if subList.status == 1}}未分团{{else if subList.status == 5}}已分段{{/if}}</td>
                <td>
                    <div class="btn-group">
                        <a data-entity-id="{{subList.id}}" class="{{if subList.isEdit == 1}}gray{{else}}T-btn-subsection{{/if}} cursor R-right" data-right="1350001" title="{{if subList.isEdit == 1}}财务审核后已设置不可修改数据，请联系财务{{/if}}">
							分段
						</a>
                        <a data-entity-id="{{subList.id}}" class="{{if subList.status == 5}}T-btn-subsection-revoke{{/if}} cursor R-right" data-right="1350002" {{if subList.status !=5 }}style="color:#bbb;" {{/if}}>
                            <label class="padding-right20">|</label>
                            撤销
                        </a>
                    </div>
                </td>
            </tr>
            {{if subList.subTouristGroupDetails != null}} {{each subList.subTouristGroupDetails as subDetails index}} {{if index == 0}}
            <tr class="T-tr_{{indexA}}" style="display: none;">
                <td rowspan="{{subList.subTouristGroupDetails.length}}"></td>
                <td>{{subDetails.lineProductName}}</td>
                <td>{{if subDetails.customerType == 0}}散客{{else}}团体{{/if}}</td>
                <td>{{subDetails.startTime | dateFormat: 'yyyy-MM-dd'}}</td>
                <td><span class="F-float F-count">{{subDetails.days}}</span></td>
                <td>{{if subDetails.operateCurrentNeedPayMoney == 0}}-{{else}}本段现收{{/if}}</td>
                <td colspan="2"></td>
                <td>{{if subDetails.status == 1}} 未分团 {{else if subDetails.status == 2}} 已分团 {{else if subDetails.status == 3}} 已外转 {{else if subDetails.status == 4}} 已取消 {{else if subDetails.status == 5}} 已拆分 {{else if subDetails.status == 6}} 已内转 {{else}} 已发团 {{/if}}
                </td>
                <td rowspan="{{subList.subTouristGroupDetails.length}}" ></td>  
            </tr>
            {{else}}
            <tr class="T-tr_{{indexA}}" style="display: none;">
                <td>{{subDetails.lineProductName}}</td>
                <td>{{if subDetails.customerType == 0}}散客{{else}}团体{{/if}}</td>
                <td>{{subDetails.startTime | dateFormat: 'yyyy-MM-dd'}}</td>
                <td>{{subDetails.days}}</td>
                <td>{{if subDetails.operateCurrentNeedPayMoney == 0}}-{{else}}本段现收{{/if}}</td>
                <td colspan="2"></td>
                <td>{{if subDetails.status == 1}} 未分团 {{else if subDetails.status == 2}} 已分团 {{else if subDetails.status == 3}} 已外转 {{else if subDetails.status == 4}} 已取消 {{else if subDetails.status == 5}} 已拆分 {{else if subDetails.status == 6}} 已内转 {{else}} 已发团 {{/if}}
                </td>
            </tr>
            {{/if}} {{/each}} {{/if}} {{/each}}
        </tbody>
    </table>
    <div class="row pageMode">
        <div class="col-xs-6">
            <small>共计 {{recordSize}} 条记录</small>
        </div>
        <div class="col-xs-6">
            <div class="dataTables_paginate paging_simple_numbers T-pagenation">
            </div>
        </div>
    </div>
</div>
