<div class="search-area T-subsectionSearchForm subsectionSearchForm">
    <form class="form-inline" role="form" onsubmit="return false">
        <div class="form-group mar-r-10">
            <label>收客单号</label>
            <input type="text" name="orderNumber" class="form-control T-orderNumber" style="width:150px;" />
        </div>
        <div class="form-group mar-r-10">
            <label>客户</label>
            <input type="text" name="choosePartnerAgency" class="form-control T-choosePartnerAgency" style="width:146px;" />
            <input type="hidden" name="fromPartnerAgencyId" value="{{}}">
        </div>
        <div class="form-group mar-r-10">
            <label>出游时间</label>
            <input type="text" name="travelDate" class="datepicker T-subsectionStartTime" />
        </div>
        <div class="form-group mar-r-10">
            <label>操作人</label>
            <input type="text" class="T-creatorUserChoose w-50" name="creator" value="{{}}" />
            <input type="hidden" name="creatorId" value="{{}}" />
        </div>
        <div class="form-group mar-r-10 T-date-range">
            <label>操作日期</label>
            <input type="text" name="operationStartDate" class="datepicker T-subsectionStartTime">
            <label>至</label>
            <input type="text" name="operationEndDate" class="datepicker T-subsectionEndTime">
        </div>
        <div class="form-group mar-r-10">
            <label >出游日期</label>
            <select name="order_by" id="order_by">
                <option value="asc">升序</option>
                <option value="desc">降序</option>
            </select>
        </div>
        <div class="form-group">
            <button class="btn-sm search-btn T-btn-subsection-search">
                <i class="ace-icon fa fa-search"></i> 搜索
            </button>
        </div>
    </form>
    <div class="form-horizontal">
        <label class="control-label T-search-memberCount">人数合计：0大0小</label>
        <label class="control-label T-search-currentNeedPayMoney" style="padding-left: 30px">现收款合计：0元</label>
    </div>
</div>
<div class="row T-subsectionList">
</div>
