<div class="search-area subsectionSearchForm">
	 <div class="form-horizontal">
		<label class="pull-left text-right control-label no-padding-right">来源:</label>
		<div class="col-sm-1">
			<select name="partnerAgencyId" class="col-sm-12">
				<option value=''>全部</option>
				{{each fromPartnerAgencyList as partnerAgency}}
				<option value="{{partnerAgency.id}}">{{partnerAgency.travelAgencyName}}</option>
				{{/each}}
			</select>      
		</div>
		<label class="pull-left text-right control-label no-padding-right">线路:</label>
		<div class="col-sm-1">
			<select name="lineProductId" class="col-sm-12">
				<option value=''>全部</option>
				{{each lineProductList as lineProduct}}
				<option value="{{lineProduct.id}}">{{lineProduct.name}}</option>
				{{/each}}
			</select>
		</div>
		<label class="pull-left text-right control-label no-padding-right">出游时间:</label>
		<div class="col-sm-1">
			<div class="input-group">
				<input class="col-xs-12 datepicker" name="travelDate" value="" type="text" />	
				<span class="input-group-addon">
					<i class="fa fa-calendar"></i>
				</span>
			</div>
		</div>  
		<label class="pull-left text-right control-label no-padding-right">操作人:</label>
		<div class="col-sm-1">
			<select name="creatorId" class="col-sm-12">
				<option value=''>全部</option>
				{{each creatorList as creator}}
				<option value="{{creator.id}}">{{creator.realName}}</option>
				{{/each}}
			</select>
		</div>
		<label class="pull-left text-right control-label no-padding-right">操作日期:</label>
		<div class="col-sm-1">
			<div class="input-group col-sm-12">
				<input class="col-sm-12 datepicker" name="operationStartDate" value="" type="text" />	
				<span class="input-group-addon">
					<i class="fa fa-calendar"></i>
				</span>
			</div>
		</div>
		<label class="pull-left text-right control-label no-padding-right">--</label>
		<div class="col-sm-1">
			<div class="input-group col-sm-12">
				<input class="col-sm-12 datepicker" name="operationEndDate" value="" type="text" />	
				<span class="input-group-addon">
					<i class="fa fa-calendar"></i>
				</span>
			</div>
		</div>
		<div class="col-sm-1" style="width:100px;">
			<button class=" btn-sm  btn-subsection-search search-btn">
				<i class="ace-icon fa fa-search"></i>
				 搜索
			</button>
		</div>

		<div style="clear: both;height: 0px;line-height: 0px;"></div>
		<div class="form-horizontal col-sm-12 clearfix" style="margin-top:20px;">
			<label class="control-label search-memberCount">人数合计：0大0小</label>
			<label class="control-label search-currentNeedPayMoney" style="padding-left: 30px">现收款合计：0元</label>
		</div>
		<div style="clear: both;height: 1px;line-height: 1px;"></div>
	</div>
</div>

<div class="row subsectionList">	

</div>