<div class="search-area subsectionSearchForm">
	 <div class="form-horizontal">
		<label class="pull-left text-right control-label no-padding-right">来源:</label>
		<div class="col-sm-1">
			<input type="text" class="col-sm-12 choosePartnerAgency" placeholder="来源" name="fromPartnerAgency" value="{{}}"/>
			<input type="hidden" name="fromPartnerAgencyId" value="{{}}">

		</div>
		<label class="pull-left text-right control-label no-padding-right subsectionWords">线路:</label>
		<div class="col-sm-1">
			<input type="text" class="col-sm-12 chooseLineProduct" placeholder="线路产品" name="lineProductChoose" value="{{}}" />
			<input type="hidden" name="lineProductId" value="{{}}">
		</div>
		<label class="pull-left text-right control-label no-padding-right subsectionWords">出游时间:</label>
		<div class="col-sm-1">
			<div class="input-group">
				<input class="col-xs-12 datepicker subsectionStartTime" name="travelDate" value="" type="text" />	
				<span class="input-group-addon">
					<i class="fa fa-calendar"></i>
				</span>
			</div>
		</div>  
		<label class="pull-left text-right control-label no-padding-right subsectionWords">操作人:</label>
		<div class="col-sm-1">
			<input type="text" class="col-xs-12 creatorUserChoose" placeholder="操作人" name="creator" value="{{}}"/>
			<input type="hidden" name="creatorId" value="{{}}" />
			<!--<select name="creatorId" class="col-sm-12">-->
				<!--<option value=''>全部</option>-->
				<!--{{each creatorList as creator}}-->
				<!--<option value="{{creator.id}}">{{creator.realName}}</option>-->
				<!--{{/each}}-->
			<!--</select>-->
		</div>
		<label class="pull-left text-right control-label no-padding-right subsectionWords">操作日期:</label>
		<div class="col-sm-1">
			<div class="input-group col-sm-12">
				<input class="col-sm-12 datepicker subsectionStartTime" name="operationStartDate" value="" type="text" />	
				<span class="input-group-addon">
					<i class="fa fa-calendar"></i>
				</span>
			</div>
		</div>
		<label class="pull-left text-right control-label no-padding-right" style="margin-left: 15px;">--</label>
		<div class="col-sm-1">
			<div class="input-group col-sm-12">
				<input class="col-sm-12 datepicker subsectionStartTime" name="operationEndDate" value="" type="text" />	
				<span class="input-group-addon">
					<i class="fa fa-calendar"></i>
				</span>
			</div>
		</div>
		<div class="col-sm-1" style="width:100px;margin-left: 20px;">
			<button class=" btn-sm  btn-subsection-search search-btn">
				<i class="ace-icon fa fa-search"></i>
				 搜索
			</button>
		</div>

		<div style="clear: both;height: 0px;line-height: 0px;"></div>
		<div class="form-horizontal col-sm-12 clearfix" style="margin-top:20px;">
			<label class="control-label search-memberCount">人数合计：0大0小</label>
			<label class="control-label search-currentNeedPayMoney" style="padding-left: 30px">现收款合计：0元</label>
		</div>
		<div style="clear: both;height: 1px;line-height: 1px;"></div>
	</div>
</div>

<div class="row subsectionList">	

</div>