<div class="col-xs-12 operationMainForm globalAdd">
    <div class="form-group clearfix" style="padding-bottom:15px;">
        <input type="hidden" name="touristGroupId" value="{{ptGroup.id}}" />
        <input type="hidden" name="touristGroupStartTime" value="{{ptGroup.startTime | dateFormat: 'yyyy-MM-dd'}}" />
        <input type="hidden" name="touristGroupDays" value="{{ptGroup.lineProduct.days}}" />
        <div class="row">
            <label class="control-label col-xs-2">线路产品: {{ptGroup.lineProduct.name}}</label>
            <label class="control-label col-xs-2">类别：{{ptGroup.lineProduct.type}}</label>
            <label class="control-label col-xs-2">针对客源：{{if ptGroup.lineProduct.customerType == 0}}散客{{else}}团体{{/if}}</label>
            <label class="control-label col-xs-2">天数：<span class='F-float F-count'>{{ptGroup.lineProduct.days}}</span>天</label>
            <label class="control-label col-xs-2 ">出游日期: <span class="T-startTime">{{ptGroup.startTime | dateFormat: 'yyyy-MM-dd'}}</span></label>
        </div>
        <div class="row">
            <label class="control-label col-xs-2">客户: {{ptGroup.partnerAgency.travelAgencyName}}</label>
            <label class="control-label col-xs-2">联系人: {{ptGroup.contactMember.name}}</label>
            <label class="control-label col-xs-2">联系电话: {{ptGroup.contactMember.mobileNumber}}</label>
            <label class="control-label col-xs-2">人数合计: {{ptGroup.adultCount}}大{{ptGroup.childCount}}小</label>
            <label class="control-label col-xs-2">应收: <span class='F-float F-money'>{{ptGroup.needPayAllMoney}}</span></label>
        </div>
    </div>

    
    <!--游客小组费start-->
    <div class="form-group">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered table-hover addCostList"> 
                <thead>
                    <tr>
                        <th class="th-border" width="20%">费用项</th>
                        <th class="th-border">数量</th>
                        <th class="th-border">单价</th>
                        <th class="th-border">金额</th>
                        <th class="th-border">说明</th>
                    </tr>
                </thead>
                <tbody class="T-innerOutEditFeeTbody">
                     <input type="hidden"  class="T-currentNeedPayMoney" value="{{ptGroup.currentNeedPayMoney}}" />
                    <!--游客小组费用start-->
                    {{each ptGroup.touristGroupFeeList as transferList}}
                        <tr  data-entity-id="{{transferList.id}}" data-type="{{transferList.type}}">
                            <td class="T-name">
                                {{transferList.name}}
                            </td>   
                            <td class="T-count">
                                {{transferList.count}}
                            </td>
                            <td class="T-price F-float F-money">
                                {{transferList.price}}
                            </td>
                            <td class="F-float F-money">{{transferList.price*transferList.count}}</td>

                            <td>
                                {{transferList.remark}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <!--游客小组费end-->
    <input type="hidden" name="flag" class="T-flag" value="{{flag}}">

    <div class="form-group">
        <button class="btn btn-sm btn-success T-btn-operation-add" data-mark="{{mark}}"> <i class="ace-icon fa fa-plus"></i>新增分段</button>
    </div>

    <div class="form-group">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="bg-blur">
                    <th>线路产品</th>
                    <th>针对客源</th>
                    <th>行程天数</th>
                    <th>出游日期</th>
                    <th>费用项</th>
                    <th>数量</th>
                    <th>单价</th>
                    <th>金额</th>
                    <th>本段现收团款</th>
                    <th>本段核算中转</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody class="T-subsectionOperationTbody" data-neePayAllMoney="{{ptGroup.needPayAllMoney}}">
            {{each subtGroupList as subList indexA}}
              {{if subList.id != null}}
                <tr data-entity-id="{{subList.id}}">
                    <td>
                       <!--  <input type="hidden" name="lineProductId" value="{{subList.lineProduct.id}}" />
                       <input class="{{if subList.status == 1}}T-chooseLineProduct{{/if}} col-sm-12" name="lineProduct" {{if subList.status !=1 }}readonly="readonly" {{/if}} type="text" value="{{subList.lineProduct.name}}" /> -->

                        <div class="hct-input-group col-xs-12 T-search-line"><input type="text" name="lineProductName" readonly="" class="bind-change col-xs-12" value=""><span class="hct-group-search T-searchLine T-option cursor">[搜索]</span><input type="hidden" name="lineProductId" value=""></div>
                    </td>
                    <td>
                        <input type="text" name="customerType" class="col-sm-12" readonly="readonly" value="{{if subList.lineProduct.customerType == 0}}散客{{else}}团体{{/if}}" />
                    </td>
                    <td>
                        <input type="text" name="days" class="col-sm-10 F-float F-count" readonly="readonly" value="{{subList.lineProduct.days}}" /><span class="col-sm-2" style="line-height: 30px">天</span></td>
                    <td>
                        <input class="{{if subList.status == 1}}T-startTime{{/if}} datepicker col-sm-12" name="startTime" type="text" {{if subList.status !=1 }}readonly="readonly" {{/if}} value="{{subList.startTime | dateFormat: 'yyyy-MM-dd'}}" />
                    </td>

                    <!--费用项start-->
                    {{if subList.touristGroupSubFeeList!=null}}
                        <td>
                         {{each subList.touristGroupSubFeeList as FeeList index}}
                         {{if index == 0}}
                         <div class="clearfix" style="margin-top:6px">
                            {{if FeeList.type!=3}}
                                  <select name="type" data-index="{{index}}"  data-Flag="{{flag}}"  {{if FeeList.type==3}}disabled{{/if}}  data-id="{{FeeList.id}}" class="T-type col-sm-8 pull-left">
                                    {{#FeeList.type | getFeeItemType: false}}
                                 </select>
                                  {{else}}
                                  <select name="type" data-index="{{index}}"  data-Flag="{{flag}}"  {{if FeeList.type==3}}disabled{{/if}}  data-type="{{FeeList.type}}"  data-id="{{FeeList.id}}" class="T-type col-sm-8 pull-left">
                                    {{#FeeList.type | getFeeItemType: true}}
                                 </select>

                            {{/if}}
                                <label class="timeArea" style="float:right;padding-top:0px;">
                                    <button class="btn btn-success btn-sm btn-white T-action T-add" {{if FeeList.type==3}}disabled{{/if}}>
                                        <i class="ace-icon fa fa-plus bigger-110 icon-only"></i>
                                    </button>
                                </label>
                            </div>
                          {{/if}}
                          {{if index>0}}
                           <div class="clearfix" style="margin-top:5px">
                            {{if FeeList.type!=3}}
                                <select name="type" data-index="{{index}}"  data-Flag="{{flag}}" {{if FeeList.type==3}}disabled{{/if}}  data-id="{{FeeList.id}}" class="T-type col-sm-8 pull-left">
                                    {{#FeeList.type | getFeeItemType: false}}
                                 </select>
                                 {{else}}
                                  <select name="type" data-index="{{index}}"  data-Flag="{{flag}}"  {{if FeeList.type==3}}disabled{{/if}}  data-type="{{FeeList.type}}"  data-id="{{FeeList.id}}" class="T-type col-sm-8 pull-left">
                                    {{#FeeList.type | getFeeItemType: true}}
                                 </select>
                            {{/if}}


                                <label class="timeArea" style="float:right;padding-top:0px;">
                                    <button class="btn btn-success btn-sm btn-white T-action T-del" {{if FeeList.type==3}}disabled{{/if}}>
                                        <i class="ace-icon fa fa-minus bigger-110 icon-only"></i>
                                    </button>
                                </label>
                            </div>
                          {{/if}}
                        {{/each}}

                        </td>
                         <td>
                          {{each subList.touristGroupSubFeeList as FeeList index}}
                           {{if index == 0}}
                            <div class="clearfix" style="margin-top:6px" data-id='{{FeeList.id}}'><input  data-index="{{index}}" {{if FeeList.type==3}}disabled{{/if}} data-type="{{FeeList.type}}"  class=" F-float F-count T-count T-calc T-count-{{index}} " type="text" name="count"  value="{{FeeList.count}}"></div>
                            {{/if}}
                            {{if index>0}}
                            <div class="clearfix" style="margin-top:10px" data-id='{{FeeList.id}}'><input  data-index="{{index}}" {{if FeeList.type==3}}disabled{{/if}}  data-type="{{FeeList.type}}"  class=" F-float F-count T-count T-calc T-count-{{index}} " type="text" name="count"  value="{{FeeList.count}}"></div>

                            {{/if}}
                          {{/each}}
                        </td>
                         <td>
                         {{each subList.touristGroupSubFeeList as FeeList index}}
                         {{if index == 0}}
                            <div class="clearfix" style="margin-top:6px" data-id='{{FeeList.id}}'><input   data-index="{{index}}" {{if FeeList.type==3}}disabled{{/if}} data-type="{{FeeList.type}}"  class="F-float F-money T-price T-calc T-price-{{index}}"  type="text" name="price" value="{{FeeList.price}}"></div>
                         {{/if}}
                         {{if index>0}}
                            <div class="clearfix" style="margin-top:10px" data-id='{{FeeList.id}}'><input   data-index="{{index}}" {{if FeeList.type==3}}disabled{{/if}} data-type="{{FeeList.type}}"  class="F-float F-money T-price T-calc T-price-{{index}}"  type="text" name="price" value="{{FeeList.price}}"></div>
                         {{/if}}
                         {{/each}}
                        </td>
                     {{/if}}
                    <!--费用项end-->

                    <td>      
                    <div class="clearfix" style="margin-top:6px" data-id=''><input class="F-float F-money  T-payedMoney T-calc" value="" readonly type="text" name="needPayAllMoney" value=""></div>
                    </td>
                   

                    <td>
                        <input type="radio" name="operateCurrentNeedPayMoney" {{if subList.operateCurrentNeedPayMoney==1 }}checked="checked" {{/if}} />
                    </td>
                    <td><input type="radio" name="operateCalculteOut" class="T-operateCalculteOut" {{if subList.operateCalculteOut==1 }}checked="checked" {{/if}} /></td>
                    <td>
                        {{if subList.status == 0}} 已发团 {{else if subList.status == 1}} 未分团 {{else if subList.status == 2}} 已分团 {{else if subList.status == 3}} 已转客 {{else if subList.status == 4}} 已取消 {{else if subList.status == 5}} 已分段 {{else if subList.status == 6}} 已内转 {{/if}}
                    </td>
                    <td>
                        <div class="hidden-sm hidden-xs btn-group">
                            <a data-entity-id="{{subList.id}}" class="T-option {{if subList.status == 1}}T-btn-operation-delete{{/if}} cursor" {{if subList.status !=1 }}style="color: #bbb;" {{/if}}>
							删除
						</a>
                        </div>
                    </td>
                </tr>{{/if}}{{/each}}
            </tbody>
        </table>
    </div>
    <div class="form-group" style="text-align: center;">
        <button class="btn btn-sm btn-danger T-btn-operation-close otherButton"> <i class="ace-icon fa fa-times"></i> 取消 </button>
        <button class="btn btn-sm btn-success T-btn-operation-save otherButton" data-days={{ptGroup.lineProduct.days}} data-currentNeedPayMoney={{ptGroup.currentNeedPayMoney}} {{if mark==1 }}data-entity-mark="1" {{/if}}> <i class="ace-icon fa fa-check"></i> 保存 </button>
    </div>
</div>
