<div class="row">
	<div class="T-search-area" style="margin:0px;">  
		<div class="form-inline">
			<div class="form-group mar-r-10">
		      	<label>线路产品：</label>
		    	<input type="text" style="width: 220px" placeholder="线路产品" name="lineProductName" value="{{searchParam.lineProductName}}" />
				<input type="hidden" name="lineProductId" value="{{searchParam.lineProductId}}"/>
			</div>
			<div class="form-group mar-r-10">
				<label>客户：</label>
		    	<input type="text" style="width: 100px" placeholder="客户" name="fromPartnerAgencyName" value="{{searchParam.fromPartnerAgencyName}}"/>
				<input type="hidden" name="fromPartnerAgencyId" value="{{searchParam.fromPartnerAgencyId}}"/>
			</div>
			<div class="form-group mar-r-10">
				<label>针对客源：</label>
		    	<select name="customerType">
		    		<option value="" {{if searchParam.customerType == "" || !searchParam.customerType}}selected{{/if}}>全部</option>
		    		<option value="0" {{if searchParam.customerType == 0}}selected{{/if}}>散客</option>
		    		<option value="1" {{if searchParam.customerType == 1}}selected{{/if}}>团队</option>
		    		
		    	</select>
		    </div>
			<div class="form-group mar-r-10">
		    	<label>收客单号：</label>
		    	<input type="text" style="width: 100px" placeholder="收客单号" name="orderNumber" value="{{searchParam.orderNumber}}"/>
			</div>
			
	    </div>
	    <div class="form-inline">
	    	<div class="form-group mar-r-10">
				<label>开始日期：</label>
		    	<input class="date-picker" name="startTime" placeholder="开始日期" type="text" value="{{searchParam.startTime}}" style="width:100px;" />	
				<label>结束日期：</label>
		    	<input class="date-picker" name="endTime" placeholder="结束日期" type="text" value="{{searchParam.endTime}}" style="width:100px;" />	
			</div>
			<div class="form-group">
	        	<button class="btn-sm search-btn T-search"> <i class="ace-icon fa fa-search"></i>搜索</button> 
	        </div>
	    </div>

	    <div style="margin:8px 0px;">
	    	<label>总人数：<span class="T-totalCount"></span></label>
            <label class="marginLeft-30">中转应收合计：<span class="F-float F-money T-totalNeed"></span></label>
            <label class="marginLeft-30">中转成本合计：<span class="F-float F-money T-totalCost"></span></label>
            <label class="marginLeft-30 T-turn">毛利合计：<span class="F-float F-money T-totalProfit"></span></label>
            <label class="marginLeft-30">人均毛利合计：<span class="F-float F-money T-perProfit"></span></label>
        </div>
    </div>
    <table class="table-bordered table  table-striped table-hover overflow-table T-showHighLight">
		<thead>
			<tr class="bg-blur">
				<th>收客单号</th>
				<th>线路产品</th>
				<th>针对客源</th>
				<th>出游日期</th>
				<th>游客</th>
				<th>人数</th>
				<th>客户</th>
				<th>中转应收</th>
				<th>中转</th>
				<th>中转成本</th>
				<th>毛利</th>
				<th>人均毛利</th>
			</tr>
		</thead>
		<tbody class="T-transfer-list">
		</tbody>
	</table>
</div>

<div class="row pageMode">
	<div class="col-xs-6">
		<small class="T-totalSize">没有查询到相关记录</small>
	</div>
	<div class="col-xs-6">
		<div class="dataTables_paginate paging_simple_numbers T-pagenation">
		</div>
	</div>
</div>
