<div class="col-sm-12 shopPolicyContainer globalAdd">
	<form class="form-horizontal T-policyForm" role="form" style="margin-top:10px" onsubmit="return false">
		<div class="form-group guideInterval">
			<div class="col-xs-12 col-sm-12 widget-container-col">
				<div class=" ui-sortable-handle">
						<h5 class="">
							<label class="middle title-size">商品列表</label>
							<button class="btn btn-sm btn-success T-item-add" style="margin-left: 20px;">
								<i class="ace-icon fa fa-plus"></i>
								新增
							</button>
						</h5>
					<div class="widget-body">
						<div class="widget-main no-padding">
							<table class="table table-striped table-bordered table-hover table-fixed">
								<thead>
									<tr>
										<th class="th-border" style="width:240px;">时间范围</th>
										<th class="th-border" style="width:300px;">消费金额(元)</th>
										<th class="th-border">导游返佣(%)</th>
										<th class="th-border">旅行社返佣(%)</th>
										<th class="th-border"  style="width:80px;">操作</th>
									</tr>
								</thead>
								<tbody class="T-list">
									{{each policyData as policy i}}
										<tr class="timeArea" data-entity-id="{{policy.id}}">
										<td data-index="{{i+1}}" class="clearfix div-{{i+1}}" style="margin-bottom:2px">
											<div>
												<input name="startTime" type="text" class="T-date datepicker col-sm-5" value="{{policy.startTime | dateFormat:'yyyy-MM-dd'}}"/>
												<label class="priceArea col-sm-2 center">&nbsp;至&nbsp;</label>
												<input name="endTime" type="text" class="T-date datepicker col-sm-5" value="{{policy.endTime | dateFormat:'yyyy-MM-dd'}}"/>
											</div>
										</td>
										<td>
											{{each policy.costMoneyList as cost j}}
											<div data-index="{{j+1}}" class="clearfix div-{{j+1}}" style="margin-bottom:2px">
												<input name="costMoneyStart" type="text" style="width:100px" value="{{cost.costMoneyStart}}" data-entity-id="{{cost.id}}" maxlength="9" class="F-float F-money" />
												<label>&nbsp;至&nbsp;</label>
												<input name="costMoneyEnd" type="text" value="{{cost.costMoneyEnd}}" maxlength="9" style="width:100px" />
												<label class="priceArea" style="margin-left:10px;">
													<button data-entity-id="{{cost.id}}" class="btn T-action {{if j==0}}btn-success{{else}}btn-danger{{/if}} btn-sm btn-white {{if j == 0}}T-add add{{else}}T-del{{/if}}">
														<i class="ace-icon fa {{if j == 0}}fa-plus{{else}}fa-minus{{/if}} bigger-110 icon-only"></i>
													</button>
												</label>
											</div>
											{{/each}}
										</td>
										<td>
											{{each policy.costMoneyList as cost j}}
											<div data-index="{{j+1}}" class="clearfix div-{{j+1}}" style="margin-bottom:7px">
												<input name="guideRate" class="form-control" type="text" value="{{cost.guideRate*100 | toFixed}}"  maxlength="5"/>
											</div>
											{{/each}}
										</td>
										<td>
											{{each policy.costMoneyList as cost j}}
											<div data-index="{{j+1}}" class="clearfix div-{{j+1}}" style="margin-bottom:7px">
												<input name="travelAgencyRate" class="form-control" type="text" value="{{cost.travelAgencyRate*100 | toFixed}}"  maxlength="5"/>
											</div>
											{{/each}}
										</td>
										<td style="width:70px">
											<a data-entity-id="{{policy.id}}" class="cursor T-action T-delete">
												删除
											</a>
										</td>
										</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="space-10"></div>
		<button class="btn btn-block btn-primary T-submit-shop-policy guideSubmit">
			<i class="ace-icon fa fa-check"></i>
			提交信息
		</button>
		<div class="space-20"></div>
	</form>
</div>