<div class="col-xs-12">
		<form class="form-horizontal insuranceMainForm" role="form" style="margin-top:10px" onsubmit="return false">
		<div class="widget-box ui-sortable-handle">
			<div class="widget-header">
				<h5 class="widget-title">
					<i class="ace-icon fa fa-info-circle"></i>
					保险主体信息
				</h5>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right">公司名称:</label>
						<div class="col-sm-3">
							<label class="control-label">{{insurance.name}}</label>
						</div>
						<label class="col-sm-2 control-label no-padding-right">是否启用:</label>
						<div class="col-sm-3">
							<label class="control-label">
								{{if insurance.status == 0}}
									已停用
								{{else}}
									已启用
								{{/if}}
							</label>
						</div>
					</div>
					<div class="form-group">
					    <label class="col-sm-2 control-label no-padding-right">联系人:</label>
						<div class="col-sm-3">
							<label class="control-label">{{insurance.managerName}}</label>
						</div>
						<label class="col-sm-2 control-label no-padding-right">联系电话:</label>
						<div class="col-sm-3">
							<label class="control-label">{{insurance.mobileNumber}}</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right">座机号码:</label>
						<div class="col-sm-3">
							<label class="control-label">{{insurance.telNumber}}</label>
						</div>
						<label class="col-sm-2 control-label no-padding-right">传真号码:</label>
						<div class="col-sm-3">
							<label class="control-label">{{insurance.faxNumber}}</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right">公司所在省市:</label>
						<div class="col-sm-8">
							<label class="control-label">
								{{if insurance.province != null}}
									{{insurance.province.name}}
								{{/if}}
								{{if insurance.city != null}}
									-{{insurance.city.name}}
								{{/if}}
								{{if insurance.district != null}}
									-{{insurance.district.name}}
								{{/if}}
							</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right">详细地址:</label>
						<div class="col-sm-6">
							<label class="control-label">{{insurance.street}}</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right">保险公司简介:</label>
						<div class="col-sm-8">
							<label class="control-label" style="text-align: left;">{{insurance.remark}}</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
