<div class="search-tripPlanContainer">
	<div class="row form-horizontal T-search-area search-area" style="padding-left:5px; ">


        <label class="pull-left text-right control-label no-padding-right">开始日期:</label>
		<div class="col-xs-1">
			<input type="text" name="startTime" class="col-xs-12 datepicker" placeholder="开始日期" value="" />
		</div>
	
        <label class="pull-left text-right control-label no-padding-right">结束日期:</label>
		<div class="col-xs-1">
			<input type="text" name="endTime" class="col-xs-12 datepicker" placeholder="结束日期" value="" />
		</div>

        <label class="pull-left text-right control-label no-padding-right">线路产品:</label>
        <div class="col-sm-1 marginLeft-Right7">
            <select name="status" class="col-sm-12 T-salePro-Application">
                <option value=''>全部</option>
                <option value="">AAAAA</option>
                <option value="">AAAAA</option>
                <option value="">AAAAA</option>
            </select>
        </div>


        <div class="col-xs-2">
			<button class=" btn-sm  T-saleProduct-search search-btn">
				<i class="ace-icon fa fa-search"></i> 搜索
			</button>
		</div>
	</div>

	<div class="row T-saleProductPager-list">	

		<div class="form-horizontal col-xs-12">
	        <div class="col-xs-6">
				<table class="table table-striped table-bordered table-hover table-fixed" width="100%">
					<colgroup>
		            	<col style="width:10%;"></col>
		            	<col style="width:10%;"></col>
		            </colgroup>
					<thead>
						<tr class="bg-blur">
							<th width="22.5%">客户</th>
							<th width="22.5%">所在地区</th>
							<th width="22.5%">总客量</th>
						</tr>
					</thead>
					<tbody class="T-scenic-list">
						<tr>
							<td>省青锦城</td>
							<td>AAAAA</td>
							<td>鼠标移上查看客路线量</td>
						</tr>

						<tr>
							<td>省青锦城</td>
							<td>BBBBB</td>
							<td>BBBBB</td>
						</tr>


						<tr>
							<td>省青锦城</td>
							<td>CCCCC</td>
							<td>CCCCC</td>
						</tr>				
					</tbody>
				</table>
			</div>

			<div class="col-xs-6 pull-left">
				<table class="table table-striped table-bordered table-hover table-fixed" width="100%">
					<colgroup>
		            	<col style="width:10%;"></col>
		            	<col style="width:10%;"></col>
		            </colgroup>
					<thead>
						<tr class="bg-blur">
							<th width="22.5%" colspan="2">线路客量</th>
						</tr>
					</thead>
					<tbody class="T-scenic-list">
						<tr>
							<td>九在黄龙</td>
							<td>800</td>
						</tr>

						<tr>
							<td> 峨眉山乐山</td>
							<td>600</td>
						</tr>

		
						<tr>
							<td>青城山</td>
							<td>300</td>
						</tr>			
					</tbody>
				</table>
			</div>

		</div>

		<!--分页条数-->
		<div class="row pageMode">
			<div class="col-xs-6">
				<small>共计XXXX条记录</small>
			</div>
			<div class="col-xs-6">
				<div class="dataTables_paginate paging_simple_numbers T-pagenation">
				</div>
			</div>
		</div>
	   <!--分页条数-->

	<div>
</div>
