<div class="col-xs-12 T-guide-container guideAdd">
	<form class="form-horizontal T-form" role="form" style="margin-top:10px" onsubmit="return false">
		<div class="form-group guideInterval">
			<label class="col-sm-2 control-label no-padding-right"><span class="necessary">*</span>导游姓名:</label>
			<div class="col-sm-3">
				<input type="text" name="realname" class="col-sm-12" value="{{guide.realname}}"  maxlength="32"/>
			</div>
			<label class="col-sm-2 control-label no-padding-right">性别:</label>
			<div class="col-sm-3">
				<select name="gender" class="col-sm-12">
					<option value="0" {{if guide.gender == 0}}selected="selected"{{/if}}>男</option>
					<option value="1" {{if guide.gender == 1}}selected="selected"{{/if}}>女</option>
				</select>
			</div>
		</div>
		<div class="form-group guideInterval">
			<label class="col-sm-2 control-label no-padding-right"><span class="necessary">*</span>联系电话:</label>
			<div class="col-sm-3">
				<input type="text" name="mobileNumber" class="col-sm-12" value="{{guide.mobileNumber}}"  maxlength="11" />
				<label class="feild-label feild-error-tip" style="top:4px;right:2px;">
					<i title="该手机号码将接收短信" class="fa fa-info blue"></i>
				</label>
			</div>
			<label class="col-sm-2 control-label no-padding-right">所属公司:</label>
			<div class="col-sm-3">
				<input type="text" name="company" class="col-sm-12" value="{{guide.company}}" maxlength="200" />
			</div>
		</div>
		<div class="form-group guideInterval">
			<label class="col-sm-2 control-label no-padding-right"><span class="necessary">*</span>导游证编号:</label>
			<div class="col-sm-3">
				<input type="text" name="guideCardNumber" class="col-sm-12" value="{{guide.guideCardNumber}}" maxlength="32" />
			</div>
			<label class="col-sm-2 control-label no-padding-right">身份证号:</label>
			<div class="col-sm-3">
				<input type="text" name="idCardNumber" class="col-sm-12" value="{{guide.idCardNumber}}" maxlength="18" />  
			</div>
		</div>
		<div class="form-group guideInterval">
			<label class="col-sm-2 control-label no-padding-right">导游等级:</label>
			<div class="col-sm-3">
				<select name="guideLevel" class="col-sm-12">
					<option value="1" {{if guide.guideLevel == 1}}selected="selected"{{/if}}>初级导游</option>
					<option value="2" {{if guide.guideLevel == 2}}selected="selected"{{/if}}>中级导游</option>
					<option value="3" {{if guide.guideLevel == 3}}selected="selected"{{/if}}>高级导游</option>
					<option value="4" {{if guide.guideLevel == 4}}selected="selected"{{/if}}>特级导游</option>
				</select>
			</div>
			<label class="col-sm-2 control-label no-padding-right">学历:</label>
			<div class="col-sm-3">
				<select name="guideEducation" class="col-sm-12">
					<option value="1" {{if guide.guideEducation == 1}}selected="selected"{{/if}}>小学</option>
					<option value="2" {{if guide.guideEducation == 2}}selected="selected"{{/if}}>初中</option>
					<option value="3" {{if guide.guideEducation == 3}}selected="selected"{{/if}}>高中</option>
					<option value="4" {{if guide.guideEducation == 4}}selected="selected"{{/if}}>中专</option>
					<option value="5" {{if guide.guideEducation == 5}}selected="selected"{{/if}}>大专</option>
					<option value="6" {{if guide.guideEducation == 6}}selected="selected"{{/if}}>本科</option>
					<option value="7" {{if guide.guideEducation == 7}}selected="selected"{{/if}} >研究生</option>
					<option value="8" {{if guide.guideEducation == 8}}selected="selected"{{/if}}>硕士</option>
					<option value="9" {{if guide.guideEducation == 9}}selected="selected"{{/if}}>博士</option>
				</select>
			</div>
		</div>
		<div class="form-group guideInterval">
			<label class="col-sm-2 control-label no-padding-right">加入时间:</label>
			<div class="col-sm-3">
				<div class="input-group">
					<input type="text" name="joinTime" class="col-sm-12 date-picker" value="{{guide.joinTime | dateFormat:'yyyy-MM-dd'}}" />
					<span class="input-group-addon">
						<i class="fa fa-calendar"></i>
					</span>
				</div>
			</div>
			<label class="col-sm-2 control-label no-padding-right">是否启用:</label>
			<div class="col-sm-2 checkbox" style="margin-left:-10px;margin-top: -6px">
				<label>
					<input {{if guide.status == 1}}checked="checked"{{/if}} type="checkbox" class="ace T-guide-status" value="1" />
					<span class="lbl">
						启用
					</span>
				</label>
			</div>
		</div>
		<div class="form-group guideInterval">
			<label class="col-sm-2 control-label no-padding-right">导游简介:</label>
			<div class="col-sm-8">
				<textarea class="form-control" name="remark" class="col-sm-12" maxlength="1000">{{guide.remark}}</textarea>
			</div>
		</div>
		<div class="space-10"></div>
		<button class="btn btn-block btn-primary T-update-guide guideSubmit">
			<i class="ace-icon fa fa-check"></i>
			提交信息
		</button>
	</form>
</div>
