<div class="row T-search-area guideAdd">
    <form class="form-inline" role="form" onsubmit="return false">
        <div class="form-group mar-r-10">
            <label>记账日期</label>
            <input type="text" class="form-control datepicker T-search-time T-search-start-time" value="{{searchParam.startTime}}" style="width: 80px;">
            <label>&nbsp;至&nbsp;</label>
            <input type="text" class="form-control datepicker T-search-time T-search-end-time" value="{{searchParam.endTime}}" style="width: 80px;">
        </div>
        <div class="form-group mar-r-10">
            <label class="label-inline-60">业务类别</label>
            <select name="moneyType" class="T-moneyType">
                <option value="">全部</option>
                <option value="0">收入</option>
                <option value="1">支出</option>
            </select>
        </div> 
        <div class="form-group mar-r-10">
            <label>对方单位</label>
            <input type="text" class="form-control T-resourceName" name="resourceName" value="{{searchParam.resourceName}}" placeholder="对方单位" style="width: 100px;">
        </div>
        <div class="form-group mar-r-10">
            <label>主营业务收支类别</label>
            <select class="form-control T-search-category" style="width: 100px;">
                <option value="">全部</option>
                {{each receivableTypes as rs}}
                <option value="{{rs.id}}">{{rs.name}}</option>
                {{/each}}                                                   
            </select>
        </div>
        <div class="form-group mar-r-10">
            <button class="btn-sm search-btn T-btn-search">
                <i class="ace-icon fa fa-search"></i> 搜索 
            </button>
        </div>
        <div class="form-group">
            <button class="btn btn-sm btn-success T-btn-add">
                <i class="ace-icon fa fa-plus"></i> 新增
            </button>
        </div>
    </form>
    <form class="form-inline" role="form" onsubmit="return false">
        <div class="form-group  mar-r-10">
            <label>会计科目</label>
            <select class="form-control T-search-subject" style="width:88px">
                <option value="">全部</option>
            </select>
        </div>
        <div class="form-group mar-r-10">
            <label>凭证编号</label>
            <input type="text" class="form-control T-search-voucher" name="voucher" value="{{searchParam.resourceName}}" placeholder="凭证编号" style="width: 150px;">
        </div>
    
        <div class="form-group mar-r-10">
            <label>支付方式</label>
            <select class="form-control T-search-payment" name="sumPayType" style="width: 100px;">
                <option value="">全部</option>
                <option value="0">现金</option>
                <option value="1">银行转账</option>
                <option value="3">支票</option>
                <option value="4">其他</option>
                <option value="5">网付</option>
            </select>
        </div>
        <div class="form-group mar-r-10 T-cash-area">
            <label class="control-label">现金账号</label>
            <label class="control-label">
                <input type="text" name="cash-number" {{if searchParam.payType == 0 || searchParam.accountType==0}}value="{{searchParam.resourceName}}"{{/if}} class="form-control T-cash-number" style="width:300px;">
                <input type="hidden" name="cash-id" {{if searchParam.payType == 0 || searchParam.accountType==0}}value="{{searchParam.bankId}}"{{/if}}/>
            </label>
        </div>
        <div class="form-group mar-r-10 T-card-area">
            <label>银行账号</label>
            <input type="text" class="form-control T-card-number" name="card-number" {{if searchParam.payType != 0 || searchParam.accountType==1}}value="{{searchParam.resourceName}}"{{/if}} style="width: 300px;">
            <input type="hidden" name="card-id" class="T-bankId" {{if searchParam.payType != 0 || searchParam.accountType == 1}}value="{{searchParam.bankId}}"{{/if}}>
            <input type="hidden" name="tally-date" class="datepicker" value="{{searchParam.bankId}}">
        </div>
        <input type="hidden" name="beginningBalance" class="T-beginningBalance" value="{{searchParam.beginningBalance}}">
        <div class="form-group mar-r-10">
            <label>收款合计：</label>
            <label class="T-incomeMoney F-float F-money">{{total.incomeMoney}}</label>
        </div>
        <div class="form-group mar-r-10">
            <label>付款合计：</label>
            <label class="T-payMoney F-float F-money">{{total.payMoney}}</label>
        </div>
    </form>
</div>
<div class="row">
    <table class="table table-striped table-bordered table-hover T-showHighLight">
        <thead>
            <tr class="bg-blur T-tr-fixed">
                <th>记账日期</th>
                <th>业务类别</th>
                <th>对方单位</th>
                <th>主营业务收付类别</th>
                <th>会计科目</th>
                <th>凭证编号</th>
                <th>支付方式</th>
                <th>收款</th>
                <th>付款</th>
                <th>银行账号</th>
                <th>备注</th>
                <th>操作人</th>
                <th>操作时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody class="T-list">
        
        </tbody>
    </table>
    <div class="row pageMode">
        <div class="col-xs-6">
            <small class="T-sumItem">没有查询到相关记录</small>
        </div>
        <div class="col-xs-6">
            <div class="dataTables_paginate paging_simple_numbers T-pagenation">
            </div>
        </div>
    </div>
</div>