<form class="form-inline" role="form" onsubmit="return false">
    <div class="form-group">
        <label>对方单位：</label>
        <input type="text" class="form-control T-search-unit" style="width: 220px;" value="">
    </div>
    <div class="form-group marginLeft-30">
        <label>收支类别：</label>
        <select class="form-control T-search-category" style="width: 120px;">
            <option value="">全部</option>
            {{each receivableTypes as rs}}
            <option value="{{rs.id}}">{{rs.name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group marginLeft-30">
        <label>收支大类：</label>
        <select class="form-control T-search-type" style="width: 120px;">
            <option value="">全部</option>
            {{each incomeOrPayTypes as rs}}
            <option value="{{rs.id}}">{{rs.name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group marginLeft-30">
        <label>开始日期</label>
        <input type="text" class="form-control datepicker T-search-start-time" value="{{searchParam.startTime}}" style="width: 100px;text-align: center;">
    </div>
    <div class="form-group marginLeft-30">
        <label>结束日期</label>
        <input type="text" class="form-control datepicker T-search-end-time" value="{{searchParam.endTime}}" style="width: 100px;text-align: center;">
    </div>
    <div class="form-group marginLeft-30">
        <button class="btn-sm search-btn T-btn-search">
            <i class="ace-icon fa fa-search"></i> 搜索 
        </button>
    </div>
</form>
<form class="form-inline" role="form" onsubmit="return false">
    <div class="form-group">
        <label>费用类别：</label>
        <select class="form-control T-search-cost" style="width: 220px;">
            <option value="">全部</option>
            {{each costTypes as rs}}
            <option value="{{rs.id}}">{{rs.name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group marginLeft-30">
        <label>发生业务：</label>
        <select class="form-control T-search-business" style="width: 120px;">
            <option value="">全部</option>
            {{each businessTypes as rs}}
            <option value="{{rs.id}}">{{rs.name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group marginLeft-30">
        <label>支付方式：</label>
        <select class="form-control T-search-payment" style="width: 120px;">
            <option value="">全部</option>
            {{each payTypeList as rs index}}
            <option value="{{index}}">{{rs}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group marginLeft-30">
        <label>收款合计：</label>
        <label class="T-incomeMoney">{{total.incomeMoney}}</label>
    </div>
    <div class="form-group marginLeft-30">
        <label>付款合计：</label>
        <label class="T-payMoney">{{total.payMoney}}</label>
    </div>
</form>