<div class="search-area T-ticketList globalAdd">
	<input name="ticket_name" class="col-xs-2 input-default-height T-ticket-name guideInputListAging" value="{{searchParam.name}}" placeholder="请输入票务公司、联系人或联系电话关键词"/>&nbsp;
	<button class=" btn-sm  T-ticket-search pull-left search-btn">
		<i class="ace-icon fa fa-search"></i>
		搜索
	</button>
	<div class="btn-group T-select-ticket marginLeft-30">
		<button data-value="{{searchParam.status}}" data-toggle="dropdown" class=" btn-sm  dropdown-toggle   block-up" aria-expanded="false">
			<span>
				{{if searchParam.status == ""}}
					全部
				{{else if searchParam.status == 1}}
					已启用
				{{else}}
					已停用
				{{/if}}
			</span>
			<i class="ace-icon fa fa-angle-down icon-on-right"></i>
		</button>
		<ul class="dropdown-menu">
		    <li>
				<a data-value="" href="javascript:void(0)">全部</a>
			</li>
			<li>
				<a data-value="1" href="javascript:void(0)">已启用</a>
			</li>
			<li>
				<a data-value="0" href="javascript:void(0)">已停用</a>
			</li>
		</ul>
	</div>
	<button class="btn btn-sm btn-success T-ticket-add R-right" data-right="1070002" style="margin-left: 20px">
		<i class="ace-icon fa fa-plus"></i>
		新增票务
	</button>
</div>
<div class="row ticketList">	
	<div class="col-xs-12">
		<table class="table table-striped table-bordered table-hover T-showHighLight table-fixed">
			<colgroup>
            	<col style="width:20%;"></col>
            	<col style="width:18%;"></col>
            	<col style="width:12%;"></col>
            	<col style="width:13%;"></col>
            	<col style="width:16%;"></col>
            	<col style="width:8%;"></col>
            	<col style="width:13%;"></col>
            </colgroup>
			<thead>
				<tr class="bg-blur">
					<th class="col-sm-3">票务公司</th>
					<th class="col-sm-2">联系人</th>
					<th class="col-sm-1">联系电话</th>
					<th class="col-sm-1">座机号码</th>
					<th class="col-sm-2">所在地区</th> 
					<th class="col-sm-1">启用标志</th>
					<th class="col-sm-2">操作</th>
				</tr>
			</thead>
			<tbody class="T-ticket-list">
				{{each ticketList as ticket}}
					<tr data-id="{{ticket.id}}" class="ticket-{{ticket.id}}">
						<td>{{ticket.name}}</td>
						<td>{{ticket.managerName}}</td>
						<td>{{ticket.mobileNumber}}</td>
						<td>{{ticket.telNumber}}</td>
						<td class="T-ctrl-tip " title="{{ticket.remark}}">
							<span style="height: 35px">
							{{if ticket.province!=null}}
								{{ticket.province.name}}
							{{/if}}
							{{if ticket.city!=null}}
								-{{ticket.city.name}}
							{{/if}}
							{{if ticket.district!=null}}
								-{{ticket.district.name}}
							{{/if}}
							</span>
						</td>
						<td>
							{{if ticket.status == 0}}
							<i class="ace-icon fa fa-times red bigger-125"></i>
								已停用
							{{else ticket.status == 1}}
							<i class="ace-icon fa fa-check green bigger-130"></i>
								已启用
							{{/if}}
						</td>
						<td>
							<div class="btn-group">
								<a class="T-ticket-view cursor T-action">
									查看
								</a>
								<a class="T-ticket-edit cursor T-action R-right" data-right="1070003">
									<label class="padding-right20">|</label>
									编辑
								</a>
								<a class="T-ticket-delete cursor T-action R-right" data-right="1070004">
									<label class="padding-right20">|</label>
									删除
								</a>
							</div>
							</div>
						</td>
					</tr>
				{{/each}} 
			</tbody>
		</table>
		<div class="row pageMode">
			<div class="col-xs-6">
				<small>共计 {{recordSize}} 条记录</small>
			</div>
			<div class="col-xs-6">
				<div class="dataTables_paginate paging_simple_numbers T-pagenation">
				</div>
			</div>
		</div>
	</div>
</div>