<table class="table table-striped table-bordered table-hover globalAdd T-showHighLight table-fixed">
    <colgroup>
        <col style="width:75px;">
        <col style="width:180px;">
        <col style="width:50px">
        <col style="width:90px">
        <col style="width:120px">
        <col style="width:45px">
        <col style="width:45px;">
        <col style="width:120px;">
        <col style="width:120px;">
        <col style="width:120px;">
        <col style="width:50px;">
    </colgroup>
    <thead>
        <tr class="bg-blur T-tr-fixed">
            <th><label class="pos-rel"> <input type="checkbox" class="ace T-checkedAll"> <span class="lbl"></span> 选择</label></th>
            <th>收客信息</th>
            <th>天数</th>
            <th>出游日期</th>
            <th>游客信息</th>
            <th>客源地</th>
            <th>年龄</th>
            <th>备注</th>
            <th>接团信息</th>
            <th>送团信息</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody class="T-arrageVisitor-list">
        {{each touristGroupList as touristGroupL}}
        <tr data-value="{{touristGroupL.id}}" data-entity-id="{{touristGroupL.lineProductId}}" 
         data-entity-partnerAgency="{{touristGroupL.partnerAgencyName}}"
         data-entity-name="{{touristGroupL.lineProductName}}" 
         data-entity-type="{{touristGroupL.lineProductType}}"
         data-entity-days="{{touristGroupL.lineProductDays}}" 
         data-entity-startTime="{{touristGroupL.startTime}}" 
         data-entity-memberCount="{{touristGroupL.adultCount +touristGroupL.childCount}}" 
         class="tr-{{touristGroupL.lineProductId}}-{{touristGroupL.startTime}}" data-entity-adultCount="{{touristGroupL.adultCount}}" data-entity-childCount="{{touristGroupL.childCount}}">
            <td style="vertical-align:middle;padding: 5px;">
                <label class="pos-rel">
                    <input type="checkbox" class="ace T-touristGroupMergeCheckBox T-cheked"> <span class="lbl"></span> </label>
            </td>
            <td class="h-touristGroupInfo">
                <p class="h-orderNumber">收客单号：{{touristGroupL.orderNumber}}</p>
                <p class="h-lineName" title="{{if !!touristGroupL.lineProduct}}{{touristGroupL.lineProduct.name}}{{/if}}">
                    <span>{{touristGroupL.lineProductName}}</span>
                    <span>({{touristGroupL.lineProductType}})</span>
                </p>
                <p class="h-orderNumber">{{touristGroupL.partnerAgencyName}}</p>
            </td>
            <td class="F-float F-count" style="vertical-align:middle">{{touristGroupL.lineProductDays}}</td>
            <td style="vertical-align:middle">{{touristGroupL.startTime | dateFormat: 'yyyy-MM-dd' }}</td>
            <td  style="vertical-align:middle">
                <div>({{touristGroupL.adultCount}} 大 {{touristGroupL.childCount}}小)</div>
                <div>{{touristGroupL.contactName}}</div>
                <div>{{touristGroupL.contactMobileNumber}}</div>
            </td>
            <td style="vertical-align:middle">{{touristGroupL.areaData}}</td>
            <td style="vertical-align:middle">{{touristGroupL.ageData}}</td>
            <td class="T-ctrl-tip" title="{{touristGroupL.remark}}" style="vertical-align:middle"><span style="height: 35px">{{touristGroupL.remark}}</span></td>
            <td class="h-touristGroupInfo">
                {{if !!touristGroupL.reiveHotelName}}
                <p class="h-orderNumber T-ctrl-tip" title="{{touristGroupL.reiveHotelName}}"><span>接团酒店：{{touristGroupL.reiveHotelName}}</span></p>
                {{/if}}
                {{if !!touristGroupL.destination}}<p class="h-orderNumber T-ctrl-tip" title="{{touristGroupL.destination}}"><span>送达地点：{{touristGroupL.destination}}</span></p>
                {{/if}}
            </td>
            <td class="h-touristGroupInfo">
               {{if !!touristGroupL.sendHotelName}}<p class="h-orderNumber T-ctrl-tip"  title="{{touristGroupL.sendHotelName}}"><span>送团酒店：{{touristGroupL.sendHotelName}}</span></p>{{/if}}
               {{if !!touristGroupL.boardLocation}}<p class="h-orderNumber T-ctrl-tip" title="{{touristGroupL.boardLocation}}"><span>上车地点：{{touristGroupL.boardLocation}}</span></p>{{/if}}
            </td>
            <td style="vertical-align:middle"><a class="cursor T-arrageVisitor-view T-action"> 查看 </a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<div class="row">
    <div class="col-xs-12">
    </div>
</div>
<div class="T-arrangeTouristMergeList">
    <div>
        <button class="btn btn-sm btn-success T-start-touristGroup-merge R-right" data-right="1130004">
            <i class="ace-icon fa fa-user-plus"></i> 开始并团
        </button>

        <label class=" mar-r-10" style="color:#D2691E; ">已选人数 <span class="T-chosenAdultAndChildCount" style="color:#D2691E;">大人 0 小孩 0 </span></label>
    </div>
</div>
<div class="row pageMode">
    <div class="col-xs-5">
        <small>共计 {{recordSize}} 条记录</small>
    </div>
    <div class="col-xs-7">
        <div class="dataTables_paginate paging_simple_numbers T-pagenation">
        </div>
    </div>
</div>
