<div class="T-search-area mar-b-10">
	<form class="form-inline" role="form" onsubmit="return false">
        <div class="form-group mar-r-10">
            <label>导游</label>
            <input type="text" name="guideName" class="form-control T-guideName"/>
            <input type="hidden" name="guideId">
        </div>
        
        <div class="form-group mar-r-10">
    	    <label>出团日期</label>
    	    <input class="form-control datepicker" name="startTime" placeholder="开始时间" style="width:100px;" type="text" />
    	    <label>&nbsp;至&nbsp;</label>
    	    <input class="form-control datepicker" name="endTime" placeholder="结束时间" style="width:100px;" type="text" />
        </div>
        <div class="form-group mar-r-10">
            <label>安排状态</label>
            <select name="status" id="status">
            	<option value="">全部</option>
                <option value="0">已安排</option>
            	<option value="1">未安排</option>
            </select>
        </div>
        <div class="form-group mar-r-10">
            <button class=" btn-sm  T-search search-btn">
				<i class="ace-icon fa fa-search"></i>
				搜索
			</button>
        </div>
    </form>
</div>
<div class="T-table-area"></div>
