<table class="table table-striped table-bordered table-hover table-fixed">
	<colgroup>
		<col style="width:10%;"></col>
		<col style="width:10%;"></col>
		<col style="width:10%;"></col>
		<col style="width:20%;"></col>
		<col style="width:20%;"></col>
		<col style="width:15%;"></col>
		<col style="width:15%;"></col>
	</colgroup>
	<thead>
		<tr class="bg-blur">
			<th class="col-sm-1">员工</th>
			<th class="col-sm-2">收客量</th>
			<th class="col-sm-1">发团量</th>
			<th class="col-sm-1">发客量</th>
			<th class="col-sm-1">外转客量</th>
			<th class="col-sm-1">内转客量</th>
			<th class="col-sm-2">代订单量</th>
		</tr>
	</thead>
	<tbody>
		{{each resultList as empL}}
		   <tr>
	   		    <td>{{empL.name}}</td>
	   			<td>{{empL.getCount}}</td>
	   			<td>{{empL.tripPlanCount}}</td>
	   			<td>{{empL.tripPlanMemberCount}}</td>
	   			<td>{{empL.transCount}}</td>
	   			<td>{{empL.innerCount}}</td>
	   			<td>{{empL.orderCount}}</td>		
		   	</tr>
		{{/each}}
	</tbody>
</table>
<div class="row pageMode">
	<div class="col-xs-6">
		<small>共计 {{searchParam.totalCount}} 条记录</small>
	</div>
	<div class="col-xs-6">
		<div class="dataTables_paginate paging_simple_numbers T-pagenation">
		</div>
	</div>
</div>