<table class="table table-striped table-bordered table-hover T-showHighLight table-fixed">
	<thead>
		<tr class="bg-blur">
			<th>部门</th>
			{{if isChildGroup}}
			<th>子部门</th>
			{{/if}}
			<th>收客量</th>
			<th>内转收客量</th>
			<th>发团量</th>
			<th>发客量</th>
			<th>外转转出量</th>
			<th>内转转出量</th>
			<th>代订订单量</th>
		</tr>
	</thead>
	<tbody>
		{{each result as deptL}}
		   <tr>
	   		    <td>{{deptL.name}}</td>
	   		    {{if isChildGroup}}
	   		    <td class="text-bold">{{deptL.childName}}</td>
	   		    {{/if}}
	   			<td>{{deptL.getAdultCount}}大{{deptL.getChildCount}}小</td>
	   			<span class="hidden">
                    {{getAdultCount+= deptL.getAdultCount}}
                    {{getChildCount+= deptL.getChildCount}}
                </span>
	   			<td>{{deptL.getNotDirectAdultCount}}大{{deptL.getNotDirectChildCount}}小</td>
	   			<span class="hidden">
                    {{getNotDirectAdultCount += deptL.getNotDirectAdultCount}}
                    {{getNotDirectChildCount += deptL.getNotDirectChildCount}}
                </span>
	   			<td>{{deptL.tripCount}}</td>
	   			<span class="hidden">
                    {{tripCount += deptL.tripCount}}
                </span>
	   			<td>{{deptL.adultCount}}大{{deptL.childCount}}小</td>
	   			<span class="hidden">
                    {{adultCount += deptL.adultCount}}
                    {{childCount += deptL.childCount}}
                </span>
	   			<td>{{deptL.transAdultCount}}大{{deptL.transChildCount}}小</td>
	   			<span class="hidden">
                    {{transAdultCount += deptL.transAdultCount}}
                    {{transChildCount += deptL.transChildCount}}
                </span>
	   			<td>{{deptL.innerAdultCount}}大{{deptL.innerChildCount}}小</td>
	   			<span class="hidden">
                    {{innerAdultCount += deptL.innerAdultCount}}
                    {{innerChildCount += deptL.innerChildCount}}
                </span>
	   			<td>{{deptL.orderCount}}</td>
	   			<span class="hidden">
                    {{orderCount += deptL.orderCount}}
                </span>
		   	</tr>
		{{/each}}

		<tr style="background-color:#effef4">
			<td class="text-bold" {{if isChildGroup}}colspan="2" {{/if}}>合计</td>
			<td>{{getAdultCount+getChildCount}}</td>
			<td>{{getNotDirectAdultCount+getNotDirectChildCount}}</td>
			<td>{{tripCount}}</td>
			<td>{{adultCount+childCount}}</td>
			<td>{{transAdultCount+transChildCount}}</td>
			<td>{{innerAdultCount+innerChildCount}}</td>
			<td>{{orderCount}}</td>
		</tr>
	</tbody>
</table>