<table class="table table-striped table-bordered table-hover T-showHighLight table-fixed">
	<colgroup>
		<col style="width:10%;"></col>
		<col style="width:10%;"></col>
		<col style="width:10%;"></col>
		<col style="width:20%;"></col>
		<col style="width:20%;"></col>
		<col style="width:15%;"></col>
		<col style="width:15%;"></col>
	</colgroup>
	<thead>
		<tr class="bg-blur">
			<th class="col-sm-1">部门</th>
			<th class="col-sm-2">收客量</th>
			<th class="col-sm-1">发团量</th>
			<th class="col-sm-1">发客量</th>
			<th class="col-sm-1">外转客量</th>
			<th class="col-sm-1">内转客量</th>
			<th class="col-sm-2">代订单量</th>
		</tr>
	</thead>
	<tbody>
		{{each result as deptL}}
		   <tr>
	   		    <td>{{deptL.name}}</td>
	   			<td>{{deptL.getAdultCount}}大{{deptL.getChildCount}}小</td>
	   			<td>{{deptL.tripCount}}</td>
	   			<td>{{deptL.adultCount}}大{{deptL.childCount}}小</td>
	   			<td>{{deptL.transAdultCount}}大{{deptL.transChildCount}}小</td>
	   			<td>{{deptL.innerAdultCount}}大{{deptL.innerChildCount}}小</td>
	   			<td>{{deptL.orderCount}}</td>
		   	</tr>
		{{/each}}

		<tr style="background-color:#effef4">
			<td style="font-weight: bold;">合计</td>
			<td class="T-sumAdultCount">0</td>
			<td class="T-tripTotalCount">0</td>
			<td class="T-tripAdChildCount">0</td>
			<td class="T-transAdChilTotalCount">0</td>
			<td class="T-innerAdChilTotalCount">0</td>
			<td class="T-orderTotalCount">0</td>
		</tr>
	</tbody>
</table>
<div class="row pageMode">
	<div class="col-xs-6">
		<small>共计 {{searchParam.totalCount}} 条记录</small>
	</div>
	<div class="col-xs-6">
		<div class="dataTables_paginate paging_simple_numbers T-listDept-pagenation">
		</div>
	</div>
</div>