<div class="T-employeePerfor-Container">
    <form class="form-horizontal T-search-area mar-b-10" onsubmit="return false;">
        <label for="startTime">开始日期 </label>
        <input type="text" name="startTime" id="startTime" class="datepicker mar-r-10" placeholder="开始日期" value="" />
        <label for="endTime">结束日期 </label>
        <input type="text" name="endTime" id="endTime" class="datepicker mar-r-10" placeholder="结束日期" value="" />
        
        <label>业绩单位</label>
        <select name="object" id="" class="T-select-employeerDept">
            <option value="1">员工</option>
            <option value="2">业务部门</option>
            <option value="3">子部门</option>
        </select>
        <select name="type" id="" class="T-select-opUserList mar-r-10">
            <option value="3">外联销售</option>
            <option value="0">责任计调</option>
        </select>
        <input type="text" class="T-childrenDepartment hidden mar-r-10" value="全部">
        <input type="hidden" name="businessGroupId">

        <label>针对客源</label>
        <select name="customerType" id="" class="T-select-customerType mar-r-10">
            <option value="">全部</option>
            <option value="0">散客</option>
            <option value="1">团体</option>
        </select>

        <label>客户类型</label>
        <select name="partnerAgencyType" id="" class="T-select-partnerAgencyType mar-r-10">
            <option value="">全部</option>
            <option value="0">地接社</option>
            <option value="1">组团社</option>
            <option value="2">地接社和组团社</option>
        </select>

        <label class="T-status hidden">
            <label>审核状态</label>
            <select name="billStatus" id="" class="mar-r-10">
                <option value="">全部</option>
                <option value="-1">待报账</option>
                <option value="0">待审核</option>
                <option value="1">计调已审</option>
                <option value="2">财务已审</option>
            </select>
        </label>

        <button class=" btn-sm  T-search search-btn">
            <i class="ace-icon fa fa-search"></i> 搜索
        </button>
    </form>
    <div class="table-area">
        <div class="T-employeePerfor-list hidden">
        </div>
        <div class="T-deptPerfor-list hidden">
        </div>
        <div class="T-salePerfor-list hidden">
        </div>
    </div>
</div>
