{{each financialTicketList as rs index}}
    <tr data-id="{{rs.id}}">
        <td>{{rs.tripNumber}}{{if rs.tripNumber && rs.lineProductName}}，{{/if}}{{rs.lineProductName}}{{if (rs.lineProductName  && rs.guideName) || (rs.tripNumber && !rs.lineProductName && rs.guideName)}}，{{/if}}{{rs.guideName}}</td>
        <td>{{rs.accountTime}}</td>
        <td>{{if rs.type == 1}}机票{{else if rs.type == 2}}汽车票{{else if rs.type == 3}}火车票{{else if rs.type == 4}}轮船票{{/if}}</td>
        <td>{{rs.shift}}</td>
        <td>{{rs.seatLevel}}</td>
        <td class="F-float F-money">{{rs.price}}</td>
        <td class="F-float F-count">{{rs.memberCount}}</td>
        <td class="F-float F-money">{{rs.reduceMoney}}</td>
        <td class="F-float F-money">{{rs.needPayMoney}}</td>
        <td><a class="{{if rs.payRecoredId}}T-action T-payRequest{{else}}black{{/if}}" data-preid="{{rs.payRecoredId}}"><span class="F-float F-money">{{rs.prePayMoney}}</span></a></td>
        <td class="T-payedDetail align-left" data-money="{{rs.payedMoney + rs.realGuidePayMoney}}">
            <a class="T-action T-payDetails">
                <span class="in-block">社付<span class="F-float F-money">{{rs.payedMoney}}</span></span>
                {{if rs.isGuidePay != 1}}<span class="in-block">导付<span class="F-float F-money" >{{rs.realGuidePayMoney}}</span></span>{{/if}}
            </a>
        </td>
        <td>{{if !rs.billImage}}<span style="color:#bbb">查看</span>{{else}}<a class="cursor T-action T-view-receipts" url="{{rs.billImage}}">查看</a>{{/if}}</td>
        <td class="F-float F-money">{{rs.settlementMoney}}</td>
        <td class="F-float F-money">{{rs.unPayedMoney}}</td>
        <td><input type="text" class="col-sm-12 T-reciveMoney F-float F-money" name="payMoney" value="{{rs.payMoney}}"></td>
        <td><textarea class="col-sm-12 hct-textarea T-payRemark" name="payRemark" maxlength="1000">{{rs.payRemark}}</textarea></td>
        <td>{{rs.checkTime}}</td>
        <td>{{rs.checkUserName}}</td>
        <td>
            <label class="pos-rel">
                <span class="lbl">{{if !!rs.isConfirmAccount}}已{{else}}未{{/if}}对账</span>
            </label>
            <label class="cursor R-right" data-right="1210004"> <a> |</a></label>
            <a class="cursor T-action T-view-details R-right" data-right="1210004">查看</a>
        </td>
    </tr>
{{/each}}