<div class="row check globalAdd" data-big="{{WEB_IMG_URL_BIG}}" data-small="{{WEB_IMG_URL_SMALL}}">
    <div class="T-search-area">
        <form class="form-inline" role="form" onsubmit="return false">
            <div class="form-group">
                <label>票务商家：</label>
                <label>{{name}}</label>
            </div>
            <div class="form-group marginLeft-30">
                <label>账期：</label>
                <input type="text" class="form-control datepicker T-search-start-date" value="{{searchParam.startDate}}" style="width: 100px; text-align: center;">
                <label>&nbsp;至&nbsp;</label>
                <input type="text" class="form-control datepicker T-search-end-date" value="{{searchParam.endDate}}" style="width: 100px; text-align: center;">
            </div>
            <div class="form-group marginLeft-30">
                <label>账务类别：</label>
                <input type="text" class="form-control T-search-type" value="{{searchParam.accountInfo}}">
            </div>
            <div class="form-group marginLeft-30">
                <button class="btn-sm search-btn T-btn-search">
                    <i class="ace-icon fa fa-search"></i> 搜索 
                </button>
            </div>
        </form>
        <div class="form-inline">
            <div class="form-group">
                <label>账面应付合计：</label>
                <label>{{sumNeedPayMoney}}</label>
            </div>
            <div class="form-group marginLeft-30">
                <label>已付金额合计：</label>
                <label>{{sumPayedMoney}}</label>
            </div>
            <div class="form-group marginLeft-30">
                <label>结算金额合计：</label>
                <label class="T-stMoney">{{sumSettlementMoney}}</label>
            </div>
            <div class="form-group marginLeft-30">
                <label>未收金额合计：</label>
                <label class="T-unpayMoney">{{sumUnPayedMoney}}</label>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="th-border">序号</th>
                <th class="th-border">账务类别</th>
                <th class="th-border">发生日期（账期）</th>
                <th class="th-border">类型</th>
                <th class="th-border">班次</th>
                <th class="th-border">座位级别</th>
                <th class="th-border">数量</th>
                <th class="th-border">单价</th>
                <th class="th-border">优惠</th>
                <th class="th-border">账面应付</th>
                <th class="th-border">已付金额</th>
                <th class="th-border">单据</th>
                <th class="th-border">结算金额</th>
                <th class="th-border">未付金额</th>
                <th class="th-border">备注</th>
                <th class="th-border">对账时间</th>
                <th class="th-border">对账人</th>
                <th class="th-border" style="min-width: 65px;">对账</th>
            </tr>
        </thead>
        <tbody class="T-list T-checkList">
        {{each financialTicketList as rs index}}
            <tr class="T-checkTr" data-id="{{rs.id}}" data-confirm="{{if !!rs.isConfirmAccount}}1{{else}}0{{/if}}">
                <td>{{index + 1}}</td>
                <td>{{rs.tripNumber}}{{if rs.tripNumber && rs.lineProductName}}，{{/if}}{{rs.lineProductName}}{{if (rs.lineProductName  && rs.guideName) || (rs.tripNumber && !rs.lineProductName && rs.guideName)}}，{{/if}}{{rs.guideName}}</td>
                <td>{{rs.accountTime}}</td>
                <td>{{if rs.type == 1}}机票{{else if rs.type == 2}}汽车票{{else if rs.type == 3}}火车票{{else if rs.type == 4}}轮船票{{/if}}</td>
                <td>{{rs.shift}}</td>
                <td>{{rs.seatLevel}}</td>
                <td>{{rs.memberCount}}</td>
                <td>{{rs.price}}</td>
                <td>{{rs.reduceMoney}}</td>
                <td>{{rs.needPayMoney}}</td>
                <td class="T-payedDetail" data-money="{{rs.payedMoney + rs.realGuidePayMoney}}"><a class="cursor T-action T-payDetails">社付{{rs.payedMoney}}，导付{{rs.realGuidePayMoney}}</a></td>
                <td>{{if !rs.billImage}}<span style="color:#bbb">查看</span>{{else}}<a class="cursor T-action T-view-receipts" data-billImage="{{rs.billImage}}">查看</a>{{/if}}</td>
                <td>{{if !!rs.isConfirmAccount}}{{rs.settlementMoney}}{{else}}<input type="text" class="col-sm-12" name="settlementMoney" value="{{rs.settlementMoney}}">{{/if}}</td>
                <td name="unPayedMoney">{{rs.unPayedMoney}}</td>
                <td>{{if !!rs.isConfirmAccount}}{{rs.checkRemark}}{{else}}<input type="text" class="col-sm-12" name="checkRemark" value="{{rs.checkRemark}}">{{/if}}</td>
                <td>{{rs.checkTime}}</td>
                <td>{{rs.checkUserName}}</td>
                <td>
                    <label class="pos-rel">
                        <input type="checkbox" class="ace T-checkbox" {{if !!rs.isConfirmAccount}}checked="checked"{{/if}} /> 
                        <span class="lbl"></span>
                    </label>
                    {{if !!rs.isConfirmAccount}}
                    <label class="cursor"> <a> |</a></label>
                    <a class="cursor T-action T-view-details">查看</a>
                    {{/if}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <div class="row pageMode">
        <div class="col-xs-6">
            <small>共计 {{searchParam.recordSize}} 条记录</small>
        </div>
        <div class="col-xs-6">
            <div class="dataTables_paginate paging_simple_numbers T-pagenation"></div>
            <label class="pos-rel pull-right">
                <input type="checkbox" class="ace T-checkAll"> <span class="lbl">全选</span> 
            </label>
        </div>
    </div>
    <form class="form-horizontal" role="form" onsubmit="return false">
        <div class="form-group" style="text-align: center;">
            <button class="btn btn-xs btn-primary T-btn-close">
                <i class="ace-icon fa fa-times-circle"></i> 关闭
            </button>
            <button class="btn btn-xs btn-primary T-btn-save" style="margin-left:20px">
                <i class="ace-icon fa fa-check-circle"></i> 确认对账
            </button>
        </div>
    </form>
</div>