{{each financialTicketList as rs index}}
    <tr data-id="{{rs.id}}">
        <td>{{index + 1}}</td>
        <td>{{rs.tripNumber}}{{if rs.tripNumber && rs.lineProductName}}，{{/if}}{{rs.lineProductName}}{{if (rs.lineProductName  && rs.guideName) || (rs.tripNumber && !rs.lineProductName && rs.guideName)}}，{{/if}}{{rs.guideName}}</td>
        <td>{{rs.accountTime}}</td>
        <td>{{if rs.type == 1}}机票{{else if rs.type == 2}}汽车票{{else if rs.type == 3}}火车票{{else if rs.type == 4}}轮船票{{/if}}</td>
        <td>{{rs.shift}}</td>
        <td>{{rs.seatLevel}}</td>
        <td>{{rs.memberCount}}</td>
        <td>{{rs.price}}</td>
        <td>{{rs.reduceMoney}}</td>
        <td>{{rs.needPayMoney}}</td>
        <td class="T-payedDetail" data-money="{{rs.payedMoney + rs.realGuidePayMoney}}"><a class="cursor T-action T-payDetails">社付{{rs.payedMoney}}，导付{{rs.realGuidePayMoney}}</a></td>
        <td>{{if !rs.billImage}}<span style="color:#bbb">查看</span>{{else}}<a class="cursor T-action T-view-receipts" data-billImage="{{rs.billImage}}">查看</a>{{/if}}</td>
        <td>{{rs.settlementMoney}}</td>
        <td>{{rs.unPayedMoney}}</td>
        <td><input type="text" class="col-sm-12 T-reciveMoney" name="payMoney" value="{{rs.payMoney}}"></td>
        <td><input type="text" class="col-sm-12 T-payRemark" name="payRemark"></td>
        <td>{{rs.checkTime}}</td>
        <td>{{rs.checkUserName}}</td>
        <td>
            <label class="pos-rel">
                <span class="lbl">{{if !!rs.isConfirmAccount}}已{{else}}未{{/if}}对账</span>
            </label>
            <label class="cursor R-right" data-right="1210004"> <a> |</a></label>
            <a class="cursor T-action T-view-details R-right" data-right="1210004">查看</a>
        </td>
    </tr>
{{/each}}