{{each bookingOrderList as rs}}
<tr data-id="{{rs.id}}">
	<td><a class="T-option T-replaceDetail">{{rs.orderNumber}}</a></td>
	<td>{{if rs.partnerAgency != null}}{{rs.partnerAgency.travelAgencyName}}{{/if}}</td>
	<td>{{rs.outOPUser}}</td>
	<td>{{if !!rs.businessGroup}}{{rs.businessGroup.name}}{{/if}}-{{if rs.group}}{{rs.group.name}}{{/if}}</td>
	<td>
		{{if rs.financialHotel == ""}}
			-
		{{else}}
			{{rs.financialHotel}}
		{{/if}}
	</td>
	<td>
		{{if rs.financialTicket == ""}}
			-
		{{else}}
			{{rs.financialTicket}}
		{{/if}}
	</td>
	<td>
		{{if rs.financialScenic == ""}}
			-
		{{else}}
			{{rs.financialScenic}}
		{{/if}}
	</td>
	<td>
		{{if rs.financialBus == ""}}
			-
		{{else}}
			{{rs.financialBus}}
		{{/if}}
	</td>
	<td><a class="T-option T-needPayDetail F-float F-money">{{rs.sumNeedGetMoney}}</a></td>
	<td><a class="T-option T-costDetail F-float F-money">{{rs.sumCostMoney}}</a></td>
	<td><span class="F-float F-money">{{rs.financialGrossProfit}}</span></td>
</tr>
{{/each}}