{{each bookingOrderList as rs}}
<tr data-id="{{rs.id}}">
	<td><a class="T-option T-replaceDetail">{{rs.orderNumber}}</a></td>
	<td>{{if rs.partnerAgency != null}}{{rs.partnerAgency.travelAgencyName}}{{/if}}</td>
	<td>
		{{if rs.financialHotel == ""}}
			-
		{{else}}
			{{rs.financialHotel}}
		{{/if}}
	</td>
	<td>
		{{if rs.financialTicket == ""}}
			-
		{{else}}
			{{rs.financialTicket}}
		{{/if}}
	</td>
	<td>
		{{if rs.financialScenic == ""}}
			-
		{{else}}
			{{rs.financialScenic}}
		{{/if}}
	</td>
	<td>
		{{if rs.financialBus == ""}}
			-
		{{else}}
			{{rs.financialBus}}
		{{/if}}
	</td>
	<td><a class="T-option T-needPayDetail">{{rs.sumNeedGetMoney}}</a></td>
	<td><a class="T-option T-costDetail">{{rs.sumCostMoney}}</a></td>
	<td>{{rs.financialGrossProfit}}</td>
</tr>
{{/each}}