<div class="col-xs-12">
	<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
		<div class="form-group">
			<div class="col-xs-12 col-sm-12 widget-container-col">
				<div class=" ui-sortable-handle">
					<div class="widget-body">
						<div class="widget-main">
							<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th class="th-border">对方单位</th>
										<th class="th-border">应付类别</th>
										<th class="th-border">发生业务</th>
										<th class="th-border">金额</th>
										<th class="th-border">备注</th>
										<th class="th-border">操作人</th>
										<th class="th-border">操作时间</th>
									</tr>
								</thead>

								<tbody>
									{{each needPayDetailsList as rs}}
									<tr data-id="{{rs.id}}">
										<td>{{if rs.name == null || rs.name == ""}}-{{else}}{{rs.name}}{{/if}}</td>
										<td>{{if rs.receivableType == null || rs.receivableType == ""}}-{{else}}{{rs.receivableType}}{{/if}}</td>
										<td>{{if rs.businessType == null || rs.businessType == ""}}-{{else}}{{rs.businessType}}{{/if}}</td>
										<td><span class="F-float F-money">{{rs.payMoney}}</span></td>
										<td>{{rs.remark}}</td>
										<td>{{if rs.checkRealname == null || rs.checkRealname == ""}}-{{else}}{{rs.checkRealname}}{{/if}}</td>
										<td>{{if rs.checkTime == null || rs.checkTime == ""}}-{{else}}{{rs.checkTime | dateFormat:'yyyy-MM-dd hh:mm:ss'}}{{/if}}</td>
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>