<div class="row check">
    <div class="col-xs-12 border">
        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="search-area  editable editable-click" style="margin-top: 10px">
                <div class="form-group"> <label class=" control-label pull-left" style="margin-left: 15px"> 项目名称：国际大酒店</label>

                    <label class="col-sm-1 control-label no-padding-right">日期：</label>


                    <select class="col-sm-1">
                        <option>2015</option>
                        <option>2014</option>
                    </select>


                    <label class="col-sm-1 control-label no-padding-right"></label>
                    <select class="col-sm-1">
                        <option>全部</option>
                        <option>1</option>
                    </select>

                    <button class="btn btn-sm btn-primary btn-arrangeTourist-search" style="margin-left: 60px">
                        <i class="ace-icon fa fa-search"></i>
                        搜索
                    </button>
                </div>

            </div>
        </form>
        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="form-group col-sm-12">

                <label class="col-sm-2 "  >总应付：500</label>
                <label class="col-sm-2 ">总已付：500</label>
                <label class="col-sm-2 ">总未付：500</label>
                <label class="col-sm-2 ">总对账：500</label>
            </div>
        </form>
    </div>
    <div class="clearfix"></div>
    <table class="table table-striped table-bordered table-hover all" style="margin-top: 30px">
            <thead>
            <tr>
              <th> 序号</th>

              <th> 团信息</th>

              <th> 消费日期</th>

              <th> 团队人数</th>

              <th> 单价</th>

              <th> 数量</th>

              <th> 优惠</th>

              <th> 应付</th>

              <th> 已付</th>

              <th> 未付</th>

              <th> 单据</th>

              <th> 未付对账</th>

              <th> 说明</th>

              <th> 对账时间</th>

              <th> 对账人</th>

              <th> 状态</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>11</td>
                <td>11</td>
                <td>11</td>
                <td>11</td>
                <td>11</td>
                <td>11</td>
                <td>11</td>
                <td>11</td>
                <td>11</td>
                <td>11</td>


                <td><a href="">查看</a></td>
                <td>11</td>
                <td>11</td>
                <td>11</td>
                <td>11</td>

                <td>已对账</td>

            </tr>

            <tr>
                <td>11</td>
                <td>11</td>
                <td>11</td>
                <td>11</td>
                <td>11</td>
                <td>11</td>
                <td>11</td>
                <td>11</td>
                <td>11</td>
                <td>11</td>


                <td><a href="">查看</a></td>
                <td>11</td>
                <td>11</td>
                <td>11</td>
                <td>11</td>
                <td><input type="checkbox">未对账</td>

            </tr>



            </tbody>
        </table>

        <div class="row pageMode" style="margin-top: 40px">
            <div class="col-xs-6">
                <div class="dataTables_info" id="dynamic-table_info" role="status" aria-live="polite">共计 0条记录</div>
            </div>
            <div class="col-xs-6">
                <div class="dataTables_paginate paging_simple_numbers" id="dynamic-table_paginate">
                    <ul class="pagination">
                        <li class="paginate_button" aria-controls="dynamic-table" tabindex="0"><a class="first" href="javascript:void(0)">首页</a></li>
                        <li class="paginate_button" aria-controls="dynamic-table" tabindex="0"><a class="previous"href="javascript:void(0)">上一页</a></li>
                        <li class="paginate_button" aria-controls="dynamic-table" tabindex="0">
                            <a href="javascript:void(0)">
                                100/3

                            </a>
                        </li>
                        <li class="paginate_button" aria-controls="dynamic-table" tabindex="0"><a class="next"  href="javascript:void(0)">下一页</a></li>
                        <li class="paginate_button" aria-controls="dynamic-table" tabindex="0"><a class="last" href="javascript:void(0)">尾页</a></li>
                    </ul>
                </div>
            </div>
        </div>

    <div class="form-group col-sm-12 " style="padding-right: 20px;margin-top: 20px">

        <label class="control-label pull-right"  ><input type="checkbox">  全选</label>
    </div>
        <div class="clearfix"></div>

        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="form-group" style="text-align: center;">
                <button class="btn btn-xs btn-primary btn-createTripPlan">
                    <i class="ace-icon fa fa-times-circle"></i>
                    取消对账
                </button>
                <button class="btn btn-xs btn-primary">
                    <i class="ace-icon fa fa-check-circle"></i>
                    确认对账
                </button>
            </div>
        </form>


</div>