{{each travelAgencyList as rs}}
<tr class="cursor" data-id="{{rs.travelAgencyId}}" data-contact-id="{{if rs.contactList.length > 0}}{{rs.contactList[0].fromPartnerAgencyContactId}}{{/if}}" data-agency-name="{{rs.travelAgencyName}}">
	<td name="travelAgencyName" rowspan="{{rs.contactList.length || 1}}">{{rs.travelAgencyName}}</td>
	<td rowspan="{{rs.contactList.length || 1}}">{{rs.type | getTravelAgencyType}}</td>
	<td rowspan="{{rs.contactList.length || 1}}">{{rs.level | getTravelAgencyLevel}}</td>
    {{if rs.contactList.length > 0}}
	<td name="travelAgencyContactName">{{rs.contactList[0].contactRealname}}</td>
	<td>{{rs.contactList[0].contactMobileNumber}}</td>
	<td>
		<a class="T-action T-chooseClient cursor" name="chooseClient" > <span>选择</span> </a>
	</td>
    {{else}}
    <td name="travelAgencyContactName"></td>
    <td></td>
    <td>
        <a class="T-action T-chooseClient cursor" name="chooseClient" > <span>选择</span> </a>
    </td>
    {{/if}}
</tr>
    {{if rs.contactList.length > 0}}
        {{each rs.contactList as cl index}}
        {{if index > 0}}
        <tr class="cursor" data-id="{{rs.travelAgencyId}}" data-contact-id="{{cl.fromPartnerAgencyContactId}}" data-agency-name="{{rs.travelAgencyName}}">
            <td name="travelAgencyContactName">{{cl.contactRealname}}</td>
            <td>{{cl.contactMobileNumber}}</td>
            <td>
                <a class="T-action T-chooseClient cursor" name="chooseClient" > <span>选择</span> </a>
            </td>
        </tr>
        {{/if}}
        {{/each}}
    {{/if}}
{{/each}}