<!--酒店start-->
<div class="listHotel">
    <table class="table table-striped table-bordered table-hover table-fixed T-showHighLight">
        <colgroup>
            <col style="width:190px;">
            <col style="width:50px;">
            <col style="width:155px;">
            <col>
            <col style="width:50px;">
            <col style="width:70px;">
            <col style="width:40px;">
            <col style="width:80px">
            <col style="width:80px">
            <col style="width:60px;">
            <col style="width:100px;">
            <col style="">
            <col style="width:60px;">
        </colgroup>
        <thead>
            <tr class="bg-blur">
                <th>订单号</th>
                <th>类型</th>
                <th>类型编号</th>
                <th>酒店</th>
                <th>星级</th>
                <th>房型</th>
                <th>数量</th>
                <th>单价</th>
                <th>金额</th>
                <th>操作人</th>
                <th>操作时间</th>
                <th>备注</th>
                <th>状态</th>
            </tr>
        </thead>
        <tbody class="T-Hotel-list">
            {{each hotelOrderList as hotOrderList}}
            <tr data-value="{{hotOrderList.id}}">
                <td rowspan="{{hotOrderList.hotelOrderNeedRoomList.length}}" style="vertical-align:middle">{{hotOrderList.orderNumber}}</td>
                <td rowspan="{{hotOrderList.hotelOrderNeedRoomList.length}}" style="vertical-align:middle">发团</td>
                <td rowspan="{{hotOrderList.hotelOrderNeedRoomList.length}}" style="vertical-align:middle">{{if hotOrderList.tripPlan!=null}}{{hotOrderList.tripPlan.tripNumber}}{{/if}}</td>
                <td rowspan="{{hotOrderList.hotelOrderNeedRoomList.length}}" style="vertical-align:middle">{{if hotOrderList.hotel!=null}}{{hotOrderList.hotel.name}}{{/if}}</td>
                <td rowspan="{{hotOrderList.hotelOrderNeedRoomList.length}}" style="vertical-align:middle">{{if hotOrderList.hotel!=null}} {{if hotOrderList.hotel.level==1}}三星以下 {{else if hotOrderList.hotel.level==2}}三星 {{else if hotOrderList.hotel.level==3}}准四星 {{else if hotOrderList.hotel.level==4}}四星 {{else if hotOrderList.hotel.level==5}}准五星 {{else if hotOrderList.hotel.level==6}}五星 {{else if hotOrderList.hotel.level==7}}五星以上 {{/if}} {{/if}}
                </td>
                {{if hotOrderList.hotelOrderNeedRoomList.length > 0}} {{each hotOrderList.hotelOrderNeedRoomList as htOrderNList index}} {{if index == 0}}
                <td>{{htOrderNList.type}}</td>
                <td class="F-float F-count">{{htOrderNList.needRoomCount}}</td>
                <td class="F-float F-money">{{htOrderNList.price}}</td>
                <td class="F-float F-money">{{htOrderNList.needRoomCount*htOrderNList.price}}</td>
                {{/if}} {{/each}} {{else}}
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                {{/if}}
                <td rowspan="{{hotOrderList.hotelOrderNeedRoomList.length}}" style="vertical-align:middle">{{if hotOrderList.user!=null}}{{hotOrderList.user.realName}}{{/if}}</td>
                <td rowspan="{{hotOrderList.hotelOrderNeedRoomList.length}}" style="vertical-align:middle">{{if hotOrderList.createTime!=null}}{{hotOrderList.createTime | dateFormat: 'yyyy-MM-dd'}}{{/if}}</td>
                <td rowspan="{{hotOrderList.hotelOrderNeedRoomList.length}}" style="vertical-align:middle" class="T-ctrl-tip">{{if hotOrderList.hotel!=null}}{{hotOrderList.hotel.remark}}{{/if}}</td>
                <td rowspan="{{hotOrderList.hotelOrderNeedRoomList.length}}">
                    {{if hotOrderList.status==-1}} 已撤单 {{else if hotOrderList.status==0}} 预定中 {{else if hotOrderList.status==1 && hotOrderList.result==-1}} 已拒绝 {{else if hotOrderList.status==1 && hotOrderList.result==1}} 已预订 {{/if}}
                </td>
            </tr>
            {{each hotOrderList.hotelOrderNeedRoomList as htOrderNList index}} {{if index > 0}}
            <tr>
                <td>{{htOrderNList.type}}</td>
                <td class="count F-float F-count">{{htOrderNList.needRoomCount}}</td>
                <td class="price F-float F-money">{{htOrderNList.price}}</td>
                <td class="totalMoney F-float F-money">{{htOrderNList.price}}</td>
            </tr>
            {{/if}} {{/each}} {{/each}}
        </tbody>
    </table>
    <!--分页条数-->
    <div class="row pageMode">
        <div class="col-xs-6">
            <small>共计 {{searchParam.totalCount}} 条记录</small>
        </div>
        <div class="col-xs-6">
            <div class="dataTables_paginate paging_simple_numbers T-pagenation">
            </div>
        </div>
    </div>
    <!--分页条数-->
</div>
