<div class="tabbable T-OrderManager-Container">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active" style="width:10%; text-align:center;">
            <a data-toggle="tab" href="#T-BusCompany-list" class="T-Bus" aria-expanded="true" data-value="1">
				车
			</a>
        </li>
        <li style="width:10%; text-align:center;">
            <a data-toggle="tab" href="#T-HotelOrder-list" class="T-House" aria-expanded="false" data-value="2">
				酒店
			</a>
        </li>
    </ul>
    <div class="tab-content" style="position: relative;top: -2px">
        <div id="T-BusCompany-list" class="tab-pane fade active in clearfix">
            <form class="form-horizontal mar-b-10" role="form" onsubmit="return false">
                <div class="clearfix">
                    <label class="pull-left text-right control-label no-padding-right">订单号</label>
                    <div class="col-sm-2">
                        <input type="text" name="orderNumber" class="col-xs-12 T-Choose-orderNumber" placeholder="请输入订单号" value="" />
                    </div>
                    <label class="pull-left text-right control-label no-padding-right">车队</label>
                    <div class="col-sm-1 busCompanyNameWidth">
                        <input type="text" name="busCompanyName" class="col-xs-12 T-Choose-busCompany" placeholder="请输入车队" value="" />
                        <input type="hidden" name="busCompanyId" value="" />
                    </div>
                    <label class="pull-left text-right control-label no-padding-right">车座数</label>
                    <div class="col-sm-1 busCompanyNameWidth">
                        <input type="text" name="seatCount" class="col-xs-12 T-Choose-seatCount F-float F-count" placeholder="请输入车座数" value="" />
                    </div>
                    <label class="pull-left text-right control-label no-padding-right">车辆品牌</label>
                    <div class="col-sm-1 busCompanyNameWidth">
                        <input type="text" name="brand" class="col-xs-12 T-Choose-busBrand" placeholder="请输入车辆品牌" value="" />
                        <input type="hidden" name="brandId" value="" />
                    </div>
                    <label class="pull-left text-right control-label no-padding-right">操作人</label>
                    <div class="col-sm-1 busCompanyNameWidth">
                        <input type="text" name="userName" class="col-xs-12 T-Choose-user" placeholder="请输入操作人" value="" />
                        <input type="hidden" name="userId" value="" />
                    </div>
                    <div class="col-xs-3 orderManagerTime">
                        <label class="col-xs-3 text-right control-label no-padding-right">操作日期</label>
                        <div class="col-xs-8 orderManagerOption">
                            <div class="input-group">
                                <input class="col-xs-5 datepicker date-picker" name="startTime" placeholder="开始时间" value="" type="text" />
                                <lable class="col-xs-2" style="text-align:center;padding:0;padding-top:2px;">&nbsp;至&nbsp;</lable>
                                <input class="col-xs-5 datepicker date-picker" name="endTime" placeholder="结束时间" value="" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="pull-left btn-group btn-status T-select-status mar-ort-10 margin-left33">
                        <label>状态 </label>
                        <select name="status" class="T-status">
                            <option value="">全部</option>
                            <option value="-1">已撤单</option>
                            <option value="0">预定中</option>
                            <option value="1">已预订</option>
                            <option value="2">已拒绝</option>
                        </select>
                    </div>
                    <div class="pull-left mar-ort-10" style="margin-left: 20px;">
                        <button class=" btn-sm  T-busCompanyOrder-search search-btn">
                            <i class="ace-icon fa fa-search"></i> 搜索
                        </button>
                    </div>
                </div>
            </form>
            <div class="T-busCompany-pagerList">
            </div>
        </div>
        <!--酒店start-->
        <div id="T-HotelOrder-list" class="tab-pane fade in clearfix">
            <form class="form-horizontal mar-b-10" role="form" onsubmit="return false">
                <div class="clearfix">
                    <label class="pull-left text-right control-label no-padding-right">订单号</label>
                    <div class="col-sm-2">
                        <input type="text" name="orderNumber" class="col-xs-12 T-Choose-orderNumber" placeholder="请输入订单号" value="" />
                    </div>
                    <label class="pull-left text-right control-label no-padding-right">酒店</label>
                    <div class="col-sm-1 hotelNameWidth">
                        <input type="text" name="hotelName" class="col-xs-12 T-Choose-Hotel" placeholder="请输入酒店" value="" />
                        <input type="hidden" name="hotelId" value="" />
                    </div>
                    <label class="pull-left text-right control-label no-padding-right">星级</label>
                    <div class="col-sm-1 hotelNameWidth">
                        <input type="text" name="level" class="col-xs-12 T-Choose-level" placeholder="请输入星级" value="" />
                    </div>
                    <label class="pull-left text-right control-label no-padding-right">房型</label>
                    <div class="col-sm-1 hotelNameWidth">
                        <input type="text" name="type" class="col-xs-12 T-Choose-HotelType" placeholder="请输入房型" value="" />
                    </div>
                    <label class="pull-left text-right control-label no-padding-right">操作人</label>
                    <div class="col-sm-1 hotelNameWidth">
                        <input type="text" name="userName" class="col-xs-12 T-Choose-user" placeholder="请输入操作人" value="" />
                        <input type="hidden" name="userId" value="" />
                    </div>
                    <div class="col-xs-3 orderManagerTime">
                        <label class="col-xs-3 text-right control-label no-padding-right">操作日期</label>
                        <div class="col-xs-8 orderManagerOption">
                            <div class="input-group">
                                <input class="col-xs-5 datepicker date-picker" name="startTime" placeholder="开始时间" value="" type="text" />
                                <lable class="col-xs-2" style="text-align:center;padding:0;padding-top:2px;">&nbsp;至&nbsp;</lable>
                                <input class="col-xs-5 datepicker date-picker" name="endTime" placeholder="结束时间" value="" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="pull-left btn-group btn-status T-select-status mar-ort-10 margin-left33">
                        <label>状态 </label>
                        <select name="status" class="T-status">
                            <option value="">全部</option>
                            <option value="-1">已撤单</option>
                            <option value="0">预定中</option>
                            <option value="1">已预订</option>
                            <option value="2">已拒绝</option>
                        </select>
                    </div>
                    <div class="pull-left mar-ort-10" style="margin-left: 20px;">
                        <button class=" btn-sm  T-hotelOrder-search search-btn">
                            <i class="ace-icon fa fa-search"></i> 搜索
                        </button>
                    </div>
                </div>
            </form>
            <div class="T-HotelOrder-pagerList"></div>
        </div>
    </div>
</div>