<div class="col-xs-12  T-updateLineProductContainer">
	<form class="form-horizontal T-mainForm" role="form" style="margin-top:10px" onsubmit="return false">
		<div class=" ui-sortable-handle">
				<h5 class=" pull-left " >
					<i class="ace-icon fa fa-info-circle title-size"></i>
					<label class="middle title-size">线路产品主体信息</label>
				</h5>
			<div class="pull-right line-bluer line-separated"></div>
			<div style="clear: both"></div>
			<div class="widget-body">
				<div class="widget-main">
					<div class="form-group">
						<label class="col-sm-1 control-label no-padding-right">基础线路名称:</label>
						<div class="col-sm-3">
							<input type="hidden" name="travellineId" value="{{travelLine.id}}"> 
							<input type="text" readonly="readonly" class="col-sm-12" value="{{travelLine.name}}">
						</div>
						<label class="col-sm-1 control-label no-padding-right"><span class="necessary">*</span>线路产品名称:</label>
						<div class="col-sm-3">
							<input type="text" name="name" class="col-sm-12 bind-change" placeholder="请输入线路产品名称" maxlength="80">  
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-1 control-label no-padding-right">线路天数:</label>
						<div class="col-sm-3">
							<input type="text" class="col-sm-12" readonly="readonly" name="days" value="{{travelLine.days}}">
						</div>
						<label class="col-sm-1 control-label no-padding-right"><span class="necessary">*</span>线路类型:</label>
						<div class="col-sm-3">
							<input type="text" name="type" class="col-sm-12" maxlength="80">
						</div>
						
					</div>
					<div class="form-group">
						<label class="col-sm-1 control-label no-padding-right">针对客源:</label>
						<div class="col-sm-3">
							<select name="customerType">
								<option value="0" selected="selected">散客</option>
								<option value="1">团体</option>
							</select>
						</div>
						<label class="col-sm-1 control-label no-padding-right">是否启用:</label>
						<div class="col-sm-2 checkbox" style="margin-left:-10px;padding-top: 0px">
							<label>
								<input checked="checked" type="checkbox" class="ace busCompany-status" name="status" value="1">
								<span class="lbl">
									启用
								</span>
							</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-1 control-label no-padding-right">线路产品备注:</label>
						<div class="col-sm-8">
							<textarea class="form-control" name="remark" class="col-sm-12" maxlength="1000"></textarea>       
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	
	
	<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
		<div class="form-group">
			<div class="col-xs-12 col-sm-12 widget-container-col">
				<div class=" ui-sortable-handle">
						<h5 class="pull-left title-size">
							<i class="ace-icon fa fa-calendar-minus-o"></i>
							<label class="middle title-size">基础安排模板</label>
						</h5>
					<div class="pull-right line-bluer line-separatedT"></div>
					<div style="clear: both"></div>
					<div class="widget-body">
						<div class="widget-main">
								<div class="col-xs-12 col-sm-12 widget-container-col">
									<div class=" ui-sortable-handle">
											<h5 class="" style="color: #666!important;font-size: 14px!important;">
												<i class="ace-icon fa fa-circle " style="font-size: 10px!important;"></i>
												<label class="middle " style="font-weight: bold!important;margin-top: 5px">导游安排</label>
											</h5>
										<div class="widget-body">
											<div class="widget-main">
												<table class="table table-striped table-bordered table-hover arrangeGuideList">
													<thead>
														<tr>
															<th class="th-border">导游姓名</th>
															<th class="th-border">导游服务费</th>
															<th class="th-border">导游性别</th>
															<th class="th-border">导游电话</th>
															<th class="th-border">导游等级</th>
															<th class="th-border">导游所属公司</th>
															<th class="th-border">备注</th>
														</tr>
													</thead>  
													<tbody  class="T-guideForm">
														<tr>
															<td><input class="T-guide-name col-xs-12 bind-change" name="guideName" type="text"/><input type="hidden" name="guideNameId"></td>
															<td><input class="col-xs-12" name="guideFee" type="text" /></td>
															<td><input class="col-xs-12" name="gender" type="text" readonly="readonly"/></td>
															<td><input class="col-xs-12" name="mobileNumber" type="text" readonly="readonly"/></td>
															<td><input class="col-xs-12" name="guideLevel" type="text" readonly="readonly"/></td>
															<td><input class="col-xs-12" name="company" type="text" readonly="readonly"/></td>
															<td><input class="col-xs-12" name="remark" type="text" maxlength="1000" /></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-xs-12 col-sm-12 widget-container-col">
									<div class=" ui-sortable-handle">
											<h5 class="" style="color: #666!important;font-size: 14px!important;">
												<i class="ace-icon fa fa-circle " style="font-size: 10px!important;"></i>
												<label class="middle " style="font-weight: bold!important;margin-top: 5px">保险安排</label>
											</h5>
										<div class="widget-body">
											<div class="widget-main">
												<table class="table table-striped table-bordered table-hover arrangeInsuranceList">
													<thead>
														<tr>
															<th class="th-border">公司名称</th>  
															<th class="th-border">保险类型</th>
															<th class="th-border">保险价格</th>
															<th class="th-border">公司电话</th>
															<th class="th-border">联系人姓名</th>
															<th class="th-border">联系电话</th>
															<th class="th-border">备注</th>
														</tr>
													</thead>
													<tbody class="T-insuranceForm">
														<tr>
															<td><input class="T-insurance-name col-xs-12 bind-change" name="insuranceName" type="text"/><input type="hidden" name="insuranceId"/></td>
															<td><input class="col-xs-12" name="type" type="text" maxlength="100" /></td>
															<td><input class="col-xs-12" name="price" type="text" maxlength="6" /></td>
															<td><input class="col-xs-12" name="telNumber" type="text" readonly="readonly"/></td>
															<td><input class="col-xs-12" name="managerName" type="text" readonly="readonly"/></td>
															<td><input class="col-xs-12" name="mobileNumber" type="text" readonly="readonly"/></td>
															<td><input class="col-xs-12" name="remark" type="text" maxlength="1000" /></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-xs-12 col-sm-12 widget-container-col">
									<div class=" ui-sortable-handle">
											<h5 class="" style="color: #666!important;font-size: 14px!important;">
												<i class="ace-icon fa fa-circle " style="font-size: 10px!important;"></i>
												<label class="middle " style="font-weight: bold!important;margin-top: 5px">车队安排</label>
											</h5>
										<div class="widget-body">
											<div class="widget-main">
												<table class="table table-striped table-bordered table-hover arrangeBusCompanyList">
													<thead>
														<tr>
															<th class="th-border">需求座位数</th>
															<th class="th-border">车队名称</th>
															<th class="th-border">车辆牌照</th>
															<th class="th-border">座位价</th>
															<th class="th-border">实际座位数</th>
															<th class="th-border">联系电话</th>
															<th class="th-border">包车价</th>
															<th class="th-border">备注</th>
														</tr>
													</thead>
													<tbody class="T-busCompanyForm">
														<tr>
															<td><input class="col-xs-12 bind-change" name="needSeatCount" type="text" maxlength="2" /></td>  
															<td><input name="companyName" class="T-buscompany-name col-xs-12 bind-change" type="text"/><input type="hidden" name="busCompanyId"></td>
															<td><input name="licenseNumber" class="T-licenseNumber col-xs-12 bind-change" type="text"/><input type="hidden" name="busLicenseNumberId"></td>
															<td><input class="col-xs-12" name="seatPrice" type="text" maxlength="6" /></td>
															<td><input class="col-xs-12" name="seatCount" type="text" readonly="readonly"/></td>   
															<td><input class="col-xs-12" name="mobileNumber" type="text" readonly="readonly"/></td>
															<td><input class="col-xs-12" name="charteredPrice" type="text" readonly="readonly" maxlength="9" /></td>
															<td><input class="col-xs-12" name="remark" type="text" maxlength="1000" /></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>					
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group lineDayArrangeTemplate">
			<div class="col-xs-12 col-sm-12 widget-container-col">
				<div class=" ui-sortable-handle widgetSchedule">
						<h5 class="pull-left title-size">
							<i class="ace-icon fa fa-paper-plane"></i>
							<label class="middle title-size">行程安排模板</label>
						</h5>
					<div class="pull-right line-bluer  line-separatedT"></div>
					<div style="clear: both"></div>
					<div class="widget-body">
						<div class="widget-main">
							<div class="tabbable">
								<ul class="nav nav-tabs" id="myTab">
									{{each travelLine.travelLineDayList as travelLineDay i}}
									<li {{if i == 0}}class="active"{{/if}}>
										<a aria-expanded="true" data-toggle="tab" href="#dayList-{{i}}" style="text-align:center;width:140px;">
											第{{i+1}}天
										</a>
									</li>
									{{/each}}
								</ul> 
								<div class="tab-content T-daylist" style="position:relative;top: -2px;border: 1px solid #ececec">
									{{each travelLine.travelLineDayList as travelLineDay i}}
									<div id="dayList-{{i}}" class="tab-pane fade {{if i == 0}}active in{{/if}}">
										<div class="col-xs-12 col-sm-12 widget-container-col travelLineDayList">
											<div class=" ui-sortable-handle">
													<h5 class="">
														<label class="title-size">行程标题：{{travelLineDay.title}}</label>
													</h5>
												<div class="widget-body">
													<div class="scheduleContainer T-dailyArrangeList">
														<h5 class="header">行程详情：</h5>
														<script id="{{editorName}}-{{i}}" class="T-editor" type="text/plain" style="width:100%">
															{{#travelLineDay.detail}}
														</script>
														<div style="margin-top:10px;margin-bottom:10px">
															<button class="btn btn-app  btn-xs  T-add T-addRestaurant" style="background: #1fade0!important;">
																<i class="ace-icon fa fa-plus bigger-160"></i>
																餐饮
															</button>
															<button class="btn btn-app   btn-xs  T-add T-addHotel" style="background: #1fade0!important;">
																<i class="ace-icon fa fa-plus bigger-160"></i>
																酒店
															</button>
															<button class="btn btn-app   btn-xs  T-add T-addScenic" style="background: #1fade0!important;">
																<i class="ace-icon fa fa-plus bigger-160"></i>
																景区
															</button>
															<button class="btn btn-app   btn-xs  T-add T-addShop" style="background: #1fade0!important;">
																<i class="ace-icon fa fa-plus bigger-160"></i>
																购物
															</button>
															<button class="btn btn-app   btn-xs T-add T-addSelfPay" style="background: #1fade0!important;">
																<i class="ace-icon fa fa-plus bigger-160"></i>  
																自费
															</button>
															<button class="btn btn-app   btn-xs T-add T-addTraffic " style="background: #1fade0!important;">
																<i class="ace-icon fa fa-plus bigger-160"></i>
																交通
															</button>
															<button class="btn btn-app   btn-xs T-add T-addOther " style="background: #1fade0!important;">
																<i class="ace-icon fa fa-plus bigger-160"></i>
																其他
															</button>
														</div>
														<div id="timeline-1">
															<div class="row">
																<div class="col-xs-12 col-sm-12">
																	<div class="timeline-container" style="overflow: auto;">
																		<div class="timeline-items scheduleListContainer T-timeline-detail-container">

																		</div><!-- /.timeline-items -->
																	</div><!-- /.timeline-container -->
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="clearfix"></div>
									</div>
									{{/each}}
									<div style="clear:both;height:0px;line-height:0px;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group driverList">
			<div class="col-xs-12 col-sm-12 widget-container-col">
				<div class=" ui-sortable-handle">
						<h5 class="">
							<label class="title-size">特别说明</label>
						</h5>
					<div class="widget-body">
						<div class="widget-main">
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right">费用包含:</label>
								<div class="col-sm-8">
									<textarea class="form-control" class="col-sm-12" readonly="readonly">{{travelLine.includeFee}}</textarea>   
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right">费用不含:</label>
								<div class="col-sm-8">
									<textarea class="form-control" class="col-sm-12" readonly="readonly">{{travelLine.excludeFee}}</textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right">行程特色:</label>
								<div class="col-sm-8">
									<textarea class="form-control" class="col-sm-12" readonly="readonly">{{travelLine.lineFeature}}</textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right">行程须知:</label>
								<div class="col-sm-8">
									<textarea class="form-control" class="col-sm-12" readonly="readonly">{{travelLine.lineNotice}}</textarea>
								</div>   
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="space-10"></div>
		<button class="btn btn-block btn-primary T-btn-submit guideSubmit">
			<i class="ace-icon fa fa-check"></i>
			提交信息
		</button>
		<div class="space-20"></div>
	</form>
</div>
