{{each touristGroupFeeList as rs}}
<tr data-id="{{rs.id}}">
	<td><!-- <input type="text" class="col-xs-12" name="describeInfo" value="{{rs.describeInfo}}" {{if isGuest == 1}}readonly{{/if}}> -->
	<select class="col-xs-12 T-calculate" name="type" {{if isGuest == 1}}disabled{{/if}}>
		{{#rs.type | getFeeItemType:isTrans}}
	</select>
	</td>
	<td><input type="text" class="col-xs-12 T-calculate F-float F-count T-count" name="count" value="{{rs.count}}" {{if isGuest == 1}}readonly{{/if}}></td>
	<td><input type="text" class="col-xs-12 T-calculate T-price F-float F-money" name="price" value="{{rs.price}}" {{if isGuest == 1}}readonly{{/if}}></td>
	<td><input type="text" class="col-xs-12 F-float F-money" name="money" readonly value="{{if rs.count && rs.price}}{{rs.count * rs.price}}{{/if}}"></td>
	<td><input type="text" class="col-xs-12" name="feeRemark" maxlength="100" value="{{rs.remark}}" {{if isGuest == 1}}readonly{{/if}}></td>
	<td><a class="cursor T-action T-delete" title="删除">{{isTrans}}删除</a></td>
</tr>
{{/each}}