{{each lineProductList as rs}}
<tr data-quote-id="{{rs.id}}" 
	data-line-id="{{if !!rs.lineProduct}}{{rs.lineProduct.id}}{{/if}}">
		<td name="quoteNumber">{{rs.quoteNumber}}</td>
		<td name="lineName">{{if rs.lineProduct != null}}{{rs.lineProduct.name}}{{/if}}</td>
		<td>{{if rs.lineProduct != null}}{{rs.lineProduct.type}}{{/if}}</td>
		<td>
			{{if rs.lineProduct != null}}    
				{{if rs.lineProduct.customerType==0}}
					  散客
				{{else}}             
					  团体
				{{/if}}  
			{{/if}}
		</td>
		<td class="F-float F-count">{{rs.adultCount}}大{{rs.childCount}}小</td>
		<td>{{if rs.lineProduct !=null }}{{rs.lineProduct.days}}{{/if}}</td>
		<td class="F-float F-count">{{rs.createTime}}</td>
		<td>{{if rs.partnerAgency !=null }}{{rs.partnerAgency.travelAgencyName}}{{/if}}</td>
		<td>{{if rs.partnerAgencyContact !=null }}{{rs.partnerAgencyContact.contactRealname}}{{/if}}</td>
		<td>{{rs.startTime}}</td>
		<td>
			<label class="T-quote-line">
				<input type="radio" class="ace" value="123" name="choice-TravelLine" index="0">
					<span class="lbl"></span>
			</label>
		</td>
	</tr>
{{/each}}