<div class="row T-newData" data-id="{{searchParam.partnerAgencyId}}" data-name="{{partnerAgencyName}}">
    <div class="col-sm-12">
        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="search-area">
                <div class="form-group  T-search-area"> 
                    <label> 同行地接：{{partnerAgencyName}}</label>
                    <label class="marginLeft-30">账期：</label>
                    <input class="date-picker" name="startDate" placeholder="开始日期" type="text" value="{{searchParam.startDate}}" style="width:100px;" />   
                    <label>&nbsp;至&nbsp;</label>
                    <input class="date-picker" name="endDate" placeholder="结束日期" type="text" value="{{searchParam.endDate}}" style="width:100px;" />  

                    <label class="marginLeft-30">线路名称：</label>
                    <input name="lineProductName" placeholder="线路名称" type="text" value="{{if searchParam.lineProductName == ""}}全部{{else}}{{searchParam.lineProductName}}{{/if}}" style="width:200px;" />

                    <label class="marginLeft-30">操作人：</label>
                    <input name="operateName" type="text" value="{{if searchParam.operateName == ""}}全部{{else}}{{searchParam.operateName}}{{/if}}" style="width:100px;" />
                    <input name="operateId" type="hidden" value="{{searchParam.operateId}}" />
                    <label class="marginLeft-30">收客单号：</label>
                    <input name="orderNumber" type="text" value="{{searchParam.orderNumber}}" style="width:100px;" />

                    <button class="btn-height btn-sm search-btn T-search" >
                        <i class="ace-icon fa fa-search"></i>搜索
                    </button>
                </div>
            </div>
        </form>
        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="form-group T-count" style="padding-bottom: 0">
                <label>人数合计：<span class="F-float F-count">{{sumPerson}}</span></label>
                <label style="margin-left: 10px">外转金额合计：<span class="F-float F-money">{{sumNeedPayMoney}}</span></label>
                <label style="margin-left: 10px">已付金额合计：<span class="F-float F-money">{{sumPayedMoney}}</span></label>
                <label style="margin-left: 10px">返款金额合计：<span class="F-float F-money">{{sumPunishMoney}}</span></label>
                <label style="margin-left: 10px">结算金额合计：<span class="F-float F-money">{{sumSettlementMoney}}</span></label>
                <label style="margin-left: 10px">未付金额合计：<span class="F-float F-money">{{sumUnPayedMoney}}</span></label>
                <label style="margin-left: 10px">未付金额合计(已对账)：<span class="T-unpayMoney F-float F-money">{{checkedUnPayedMoney}}</span></label>
            </div>
        </form>
        <div class="form-inline row globalAdd T-summary" style="padding-top: 10px;">
            <div class="form-group">
                <label class="control-label">本次付款金额：</label>
                <label class="control-label">
                    <input name="sumPayMoney" type="text" value="{{sumPayMoney}}" class="T-sumReciveMoney money F-float F-money"  {{if type}}disabled {{/if}}>
                </label>
            </div>

            {{if !type}} 
            <div class="form-group mar-l-10">
                <button class="btn btn-xs btn-primary T-clear-auto">
                    <i class="ace-icon fa fa-check-circle"></i> 自动下账
                </button>
                <button class="btn btn-xs btn-warning T-cancel-auto">
                    <i class="ace-icon fa fa-times-circle"></i> 取消下账
                </button>
            </div>
            {{/if}}

            <div class="form-group mar-l-10">
                <label class="control-label">付款方式：</label>
                <select  class="form-control" name="sumPayType">
                    {{#sumPayType | getPayTypeOptions}}
                </select>
            </div>

            <div class="form-group mar-l-10">
                <label class="control-label">银行账号：</label>
                <label class="control-label">
                    <input type="text" name="card-number" value="{{bankNo}}" class="money" style="width:300px;">
                    <input type="hidden" name="card-id" value="{{bankId}}" />
                </label>
            </div>
            <div class="form-group mar-l-10">
                <label class="control-label">凭证编号：</label>
                <label class="control-label">
                    <input type="text" name="credentials-number" value="{{voucher}}" />
                </label>
            </div>
            <div class="form-group mar-l-10">
                <label class="control-label">记账日期：</label>
                <label class="control-label">
                    <input type="text" name="tally-date" value="{{billTime}}" class="datepicker" style="width:140px;">
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label">备注：</label>
            <label class="control-label">
                <input type="text" class="T-sumRemark" name="sumPayRemark" value="{{sumPayRemark}}" style="width:900px;">
            </label>
        </div>
    </div>
    <input type="hidden" name="isAutoPay" value="{{isAutoPay}}" />
    <div style="clear: both"></div>
    <table class="table table-striped table-bordered table-hover all hct_align_middle">
        <thead>
            <tr><th class="th-border">收客单号</th>
                <th class="th-border">线路产品</th>
                <th class="th-border">出游日期</th>
                <th class="th-border">客户</th>
                <th class="th-border">人数</th>
                <th class="th-border">操作人</th>
                <th class="th-border">操作时间</th>
                <th class="th-border">外转金额</th>
                <th class="th-border">明细</th>
                <th class="th-border">已付金额</th>
                <th class="th-border">返款金额</th>
                <th class="th-border">结算金额</th>
                <th class="th-border">未付金额</th>
                <th class="th-border"><span class="necessary">*</span>本次付款金额</th>
                <th class="th-border">备注</th>
                <th class="th-border">对账时间</th>
                <th class="th-border">对账人</th>
                <th class="th-border">对账</th>
            </tr>
        </thead>
        <tbody class="T-clearList">
            {{each financialTransferList as rs}}
            <tr data-id="{{rs.id}}">
                <td rowspan="{{rs.rowLen}}">{{rs.orderNumber}}</td>
                <td rowspan="{{rs.rowLen}}">{{rs.lineProductName}}</td>
                <td rowspan="{{rs.rowLen}}">{{rs.accountTime | dateFormat: 'yyyy-MM-dd'}}</td>
                <td rowspan="{{rs.rowLen}}">{{if rs.partnerAgencyName == null || rs.partnerAgencyName == ""}}-{{else}}{{rs.partnerAgencyName}}{{/if}}</td>
                <td rowspan="{{rs.rowLen}}"><a href="#" class="T-option T-viewGroup" data-list="{{rs.memberList}}" title="查看小组">
                        <span class="F-float F-count">{{rs.adultCount}}</span> 大 
                        <span class="F-float F-count">{{rs.childCount}}</span> 小
                    </a>
                </td>
                <td rowspan="{{rs.rowLen}}">{{rs.operateName}}</td>
                <td rowspan="{{rs.rowLen}}">{{rs.operateTime | dateFormat: 'yyyy-MM-dd'}}</td>
                <td rowspan="{{rs.rowLen}}"><span class="F-float F-money">{{rs.needPayMoney}}</span></td>
                <td>{{if rs.outFeeList.length > 0}}
                    <!-- 若有中转结算价 -->
                        {{each rs.outFeeList as tf}}
                            {{tf.describe}}：
                            <span class="F-float F-money">{{tf.price}}</span> x
                            <span class="F-float F-count">{{tf.count}}</span> =
                            <span class="F-float F-money">{{tf.price * tf.count}}</span><br>
                        {{/each}}
                    {{else if rs.otherFeeList.length > 0}}
                    <!-- 若无中转结算价 -->
                        {{each rs.otherFeeList as of index}}
                            {{of.describe}}：
                            <span class="F-float F-money">{{of.price}}</span>x
                            <span class="F-float F-count">{{of.count}}</span>=
                            <span class="F-float F-money">{{of.price * of.count}}</span><br>
                        {{/each}}
                    {{else}}<!-- 若无费用明细 -->-
                    {{/if}}
                </td>
                <td rowspan="{{rs.rowLen}}"><a class="T-option T-payedDetail" data-money="{{rs.payedMoney}}">{{"社付："}}<span class="F-float F-money">{{rs.payedMoney}}</span></a></td> 
                {{if rs.outFeeList.length > 0}}
                <!-- 若有中转结算价 -->
                    <td><span class="F-float F-money">{{rs.outTransferBackMoney}}</span></td>
                    <td><span class="F-float F-money">{{rs.outTransferSettlementMoney}}</span></td>
                {{else}}
                <!-- 若无费用明细 -->
                    <td><span class="F-float F-money">{{rs.punishMoney}}</span></td>
                    <td><span class="F-float F-money">{{rs.settlementMoney}}</span></td>
                {{/if}}
                <td rowspan="{{rs.rowLen}}"><span class="F-float F-money">{{rs.unPayedMoney}}</span></td>
                <td rowspan="{{rs.rowLen}}"><input name="payMoney" class="money F-float F-money" type="text" value="{{rs.payMoney}}" maxlength="9"
                 data-le="{{rs.unPayedMoney}}" {{if isAutoPay != 2 && rs.unPayedMoney <= 0}} disabled {{/if}}></td>
                <td rowspan="{{rs.rowLen}}"><textarea class="col-sm-12 hct-textarea" name="payRemark" maxlength="1000" {{if isAutoPay != 2 && rs.unPayedMoney <= 0}} disabled {{/if}}>{{rs.payRemark}}</textarea></td>
                <td rowspan="{{rs.rowLen}}">{{if rs.checkTime == null || rs.checkTime == ""}}-{{else}}{{rs.checkTime | dateFormat:'yyyy-MM-dd hh:mm:ss'}}{{/if}}</td>
                <td rowspan="{{rs.rowLen}}">{{if rs.checkUserName == null || rs.checkUserName == ""}}-{{else}}{{rs.checkUserName}}{{/if}}</td>
                <td rowspan="{{rs.rowLen}}">
                    {{if rs.isConfirmAccount == 1}}已对账{{else if rs.isConfirmAccount == 0}}未对账{{/if}}
                    <a class="cursor"> |</a>
                    <a class="cursor T-option T-needPayDetail" style="border:none">查看</a>
                </td>
            </tr>
            {{if rs.outFeeList.length > 0 && rs.otherFeeList.length > 0}}
            <!-- 若有中转结算价 -->
                <tr><td>{{each rs.otherFeeList as of}}
                            {{of.describe}}：
                            <span class="F-float F-money">{{of.price}}</span> x
                            <span class="F-float F-count">{{of.count}}</span> =
                            <span class="F-float F-money">{{of.price * of.count}}</span><br>
                        {{/each}}
                    </td>
                    <td><span class="F-float F-money">{{rs.punishMoney}}</span></td>
                    <td><span class="F-float F-money">{{rs.settlementMoney}}</span></td>
                </tr>
            {{/if}}
            {{/each}} 
        </tbody>
    </table>

    <div class="row pageMode">
        <div class="col-xs-6">
            <small>共计 {{searchParam.recordSize}} 条记录</small>
        </div>
        <div class="col-xs-6">
            <div class="dataTables_paginate paging_simple_numbers T-pagenation">
            </div>
        </div>
    </div>
    <form class="form-horizontal" role="form" onsubmit="return false">
        <div class="form-group" style="text-align: center;">
            <button class="btn btn-xs btn-primary T-close-clear" style="margin-left:20px">
                <i class="ace-icon fa fa-times-circle"></i>关闭
            </button>
            <button class="btn btn-xs btn-primary T-saveClear">
                <i class="ace-icon fa fa-check-circle"></i>确认付款
            </button>
        </div>
    </form>
</div>