<!-- <div id="layer-photos-financial-count" class="imgs" style="margin: 0px auto;">
    <ul class="ace-thumbnails clearfix">
        {{each images as image}}
        <li><a href="{{image.WEB_IMG_URL_BIG}}" data-rel="colorbox"> 
        <img width="150" height="150" alt="150x150" src="{{image.WEB_IMG_URL_SMALL}}" />
        </a></li>
        {{/each}}
    </ul>
    
</div>
<style>
html{background-color:#E3E3E3; font-size:14px; color:#000; font-family:'微软雅黑'}
pre{font-family:'微软雅黑'}
.box{padding:20px; background-color:#fff; margin:50px 100px; border-radius:5px;}
#about_hide{display:none}
.layer_text{background-color:#fff; padding:20px;}
.layer_text p{margin-bottom: 10px; text-indent: 2em; line-height: 23px;}
#layer-photos-demo img{width:150px;padding:0 30px 30px;}
</style> -->
<ul class="billImageDowebok">
    {{each images as image}}
    <li><span></span><img data-original="{{image.WEB_IMG_URL_BIG}}" src="{{image.WEB_IMG_URL_SMALL}}"></li>
    {{/each}}
</ul>
