{{if editStatus != 2}}
    <div class="ui-sortable-handle widget-container-col">
        <h5 class="title-size">
            <i class="ace-icon fa fa-medkit"></i> 车费
            <a href="javascript:void(0)" class="T-buspay-add">
                <button class="btn btn-sm btn-success T-add" style="margin-left: 20px">
                    <i class="ace-icon fa fa-plus"></i>
                    新增
                </button>
            </a>
        </h5>
    </div>
{{/if}}
<div class="overflow-x min-w-1050">
    <table class="table overflow-table  table-striped table-bordered table-hover w-1500">
        <thead>
        <tr class="bg-blur">
            <th rowspan="2"><span class="necessary">*</span>开始时间</th>
            <th rowspan="2"><span class="necessary">*</span>结束时间</th>
            <th rowspan="2"><span class="necessary">*</span>任务</th>
            <th rowspan="2"><span class="necessary">*</span>所属车队</th>
            <th rowspan="2">车牌号</th>
            <th rowspan="2">座位数</th>
            <th rowspan="2"><span class="necessary">*</span>车费</th>
            <th rowspan="2">优惠</th>
            <th rowspan="2">应付</th>
            <th rowspan="2">社付</th>
            <th colspan="4">导游实销</th>
            <th rowspan="2">操作</th>
        </tr>
        <tr class="bg-blur">
            <th>导游</th>
            <th>金额</th>
            <th>单据</th>
            <th>导游报账备注</th>
        </tr>
        </thead>
        <tbody class="T-count-bus">
        {{if busCompanyArranges != null}}
            {{if busCompanyArranges.listMap.length}}
                {{each busCompanyArranges.listMap as arrange index}}
                    <tr busArrangeId="{{arrange.id}}" badStatus = "{{arrange.badStatus}}"
                    isConfirmAccount="{{arrange.isConfirmAccount}}" arrangeType="busArrange" class="oldData">
                        <td>
                            {{if guideCount > 1 }}
                            <div class="div-h-30"></div>
                            {{/if}}
                            {{arrange.startTime | dateFormat: 'yyyy-MM-dd'}}
                            <input type="hidden" name="startTime" value="{{arrange.startTime | dateFormat: 'yyyy-MM-dd'}}">
                        </td><!-- 开始时间 -->

                        <td>
                            {{if guideCount > 1 }}
                            <div class="div-h-30"></div>
                            {{/if}}
                            {{arrange.endTime | dateFormat: 'yyyy-MM-dd'}}
                            <input type="hidden" name="endTime" value="{{arrange.endTime | dateFormat: 'yyyy-MM-dd'}}">
                        </td><!-- 结束时间 -->

                        <td>
                            {{if guideCount > 1 }}
                            <div class="div-h-30"></div>
                            {{/if}}
                            {{ if arrange.taskType == 0}}
                                    全程
                                {{else if arrange.taskType == 1}}
                                    接机
                                {{else if arrange.taskType == 2}}
                                    送机
                                {{else if arrange.taskType == 3}}
                                    前段
                                {{else if arrange.taskType == 4}}
                                    中段
                                {{else if arrange.taskType == 5}}
                                    后段
                            {{/if}}
                        </td><!-- 任务 -->

                        <td>
                            {{if guideCount > 1 }}
                            <div class="div-h-30"></div>
                            {{/if}}
                            <span class="companyName">{{arrange.companyName}}</span>
                        </td><!-- 车队 -->

                        <td>
                            {{if guideCount > 1 }}
                            <div class="div-h-30"></div>
                            {{/if}}
                            {{arrange.licenseNumber}}
                        </td><!-- 车牌号 -->

                        <td>
                            {{if guideCount > 1 }}
                            <div class="div-h-30"></div>
                            {{/if}}
                            <span calss="F-float F-count">{{arrange.seatCount}}</span>
                        </td>

                        <td>
                            {{if guideCount > 1 }}
                            <div class="div-h-30"></div>
                            {{/if}}
                            {{if editStatus == 2}}
                                <span class="F-float F-money realPrice">{{arrange.realPrice}}</span>
                                <input type="hidden" name="price" value="{{arrange.realPrice}}" />
                            {{else}}
                                <input type="text" name="price" value="{{arrange.realPrice}}" class="w-70 F-float F-money" 
                                {{if arrange.isConfirmAccount == 1 || arrange.badStatus == 1}}readOnly="readOnly"{{/if}}/>
                            {{/if}}
                        </td><!-- 车费 -->

                        <td>
                            {{if guideCount > 1 }}
                            <div class="div-h-30"></div>
                            {{/if}}
                            {{if editStatus == 2}}
                                <span class="F-float F-money">{{arrange.realReduceMoney}}</span>
                                <input type="hidden" name="realReduceMoney" value="{{arrange.realReduceMoney}}" />
                            {{else}}
                                <input type="text" class="w-70 F-float F-money" name="realReduceMoney" value="{{arrange.realReduceMoney}}" 
                                {{if arrange.isConfirmAccount == 1 || arrange.badStatus == 1}}readOnly="readOnly"{{/if}}/>
                            {{/if}}
                        </td><!-- 优惠 -->

                        <td>
                            {{if guideCount > 1 }}
                            <div class="div-h-30"></div>
                            {{/if}}
                            {{if arrange.badStatus == 1}}
                                <span class="BusneedPayMoney F-float F-money">
                                    {{arrange.realNeedPayMoney}}
                                </span>
                            {{else}}
                                {{if arrange.isConfirmAccount == 1}}
                                    <span class="BusneedPayMoney F-float F-money">{{arrange.realNeedPayMoney}}</span>
                                {{else}}
                                    <span class="BusneedPayMoney F-float F-money"></span>
                                {{/if}}
                            {{/if}}
                            <input type="hidden" name="needPayMoney" value="{{arrange.realNeedPayMoney}}"/>
                        </td><!-- 应付 -->

                        <td>
                            {{if guideCount > 1 }}
                            <div class="div-h-30"></div>
                            {{/if}}
                            <span class="F-float F-money" name="payedMoney">{{arrange.payedMoney}}</span>
                        </td><!-- 社付 -->
                        
                        <td name="guideName">
                            {{if editStatus != 2 && guideCount > 1 && arrange.isConfirmAccount != 1 }}
                                <div class="div-h-30">
                                    <button class="btn btn-success btn-sm btn-white T-addGuide pull-right"> 
                                        <i class="ace-icon fa fa-plus bigger-110 icon-only"></i>
                                    </button>
                                    <!-- <a href="#" class="T-addGuide pull-right">增加</a> --><!-- 增加导游 -->
                                </div>
                            {{/if}}
                            {{if !!arrange.guideDetails && arrange.guideDetails.length}}
                                {{each arrange.guideDetails as rs index}}
                                    <div class="div-h-30 mar-t-5" index="{{index+1}}" guideId = "{{rs.id}}">
                                        {{if editStatus == 2}}
                                            <span class="guideName">{{rs.guideName}}</span>
                                        {{else}}
                                            {{if rs.guideName == '' || rs.guideName == null}}
                                                {{if guideCount > 1}}
                                                    <input name="guideArrangeId" type="hidden" />
                                                    <input name="guideName"  type="text" class="w-70" 
                                                    {{if arrange.isConfirmAccount == 1 || arrange.badStatus == 1}}disabled="disabled" {{/if}}/>
                                                {{else}}
                                                    <span>{{guideArrange.listMap[0].guideName}}</span>
                                                    <input name="guideArrangeId" type="hidden" value="{{guideArrange.listMap[0].id}}"/>
                                                {{/if}}
                                            {{else}}
                                                <span class="guideName">{{rs.guideName}}</span>
                                                <input name="guideId" value="{{rs.id}}" type="hidden" />
                                                <input name="guideName" value="{{rs.guideName}}" type="hidden" />
                                                <input name="guideArrangeId" value="{{rs.guideArrangeId}}" type="hidden" />
                                            {{/if}}
                                            {{if guideCount > 1 && arrange.isConfirmAccount != 1 }}
                                                <button class="btn btn-danger btn-sm btn-white T-delGuide pull-right"> 
                                                    <i class="ace-icon fa fa-minus bigger-110 icon-only"></i>
                                                </button>
                                            {{/if}}
                                            <!-- 删除导游 -->
                                        {{/if}}
                                    </div>
                                {{/each}}
                                {{else}}
                                    <div class="div-h-30 mar-t-5" index="1">
                                        {{if editStatus == 2}}
                                            -
                                        {{else}}
                                            {{if guideCount > 1}}
                                                {{if arrange.isConfirmAccount !=1}}
                                                    <button class="btn btn-danger btn-sm btn-white T-delGuide pull-right"> 
                                                        <i class="ace-icon fa fa-minus bigger-110 icon-only"></i>
                                                    </button>
                                                {{/if}}
                                                <input name="guideArrangeId" type="hidden" />
                                                <input name="guideName"  type="text" class="w-70" 
                                                {{if arrange.isConfirmAccount == 1 || arrange.badStatus == 1}}disabled="disabled" {{/if}}/>
                                            {{else}}
                                                <span>{{guideArrange.listMap[0].guideName}}</span>
                                                <input name="guideArrangeId" type="hidden" value="{{guideArrange.listMap[0].id}}"/>
                                            {{/if}}
                                            <!-- <a href="#" class="T-delGuide pull-right">删除</a> -->
                                            <!-- 删除导游 -->
                                        {{/if}}
                                    </div>
                            {{/if}}
                            
                        </td><!-- 导游 -->
                        
                        
                        
                        <td name="guidePayedMoney">
                            {{if guideCount > 1 }}
                            <div class="div-h-30"></div>
                            {{/if}}
                            {{if !!arrange.guideDetails && arrange.guideDetails.length}}
                                {{each arrange.guideDetails as rs index}}
                                    <div class="div-h-30 mar-t-5 " index="{{index+1}}">
                                    <p class="inline-flex">
                                        {{if editStatus == 2}}
                                            {{if rs.realPayType == 0}}
                                                现金
                                            {{else if rs.realPayType == 1}}
                                                刷卡
                                            {{else if rs.realPayType == 2}}
                                                签单
                                            {{/if}}
                                            &nbsp;&nbsp;
                                            <span class="F-float F-money">{{rs.guidePayedMoney}}</span>
                                            <input type="hidden" name="guidePayedMoney" value="{{rs.guidePayedMoney}}"/>
                                        {{else}}
                                            <select name="payType" {{if arrange.isConfirmAccount == 1 || arrange.badStatus == 1}}disabled="disabled"{{/if}}>
                                                <option value="0" {{if rs.realPayType == 0}}{{/if}}>现金</option>
                                                <option value="1" {{if rs.realPayType == 1}}selected=true{{/if}}>刷卡</option>
                                                <option value="2" {{if rs.realPayType == 2}}selected=true{{/if}}>签单</option>
                                            </select>
                                            <input type="text" name="guidePayedMoney" value="{{rs.guidePayedMoney}}" 
                                            class="F-float F-money w-70" 
                                            {{if arrange.isConfirmAccount == 1 || arrange.badStatus == 1}}readOnly="readOnly" {{/if}}/>
                                        {{/if}}
                                    </p>
                                    </div>
                                {{/each}}
                            {{else}}
                                <div class="div-h-30 mar-t-5 " index="1">
                                    <p class="inline-flex">
                                        {{if editStatus == 2}}
                                           0
                                        {{else}}
                                            <select name="payType" {{if arrange.isConfirmAccount == 1 || arrange.badStatus == 1}}disabled="disabled"{{/if}}>
                                                <option value="0" {{if rs.realPayType == 0}}{{/if}}>现金</option>
                                                <option value="1" {{if rs.realPayType == 1}}selected=true{{/if}}>刷卡</option>
                                                <option value="2" {{if rs.realPayType == 2}}selected=true{{/if}}>签单</option>
                                            </select>
                                            <input name="guidePayedMoney" type="text" class="w-70" 
                                            {{if arrange.isConfirmAccount == 1 || arrange.badStatus == 1}}readOnly="readOnly" {{/if}}/>
                                        {{/if}}
                                    </p>
                                    
                                </div>
                            {{/if}}
                        </td><!-- 金额 -->
                        
                        <td name="billImage">
                            {{if guideCount > 1 }}
                            <div class="div-h-30"></div>
                            {{/if}}
                            {{if !!arrange.guideDetails && arrange.guideDetails.length}}
                                {{each arrange.guideDetails as rs index}}
                                    <div class="div-h-30 mar-t-5" index="{{index+1}}">
                                       {{if rs.billImage != null && rs.billImage != ""}}
                                        <a href="javascript:void(0);" url="{{rs.billImage}}" class="btn-view">查看</a>
                                    {{else}}
                                        <span style="color:#bbb;">查看</span>
                                    {{/if}}
                                    </div>
                                {{/each}}
                            {{else}}

                                <div class="div-h-30 mar-t-5" index="1">
                                    {{if editStatus == 2}}
                                        -
                                    {{else}}
                                        <span style="color:#bbb;">查看</span>
                                    {{/if}}
                                </div>
                                
                            {{/if}}
                        </td><!-- 单据 -->
                        
                        <td name="billRemark">
                            {{if guideCount > 1 }}
                            <div class="div-h-30"></div>
                            {{/if}}
                            {{if !!arrange.guideDetails && arrange.guideDetails.length}}
                                {{each arrange.guideDetails as rs index}}
                                    <div class="div-h-30 mar-t-5" index="{{index+1}}">
                                        {{if editStatus == 2}}
                                            <span>{{rs.billRemark}}</span>
                                        {{else}}
                                            <input name="billRemark" value="{{rs.billRemark}}"
                                            {{if arrange.isConfirmAccount == 1 || arrange.badStatus == 1}}readOnly="readOnly" {{/if}}/>
                                        {{/if}}
                                    </div>
                                {{/each}}
                            {{else}}
                                <div class="div-h-30 mar-t-5" index="1">
                                    {{if editStatus == 2}}
                                        -
                                    {{else}}
                                        <input name="billRemark" {{if arrange.isConfirmAccount == 1 || arrange.badStatus == 1}}readOnly="readOnly" {{/if}}/>
                                    {{/if}}
                                </div>
                            {{/if}}
                        </td><!-- 备注 -->

                        <td>
                            {{if arrange.isConfirmAccount == 0}}
                                未对账
                            {{else}}
                                已对账
                            {{/if}}
                            {{if editStatus != 2}}
                                &nbsp;&nbsp;
                                {{if arrange.payedMoney == 0 &&　arrange.isConfirmAccount == 0}}
                                    <a href="javascript:void(0)" class="T-busArrDel">删除</a>
                                {{else}}
                                    <span style="color:#bbb;">删除</span>
                                {{/if}}
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
            {{/if}}
        {{/if}}
        </tbody>
    </table>
</div>

{{if tripPlan.billStatus > -1}}
    <div style="width:60%;">
        <div arrangeType="bus"> 
            <label style="margin:5px 0px 0px 0px;">财务审核批注：</label>
            <input name="accountFinancialCheckComment" {{if (!(tripPlan.billStatus == 1 && isFinance)) }}readonly="readonly"{{/if}} type="text" style="width:30%;" value="{{if remarkArrangeList.busRemark.length>0}}{{remarkArrangeList.busRemark[0].opCheckRemark}}{{/if}}" />
            <label style="margin:5px 0px 0px 10px;">计调审核批注：</label>
            <input name="accountOPCheckComment" {{if (!(tripPlan.billStatus == 0 && isOp)) }}readonly="readonly"{{/if}} type="text" style="width:30%;" value="{{if remarkArrangeList.busRemark.length>0}}{{remarkArrangeList.busRemark[0].financeCheckRemark}}{{/if}}" />
        </div>
    </div>
{{/if}}