<div class="financialCountViewLog" >
    <div class="ticketList">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover" style="margin-top: 20px">
                <thead>
                <tr>
                    <th class="th-border">序号</th>
                   	<th class="th-border">来源</th>
                   	<th class="th-border">小组联系人</th>
                   	<th class="th-border">联系人电话</th>
                   	<th class="th-border">人数</th>
                   	<th class="th-border">应收</th>
                   	<th class="th-border">已收</th>
                   	<th class="th-border">现收</th>
                    <th class="th-border">明细</th>
                   	<th class="th-border">备注</th>
                </tr>
                </thead>
                <tbody>
                {{each touristGroupList as touristGroup index}}
                <tr>
                	<td>{{index+1}}</td>
                	<td>
                	{{if touristGroup.getType == 1}}
                	旅行社系统
                	{{else if touristGroup.getType == 2}}
                	传真
                	{{else if touristGroup.getType == 3}}
                	短信
                	{{else if touristGroup.getType == 4}}
                	电话
                	{{else if touristGroup.getType == 5}}
                	QQ
                	{{/if}}
                	</td>
                	<td>{{if touristGroup.touristGroupMember != null}}{{touristGroup.touristGroupMember.name}}{{/if}}</td>
                	<td>{{if touristGroup.touristGroupMember != null}}{{touristGroup.touristGroupMember.mobileNumber}}{{/if}}</td>
                	<td>{{touristGroup.adultCount}}大{{touristGroup.childCount}}小</td>
                	<td>{{touristGroup.needPayAllMoney}}</td>
                	<td>{{touristGroup.payedMoney}}</td>
                	<td>{{touristGroup.currentNeedPayMoney}}</td>
                	<td>
                		{{if touristGroup.adultCount > 0}}
                		大人：{{touristGroup.adultPrice}}X{{touristGroup.adultCount}}={{touristGroup.adultPrice * touristGroup.adultCount}}<br />
                		小孩：{{touristGroup.childPrice}}X{{touristGroup.childCount}}={{touristGroup.childPrice * touristGroup.childCount}}<br />
                			{{each touristGroup.touristGroupFeeList as touristGroupFee}}
                				{{touristGroupFee.describeInfo}} ：{{touristGroupFee.price}}X{{touristGroupFee.count}}={{touristGroupFee.price * touristGroupFee.count}}<br />
                			{{/each}}
                		{{/if}}
                	</td>
                    <td>{{if touristGroup.transRemark != null}}{{touristGroup.transRemark}}{{/if}}</td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>