<div class="ui-sortable-handle widget-container-col">
        <h5 class="title-size">
            <i class="ace-icon fa fa-medkit"></i>房费
            <a href="javascript:void(0)" class="T-hotel-add">
                <button class="btn btn-sm btn-success T-add" style="margin-left: 20px">
                    <i class="ace-icon fa fa-plus"></i>
                    新增
                </button>
            </a>
        </h5>
</div>
<div class="overflow-x min-w-1050">
    <table class="table overflow-table table-striped table-bordered table-hover w-1500">
        <thead>
            <tr>
                <th class="th-border"><span class="necessary">*</span>时间</th>
                <th class="th-border"><span class="necessary">*</span>酒店</th>
                <th class="th-border"><span class="necessary">*</span>房型</th>
                <th class="th-border"><span class="necessary">*</span>单价</th>
                <th class="th-border"><span class="necessary">*</span>间数</th>
                <th class="th-border">优惠</th>
                <th class="th-border">应付</th>
                <th class="th-border">已付</th>
                <th class="th-border">导付</th>
                <th class="th-border">单据</th>
                <th class="th-border">差额</th>
                <th class="th-border">导游报账备注</th>
                <th class="th-border" rowspan="2">是否对账</th>
            </tr> 
        </thead>
        <tbody class="T-count-hotel">
            {{each dayList as day}}
            {{if day.hotelArrange != null}}
            {{each day.hotelArrange as arrangeList}}
            {{each arrangeList.hotelArrangeList as arrange index}}
            {{if arrange != null}}
                <tr badStatus = "{{arrange.badStatus}}" hotelArrangeId="{{arrange.id}}" hotelId="{{if arrange.hotel != null}}{{arrange.hotel.id}}{{/if}}" restaurantStandardId="{{if arrange.hotelRoom != null}}{{arrange.hotelRoom.id}}{{/if}}" whichDay = "{{arrange.whichDay}}" isConfirmAccount="{{arrange.isConfirmAccount}}">
                    {{if index == 0}}<td rowspan="{{arrangeList.hotelArrangeList.length}}"><span class="whichDay"></span></td>{{/if}}

                    {{if index == 0}}
                        <td rowspan="{{arrangeList.hotelArrangeList.length}}">
                            {{if arrange.hotel != null}}
                                <span class="nameType">
                                    {{arrange.hotel.name}}
                                </span>
                            {{/if}}
                        </td>
                    {{/if}}

                    <td>{{if arrange.hotelRoom != null}}{{arrange.hotelRoom.type}}{{/if}}</td>

                    <td>
                        {{if tripPlan.billStatus == -1}}
                            {{if arrange.badStatus == 1}}
                                <span class="F-float F-money">{{arrange.realPrice}}</span>
                            {{else}}
                                <span class="F-float F-money">{{arrange.realPrice}}</span>
                                <input type="hidden" name="price" value="{{arrange.realPrice}}" />
                            {{/if}}
                        {{else}}
                            {{if arrange.badStatus == 1}}
                                <input type="hidden" name="price" value="{{arrange.realPrice}}" readOnly="readOnly"/>
                            {{else}}
                                <input type="text" name="price" value="{{arrange.realPrice}}" class="w-80" {{if arrange.isConfirmAccount == 1}}readOnly="readOnly"{{/if}}/>
                            {{/if}}
                        {{/if}}
                    </td>

                    <td>{{if arrange.badStatus == 1}}<span class="F-float F-count">{{arrange.memberCount}}</span>{{else}}<input  class="F-float F-count w-50" type="text" name="realCount" {{if arrange.billUpdateTime !=null}}value="{{arrange.realCount}}" {{else}}value="{{arrange.memberCount}}"{{/if}} maxlength="5" 
                    {{if arrange.isConfirmAccount == 1}}readOnly="readOnly"{{/if}}/>{{/if}}
                    </td>

                    <td>{{if arrange.badStatus == 1}}<span class="F-float F-money">{{arrange.realReduceMoney}}</span>{{else}}<input type="text" class="F-float F-money w-80" name="realReduceMoney" value="{{arrange.realReduceMoney}}" old="{{arrange.realReduceMoney}}" {{if arrange.isConfirmAccount == 1}}readOnly="readOnly"{{/if}}/>{{/if}}
                    </td>

                    <td>
                    {{if arrange.badStatus == 1}}
                        <span class="hotelneedPayMoney F-float F-money">{{arrange.payedMoney+arrange.realGuidePayMoney}}</span>
                    {{else}}
                        {{if arrange.isConfirmAccount == 1}}
                            <span class="hotelneedPayMoney F-float F-money" >{{arrange.tempSettlementMoney}}</span>
                        {{else}}
                            <span class="hotelneedPayMoney"></span>
                            <input name="needPayMoney" type="hidden" value="{{arrange.needPayMoney}}">
                        {{/if}}
                    {{/if}}
                    </td>

                    <td><span class="F-float F-money">{{arrange.payedMoney}}</span></td>

                    <td>
                    <div class="inline-flex">
                    {{if arrange.badStatus == 1}}
                    <span>
                        {{if arrange.realPayType == 0}}
                            现金
                            {{else if arrange.realPayType == 1}}
                            刷卡
                            {{else if arrange.realPayType == 2}}
                            签单
                        {{/if}}
                    </span>
                    &nbsp;
                    <span class="F-float F-money">{{if arrange.realPayType == 2}}{{arrange.realSignMoney}}{{else}}{{arrange.realGuidePayMoney}}{{/if}}</span>{{else}}
                    <select name="payType" {{if arrange.isConfirmAccount == 1}}disabled="disabled"{{/if}}>
                        <option value="0" {{if arrange.realPayType == 0}}selected="selected"{{/if}}>现金</option>
                        <option value="1" {{if arrange.realPayType == 1}}selected="selected"{{/if}}>刷卡</option>
                        <option value="2" {{if arrange.realPayType == 2}}selected="selected"{{/if}}>签单</option>
                    </select>
                    &nbsp;
                    <input class="F-float F-money w-80" type="text" name="realGuidePayMoney" 
                    {{if arrange.realPayType == 2}}value="{{arrange.realSignMoney}}"{{else}}{{if arrange.billUpdateTime != null }} value="{{arrange.realGuidePayMoney}}"{{else}}value="{{arrange.guidePayMoney}}" {{/if}}  maxlength="11" {{/if}} {{if arrange.isConfirmAccount==1 }}readOnly="readOnly" {{/if}}/>{{/if}}
                        <input type="hidden" name="payedMoney" value="{{arrange.payedMoney}}" />
                        <input type="hidden" name="guidePayMoney" value="{{arrange.guidePayMoney}}" /></div></td>

                    <td>{{if arrange.billImage != null && arrange.billImage != ""}}
                            <a href="javascript:void(0);" url="{{arrange.billImage}}" class="btn-view">查看</a>
                        {{else}}
                            <span style="color:#bbb;">查看</span>
                        {{/if}}
                    </td>
                    <td><span class="difference F-float F-money"></span></td>
                    <td><input name="billRemark" value="{{arrange.billRemark}}" maxlength="1000" {{ if arrange.isConfirmAccount == 1}}readOnly="readOnly"{{/if}}/></td>
                    <td>
                        {{if arrange.isConfirmAccount == 0}}
                            未对账
                        {{else}}
                            已对账
                        {{/if}}
                        &nbsp;&nbsp;
                        {{if arrange.payedMoney == 0 &&　arrange.isConfirmAccount == 0}}
                            <a href="javascript:void(0)" class="T-hotelArrDel">删除</a>
                        {{else}}
                            <span style="color:#bbb;">删除</span>
                        {{/if}}
                    </td>
                </tr>
            {{/if}}
            {{/each}}
            {{/each}}
            {{/if}}
            {{/each}}
        </tbody>
    </table>
</div>
{{if tripPlan.billStatus > -1}}
<div style="width:60%;">
    <div> 
        <label style="margin:5px 0px 0px 0px;">财务审核批注：</label>
        <input name="accountFinancialCheckComment" {{if (!(tripPlan.billStatus == 1 && isFinance)) }}readonly="readonly"{{/if}} type="text" style="width:30%;" value="{{if remarkArrangeList.hotelRemark.length>0}}{{remarkArrangeList.hotelRemark[0].opCheckRemark}}{{/if}}" />
    
        <label style="margin:5px 0px 0px 10px;">计调审核批注：</label>
        <input name="accountOPCheckComment" {{if (!(tripPlan.billStatus == 0 && isOp)) }}readonly="readonly"{{/if}} type="text" style="width:30%;" value="{{if remarkArrangeList.hotelRemark.length>0}}{{remarkArrangeList.hotelRemark[0].financeCheckRemark}}{{/if}}" />
    </div>
</div>
{{/if}}