<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th class="th-border">保险公司</th>
        <th class="th-border">险种</th>
        <th class="th-border">单价</th>
        <th class="th-border">数量</th>
        <th class="th-border">应付</th>
        <th class="th-border">已付</th>
        <th class="th-border">导游报账备注</th>
    </tr>
    </thead>
    <tbody class="T-count-insurance">
    {{each insuranceArrangeList as insuranceArrange}}
    <tr>
    <td>{{insuranceArrange.insurance.name}}</td>
    <td>{{if insuranceArrange.type == null}}{{if insuranceArrange.insuranceItem != null}}{{insuranceArrange.insuranceItem.name}}{{/if}}{{else}}{{insuranceArrange.type}}{{/if}}</td>
    <td><span class="F-float F-money">{{insuranceArrange.price}}</span></td>
    <td><span class="F-float F-count">{{insuranceArrange.memberCount}}</span></td>
    <td><span class="F-float F-money">{{insuranceArrange.needPayMoney}}</span></td>
    <td><span class="F-float F-money">{{insuranceArrange.payedMoney}}</span></td>
    <td></td>
    </tr>
    {{/each}}
    </tbody>
</table>

{{if tripPlan.billStatus > -1}}
<div style="width:60%;">
    <div> 
        <label style="margin:5px 0px 0px 0px;">财务审核批注：</label>
        <input name="accountFinancialCheckComment" {{if (!(tripPlan.billStatus == 1 && isFinance)) }}readonly="readonly"{{/if}} type="text" style="width:30%;" value="{{if remarkArrangeList.insuranceRemark.length>0}}{{remarkArrangeList.insuranceRemark[0].opCheckRemark}}{{/if}}" />
    
        <label style="margin:5px 0px 0px 10px;">计调审核批注：</label>
        <input name="accountOPCheckComment" {{if (!(tripPlan.billStatus == 0 && isOp)) }}readonly="readonly"{{/if}} type="text" style="width:30%;" value="{{if remarkArrangeList.insuranceRemark.length>0}}{{remarkArrangeList.insuranceRemark[0].financeCheckRemark}}{{/if}}" />
    </div>
</div>
{{/if}}