<div class="ui-sortable-handle widget-container-col">
    <h5 class="title-size">
        <i class="ace-icon fa fa-medkit"></i>其它支出
        <a href="javascript:void(0)" class="T-otherOut-add">
            <button class="btn btn-sm btn-success T-add" style="margin-left: 20px">
                <i class="ace-icon fa fa-plus"></i>
                新增
            </button>
        </a>
    </h5>
</div>
<div class="overflow-x min-w-1050">
<table class="table table-striped table-bordered table-hover w-1500">
    <thead>

    <tr>
        <th class="th-border" rowspan="2"><span class="necessary">*</span>时间</th>
        <th class="th-border" rowspan="2"><span class="necessary">*</span>项目</th>
        <th class="th-border" rowspan="2"><span class="necessary">*</span>单价</th>
        <th class="th-border" rowspan="2"><span class="necessary">*</span>数量</th>
        <th class="th-border" rowspan="2">优惠</th>
        <th class="th-border" rowspan="2">应付</th>
        <th class="th-border" rowspan="2">已付</th>
        <th class="th-border" colspan="6">导游实销</th>
        <th class="th-border" rowspan="2">操作</th>
    </tr>
    <tr>
        <th class="th-border">导游</th>
        <th class="th-border">数量</th>
        <th class="th-border">付款方式</th>
        <th class="th-border">金额</th>
        <th class="th-border">单据</th>
        <th class="th-border">导游报账备注</th> 
    </tr>
    </thead>
    <tbody class="T-count-otherOut"> 
    {{if otherArrange != null}}
        {{if otherArrange.listMap.length}}
            {{each otherArrange.listMap as arrange index}}
                {{if arrange != null}}
                    <tr otherArrangeId="{{arrange.id}}" badStatus = "{{arrange.badStatus}}" whichDay="{{arrange.whichDay}}" 
                    isConfirmAccount="{{arrange.isConfirmAccount}}" arrangeType="otherArrange">
                        <td >
                            <span class="whichDay">{{arrange.dateTime | dateFormat: 'yyyy-MM-dd'}}</span>
                        </td><!-- 日期 -->

                        <td>
                            <span class="otherName">{{arrange.otherName}}</span>
                        </td><!-- 其他安排 -->

                        <td>
                            {{if tripPlan.billStatus == -1}}
                                {{if arrange.badStatus == 1}}
                                    <span class="F-float F-money">{{arrange.realPrice}}</span>
                                {{else}} 
                                    <span class="price F-float F-money">{{arrange.realPrice}}</span>
                                {{/if}}
                                    <input type="hidden" name="price" value="{{arrange.realPrice}}"/>
                            {{else}}
                                {{if editStatus == 2}}
                                    <span class="F-float F-money">{{arrange.realPrice}}</span>
                                    <input type="hidden" name="price" value="{{arrange.realPrice}}"/>
                                {{else}}
                                    {{if arrange.badStatus == 1}}
                                        <input type="text" name="price" value="{{arrange.realPrice}}"readOnly="readOnly" class="w-80" />
                                    {{else}}
                                        <input type="text" name="price" class="w-80" value="{{arrange.realPrice}}" 
                                               {{if arrange.isConfirmAccount == 1}}readOnly="readOnly"{{/if}}/>
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        </td><!-- 单价 -->

                        <td>
                        {{if arrange.badStatus == 1}}
                            <span class="F-float F-count">{{arrange.realCount}}</span>
                            <input type="hidden" name="realCount" value="{{arrange.realCount}}">
                        {{else}}
                            {{if editStatus == 2}}
                                <span class="F-float F-count">{{arrange.realCount}}</span>
                                <input type="hidden" name="realCount" value="{{arrange.realCount}}">
                            {{else}}
                                <input  type="text" class="F-float F-count w-50" name="realCount" value="{{arrange.realCount}}" readOnly="readOnly"/>
                            {{/if}}
                        {{/if}}
                       </td><!-- 数量 -->

                        <td>
                            {{if arrange.badStatus == 1}}
                                <span class="F-float F-money ">{{arrange.realReduceMoney}}</span>
                                <input type="hidden" name="realReduceMoney" value="{{arrange.realReduceMoney}}">
                            {{else}}
                                {{if editStatus == 2}}
                                    <span class="F-float F-money ">{{arrange.realReduceMoney}}</span>
                                    <input type="hidden" name="realReduceMoney" value="{{arrange.realReduceMoney}}">
                                {{else}}
                                    <input type="text" name="realReduceMoney" class="F-float F-money w-80" value="{{arrange.realReduceMoney}}" {{if arrange.isConfirmAccount == 1}}readOnly="readOnly"{{/if}}/>
                                {{/if}}
                            {{/if}}

                        </td><!-- 优惠 -->

                        <td>
                            <span class="realNeedPayMoney F-float F-money">{{arrange.realNeedPayMoney}}</span>
                            <input type="hidden" name="realNeedPayMoney" value="{{arrange.realNeedPayMoney}}">
                        </td><!-- 应付 -->

                        <td><span class="F-float F-money">{{arrange.payedMoney}}</span></td><!-- 已付 -->

                        <td name="guideName">
                            <div class="div-h-30">
                                {{if editStatus != 2}}
                                    <button class="btn btn-success btn-sm btn-white T-addGuide pull-right"> 
                                        <i class="ace-icon fa fa-plus bigger-110 icon-only"></i>
                                    </button>
                                    <!-- <a href="#" class="T-addGuide pull-right">增加</a> --><!-- 增加导游 -->
                                {{/if}}
                            </div>
                            {{if !!arrange.guideDetails && arrange.guideDetails.length}}
                                {{each arrange.guideDetails as rs index}}
                                    <div class="div-h-30 mar-t-5" index="{{index+1}}" guideId = "{{rs.id}}">
                                        {{if editStatus == 2}}
                                            <span class="guideName">{{rs.guideName}}</span>
                                        {{else}}
                                            <span class="guideName">{{rs.guideName}}</span>
                                            <input name="guideId" value="{{rs.id}}" type="hidden" />
                                            <input name="guideName" value="{{rs.guideName}}" type="hidden" />
                                            <input name="guideArrangeId" value="{{rs.guideArrangeId}}" type="hidden" />
                                            <button class="btn btn-danger btn-sm btn-white T-delGuide pull-right"> 
                                                <i class="ace-icon fa fa-minus bigger-110 icon-only"></i>
                                            </button>
                                            <!-- 删除导游 -->
                                        {{/if}}
                                    </div>
                                {{/each}}
                                {{else}}
                                    <div class="div-h-30 mar-t-5" index="1">
                                        {{if editStatus == 2}}
                                            -
                                        {{else}}
                                            <input name="guideArrangeId" type="hidden" />
                                            <input name="guideName"  type="text" class="w-80" {{if arrange.isConfirmAccount==1 }}readOnly="readOnly" {{/if}}/>
                                            <button class="btn btn-danger btn-sm btn-white T-delGuide pull-right"> 
                                                <i class="ace-icon fa fa-minus bigger-110 icon-only"></i>
                                            </button>
                                            <!-- <a href="#" class="T-delGuide pull-right">删除</a> -->
                                            <!-- 删除导游 -->
                                        {{/if}}
                                    </div>
                            {{/if}}
                            
                        </td><!-- 导游 -->

                        <td name="guideRealCount">
                            <div class="div-h-30"></div>
                            {{if !!arrange.guideDetails && arrange.guideDetails.length}}
                                {{each arrange.guideDetails as rs index}}
                                    <div class="div-h-30 mar-t-5" index="{{index+1}}">
                                        {{if editStatus == 2}}
                                            <span class="F-float F-money">{{rs.realCount}}</span>
                                            <input type="hidden" name="guideRealCount" value="{{rs.realCount}}"/>
                                        {{else}}
                                            <input type="text" name="guideRealCount" value="{{rs.realCount}}" 
                                            class="F-float F-money w-50" 
                                            {{if arrange.isConfirmAccount==1 }}readOnly="readOnly" {{/if}}/>
                                        {{/if}}
                                    </div>
                                {{/each}}
                                {{else}}
                                <div class="div-h-30 mar-t-5" index="1">
                                    {{if editStatus == 2}}
                                        -
                                    {{else}}
                                        <input name="guideRealCount" type="text" class="w-50" {{if arrange.isConfirmAccount==1 }}readOnly="readOnly" {{/if}}/>
                                    {{/if}}
                                    
                                </div>
                            {{/if}}
                        </td><!-- 数量 -->
                        
                        <td name="payType">
                            <div class="div-h-30"></div>
                            {{if !!arrange.guideDetails && arrange.guideDetails.length}}
                                {{each arrange.guideDetails as rs index}}
                                    <div class="div-h-30 mar-t-5" index="{{index+1}}">
                                        {{if editStatus == 2}}
                                            {{if rs.realPayType == 0}}
                                                现金
                                            {{else if rs.realPayType == 1}}
                                                刷卡
                                            {{else if rs.realPayType == 2}}
                                                签单
                                            {{/if}}
                                        {{else}}
                                            <select name="payType" {{if arrange.isConfirmAccount == 1}}disabled="disabled"{{/if}}>
                                                <option value="0" {{if rs.realPayType == 0}}{{/if}}>现金</option>
                                                <option value="1" {{if rs.realPayType == 1}}selected=true{{/if}}>刷卡</option>
                                                <option value="2" {{if rs.realPayType == 2}}selected=true{{/if}}>签单</option>
                                            </select>
                                        {{/if}}
                                    </div>
                                {{/each}}
                            {{else}}
                                <div class="div-h-30 mar-t-5" index="1" {{if arrange.isConfirmAccount == 1}}disabled="disabled"{{/if}}>
                                    {{if editStatus == 2}}
                                        -
                                    {{else}}
                                        <select name="payType">
                                            <option value="0" >现金</option>
                                            <option value="1" >刷卡</option>
                                            <option value="2" >签单</option>
                                        </select>
                                    {{/if}}
                                </div>
                            {{/if}}
                        </td><!-- 付款方式 -->
                        
                        <td name="guidePayedMoney">
                            <div class="div-h-30"></div>
                            {{if !!arrange.guideDetails && arrange.guideDetails.length}}
                                {{each arrange.guideDetails as rs index}}
                                    <div class="div-h-30 mar-t-5" index="{{index+1}}">
                                        {{if editStatus == 2}}
                                            <span class="F-float F-money">{{rs.guidePayedMoney}}</span>
                                            <input type="hidden" name="guidePayedMoney" value="{{rs.guidePayedMoney}}"/>
                                        {{else}}
                                            <input type="text" name="guidePayedMoney" value="{{rs.guidePayedMoney}}" 
                                            class="F-float F-money w-80" 
                                            {{if arrange.isConfirmAccount==1 }}readOnly="readOnly" {{/if}}/>
                                        {{/if}}
                                    </div>
                                {{/each}}
                            {{else}}
                                {{if editStatus == 2}}
                                   0
                                {{else}}
                                    <input name="guidePayedMoney" type="text" class="w-80" {{if arrange.isConfirmAccount==1 }}readOnly="readOnly" {{/if}}/>
                                {{/if}}
                                <div class="div-h-30 mar-t-5" index="1">
                                    
                                </div>
                            {{/if}}
                        </td><!-- 金额 -->
                        
                        <td name="billImage">
                            <div class="div-h-30"></div>
                            {{if !!arrange.guideDetails && arrange.guideDetails.length}}
                                {{each arrange.guideDetails as rs index}}
                                    <div class="div-h-30 mar-t-5" index="{{index+1}}">
                                       {{if rs.billImage != null && rs.billImage != ""}}
                                        <a href="javascript:void(0);" url="{{rs.billImage}}" class="btn-view">查看</a>
                                    {{else}}
                                        <span style="color:#bbb;">查看</span>
                                    {{/if}}
                                    </div>
                                {{/each}}
                            {{else}}

                                <div class="div-h-30 mar-t-5" index="1">
                                    {{if editStatus == 2}}
                                        -
                                    {{else}}
                                        <span style="color:#bbb;">查看</span>
                                    {{/if}}
                                </div>
                                
                            {{/if}}
                        </td><!-- 单据 -->
                        
                        <td name="billRemark">
                            <div class="div-h-30"></div>
                            {{if !!arrange.guideDetails && arrange.guideDetails.length}}
                                {{each arrange.guideDetails as rs index}}
                                    <div class="div-h-30 mar-t-5" index="{{index+1}}">
                                        {{if editStatus == 2}}
                                            <span>{{rs.billRemark}}</span>
                                        {{else}}
                                            <input name="billRemark" value="{{rs.billRemark}}"
                                            {{if arrange.isConfirmAccount==1 }}readOnly="readOnly" {{/if}}/>
                                        {{/if}}
                                    </div>
                                {{/each}}
                            {{else}}
                                <div class="div-h-30 mar-t-5" index="1">
                                    {{if editStatus == 2}}
                                        -
                                    {{else}}
                                        <input name="billRemark" {{if arrange.isConfirmAccount==1 }}readOnly="readOnly" {{/if}}/>
                                    {{/if}}
                                </div>
                            {{/if}}
                        </td><!-- 备注 -->

                        <td>
                            {{if arrange.isConfirmAccount == 0}}
                                未对账
                            {{else}}
                                已对账
                            {{/if}}
                            {{if editStatus != 2}}
                                &nbsp;&nbsp;
                                {{if arrange.payedMoney == 0 &&　arrange.isConfirmAccount == 0}}
                                    <a href="javascript:void(0)" class="T-otherOutArrDel">删除</a>
                                {{else}}
                                    <span style="color:#bbb;">删除</span>
                                {{/if}}
                            {{/if}}
                        </td>
                    </tr>
                {{/if}}
            {{/each}}
        {{/if}}
        {{else}}
        <tr><td colspan="14">暂无记录！</td></tr>
    {{/if}}
    </tbody>
</table>
</div>
{{if tripPlan.billStatus > -1}}
    <div style="width:60%;">
        <div> 
            <label style="margin:5px 0px 0px 0px;">财务审核批注：</label>
            <input name="accountFinancialCheckComment" {{if !isFinance}}readonly="readonly"{{/if}} type="text" style="width:30%;" value="{{if remarkArrangeList.otherOutRemark.length>0}}{{remarkArrangeList.otherOutRemark[0].opCheckRemark}}{{/if}}" />
        
            <label style="margin:5px 0px 0px 10px;">计调审核批注：</label>
            <input name="accountOPCheckComment" {{if (!(tripPlan.billStatus == 0 && isOp)) }}readonly="readonly"{{/if}} type="text" style="width:30%;" value="{{if remarkArrangeList.otherOutRemark.length>0}}{{remarkArrangeList.otherOutRemark[0].financeCheckRemark}}{{/if}}" />
        </div>
    </div>
{{/if}}