<div class="col-sm-12 countUpdate min-w-1050 overflow-x">
    <table class="table table-striped table-bordered table-hover all T-main-table">
        <tbody>
            <tr style="">
                <td><label style="font-weight: bold;">线路：</label></td>
                <td><label style="font-weight: bold;">团队人数：</label></td>
                <td><label style="font-weight: bold;">出团日期：</label></td>
                <td><label style="font-weight: bold;">完团日期：<span class="T-ProductDays" style="font-weight: bold;"></span></label></td>
                <td><a href="javascript:void(0)" class="T-export">导出</a></td>
            </tr>
            <tr>
                <td><label style="font-weight: bold;">团号：</label></td>
                <td><label style="font-weight: bold;">责任计调：</label></td>
                <td colspan="3"><label style="font-weight: bold;">导游：</label></td>
            </tr>
            <tr>
                <td colspan="5"></td>
            </tr>
        </tbody>
    </table>
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active align-center" style="width:140px;">
                <a data-toggle="tab" href="#financial-count-trip-income" aria-expanded="true">发团收入明细</a>
            </li>
            <li class="align-center" style="width:140px;">
                <a data-toggle="tab" href="#financial-count-trip-cost" aria-expanded="true">发团成本明细</a>
            </li>
            <li class="align-center" style="width:140px;">
                <a data-toggle="tab" href="#financial-count-transit-cost" aria-expanded="true">中转成本明细</a>
            </li>
        </ul>
        <div class="tab-content" style="position:relative;top: -2px">
            <!-- 发团收入明细 -->
            <div id="financial-count-trip-income" class="tab-pane fade active in">
                <!-- 团款-->
                <div class="form-group tripCost">
                    <div class="col-xs-12 col-sm-12 widget-container-col">
                        <div class=" ui-sortable-handle">
                                <h5>
                                    <span class="badge badge-primary">1</span>
                                    <label class="middle title-size">团款</label>
                                </h5>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <table class="table table-striped table-bordered table-hover" >
                                        <thead>
                                            <tr>
                                                <th class="th-border">收客单号</th>
                                                <th class="th-border">客户</th>
                                                <th class="th-border">客户联系人</th>
                                                <th class="th-border">游客联系人</th>
                                                <th class="th-border">人数</th>
                                                <th class="th-border">明细</th>
                                                <th class="th-border">应收</th>
                                                <th class="th-border">结算</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="6" style="text-align:left">合计</td>
                                                <td class="td-border">11</td>
                                                <td class="td-border">22</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 购物-->
                <div class="form-group tripShop">
                    <div class="col-xs-12 col-sm-12 widget-container-col">
                        <div class=" ui-sortable-handle">
                                <h5>
                                    <span class="badge badge-primary">2</span>
                                    <label class="middle title-size">购物</label>
                                </h5>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <table class="table table-striped table-bordered table-hover" >
                                        <thead>
                                            <tr>
                                                <th class="th-border" colspan="5">打单</th>
                                                <th class="th-border" colspan="2">社佣</th>
                                                <th class="th-border" colspan="2">导佣</th>
                                                <th class="th-border" rowspan="2">应收</th>
                                                <th class="th-border" rowspan="2">结算</th>
                                            </tr>
                                            <tr>
                                              <th class="th-border">时间</th>
                                              <th class="th-border">购物店</th>
                                              <th class="th-border">商品</th>
                                              <th class="th-border">打单金额</th>
                                              <th class="th-border">单据</th>
                                              <th class="th-border">比例%</th>
                                              <th class="th-border">返佣</th>
                                              <th class="th-border">比例%</th>
                                              <th class="th-border">返佣</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="9" style="text-align:left">合计</td>
                                                <td>11</td>
                                                <td>22</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 自费-->
                <div class="form-group tripSelf">
                    <div class="col-xs-12 col-sm-12 widget-container-col">
                        <div class=" ui-sortable-handle">
                                <h5>
                                    <span class="badge badge-primary">3</span>
                                    <label class="middle title-size">自费</label>
                                </h5>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <table class="table table-striped table-bordered table-hover margin-top" >
                                        <thead>
                                            <tr>
                                                <th class="th-border">日期</th>
                                                <th class="th-border">项目</th>
                                                <th class="th-border">单价 </th>
                                                <th class="th-border">数量</th>
                                                <th class="th-border">单据</th>
                                                <th class="th-border">应收</th>
                                                <th class="th-border">结算</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="5" style="text-align:left">合计</td>
                                                <td class="td-border">11</td>
                                                <td class="td-border">22</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 导游管理费-->
                <div class="form-group tripCost">
                    <div class="col-xs-12 col-sm-12 widget-container-col">
                        <div class=" ui-sortable-handle">
                                <h5>
                                    <span class="badge badge-primary">4</span>
                                    <label class="middle title-size">导游管理费</label>
                                </h5>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <table class="table table-striped table-bordered table-hover margin-top" >
                                        <thead>
                                            <tr>
                                                <th class="th-border">开始日期</th>
                                                <th class="th-border">结束日期</th>
                                                <th class="th-border">任务</th>
                                                <th class="th-border">导游</th>
                                                <th class="th-border">管理费</th>
                                                <th class="th-border">应收</th>
                                                <th class="th-border">结算</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="5" style="text-align:left">合计</td>
                                                <td class="td-border">11</td>
                                                <td class="td-border">22</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 其他收入-->
                <div class="form-group tripOtherIn">
                    <div class="col-xs-12 col-sm-12 widget-container-col">
                        <div class=" ui-sortable-handle">
                                <h5>
                                    <span class="badge badge-primary">5</span>
                                    <label class="middle title-size">其他收入</label>
                                </h5>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <table class="table table-striped table-bordered table-hover margin-top" >
                                        <thead>
                                            <tr>
                                                <th class="th-border">日期</th>
                                                <th class="th-border">项目</th>
                                                <th class="th-border">单价</th>
                                                <th class="th-border">数量</th>
                                                <th class="th-border">单据</th>
                                                <th class="th-border">应收</th>
                                                <th class="th-border">结算</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="5" style="text-align:left">合计</td>
                                                <td class="td-border">11</td>
                                                <td class="td-border">22</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear:both;height:0px;line-height:0px;"></div>
            </div>

            <!-- 发团成本明细 -->
            <div id="financial-count-trip-cost" class="tab-pane fade T-bus">
                <!-- 保险-->
                <div class="form-group insurance">
                    <div class="col-xs-12 col-sm-12 widget-container-col">
                        <div class=" ui-sortable-handle">
                                <h5>
                                    <span class="badge badge-primary">1</span>
                                    <label class="middle title-size">保险</label>
                                </h5>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <table class="table table-striped table-bordered table-hover" >
                                        <thead>
                                            <tr>
                                                <th class="th-border">保险公司</th>
                                                <th class="th-border">险种</th>
                                                <th class="th-border">单价</th>
                                                <th class="th-border">数量</th>
                                                <th class="th-border">应收</th>
                                                <th class="th-border">结算</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="4" style="text-align:left">合计</td>
                                                <td class="td-border">11</td>
                                                <td class="td-border">22</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 车费-->
                <div class="form-group busFee">
                    <div class="col-xs-12 col-sm-12 widget-container-col">
                        <div class=" ui-sortable-handle">
                                <h5>
                                    <span class="badge badge-primary">2</span>
                                    <label class="middle title-size">车费</label>
                                </h5>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <table class="table table-striped table-bordered table-hover" >
                                        <thead>
                                            <tr>
                                                <th class="th-border">开始日期</th>
                                                <th class="th-border">结束日期</th>
                                                <th class="th-border">任务</th>
                                                <th class="th-border">车队</th>
                                                <th class="th-border">车牌号</th>
                                                <th class="th-border">司机</th>
                                                <th class="th-border">优惠</th>
                                                <th class="th-border">单据</th>
                                                <th class="th-border">应付</th>
                                                <th class="th-border">结算</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="8" style="text-align:left">合计</td>
                                                <td class="td-border">11</td>
                                                <td class="td-border">22</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 餐厅-->
                <div class="form-group restaurant">
                    <div class="col-xs-12 col-sm-12 widget-container-col">
                        <div class=" ui-sortable-handle">
                                <h5>
                                    <span class="badge badge-primary">3</span>
                                    <label class="middle title-size">餐厅</label>
                                </h5>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <table class="table table-striped table-bordered table-hover" >
                                        <thead>
                                            <tr>
                                                <th class="th-border">日期</th>
                                                <th class="th-border">餐厅</th>
                                                <th class="th-border">类型</th>
                                                <th class="th-border">餐标(元/人)</th>
                                                <th class="th-border">人数</th>
                                                <th class="th-border">优惠</th>
                                                <th class="th-border">单据</th>
                                                <th class="th-border">应付</th>
                                                <th class="th-border">结算</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="7" style="text-align:left">合计</td>
                                                <td class="td-border">11</td>
                                                <td class="td-border">22</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 房费-->
                <div class="form-group hotel">
                    <div class="col-xs-12 col-sm-12 widget-container-col">
                        <div class=" ui-sortable-handle">
                                <h5>
                                    <span class="badge badge-primary">4</span>
                                    <label class="middle title-size">房费</label>
                                </h5>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <table class="table table-striped table-bordered table-hover" >
                                        <thead>
                                            <tr>
                                                <th class="th-border">日期</th>
                                                <th class="th-border">酒店</th>
                                                <th class="th-border">房型</th>
                                                <th class="th-border">单价</th>
                                                <th class="th-border">数量</th>
                                                <th class="th-border">优惠</th>
                                                <th class="th-border">单据</th>
                                                <th class="th-border">应付</th>
                                                <th class="th-border">结算</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="7" style="text-align:left">合计</td>
                                                <td class="td-border">11</td>
                                                <td class="td-border">22</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 景区-->
                <div class="form-group scenic">
                    <div class="col-xs-12 col-sm-12 widget-container-col">
                        <div class=" ui-sortable-handle">
                                <h5>
                                    <span class="badge badge-primary">5</span>
                                    <label class="middle title-size">景区</label>
                                </h5>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <table class="table table-striped table-bordered table-hover" >
                                        <thead>
                                            <tr>
                                                <th class="th-border">日期</th>
                                                <th class="th-border">景区</th>
                                                <th class="th-border">收费项目</th>
                                                <th class="th-border">单价</th>
                                                <th class="th-border">数量</th>
                                                <th class="th-border">优惠</th>
                                                <th class="th-border">单据</th>
                                                <th class="th-border">应付</th>
                                                <th class="th-border">结算</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="7" style="text-align:left">合计</td>
                                                <td class="td-border">11</td>
                                                <td class="td-border">22</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 票务-->
                <div class="form-group ticket">
                    <div class="col-xs-12 col-sm-12 widget-container-col">
                        <div class=" ui-sortable-handle">
                                <h5>
                                    <span class="badge badge-primary">6</span>
                                    <label class="middle title-size">票务</label>
                                </h5>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <table class="table table-striped table-bordered table-hover" >
                                        <thead>
                                            <tr>
                                                <th class="th-border">日期</th>
                                                <th class="th-border">票务商家</th>
                                                <th class="th-border">类型</th>
                                                <th class="th-border">班次</th>
                                                <th class="th-border">出发地</th>
                                                <th class="th-border">目的地</th>
                                                <th class="th-border">座位级别</th>
                                                <th class="th-border">单价</th>
                                                <th class="th-border">票数</th>
                                                <th class="th-border">优惠</th>
                                                <th class="th-border">单据</th>
                                                <th class="th-border">应付</th>
                                                <th class="th-border">结算</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="11" style="text-align:left">合计</td>
                                                <td class="td-border">11</td>
                                                <td class="td-border">22</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 自费-->
                <div class="form-group self">
                    <div class="col-xs-12 col-sm-12 widget-container-col">
                        <div class=" ui-sortable-handle">
                                <h5>
                                    <span class="badge badge-primary">7</span>
                                    <label class="middle title-size">自费</label>
                                </h5>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <table class="table table-striped table-bordered table-hover" >
                                        <thead>
                                            <tr>
                                                <th class="th-border">日期</th>
                                                <th class="th-border">自费商家</th>
                                                <th class="th-border">项目</th>
                                                <th class="th-border">底价</th>
                                                <th class="th-border">应付数量</th>
                                                <th class="th-border">优惠</th>
                                                <th class="th-border">单据</th>
                                                <th class="th-border">应付</th>
                                                <th class="th-border">结算</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="7" style="text-align:left">合计</td>
                                                <td class="td-border">11</td>
                                                <td class="td-border">22</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 其他支出-->
                <div class="form-group otherOut">
                    <div class="col-xs-12 col-sm-12 widget-container-col">
                        <div class=" ui-sortable-handle">
                                <h5>
                                    <span class="badge badge-primary">8</span>
                                    <label class="middle title-size">其他支出</label>
                                </h5>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <table class="table table-striped table-bordered table-hover" >
                                        <thead>
                                            <tr>
                                                <th class="th-border">日期</th>
                                                <th class="th-border">项目</th>
                                                <th class="th-border">单价</th>
                                                <th class="th-border">数量</th>
                                                <th class="th-border">优惠</th>
                                                <th class="th-border">单据</th>
                                                <th class="th-border">应付</th>
                                                <th class="th-border">结算</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="6" style="text-align:left">合计</td>
                                                <td class="td-border">11</td>
                                                <td class="td-border">22</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 导游支出-->
                <div class="form-group scenic">
                    <div class="col-xs-12 col-sm-12 widget-container-col">
                        <div class=" ui-sortable-handle">
                                <h5>
                                    <span class="badge badge-primary">9</span>
                                    <label class="middle title-size">导游支出</label>
                                </h5>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <table class="table table-striped table-bordered table-hover" >
                                        <thead>
                                            <tr>
                                                <th class="th-border">开始日期</th>
                                                <th class="th-border">结束日期</th>
                                                <th class="th-border">任务</th>
                                                <th class="th-border">导游</th>
                                                <th class="th-border">导服费</th>
                                                <th class="th-border">购物导佣</th>
                                                <th class="th-border">自费导佣</th>
                                                <th class="th-border">应付</th>
                                                <th class="th-border">结算</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="7" style="text-align:left">合计</td>
                                                <td class="td-border">11</td>
                                                <td class="td-border">22</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear:both;height:0px;line-height:0px;"></div>
            </div>

            <!-- 中转成本明细 -->
            <div id="financial-count-transit-cost" class="tab-pane fade T-bus">
                <!-- 车费-->
                <div class="form-group transitBus">
                    <div class="col-xs-12 col-sm-12 widget-container-col">
                        <div class=" ui-sortable-handle">
                                <h5>
                                    <span class="badge badge-primary">1</span>
                                    <label class="middle title-size">车费</label>
                                </h5>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <table class="table table-striped table-bordered table-hover margin-top" >
                                        <thead>
                                            <tr>
                                                <th class="th-border">中转单号</th>
                                                <th class="th-border">客户</th>
                                                <th class="th-border">游客联系人</th>
                                                <th class="th-border">人数</th>
                                                <th class="th-border">用车时间</th>
                                                <th class="th-border">车队</th>
                                                <th class="th-border">车牌号</th>
                                                <th class="th-border">司机</th>
                                                <th class="th-border">车费</th>
                                                <th class="th-border">优惠</th>
                                                <th class="th-border">应付</th>
                                                <th class="th-border">结算</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="10" style="text-align:left">合计</td>
                                                <td class="td-border">11</td>
                                                <td class="td-border">22</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 房费-->
                <div class="form-group transitHotel">
                    <div class="col-xs-12 col-sm-12 widget-container-col">
                        <div class=" ui-sortable-handle">
                                <h5>
                                    <span class="badge badge-primary">2</span>
                                    <label class="middle title-size">房费</label>
                                </h5>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <table class="table table-striped table-bordered table-hover margin-top" >
                                        <thead>
                                            <tr>
                                                <th class="th-border">中转单号</th>
                                                <th class="th-border">客户</th>
                                                <th class="th-border">游客联系人</th>
                                                <th class="th-border">人数</th>
                                                <th class="th-border">日期</th>
                                                <th class="th-border">酒店</th>
                                                <th class="th-border">房型</th>
                                                <th class="th-border">单价</th>
                                                <th class="th-border">数量</th>
                                                <th class="th-border">优惠</th>
                                                <th class="th-border">应付</th>
                                                <th class="th-border">结算</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="10" style="text-align:left">合计</td>
                                                <td class="td-border">11</td>
                                                <td class="td-border">22</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 餐费-->
                <div class="form-group transitRest">
                    <div class="col-xs-12 col-sm-12 widget-container-col">
                        <div class=" ui-sortable-handle">
                                <h5>
                                    <span class="badge badge-primary">3</span>
                                    <label class="middle title-size">餐费</label>
                                </h5>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <table class="table table-striped table-bordered table-hover margin-top" >
                                        <thead>
                                            <tr>
                                                <th class="th-border">中转单号</th>
                                                <th class="th-border">客户</th>
                                                <th class="th-border">游客联系人</th>
                                                <th class="th-border">人数</th>
                                                <th class="th-border">日期</th>
                                                <th class="th-border">餐厅</th>
                                                <th class="th-border">类型</th>
                                                <th class="th-border">餐标(元/人)</th>
                                                <th class="th-border">人数</th>
                                                <th class="th-border">优惠</th>
                                                <th class="th-border">应付</th>
                                                <th class="th-border">结算</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="10" style="text-align:left">合计</td>
                                                <td class="td-border">11</td>
                                                <td class="td-border">22</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 票务-->
                <div class="form-group transitTicket">
                    <div class="col-xs-12 col-sm-12 widget-container-col">
                        <div class=" ui-sortable-handle">
                                <h5>
                                    <span class="badge badge-primary">4</span>
                                    <label class="middle title-size">票务</label>
                                </h5>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <table class="table table-striped table-bordered table-hover margin-top" >
                                        <thead>
                                            <tr>
                                                <th class="th-border">中转单号</th>
                                                <th class="th-border">客户</th>
                                                <th class="th-border">游客联系人</th>
                                                <th class="th-border">人数</th>
                                                <th class="th-border">日期</th>
                                                <th class="th-border">票务商家</th>
                                                <th class="th-border">类型</th>
                                                <th class="th-border">班次</th>
                                                <th class="th-border">出发地</th>
                                                <th class="th-border">目的地</th>
                                                <th class="th-border">座位级别</th>
                                                <th class="th-border">单价</th>
                                                <th class="th-border">票数</th>
                                                <th class="th-border">优惠</th>
                                                <th class="th-border">应付</th>
                                                <th class="th-border">结算</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="14" style="text-align:left">合计</td>
                                                <td class="td-border">11</td>
                                                <td class="td-border">22</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 其他-->
                <div class="form-group transitOther">
                    <div class="col-xs-12 col-sm-12 widget-container-col">
                        <div class=" ui-sortable-handle">
                                <h5>
                                    <span class="badge badge-primary">5</span>
                                    <label class="middle title-size">其他</label>
                                </h5>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <table class="table table-striped table-bordered table-hover margin-top" >
                                        <thead>
                                            <tr>
                                                <th class="th-border">中转单号</th>
                                                <th class="th-border">客户</th>
                                                <th class="th-border">游客联系人</th>
                                                <th class="th-border">人数</th>
                                                <th class="th-border">日期</th>
                                                <th class="th-border">项目</th>
                                                <th class="th-border">单价</th>
                                                <th class="th-border">数量</th>
                                                <th class="th-border">优惠</th>
                                                <th class="th-border">应付</th>
                                                <th class="th-border">结算</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="9" style="text-align:left">合计</td>
                                                <td class="td-border">11</td>
                                                <td class="td-border">22</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear:both;height:0px;line-height:0px;"></div>
            </div>
        </div>
    </div>
</div>