<div class="ui-sortable-handle widget-container-col">
    <h5 class="title-size">
        <i class="ace-icon fa fa-medkit"></i> 自费安排
        <a href="javascript:void(0)" class="T-addSelf">
            <button class="btn btn-sm btn-success T-add" style="margin-left: 20px">
                <i class="ace-icon fa fa-plus"></i>
                新增
            </button>
        </a>
    </h5>
</div>
<div class="overflow-x min-w-1050">
    <table class="table overflow-table table-striped table-bordered table-hover w-1400">
        <thead>
        <tr>
            <th class="th-border" colspan="16">消费</th>
            <th class="th-border" colspan="2">社佣</th>
            <th class="th-border" colspan="2">导佣</th>
            <th class="th-border" rowspan="2">导游报账备注</th>
            <th class="th-border" rowspan="2">人数返佣</th>
            <th class="th-border" rowspan="2">是否对账</th>
        </tr>
        <tr>
          <th class="th-border"><span class="necessary">*</span>时间</th>
          <th class="th-border"><span class="necessary">*</span>自费商家</th>
          <th class="th-border"><span class="necessary">*</span>项目</th>
          <th class="th-border"><span class="necessary">*</span>单价</th>
          <th class="th-border"><span class="necessary">*</span>导游</th>
          <th class="th-border"><span class="necessary">*</span>应收数量</th>
          <th class="th-border">应收优惠</th>
          <th class="th-border">应收</th>
          <th class="th-border">现收</th>
          <th class="th-border"><span class="necessary">*</span>底价</th>
          <th class="th-border"><span class="necessary">*</span>应付数量</th>
          <th class="th-border">优惠</th>
          <th class="th-border">应付</th>
          <th class="th-border">已付</th>
          <th class="th-border">导付</th>
          <th class="th-border">单据</th>
          <th class="th-border"><span class="necessary">*</span>比例%</th>
          <th class="th-border">返佣</th>
          <th class="th-border"><span class="necessary">*</span>比例%</th>
          <th class="th-border">返佣</th>
          
        </tr></thead>
        <tbody class="T-count-selfPay">
        {{if selfpayArrange != null}}
            {{if selfpayArrange.listMap.length}}
                {{each selfpayArrange.listMap as arrange index}}
                    <tr selfPayItemId="{{arrange.id}}" badStatus = "{{arrange.badStatus}}" whichDay = "{{arrange.whichDay}}"
                        isConfirmAccount="{{arrange.isConfirmAccount}}">
                        <td rowspan="{{arrange.selfPayItem.length}}">
                        <span class="whichDay">{{arrange.dateTime | dateFormat: 'yyyy-MM-dd'}}</span></td>                    
                        <td rowspan="{{arrange.selfPayItem.length}}">
                            <span class="nameType">{{arrange.selfPayName}}</span>
                        </td><!-- 自费点 -->

                        {{if arrange.selfPayItem.length}}
                            {{each arrange.selfPayItem as itemSet index}}
                                {{if index == 0}}
                                    <td>
                                        <span class="itemName">{{itemSet.itemName}}</span><!-- 自费项目 -->
                                    </td>

                                    <td>
                                        <span class="realMarketPrice">{{itemSet.realMarketPrice}}</span><!-- 单价 -->
                                    </td>

                                    <td name="selfGuideName">
                                        <div class="div-h-30">
                                            <button class="btn btn-success btn-sm btn-white T-selfGuide pull-right "> 
                                                <i class="ace-icon fa fa-plus bigger-110 icon-only"></i>
                                            </button><!-- 增加导游 -->
                                        </div>
                                        {{if itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}" guideId = "{{rs.id}}">
                                                    <span class="guideName">{{rs.guideName}}</span>
                                                    <input name="shopGuideId" value="{{rs.id}}" type="hidden" />
                                                    <button class="btn btn-danger btn-sm btn-white T-delSelfGuide pull-right"> 
                                                        <i class="ace-icon fa fa-minus bigger-110 icon-only"></i>
                                                    </button><!-- 删除导游 -->
                                                </div>
                                            {{/each}}
                                        {{/if}}
                                    </td><!-- 导游 -->

                                    <td name="incomeCount">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    <input name="incomeCount" value="{{rs.incomeCount}}" class="w-50" type="text" 
                                                    {{if arrange.isConfirmAccount == 1 || arrange.badStatus == 1}} 
                                                        readOnly="readOnly" 
                                                    {{/if}}/>
                                                </div>
                                            {{/each}}
                                        {{/if}}
                                    </td><!-- 应收数量 -->

                                    <td name="needInReduceMoney">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    <span class="needInReduceMoney F-float F-money"></span>
                                                </div>
                                            {{/each}}
                                        {{/if}}
                                    </td><!-- 应收优惠 -->

                                    <td name="needIncome">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    <span class="needIncome F-float F-money"></span>
                                                </div>
                                            {{/each}}
                                        {{/if}}
                                    </td><!-- 应收 -->

                                    <td name="cashMoney">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    {{if rs.badStatus == 1}}
                                                        <span class="F-float F-money">{{rs.cashMoney}}</span>
                                                    {{else}}
                                                        <input type="text" class="F-float F-money w-80" name="cashMoney" 
                                                        value="{{arrange.cashMoney}}" 
                                                        {{if arrange.isConfirmAccount == 1}}readOnly="readOnly"{{/if}}/>
                                                    {{/if}}
                                                </div>
                                            {{/each}}
                                        {{/if}}
                                    </td><!-- 现收 -->

                                    <td>
                                        <span class="itemName">{{itemSet.realPrice}}</span><!-- 底价 -->
                                    </td>

                                    <td name="realCount">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    {{if rs.badStatus == 1}}
                                                        <span class="F-float F-money">{{rs.realCount}}</span>
                                                    {{else}}
                                                        <input type="text" class="F-float F-money w-50" name="realCount" 
                                                        value="{{arrange.realCount}}" 
                                                        {{if arrange.isConfirmAccount == 1}}readOnly="readOnly"{{/if}}/>
                                                    {{/if}}
                                                </div>
                                            {{/each}}
                                        {{/if}}<!-- 应付数量 -->
                                    </td>

                                    <td name="realReduceMoney">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    {{if rs.badStatus == 1}}
                                                        <span class="F-float F-money">{{rs.realReduceMoney}}</span>
                                                    {{else}}
                                                        <input type="text" class="F-float F-money w-80" name="realCount" 
                                                        value="{{arrange.realReduceMoney}}" 
                                                        {{if arrange.isConfirmAccount == 1}}readOnly="readOnly"{{/if}}/>
                                                    {{/if}}
                                                </div>
                                            {{/each}}
                                        {{/if}}<!-- 优惠 -->
                                    </td>

                                    <td name="realNeedPayMoney">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    {{if rs.badStatus == 1}}
                                                        <span class="F-float F-money">{{rs.realCount}}</span>
                                                    {{else}}
                                                        <input type="text" class="F-float F-money w-80" name="realNeedPayMoney" 
                                                        value="{{arrange.realNeedPayMoney}}" 
                                                        {{if arrange.isConfirmAccount == 1}}readOnly="readOnly"{{/if}}/>
                                                    {{/if}}
                                                </div>
                                            {{/each}}
                                        {{/if}}<!-- 应付 -->
                                    </td>

                                    <td name="payedMoney">
                                        <span class="F-float F-money payedMoney">{{arrange.payedMoney}}</span><!-- 已付 -->
                                    </td>

                                    <td name="guidePayedMoney">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    {{if rs.badStatus == 1}}
                                                        <span class="F-float F-money">{{rs.realCount}}</span>
                                                    {{else}}
                                                        <input type="text" class="F-float F-money w-80" name="guidePayedMoney" 
                                                        value="{{arrange.guidePayedMoney}}" 
                                                        {{if arrange.isConfirmAccount == 1}}readOnly="readOnly"{{/if}}/>
                                                    {{/if}}
                                                </div>
                                            {{/each}}
                                        {{/if}}<!-- 导付 -->
                                    </td>

                                    <td name="billImage">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    {{if rs.billImage != null && rs.billImage != ""}}
                                                        <a href="javascript:void(0);" url="{{rs.billImage}}" class="btn-view">查看</a>
                                                    {{else}}
                                                        <span style="color:#bbb;">查看</span>
                                                    {{/if}}
                                                </div>
                                            {{/each}}
                                        {{/if}}<!-- 单据 -->
                                    </td>

                                    <td name="travelAgencyRate">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    {{if rs.badStatus == 1}}
                                                        <span class="travelAgencyRate">{{rs.travelAgencyRate*100}}</span>
                                                    {{else}}
                                                        <input type="text" class="F-float F-money w-80" name="travelAgencyRate" 
                                                        value="{{arrange.travelAgencyRate*100}}" 
                                                        {{if arrange.isConfirmAccount == 1}}readOnly="readOnly"{{/if}}/>
                                                    {{/if}}
                                                </div>
                                            {{/each}}
                                        {{/if}}<!-- 社佣比例 -->
                                    </td>

                                    <td name="travelAgencyRebateMoney">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    {{if rs.badStatus == 1}}
                                                        <span class="F-float F-money travelAgencyRebateMoney">{{rs.travelAgencyRebateMoney}}</span>
                                                    {{else}}
                                                        <input type="text" class="F-float F-money w-80" name="travelAgencyRebateMoney" 
                                                        value="{{arrange.travelAgencyRebateMoney}}" 
                                                        {{if arrange.isConfirmAccount == 1}}readOnly="readOnly"{{/if}}/>
                                                    {{/if}}
                                                </div>
                                            {{/each}}
                                        {{/if}}<!-- 社佣返佣 -->
                                    </td>

                                    <td name="guideRate">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    {{if rs.badStatus == 1}}
                                                        <span class="guideRate">{{rs.guideRate*100}}</span>
                                                    {{else}}
                                                        <input type="text" class="F-float F-money w-80" name="guideRate" 
                                                        value="{{arrange.guideRate*100}}" 
                                                        {{if arrange.isConfirmAccount == 1}}readOnly="readOnly"{{/if}}/>
                                                    {{/if}}
                                                </div>
                                            {{/each}}
                                        {{/if}}<!-- 导佣比例 -->
                                    </td>

                                    <td name="realCount">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    {{if rs.badStatus == 1}}
                                                        <span class="F-float F-money guideRebateMoney">{{rs.guideRebateMoney}}</span>
                                                    {{else}}
                                                        <input type="text" class="F-float F-money w-80" name="guideRebateMoney" 
                                                        value="{{arrange.guideRebateMoney}}" 
                                                        {{if arrange.isConfirmAccount == 1}}readOnly="readOnly"{{/if}}/>
                                                    {{/if}}
                                                </div>
                                            {{/each}}
                                        {{/if}}<!-- 导游返佣 -->
                                    </td>

                                    <td name="billRemark">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    {{if rs.badStatus == 1}}
                                                        <span class="billRemark">{{rs.billRemark}}</span>
                                                    {{else}}
                                                        <input type="text" class="F-float F-money w-80" name="billRemark" 
                                                        value="{{rs.billRemark}}" 
                                                        {{if arrange.isConfirmAccount == 1}}readOnly="readOnly"{{/if}}/>
                                                    {{/if}}
                                                </div>
                                            {{/each}}
                                        {{/if}}<!-- 导游报账备注 -->
                                    </td>
                                {{/if}}
                            {{/each}}
                        {{/if}} 

                        <td rowspan="{{arrange.selfPayItem.length}}">
                            <span class="F-float F-money customerRebateMoney">{{arrange.customerRebateMoney}}</span><!-- 人数返佣 -->
                        </td>

                        <td rowspan="{{arrange.selfPayItem.length}}">
                            {{if arrange.isConfirmAccount == 0}}
                                未对账
                            {{else}}
                                已对账
                            {{/if}}
                            &nbsp;&nbsp;
                            {{if arrange.payedMoney == 0 &&　arrange.isConfirmAccount == 0}}
                                <a href="javascript:void(0)" class="T-selfArrDel">删除</a>
                            {{else}}
                                <span style="color:#bbb;">删除</span>
                            {{/if}}<!-- 是否对账 -->
                        </td>

                    </tr>
                    {{if arrange.selfPayItem.length}}
                        {{each arrange.selfPayItem as itemSet index}}
                            {{if index >0}}
                                <tr selfPayItemId="{{arrange.id}}" badStatus = "{{arrange.badStatus}}" whichDay = "{{arrange.whichDay}}"
                                isConfirmAccount="{{arrange.isConfirmAccount}}">
                                    <td>
                                        <span class="itemName">{{itemSet.itemName}}</span><!-- 自费项目 -->
                                    </td>
                                    <td>
                                        <span class="realMarketPrice">{{itemSet.realMarketPrice}}</span><!-- 单价 -->
                                    </td>

                                    <td name="selfGuideName">
                                        <div class="div-h-30">
                                            <button class="btn btn-success btn-sm btn-white T-selfGuide pull-right "> 
                                                <i class="ace-icon fa fa-plus bigger-110 icon-only"></i>
                                            </button><!-- 增加导游 -->
                                        </div>
                                        {{if itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}" guideId = "{{rs.id}}">
                                                    <span class="guideName">{{rs.guideName}}</span>
                                                    <input name="shopGuideId" value="{{rs.id}}" type="hidden" />
                                                    <button class="btn btn-danger btn-sm btn-white T-delSelfGuide pull-right"> 
                                                        <i class="ace-icon fa fa-minus bigger-110 icon-only"></i>
                                                    </button><!-- 删除导游 -->
                                                </div>
                                            {{/each}}
                                        {{/if}}
                                    </td><!-- 导游 -->

                                    <td name="incomeCount">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    <input name="incomeCount" value="{{rs.incomeCount}}" class="w-50" type="text" 
                                                    {{if arrange.isConfirmAccount == 1 || arrange.badStatus == 1}} 
                                                        readOnly="readOnly" 
                                                    {{/if}}/>
                                                </div>
                                            {{/each}}
                                        {{/if}}
                                    </td><!-- 应收数量 -->

                                    <td name="needInReduceMoney">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    <span class="needInReduceMoney F-float F-money"></span>
                                                </div>
                                            {{/each}}
                                        {{/if}}
                                    </td><!-- 应收优惠 -->

                                    <td name="needIncome">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    <span class="needIncome F-float F-money"></span>
                                                </div>
                                            {{/each}}
                                        {{/if}}
                                    </td><!-- 应收 -->

                                    <td name="cashMoney">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    {{if rs.badStatus == 1}}
                                                        <span class="F-float F-money">{{rs.cashMoney}}</span>
                                                    {{else}}
                                                        <input type="text" class="F-float F-money w-80" name="cashMoney" 
                                                        value="{{arrange.cashMoney}}" 
                                                        {{if arrange.isConfirmAccount == 1}}readOnly="readOnly"{{/if}}/>
                                                    {{/if}}
                                                </div>
                                            {{/each}}
                                        {{/if}}
                                    </td><!-- 现收 -->

                                    <td>
                                        <span class="itemName">{{itemSet.realPrice}}</span><!-- 底价 -->
                                    </td>

                                    <td name="realCount">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    {{if rs.badStatus == 1}}
                                                        <span class="F-float F-money">{{rs.realCount}}</span>
                                                    {{else}}
                                                        <input type="text" class="F-float F-money w-50" name="realCount" 
                                                        value="{{arrange.realCount}}" 
                                                        {{if arrange.isConfirmAccount == 1}}readOnly="readOnly"{{/if}}/>
                                                    {{/if}}
                                                </div>
                                            {{/each}}
                                        {{/if}}<!-- 应付数量 -->
                                    </td>

                                    <td name="realReduceMoney">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    {{if rs.badStatus == 1}}
                                                        <span class="F-float F-money">{{rs.realReduceMoney}}</span>
                                                    {{else}}
                                                        <input type="text" class="F-float F-money w-80" name="realCount" 
                                                        value="{{arrange.realReduceMoney}}" 
                                                        {{if arrange.isConfirmAccount == 1}}readOnly="readOnly"{{/if}}/>
                                                    {{/if}}
                                                </div>
                                            {{/each}}
                                        {{/if}}<!-- 优惠 -->
                                    </td>

                                    <td name="realNeedPayMoney">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    {{if rs.badStatus == 1}}
                                                        <span class="F-float F-money">{{rs.realCount}}</span>
                                                    {{else}}
                                                        <input type="text" class="F-float F-money w-80" name="realNeedPayMoney" 
                                                        value="{{arrange.realNeedPayMoney}}" 
                                                        {{if arrange.isConfirmAccount == 1}}readOnly="readOnly"{{/if}}/>
                                                    {{/if}}
                                                </div>
                                            {{/each}}
                                        {{/if}}<!-- 应付 -->
                                    </td>

                                    <td name="payedMoney">
                                        <span class="F-float F-money payedMoney">{{arrange.payedMoney}}</span><!-- 已付 -->
                                    </td>

                                    <td name="guidePayedMoney">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    {{if rs.badStatus == 1}}
                                                        <span class="F-float F-money">{{rs.realCount}}</span>
                                                    {{else}}
                                                        <input type="text" class="F-float F-money w-80" name="guidePayedMoney" 
                                                        value="{{arrange.guidePayedMoney}}" 
                                                        {{if arrange.isConfirmAccount == 1}}readOnly="readOnly"{{/if}}/>
                                                    {{/if}}
                                                </div>
                                            {{/each}}
                                        {{/if}}<!-- 导付 -->
                                    </td>

                                    <td name="billImage">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    {{if rs.billImage != null && rs.billImage != ""}}
                                                        <a href="javascript:void(0);" url="{{rs.billImage}}" class="btn-view">查看</a>
                                                    {{else}}
                                                        <span style="color:#bbb;">查看</span>
                                                    {{/if}}
                                                </div>
                                            {{/each}}
                                        {{/if}}<!-- 单据 -->
                                    </td>

                                    <td name="travelAgencyRate">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    {{if rs.badStatus == 1}}
                                                        <span class="travelAgencyRate">{{rs.travelAgencyRate*100}}</span>
                                                    {{else}}
                                                        <input type="text" class="F-float F-money w-80" name="travelAgencyRate" 
                                                        value="{{arrange.travelAgencyRate*100}}" 
                                                        {{if arrange.isConfirmAccount == 1}}readOnly="readOnly"{{/if}}/>
                                                    {{/if}}
                                                </div>
                                            {{/each}}
                                        {{/if}}<!-- 社佣比例 -->
                                    </td>

                                    <td name="travelAgencyRebateMoney">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    {{if rs.badStatus == 1}}
                                                        <span class="F-float F-money travelAgencyRebateMoney">{{rs.travelAgencyRebateMoney}}</span>
                                                    {{else}}
                                                        <input type="text" class="F-float F-money w-80" name="travelAgencyRebateMoney" 
                                                        value="{{arrange.travelAgencyRebateMoney}}" 
                                                        {{if arrange.isConfirmAccount == 1}}readOnly="readOnly"{{/if}}/>
                                                    {{/if}}
                                                </div>
                                            {{/each}}
                                        {{/if}}<!-- 社佣返佣 -->
                                    </td>

                                    <td name="guideRate">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    {{if rs.badStatus == 1}}
                                                        <span class="guideRate">{{rs.guideRate*100}}</span>
                                                    {{else}}
                                                        <input type="text" class="F-float F-money w-80" name="guideRate" 
                                                        value="{{arrange.guideRate*100}}" 
                                                        {{if arrange.isConfirmAccount == 1}}readOnly="readOnly"{{/if}}/>
                                                    {{/if}}
                                                </div>
                                            {{/each}}
                                        {{/if}}<!-- 导佣比例 -->
                                    </td>

                                    <td name="guideRebateMoney">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    {{if rs.badStatus == 1}}
                                                        <span class="F-float F-money guideRebateMoney">{{rs.guideRebateMoney}}</span>
                                                    {{else}}
                                                        <input type="text" class="F-float F-money w-80" name="guideRebateMoney" 
                                                        value="{{arrange.guideRebateMoney}}" 
                                                        {{if arrange.isConfirmAccount == 1}}readOnly="readOnly"{{/if}}/>
                                                    {{/if}}
                                                </div>
                                            {{/each}}
                                        {{/if}}<!-- 导游返佣 -->
                                    </td>

                                    <td name="billRemark">
                                        <div class="div-h-30"></div>
                                        {{if !!itemSet.guideDetails && itemSet.guideDetails.length}}
                                            {{each itemSet.guideDetails as rs index}}
                                                <div class="mar-t-5 div-h-30" index="{{index+1}}">
                                                    {{if rs.badStatus == 1}}
                                                        <span class="billRemark">{{rs.billRemark}}</span>
                                                    {{else}}
                                                        <input type="text" class="F-float F-money w-80" name="billRemark" 
                                                        value="{{rs.billRemark}}" 
                                                        {{if arrange.isConfirmAccount == 1}}readOnly="readOnly"{{/if}}/>
                                                    {{/if}}
                                                </div>
                                            {{/each}}
                                        {{/if}}<!-- 导游报账备注 -->
                                    </td>                         
                                </tr>
                            {{/if}}    
                        {{/each}}
                    {{/if}}
                {{/each}}
            {{/if}}
        {{/if}}
        </tbody>
    </table>
</div>

{{if tripPlan.billStatus > -1}}
    <div style="width:60%;">
        <div> 
            <label style="margin:5px 0px 0px 0px;">财务审核批注：</label>
            <input name="accountFinancialCheckComment" {{if (!(tripPlan.billStatus == 1 && isFinance)) }}readonly="readonly"{{/if}} type="text" style="width:30%;" value="{{if remarkarrange.selfRemark.length>0}}{{remarkarrange.selfRemark[0].opCheckRemark}}{{/if}}" />
        
            <label style="margin:5px 0px 0px 10px;">计调审核批注：</label>
            <input name="accountOPCheckComment" {{if (!(tripPlan.billStatus == 0 && isOp)) }}readonly="readonly"{{/if}} type="text" style="width:30%;" value="{{if remarkarrange.selfRemark.length>0}}{{remarkarrange.selfRemark[0].financeCheckRemark}}{{/if}}" />
        </div>
    </div>
{{/if}}