<div class="col-sm-12 financialTripDetail">
    <div>
        <button data-entity-id="{{tripPlan.id}}" class="btn btn-xs btn-success btn-transfter btn-download" style="margin: 0px 10px 20px 0px;width:110px;height:35px;float: right;display: none;">
            <i class="ace-icon fa fa-file-excel-o"></i>导出电子表格
        </button>
    </div>
    <div class="col-xs-12 border">
        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="search-area  editable editable-click" style="margin-top: 10px;cursor: default;">
                <div class="form-group">
                    <label class="col-sm-3" style="font-weight: bold;">线路: {{tripPlan.lineProduct.name}}</label>
                    <label class="col-sm-2" style="font-weight: bold;">类别: {{tripPlan.lineProduct.type}}</label>
                    <label class="col-sm-2" style="font-weight: bold;">应用范围: {{if tripPlan.lineProduct.customerType == 1}}团体{{else if tripPlan.lineProduct.customerType == 0}}散客{{/if}}</label>
                    <label class="col-sm-2" style="font-weight: bold;">天数: {{tripPlan.lineProduct.days}}</label>
                </div>
            </div>
        </form>
        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="search-area  editable editable-click" style="margin-top: 10px;cursor: default;">
                <div class="form-group">
                    <label class="col-sm-3" style="font-weight: bold;">团号：{{tripPlan.tripNumber}}</label>
                    <label class="col-sm-2" style="font-weight: bold;">出团日期：{{tripPlan.startTime | dateFormat:'yyyy-MM-dd'}}</label>
                    <label class="col-sm-2" style="font-weight: bold;">完团日期：{{tripPlan.endTime | dateFormat:'yyyy-MM-dd'}}</label>
                    <label class="col-sm-2" style="font-weight: bold;">团队人数：{{tripPlan.touristAdultCount}}大{{tripPlan.touristChildCount}}小</label>
                </div>
            </div>
        </form>
        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="search-area  editable editable-click" style="margin-top: 10px;border-bottom:0px;cursor: default;">
                <div class="form-group">
                    <label class="col-sm-3" style="font-weight: bold;">导游：{{if tripPlan.guide != null}}{{tripPlan.guide.realname}}{{/if}}</label>
                    <label class="col-sm-2" style="font-weight: bold;">全陪：{{tripPlan.accompanyGuideName}}</label>
                    <label class="col-sm-2" style="font-weight: bold;"></label>
                    <label class="col-sm-2" style="font-weight: bold;"></label>
                </div>
            </div>
        </form>
    </div>
    <table class="table table-striped table-bordered table-hover all main-table" style="margin-top: 30px;">
        <tbody>
            <tr>
                <td colspan="7">
                    <div style="float: left;margin-left:10px;">
                        <input type="hidden" class="financial-tripPlanId" value="{{tripPlan.id}}" />
                        <input type="hidden" class="tripPlanAdultCount" value="{{tripPlan.touristAdultCount}}" />
                        <input type="hidden" class="tripPlanChildCount" value="{{tripPlan.touristChildCount}}" />
                        <label style="margin-left:50px;font-weight: bold;">毛利：<span class="grossProfitMoney"></span></label>
                        <label style="margin-left:50px;font-weight: bold;">人均毛利：<span class="perGrossProfitMoney"></span></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label style="font-weight: bold;">收入：<span class="tripIncome"></span></label>
                </td>
                <td colspan="3">
                    <label style="font-weight: bold;">团成本：<span class="tripCost"></span></label>
                </td>
                <td>
                    <label style="font-weight: bold;">其他：<span class="tripOther"></span></label>
                </td>
                <td>
                    <label style="font-weight: bold;">中转成本：<span class="tripTransitCost"></span></label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>应收团款：<span class="tripIncome-getAllMoney">{{touristGroup.needPayAllMoney}}</span></label>
                </td>
                <td>
                    <label>自费返佣：<span class="tripIncome-selfPayTravelAgencyRebateMoney"></span></label>
                </td>
                <td>
                    <label>导服费：<span class="tripCost-guideArrangePrice">{{guideArrange.price}}</span></label>
                </td>
                <td>
                    <label>保险：<span class="tripCost-insuranceArrangeNeedPayMoney">{{insuranceArrange.needPayMoney}}</span></label>
                </td>
                <td>
                    <label>车费：<span class="tripCost-busCompanyNeedPayMoney"></span></label>
                </td>
                <td>
                    <label>导游管理费：<span class="tripOther-guideArrangeManageFee">{{guideArrange.manageFee}}</span></label>
                </td>
                <td>
                    <label>车费：<span class="tripTransitCost-busCompanyNeedPayMoney">{{touristGroup.outBusMoney}}</span></label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>购物返佣：<span class="tripIncome-shopTravelAgencyRateMoney"></span></label>
                </td>
                <td>
                    <label>其他收入：<span class="tripIncome-otherInCome"></span></label>
                </td>
                <td>
                    <label>餐费：<span class="tripCost-restaurantArrangeNeedPayMoney"></span></label>
                </td>
                <td>
                    <label>房费：<span class="tripCost-hotelArrangeNeedPayMoney"></span></label>
                </td>
                <td>
                    <label>景区费用：<span class="tripCost-scenicArrangeNeedPayMoney"></span></label>
                </td>
                <td>
                    <label>导游预支金额：<span class="tripOther-guideAllPreMoney">{{tripPlan.guideAllPreMoney}}</span></label>
                </td>
                <td>
                    <label>房费：<span class="tripTransitCost-hotelArrangeNeedPayMoney">{{touristGroup.outHotelMoney}}</span></label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <label>票务费用：<span class="tripCost-ticketArrangeNeedPayMoney"></span></label>
                </td>
                <td>
                    <label>其他费用：<span class="tripCost-otherArrangeNeedPayMoney"></span></label>
                </td>
                <td>
                    <label style="display: none;">地接费用：<span class="tripCost-groundArrangeNeedPayMoney"></span></label>
                </td>
                <td></td>
                <td>
                    <label>票务费用：<span class="tripTransitCost-ticketArrangeNeedPayMoney">{{touristGroup.outTicketMoney}}</span></label>
                </td>
            </tr>
        </tbody>
    </table>
    <input type="hidden" value="{{WEB_IMG_URL_BIG}}" name="WEB_IMG_URL_BIG" />
    <input type="hidden" value="{{WEB_IMG_URL_SMALL}}" name="WEB_IMG_URL_SMALL" />
    <div class="row" style="margin-bottom:15px;">
        <div class="col-md-1">
            <a href="javascript:void(0);" class="btn-financialLog">操作记录</a>
        </div>
        <div class="col-md-1">
            <a href="javascript:void(0);" class="btn-tripPlanArrange">安排预算表</a>
        </div>
    </div>
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active col-sm-1 no-padding align-center">
                <a data-toggle="tab" href="#financial-count-tripdetail-money" aria-expanded="true">团款</a>
            </li>
            <li class="col-sm-1 no-padding align-center">
                <a data-toggle="tab" href="#financial-count-tripdetail-shop" aria-expanded="true">购物</a>
            </li>
            <li class="col-sm-1 no-padding align-center">
                <a data-toggle="tab" href="#financial-count-tripdetail-selfpay" aria-expanded="true">自费</a>
            </li>
            <li class="col-sm-1 no-padding align-center">
                <a data-toggle="tab" href="#financial-count-tripdetail-other-incoming" aria-expanded="true">其他收入</a>
            </li>
            <li class="col-sm-1 no-padding align-center">
                <a data-toggle="tab" href="#financial-count-tripdetail-buspay" aria-expanded="true">车费</a>
            </li>
            <li class="col-sm-1 no-padding align-center">
                <a data-toggle="tab" href="#financial-count-tripdetail-restaurantpay" aria-expanded="true">餐费</a>
            </li>
            <li class="col-sm-1 no-padding align-center">
                <a data-toggle="tab" href="#financial-count-tripdetail-hotelpay" aria-expanded="true">房费</a>
            </li>
            <li class="col-sm-1 no-padding align-center">
                <a data-toggle="tab" href="#financial-count-tripdetail-scenicpay" aria-expanded="true">景区</a>
            </li>
            <li class="col-sm-1 no-padding align-center">
                <a data-toggle="tab" href="#financial-count-tripdetail-ticketpay" aria-expanded="true">票务</a>
            </li>
            <li class="col-sm-1 no-padding align-center">
                <a data-toggle="tab" href="#financial-count-tripdetail-otherpay" aria-expanded="true">其他支出</a>
            </li>
            {{if touristGroup != null}}
            <li class="col-sm-1 no-padding align-center">
                <a data-toggle="tab" href="#financial-count-tripdetail-outarrangepay" aria-expanded="true">中转</a>
            </li>
            {{/if}}
        </ul>
        <div class="tab-content">
            <!-- 团款 -->
            <div id="financial-count-tripdetail-money" class="tab-pane fade active in">
                <table class="table table-striped table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>应收</td>
                            <td>已收</td>
                            <td>现收</td>
                            <td>明细</td>
                            <tr>
                                <td><span class="">{{touristGroup.needPayAllMoney}}</span></td>
                                <td><span class="">{{touristGroup.payedMoney}}</span></td>
                                <td><span class="">{{touristGroup.currentNeedPayMoney}}</span></td>
                                <td><a href="javascript:void(0);" data-entity-id="{{tripPlan.id}}" class="btn-viewGroupDetail">查看</a></td>
                            </tr>
                    </tbody>
                </table>
                {{if tripPlan.billStatus > -1}}
                <div style="width:60%;">
                    <div>
                        <label style="margin:5px 0px 0px 0px;">财务审核批注：</label>
                        <input readonly="readonly" type="text" style="width:30%;" value="{{if remarkArrangeList[0] != null}}{{remarkArrangeList[0].opCheckRemark}}{{/if}}" />
                        <label style="margin:5px 0px 0px 10px;">计调审核批注：</label>
                        <input readonly="readonly" type="text" style="width:30%;" value="{{if remarkArrangeList[0] != null}}{{remarkArrangeList[0].financeCheckRemark}}{{/if}}" />
                    </div>
                </div>{{/if}}
            </div>
            <!-- 购物 -->
            <div id="financial-count-tripdetail-shop" class="tab-pane fade">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="6">打单</th>
                            <th colspan="2">社佣</th>
                            <th colspan="2">导佣</th>
                            <th rowspan="2">人数返佣</th>
                            <th rowspan="2">停车返佣</th>
                            <th rowspan="2">导游报账备注</th>
                        </tr>
                        <tr>
                            <th>时间</th>
                            <th>购物店</th>
                            <th>商品</th>
                            <th>金额</th>
                            <th>单据</th>
                            <th>总金额</th>
                            <th>比例%</th>
                            <th>返佣</th>
                            <th>比例%</th>
                            <th>返佣</th>
                        </tr>
                    </thead>
                    <tbody id="shopping">
                        {{each dayList as day}} {{if day.shopArrange != null}} {{each day.shopArrange as shopArrangeList}} {{each shopArrangeList.shopArrangePolicy as arrange index}} {{if arrange != null}}
                        <tr shopArrangeId="{{arrange.id}}" shopId="{{arrange.whichDay}}_{{arrange.shopId}}">
                            {{if index==0}}
                            <td rowspan="{{shopArrangeList.shopArrangePolicy.length}}">第{{arrange.whichDay}}天</td>{{/if}} {{if index==0}}
                            <td rowspan="{{shopArrangeList.shopArrangePolicy.length}}">{{if arrange.shop != null}}{{arrange.shop.name}}{{/if}}</td>{{/if}}
                            <td>{{if arrange.shopPolicy != null}}{{arrange.shopPolicy.name}}{{/if}}</td>
                            <td>{{arrange.consumeMoney}}
                                <input name="consumeMoney" type="hidden" value="{{arrange.consumeMoney}}" />
                            </td>
                            <td><a href="javascript:void(0);" url="{{arrange.billImage}}" class="btn-view">查看</a></td>
                            {{if index == 0 }}
                            <td rowspan="{{shopArrangeList.shopArrangePolicy.length}}"><span class="sumMoney{{arrange.whichDay}}_{{arrange.shopId}}"></span></td>{{/if}}
                            <td>{{arrange.travelAgencyRate*100 | parseInt}}
                                <input name="travelAgencyRate" style="display: none;" type="text" value="{{arrange.travelAgencyRate*100}}" />
                            </td>
                            <td><span>{{arrange.travelAgencyRateMoney}}</span>
                                <input type="hidden" name="travelAgencyRateMoney" value="{{arrange.travelAgencyRateMoney}}" />
                            </td>
                            <td>{{arrange.guideRate*100 | parseInt}}
                                <input name="guideRate" style="display: none;" type="text" value="{{arrange.guideRate*100}}" />
                            </td>
                            <td><span>{{arrange.guideRateMoney}}</span>
                                <input type="hidden" name="guideRateMoney" value="{{arrange.guideRateMoney}}" />
                            </td>
                            {{if index == 0 }}
                            <td rowspan="{{shopArrangeList.shopArrangePolicy.length}}" class="sumCustomerRebateMoney">{{if arrange.customerRebateMoney
                                < 1}}{{arrange.shop.customerRebateMoney}}{{else}}{{arrange.customerRebateMoney}}{{/if}}</td>{{/if}} {{if index == 0 }}
                                    <td rowspan="{{shopArrangeList.shopArrangePolicy.length}}" class="sumParkingRebateMoney">{{if arrange.parkingRebateMoney
                                        < 1}}{{arrange.shop.parkingRebateMoney}}{{else}}{{arrange.parkingRebateMoney}}{{/if}}</td>{{/if}}
                                            <td>{{arrange.billRemark}}</td>
                        </tr>
                        {{/if}} {{/each}} {{/each}} {{/if}} {{/each}}
                    </tbody>
                </table>
                {{if tripPlan.billStatus > -1}}
                <div style="width:60%;">
                    <div>
                        <label style="margin:5px 0px 0px 0px;">财务审核批注：</label>
                        <input readonly="readonly" type="text" style="width:30%;" value="{{if remarkArrangeList[1] != null}}{{remarkArrangeList[1].opCheckRemark}}{{/if}}" />
                        <label style="margin:5px 0px 0px 10px;">计调审核批注：</label>
                        <input readonly="readonly" type="text" style="width:30%;" value="{{if remarkArrangeList[1] != null}}{{remarkArrangeList[1].financeCheckRemark}}{{/if}}" />
                    </div>
                </div>{{/if}}
            </div>
            <!-- 自费 -->
            <div id="financial-count-tripdetail-selfpay" class="tab-pane fade">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="12">消费</th>
                            <th colspan="2">社佣</th>
                            <th colspan="2">导佣</th>
                            <th colspan="2">人数返佣</th>
                            <th rowspan="2">导游报账备注</th>
                        </tr>
                        <tr>
                            <th>时间</th>
                            <th>自费商家</th>
                            <th>项目</th>
                            <th>单价</th>
                            <th>底价</th>
                            <th>数量</th>
                            <th>优惠</th>
                            <th>应付</th>
                            <th>已付</th>
                            <th>导付</th>
                            <th>现收</th>
                            <th>单据</th>
                            <th>比例%</th>
                            <th>返佣</th>
                            <th>比例%</th>
                            <th>返佣</th>
                            <th>元/人</th>
                            <th>返佣</th>
                        </tr>
                    </thead>
                    <tbody id="selfPay">
                        {{each dayList as day}} {{if day.selfPayArrange != null}} {{each day.selfPayArrange as arrangeList}} {{each arrangeList.selfPayArrangeList as arrange index}} {{if arrange != null}}
                        <tr selfPayArrangeId="{{arrange.id}}" selfPayId="{{arrange.selfPayId}}">
                            {{if index == 0 }}
                            <td rowspan="{{arrangeList.selfPayArrangeList.length}}">第{{arrange.whichDay}}天</td>{{/if}} {{if index == 0 }}
                            <td rowspan="{{arrangeList.selfPayArrangeList.length}}">{{if arrange.selfPay != null}}{{arrange.selfPay.name}}{{/if}}</td>{{/if}}
                            <td>{{if arrange.selfPayItem != null }}{{arrange.selfPayItem.name}}{{/if}}</td>
                            <td>{{arrange.marketPrice}}
                                <input type="hidden" name="marketPrice" value="{{arrange.marketPrice}}" />
                            </td>
                            <td>{{arrange.price}}
                                <input type="hidden" name="price" value="{{arrange.price}}" />
                            </td>
                            <td>{{if tripPlan.billStatus
                                < 0}}{{arrange.memberCount}}{{else}}{{arrange.realCount}}{{/if}}<input type="hidden" name="realCount" value="{{if tripPlan.billStatus < 0}}{{arrange.memberCount}}{{else}}{{arrange.realCount}}{{/if}}" />
                                <input type="hidden" name="memberCount" value="{{arrange.memberCount}}" />
                            </td>
                            <td>{{arrange.reduceMoney}}
                                <input type="hidden" name="reduceMoney" value="{{arrange.reduceMoney}}" />
                            </td>
                            <td><span class="needPayMoney">{{arrange.needPayMoney}}</span></td>
                            <td>{{arrange.payedMoney}}</td>
                            <td>
                                {{if tripPlan.billStatus
                                < 0}}{{arrange.guidePayMoney}}{{else}}{{arrange.realGuidePayMoney}}{{/if}} <input style="display: none;" type="text" name="realGuidePayMoney" value="{{arrange.realGuidePayMoney}}" />
                                <input type="hidden" name="payedMoney" value="{{arrange.payedMoney}}" />
                                <input type="hidden" name="guidePayMoney" value="{{arrange.guidePayMoney}}" />
                            </td>
                            <td>{{arrange.realGetMoney}}</td>
                            <td><a href="javascript:void(0);" url="{{arrange.billImage}}" class="btn-view">查看</a></td>
                            <td>
                                <span class="travelAgencyRate">{{arrange.travelAgencyRate*100 | parseInt}}</span>
                                <input type="hidden" name="travelAgencyRate" value="{{arrange.travelAgencyRate*100 | parseInt}}" />
                            </td>
                            <td>
                                <span class="travelAgencyRebateMoney">{{arrange.travelAgencyRebateMoney}}</span>
                                <input type="hidden" name="travelAgencyRebateMoney" value="{{arrange.travelAgencyRebateMoney}}" />
                            </td>
                            <td>
                                <span class="guideRate">{{arrange.guideRate*100 | parseInt}}</span>
                                <input type="hidden" name="guideRate" value="{{arrange.guideRate*100 | parseInt}}" />
                            </td>
                            <td>
                                <span class="guideRebateMoney">{{arrange.guideRebateMoney}}</span>
                                <input type="hidden" name="guideRebateMoney" value="{{arrange.guideRebateMoney}}" />
                            </td>
                            <td>
                                <span class="guideRate">{{arrange.customerRebateMoney}}</span>
                                <input type="hidden" name="guideRate" value="{{arrange.customerRebateMoney}}" />
                            </td>
                            {{if index == 0 }}
                            <td rowspan="{{arrangeList.selfPayArrangeList.length}}">{{arrange.customerRebateMoney * tripPlan.touristAdultCount}}</td>{{/if}}
                            <td>{{arrange.billRemark}}</td>
                        </tr>
                        {{/if}} {{/each}} {{/each}} {{/if}} {{/each}}
                    </tbody>
                </table>
                {{if tripPlan.billStatus > -1}}
                <div style="width:60%;">
                    <div>
                        <label style="margin:5px 0px 0px 0px;">财务审核批注：</label>
                        <input readonly="readonly" type="text" style="width:30%;" value="{{if remarkArrangeList[2] != null}}{{remarkArrangeList[2].opCheckRemark}}{{/if}}" />
                        <label style="margin:5px 0px 0px 10px;">计调审核批注：</label>
                        <input readonly="readonly" type="text" style="width:30%;" value="{{if remarkArrangeList[2] != null}}{{remarkArrangeList[2].financeCheckRemark}}{{/if}}" />
                    </div>
                </div>{{/if}}
            </div>
            <!-- 其他收入 -->
            <div id="financial-count-tripdetail-other-incoming" class="tab-pane fade">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>时间</th>
                            <th>项目</th>
                            <th>单价</th>
                            <th>数量</th>
                            <th>金额</th>
                            <th>单据</th>
                            <th>导游报账备注</th>
                        </tr>
                    </thead>
                    <tbody id="otherIn">
                        {{each arrangeIncomePaymentList as otherInCome}} {{if otherInCome != null}}
                        <tr otherInId="{{otherInCome.id}}" otherIn="{{otherInCome.id}}">
                            <td>第{{otherInCome.whichDay}}天</td>
                            <td>{{otherInCome.title}}
                                <input style="display: none;" type="text" name="title" reset="true" value="{{otherInCome.title}}" />
                            </td>
                            <td>{{otherInCome.price}}
                                <input style="display: none;" type="text" name="price" value="{{otherInCome.price}}" />
                            </td>
                            <td>{{otherInCome.count}}
                                <input style="display: none;" type="text" name="count" value="{{otherInCome.count}}" />
                            </td>
                            <td><span class="needPayMoney"></span></td>
                            <td><a href="javascript:void(0);" url="{{otherInCome.billImage}}" class="btn-view">查看</a></td>
                            <td>{{otherInCome.remark}}</td>
                        </tr>
                        {{/if}} {{/each}}
                    </tbody>
                </table>
                {{if tripPlan.billStatus > -1}}
                <div style="width:60%;">
                    <div>
                        <label style="margin:5px 0px 0px 0px;">财务审核批注：</label>
                        <input readonly="readonly" type="text" style="width:30%;" value="{{if remarkArrangeList[3] != null}}{{remarkArrangeList[3].opCheckRemark}}{{/if}}" />
                        <label style="margin:5px 0px 0px 10px;">计调审核批注：</label>
                        <input readonly="readonly" type="text" style="width:30%;" value="{{if remarkArrangeList[3] != null}}{{remarkArrangeList[3].financeCheckRemark}}{{/if}}" />
                    </div>
                </div>{{/if}}
            </div>
            <!-- 车费 -->
            <div id="financial-count-tripdetail-buspay" class="tab-pane fade">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>车主</th>
                            <th>车牌号</th>
                            <th>座位数</th>
                            <th>车费</th>
                            <th>优惠</th>
                            <th>应付</th>
                            <th>已付</th>
                            <th>导付</th>
                            <th>单据</th>
                            <th>差额</th>
                            <th>导游报账备注</th>
                        </tr>
                    </thead>
                    <tbody id="bus">
                        {{each busCompanyArrange as busCompany}} {{if busCompany != null}}
                        <tr busCompanyArrangeId="{{busCompany.id}}">
                            <td>{{if busCompany.busCompany != null}}{{busCompany.busCompany.companyName}}{{/if}}</td>
                            <td>{{if busCompany.bus != null}}{{busCompany.bus.licenseNumber}}{{/if}}</td>
                            <td>{{if busCompany.bus != null}}{{busCompany.bus.seatCount}}{{/if}}</td>
                            <td>{{busCompany.price}}
                                <input type="hidden" name="price" value="{{busCompany.price}}" />
                                <input type="hidden" name="realCount" value="1" />
                            </td>
                            <td>{{busCompany.reduceMoney}}
                                <input type="hidden" name="reduceMoney" value="{{busCompany.reduceMoney}}" />
                            </td>
                            <td><span class="needPayMoney">{{busCompany.needPayMoney}}</span></td>
                            <td>{{busCompany.payedMoney}}</td>
                            <td>
                                {{if tripPlan.billStatus
                                < 0}}{{busCompany.guidePayMoney}}{{else}}{{busCompany.realGuidePayMoney}}{{/if}} <input style="display: none;" type="text" name="realGuidePayMoney" value="{{busCompany.realGuidePayMoney}}" />
                                <input type="hidden" name="payedMoney" value="{{busCompany.payedMoney}}" />
                                <input type="hidden" name="guidePayMoney" value="{{busCompany.guidePayMoney}}" />
                            </td>
                            <td><a href="javascript:void(0);" url="{{busCompany.billImage}}" class="btn-view">查看</a></td>
                            <td><span class="difference"></span></td>
                            <td>{{busCompany.billRemark}}</td>
                        </tr>
                        {{/if}} {{/each}}
                    </tbody>
                </table>
                {{if tripPlan.billStatus > -1}}
                <div style="width:60%;">
                    <div>
                        <label style="margin:5px 0px 0px 0px;">财务审核批注：</label>
                        <input readonly="readonly" type="text" style="width:30%;" value="{{if remarkArrangeList[4] != null}}{{remarkArrangeList[4].opCheckRemark}}{{/if}}" />
                        <label style="margin:5px 0px 0px 10px;">计调审核批注：</label>
                        <input readonly="readonly" type="text" style="width:30%;" value="{{if remarkArrangeList[4] != null}}{{remarkArrangeList[4].financeCheckRemark}}{{/if}}" />
                    </div>
                </div>{{/if}}
            </div>
            <!-- 餐费 -->
            <div id="financial-count-tripdetail-restaurantpay" class="tab-pane fade">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>时间</th>
                            <th>餐厅</th>
                            <th>类型</th>
                            <th>餐标</th>
                            <th>人数</th>
                            <th>优惠</th>
                            <th>应付</th>
                            <th>已付</th>
                            <th>导付</th>
                            <th>单据</th>
                            <th>差额</th>
                            <th>导游报账备注</th>
                    </thead>
                    <tbody id="restaurant">
                        {{each dayList as day}} {{if day.restaurantArrange != null}} {{each day.restaurantArrange as arrangeList}} {{each arrangeList.restaurantArrangeList as arrange index}} {{if arrange != null}}
                        <tr restaurantArrangeId="{{arrange.id}}" restaurantId="{{if arrange.restaurant != null}}{{arrange.restaurant.id}}{{/if}}" restaurantStandardId="{{if arrange.restaurantStandard != null}}{{arrange.restaurantStandard.id}}{{/if}}">
                            {{if index == 0}}
                            <td rowspan="{{arrangeList.restaurantArrangeList.length}}">第{{arrange.whichDay}}天</td>{{/if}} {{if index == 0}}
                            <td rowspan="{{arrangeList.restaurantArrangeList.length}}">{{if arrange.restaurant != null}}{{arrange.restaurant.name}}{{/if}}</td>{{/if}}
                            <td>{{if arrange.restaurantStandard != null}}{{arrange.restaurantStandard.type}}{{/if}}</td>
                            <td>{{arrange.price}}
                                <input type="hidden" name="price" value="{{arrange.price}}" />
                            </td>
                            <td>{{if tripPlan.billStatus
                                < 0}}{{arrange.memberCount}}{{else}}{{arrange.realCount}}{{/if}}<input style="display: none;" type="text" name="realCount" value="{{if tripPlan.billStatus < 0}}{{arrange.memberCount}}{{else}}{{arrange.realCount}}{{/if}}" />
                            </td>
                            <td>{{arrange.reduceMoney}}
                                <input type="hidden" name="reduceMoney" value="{{arrange.reduceMoney}}" />
                            </td>
                            <td><span class="needPayMoney">{{arrange.needPayMoney}}</span></td>
                            <td>{{arrange.payedMoney}}</td>
                            <td>
                                {{if tripPlan.billStatus
                                < 0}}{{arrange.guidePayMoney}}{{else}}{{arrange.realGuidePayMoney}}{{/if}} <input style="display: none;" type="text" name="realGuidePayMoney" value="{{arrange.realGuidePayMoney}}" />
                                <input type="hidden" name="payedMoney" value="{{arrange.payedMoney}}" />
                                <input type="hidden" name="guidePayMoney" value="{{arrange.guidePayMoney}}" />
                            </td>
                            <td><a href="javascript:void(0);" url="{{arrange.billImage}}" class="btn-view">查看</a></td>
                            <td><span class="difference"></span></td>
                            <td>{{arrange.billRemark}}</td>
                        </tr>
                        {{/if}} {{/each}} {{/each}} {{/if}} {{/each}}
                    </tbody>
                </table>
                {{if tripPlan.billStatus > -1}}
                <div style="width:60%;">
                    <div>
                        <label style="margin:5px 0px 0px 0px;">财务审核批注：</label>
                        <input readonly="readonly" type="text" style="width:30%;" value="{{if remarkArrangeList[5] != null}}{{remarkArrangeList[5].opCheckRemark}}{{/if}}" />
                        <label style="margin:5px 0px 0px 10px;">计调审核批注：</label>
                        <input readonly="readonly" type="text" style="width:30%;" value="{{if remarkArrangeList[5] != null}}{{remarkArrangeList[5].financeCheckRemark}}{{/if}}" />
                    </div>
                </div>{{/if}}
            </div>
            <!-- 房费 -->
            <div id="financial-count-tripdetail-hotelpay" class="tab-pane fade">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>时间</th>
                            <th>酒店</th>
                            <th>房型</th>
                            <th>单价</th>
                            <th>间数</th>
                            <th>优惠</th>
                            <th>应付</th>
                            <th>已付</th>
                            <th>导付</th>
                            <th>单据</th>
                            <th>差额</th>
                            <th>导游报账备注</th>
                        </tr>
                    </thead>
                    <tbody id="hotelArrange">
                        {{each dayList as day}} {{if day.hotelArrange != null}} {{each day.hotelArrange as arrangeList}} {{each arrangeList.hotelArrangeList as arrange index}} {{if arrange != null}}
                        <tr hotelArrangeId="{{arrange.id}}" hotelId="{{arrange.hotel.id}}" restaurantStandardId="{{if arrange.hotelRoom != null}}{{arrange.hotelRoom.id}}{{/if}}">
                            {{if index == 0}}
                            <td rowspan="{{arrangeList.hotelArrangeList.length}}">第{{arrange.whichDay}}天</td>{{/if}} {{if index == 0}}
                            <td rowspan="{{arrangeList.hotelArrangeList.length}}">{{if arrange.hotel != null}}{{arrange.hotel.name}}{{/if}}</td>{{/if}}
                            <td>{{if arrange.hotelRoom != null}}{{arrange.hotelRoom.type}}{{/if}}</td>
                            <td>{{arrange.price}}
                                <input type="hidden" name="price" value="{{arrange.price}}" />
                            </td>
                            <td>{{if tripPlan.billStatus
                                < 0}}{{arrange.memberCount}}{{else}}{{arrange.realCount}}{{/if}}<input style="display: none;" type="text" name="realCount" value="{{if tripPlan.billStatus < 0}}{{arrange.memberCount}}{{else}}{{arrange.realCount}}{{/if}}" />
                            </td>
                            <td>{{arrange.reduceMoney}}
                                <input type="hidden" name="reduceMoney" value="{{arrange.reduceMoney}}" />
                            </td>
                            <td><span class="needPayMoney">{{arrange.needPayMoney}}</span></td>
                            <td>{{arrange.payedMoney}}</td>
                            <td>
                                {{if tripPlan.billStatus
                                < 0}}{{arrange.guidePayMoney}}{{else}}{{arrange.realGuidePayMoney}}{{/if}} <input style="display: none;" type="text" name="realGuidePayMoney" value="{{arrange.realGuidePayMoney}}" />
                                <input type="hidden" name="payedMoney" value="{{arrange.payedMoney}}" />
                                <input type="hidden" name="guidePayMoney" value="{{arrange.guidePayMoney}}" />
                            </td>
                            <td><a href="javascript:void(0);" url="{{arrange.billImage}}" class="btn-view">查看</a></td>
                            <td><span class="difference"></span></td>
                            <td>{{arrange.billRemark}}</td>
                        </tr>
                        {{/if}} {{/each}} {{/each}} {{/if}} {{/each}}
                    </tbody>
                </table>
                {{if tripPlan.billStatus > -1}}
                <div style="width:60%;">
                    <div>
                        <label style="margin:5px 0px 0px 0px;">财务审核批注：</label>
                        <input readonly="readonly" type="text" style="width:30%;" value="{{if remarkArrangeList[6] != null}}{{remarkArrangeList[6].opCheckRemark}}{{/if}}" />
                        <label style="margin:5px 0px 0px 10px;">计调审核批注：</label>
                        <input readonly="readonly" type="text" style="width:30%;" value="{{if remarkArrangeList[6] != null}}{{remarkArrangeList[6].financeCheckRemark}}{{/if}}" />
                    </div>
                </div>{{/if}}
            </div>
            <!-- 景区 -->
            <div id="financial-count-tripdetail-scenicpay" class="tab-pane fade">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>时间</th>
                            <th>景区</th>
                            <th>收费项目</th>
                            <th>单价</th>
                            <th>数量</th>
                            <th>优惠</th>
                            <th>应付</th>
                            <th>已付</th>
                            <th>导付</th>
                            <th>单据</th>
                            <th>差额</th>
                            <th>导游报账备注</th>
                        </tr>
                    </thead>
                    <tbody id="scenic">
                        {{each dayList as day}} {{if day.scenicArrange != null}} {{each day.scenicArrange as arrangeList}} {{each arrangeList.scenicArrangeList as arrange index}} {{if arrange != null}}
                        <tr scenicArrangeId="{{arrange.id}}" scenicId="{{arrange.scenicId}}" scenicItemId="{{arrange.hotelRoomId}}">
                            {{if index == 0}}
                            <td rowspan="{{arrangeList.scenicArrangeList.length}}">第{{arrange.whichDay}}天</td>{{/if}} {{if index == 0}}
                            <td rowspan="{{arrangeList.scenicArrangeList.length}}">{{if arrange.scenic != null}}{{arrange.scenic.name}}{{/if}}</td>{{/if}}
                            <td>{{if arrange.scenicItem != null}}{{arrange.scenicItem.name}}{{/if}}</td>
                            <td>{{arrange.price}}
                                <input type="hidden" name="price" value="{{arrange.price}}" />
                            </td>
                            <td>{{if tripPlan.billStatus
                                < 0}}{{arrange.memberCount}}{{else}}{{arrange.realCount}}{{/if}}<input style="display: none;" type="text" name="realCount" value="{{if tripPlan.billStatus < 0}}{{arrange.memberCount}}{{else}}{{arrange.realCount}}{{/if}}" />
                            </td>
                            <td>{{arrange.reduceMoney}}
                                <input type="hidden" name="reduceMoney" value="{{arrange.reduceMoney}}" />
                            </td>
                            <td><span class="needPayMoney">{{arrange.needPayMoney}}</span></td>
                            <td>{{arrange.payedMoney}}</td>
                            <td>
                                {{if tripPlan.billStatus
                                < 0}}{{arrange.guidePayMoney}}{{else}}{{arrange.realGuidePayMoney}}{{/if}} <input style="display: none;" type="text" name="realGuidePayMoney" value="{{arrange.realGuidePayMoney}}" />
                                <input type="hidden" name="payedMoney" value="{{arrange.payedMoney}}" />
                                <input type="hidden" name="guidePayMoney" value="{{arrange.guidePayMoney}}" />
                            </td>
                            <td><a href="javascript:void(0);" url="{{arrange.billImage}}" class="btn-view">查看</a></td>
                            <td><span class="difference"></span></td>
                            <td>{{arrange.billRemark}}</td>
                        </tr>
                        {{/if}} {{/each}} {{/each}} {{/if}} {{/each}}
                    </tbody>
                </table>
                {{if tripPlan.billStatus > -1}}
                <div style="width:60%;">
                    <div>
                        <label style="margin:5px 0px 0px 0px;">财务审核批注：</label>
                        <input readonly="readonly" type="text" style="width:30%;" value="{{if remarkArrangeList[7] != null}}{{remarkArrangeList[7].opCheckRemark}}{{/if}}" />
                        <label style="margin:5px 0px 0px 10px;">计调审核批注：</label>
                        <input readonly="readonly" type="text" style="width:30%;" value="{{if remarkArrangeList[7] != null}}{{remarkArrangeList[7].financeCheckRemark}}{{/if}}" />
                    </div>
                </div>{{/if}}
            </div>
            <!-- 票务 -->
            <div id="financial-count-tripdetail-ticketpay" class="tab-pane fade">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>票务商家</th>
                            <th>类型</th>
                            <th>日期</th>
                            <th>出发地</th>
                            <th>目的地</th>
                            <th>座席</th>
                            <th>单价</th>
                            <th>数量</th>
                            <th>优惠</th>
                            <th>应付</th>
                            <th>已付</th>
                            <th>导付</th>
                            <th>单据</th>
                            <th>差额</th>
                            <th>导游报账备注</th>
                        </tr>
                    </thead>
                    <tbody id="ticket">
                        {{each ticketArrangeList as ticketArrange}} {{each ticketArrange.ticketArrangeList as arrange index}}
                        <tr ticketArrangeId="{{arrange.id}}" ticketId="{{arrange.ticket.id}}" itemId="{{arrange.id}}">
                            {{if index == 0}}
                            <td rowspan="{{ticketArrange.ticketArrangeList.length}}">{{if arrange.ticket != null}}{{arrange.ticket.name}}{{/if}}</td>{{/if}} {{if index == 0}}
                            <td rowspan="{{ticketArrange.ticketArrangeList.length}}">{{if arrange.type == 1}}机票{{else if arrange.type== 2}}汽车票{{else if arrange.type == 3}}火车票{{else if arrange.type == 4}}轮船票{{/if}}</td>{{/if}} {{if index == 0}}
                            <td rowspan="{{ticketArrange.ticketArrangeList.length}}">{{arrange.startTime}}</td>{{/if}} {{if index == 0}}
                            <td rowspan="{{ticketArrange.ticketArrangeList.length}}">{{arrange.startingCity}}</td>{{/if}} {{if index == 0}}
                            <td rowspan="{{ticketArrange.ticketArrangeList.length}}">{{arrange.arriveCity}}</td>{{/if}}
                            <td>{{arrange.seatLevel}}</td>
                            <td><span>{{arrange.price}}</span>
                                <input type="hidden" name="price" value="{{arrange.price}}" />
                            </td>
                            <td>{{if tripPlan.billStatus
                                < 0}}{{arrange.memberCount}}{{else}}{{arrange.realCount}}{{/if}}<input style="display: none;" name="realCount" type="text" value="{{if tripPlan.billStatus < 0}}{{arrange.memberCount}}{{else}}{{arrange.realCount}}{{/if}}" />
                            </td>
                            <td>{{arrange.reduceMoney}}
                                <input type="hidden" name="reduceMoney" value="{{arrange.reduceMoney}}" />
                            </td>
                            <td><span class="needPayMoney">{{arrange.needPayMoney}}</span></td>
                            <td>{{arrange.payedMoney}}</td>
                            <td>
                                {{if tripPlan.billStatus
                                < 0}}{{arrange.guidePayMoney}}{{else}}{{arrange.realGuidePayMoney}}{{/if}} <input style="display: none;" type="text" name="realGuidePayMoney" value="{{arrange.realGuidePayMoney}}" />
                                <input type="hidden" name="payedMoney" value="{{arrange.payedMoney}}" />
                                <input type="hidden" name="guidePayMoney" value="{{arrange.guidePayMoney}}" />
                            </td>
                            <td><a href="javascript:void(0);" url="{{arrange.billImage}}" class="btn-view">查看</a></td>
                            <td><span class="difference"></span></td>
                            <td>{{arrange.billRemark}}</td>
                        </tr>
                        {{/each}} {{/each}}
                    </tbody>
                </table>
                {{if tripPlan.billStatus > -1}}
                <div style="width:60%;">
                    <div>
                        <label style="margin:5px 0px 0px 0px;">财务审核批注：</label>
                        <input readonly="readonly" type="text" style="width:30%;" value="{{if remarkArrangeList[8] != null}}{{remarkArrangeList[8].opCheckRemark}}{{/if}}" />
                        <label style="margin:5px 0px 0px 10px;">计调审核批注：</label>
                        <input readonly="readonly" type="text" style="width:30%;" value="{{if remarkArrangeList[8] != null}}{{remarkArrangeList[8].financeCheckRemark}}{{/if}}" />
                    </div>
                </div>{{/if}}
            </div>
            <!-- 其他支出 -->
            <div id="financial-count-tripdetail-otherpay" class="tab-pane fade">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>时间</th>
                            <th>项目</th>
                            <th>单价</th>
                            <th>数量</th>
                            <th>优惠</th>
                            <th>应付</th>
                            <th>已付</th>
                            <th>导付</th>
                            <th>单据</th>
                            <th>差额</th>
                            <th>导游报账备注</th>
                        </tr>
                    </thead>
                    <tbody id="other">
                        {{each dayList as day}} {{if day.otherArrange != null}} {{each day.otherArrange as arrange index}} {{if arrange != null}}
                        <tr otherArrangeId="{{arrange.id}}">
                            <td>第{{arrange.whichDay}}天</td>
                            <td>{{arrange.name}}</td>
                            <td>{{arrange.price}}
                                <input type="hidden" name="price" value="{{arrange.price}}" />
                            </td>
                            <td>{{if tripPlan.billStatus
                                < 0}}{{arrange.memberCount}}{{else}}{{arrange.realCount}}{{/if}}<input style="display: none;" type="text" name="realCount" value="{{if tripPlan.billStatus < 0}}{{arrange.memberCount}}{{else}}{{arrange.realCount}}{{/if}}" />
                            </td>
                            <td>{{arrange.reduceMoney}}
                                <input type="hidden" name="reduceMoney" value="{{arrange.reduceMoney}}" />
                            </td>
                            <td><span class="needPayMoney">{{arrange.needPayMoney}}</span></td>
                            <td>{{arrange.payedMoney}}</td>
                            <td>
                                {{if tripPlan.billStatus
                                < 0}}{{arrange.guidePayMoney}}{{else}}{{arrange.realGuidePayMoney}}{{/if}} <input style="display: none;" type="text" name="realGuidePayMoney" value="{{arrange.realGuidePayMoney}}" />
                                <input type="hidden" name="payedMoney" value="{{arrange.payedMoney}}" />
                                <input type="hidden" name="guidePayMoney" value="{{arrange.guidePayMoney}}" />
                            </td>
                            <td><a href="javascript:void(0);" url="{{arrange.billImage}}" class="btn-view">查看</a></td>
                            <td><span class="difference"></span></td>
                            <td>{{arrange.billRemark}}</td>
                        </tr>
                        {{/if}} {{/each}} {{/if}} {{/each}}
                    </tbody>
                </table>
                {{if tripPlan.billStatus > -1}}
                <div style="width:60%;">
                    <div>
                        <label style="margin:5px 0px 0px 0px;">财务审核批注：</label>
                        <input readonly="readonly" type="text" style="width:30%;" value="{{if remarkArrangeList[9] != null}}{{remarkArrangeList[9].opCheckRemark}}{{/if}}" />
                        <label style="margin:5px 0px 0px 10px;">计调审核批注：</label>
                        <input readonly="readonly" type="text" style="width:30%;" value="{{if remarkArrangeList[9] != null}}{{remarkArrangeList[9].financeCheckRemark}}{{/if}}" />
                    </div>
                </div>{{/if}}
            </div>
            {{if touristGroup != null}}
            <!-- 中转 -->
            <div id="financial-count-tripdetail-outarrangepay" class="tab-pane fade">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>接团</th>
                            <th>小车</th>
                            <th>送团</th>
                            <th>明细</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{touristGroup.outCarMoney}}</td>
                            <td>{{touristGroup.outReciveMoney}}</td>
                            <td>{{touristGroup.outSendMoney}}</td>
                            <td><a href="javascript:void(0);" data-entity-id="{{tripPlan.id}}" class="btn-viewTripTransit">查看</a></td>
                        </tr>
                    </tbody>
                </table>
                {{if tripPlan.billStatus > -1}}
                <div style="width:60%;">
                    <div>
                        <label style="margin:5px 0px 0px 0px;">财务审核批注：</label>
                        <input readonly="readonly" type="text" style="width:30%;" value="{{if remarkArrangeList[10] != null}}{{remarkArrangeList[10].opCheckRemark}}{{/if}}" />
                        <label style="margin:5px 0px 0px 10px;">计调审核批注：</label>
                        <input readonly="readonly" type="text" style="width:30%;" value="{{if remarkArrangeList[10] != null}}{{remarkArrangeList[10].financeCheckRemark}}{{/if}}" />
                    </div>
                </div>{{/if}}
            </div>
            {{/if}}
        </div>
    </div>
    <div style="height:30px;"></div>
</div>
