<div class="row">
    <div class="T-search-area">
        <div class="form-horizontal form-group">
            <label>团号 </label>
            <input type="text" style="width: 160px" placeholder="团号" class="mar-r-10" name="tripNumber" value="{{searchParam.tripNumber}}" />
            <label>线路产品 </label>
            <input type="text" style="width: 220px" class="mar-r-10" placeholder="线路产品" name="lineProductName" value="{{searchParam.lineProductName}}" />
            <input type="hidden" name="lineProductId" value="{{searchParam.lineProductId}}" />
            <label>导游 </label>
            <input type="text" style="width: 100px" class="mar-r-10" placeholder="导游" name="guideName" value="{{searchParam.guideName}}" />
            <input type="hidden" name="guideId" value="{{searchParam.guideId}}" />
            <label>针对客源 </label>
            <select name="tripPlanType" class="mar-r-10">
                <option value="" {{if searchParam.tripPlanType=="" || !searchParam.tripPlanType}}selected{{/if}}>全部</option>
                <option value="0" {{if searchParam.tripPlanType=="0" }}selected{{/if}}>散客</option>
                <option value="1" {{if searchParam.tripPlanType=="1" }}selected{{/if}}>团队</option>
            </select>
        </div>
        <div class="form-group">
            <label>开始日期 </label>
            <input class="date-picker mar-r-10" name="startTime" placeholder="开始日期" type="text" value="{{searchParam.start}}" style="width:100px;" />
            <label>结束日期 </label>
            <input class="date-picker mar-r-10" name="endTime" placeholder="结束日期" type="text" value="{{searchParam.end}}" style="width:100px;" />
            <label>状态 </label>
            <div class="btn-group T-status mar-r-10">
                <button data-toggle="dropdown" data-value="{{searchParam.billStatus}}" class=" btn-sm  dropdown-toggle block-up block-up" aria-expanded="false" style="height:24px;padding:0px 10px;line-height:24px;">
                    <span>
                        {{if searchParam.billStatus == ""}}
                            全部
                        {{else if searchParam.billStatus == -1}}
                            待报账
                        {{else if searchParam.billStatus == 0}}
                            待审核
                        {{else if searchParam.billStatus == 1}}
                            计调已审
                        {{else if searchParam.billStatus == 2}}
                            财务已审
                        {{/if}} 
                    </span>
                    <i class="ace-icon fa fa-angle-down icon-on-right"></i>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a data-value="" href="javascript:void(0)">全部</a>
                    </li>
                    <li>
                        <a data-value="-1" href="javascript:void(0)">待报账</a>
                    </li>
                    <li>
                        <a data-value="0" href="javascript:void(0)">待审核</a>
                    </li>
                    <li>
                        <a data-value="1" href="javascript:void(0)">计调已审</a>
                    </li>
                    <li>
                        <a data-value="2" href="javascript:void(0)">财务已审</a>
                    </li>
                </ul>
            </div>
            <button class="btn-sm  search-btn mar-r-10 T-search"> <i class="ace-icon fa fa-search"></i>搜索</button>
            <button class="btn-sm search-btn T-btn-export">导出报表</button>
            <label class="pos-rel pull-right">
                <input type="checkbox" class="ace T-checkTurn" {{if searchParam.operateCalculteOut==1 }}checked="checked" {{/if}}/>
                <span class="lbl"> 核算中转</span>
            </label>
        </div>
    </div>
    <table class="table-bordered table  table-striped table-hover overflow-table T-showHighLight T-planProfit-list hct_align_middle" style="margin-top:15px;">
    </table>
</div>
<div class="row pageMode">
    <div class="col-xs-6">
        <small class="T-totalSize">没有查询到相关记录</small>
    </div>
    <div class="col-xs-6">
        <div class="dataTables_paginate paging_simple_numbers T-pagenation">
        </div>
    </div>
</div>
