<div class="row col-sm-12 " id="system_Info">
   <div class="col-sm-12"> 
	    <div class="page-header">
			<h1>
				<small style="color: black;"> 
					<lable style="min-width:10%; display:inline-block;  ">服务项目：{{travelAgency.name}} </lable>  
				</small>
			</h1>
		</div>
    </div>   
    
    <div class="col-sm-12"> 
	    <div class="page-header">
			<h1>
				<small style="color: black;"> 
					<lable style="min-width:10%; display:inline-block;">操作号上限：<span  class="maxUserCount">{{travelAgency.maxUserCount}}</span> </lable>  
				    <lable style="min-width:10%; display:inline-block;">使用：<span class="userCount">{{userCount}}</span></lable> 
				     <lable style="min-width:10%; display:inline-block;" >未使用：<span class="unUserCount"></span></lable> 
				</small>
			</h1>   
		</div>
    </div>
    
    
    
    <div class="col-sm-12"> 
	    <div class="page-header">
			<h1>
				<small style="color: black;"> 
					<lable style="min-width:10%; display:inline-block;" >导游账号上限：<span class="maxGuideCount">{{travelAgency.maxGuideCount}} </span>  </lable>  
				    <lable style="min-width:10%; display:inline-block;">已使用：<span class="guideCount">{{guideCount}}</span></lable> 
				     <lable style="min-width:10%; display:inline-block;" >未使用：<span class="unGuideCount"></span></lable> 
				</small>
			</h1>
		</div>
    </div>
    

    <div class="col-sm-12"> 
	    <div class="page-header">
			<h1>
				<small style="color: black;">    
					<lable style="min-width:10%; display:inline-block;  ">短信剩余：{{travelAgency.availableSmsCount}}</lable>  
				    
				</small>  
			</h1>
		</div>
    </div>
    
    
    
   <div class="col-sm-12"> 
	    <div class="page-header">
			<h1>
				<small style="color: red;"> 
					<lable style="min-width:10%; display:inline-block;  ">系统信息</lable>  
				    <lable style="min-width:20%; display:inline-block;  ">使用期限：2015年1月1日至2020年12月31日</lable> 
				    <lable style="min-width:10%; display:inline-block;  ">技术支持：成都景触科技</lable> 
				    
				</small>
			</h1>
		</div>
    </div>
    
    
<!-- 	<div style="width:500px;margin: 0px auto;text-align: center;color:#E20E0E;"> -->
<!-- 		<div style="font-size:18px;font-weight: bold;margin-top:20px;">系统信息</div> -->
<!-- 		<div style="font-size:14px;margin-top:20px;">使用期限：2015年1月1日至2020年12月31日</div> -->
<!-- 		<div style="font-size:14px;">技术支持：成都景触科技</div> -->
<!--     </div> -->
   
</div>


