<div class="row T-search-area">
    <form class="form-inline" role="form" onsubmit="return false">
        <div class="form-group mar-r-10">
            <label>业务类别 </label>
            <select name="T-business-type" class="T-business-type">
                <option value="11">全部</option>
                <option value="0">内转</option>
                <option value="1">外转</option>
                <option value="2">餐厅</option>
                <option value="3">酒店</option>
                <option value="4">车队</option>
                <option value="5">票务</option>
                <option value="6">景区</option>
                <option value="7">自费</option>
                <option value="8">保险</option>
                <option value="9">其它</option>
                <option value="10">导游</option>
            </select>
        </div>
        <div class="form-group mar-r-10">
            <label>对方单位 </label>
            <input type="text" class="form-control T-org-name" style="width: 180px;" maxlength="100">
        </div>
        <div class="form-group input-daterange mar-r-10">
            <label>账期 </label>
            <input type="text" class="form-control T-datepicker T-start" style="width:100px;" value="{{startDate}}">
            <label>&nbsp;至&nbsp;</label>
            <input type="text" class="form-control T-datepicker T-end" style="width:100px;" value="{{endDate}}">
        </div>
        <div class="form-group T-finance-status btn-group mar-r-10">
            <button data-value="{{accountStatus}}" data-toggle="dropdown" class="T-select-status btn-sm dropdown-toggle block-up" aria-expanded="false">
            <span>
                {{if accountStatus == 0}}
                    全部
                {{else if accountStatus == 1}}
                    已结清
                {{else}}
                    未结清
                {{/if}}
            </span>

                <i class="ace-icon fa fa-angle-down icon-on-right"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a data-value="0" href="javascript:void(0)">全部</a></li>
                <li><a data-value="1" href="javascript:void(0)">已结清</a></li>
                <li><a data-value="2" href="javascript:void(0)">未结清</a></li>
            </ul>
        </div>
        <div class="form-group ">
            <button class="btn-sm search-btn T-btn-search">
                <i class="ace-icon fa fa-search"></i> 搜索
            </button>
        </div>
    </form>
</div>
<div class="form-inline T-sum-area row">
</div>
<div class="row">
    <table class="table table-striped table-bordered table-hover T-showHighLight">
        <colgroup>
            <col style="width: 30%;">
            <col style="width: 15%;">
            <col style="width: 15%;">
            <col style="width: 15%;">
            <col style="width: 25%;">
        </colgroup>
        <thead>
            <tr class="bg-blur">
                <th>对方单位</th>
                <th>应付金额</th>
                <th>已付金额</th>
                <th>未付金额</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody class="T-list">
        </tbody>
    </table>
    <div class="row pageMode">
        <div class="col-xs-6">
            <small class="T-sumItem">没有查询到相关记录</small>
        </div>
        <div class="col-xs-6">
            <div class="dataTables_paginate paging_simple_numbers T-pagenation">
            </div>
        </div>
    </div>
</div>
