<div class="col-xs-12">
	<form class="form-horizontal PartnerAgencyDetailForm" role="form" style="margin-top:10px" onsubmit="return false">

		<table class="whereQ" style="width: 98%">
			<tr>
				<td colspan="4" class="HeadManage" style="text-align: left">基本信息</td>
			</tr>
			<tr>
				<td class="style-myself">客户名称</td>
				<td style="text-align: left;padding: 0px 0px 0px 10px">{{partnerAgency.travelAgencyName}}</td>
				<td class="style-myself">类型</td>
				<td style="text-align: left;padding: 0px 0px 0px 10px">{{if partnerAgency.type == 0}}地接社
					{{else if partnerAgency.type == 1}}组团社
					{{else}}组团社 地接社
					{{/if}}</td> 
			</tr>
			<tr>
				<td class="style-myself">座机号码</td>
				<td style="text-align: left;padding: 0px 0px 0px 10px">{{partnerAgency.telNumber}}</td>
				<td class="style-myself">传真号码</td>
				<td style="text-align: left;padding: 0px 0px 0px 10px">{{partnerAgency.faxNumber}}</td>
			</tr>

			<tr>
				<td class="style-myself">等级</td>
				<td style="text-align: left;padding: 0px 0px 0px 10px">{{if partnerAgency.level == 1}}金牌
					{{else if partnerAgency.level == 2}}银牌
					{{else}}铜牌
					{{/if}}</td>
				<td class="style-myself">总社</td>
				<td style="text-align: left;padding: 0px 0px 0px 10px">{{if partnerAgency.partnerHeaderAgency != null}}
					{{partnerAgency.partnerHeaderAgency.name}}
					{{else}}
					{{/if}}</td>
			</tr>
			<tr>
				<td class="style-myself">所在地区</td>
				<td style="text-align: left;padding: 0px 0px 0px 10px">{{if partnerAgency.province != null}}
					{{partnerAgency.province.name}}
					{{/if}}
					{{if partnerAgency.city != null}}
					-{{partnerAgency.city.name}}
					{{/if}}
					{{if partnerAgency.district != null}}
					-{{partnerAgency.district.name}}
					{{/if}}</td>
				<td class="style-myself">是否启用</td>
				<td style="text-align: left;padding: 0px 0px 0px 10px">{{if partnerAgency.status == 0}}
					已停用
					{{else}}
					已启用
					{{/if}}</td>
			</tr>
			<tr>
				<td class="style-myself">详细地址</td>
				<td style="text-align: left;padding: 0px 0px 0px 10px" colspan="3">{{partnerAgency.street}}</td>
			</tr>
			<tr>
				<td class="style-myself">简介</td>
				<td style="text-align: left;padding: 0px 0px 0px 10px" colspan="3">{{partnerAgency.remark}}</td>

			</tr>
		</table>

	 	<div class="space-10"></div>
		<table class="whereQ whereTwo"  style="width: 98%">
			<tr>
				<td colspan="4" class="HeadManage" style="text-align: left">联系人列表</td>
			</tr>
			<tr>
				<td class="style-myself">联系人姓名</td>
				<td class="styleOne-self">联系人电话</td>
				<td class="style-myself">所属部门</td>
				<td class="styleOne-self">所属职位</td>
			</tr>
			{{each partnerAgency.partnerAgencyContactList as contact}}
			<tr>
				<td>{{contact.contactRealname}}</td>
				<td>{{contact.contactMobileNumber}}</td>
				<td>{{contact.departmentName}}</td>
				<td>{{contact.dutyName}}</td>
			</tr>
			{{/each}}
		</table>
	</form>
</div>
