<div class= "row T-newData" data-id="{{searchParam.hotelId}}" data-name="{{hotelName}}">
    <div class="col-sm-12 ">
        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="T-search-area">
                <div class="form-group"> 
                    <label>酒店：</label>
                    <input type="text" name="hotelName" value="{{hotelName}}" />
                    <label class="marginLeft-30">账期：</label>
                    <input class="date-picker" name="startDate" placeholder="开始日期" type="text" value="{{searchParam.startTime}}" style="width:100px;" />   
                    <label>&nbsp;至&nbsp;</label>
                    <input class="date-picker" name="endDate" placeholder="结束日期" type="text" value="{{searchParam.endTime}}" style="width:100px;" />   

                    <label class="marginLeft-30">账务类别：</label>
                    <input name="accountInfo" placeholder="账务类别" type="text" value="{{searchParam.accountInfo}}" style="width:200px;" />
                    
                    <button class=" btn-sm T-search search-btn btn-height" style="margin-left:20px;">
                        <i class="ace-icon fa fa-search"></i>搜索
                    </button>
                </div>
                <input name="accountStatus" value="{{searchParam.accountStatus}}" type="hidden">
            </div>
        </form>

        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="form-group">
                <div class="pull-left" style="margin:3px 30px 0px 0px;">
                    <label class="control-label mar-r-20">房间数合计：<span class="F-float F-count">{{sumRealCount}}</span></label>
                    <label>账面应付合计：<span class="F-float F-money">{{sumNeedPayMoney}}</span></label>
                    <label class="marginLeft-30">已付金额合计：<span class="F-float F-money">{{sumPayedMoney}}</span> </label>
                    <label class="marginLeft-30">结算金额合计：<span class="F-float F-money">{{sumSettlementMoney}}</span></label>
                    <label class="marginLeft-30">未付金额合计：<span class="F-float F-money">{{sumUnPayedMoney}}</span></label>
                    <label class="marginLeft-30">未付金额合计(已对账)：<span class="T-unpayMoney F-float F-money">{{checkedUnPayedMoney}}</span></label>
                </div>
            </div>
        </form>

        <div class="form-inline row globalAdd T-summary">
            <div class="form-group mar-r-10">
                <label class="control-label">本次付款金额合计：</label>
                <label class="control-label">
                    <input type="text" name="sumPayMoney" class="money F-float F-money"  value="{{sumPayMoney}}" {{if isAutoPay != 0}}disabled{{/if}}>
                </label>
            </div>

            <div class="form-group mar-r-10">
                {{if isAutoPay == 0}}
                <button class="btn btn-primary T-clear-auto">
                    <i class="ace-icon fa fa-check-circle"></i> 自动下账
                </button>
                {{else if isAutoPay == 1}}
                <button class="btn btn-warning T-cancel-auto">
                    <i class="ace-icon fa fa-times-circle"></i> 取消下账
                </button>
                {{/if}}
            </div>

            <div class="form-group mar-r-10">
                <label class="control-label">付款方式：</label>
                <select class="form-control T-sumPayType" name="sumPayType">
                    {{#sumPayType | getPayTypeOptions}}
                </select>
            </div>

            <div class="form-group mar-r-10">
                <label class="control-label">现金账号：</label>
                <label class="control-label">
                    <input type="text" name="cash-number" {{if sumPayType == 0}}value="{{bankNo}}"{{/if}} class="money" style="width:300px;">
                    <input type="hidden" name="cash-id" {{if sumPayType == 0}}value="{{bankId}}"{{/if}}/>
                </label>
            </div>
            <div class="form-group mar-r-10 T-bankDiv">
                <label class="control-label">银行账号：</label>
                <label class="control-label">
                    <input type="text" name="card-number" {{if sumPayType != 0}}value="{{bankNo}}"{{/if}} class="money" style="width:300px;">
                    <input type="hidden" name="card-id" {{if sumPayType != 0}}value="{{bankId}}"{{/if}} />
                </label>
            </div>
            <div class="form-group mar-r-10">
                <label class="control-label">凭证编号：</label>
                <label class="control-label">
                    <input type="text" name="credentials-number" value="{{voucher}}" />
                </label>
            </div>
            <div class="form-group mar-r-10">
                <label class="control-label">记账日期：</label>
                <label class="control-label">
                    <input type="text" name="tally-date" value="{{billTime}}"  style="width:140px;">
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label">备注：</label>
            <label class="control-label">
                <input type="text" name="remark" value="{{sumPayRemark}}" class="T-remark" style="width:900px;">
            </label>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover all margin-top hct_align_middle">
        <thead>
            <tr class="T-tr-fixed bg-blur"><th>账务类别</th>
                <th>入住日期(账期)</th>
                <th>房型</th>
                <th>单价</th>
                <th>数量</th>
                <th>优惠</th>
                <th>账面应付</th>
                <th>已付金额</th>
                <th width="45">单据</th>
                <th>结算金额</th>
                <th>未付金额</th>
                <th><span class="necessary">*</span>本次付款金额</th>
                <th style="width: 100px">备注</th>
                <th>对账时间</th>
                <th>对账人</th>
                <th width="100">对账</th>
            </tr>
        </thead>
        <tbody class="T-clearList">
            {{each financialHotelListData as rs}}
            <tr data-id="{{rs.id}}">
                <td>{{if rs.tripNumber !=null && rs.tripNumber != ""}}{{rs.tripNumber}}
                        {{if rs.lineProductName || rs.guideName}}，{{/if}}
                    {{/if}}
                    {{if rs.lineProductName != null && rs.lineProductName != ""}}{{rs.lineProductName}}
                        {{if rs.guideName}}，{{/if}}
                    {{/if}}
                    {{if rs.guideName != null && rs.guideName != ""}}{{rs.guideName}}{{/if}}
                </td>
                <td>{{if rs.accountTime == null || rs.accountTime == ""}}-{{else}}{{rs.accountTime | dateFormat: 'yyyy-MM-dd'}}{{/if}}</td>
                <td>{{if rs.type == null || rs.type == ""}}-{{else}}{{rs.type}}{{/if}}</td>
                <td><span class="F-float F-money">{{rs.price}}</span></td>
                <td><span class="F-float F-count">{{rs.memberCount}}</span></td>  
                <td><span class="F-float F-money">{{rs.reduceMoney}}</span></td>
                <td><span class="F-float F-money">{{rs.needPayMoney}}</span></td>
                <td><a class="T-option T-payedDetail">{{"社付："}}<span class="F-float F-money">{{rs.payedMoney}}</span>{{if !rs.isGuidePay || rs.isGuidePay != 1}}{{"，"}}{{"导付："}}<span class="F-float F-money">{{rs.realGuidePayMoney}}</span>{{/if}}</a></td> 
                <td>{{if rs.billImage != null && rs.billImage !=""}}<a href="#" class="T-option T-hotelImg" url="{{rs.billImage}}"><span>查看</span></a>{{else}}<span style="color:#bbb">查看</span>{{/if}}</td>
                <td><span class="F-float F-money">{{rs.settlementMoney}}</span></td>  
                <td><span class="F-float F-money">{{rs.unPayedMoney}}</span></td>
                <td><input name="payMoney" type="text" value="{{rs.payMoney}}" class="money F-float F-money" maxlength="9" /></td>
                <td><textarea class="col-sm-12 hct-textarea" name="payRemark" maxlength="1000">{{rs.payRemark}}</textarea></td>
                <td>{{if rs.checkTime == null || rs.checkTime == ""}}-{{else}}{{rs.checkTime | dateFormat:'yyyy-MM-dd hh:mm:ss'}}{{/if}}</td>
                <td>{{if rs.checkUserName == null || rs.checkUserName == ""}}-{{else}}{{rs.checkUserName}}{{/if}}</td>
                <td>
                    {{if rs.isConfirmAccount == 1}}已对账{{else if rs.isConfirmAccount == 0}}未对账{{/if}}
                    <a class="cursor"> |</a>
                    <a class="cursor T-option T-needPayDetail" style="border:none">查看</a>
                </td>
            </tr>  
            {{/each}}
        </tbody>
    </table>

    <div class="row pageMode">
        <div class="col-xs-6">
            <small>共计 {{searchParam.recordSize}} 条记录</small>
        </div>
        <div class="col-xs-6">
            <div class="dataTables_paginate paging_simple_numbers T-pagenation">
            </div>
        </div>
    </div>
    <form class="form-horizontal" role="form" onsubmit="return false">
        <div class="form-group" style="text-align: center;">
            <button class="btn btn-xs btn-primary T-btn-close" style="margin-left:20px">
                <i class="ace-icon fa fa-times-circle"></i>关闭
            </button>
            <button class="btn btn-xs btn-primary T-saveClear">
                <i class="ace-icon fa fa-check-circle"></i>确认付款
            </button>
        </div>
    </form>
</div>