<div class="row Financialhotel" >
    <div class="form-horizontal T-search-area">    
        <div class="form-group" >      
          <label class="control-label pull-left" style="margin-left: 15px">酒店：</label>
                <select  class="col-xs-12" name="hotelId" style="width: 220px">
                    <option value ="">全部</option>
                    {{each hotelNameListNew as hotel index}}
						<option value="{{hotel.id}}" {{if searchParam.hotelId == hotel.id}}selected="selected"{{/if}}>{{hotel.name}}</option>
					{{/each}} 
                </select>
           <label class="control-label pull-left marginLeft-30" >账期：</label>
				<select class="col-sm-1 " name="year" >
					{{each yearList as year index}}
						<option value="{{year.value}}" {{if searchParam.year == year.value}}selected="selected"{{/if}}>{{year.value}}</option>
					{{/each}}
				</select>
				<select class="col-sm-1 marginLeft-30" name="month">
				    <option value ="">全部</option>
					{{each monthList as month index}}
						<option value="{{month.value}}" {{if searchParam.month == month.value}}selected="selected"{{/if}}>{{month.value}}月</option>
					{{/each}}
				</select>
            <button class="btn-sm  T-search search-btn marginLeft-30 " >
                <i class="ace-icon fa fa-search"></i> 搜索
            </button>
        </div>
    </div>
    <div class="row hotelaurantList">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover T-showHighLight">
                <thead>
                <tr class="bg-blur">
                    <th class="col-sm-1">酒店</th>
                    <th>总账面应付</th>
                    <th>总实际应付</th>
                    <th>总实际已付</th>
                    <th>总账面未付</th>
                    <th>总实际未付</th>
                    <th>对账进度</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody class="T-list">
                {{each financialHotelSettlementList as hotel}}
                <tr data-id="{{hotel.hotelId}}" data-name="{{hotel.hotelName}}">
                    <td>{{hotel.hotelName}}</td>
                    <td>{{hotel.sumNeedPayMoney}}</td>
                    <td>{{hotel.sumRealNeedPayMoney}}</td>
                    <td>{{hotel.sumRealPayedMoney}}</td>
                    <td>{{hotel.sumUnPayedMoney}}</td>
                    <td>
                    	<span style="color:red">{{hotel.sumRealUnPayedMoney}}</span>
                    </td>
                   
                    <td >
	                    {{if hotel.allCount != hotel.checkedCount}}
	                      <span style="color:#ff9900"> {{hotel.checkedCount}}{{"/"}}{{hotel.allCount}}</span>
	                    {{/if}}
	                    {{if hotel.allCount == hotel.checkedCount}}
	                      <span style="color:green"> {{hotel.checkedCount}}{{"/"}}{{hotel.allCount}}</span>
	                    {{/if}}
                    </td>
                    <td>
                        <a class="cursor T-option T-check R-right" data-right="1220002">
                            	对账
                       </a>
                       <label class="cursor R-right" data-right="1220002"><a class="R-right" data-right="1220003"> |</a></label>
                        <a class="cursor R-right T-option T-clear" data-right="1220003">
                           		 结算
                        </a>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
            <div class="row pageMode">
                <div class="col-xs-6">
                    <small>共计 {{recordSize}} 条记录</small>
                </div>
                <div class="col-xs-6">
                    <div class="dataTables_paginate paging_simple_numbers T-pagenation">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>