<div class="row T-search-area">
    <form class="form-inline" role="form" onsubmit="return false">
        <div class="form-group input-daterange mar-r-10">
            <label>记账日期</label>
            <input type="text" class="form-control datepicker w100" name="startDate" value="{{searchParam.startDate}}">
            <label>&nbsp;至&nbsp;</label>
            <input type="text" class="form-control datepicker w100" name="endDate" value="{{searchParam.endDate}}">
        </div>
         <div class="form-group mar-r-10">
            <label>业务类别</label> 
            <select name="moneyType" style="width: 51px;"> 
                <option {{if searchParam.moneyType=="-1"}}selected{{/if}} value="-1">全部</option>
                <option {{if searchParam.moneyType==0}}selected{{/if}} value="0">收入</option>
                <option {{if searchParam.moneyType==1}}selected{{/if}} value="1">支出</option> 
            </select> 
        </div>
        <div class="form-group mar-r-10">
            <label>资源类型</label> 
            <select name="resourceType" style="width: 51px;">
                <option {{if searchParam.resourceType=="-1"}}selected{{/if}} value="">全部</option>
                <option {{if searchParam.resourceType=="20"}}selected{{/if}} value="20">酒店</option>
                <option {{if searchParam.resourceType=="21"}}selected{{/if}} value="21">购物</option> 
                <option {{if searchParam.resourceType=="22"}}selected{{/if}} value="22">客户</option>
            </select> 
        </div>
        <div class="form-group mar-r-10">
            <label>对方单位</label>
            <input type="text" class="form-control" name="resourceName" style="width: 120px;" value="{{searchParam.resourceName}}" maxlength="100"
            placeholder="对方单位">
        </div>
        <div class="form-group mar-r-10">
            <label>主营业务收付类别</label>
            <input type="text" class="form-control w100" name="receivableType" value="{{searchParam.receivableType}}">
            <input type="hidden" class="form-control w100" name="receivableTypeId" value="{{searchParam.receivableTypeId}}">
        </div>
        <div class="form-group">
            <button class="btn-sm search-btn T-btn-search"><i class="ace-icon fa fa-search"></i> 搜索</button>
        </div>
    </form>
    <form class="form-inline" role="form" onsubmit="return false">
       <div class="form-group input-daterange mar-r-10">
            <label>会计科目</label>
            <select name="subjectName" class="w100">
                <option {{if searchParam.subjectName==""}}selected{{/if}} value="">全部</option>
                <option {{if searchParam.subjectName==='预收账款'}}selected{{/if}} value="预收账款">预收账款</option>
                <option {{if searchParam.subjectName==='预付账款'}}selected{{/if}} value="预付账款">预付账款</option>
            </select>
        </div>
        <div class="form-group mar-r-10"> 
            <label>凭证编号</label>
            <input type="text" class="form-control w100" name="voucher" value="{{searchParam.voucher}}">
        </div>
        <div class="form-group mar-r-10"> 
            <label>支付方式</label> 
            <select name="payType">
                <option {{if searchParam.payType=="-1"}}selected{{/if}} value="-1">全部</option> 
                <option {{if searchParam.payType==0}}selected{{/if}} value="0">现金</option> 
                <option {{if searchParam.payType==1}}selected{{/if}} value="1">银行转账</option> 
                <option {{if searchParam.payType==3}}selected{{/if}} value="3">支票</option> 
                <option {{if searchParam.payType==4}}selected{{/if}} value="4">其他</option> 
                <option {{if searchParam.payType==5}}selected{{/if}} value="5">网付</option>
                <option {{if searchParam.payType==6}}selected{{/if}} value="6">冲抵</option>
            </select>
        </div>
        <div class="form-group mar-r-20">
            <label class="control-label">收款合计：</label>
            <label class="control-label F-float F-money T-sumStMoney">0</label>
        </div>
        <div class="form-group mar-r-20">
            <label class="control-label">付款合计：</label>
            <label class="control-label F-float F-money T-sumPayMoney">0</label>
        </div>
    </form>
</div>

<div class="row">
    <table class="table table-striped table-bordered table-hover T-showHighLight">
        <thead>
            <tr class="bg-blur T-tr-fixed">
                <th>记账日期</th>
                <th>业务类别</th>
                <th>对方单位</th>
                <th>主营业务收付类别</th>
                <th>会计科目</th>
                <th>凭证编号</th>
                <th>支付方式</th>
                <th>收款</th>
                <th>付款</th>
                <th>银行账号</th>
                <th>备注</th>
                <th>操作人</th>
                <th>操作时间</th>
            </tr>
        </thead>
        <tbody class="T-list">
            {{each result as rs}}
                <tr data-id="{{rs.id}}">
                    <td>{{rs.accountTime}}</td>
                    <td>{{if rs.moneyType == 0}}收入{{else if rs.moneyType == 1}}支出{{else if rs.moneyType == 2}}转账{{/if}}</td>
                    <td>{{if rs.resourceName == null || rs.resourceName == ""}}-{{else}}{{rs.resourceName}}{{/if}}</td>
                    <td>{{if rs.receivableType == null || rs.receivableType == ""}}-{{else}}{{rs.receivableType.name}}{{/if}}</td>
                    <td>{{if rs.subjectName == null || rs.subjectName == ""}}-{{else}}{{rs.subjectName}}{{/if}}</td>
                    <td>{{if rs.voucher == null || rs.voucher == ""}}-{{else}}{{rs.voucher}}{{/if}}</td>
                    <td>{{if rs.payType == 0}}现金{{else if rs.payType == 1}}银行转账{{else if rs.payType == 2}}网上支付{{else if rs.payType == 3}}支票{{else if rs.payType == 4}}其它{{else if rs.payType == 5}}网付{{else if rs.payType == 6}}冲抵{{/if}}</td>
                    {{if rs.moneyType == 0}}
                    <td><a {{if rs.subjectName == '主营业务收入' || rs.subjectName == '主营业务支出'}}class="T-viewDetails"{{else}}style="color:#000;"{{/if}}><span class="F-float F-money">{{rs.incomeDifferenceMoney}}</span></a></td>
                    <td>-</td>
                    {{else if rs.moneyType == 1}}
                    <td>-</td>
                    <td><a {{if rs.subjectName == '主营业务收入' || rs.subjectName == '主营业务支出'}}class="T-viewDetails"{{else}}style="color:#000;"{{/if}}><span class="F-float F-money">{{rs.payDifferenceMoney}}</span></a></td>
                    {{else if rs.moneyType == 2}}
                    <td>{{if rs.incomeDifferenceMoney == 0}}-
                        {{else}}<span class="F-float F-money">{{rs.incomeDifferenceMoney}}</span></td>
                        {{/if}}
                    <td>{{if rs.payDifferenceMoney == 0}}-
                        {{else}}<span class="F-float F-money">{{rs.payDifferenceMoney}}</span></td>
                        {{/if}}
                    {{/if}}
                    <td>
                        {{if rs.bankAccount != null}}
                            {{if rs.bankAccount.bankAccountNumber == null || rs.bankAccount.bankAccountNumber == ""}}
                                    -
                                {{else}}
                                    {{rs.bankAccount.bankAccountNumber}}
                            {{/if}}
                        {{else}}
                            -
                        {{/if}}
                    </td>
                    <td>{{rs.remark}}</td>
                    <td>{{if !!rs.user}}{{rs.user.realName}}{{/if}}</td>
                    <td>{{rs.createTime}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="row pageMode">
        <div class="col-xs-6">
            <small>共计 {{searchParam.totalCount}} 条记录</small>
        </div>
        <div class="col-xs-6">
            <div class="dataTables_paginate paging_simple_numbers T-pagenation">
            </div>
        </div>
    </div>
</div>
