<div class="row resource_hotel" >
    <div class="col-sm-12">
        <div class="form-group">
            <div class="border T-search-area" style="margin:0px;border-style:solid solid none solid">
                <div class="col-xs-1">
                    <input type="text" value="{{searchParam.lineProductName}}" name="lineProductName" class="col-xs-12 clearBlur" placeholder="线路产品" />
                    <input type="hidden" value="{{searchParam.lineProductId}}" name="lineProductId" />
                </div>
                <div class="col-xs-1">
                    <input type="text" value="{{searchParam.partnerAgencyName}}"  name="partnerAgencyName" class="col-xs-12" placeholder="客户来源" />
                    <input type="hidden" value="{{searchParam.partnerAgencyId}}" name="partnerAgencyId" />
                </div>
                <div class="col-xs-1">
                    <input type="text" value="{{searchParam.toBusinessGroupName}}" name="toBusinessGroupName" class="col-xs-12" placeholder="同行地接" />
                    <input type="hidden" value="{{searchParam.toBusinessGroupId}}" name="toBusinessGroupId" />
                </div>
                <div class="col-xs-3">
                    <div class="col-xs-6">
                        <div class="input-group">
                            <input class="col-xs-12 date-picker" name="startTime" placeholder="开始日期" value="{{searchParam.startTime}}" type="text" />
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>  
                    <div class="col-xs-6">    
                        <div class="input-group">
                            <input class="col-xs-12 date-picker" name="endTime" placeholder="结束日期" value="{{searchParam.endTime}}" type="text" />
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>   
                            </span>  
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <button class="btn-sm  btn-height search-btn T-search" style="border-top-width: 4px;border-bottom-width: 4px;">
                        <i class="ace-icon fa fa-search"></i>
                         搜索
                    </button>
                </div>
                <div style="clear:both;height:0px;line-height:0px;"></div>
            </div>
            <div class="form-group border" style="margin:0px;border-style:dashed solid solid solid" >
                <label class="control-label" style="margin-left:12px;">总人数：{{sumAdultCount}} 大 {{sumChildCount}} 小</label>
                <label class="control-label" style="margin-left:12px;">总应收：{{sumNeedIncomeMoney}}</label>
                <label class="control-label" style="margin-left:12px;">总应付：{{sumNeedPayMoney}}</label>
                <label class="control-label" style="margin-left:12px;">毛利：{{sumGrossProfit}}</label>
                <label class="control-label" style="margin-left:12px;">人均毛利：{{sumAveragerGrossProfit}}</label>
            </div>
        </div>
        <div class="row ticketList" style="margin-top:10px;">
            <div class="col-xs-12">
                <table class="table table-striped table-bordered table-hover T-showHighLight">
                    <thead>
                        <tr class="bg-blur">
                             <th class="col-sm-1"> 线路产品</th>
                             <th> 出游日期</th>
                             <th> 游客</th>  
                             <th> 人数</th>
                             <th> 客户来源</th>   
                             <th > 团款应收</th>
                             <th> 中转</th>
                             <th> 中转应付</th>
                             <th> 同行地接</th>
                             <th> 转客应付</th>  
                             <th> 毛利</th>
                             <th> 人均毛利</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{each touristGroupTransferList as turnProfit index}}
                            <tr data-id = "{{turnProfit.touristGroupId}}">  
                                <td>{{turnProfit.lineProductName}}</td>
                                <!--给日期转码-->
                                <td>{{turnProfit.startTime | dateFormat: 'yyyy-MM-dd'}}</td>
                                <td>{{turnProfit.contact}}</td>
                                <td><a href="javascript:void(0)" class="T-option T-showTourist">{{turnProfit.adultCount}}大{{turnProfit.childCount}}小</a></td>
                                <td>{{turnProfit.partnerAgencyName}}</td>
                                <td><a href="javascript:void(0)" class="T-option T-showIncomeDetail">{{turnProfit.needInComeMoney}}</a></td>
                                <td>{{if turnProfit.change == ""}}空{{else}}{{turnProfit.change}}{{/if}}</td>
                                <td><a href="javascript:void(0)" class="T-option T-showChangePay">{{turnProfit.changeNeedPayMoney}}</a></td>
                                <td>{{turnProfit.transferPartnerAgencyName}}</td> 
                                <td>
                                    <a href="javascript:void(0)" class="T-option T-showTransPay" data-id = "{{turnProfit.tgTransferId}}">{{turnProfit.transNeedPayAllMoney}}</a>
                                </td>
                                <td>
                                    <span style="color: red">{{turnProfit.grossProfit}}</span>
                                </td>
                                <td>
                                  <span style="color: red"> {{turnProfit.averageGrossProfit}}</span>
                                </td>
                            </tr>   
                        {{/each}}
                    </tbody>  
                </table>
                <div class="row pageMode">
                    <div class="col-xs-6">
                        <small>共计 {{recordSize}} 条记录</small>
                    </div>
                    <div class="col-xs-6">
                        <div class="dataTables_paginate paging_simple_numbers T-pagenation">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>