<div class="col-xs-12">
	<form class="form-horizontal" role="form" style="margin-top:10px">
		<table class="whereQ whereTwo" style="width: 100%">
			<tr>
                <td colspan="4" class="HeadManage" style="text-align: left">我社转出主体信息</td>
            </tr>
			<tr>
				<td class="style-myself CheckPlan">同行地接</td>
				<td style="text-align: left;padding: 0px 0px 0px 10px" colspan="3">{{partnerAgency.travelAgencyName}}</td>
				</tr>
			<tr>
				<td class="style-myself CheckPlan">转客备注</td>
				<td style="text-align: left;padding: 0px 0px 0px 10px" colspan="3">{{touristGroup.transRemark}}</td>
				</tr>
			<tr>
				<td class="style-myself CheckPlan">应付</td>
				<td style="text-align: left;padding: 0px 0px 0px 10px">{{touristGroup.transNeedPayAllMoney}}</td>
				<td class="style-myself CheckPlan">已付</td>
				<td style="text-align: left;padding: 0px 0px 0px 10px">{{touristGroup.transPayedMoney}}</td>
				</tr>
		</table>
	</form>
</div>

<div  class="col-xs-12">	
	<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
		<div class="form-group">
			<div class="col-xs-12 col-sm-12 widget-container-col">
				<div class="ui-sortable-handle">
						<h5 class="title-size">
							转客列表
						</h5>
					<div class="widget-body">
						<div class="widget-main no-padding">
							<table  class="whereQ whereTwo" style="width: 100%"> 
								<thead>
							      	<tr>
										<td class="th-border">类型</td>
										<td class="th-border">说明</td>
										<td class="th-border">数量</td>
										<td class="th-border">转客单价</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>转客价</td>
										<td>大人</td>
										<td>{{touristGroup.adultCount}}</td>
										<td>{{touristGroup.transAdultPrice}}</td>
								
									</tr>
									
									<tr>
										<td>转客价</td>
										<td>小孩</td>
										<td>{{touristGroup.childCount}}</td>
										<td>{{touristGroup.transChildPrice}}</td>	
									</tr>  
									
								  <!-- 其他费用 -->
								  {{each touristGroup.touristGroupTransferFeeSet as transferFee}}
								    {{if transferFee!=null}}
								      <tr>   
								            <td>其他费用</td>  
								            <td>{{transferFee.discribe}}</td>
								            <td>{{transferFee.count}}</td>  
								            <td>{{transferFee.otherPrice}}</td>
								      </tr>
								      {{/if}}  
								  {{/each}} 										  
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>