
<form class="form-horizontal touristGroupMainForm" role="form" style="margin-top:10px" onsubmit="return false">
	<table class="whereQ whereOne">

		<tr>
			<td class="style-myself">线路产品：</td>
			<td class="styleOne-self">{{if touristGroupDetail.lineProduct != null}}{{touristGroupDetail.lineProduct.name}}{{/if}}</td>
			<td class="style-myself">出游日期：</td>
			<td class="styleOne-self">{{touristGroupDetail.startTime | dateFormat: 'yyyy-MM-dd'}}</td>

		</tr>
		<tr>
			<td class="style-myself" style="width:150px">是否购买保险：</td>
			<td class="styleOne-self">{{if touristGroupDetail.buyInsurance == 0}}
				否
				{{else touristGroupDetail.buyInsurance == 1}}
				是
				{{/if}}</td>
			<td class="style-myself">客户来源：</td>
			<td class="styleOne-self" >{{if touristGroupDetail.partnerAgency != null}}{{touristGroupDetail.partnerAgency.travelAgencyName}}{{/if}}</td>

		</tr>
		<tr>
			<td class="style-myself" style="width:150px">同行联系人：</td>
			<td class="styleOne-self" >{{if touristGroupDetail.partnerAgencyContact != null}}{{touristGroupDetail.partnerAgencyContact.contactRealname}} -[{{touristGroupDetail.partnerAgencyContact.contactMobileNumber}}]{{/if}}</td>
			<td class="style-myself">获得方式：</td>
			<td class="styleOne-self" >{{if touristGroupDetail.getType == 1}}
				旅行社系统
				{{else if touristGroupDetail.getType == 2}}
				传真
				{{else if touristGroupDetail.getType == 3}}
				短信
				{{else if touristGroupDetail.getType == 4}}
				电话
				{{else if touristGroupDetail.getType == 5}}
				QQ
				{{/if}}</td>
		</tr>

		<tr>
			<td class="style-myself">应收：</td>
			<td class="styleOne-self" >{{touristGroupDetail.needPayAllMoney}}</td>
			<td class="style-myself">已收：</td>
			<td class="styleOne-self">{{touristGroupDetail.payedMoney}}</td>
			</tr>
		<tr>
			<td class="style-myself">现收：</td>
			<td class="styleOne-self">{{touristGroupDetail.currentNeedPayMoney}}</td>

			<td class="style-myself">未收：</td>
			<td class="styleOne-self">{{touristGroupDetail.unIncomeMoney}}</td></tr>
	</table>

	<table class="whereQ whereTwo" style="margin-top: 40px">
		<!--<tr>-->
		<!--<td colspan="8" class="HeadManage" style="text-align: left"></td>-->
		<!--</tr>-->
		<tr>
			<td class="style-myself">类型</td>
			<td class="style-myself">说明</td>
			<td class="style-myself">数量</td>
			<td class="style-myself">单价</td>
		</tr>

		<tr>
			<td>
				结算价
			</td>
			<td>
				大人
			</td>
			<td>
				<label class="control-label">{{touristGroupDetail.adultCount}}</label>
			</td>
			<td>
				<label class="control-label">{{touristGroupDetail.adultPrice}}</label>
			</td>
		</tr>
		<tr>
			<td>
				结算价
			</td>
			<td>
				小孩
			</td>
			<td>
				<label class="control-label">{{touristGroupDetail.childCount}}</label>
			</td>
			<td>
				<label class="control-label">{{touristGroupDetail.childPrice}}</label>
			</td>
		</tr>
		<!-- 其他费用 -->
		  {{each touristGroupDetail.touristGroupTransferFeeSet as transferFee}}
		    {{if transferFee!=null}}
		      <tr>   
		            <td>其他费用</td>  
		            <td>{{transferFee.discribe}}</td>
		            <td>{{transferFee.count}}</td>  
		            <td>{{transferFee.otherPrice}}</td>
		      </tr>
		      {{/if}}  
		  {{/each}} 
	</table>
	</form>
