<!--<div class="col-xs-12">-->
<form class="form-horizontal touristGroupMainForm" role="form" style="margin-top:10px" onsubmit="return false">
	<table class="whereQ whereTwo margin-top15" style="width:97%">
		<tr>
			<td class="style-myself">序号</td>
			<td class="style-myself">姓名</td>
			<td class="style-myself">手机号码</td>
			<td class="style-myself">证件类型</td>
			<td class="style-myself">证件号</td>
			<td class="style-myself">是否为联系人</td>
		</tr>
		{{each touristGroupMemberDetail.touristGroupMemberList as touristGroup index}}
		<tr  data-entity-id="touristGroup.id">
			<td>{{index+1}}</td>
			<td class="">{{touristGroup.name}}</td>
			<td>
				{{touristGroup.mobileNumber}}
			</td>
			<td>
				{{if touristGroup.idCardType == 0}}身份证
				{{else if touristGroup.idCardType == 1}}护照
				{{else}}其它
				{{/if}}
			</td>
			<td>
				{{touristGroup.idCardNumber}}
			</td>
			<td>
				{{if touristGroup.isContactUser==0}}
				否
				{{else}}
				是
				{{/if}}
			</td>
		</tr>
		{{/each}}
	</table>
</form>