<div class="row innerTransferChecking globalAdd">
    <div class="col-xs-12 border">
        <form class="form-horizontal" role="form" onsubmit="return false">
                <div class="search-area editable editable-click" >
                    <div class="form-group"> 
                        <label style="float: left;margin: 0px auto auto 15px" class="control-label pull-left"> 部门:{{searchParam.fromBusinessGroupName}}</label>
                        
                        <label class="control-label col-sm-1" style="float:left;">账期:</label>
                            <select class="col-sm-1" name="year" style="margin-left:20px">
                                {{each yearList as year index}}
                                    <option value="{{year.value}}" {{if searchParam.year == year.value}}selected="selected"{{/if}}>{{year.value}}</option>
                                {{/each}}
                            </select>
                            <select class="col-sm-1" name="month" style="margin-left:5px">
                                <option value ="">全部</option>
                                {{each monthList as month index}}
                                    <option value="{{month.value}}" {{if searchParam.month == month.value}}selected="selected"{{/if}}>{{month.value}}月</option>
                                {{/each}}
                            </select>
                        <button class="btn-sm search-btn btn-checking-search" style="margin-left:5px;position:relative;">
                             <i class="ace-icon fa fa-search"></i>
                                 搜索
                        </button>
                        
                        <button type="button" class="btn btn-sm btn-primary btn-success btn-transferExport">
                            <span>导出报表</span>
                            <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                        </button>
                    </div>
                </div>
            </form>
        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="form-group ">
                <label class=" control-label pull-left" style="margin-left: 15px">总人数:{{allPerson}}<label>
                <label class=" control-label " style="margin-left:30px;">总应收:{{needIncomeMoney}}</label>
                <label class=" control-label " style="margin-left:30px;">总已收:{{incomeMoney}}</label>
                <label class=" control-label " style="margin-left:30px;">总未收:{{unIncomeMoney}}</label>
                <label class=" control-label " style="margin-left:30px;">总实际未收:{{realUnIncomeMoney}}</label>
                <label class=" control-label " style="margin-left:30px;">总返款:{{backMoney}}</label>
            </div>
        </form>
    </div>
    <div class="clearfix"></div>
        <table class="table table-striped table-bordered table-hover all margin-top">
            <thead>
            <tr>
                 <th class='th-border'>序号</th>
                 <th class='th-border'>线路产品</th>
                 <th class='th-border'>出游日期</th>
                 <th class='th-border'>联系人</th>
                 <th class='th-border'>人数</th>
                 <th class='th-border'>接收人</th>
                 <th class='th-border'>接收时间</th>
                 <th class='th-border'>账面应收</th>
                 <th class='th-border'>明细</th>
                 <th class='th-border'>已收</th>
                 <th class='th-border'>未收</th>
                 <th class='th-border'>未收对账</th>
                 <th class='th-border'>返款</th>
                 <th class='th-border'>实际未收</th>
                 <th class='th-border'>说明</th>
                 <th class='th-border'>对账时间</th>
                 <th class='th-border'>对账人</th>
                 <th class='th-border'>对账</th>  
            </tr>
            </thead>   
            <tbody class="T-checkList" data-right="1360005">
            {{each financialInnerTransferInList as checking index}}
            <tr data-entity-id="{{checking.id}}" data-entity-createTime="{{checking.createTime}}" data-entity-isComfirmAccount="{{checking.isComfirmAccount}}" data-entity-UnIncomeMoney="{{checking.checkUnIncomeMoney}}" data-entity-backMoney="{{checking.backMoney}}" data-entity-remark="{{checking.checkRemark}}">                
                <td>{{index+1}}</td>
                <td>{{checking.lineProductName}}</td>
                <td name="startTime">{{checking.startTime | dateFormat: 'yyyy-MM-dd'}}</td>
                <td>{{checking.contactUserName}}</td>
                <td>{{checking.adultCount}}大{{checking.childCount}}小<a href="#" class="seeGroup" style="margin-left:5px">展开</a></td>
                <td>{{checking.receiveUserName}}</td>
                <td>{{checking.receiveTime | dateFormat: 'yyyy-MM-dd'}}</td>
                <td>{{checking.needIncomeMoney}}</td>
                <td>
                    大人:{{checking.adultPrice}}*{{checking.adultCount}}={{checking.adultPrice*checking.adultCount}}<br>
                    小孩:{{checking.childPrice}}*{{checking.childCount}}={{checking.childPrice*checking.childCount}}<br>
                    {{if checking.otherTransferFeeList.length>0}}
                        {{each checking.otherTransferFeeList as detail}}
                            {{detail.discribe}}：{{detail.count}}*{{detail.price}}={{detail.count*detail.price}}<br> 
                        {{/each}} 
                        {{else}}
                        -
                    {{/if}} 
                </td>
                <td>{{checking.incomeMoney}}</td>
                <td>{{checking.unIncomeMoney}}</td>
                <td><input type="text" maxlength="9" name="UnIncomeMoney" value="{{checking.checkUnIncomeMoney}}" style="text-align:center"></td>
                <td><input type="text" maxlength="9" name="backMoney" value="{{checking.backMoney}}" style="text-align:center"></td>
                <td><input type="text" maxlength="9" name="realUnIncomeMoney" value="{{checking.checkUnIncomeMoney-checking.backMoney}}" style="text-align:center" readonly="readonly"></td>
                <td><input type="text" maxlength="1000"  name="checkRemark" value="{{checking.checkRemark}}" style="text-align:center"></td>
                <td>{{if checking.checkTime == null || checking.checkTime == ""}}-{{else}}{{checking.checkTime | dateFormat: 'yyyy-MM-dd'}}{{/if}}</td>
                <td>{{if checking.checkUserRealName == null || checking.checkUserRealName == ""}}-{{else}}{{checking.checkUserRealName}}{{/if}}</td>
                <td>
                    <label class="pos-rel">
                        <input type="checkbox" data-entity-checkStatus="{{checking.isComfirmAccount}}" class="ace innerTransferFinancial" 
                        {{if checking.isComfirmAccount == 1}}checked="checked"{{/if}}/>
                        <span class="lbl"></span>
                    </label>
                </td>
            </tr>
            <tr class="hide">
                <td colspan="17">
                    <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>姓名</th>
                                    <th>联系电话</th>
                                    <th>证件类型</th>
                                    <th>证件号</th>
                                    <th>是否联系人</th>
                                </tr>
                            </thead>  
                            <tbody>
                               {{each checking.memberList as visitor index}}
                                <tr>
                                    <td>{{index+1}}</td>
                                    <td>{{visitor.name}}</td>
                                    <td>{{visitor.mobileNumber}}</td>
                                    <td>{{if visitor.idCardType == 0}}身份证{{/if}}{{if visitor.idCardType == 1}}护照{{/if}}{{if visitor.idCardType == 2}}其他{{/if}}</td>
                                    <td>{{visitor.idCardNumber}}</td>
                                    <td>{{if visitor.isContactUser == 1}}是{{/if}}</td>
                                </tr>
                              {{/each}} 
                            </tbody>
                    </table>
                </td>
            </tr>
            {{/each}}
         </tbody>
        </table>
        <div class="row pageMode">
            <div class="col-xs-6">
                <small>共计 {{recordSize}} 条记录</small>
            </div>
            <div class="col-xs-6">
                <div class="dataTables_paginate paging_simple_numbers T-pagenation">
                </div>
            </div>
        </div>
        <div class="form-group pull-right col-sm-4" style="text-align: right;margin-top: 40px;padding-right: 40px">
                <label class="pos-rel" style="margin-left:20px">
                    <span class="lbl"><input type="checkbox" class="innerTransferIn-selectAll"/>全选</span>
                </label>
       </div>
       <div style="clear: both"></div>
       <br>
        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="form-group" style="text-align: center;">
                <button class="btn btn-xs btn-primary btn-createTripPlan btn-transferFinancial-close">
                    <i class="ace-icon fa fa-times-circle"></i>
                    关闭
                </button>
                <button class="btn btn-xs btn-primary btn-transferFinancial-checking">
                    <i class="ace-icon fa fa-check-circle"></i>
                     确认对账
                </button>
            </div>
        </form>


</div>