<div class="row innerTransferChecking globalAdd">
    <div class="col-xs-12 border">
        <form class="form-horizontal" role="form" onsubmit="return false">
                <div class="search-area editable editable-click" >
                    <div class="form-group"> 
                        <label style="float: left;margin: 0px auto auto 15px" class="control-label pull-left"> 部门:{{searchParam.fromBusinessGroupName}}</label>
                        <div class="col-xs-3">
                            <label class="control-label col-sm-2" style="float:left;">账期:</label>
                            <input type="text" />
                            <span>至</span>
                            <input type="text" />
                        </div>
                        <div class="col-xs-2">
                            <label class="control-label col-sm-4" style="float:left;">线路名称:</label>
                            <input type="text" />
                            </div>
                        <div class="col-xs-2">
                            <label class="control-label col-sm-3" style="float:left;">录入人:</label>
                            <input type="text" />
                        </div>
                        <button class="btn-sm search-btn btn-checking-search marginLeft-30">
                             <i class="ace-icon fa fa-search"></i>
                                 搜索
                        </button>    
                        <!-- <button type="button" class="btn btn-sm marginLeft-30 btn-primary btn-success btn-transferExport">
                            <span>导出报表</span>
                            <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                        </button> -->
                    </div>
                </div>
            </form>
        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="form-group ">
                <label class=" control-label pull-left" style="margin-left: 15px">人数合计:{{allPerson}}<label>
                <label class=" control-label " style="margin-left:30px;">合同金额合计:{{needIncomeMoney}}</label>
                <label class=" control-label " style="margin-left:30px;">已收金额合计:{{incomeMoney}}</label>
                <label class=" control-label " style="margin-left:30px;">返款金额合计:{{unIncomeMoney}}</label>
                <label class=" control-label " style="margin-left:30px;">结算金额合计:{{realUnIncomeMoney}}</label>
                <label class=" control-label " style="margin-left:30px;">未收金额合计:{{backMoney}}</label>
               
            </div>
        </form>
    </div>
    <div class="clearfix"></div>
        <table class="table table-striped table-bordered table-hover all margin-top">
            <thead>
            <tr>
                 <th class='th-border'>序号</th>
                 <th class='th-border'>线路产品</th>
                 <th class='th-border'>出游日期</th>
                 <th class='th-border'>联系人</th>
                 <th class='th-border'>人数</th>
                 <th class='th-border'>接收人</th>
                 <th class='th-border'>接收时间</th>
                 <th class='th-border'>内转转入</th>
                 <th class='th-border'>明细</th>
                 <th class='th-border'>已收金额</th>
                 <th class='th-border'>返款金额</th>
                 <th class='th-border'>结算金额</th>
                 <th class='th-border'>未收金额</th>
                 <th class='th-border'>备注</th>
                 <th class='th-border'>对账时间</th>
                 <th class='th-border'>对账人</th>
                 <th class='th-border'>对账</th>  
            </tr>
            </thead>   
            <tbody class="T-checkList" data-right="1360005">
            {{each financialInnerTransferInList as checking index}}
            <tr data-entity-id="{{checking.id}}" data-entity-createTime="{{checking.createTime}}" data-entity-isComfirmAccount="{{checking.isComfirmAccount}}" data-entity-UnIncomeMoney="{{checking.checkUnIncomeMoney}}" data-entity-backMoney="{{checking.backMoney}}" data-entity-remark="{{checking.checkRemark}}">                
                <td>{{index+1}}</td>
                <td>{{checking.lineProductName}}</td>
                <td name="startTime">{{checking.startTime | dateFormat: 'yyyy-MM-dd'}}</td>
                <td>{{checking.contactUserName}}</td>
                <td>{{checking.adultCount}}大{{checking.childCount}}小<a href="#" class="seeGroup" style="margin-left:5px">展开</a></td>
                <td>{{checking.receiveUserName}}</td>
                <td>{{checking.receiveTime | dateFormat: 'yyyy-MM-dd'}}</td>
                <td>{{checking.needIncomeMoney}}</td>
                <td>
                    大人:{{checking.adultPrice}}*{{checking.adultCount}}={{checking.adultPrice*checking.adultCount}}<br>
                    小孩:{{checking.childPrice}}*{{checking.childCount}}={{checking.childPrice*checking.childCount}}<br>
                    {{if checking.otherTransferFeeList.length>0}}
                        {{each checking.otherTransferFeeList as detail}}
                            {{detail.discribe}}：{{detail.count}}*{{detail.price}}={{detail.count*detail.price}}<br> 
                        {{/each}} 
                        {{else}}
                        -
                    {{/if}} 
                </td>
                <td><a href="javascript:void(0)"><span>社收{{checking.incomeMoney}},导游现收{{checking.incomeMoney}}</span></a></td>
                <td><input type="text" maxlength="9" style="text-align:center"></td>
                <td>11</td>
                <td>11</td>
                <td><input type="text" maxlength="1000"  name="checkRemark" value="{{checking.checkRemark}}" style="text-align:center"></td>
                <td>{{if checking.checkTime == null || checking.checkTime == ""}}-{{else}}{{checking.checkTime | dateFormat: 'yyyy-MM-dd'}}{{/if}}</td>
                <td>{{if checking.checkUserRealName == null || checking.checkUserRealName == ""}}-{{else}}{{checking.checkUserRealName}}{{/if}}</td>
                <td>
                    <label class="pos-rel">
                        <input type="checkbox" data-entity-checkStatus="{{checking.isComfirmAccount}}" class="ace innerTransferFinancial" 
                        {{if checking.isComfirmAccount == 1}}checked="checked"{{/if}}/>
                        <span class="lbl"></span>
                    </label>
                    {{if checking.isComfirmAccount == 1}}
                        <label>
                            <a href="#" class="seeGroup" style="margin-left:5px">查看</a>
                        </label>
                    {{/if}}
                </td>
            </tr>
            <tr class="hide">
                <td colspan="17">
                    <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="th-border">序号</th>
                                    <th class="th-border">姓名</th>
                                    <th class="th-border">联系电话</th>
                                    <th class="th-border">证件类型</th>
                                    <th class="th-border">证件号</th>
                                    <th class="th-border">是否联系人</th>
                                </tr>
                            </thead>  
                            <tbody>
                               {{each checking.memberList as visitor index}}
                                <tr>
                                    <td>{{index+1}}</td>
                                    <td>{{visitor.name}}</td>
                                    <td>{{visitor.mobileNumber}}</td>
                                    <td>{{if visitor.idCardType == 0}}身份证{{/if}}{{if visitor.idCardType == 1}}护照{{/if}}{{if visitor.idCardType == 2}}其他{{/if}}</td>
                                    <td>{{visitor.idCardNumber}}</td>
                                    <td>{{if visitor.isContactUser == 1}}是{{/if}}</td>
                                </tr>
                              {{/each}} 
                            </tbody>
                    </table>
                </td>
            </tr>
            {{/each}}
         </tbody>
        </table>
        <div class="row pageMode">
            <div class="col-xs-6">
                <small>共计 {{recordSize}} 条记录</small>
            </div>
            <div class="col-xs-6">
                <div class="dataTables_paginate paging_simple_numbers T-pagenation">
                </div>
            </div>
        </div>
        <div class="form-group text-right">
            <label class="control-label pull-right"/>
                <input type="checkbox" class="ace pull-right innerTransferIn-selectAll">
                <span class="lbl"></span>  
                全选
            </label>
        </div>
        <div class="clearfix"></div>
        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="form-group" style="text-align: center;">
                <button class="btn btn-xs btn-primary btn-createTripPlan btn-transferFinancial-close">
                    <i class="ace-icon fa fa-times-circle"></i>
                    关闭
                </button>
                <button class="btn btn-xs btn-primary btn-transferFinancial-checking">
                    <i class="ace-icon fa fa-check-circle"></i>
                     确认对账
                </button>
            </div>
        </form>


</div>