<div class="row T-newData" data-id="{{searchParam.insuranceId}}" data-name="{{insuranceName}}">
    <div class="col-xs-12" style="padding-bottom: 0px">
        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="T-search-area">
                <div class="form-group">
                    <label>保险公司：</label>
                    <input type="text" class="T-insuranceName" value="{{insuranceName}}">
                    <input type="hidden" class="T-insuranceId" value="{{insuranceId}}">
                    <label class="marginLeft-30">账期：</label>
                    <input class="date-picker" name="startDate" placeholder="开始日期" type="text" value="{{searchParam.startDate}}" style="width:100px;" />
                    <label>&nbsp;至&nbsp;</label>
                    <input class="date-picker" name="endDate" placeholder="结束日期" type="text" value="{{searchParam.endDate}}" style="width:100px;" />
                    <label class="marginLeft-30">团信息：</label>
                    <input name="accountInfo" placeholder="团信息" type="text" value="{{searchParam.accountInfo}}" style="width:200px;" />
                    <button class=" btn-sm T-search search-btn marginLeft-30">
                        <i class="ace-icon fa fa-search"></i> 搜索
                    </button>
                    <input type="hidden" name="accountStatus" value="{{searchParam.accountStatus}}">
                    <button class="btn-sm search-btn T-btn-export marginLeft-30">导出报表</button>
                </div>
            </div>
        </form>
        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="form-group">
                <label class="control-label pull-left">账面应付合计：<span class="F-float F-money">{{sumNeedPayMoney}}</span></label>
                <label class="control-label marginLeft-30">已付金额合计：<span class="F-float F-money">{{sumPayedMoney}}</span></label>
                <label class="control-label marginLeft-30">结算金额合计：<span class="T-stMoney F-float F-money" >{{sumSettlementMoney}}</span></label>
                <label class="control-label marginLeft-30">未付金额合计：<span class="T-unpayMoney F-float F-money">{{sumUnPayedMoney}}</span></label>
                <label class="control-label marginLeft-30">未付金额合计(已对账)：<span class="F-float F-money">{{checkedUnPayedMoney}}</span></label>
            </div>
        </form>
    </div>
    <input type="hidden" value="{{WEB_IMG_URL_BIG}}" name="WEB_IMG_URL_BIG" />
    <input type="hidden" value="{{WEB_IMG_URL_SMALL}}" name="WEB_IMG_URL_SMALL" />
    <div class="clearfix"></div>
    <table class="table table-striped table-bordered table-hover all hct_align_middle">
        <thead>
            <tr class="T-tr-fixed bg-blur">
                <th>团信息</th>
                <th>消费日期(账期)</th>
                <th>险种</th>
                <th>单价</th>
                <th>数量</th>
                <th>优惠</th>
                <th>账面应付</th>
                <th>已付金额</th>
                <th>单据</th>
                <th>结算金额</th>
                <th>未付金额</th>
                <th>备注</th>
                <th>对账时间</th>
                <th>对账人</th>
                <th style="width:108px">对账</th>
            </tr>
        </thead>
        <tbody class="T-checkList" data-right="1270005">
            {{each financialInsuranceList as rs index}}
            <tr class="T-checkTr {{if rs.change}}success{{/if}}" data-id="{{rs.id}}" data-confirm="{{rs.isConfirmAccount}}" {{if rs.change}}data-change="true"{{/if}}>
                <td>{{if rs.tripNumber !=null && rs.tripNumber != ""}}{{rs.tripNumber}}
                        {{if rs.lineProductName || rs.guideName}}，{{/if}}
                    {{/if}}
                    {{if rs.lineProductName != null && rs.lineProductName != ""}}{{rs.lineProductName}}
                        {{if rs.guideName}}，{{/if}}
                    {{/if}}
                    {{if rs.guideName != null && rs.guideName != ""}}{{rs.guideName}}{{/if}}
                </td>
                <td>{{if rs.accountTime == null || rs.accountTime == ""}} - {{else}} {{rs.accountTime | dateFormat:'yyyy-MM-dd'}} {{/if}}
                </td>
                <td>{{if rs.type == null || rs.type == ""}}-{{else}}{{rs.type}}{{/if}}</td>
                <td class="F-float F-money">{{rs.price}}</td>
                <td class="F-float F-count">{{rs.memberCount}}</td>
                <td class="F-float F-money">{{rs.reduceMoney}}</td>
                <td class="F-float F-money">{{rs.needPayMoney}}</td>
                <td><a class="T-option T-payedDetail" data-money="{{rs.payedMoney}}">{{"社付："}}<span class="F-float F-money">{{rs.payedMoney}}</span></a></td>
                <td>{{if rs.billImage != null && rs.billImage !=""}}<a href="#" class="T-option T-insuranceImg" url="{{rs.billImage}}"><span>查看</span></a>{{else}}<span style="color:#bbb">查看</span>{{/if}}</td>
                <td>
                    <input type="text" class="col-sm-12 F-float F-money" maxlength="9" name="settlementMoney" value="{{rs.settlementMoney}}" class="money">
                </td>
                <td class="F-float F-money" name="unPayedMoney">{{rs.unPayedMoney}}</td>
                <td><textarea class="col-sm-12 hct-textarea" name="checkRemark" maxlength="1000">{{rs.checkRemark}}</textarea></td>
                <td>{{if rs.checkTime == null || rs.checkTime == ""}}-{{else}}{{rs.checkTime | dateFormat:'yyyy-MM-dd hh:mm:ss'}}{{/if}}</td>
                <td>{{if rs.checkUserName == null || rs.checkUserName == ""}}-{{else}}{{rs.checkUserName}}{{/if}}</td>
                <td>
                    <label class="pos-rel">
                        <input type="checkbox" class="ace T-checkbox" {{if (rs.change && rs.isChecked == 1) || (!rs.change && rs.isConfirmAccount) }}checked="checked" {{/if}} />
                        <span class="lbl"></span>对账
                        <a class="cursor "> |</a>
                    </label>
                    <a class="T-option T-needPayDetail cursor">查看</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="clearfix"></div>
    <div class="row pageMode">
        <div class="col-xs-6">
            <small>共计 {{searchParam.recordSize}} 条记录</small>
        </div>
        <div class="col-xs-5">
            <div class="dataTables_paginate paging_simple_numbers T-pagenation">
            </div>
        </div>
        <div class="form-group text-right">
            <label class="control-label pull-right" />
            <input type="checkbox" class="ace pull-right T-checkAll">
            <span class="lbl"></span> 全选
            </label>
        </div>
    </div>
    <form class="form-horizontal" role="form" onsubmit="return false">
        <div class="form-group" style="text-align: center;">
            <button class="btn btn-xs btn-primary T-btn-close">
                <i class="ace-icon fa fa-times-circle"></i> 关闭
            </button>
            <button class="btn btn-xs btn-primary T-saveCheck" style="margin-left: 20px">
                <i class="ace-icon fa fa-check-circle"></i> 确认对账
            </button>
        </div>
    </form>
</div>
