<div class="row">
    <div class="form-horizontal T-search-area  search-area">    
        <div class="form-group" >      
            <label style="margin-left:15px;">保险公司：</label>
            <input type="text" class="T-chooseInsure" name="insuranceName" value="{{if searchParam.insuranceName == ""}}全部{{else}}{{searchParam.insuranceName}}{{/if}}" />
            <input type="hidden" name="insuranceId" value="{{searchParam.insuranceId}}" />

            <label class="marginLeft-30">账期：</label>
            <input class="date-picker" name="startDate" placeholder="开始日期" type="text" value="{{searchParam.startDate | dateFormat:'yyyy-MM-dd'}}" style="width:100px;" />   
            <label>&nbsp;至&nbsp;</label>
            <input class="date-picker" name="endDate" placeholder="结束日期" type="text" value="{{searchParam.endDate | dateFormat:'yyyy-MM-dd'}}" style="width:100px;" />   

            <button class="btn-sm marginLeft-30 T-search search-btn">
                <i class="ace-icon fa fa-search"></i> 搜索 
            </button> 
        </div>
    </div>
    <div class="row insuranceList">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover T-showHighLight">
                <thead>
                    <tr class="bg-blur" >
                        <th>保险公司</th>
                        <th>账面应付</th>
                        <th>结算金额</th>
                        <th>已付金额</th>
                        <th>未付金额</th>
                        <th>对账进度</th>
                        <th>付款进度</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="T-list">
                {{each financialInsuranceList as rs}}
                <tr data-id="{{rs.insuranceId}}" data-name="{{rs.insuranceName}}">
                    <td>{{rs.insuranceName}}</td>
                    <td>{{rs.sumNeedPayMoney}}</td>
                    <td>{{rs.sumSettlementMoney}}</td>
                    <td>{{rs.sumPayedMoney}}</td>
                    <td><span {{if rs.sumUnPayedMoney != 0}}style="color:red"{{/if}}>{{rs.sumUnPayedMoney}}</span></td>
                    <td>{{if rs.allCheckCount != rs.checkedCount}}
                            <span style="color:#ff9900"> {{rs.checkedCount}}{{"/"}}{{rs.allCheckCount}}</span>
                        {{/if}}
                        {{if rs.allCheckCount == rs.checkedCount}}
                            <span style="color:green"> {{rs.checkedCount}}{{"/"}}{{rs.allCheckCount}}</span>
                        {{/if}}
                    </td>
                    <td>{{if rs.allPayCount != rs.payedCount}}
                            <span style="color:#ff9900"> {{rs.payedCount}}{{"/"}}{{rs.allPayCount}}</span>
                        {{/if}}
                        {{if rs.allPayCount == rs.payedCount}}
                            <span style="color:green"> {{rs.payedCount}}{{"/"}}{{rs.allPayCount}}</span>
                        {{/if}}
                    </td>
                    <td>
                        <a class="cursor R-right T-check T-option  " data-right="1270002">对账</a>
                        <label class="cursor R-right" data-right="1270002"><a class="R-right" data-right="1270003"> |</a></label>
                        <a class="cursor T-option T-clear R-right" data-right="1270003">结算</a>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
            <div class="row pageMode">
                <div class="col-xs-6">
                    <small>共计 {{recordSize}} 条记录</small>
                </div>
                <div class="col-xs-6">
                    <div class="dataTables_paginate paging_simple_numbers T-pagenation">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>