<div class="row T-ListInsure globalAdd" >
    <div class="form-horizontal  T-search-area  search-area">    
        <div class="form-group" >      
            <label class="marginLeft-30">保险公司：</label>
            <label class="marginLeft-30">账期：</label>
            <input class="date-picker" name="startDate" placeholder="开始日期" type="text" value="{{searchParam.startDate | dateFormat:'yyyy-MM-dd'}}" style="width:100px;" />   
            <label>&nbsp;至&nbsp;</label>
            <input class="date-picker" name="endDate" placeholder="结束日期" type="text" value="{{searchParam.endDate | dateFormat:'yyyy-MM-dd'}}" style="width:100px;" />   

            <button class="btn-sm marginLeft-30 T-search search-btn">
                <i class="ace-icon fa fa-search"></i> 搜索 
            </button> 
        </div>
    </div>
    <div class="row insuranceList">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover T-showHighLight">
                <thead>
                    <tr class="bg-blur" >
                        <th>保险公司</th>
                        <th>账面应付</th>
                        <th>结算金额</th>
                        <th>已付金额</th>
                        <th>未付金额</th>
                        <th>总实际未付</th>
                        <th>对账进度</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="T-list">
                {{each financialInsuranceSettlementList as rs}}
                <tr data-id="{{insurance.insuranceId}}">
                    <td>{{rs.insuranceCompanyName}}</td>
                    <td>{{rs.sumNeedPayMoney}}</td>
                    <td>{{rs.sumRealNeedPayMoney}}</td>
                    <td>{{rs.sumRealPayedMoney}}</td>
                    <td>{{rs.sumUnPayedMoney}}</td>
                    <td>
                    	<span style="color:red">{{rs.sumRealUnPayedMoney}}</span>
                    </td>
                    <td >
	                    {{if rs.allCount != insurance.checkedCount}}
	                      <span style="color:#ff9900"> {{insurance.checkedCount}}{{"/"}}{{insurance.allCount}}</span>
	                    {{/if}}
	                    {{if insurance.allCount == insurance.checkedCount}}
	                      <span style="color:green"> {{insurance.checkedCount}}{{"/"}}{{insurance.allCount}}</span>
	                    {{/if}}
                    </td>
                    <td>
                        <a data-entity-id="{{insurance.insuranceId}}" data-id="1" data-entity-insuranceCompanyName="{{insurance.insuranceCompanyName}}" data-entity-year="{{searchParam.year}}" data-entity-month="{{searchParam.month}}" class="cursor R-right T-check T-option  " data-right="1270002">
                            	 对账
                        </a>
                        <label class="cursor R-right" data-right="1270002"><a class="R-right" data-right="1270003"> |</a></label>
                        <a data-entity-id="{{insurance.insuranceId}}" data-entity-insuranceCompanyName="{{insurance.insuranceCompanyName}}" data-entity-year="{{searchParam.year}}"
                                {{if searchParam.month == ""}}
                                 	 data-entity-startMonth=1 data-entity-endMonth=12 
                                  {{else}}
                                 	 data-entity-startMonth="{{searchParam.month}}" data-entity-endMonth="{{searchParam.month}}" 
                                {{/if}}
                        		class="cursor T-option T-clear  R-right btn-insurance-balance" data-right="1270003">
                           		 结算
                        </a>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
            <div class="row pageMode">
                <div class="col-xs-6">
                    <small>共计 {{recordSize}} 条记录</small>
                </div>
                <div class="col-xs-6">
                    <div class="dataTables_paginate paging_simple_numbers T-pagenation">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>