<div class="search-area globalAdd">
	<div class="row form-horizontal T-search-tripPlan">
		<div class="col-xs-2">
			<input type="text" name="tripNumber" class="col-xs-12 T-tripChoose" placeholder="团号" value="" />
			<input type="hidden" name="tripChooseId" value="" />
		</div>
		<div class="col-xs-1">
			<input type="text" name="startTime" class="col-xs-12 T-datePicker" placeholder="出团日期" value="" />

		</div>
		<div class="col-xs-1">
			<input type="text" name="realname" class="col-xs-12 T-guideChoose" placeholder="导游" value="" />
			<input type="hidden" name="guideChooseId" value="" />
		</div>
		<div class="col-xs-1">
			<input type="text" name="licenseNumber" class="col-xs-12 T-busChoose" placeholder="车牌号" value="" />
			<input type="hidden" name="busChooseId" value="" />
		</div>
		<div class="col-xs-2">
			<button class=" btn-sm  T-btn-tripPlan-search search-btn">
				<i class="ace-icon fa fa-search"></i> 搜索
			</button>
			<div class="btn-group btn-status T-tripPlanState" style="margin-left: 20px;">
				<button data-status="" name="status" data-toggle="dropdown" class=" btn-sm  dropdown-toggle block-up" style="background: #ffffff!important; border: 1px solid #83bbd6!important;" aria-expanded="false">
					<span>全部</span>
					<i class="ace-icon fa fa-angle-down icon-on-right"></i>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a data-value="" href="javascript:void(0)">全部</a>
					</li>
					<li>
						<a data-value="0" href="javascript:void(0)">待确认</a>
					</li>
					<li>
						<a data-value="1" href="javascript:void(0)">已发团</a>
					</li>
				</ul>
			</div>
		</div>
		<div style="clear:both;height:0;line-height:0;"></div>
	</div>
</div> 
<div class="row">
	<div class="col-xs-12 T-tripPlanList">
		
	</div>
</div>