<table class="table table-striped table-bordered table-hover T-showHighLight tripPlanViewList">
<colgroup >
    <col width="300px"></col>
    <col></col>
    <col></col>
    <col></col>
    <col></col>
    <col></col>
    <col></col>
    <col></col>
    <col></col>
    <col></col>
    <col></col>
    <col></col>
    <col></col>
    <col></col>
    <col></col>
    <col></col>
</colgroup>
   <thead>
        <tr class="bg-blur T-tr-fixed">
            <th>团信息</th>
            <th>出游日期</th>
            <th>团队人数</th>
            <th class="R-right" data-right="1140011">导</th>
            <th class="R-right" data-right="1140013">车</th>
            <th class="R-right" data-right="1140012">险</th>
            <th class="R-right" data-right="1140014">餐</th>
            <th class="R-right" data-right="1140015">房</th>
            <th class="R-right" data-right="1140016">景</th>
            <th class="R-right" data-right="1140017">票</th>
            <th class="R-right" data-right="1140018">购</th>
            <th class="R-right" data-right="1140019">娱</th>
            <th class="R-right" data-right="1140020">它</th>
            <th>责任部门</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <input type="hidden" name="travelAgencyName" value="{{travelAgencyName}}"> {{each tripPlanList as tripPlan}}
        <tr data-entity-id="{{tripPlan.id}}">
            <td class="h-touristGroupInfo">
                <p class="h-orderNumber">团号：{{tripPlan.tripNumber}}</p>
                <p class="hct-absolute-group h-lineName">
                    <span class="hct-span-left">
				&lt;{{if tripPlan.tripPlanDetails.length!=0}}{{tripPlan.tripPlanDetails[0].lineProductName}}{{else}}{{if tripPlan.lineProduct}}{{tripPlan.lineProduct.name}}{{/if}}{{/if}}&gt;
				</span> {{if tripPlan.tripPlanDetails.length > 1}}
                    <label class="T-action T-showLineInfo hct-button-right">
                        <button class="btn btn-success btn-sm btn-white show" index="0">
                            <i class="fa fa-plus bigger-110 icon-only"></i>
                        </button>
                    </label>
                    {{/if}}
                </p>
                <p class="h-memberName">{{if !!tripPlan.guideNames}}导游：{{tripPlan.guideNames}}{{/if}} &nbsp;责任计调：{{if tripPlan.dutyOPUser}}{{tripPlan.dutyOPUser.realName}}{{/if}}</p>
            </td>
            <td class="h-touristGroupInfo">
                <p class="center">{{tripPlan.startTime | dateFormat: 'yyyy.MM.dd'}}</p>
                <p class="center">-</p>
                <p class="center">{{tripPlan.endTime | dateFormat: 'yyyy.MM.dd'}}</p>
            </td>
            <td>{{tripPlan.touristAdultCount}}大{{tripPlan.touristChildCount}}小</td>
            <!-- 导 -->
            <td style="vertical-align:middle" data-target="#tripPlan_addPlan_guide" class="guideStatus R-right" data-right="1140011" data-status="{{tripPlan.guideStatus}}"><i class="ace-icon fa {{tripPlan.guideStatus | getArrangeIcon }}"></i></td>
            <!-- 车 -->
            <td style="vertical-align:middle" data-target="#tripPlan_addPlan_bus" class="busStatus R-right" data-right="1140013" data-status="{{tripPlan.busStatus}}"><i class="ace-icon fa {{tripPlan.busStatus | getArrangeIcon }}"></i></td>
            <!-- 险 -->
            <td style="vertical-align:middle" data-target="#tripPlan_addPlan_insurance" class="R-right" data-right="1140012"><i class="ace-icon fa {{tripPlan.insuranceStatus | getArrangeIcon }}"></i></td>
            <!-- 餐 -->
            <td style="vertical-align:middle" data-target="#tripPlan_addPlan_restaurant" class="restaurantStatus R-right" data-right="1140014" data-status="{{tripPlan.restaurantStatus}}"><i class="ace-icon fa {{tripPlan.restaurantStatus | getArrangeIcon }}"></i></td>
            <!-- 房 -->
            <td style="vertical-align:middle" data-target="#tripPlan_addPlan_hotel" class="hotelStatus R-right" data-right="1140015" data-status="{{tripPlan.hotelStatus}}"><i class="ace-icon fa {{tripPlan.hotelStatus | getArrangeIcon }}"></i></td>
            <!-- 景 -->
            <td style="vertical-align:middle" data-target="#tripPlan_addPlan_scenic" class="R-right" data-right="1140016"><i class="ace-icon fa {{tripPlan.scenicStatus | getArrangeIcon }}"></i></td>
            <!-- 票 -->
            <td style="vertical-align:middle" data-target="#tripPlan_addPlan_ticket" class="R-right" data-right="1140017"><i class="ace-icon fa {{tripPlan.ticketStatus | getArrangeIcon }}"></i></td>
            <!-- 购 -->
            <td style="vertical-align:middle" data-target="#tripPlan_addPlan_shop" class="shopStatus R-right" data-right="1140018" data-status="{{tripPlan.shopStatus}}"><i class="ace-icon fa {{tripPlan.shopStatus | getArrangeIcon }}"></i></td>
            <!-- 娱 -->
            <td style="vertical-align:middle" data-target="#tripPlan_addPlan_selfPay" class="selfPayStatus R-right" data-right="1140019" data-status="{{tripPlan.selfPayStatus}}"><i class="ace-icon fa {{tripPlan.selfPayStatus | getArrangeIcon }}"></i></td>
            <!-- 它 -->
            <td style="vertical-align:middle" data-target="#tripPlan_addPlan_other" class="R-right" data-right="1140020"><i class="ace-icon fa {{tripPlan.otherStatus | getArrangeIcon }}"></i></td>
            <td>{{if tripPlan.businessGroup}}{{tripPlan.businessGroup.name}}{{/if}}</td>
            {{if tripPlan.status == 0}}
            <td class="warning-text">待发团</td>
            {{else if tripPlan.status == 1}}
            <td class="success-text">已发团</td>
            {{else if tripPlan.status == -1}}
            <td>已取消</td>
            {{else if tripPlan.status == 2}}
            <td class="error-text">已过期</td>
            {{/if}}
            <td style="vertical-align:middle;width:200px">
                <a class="cursor T-action {{if tripPlan.status != -1 && tripPlan.status != 2}}T-send{{/if}} R-right" data-right="1140010" title="通知" {{if tripPlan.status==- 1 || tripPlan.status==2 }}style="color:#bbb;" {{/if}}>
					通知
					<label style="padding-left:10px;">|</label>
				</a>
                <a class="cursor T-action T-view" title="查看">
					查看
				</a>
                <a billStatus="{{tripPlan.billStatus}}" class="cursor T-action {{if tripPlan.status != 2}}T-plan{{/if}} R-right" data-right="1140007" title="安排" {{if tripPlan.status==2 }}style="color:#bbb;" {{/if}}>
                    <label class="padding-right20">|</label>
                    安排
                </a>
            </td>
        </tr>
        {{if tripPlan.tripPlanDetails.length!=0}} {{each tripPlan.tripPlanDetails as tripPlanDetails index}}
        <tr class="hidden">
            <td class="h-touristGroupInfo">
                <p>{{tripPlanDetails.lineProductName}}</p>
            </td>
            <td class="h-touristGroupInfo">
                <p class="center">{{tripPlanDetails.startTime | dateFormat: 'yyyy.MM.dd'}}</p>
                <p class="center">-</p>
                <p class="center">{{tripPlanDetails.endTime | dateFormat: 'yyyy.MM.dd'}}</p>
            </td>
            <td>{{tripPlanDetails.adultCount}}大{{tripPlanDetails.childCount}}小</td>
            {{if index == 0}}
            <td rowspan="{{tripPlan.tripPlanDetails.length}}" class="R-right" data-right="1140011"></td>
            <td rowspan="{{tripPlan.tripPlanDetails.length}}" class="R-right" data-right="1140013"></td>
            <td rowspan="{{tripPlan.tripPlanDetails.length}}" class="R-right" data-right="1140012"></td>
            <td rowspan="{{tripPlan.tripPlanDetails.length}}" class="R-right" data-right="1140014"></td>
            <td rowspan="{{tripPlan.tripPlanDetails.length}}" class="R-right" data-right="1140015"></td>
            <td rowspan="{{tripPlan.tripPlanDetails.length}}" class="R-right" data-right="1140016"></td>
            <td rowspan="{{tripPlan.tripPlanDetails.length}}" class="R-right" data-right="1140017"></td>
            <td rowspan="{{tripPlan.tripPlanDetails.length}}" class="R-right" data-right="1140018"></td>
            <td rowspan="{{tripPlan.tripPlanDetails.length}}" class="R-right" data-right="1140019"></td>
            <td rowspan="{{tripPlan.tripPlanDetails.length}}" class="R-right" data-right="1140020"></td>
            <td rowspan="{{tripPlan.tripPlanDetails.length}}"></td>
            <td rowspan="{{tripPlan.tripPlanDetails.length}}"></td>
            <td rowspan="{{tripPlan.tripPlanDetails.length}}"></td>
            {{/if}}
        </tr>
        {{/each}} {{/if}} {{/each}}
    </tbody>
</table>
<div class="row pageMode">
    <div class="col-xs-6">
        <small>共计 {{recordSize}} 条记录</small>
    </div>
    <div class="col-xs-6">
        <div class="dataTables_paginate paging_simple_numbers T-pagenation">
        </div>
    </div>
</div>
