<div class="container-fluid" style="overflow: hidden;">
	<div class="row no-margin">
	    <div class="col-sm-12">
	        <div class="row show-grid">
	            <div class="col-sm-3 font-size-14 border">
	                <span class="col-sm-4 control-label align-right no-padding-right">线路：</span>
	                <span class="col-sm-8 control-label">{{tripPlan.lineProduct.name}}</span>
	            </div>
	            <div class="col-sm-3 font-size-14 border no-border-left">
	                <span class="col-sm-4 control-label align-right no-border-left">类别：</span>
	                <span class="col-sm-8 control-label">{{tripPlan.lineProduct.type}}</span>
	            </div>
	            <div class="col-sm-3 font-size-14 border no-border-left">
	                <span class="col-sm-4 control-label align-right no-padding">应用范围：</span>
	                <span class="col-sm-8 control-label">{{if tripPlan.lineProduct.customerType == 0}}散客{{else}}团体{{/if}}</span>
	            </div>
	            <div class="col-sm-3 font-size-14 border no-border-left">
	                <span class="col-sm-4 control-label align-right no-padding">天数：</span>
	                <span class="col-sm-8 control-label">{{tripPlan.lineProduct.days}}</span>
	            </div>
	
	            <div class="col-sm-3 font-size-14 border no-border-top">
	                <span class="col-sm-4 control-label align-right no-padding">团号：</span>
	                <span class="col-sm-8 control-label">{{tripPlan.tripNumber}}</span>
	            </div>
	            <div class="col-sm-3 font-size-14 border no-border-top no-border-left">
	                <span class="col-sm-4 control-label align-right no-padding">出团日期：</span>
	                <span class="col-sm-8 control-label">{{tripPlan.startTime | dateFormat:'yyyy-MM-dd'}}</span>
	            </div>
	            <div class="col-sm-3 font-size-14 border no-border-top no-border-left">
	                <span class="col-sm-4 control-label align-right no-padding">完团日期：</span>
	                <span class="col-sm-8 control-label">{{tripPlan.endTime | dateFormat:'yyyy-MM-dd'}}</span>
	            </div>
	            <div class="col-sm-3 font-size-14 border no-border-top no-border-left">
	                <span class="col-sm-4 control-label align-right no-padding">团队人数：</span>
	                <span class="col-sm-8 control-label">{{tripPlan.touristAdultCount}}大{{tripPlan.touristChildCount}}小</span>
	            </div>
	
	            <div class="col-sm-3 font-size-14 border no-border-top">
	                <span class="col-sm-4 control-label align-right no-padding">导游：</span>
	                <span class="col-sm-8 control-label">{{tripPlan.guide.realname}}</span>
	            </div>
	            <!-- <div class="col-sm-3 font-size-14 border no-border-top no-border-left">
	                <span class="col-sm-4 control-label align-right no-padding">司机：</span>
	                <span class="col-sm-8 control-label"></span>
	            </div>
	            <div class="col-sm-3 font-size-14 border no-border-top">
	                <span class="col-sm-4 control-label align-right no-padding">车牌号：</span>
	                <span class="col-sm-8 control-label"></span>
	            </div> -->
	            <div class="col-sm-3 font-size-14 border no-border-top no-border-left">
	                <span class="col-sm-4 control-label align-right no-padding">全陪：</span>
	                <span class="col-sm-8 control-label">{{tripPlan.accompanyGuideName}}</span>
	            </div>
	        </div>
	    </div>
	</div>
</div>
<div class="container-fluid">
	<div class="row form-horizontal  no-margin">
		<div class="col-sm-3 border">
			<label class="col-sm-6 control-label no-padding"><strong>计划导付金额：</strong></label>
			<label class="col-sm-6 control-label align-left no-padding-top"><strong>{{tripPlan.guideAllPayMoney}}</strong></label>
		</div>
		<div class="col-sm-3 border no-border-left">
			<label class="col-sm-6 control-label no-padding"><strong>导游现收团款：</strong></label>
			<label class="col-sm-6 control-label align-left no-padding-top"><strong>{{tripPlan.guideAllNowMoney}}</strong></label>
		</div>
		<div class="col-sm-3 border no-border-left">
			<label class="col-sm-6 control-label no-padding align-right"><strong>导游预支金额：</strong></label>
			<label class="col-sm-6 control-label align-left no-padding-top"><strong>{{tripPlan.guideAllPreMoney}}</strong></label>
		</div>
		<div class="col-sm-3 border no-border-left">
			<label class="col-sm-6 control-label no-padding align-right"><strong>&nbsp;</strong></label>
		</div>
	</div>
	<div class="row no-margin">
		<div class="col-sm-12 border no-border-top">
			<label class="col-sm-12 control-label"><strong>旅游车安排：</strong></label>
		</div>
		<div class="col-sm-12 no-padding"> 
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>司机</th>
						<th>司机电话</th>
						<th>车牌号</th>
						<th>车辆品牌</th>
						<th>合同号</th>
						<th>导付</th>
						<th>付款方式</th>
						<th style="border-right: 1px solid #ddd;">备注</th>
					</tr>
				</thead>
				<tbody> 
				{{each busCompanyList as busCompany}}
					<tr>
						<td>{{if busCompany.driver != null}}{{busCompany.driver.name}}{{/if}}</td>
						<td>{{if busCompany.driver != null}}{{busCompany.driver.mobileNumber}}{{/if}}</td>
						<td>{{if busCompany.bus != null}}{{busCompany.bus.licenseNumber}}{{/if}}</td>
						<td>{{if busCompany.bus != null}}{{busCompany.bus.brand}}{{/if}}</td>
						<td>{{busCompany.contractNumber}}</td>
						<td>{{busCompany.guidePayMoney}}</td>
						<td>{{if busCompany.payType == 0}}现付{{else if busCompany.payType==1}}签单{{else if busCompany.payType==2}}转账{{else}}网付{{/if}}</td>
						<td>{{busCompany.remark}}</td>
					</tr>
				{{/each}}
				</tbody>
			</table>
		</div>
		<!-- 餐安排 -->
		<div class="col-sm-12 border">
			<label class="col-sm-12 control-label"><strong>餐安排：</strong></label>
		</div>
		<div class="col-sm-12 no-padding"> 
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>日期</th>
						<th>餐厅</th>
						<th>联系电话</th>
						<th>类型</th>
						<th>餐标</th>
						<th>人数</th>
						<th>导付</th>
						<th>付款方式</th>
						<th style="border-right: 1px solid #ddd;">备注</th>
					</tr>
				</thead>
				<tbody> 
				{{each restaurantList as restaurant}}
					<tr>
						<td>第{{restaurant.whichDay}}天</td>
						<td>{{if restaurant.restaurant != null}}{{restaurant.restaurant.name}}{{/if}}</td>
						<td>{{if restaurant.restaurant != null}}{{restaurant.restaurant.mobileNumber}}{{/if}}</td>
						<td>{{if restaurant.restaurantStandard != null}}{{restaurant.restaurantStandard.type}}{{/if}}</td>
						<td>{{if restaurant.restaurantStandard != null}}{{restaurant.restaurantStandard.typeName}}{{/if}}</td>
						<td>{{restaurant.memberCount}}</td>
						<td>{{restaurant.guidePayMoney}}</td>
						<td>{{if restaurant.payType == 0}}现付{{else if restaurant.payType==1}}签单{{else if restaurant.payType==2}}转账{{else}}网付{{/if}}</td>
						<td>{{restaurant.remark}}</td>
					</tr>
                {{/each}}
				</tbody>
			</table>
		</div>
		<!-- 房安排 -->
		<div class="col-sm-12 border">
			<label class="col-sm-12 control-label"><strong>房安排：</strong></label>
		</div>
		<div class="col-sm-12 no-padding">
			<table class="table table-striped table-bordered table-hover">
				<thead>
				<tr>
					<th>日期</th>
					<th>星级</th>
					<th>酒店</th>
					<th>联系电话</th>
					<th>房型</th>
					<th>数量</th>
					<th>导付</th>
					<th>付款方式</th>
					<th style="border-right: 1px solid #ddd;">备注</th>
				</tr>
				</thead>
				<tbody>
				{{each hotelList as hotel}}
					<tr>
						<td>第{{hotel.whichDay}}天</td>
						<td>{{if hotel.hotel.level == 1}}三星以下{{else if hotel.hotel.level == 2}}三星{{else if hotel.hotel.level == 3}}准四星{{else if hotel.hotel.level == 4}}四星{{else if hotel.hotel.level == 5}}准五星{{else if hotel.hotel.level == 6}}五星{{else if hotel.hotel.level == 7}}五星以上{{/if}}</td>
						<td>{{hotel.hotel.name}}</td>
						<td>{{hotel.hotel.mobileNumber}}</td>
						<td>{{hotel.hotelRoom.type}}</td>
						<td>{{hotel.needRoomCount}}</td>
						<td>{{hotel.guidePayMoney}}</td>
						<td>{{if hotel.payType == 0}}现付{{else if hotel.payType==1}}签单{{else if hotel.payType==2}}转账{{else}}网付{{/if}}</td>
						<td>{{hotel.remark}}</td>
					</tr>
				{{/each}}
				</tbody>
			</table>
		</div>
		<!-- 景点安排 -->
		<div class="col-sm-12 border">
			<label class="col-sm-12 control-label"><strong>景点安排：</strong></label>
		</div>
		<div class="col-sm-12 no-padding">
			<table class="table table-striped table-bordered table-hover">
				<thead>
				<tr>
					<th>日期</th>
					<th>时段</th>
					<th>景区</th>
					<th>收费项</th>
					<th>游览时长</th>
					<th>单价</th>
					<th>数量</th>
					<th>订单号</th>
					<th>导付</th>
					<th>付款方式</th>
					<th style="border-right: 1px solid #ddd;">备注</th>
				</tr>
				</thead>
				<tbody>
                {{each scenicList as scenic}}
					<tr>
						<td>第{{scenic.whichDay}}天</td>
						<td>{{scenic.tourTime}}</td>
						<td>{{scenic.scenic.name}}</td>
						<td>{{scenic.scenicItem.name}}</td>
						<td>{{scenic.tourDuration}}</td>
						<td>{{scenic.price}}</td>
						<td>{{scenic.memberCount}}</td>
						<td>{{scenic.orderNumber}}</td>
						<td>{{scenic.guidePayMoney}}</td>
						<td>{{if scenic.payType == 0}}现付{{else if scenic.payType==1}}签单{{else if scenic.payType==2}}转账{{else}}网付{{/if}}</td>
						<td>{{scenic.remark}}</td>
					</tr>
				{{/each}}
				</tbody>
			</table>
		</div>
		<!-- 购物安排 -->
		<div class="col-sm-12 border">
			<label class="col-sm-12 control-label"><strong>购物安排：</strong></label>
		</div>
		<div class="col-sm-12 no-padding">
			<table class="table table-striped table-bordered table-hover">
				<thead>
				<tr>
					<th>日期</th>
					<th>购物店</th>
					<th>商品名</th>
					<th>联系电话</th>
					<th style="border-right: 1px solid #ddd;">备注</th>
				</tr>
				</thead>
				<tbody>
				{{each shopList as shop}}
					<tr>
						<td>第{{shop.whichDay}}天</td>
						<td>{{shop.shop.name}}</td>
						<td>{{shop.shopPolicy.name}}</td>
						<td>{{shop.shop.mobileNumber}}</td>
						<td>{{shop.remark}}</td>
					</tr>
				{{/each}}
				</tbody>
			</table>
		</div>
		<!-- 自费安排 -->
		<div class="col-sm-12 border">
			<label class="col-sm-12 control-label"><strong>自费安排：</strong></label>
		</div>
		<div class="col-sm-12 no-padding">
			<table class="table table-striped table-bordered table-hover">
				<thead>
				<tr>
					<th>日期</th>
					<th>自费商家</th>
					<th>项目</th>
					<th>联系电话</th>
					<th>单价</th>
					<th>底价</th>
					<th>数量</th>
					<th>导付</th>
					<th>付款方式</th>
					<th style="border-right: 1px solid #ddd;">备注</th>
				</tr>
				</thead>
				<tbody>
				{{each selfPayList as selfPay}}
					<tr>
						<td>第{{selfPay.whichDay}}天</td>
						<td>{{selfPay.selfPay.name}}</td>
						<td>{{if selfPay.selfPayItem !=null}}{{selfPay.selfPayItem.name}}{{/if}}</td>
						<td>{{selfPay.selfPay.mobileNumber}}</td>
						<td>{{selfPay.marketPrice}}</td>
						<td>{{selfPay.price}}</td>
						<td>{{selfPay.memberCount}}</td>
						<td>{{selfPay.guidePayMoney}}</td>
						<td>{{if selfPay.payType == 0}}现付{{else if selfPay.payType==1}}签单{{else if selfPay.payType==2}}转账{{else}}网付{{/if}}</td>
						<td>{{selfPay.remark}}</td>
					</tr>
				{{/each}}
				</tbody>
			</table>
		</div>
		<!-- 票务安排 -->
		<div class="col-sm-12 border">
			<label class="col-sm-12 control-label"><strong>票务安排：</strong></label>
		</div>
		<div class="col-sm-12 no-padding">
			<table class="table table-striped table-bordered table-hover">
				<thead>
				<tr>
					<th>票务公司</th>
					<th>类型</th>
					<th>出发城市</th>
					<th>到达城市</th>
					<th>日期</th>
					<th>班次</th>
					<th>座位级别</th>
					<th>单价</th>
					<th>数量</th>
					<th>导付</th>
					<th>付款方式</th>
					<th style="border-right: 1px solid #ddd;">备注</th>
				</tr>
				</thead>
				<tbody>
				{{each ticketList as ticket}}
					<tr>
						<td>{{ticket.ticket.name}}</td>
						<td>{{ticket.type}}</td>
						<td>{{ticket.startingCity}}</td>
						<td>{{ticket.arriveCity}}</td>
						<td>{{if ticket.startTime != null}}{{ticket.startTime}}{{/if}}</td>
						<td>{{ticket.shift}}</td>
						<td>{{ticket.seatLevel}}</td>
						<td>{{ticket.price}}</td>
						<td>{{ticket.memberCount}}</td>
						<td>{{ticket.guidePayMoney}}</td>
						<td>{{if ticket.payType == 0}}现付{{else if ticket.payType==1}}签单{{else if ticket.payType==2}}转账{{else}}网付{{/if}}</td>
						<td>{{ticket.remark}}</td>
					</tr>
				{{/each}}
				</tbody>
			</table>
		</div>
		<!-- 地接安排 -->
		<!-- <div class="col-sm-12 border">
			<label class="col-sm-12 control-label"><strong>地接安排：</strong></label>
		</div>
		<div class="col-sm-12 no-padding">
			<table class="table table-striped table-bordered table-hover">
				<thead>
				<tr>
					<th>日期</th>
					<th>同行地接</th>
					<th>项目</th>
					<th>联系人</th>
					<th>联系电话</th>
					<th>单价</th>
					<th>数量</th>
					<th>导付</th>
					<th>付款方式</th>
					<th style="border-right: 1px solid #ddd;">备注</th>
				</tr>
				</thead>
				<tbody>
				{{each otherList as other}}
					<tr>
						<td>第{{other.whichDay}}天</td>
						<td>{{other.name}}</td>
						<td>{{other.managerName}}</td>
						<td>{{other.mobileNumber}}</td>
						<td>{{other.price}}</td>
						<td>{{other.memberCount}}</td>
						<td>{{other.guidePayMoney}}</td>
						<td>{{if other.payType == 0}}现付{{else}}账期{{/if}}</td>
						<td>{{other.remark}}</td>
					</tr>
				{{/each}}
				</tbody> 
			</table> 
		</div> -->
		<!-- 其他安排 -->
		<div class="col-sm-12 border">
			<label class="col-sm-12 control-label"><strong>其他安排：</strong></label>
		</div>
		<div class="col-sm-12 no-padding">
			<table class="table table-striped table-bordered table-hover">
				<thead>
				<tr>
					<th>日期</th>
					<th>项目</th>
					<th>联系人</th>
					<th>联系电话</th>
					<th>单价</th>
					<th>数量</th>
					<th>导付</th>
					<th>付款方式</th>
					<th style="border-right: 1px solid #ddd;">备注</th>
				</tr>
				</thead>
				<tbody>
				{{each otherList as other}}
					<tr>
						<td>第{{other.whichDay}}天</td>
						<td>{{other.name}}</td>
						<td>{{other.managerName}}</td>
						<td>{{other.mobileNumber}}</td>
						<td>{{other.price}}</td>
						<td>{{other.memberCount}}</td>
						<td>{{other.guidePayMoney}}</td>
						<td>{{if other.payType == 0}}现付{{else if other.payType==1}}签单{{else if other.payType==1}}转账{{else}}网付{{/if}}</td>
						<td>{{other.remark}}</td>
					</tr>
				{{/each}}
				</tbody> 
			</table> 
		</div>
	</div>
</div>
