{{each touristGroupList as touristGroup}}
    <tr class="touristGroup-{{touristGroup.id}}" data-id="{{touristGroup.id}}" data-status="{{touristGroup.status}}" data-InnerTransfer="{{touristGroup.isInnerTransferConfirm}}">
        <td>{{touristGroup.orderNumber}}</td>
        <td>{{if touristGroup.partnerAgency != null}}{{touristGroup.partnerAgency.travelAgencyName}}{{/if}}</td>
        <td>{{if touristGroup.lineProduct != null}} {{touristGroup.lineProduct.name}} {{/if}}</td>
        <td>{{touristGroup.startTime | dateFormat: 'yyyy-MM-dd'}}</td>
        <td>{{touristGroup.endTime | dateFormat: 'yyyy-MM-dd'}}</td>
        <td><span class="F-float F-money">{{touristGroup.needPayAllMoney}}</span></td>
        <td>
            <label class="h-peopleCount">
                (<span>{{touristGroup.adultCount}}</span>大
                <span>{{touristGroup.childCount}}</span>小)
            </label>
            {{if touristGroup.touristGroupMember != null}}
            <label class="h-memberName">
                {{touristGroup.touristGroupMember.name}}
            </label>
            {{/if}}
        </td>
        <td>{{if touristGroup.touristGroupMember != null}}{{touristGroup.touristGroupMember.mobileNumber}}{{/if}}</span></td>
        <td>{{if touristGroup.outOPUser != null}}{{touristGroup.outOPUser.realName}}{{/if}}</td>
        <td>{{if !!touristGroup.customerType == 1}}独立成团{{else}}散客拼团{{/if}}</td>
        <td>{{touristGroup.status | getPartGroupStatusText}}</td>
        <td>
            <div class="btn-group" style="width:120px;">
                <a data-entity-id="{{touristGroup.id}}" class="T-action T-view btn-touristGroup-view cursor">
					查看
				</a>
                <a data-entity-id="{{touristGroup.id}}" class="T-action  {{if touristGroup.canEdit}}T-edit{{/if}} cursor  R-right" data-right="1120003" {{if !touristGroup.canEdit}}style="color:#bbb;"  title={{touristGroup.editTitle}}{{/if}}>
                    <label class="padding-right20">|</label>
                    <span>编辑</span>
                </a>
                <a data-entity-id="{{touristGroup.id}}" class="T-action {{if touristGroup.canDelete}}T-del{{/if}} cursor R-right" data-right="1120004" {{if !touristGroup.canDelete}}style="color:#bbb;"   title={{touristGroup.deleteTitle}}{{/if}}>
                    <label class="padding-right20">|</label>
                    删除
                </a>
            </div>
        </td>
    </tr>
{{/each}}
