<div class="col-xs-12">
	<form class="form-horizontal T-schedule-form" role="form" style="margin-top:10px" onsubmit="return false">
		<div class=" ui-sortable-handle">
			<a >
				<i class="ace-icon fa fa-info-circle" style="font-size: 20px!important; position: relative;top:5px"></i>
				<label class="middle title-size">日程安排主体信息</label>
			</a>
			<div class="widget-body">
				<div class="widget-main">
					<div class="form-group">
						<label class="col-sm-1 control-label no-padding-right">行程详情:</label>
						<div class="clearfix"></div>
						<div style="width:98.5%;margin:0 auto;">
							<script id="schedule-detail-editor-{{time}}" class="T-editor" type="text/plain" style="width:100%"></script>
						</div>
					</div>
				</div>
			</div>
		</div>
		 <div class="form-group" style="text-align: center;"> <button class="btn btn-sm btn-danger otherButton T-btn-delete"> <i class="ace-icon fa fa-times"></i> 关闭 </button> <button class="btn btn-sm btn-primary otherButton T-btn-submit" style="margin-left: 30px"> <i class="ace-icon fa fa-check"></i> 保存 </button> </div>
	</form>
</div>
