<div class="col-xs-12 globalAdd">
	<form class="form-horizontal T-main-form" role="form" style="margin-top:10px" onsubmit="return false">
		<div class=" ui-sortable-handle">
			<h5 class="widget-title">
				<span class="badge badge-primary">1</span>
				<label class="middle title-size">线路主体信息 </label>
			</h5>
			<div class="widget-body">
				<div class="widget-main">
					<div class="form-group">
						<label class="col-sm-1 control-label no-padding-right"><span class="necessary">*</span>线路名称:</label>
						<div class="col-sm-3">
							<input type="text" name="name" value="{{travelLine.name}}" class="col-sm-12" maxLength="80" />
						</div>
						<label class="col-sm-1 control-label no-padding-right">是否启用:</label>
						<div class="col-sm-2 checkbox" style="margin-left:-10px;padding-top:4px ;">
							<label style="vertical-align: middle">
								<input {{if travelLine.status == 1}}checked="checked" {{/if}} type="checkbox" class="ace T-status" value="1">
								<span class="lbl" style="margin-top: -25px"></span>
							</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-1 control-label no-padding-right">费用包含:</label>
						<div class="col-sm-8">
							<textarea class="form-control" name="includeFee" class="col-sm-12" maxLength="1000"  >{{travelLine.includeFee}}</textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-1 control-label no-padding-right">费用不包含:</label>
						<div class="col-sm-8">
							<textarea class="form-control" name="excludeFee" class="col-sm-12" maxLength="1000"  >{{travelLine.excludeFee}}</textarea>
						</div>
					</div>
					<div class="form-group">   
						<label class="col-sm-1 control-label no-padding-right">行程特色:</label>
						<div class="col-sm-8">
							<textarea class="form-control" name="lineFeature" class="col-sm-12"  maxLength="1000" >{{travelLine.lineFeature}}</textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-1 control-label no-padding-right">行程须知:</label>
						<div class="col-sm-8">
							<textarea class="form-control" name="lineNotice" class="col-sm-12" maxLength="2500" >{{travelLine.lineNotice}}</textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-1 control-label no-padding-right">备注:</label>
						<div class="col-sm-8">
							<textarea class="form-control" name="remark" class="col-sm-12" maxLength="1000"  >{{travelLine.remark}}</textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<form class="form-horizontal travelLineDayList" role="form"  onsubmit="return false">
		<div class="form-group">
			<div class="col-xs-12 col-sm-12 widget-container-col">
				<div class=" ui-sortable-handle">
					<div class="">
						<h5 class="widget-title">
							<span class="badge badge-primary">2</span>
							<a class="middle">日程列表</a>
							<a href="javascript:void(0)" class="btn-line-day-add">
								<button class="btn btn-sm btn-success T-add-schedule" style="margin-left: 20px">
									<i class="ace-icon fa fa-plus"></i>
									新增
								</button>
							</a>
						</h5>

					</div>

					<div class="widget-body">
						<div class="widget-main no-padding">
							<table class="table table-striped table-bordered table-hover lineDayList " style="border: 1px solid #ccc">
								<thead>
									<tr>
										<th class="table-border">行程日期</th>
										<th class="table-border">含餐情况</th>
										<th class="table-border">住宿地点</th>
										<th class="table-border">酒店星级</th>
										<th class="table-border">行程标题</th>
										<th class="table-border">操作</th>
									</tr>
								</thead>
								<tbody class="T-schedule-list"> 
									{{each travelLine.travelLineDayList as line}}
									<tr data-id="{{line.whichDay -1}}" {{if !!id}}data-entity-id="{{line.id}}"{{/if}}>
										<td>第{{line.whichDay}}天<input name="whichDay" value="{{line.whichDay}}" type="hidden"/></td>
										<td>{{line.repastDetail}}</td>
										<td>{{line.restPosition}}</td>
										<td>
											{{if line.hotelLevel == 0}}
												未选择
											{{else if line.hotelLevel == 1}}
												三星以下
											{{else if line.hotelLevel == 2}}
												三星
											{{else if line.hotelLevel == 3}}
												准四星
											{{else if line.hotelLevel == 4}}
												四星
											{{else if line.hotelLevel == 5}}
												准五星
											{{else if line.hotelLevel == 6}}
												五星
											{{else if line.hotelLevel == 7}}
												五星以上
											{{/if}}
										</td>
										<td>{{line.title}}</td>
										<td style="width:120px">
											<div class="btn-group">
												<a class="T-action T-update cursor">
													修改
												</a> <a class="cursor"> |</a>
												<a class="T-action T-delete cursor">
													删除
												</a>
											</div>
										<input type="hidden" name="hotelLevel" value="{{line.hotelLevel}}"/>
										<input type="hidden" name="roadScenic" value="{{line.roadScenic}}"/>
										<input type="hidden" name="description" value="{{line.detail | encode}}"/>
										</td>
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="space-10"></div>
			<button class="btn btn-block btn-primary T-btn-save guideSubmit" {{if !!id}} data-id="{{id}}" {{/if}}>
				<i class="ace-icon fa fa-check"></i>
				提交信息
			</button>
		<div class="space-20"></div>
	</form>
</div>
