<div class="col-xs-12">
	<form class="form-horizontal travelLineDayForm" role="form" style="margin-top:10px" onsubmit="return false">
		<table class="whereQ" style="width: 96%">
			<tr>
				<td colspan="4" class="HeadManage">行程安排主体信息</td>
			</tr>
			<tr>
				<td class="style-myself">日期：</td>
				<td class="styleOne-self">第{{lineDay.whichDay}}天</td>
				<td class="style-myself">行程标题：</td>
				<td class="styleOne-self">{{lineDay.title}}</td>
			</tr>
			<tr>
				<td class="style-myself">住宿特点：</td>
				<td class="styleOne-self">{{lineDay.restPosition}}</td>
				<td class="style-myself">酒店星级：</td>
				<td class="styleOne-self">{{if lineDay.hotelLevel == 0}}
					未选择
					{{else if lineDay.hotelLevel == 1}}
					三星以下
					{{else if lineDay.hotelLevel == 2}}
					三星
					{{else if lineDay.hotelLevel == 3}}
					准四星
					{{else if lineDay.hotelLevel == 4}}
					四星
					{{else if lineDay.hotelLevel == 5}}
					准五星
					{{else if lineDay.hotelLevel == 6}}
					五星
					{{else if lineDay.hotelLevel == 7}}
					五星以上
					{{/if}}</td>
			</tr>
			<tr>
				<td class="style-myself">含餐情况：</td>
				<td class="styleOne-self" colspan="3">{{lineDay.repastDetail}}</td>

			</tr>
			<tr>
				<td class="style-myself">沿途风景：</td>
				<td class="styleOne-self" colspan="3">{{lineDay.roadScenic}}</td>

			</tr>
			<tr>
				<td class="style-myself">行程详情：</td>
				<td class="styleOne-self"  colspan="3">{{#lineDay.detail}}</td>
			</tr>

		</table>
	</form>
</div>