<div class="col-xs-12">
	<form class="form-horizontal travelLineDayForm" role="form" style="margin-top:10px" onsubmit="return false">
		<div class="widget-box ui-sortable-handle">
			<div class="widget-header">
				<h5 class="widget-title">
					<i class="ace-icon fa fa-info-circle"></i>
					行程安排主体信息
				</h5>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right">日期:</label>
						<div class="col-sm-4">
							<label class="control-label">第{{lineDay.whichDay}}天</label>
						</div>
						<label class="col-sm-2 control-label no-padding-right">行程标题:</label>
						<div class="col-sm-4">
							<label class="control-label">{{lineDay.title}}</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right">住宿地点:</label>
						<div class="col-sm-4">
							<label class="control-label">{{lineDay.restPosition}}</label>
						</div>
						<label class="col-sm-2 control-label no-padding-right">酒店星级:</label>
						<div class="col-sm-4"><label class="control-label">
							{{if lineDay.hotelLevel == 1}}
								三星以下
							{{else if lineDay.hotelLevel == 2}}
								三星
							{{else if lineDay.hotelLevel == 3}}
								准四星
							{{else if lineDay.hotelLevel == 4}}
								四星
							{{else if lineDay.hotelLevel == 5}}
								准五星
							{{else if lineDay.hotelLevel == 6}}
								五星
							{{else if lineDay.hotelLevel == 7}}
								五星以上
							{{/if}}</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right">含餐情况:</label>
						<div class="col-sm-8">
							<label class="control-label" style="text-align: left">{{lineDay.repastDetail}}</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right">沿途风景:</label>
						<div class="col-sm-8">
							<label class="control-label" style="text-align: left">{{lineDay.roadScenic}}</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right">行程详情:</label>
						<div class="clearfix pull-left"></div>
						<div class="detailEditor wysiwyg-editor" style="height: 200px;width:60%;overflow: scroll;">{{#lineDay.detail}}</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>