<div class="col-xs-12">
	<form class="form-horizontal travelLineDayForm" role="form" style="margin-top:10px" onsubmit="return false">
		<table class="whereQ" style="width: 96%">
			<tr>
				<td colspan="4" class="HeadManage">行程安排主体信息</td>
			</tr>
			<tr>
				<td class="style-myself">日期：</td>
				<td class="styleOne-self" style="min-width:50px;">第{{lineDay.whichDay}}天</td>
				<td class="style-myself">简要行程：</td>
				<td class="styleOne-self">{{lineDay.title}}</td>
			</tr>
			<tr>
				<td class="style-myself">含餐情况：</td>
				<td class="styleOne-self" style="width: 205px;">
					<label><input type="checkbox" class="ace T-breakfast" value="1" name="breakfast" /><span class="lbl">&nbsp;早餐</span></label>
					<label><input type="checkbox" class="ace T-lunch" value="1" name="lunch" /><span class="lbl">&nbsp;午餐</span></label>
					<label><input type="checkbox" class="ace T-dinner" value="1" name="dinner" /><span class="lbl">&nbsp;晚餐</span></label>
				</td>
				<td class="style-myself">住宿地点：</td>
				<td class="styleOne-self">{{lineDay.restPosition}}</td>
			</tr>
			<tr>
				<td class="style-myself">景点：</td>
				<td class="styleOne-self" colspan="3">{{lineDay.repastDetail}}</td>
			</tr>
		</table>
	</form>
</div>