<div class="row T-search-area">
    <form class="form-inline" role="form" onsubmit="return false">
        <div class="form-group mar-r-10">
            <label>导游</label>
            <input type="text" class="form-control" name="guideName" style="width: 100px;" value="{{if !searchParam.guideName || searchParam.guideName == ''}}全部{{else}}{{searchParam.guideName}}{{/if}}" maxlength="100">
            <input type="hidden" name="guideId" value="{{searchParam.guideId}}" />
        </div>
        <div class="form-group mar-r-10">
            <label>部门 </label>
            <input type="text" class="mar-r-10 T-search-head-office" name="departmentName" value="{{searchParam.businessName}}"/>
            <input type="hidden" class="mar-r-10 T-search-head-office" name="departmentId" value="{{searchParam.businessGroupId}}"/>
            <label>子部门 </label>
            <input type="text" class="T-search-head  mar-r-10 T-search-head-office" name="childDepartmentName" value="{{searchParam.groupName}}"/>
            <input type="hidden" class="mar-r-10 T-search-head-office" name="childDepartmentId" value="{{searchParam.groupId}}"/>
        </div>
        <div class="form-group input-daterange mar-r-10">
            <label>账期</label>
            <input type="text" class="form-control datepicker" name="startDate" style="width:100px;" value="{{searchParam.startDate}}">
            <label>&nbsp;至&nbsp;</label>
            <input type="text" class="form-control datepicker" name="endDate" style="width:100px;" value="{{searchParam.endDate}}">
        </div>
        <div class="form-group T-borrow-status btn-group mar-r-10">
            <button data-value="{{searchParam.accountStatus}}" data-toggle="dropdown" class=" btn-sm dropdown-toggle block-up" aria-expanded="false">
                <span>
                    {{if !searchParam.accountStatus || searchParam.accountStatus == ""}}
                        全部
                    {{else if searchParam.accountStatus == 1}}
                        已结清
                    {{else}}
                        未结清
                    {{/if}}
                </span>
                <i class="ace-icon fa fa-angle-down icon-on-right"></i>
            </button>
            <ul class="dropdown-menu ">
                <li><a data-value="0">全部</a></li>
                <li><a data-value="1">已结清</a></li>
                <li><a data-value="2">未结清</a></li>
            </ul>
        </div>
        <div class="form-group">
            <button class="btn-sm search-btn T-btn-search">
                <i class="ace-icon fa fa-search"></i> 搜索
            </button>
        </div>
    </form>
</div>
<div class="row">
    <table class="table table-striped table-bordered table-hover T-showHighLight">
        <thead>
            <tr class="bg-blur T-tr-fixed">
                <th>导游</th>
                <th>计划预支款</th>
                <th>预支金额</th>
                <th>未付金额</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody class="T-list">
            {{each list as rs}}
            <tr data-id="{{rs.guideId}}" data-name="{{rs.guideName}}">
                <td>{{rs.guideName}}</td>
                <td><span class="F-float F-money">{{rs.planPreMoney}}</span></td>
                <td><span class="F-float F-money">{{rs.preMoney}}</span></td>
                <td><span class="F-float F-money">{{rs.unPayedMoney}}</span></td>
                <td><a class="cursor T-borrow">借款</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="row pageMode">
        <div class="col-xs-6">
            <small>共计 {{recordSize}} 条记录</small>
        </div>
        <div class="col-xs-6">
            <div class="dataTables_paginate paging_simple_numbers T-pagenation">
            </div>
        </div>
    </div>
</div>
