<div class="T-message-listMain">
    <div class="operation-area clearfix">
    	<input name="messageKey" class="col-xs-2 input-default-height T-chooseMenu guideInputList" value=""  placeholder="输入消息主题关键词进行搜索"/>  
        <div class="col-xs-2 mar-l-20" style="width:100px;"> 
            <select name="menuId">
                <option value="">全部</option>
                {{each menus as rs}}
                <option value="{{rs.id}}">{{rs.name}}</option>
                {{/each}}
            </select>
        </div>

        <!-- <button class=" btn-sm  T-search pull-left search-btn " style="border-radius: 0;background: #51b0c2;border:2px solid #51b0c2!important;color: white">
            <i class="ace-icon fa fa-search"></i>
            搜索
        </button> -->
        <div class="col-xs-1 mar-l-20" style="width:100px;">
            <button class=" btn-sm  T-search search-btn"> <i class="ace-icon fa fa-search"></i> 搜索</button> 
        </div>
    	<button class="pull-right btn btn-sm btn-success T-set-read-all">全部标记为已读</button>
    </div>
    <div class="row">
        <div class="col-xs-12 T-message-tbody">
        </div>
        <!-- /.span -->
    </div>
    <!-- /.row -->
</div>
