<div class="search-area T-touristGroupSearchForm globalAdd">
	<form class="T-search-area" role="form" onsubmit="return false">
		<div class="form-inline">
			<div class="form-group  mar-r-10">
                <button class="btn btn-sm btn-success T-touristGroup-add R-right" data-right="1120002">
                    <i class="ace-icon fa fa-plus"></i> 新增小组
                </button>
            </div>
            <div class="form-group">
                <button class="btn btn-sm btn-success T-export">导出游客保险名单</button>
            </div>
		</div>
		<div class="form-inline">
			<div class="form-group mar-r-10">
                <label>收客单号</label>
                <input type="text" class="form-control" placeholder="收客单号" name="orderNumber" value="{{searchParam.orderNumber}}" />
            </div>


            <div class="form-group">
                <select class="T-choosePorB" style="width: 63px;">
                    <option value='0' {{if searchParam.type==0 }}selected="selected" {{/if}}>全部</option>
                    <option value='1' {{if searchParam.type==1 }}selected="selected" {{/if}}>组团社</option>
                    <option value='2' {{if searchParam.type==2 }}selected="selected" {{/if}}>业务部</option>
                </select>
            </div>
            <div class="form-group mar-r-10">
                <input type="text" class="T-choosePAB form-control{{if searchParam.type != 0}} hidden{{/if}}" placeholder="全部客户"readonly="readonly" />
                <input type="text" class="T-choosePartnerAgency T-PorB form-control{{if searchParam.type != 1 || searchParam.type == null}} hidden{{/if}}" placeholder="客户" name="fromPartnerAgencyName" value="{{if searchParam.fromPartnerAgencyName==''}}全部{{else}}{{searchParam.fromPartnerAgencyName}}{{/if}}" />
                <input type="text" class="T-chooseBussinessGroup T-PorB form-control{{if searchParam.type != 2 || searchParam.type == null}} hidden{{/if}}" placeholder="客户" name="fromBussinessGroupName" value="{{if searchParam.fromBussinessGroupName == " "}}全部{{else}}{{searchParam.fromBussinessGroupName}}{{/if}}" />
                <input type="hidden" name="fromPartnerAgencyId" value="{{searchParam.fromPartnerAgencyId}}">
                <input type="hidden" name="fromBussinessGroupId" value="{{searchParam.fromBussinessGroupId}}" />
            </div>

            <div class="form-group mar-r-10">
                <label>线路产品</label>
                <input type="text" class="form-control T-chooseLineProduct tourist-LineProduct" placeholder="线路产品" name="lineProductName" value="{{searchParam.lineProductName}}" />
                <input type="hidden" name="lineProductId" value="{{searchParam.lineProductId}}">
            </div>

            <div class="form-group mar-r-10">
                <label>针对客源</label>
                <select name="customerType" style="width: 51px;">
                    <option value="" {{if searchParam.customerType=="" }}selected="selected" {{/if}}>全部</option>
                    <option value="0" {{if searchParam.customerType=="0" }}selected="selected" {{/if}}>散客</option>
                    <option value="1" {{if searchParam.customerType=="1" }}selected="selected" {{/if}}>团体</option>
                </select>
            </div>

            <div class="form-group mar-r-10">
                <label>出游时间</label>
                <input class="datepicker" name="startTime" value="{{searchParam.startTime}}" type="text" />
            </div>
		</div>
		<div class="form-inline">
            <div class="form-group mar-r-10">
                <label>外联销售</label>
                <input type="text" class="form-control T-choose-outUserList" placeholder="外联销售" name="realName" value="{{searchParam.realName}}" />
            </div>
            <div class="form-group mar-r-10">
                <label>录入日期</label>
                <input type="text" name="createTimeStart" class="datepicker" value="{{if !!searchParam.createTimeStart}}{{searchParam.createTimeStart  | dateFormat: 'yyyy-MM-dd'}}{{else}}{{/if}}">
                <label>至</label>
                <input type="text" name="createTimeEnd" class="datepicker" value="{{if !!searchParam.createTimeEnd}}{{searchParam.createTimeEnd | dateFormat: 'yyyy-MM-dd'}}{{else}}{{/if}}">
            </div>
            <div class="form-group">
                <label>状态</label>
                <select class="T-select-status" style="width: 62px;">
                    <option value="">全部</option>
                    <option value="0"  {{if searchParam.status=="0" }}selected="selected" {{/if}}>已发团</option>
                    <option value="1"  {{if searchParam.status=="1" }}selected="selected" {{/if}}>未分团</option>
                    <option value="2"  {{if searchParam.status=="2" }}selected="selected" {{/if}}>已分团</option>
                    <option value="3"  {{if searchParam.status=="3" }}selected="selected" {{/if}}>已外转</option>
                    <option value="5"  {{if searchParam.status=="5" }}selected="selected" {{/if}}>已分段</option>
                    <option value="6"  {{if searchParam.status=="6" }}selected="selected" {{/if}}>已内转</option>
                </select>
            </div>

             <div class="form-group mar-r-9">
                <button class=" btn-sm  T-touristGroupList-search search-btn">
                    <i class="ace-icon fa fa-search"></i> 搜索
                </button>
            </div>
		</div>
	</form>
	<div class="form-horizontal T-countData">
	    <label class="control-label pull-left mar-r-20" name="statistics-count">人数合计：<span class="allPerson"><span class="F-float F-count">{{statistics.adultCount}}</span>大<span class="F-float F-count">{{statistics.childCount}}</span>小</span></label>
	    <label class="control-label mar-r-20" name="statistics-needPay">应收款合计：<span class="needIncome"><span class="F-float F-money">{{statistics.needPay}}</span>元</span></label>
	    <label class="control-label mar-r-20" name="statistics-payed">已收款合计：<span class="payedMoney"><span class="F-float F-money">{{statistics.payedMoney}}</span>元</span></label>
	    <label class="control-label mar-r-20" name="statistics-currentNeedPay">现收款合计：<span class="currentNeedPay"><span class="F-float F-money">{{statistics.currentNeedPay}}</span>元</span></label>
	    <label class="control-label mar-r-20" name="statistics-unIncome">未收款合计：<span class="unIncome"><span class="F-float F-money">{{statistics.unIncomeMoney}}</span>元</span></label>
	</div>
	<div class="T-touristGroupList mar-t-10">
		<table class="table table-striped table-bordered table-hover T-showHighLight">
	        <colgroup>
	            <col style="width: 180px">
	            <col>
	            <col>
	            <col style="width: 85px;">
	            <col style="width: 85px;">
	            <col>
	            <col>
	            <col>
	            <col>
	            <col>
	            <col style="width: 130px;">
	        </colgroup>
	        <thead>
	            <tr class="bg-blur T-tr-fixed">
	                <th>收客单号</th>
	                <th>客户</th>
	                <th>行程</th>
	                <th>接团日期</th>
	                <th>送团日期</th>
	                <th>应收</th>
	                <th>客人信息</th>
	                <th>联系电话</th>
	                <th>外联销售</th>
	                <th>团散界定</th>
	                <th>操作</th>
	            </tr>
	        </thead>
	        <tbody class="T-touristGroup">
	        </tbody>
	    </table>
    </div>
    <div class="row pageMode">
        <div class="col-xs-6">
            <small>共计 <span class="T-record-size">...</span> 条记录</small>
        </div>
        <div class="col-xs-6">
            <div class="dataTables_paginate paging_simple_numbers T-pagenation">
            </div>
        </div>
    </div>
</div>