<div class="form-horizontal">
    <label class="control-label pull-left mar-r-20" name="statistics-count">
        人数合计：{{totalCount}}
    </label>
    <p class="text-info" style="float: right;">
        <label>说明：&nbsp;</label>
        <i class="fa fa-minus"></i> 不需要安排&nbsp;&nbsp;
        <i class="fa fa-question"></i> 需要安排&nbsp;&nbsp;
        <i class="fa fa-exclamation"></i> 已变更安排需求&nbsp;&nbsp;
        <i class="fa fa-check"></i> 安排完成&nbsp;&nbsp;
    </p>
</div>
<table class="table table-striped table-bordered table-hover T-showHighLight">
    <thead>
        <tr class="bg-blur T-tr-fixed">
            <th>中转信息</th>
            <th>时间</th>
            <th>班次</th>
            <th>酒店要求</th>
            <th>车</th>
            <th>房</th>
            <th>餐</th>
            <th>票</th>
            <th>它</th>
            <th>接送团</th>
            <th>安排人</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        <tr class="bg-blur T-tr-fixed">
        </tr>
    </thead>
    <tbody>{{each outRemarkArrangeList as transit}}
        <tr data-entity-id="{{if transit.touristGroupOutRemark != null}}{{transit.touristGroupOutRemark.id}}{{/if}}" data-out-remark-id="{{transit.id}}" data-isEdit="{{transit.touristGroupOutRemark.isEdit}}">
            <td class="h-touristGroupInfo">
              {{if !!transit.orderNumber}}
                <p><span class="h-orderNumber">中转单号：{{transit.orderNumber}}</span></p>
              {{/if}}
              {{if !!transit.lineProductName}}
                <p><span class="h-lineName">{{transit.lineProductName}}</span></p>
              {{/if}}
              <p>
              {{if transit.touristGroupOutRemark != null}}
                <span class="h-startTime">{{transit.touristGroupOutRemark.startTime | dateFormat: 'yyyy-MM-dd'}}</span>
              {{/if}}
              {{if transit.partnerAgencyName}}
                <span class="h-agencyName">{{transit.partnerAgencyName}}</span>
              {{/if}}
              {{if !!transit.touristGroupOutRemark && transit.touristGroupOutRemark.outOPUser}}
                <span class="h-OPUser">外联销售：{{transit.touristGroupOutRemark.outOPUser.realName}}</span>
              {{/if}}
              </p>
              <p>
              {{if !!transit.touristGroupOutRemark && !!transit.touristGroupOutRemark.orderNumber}}
                <span class="h-orderNumber">收客单号：{{transit.touristGroupOutRemark.orderNumber}}</span>
              {{/if}}
              {{if !!transit.touristGroupMemberName}}
                <span class="h-memberName">{{transit.touristGroupMemberName}}</span>
              {{/if}}
             {{if !!transit.mobileNumber}}
                <span class="h-mobileNumber">{{transit.mobileNumber}}</span>
              {{/if}}
              {{if transit.touristGroupOutRemark != null || transit.touristGroupOutRemark != null}}
                <span class="h-peopleCount">({{if transit.touristGroupOutRemark != null}}{{transit.touristGroupOutRemark.adultCount}}大{{/if}} {{if transit.touristGroupOutRemark != null}}{{transit.touristGroupOutRemark.childCount}}小{{/if}})</span>
              {{/if}}
              </p>
            </td>
            {{if transit.shuttleType == 1}}
            <td>{{transit.arriveTime | dateTimeHSFormat}}</td>
            <td>{{transit.arriveShift}}</td>
            <td>{{transit.receiveHotelRequire}}</td>
            <td data-target="transit_receive_bus" class="receiveBusStatus" data-status="{{transit.receiveBusStatus}}"><i class="ace-icon fa {{transit.receiveBusStatus | getArrangeIcon}}"></i></td>
            <td data-target="transit_receive_hotel" class="receiveHotelStatus" data-status="{{transit.receiveHotelStatus}}"><i class="ace-icon fa {{transit.receiveHotelStatus | getArrangeIcon}}"></i></td>
            <td data-target="transit_receive_restaurant" class="receiveRestaurantStatus" data-status="{{transit.receiveRestaurantStatus}}"><i class="ace-icon fa {{transit.receiveRestaurantStatus | getArrangeIcon}}"></i></td>
            <td data-target="transit_receive_ticket" class="receiveTicketStatus" data-status="{{transit.receiveTicketStatus}}"><i class="ace-icon fa {{transit.receiveTicketStatus | getArrangeIcon}}"></i></td>
            <td data-target="transit_receive_other" class="receiveOtherStatus" data-status="{{transit.receiveOtherStatus}}"><i class="ace-icon fa {{transit.receiveOtherStatus | getArrangeIcon}}"></i></td>
            {{else}}
            <td>{{transit.leaveTime | dateTimeHSFormat}}</td>
            <td>{{transit.leaveShift}}</td>
            <td>{{transit.sendHotelRequire}}</td>
            <td data-target="transit_send_bus" class="sendBusStatus" data-status="{{transit.sendBusStatus}}"><i class="ace-icon fa {{transit.sendBusStatus | getArrangeIcon}}"></i></td>
            <td data-target="transit_send_hotel" class="sendHotelStatus" data-status="{{transit.sendHotelStatus}}"><i class="ace-icon fa {{transit.sendHotelStatus | getArrangeIcon}}"></i></td>
            <td data-target="transit_send_restaurant" class="sendRestaurantStatus" data-status="{{transit.sendRestaurantStatus}}"><i class="ace-icon fa {{transit.sendRestaurantStatus | getArrangeIcon}}"></i></td>
            <td data-target="transit_send_ticket" class="sendTicketStatus" data-status="{{transit.sendTicketStatus}}"><i class="ace-icon fa {{transit.sendTicketStatus | getArrangeIcon}}"></i></td>
            <td data-target="transit_send_other" class="sendOtherStatus" data-status="{{transit.sendOtherStatus}}"><i class="ace-icon fa {{transit.sendOtherStatus | getArrangeIcon}}"></i></td>
            {{/if}}
            <td>{{if transit.shuttleType == 1}}接团{{else if transit.shuttleType == 2}}送团{{else}}-{{/if}}</td>
            <td>{{if transit.arrangeUser != null}}{{transit.arrangeUser.realName}}{{else}}-{{/if}}</td>
            <td style="width: 100px;">{{if transit.status == 1}}
                <i class="ace-icon fa fa-check green bigger-130"></i> 已安排 {{else if transit.status == 0}}
                <i class="ace-icon fa fa-times red bigger-125"></i> 未安排 {{/if}}
            </td>
            <td>
                <div class="btn-group" style="width:170px;">
                    <a data-entity-id="{{if transit.touristGroupOutRemark != null}}{{transit.touristGroupOutRemark.id}}{{/if}}" class="cursor T-action T-send R-right" data-right="1160004" title="通知">
							通知
						</a>
                    <a data-entity-id="{{if transit.touristGroupOutRemark != null}}{{transit.touristGroupOutRemark.id}}{{/if}}" class="cursor T-action {{if transit.touristGroupOutRemark.isEdit == 1}}gray{{else}}T-edit{{/if}} R-right" data-right="1160002" title="{{if transit.touristGroupOutRemark.isEdit == 1}}财务审核后已设置不可修改数据，请联系财务{{else}}编辑中转安排{{/if}}">
                        <label class="padding-right20">|</label>
                        <span>编辑</span>
                        <label style="padding-left:10px;">|</label>
                    </a>
                    <a data-entity-id="{{if transit.touristGroupOutRemark != null}}{{transit.touristGroupOutRemark.id}}{{/if}}" class="cursor T-action T-view" title="查看安排">
							查看
						</a>
                    <a data-entity-id="{{if transit.touristGroupOutRemark != null}}{{transit.touristGroupOutRemark.id}}{{/if}}" title="导出代订" class="cursor T-action T-export R-right" data-right="1160003">
                        <label class="padding-right20">|</label>
                        导出
                    </a>
                </div>
            </td>
        </tr>{{/each}}
    </tbody>
</table>
<div class="row pageMode">
    <div class="col-xs-6">
        <small>共计 <span class="T-recordSize">{{recordSize}}</span> 条记录</small>
    </div>
    <div class="col-xs-6">
        <div class="dataTables_paginate paging_simple_numbers T-pagenation">
        </div>
    </div>
</div>
