<div class="col-xs-12 arrangeTouristMain">
	<form class="form-horizontal" role="form" onsubmit="return false">
		<div class="form-group">
			<input type="hidden" name="touristGroup" value="{{touristGroup.id}}"/>
			<label class="col-sm-2 control-label no-padding-right">线路产品：{{touristGroup.lineProduct.name}}</label>
			<input type="hidden" name="lineProductId" value="{{touristGroup.lineProduct.id}}" />
			<label class="col-sm-2 control-label no-padding-right">小组联系人：{{touristGroup.contactMember.name}}</label>
			<input type="hidden" name="contactMemberId" value="{{touristGroup.contactMember.id}}" />
			<label class="col-sm-2 control-label no-padding-right">联系电话：{{touristGroup.contactMember.mobileNumber}}</label>
			<label class="col-sm-2 control-label no-padding-right">出游日期：{{if touristGroup.startTime != null}}{{touristGroup.startTime | dateFormat: 'yyyy-MM-dd'}}{{/if}}</label>
			<label class="col-sm-3 control-label no-padding-right">人数合计：大人{{touristGroup.adultCount}}小孩{{touristGroup.childCount}}</label>
		</div>
		<div class="form-group">
			{{if arriveTime != null}}<div class="col-sm-1"></div><label class="col-sm-2 control-label no-padding-right" style="text-align: left;">接团日期：{{arriveTime | dateFormat: 'yyyy-MM-dd'}}</label>{{/if}}
			{{if arrivePosition != null && arrivePosition != ""}}<label class="col-sm-2 control-label no-padding-right" style="text-align: left;">接团地点：{{arrivePosition}}</label>{{/if}}
			{{if arriveShift != null}}<label class="col-sm-2 control-label no-padding-right" style="text-align: left;">接团班次：{{arriveShift}}</label>{{/if}}
			{{if arriveShiftTime != null}}<label class="col-sm-3 control-label no-padding-right" style="text-align: left;">接团班次时间：{{arriveShiftTime}}</label>{{/if}}
		</div>
		<div class="form-group">
			{{if leaveTime != null}}<div class="col-sm-1"></div><label class="col-sm-2 control-label no-padding-right" style="text-align: left;">送团日期：{{leaveTime | dateFormat: 'yyyy-MM-dd'}}</label>{{/if}}
			{{if leavePosition != null && leavePosition != ""}}<label class="col-sm-2 control-label no-padding-right" style="text-align: left;">送团地点：{{leavePosition}}</label>{{/if}}
			{{if leaveShift != null}}<label class="col-sm-2 control-label no-padding-right" style="text-align: left;">送团班次：{{leaveShift}}</label>{{/if}}
			{{if leaveShiftTime != null}}<label class="col-sm-3 control-label no-padding-right" style="text-align: left;">送团班次时间：{{leaveShiftTime}}</label>{{/if}}
		</div>
	</form>
	
	<div class="col-xs-12">
		<div class="tabbable">
			<ul class="nav nav-tabs" id="myTabV">
				{{if isNeedArriveService == 1}}
				<li class="active" style="width:125px;">
					<a aria-expanded="true" data-toggle="tab" href="#receptionListV" style="text-align:center;">
						&nbsp;接团&nbsp;
					</a>
				</li>
				{{/if}}
				{{if isNeedBus == 1}}
				<li {{if isNeedArriveService == 0}}class="active"{{/if}} style="width:125px;">					
				<a aria-expanded="false" data-toggle="tab" href="#carListV" style="text-align:center;">
						&nbsp;小车&nbsp;
					</a>
				</li>
				{{/if}}
				{{if isNeedLeaveService == 1}}
				<li {{if isNeedArriveService == 0 && isNeedBus == 0}}class="active"{{/if}} style="width:125px;">				
					<a aria-expanded="false" data-toggle="tab" href="#sendListV" style="text-align:center;">
						&nbsp;送团&nbsp;
					</a>  
				</li>
				{{/if}}
			</ul>
	
			<div class="tab-content">
				{{if isNeedArriveService == 1}}
				<div id="receptionListV" class="tab-pane fade active in">
					<div class="form-group busList">
						<div class="col-xs-12 col-sm-12 widget-container-col">
							<div class="widget-box ui-sortable-handle">
								<div class="widget-header">
									<h5 class="widget-title">
										<i class="ace-icon fa fa-user"></i>
										接团车俩
									</h5>
								</div>
					
								<div class="widget-body">
									<div class="widget-main no-padding">
										<table class="table table-striped table-bordered table-hover busListTable">
											<thead>
												<tr>
													<th>车队</th>
													<th>车牌</th>
													<th>车辆品牌</th>
													<th>司机</th>
													<th>司机电话</th>
													<th>用车时间</th>
													<th>上车地点</th>
													<th>车费</th>
													<th>优惠</th>
													<th>应付款</th>
													<th>已付款</th>
													<th>付款方式</th>
												</tr>
											</thead>
											<tbody>{{each receiveGroup.outBusList as outBus}}
													{{if outBus.id != null && outBus.busCompany != null && outBus.bus != null && outBus.driver != null}}
												<tr>
													<td>{{if outBus.busCompany != null}}{{outBus.busCompany.companyName}}{{/if}}</td>
													<td>{{if outBus.bus != null}}{{outBus.bus.licenseNumber}}{{/if}}</td>
													<td>{{if outBus.bus != null}}{{outBus.bus.brand}}{{/if}}</td>
													<td>{{if outBus.driver != null}}{{outBus.driver.name}}{{/if}}</td>
													<td>{{if outBus.driver != null}}{{outBus.driver.mobileNumber}}{{/if}}</td>
													<td>{{if outBus.useTime != null}}{{outBus.useTime}}{{/if}}</td>
													<td>{{outBus.boardLocation}}</td>
													<td>{{outBus.fee}}</td>
													<td>{{outBus.reduceMoney}}</td>
													<td>{{outBus.needPayMoney}}</td>
													<td>{{outBus.payedMoney}}</td>
													<td>{{if outBus.payType == 0}}现付{{else if outBus.payType == 1}}签单{{else if outBus.payType == 2}}转账{{else}}网付{{/if}}</td>
												</tr>{{/if}}{{/each}}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group hotelList">
						<div class="col-xs-12 col-sm-12 widget-container-col">
							<div class="widget-box ui-sortable-handle">
								<div class="widget-header">
									<h5 class="widget-title">
										<i class="ace-icon fa fa-user"></i>
										酒店安排
									</h5>
								</div>
					
								<div class="widget-body">
									<div class="widget-main no-padding">
										<table class="table table-striped table-bordered table-hover hotelListTable">
											<thead>
												<tr>
													<th>日期</th>
													<th>星级</th>
													<th>酒店</th>
													<th>联系人</th>
													<th>联系电话</th>
													<th>房型</th>
													<th>单价</th>
													<th>数量</th>
													<th>优惠</th>
													<th>应付款</th>
													<th>已付款</th>
													<th>付款方式</th>
												</tr>
											</thead>
											<tbody>{{each receiveGroup.outHotelList as outHotel}}
													{{if outHotel.id != null && outHotel.hotel != null && outHotel.hotelRoom != null}}
												<tr>
													<td>{{if outHotel.checkInTime != null}}{{outHotel.checkInTime | dateFormat: 'yyyy-MM-dd'}}{{/if}}</td>
													<td>{{if outHotel.hotel.level == 1}}
														三星以下
														{{else if outHotel.hotel.level == 2}}
														三星
														{{else if outHotel.hotel.level == 3}}
														准四星
														{{else if outHotel.hotel.level == 4}}
														四星
														{{else if outHotel.hotel.level == 5}}
														准五星
														{{else if outHotel.hotel.level == 6}}
														五星
														{{else if outHotel.hotel.level == 7}}
														五星以上星
														{{/if}}
													</td>
													<td>{{outHotel.hotel.name}}</td>
													<td>{{outHotel.hotel.managerName}}</td>
													<td>{{outHotel.hotel.mobileNumber}}</td>
													<td>{{outHotel.hotelRoom.type}}</td>
													<td>{{outHotel.price}}</td>
													<td>{{outHotel.memberCount}}</td>
													<td>{{outHotel.reduceMoney}}</td>
													<td>{{outHotel.needPayMoney}}</td>
													<td>{{outHotel.payedMoney}}</td>
													<td>{{if outHotel.payType == 0}}现付{{else if outHotel.payType == 1}}签单{{else if outHotel.payType == 2}}转账{{else}}网付{{/if}}</td>
												</tr>{{/if}}{{/each}}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group ticketList">
						<div class="col-xs-12 col-sm-12 widget-container-col">
							<div class="widget-box ui-sortable-handle">
								<div class="widget-header">
									<h5 class="widget-title">
										<i class="ace-icon fa fa-user"></i>
										票务安排
									</h5>
								</div>
					
								<div class="widget-body">
									<div class="widget-main no-padding">
										<table class="table table-striped table-bordered table-hover ticketListTable">
											<thead>
												<tr>
													<th>票务公司</th>
													<th>类型</th>
													<th>出发城市</th>
													<th>到达城市</th>
													<th>日期</th>
													<th>班次</th>
													<th>座位级别</th>
													<th>单价</th>
													<th>数量</th>
													<th>优惠</th>
													<th>应付款</th>
													<th>已付款</th>
													<th>付款方式</th>
												</tr>
											</thead>
											<tbody>{{each receiveGroup.outTicketList as outTicket}}
													{{if outTicket.id != null && outTicket.ticket != null}}
												<tr>
													<td>{{outTicket.ticket.name}}</td>
													<td>{{if outTicket.type == 1}}
														机票
														{{else if outTicket.type == 2}}
														汽车票
														{{else if outTicket.type == 3}}
														火车票
														{{/if}}
													</td>
													<td>{{outTicket.startingCity}}</td>
													<td>{{outTicket.arriveCity}}</td>
													<td>{{if outTicket.startTime != null}}{{outTicket.startTime}}{{/if}}</td>
													<td>{{outTicket.shift}}</td>
													<td>{{outTicket.seatLevel}}</td>
													<td>{{outTicket.price}}</td>
													<td>{{outTicket.memberCount}}</td>
													<td>{{outTicket.reduceMoney}}</td>
													<td>{{outTicket.needPayMoney}}</td>
													<td>{{outTicket.payedMoney}}</td>
													<td>{{if outTicket.payType == 0}}现付{{else if outTicket.payType == 1}}签单{{else if outTicket.payType == 2}}转账{{else}}网付{{/if}}</td>
												</tr>{{/if}}{{/each}}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div style="clear:both;height:0px;line-height:0px;"></div>
				</div>
				{{/if}}
				{{if isNeedBus == 1}}
				<div id="carListV" class="tab-pane fade {{if isNeedArriveService == 0}}active in{{/if}}">
					<div class="form-group busList">
						<div class="col-xs-12 col-sm-12 widget-container-col">
							<div class="widget-box ui-sortable-handle">
								<div class="widget-header">
									<h5 class="widget-title">
										<i class="ace-icon fa fa-user"></i>
										中转小车
									</h5>
								</div>
					
								<div class="widget-body">
									<div class="widget-main no-padding">
										<table class="table table-striped table-bordered table-hover busListTable">
											<thead>
												<tr>
													<th>车队</th>
													<th>车牌</th>
													<th>车辆品牌</th>
													<th>司机</th>
													<th>司机电话</th>
													<th>用车时间</th>
													<th>上车地点</th>
													<th>车费</th>
													<th>优惠</th>
													<th>应付款</th>
													<th>已付款</th>
													<th>付款方式</th>
												</tr>
											</thead>
											<tbody>{{each bus as outBus}}
													{{if outBus.id != null && outBus.busCompany != null && outBus.bus != null && outBus.driver != null}}
												<tr>
													<td>{{if outBus.busCompany != null}}{{outBus.busCompany.companyName}}{{/if}}</td>
													<td>{{if outBus.bus != null}}{{outBus.bus.licenseNumber}}{{/if}}</td>
													<td>{{if outBus.bus != null}}{{outBus.bus.brand}}{{/if}}</td>
													<td>{{if outBus.driver != null}}{{outBus.driver.name}}{{/if}}</td>
													<td>{{if outBus.driver != null}}{{outBus.driver.mobileNumber}}{{/if}}</td>
													<td>{{if outBus.useTime != null}}{{outBus.useTime}}{{/if}}</td>
													<td>{{outBus.boardLocation}}</td>
													<td>{{outBus.fee}}</td>
													<td>{{outBus.reduceMoney}}</td>
													<td>{{outBus.needPayMoney}}</td>
													<td>{{outBus.payedMoney}}</td>
													<td>{{if outBus.payType == 0}}现付{{else if outBus.payType == 1}}签单{{else if outBus.payType == 2}}转账{{else}}网付{{/if}}</td>
												</tr>{{/if}}{{/each}}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div style="clear:both;height:0px;line-height:0px;"></div>
				</div>
				{{/if}}
				{{if isNeedLeaveService == 1}}
				<div id="sendListV" class="tab-pane fade {{if isNeedArriveService == 0 && isNeedBus == 0}}active in{{/if}}">
					<div class="form-group busList">
						<div class="col-xs-12 col-sm-12 widget-container-col">
							<div class="widget-box ui-sortable-handle">
								<div class="widget-header">
									<h5 class="widget-title">
										<i class="ace-icon fa fa-user"></i>
										送团车俩
									</h5>
								</div>
					
								<div class="widget-body">
									<div class="widget-main no-padding">
										<table class="table table-striped table-bordered table-hover busListTable">
											<thead>
												<tr>
													<th>车队</th>
													<th>车牌</th>
													<th>车辆品牌</th>
													<th>司机</th>
													<th>司机电话</th>
													<th>用车时间</th>
													<th>上车地点</th>
													<th>车费</th>
													<th>优惠</th>
													<th>应付款</th>
													<th>已付款</th>
													<th>付款方式</th>
												</tr>
											</thead>
											<tbody>{{each sendGroup.outBusList as outBus}}
													{{if outBus.id != null && outBus.busCompany != null && outBus.bus != null && outBus.driver != null}}
												<tr>
													<td>{{if outBus.busCompany != null}}{{outBus.busCompany.companyName}}{{/if}}</td>
													<td>{{if outBus.bus != null}}{{outBus.bus.licenseNumber}}{{/if}}</td>
													<td>{{if outBus.bus != null}}{{outBus.bus.brand}}{{/if}}</td>
													<td>{{if outBus.driver != null}}{{outBus.driver.name}}{{/if}}</td>
													<td>{{if outBus.driver != null}}{{outBus.driver.mobileNumber}}{{/if}}</td>
													<td>{{if outBus.useTime != null}}{{outBus.useTime}}{{/if}}</td>
													<td>{{outBus.boardLocation}}</td>
													<td>{{outBus.fee}}</td>
													<td>{{outBus.reduceMoney}}</td>
													<td>{{outBus.needPayMoney}}</td>
													<td>{{outBus.payedMoney}}</td>
													<td>{{if outBus.payType == 0}}现付{{else if outBus.payType == 1}}签单{{else if outBus.payType == 2}}转账{{else}}网付{{/if}}</td>
												</tr>{{/if}}{{/each}}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group hotelList">
						<div class="col-xs-12 col-sm-12 widget-container-col">
							<div class="widget-box ui-sortable-handle">
								<div class="widget-header">
									<h5 class="widget-title">
										<i class="ace-icon fa fa-user"></i>
										酒店安排
									</h5>
								</div>
					
								<div class="widget-body">
									<div class="widget-main no-padding">
										<table class="table table-striped table-bordered table-hover hotelListTable">
											<thead>
												<tr>
													<th>日期</th>
													<th>星级</th>
													<th>酒店</th>
													<th>联系人</th>
													<th>联系电话</th>
													<th>房型</th>
													<th>单价</th>
													<th>数量</th>
													<th>优惠</th>
													<th>应付款</th>
													<th>已付款</th>
													<th>付款方式</th>
												</tr>
											</thead>
											<tbody>{{each sendGroup.outHotelList as outHotel}}
												{{if outHotel.id != null && outHotel.hotel != null && outHotel.hotelRoom != null}}
												<tr>
													<td>{{if outHotel.checkInTime != null}}{{outHotel.checkInTime | dateFormat: 'yyyy-MM-dd'}}{{/if}}</td>
													<td>{{if outHotel.hotel.level == 1}}
														三星以下
														{{else if outHotel.hotel.level == 2}}
														三星
														{{else if outHotel.hotel.level == 3}}
														准四星
														{{else if outHotel.hotel.level == 4}}
														四星
														{{else if outHotel.hotel.level == 5}}
														准五星
														{{else if outHotel.hotel.level == 6}}
														五星
														{{else if outHotel.hotel.level == 7}}
														五星以上星
														{{/if}}
													</td>
													<td>{{outHotel.hotel.name}}</td>
													<td>{{outHotel.hotel.managerName}}</td>
													<td>{{outHotel.hotel.mobileNumber}}</td>
													<td>{{outHotel.hotelRoom.type}}</td>
													<td>{{outHotel.price}}</td>
													<td>{{outHotel.memberCount}}</td>
													<td>{{outHotel.reduceMoney}}</td>
													<td>{{outHotel.needPayMoney}}</td>
													<td>{{outHotel.payedMoney}}</td>
													<td>{{if outHotel.payType == 0}}现付{{else if outHotel.payType == 1}}签单{{else if outHotel.payType == 2}}转账{{else}}网付{{/if}}</td>
												</tr>{{/if}}{{/each}}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group ticketList">
						<div class="col-xs-12 col-sm-12 widget-container-col">
							<div class="widget-box ui-sortable-handle">
								<div class="widget-header">
									<h5 class="widget-title">
										<i class="ace-icon fa fa-user"></i>
										票务安排
									</h5>
								</div>
					
								<div class="widget-body">
									<div class="widget-main no-padding">
										<table class="table table-striped table-bordered table-hover ticketListTable">
											<thead>
												<tr>
													<th>票务公司</th>
													<th>类型</th>
													<th>出发城市</th>
													<th>到达城市</th>
													<th>日期</th>
													<th>班次</th>
													<th>座位级别</th>
													<th>单价</th>
													<th>数量</th>
													<th>优惠</th>
													<th>应付款</th>
													<th>已付款</th>
													<th>付款方式</th>
												</tr>
											</thead>
											<tbody>{{each sendGroup.outTicketList as outTicket}}
													{{if outTicket.id != null && outTicket.ticket != null}}
												<tr>
													<td>{{outTicket.ticket.name}}</td>
													<td>{{if outTicket.type == 1}}
														机票
														{{else if outTicket.type == 2}}
														汽车票
														{{else if outTicket.type == 3}}
														火车票
														{{/if}}
													</td>
													<td>{{outTicket.startingCity}}</td>
													<td>{{outTicket.arriveCity}}</td>
													<td>{{if outTicket.startTime != null}}{{outTicket.startTime}}{{/if}}</td>
													<td>{{outTicket.shift}}</td>
													<td>{{outTicket.seatLevel}}</td>
													<td>{{outTicket.price}}</td>
													<td>{{outTicket.memberCount}}</td>
													<td>{{outTicket.reduceMoney}}</td>
													<td>{{outTicket.needPayMoney}}</td>
													<td>{{outTicket.payedMoney}}</td>
													<td>{{if outTicket.payType == 0}}现付{{else if outTicket.payType == 1}}签单{{else if outTicket.payType == 2}}转账{{else}}网付{{/if}}</td>
												</tr>{{/if}}{{/each}}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div style="clear:both;height:0px;line-height:0px;"></div>
				</div>
				{{/if}}
			</div>
		</div>
		
	</div>
</div>