<div class="search-area globalAdd">
	<input name="busCompany_companyName" class="pull-left w-300 T-busCompanyInputList" value="{{searchParam.companyName}}" placeholder="请输入车队名称、车牌号、联系人或联系电话关键词"/>&nbsp;
	<button class=" btn-sm  pull-left T-busCompany-search search-btn" >
		<i class="ace-icon fa fa-search"></i>
		搜索
	</button>
	<div class="btn-group T-select-status" style="margin-left: 20px;">
		<button data-value="{{searchParam.status}}" data-toggle="dropdown" class=" btn-sm  dropdown-toggle block-up block-up" aria-expanded="false">
			<span>
				{{if searchParam.status == ""}}
					全部
				{{else if searchParam.status == 1}}
					已启用
				{{else}}
					已停用
				{{/if}}
			</span>
			<i class="ace-icon fa fa-angle-down icon-on-right" ></i>
		</button>
		<ul class="dropdown-menu">
			<li>
				<a data-value="" href="javascript:void(0)">全部</a>
			</li>
			<li>
				<a data-value="1" href="javascript:void(0)">已启用</a>
			</li>
			<li>
				<a data-value="0" href="javascript:void(0)">已停用</a>
			</li> 
		</ul>
	</div>
	<button class="btn btn-sm btn-success T-busCompany-add R-right" data-right="1020002" style="margin-left: 20px;">
		<i class="ace-icon fa fa-plus"></i>
		新增车队
	</button>
</div>
<div class="row busCompanyList">
	<div class="col-xs-12">
		<table class="table table-striped table-bordered table-hover T-showHighLight table-fixed">
			<colgroup>
            	<col style="width:25%;"></col>
            	<col style="width:15%;"></col>
            	<col style="width:10%;"></col>
            	<col style="width:5%;"></col>
            	<col style="width:5%;"></col>
            	<col style="width:20%;"></col>
            	<col style="width:8%;"></col>
            	<col style="width:12%;"></col>
            </colgroup>
			<thead>
				<tr class="bg-blur">
					<th>车队名称</th>
					<th>联系人</th>
					<th>联系电话</th>
					<th>车辆数</th>
					<th>司机数</th>
					<th>所在地区</th>
					<th>启用标志</th>
					<th>操作</th>
				</tr>
			</thead>

			<tbody class="T-busCompany-list">
				{{each busCompanyList as busCompany}}
					<tr class="busCompany-{{busCompany.id}}" data-id="{{busCompany.id}}">
						<td>{{busCompany.companyName}}</td>
						<td>{{busCompany.managerName}}</td>
						<td>{{busCompany.mobileNumber}}</td>
						<td><span class="F-float F-count">{{busCompany.busCount}}</span>辆</td>
						<td>{{busCompany.driverCount}}个</td>
						<td>
							{{if busCompany.province != null}}
								{{busCompany.province.name}}
							{{/if}}
							{{if busCompany.city != null}}
								-{{busCompany.city.name}}
							{{/if}}
							{{if busCompany.district != null}}
								-{{busCompany.district.name}}
							{{/if}}
						</td>
						<td>
							{{if busCompany.status == 0}}
							<i class="ace-icon fa fa-times red bigger-125"></i>
								已停用
							{{else busCompany.status == 1}}
							<i class="ace-icon fa fa-check green bigger-130"></i>
								已启用
							{{/if}}
						</td>
						<td>
							<div class="btn-group">
								<a data-entity-id="{{busCompany.id}}" class="T-action T-view cursor">
									查看
								</a>
								<a data-entity-id="{{busCompany.id}}" class="T-action T-edit cursor R-right" data-right="1020003">
									<label class="padding-right20">|</label>
									编辑
								</a>
								<a data-entity-id="{{busCompany.id}}" class="T-action T-delete cursor R-right" data-right="1020004">
									<label class="padding-right20">|</label>
									删除
								</a>
							</div>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		<div class="row pageMode">
			<div class="col-xs-6">
				<div class="dataTables_info" id="dynamic-table_info" role="status" aria-live="polite"><small>共计 {{recordSize}} 条记录</small></div>
			</div>
			<div class="col-xs-6">
				<div class="dataTables_paginate paging_simple_numbers T-pagenation">
				</div>
			</div>
		</div>
	</div>
</div>