 <div class="col-xs-12 T-updateBusCompanyContainer globalAdd">
	<form class="form-horizontal T-busCompanyMainForm formOneList" role="form" style="margin-top:10px" onsubmit="return false">
		<input name="id" type="hidden" value="{{busCompany.id}}"/>
		<div class=" ui-sortable-handle">
				<h5 >
					<span class="badge badge-primary">1</span>
					<label class="middle title-size navInformation">车队主体信息</label>
				</h5>
			<div class="widget-body">
				<div class="widget-main widget-mainFrist">
					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right"><span class="necessary">*</span>车队名称:</label>
						<div class="col-sm-3">
							<input type="text" name="companyName" class="col-sm-12" value="{{busCompany.companyName}}" maxlength="32">
						</div>
						<label class="col-sm-1 control-label no-padding-right"><span class="necessary">*</span>车队类型:</label>
                       <div class="col-sm-3">
						<select name="type">
							<option {{if busCompany.type == 0}}selected="selected"{{/if}} value="0">个人</option>
							<option {{if busCompany.type == 1}}selected="selected"{{/if}} value="1">集团</option>
						</select>
					</div>
					</div>
					<!--<div class="form-group guideInterval">-->
					   <!-- -->
					<!--</div>-->
					<div class="form-group guideInterval">
					    <label class="col-sm-2 control-label no-padding-right"><span class="necessary">*</span>联系人:</label>
						<div class="col-sm-3">
							<input type="text" name="managerName" class="col-sm-12" value="{{busCompany.managerName}}" maxlength="45"/>
						</div>
				    	<label class="col-sm-1 control-label no-padding-right"><span class="necessary">*</span>联系电话:</label>
						<div class="col-sm-3">
							<input type="text" name="mobileNumber" class="col-sm-12" value="{{busCompany.mobileNumber}}" maxlength="11" />
							<label class="feild-label feild-error-tip" style="top:4px;right:80px;">
								<i title="该手机号码将接收短信" class="fa fa-info blue"></i>
							</label>
						</div>
					</div>
					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right">座机号码:</label>
						<div class="col-sm-3">
							<input type="text" name="telNumber" class="col-sm-12" value="{{busCompany.telNumber}}"  maxlength="20" />
						</div>
						<label class="col-sm-1 control-label no-padding-right">传真号码:</label>
						<div class="col-sm-3">
							<input type="text" name="faxNumber" class="col-sm-12" value="{{busCompany.faxNumber}}" maxlength="20" />
						</div>
					</div>
					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right">所在地区:</label>
						<div class="col-sm-4">
							<select name="provinceId" style="margin-right:3px">
								<option selected="selected" value="">未选择</option>
							</select>
							<select name="cityId"  style="margin-right:3px">
								<option selected="selected" value="">未选择</option>
							</select>
							<select name="districtId" >
								<option selected="selected" value="">未选择</option>
							</select>
						</div>

						<label class="col-sm-1 control-label no-padding-right" style="margin-left: -110px;">是否启用:</label>
						<div class="col-sm-3 checkbox" style="margin-left:-10px;margin-top: -6px">
							<label>
								<input {{if busCompany.status == 1}}checked="checked"{{/if}} type="checkbox" class="ace busCompany-status" value="1">
								<span class="lbl">
									启用
								</span>
							</label>
						</div>
					</div>
					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right">详细地址:</label>
						<div class="col-sm-6">
							<input type="text" name="street" class="col-sm-12 addressMinute" placeholder="请输入街道地址" value="{{busCompany.street}}" maxlength="100" />
						</div>
					</div>
					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right">车队简介:</label>
						<div class="col-sm-8">
							<textarea class="form-control" name="remark" class="col-sm-12" maxlength="1000" >{{busCompany.remark}}</textarea>
						</div>
					</div>

					<div class="form-group guideInterval">
						<div class="col-sm-4">
							<input class="form-control F-float F-money T-lowestPrice" type="hidden" name="lowestPrice" value="{{busCompany.lowestPrice}}" class="col-sm-12" maxlength="9" />
						</div>
					</div>

				</div>
			</div>
		</div>
	</form>
	<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
		<div class="form-group T-busList guideInterval">
			<div class="col-xs-12 col-sm-12 widget-container-col">
				<div class=" ui-sortable-handle">
						<h5 class="">
							<span class="badge badge-primary">2</span>
							<label class="middle title-size navInformation">车辆列表</label>
							<a href="javascript:void(0)" class="btn-bus-add">
								<button class="btn btn-sm btn-success T-busCompany-add " style="margin-left: 20px;">
								<i class="ace-icon fa fa-plus"></i>
								新增
								</button>
							</a>
						</h5>
					<div class="widget-body">
						<div class="widget-main no-padding">
							<table class="table table-striped table-bordered table-hover busList" style="border: 1px solid #ccc">
								<thead>
									<tr>
										<th class="table-border"><span class="necessary">*</span>车牌号</th>
										<th class="table-border">车辆品牌</th>
										<th class="table-border">座位数</th>
										<th class="table-border"style="width:150px;">购买时间</th>
										<th class="table-border" style="width: 70px">协议包车</th>
										<th class="table-border col-sm-3" >包车时限</th>
										<th class="table-border" style="width:140px;">包车价格</th>
										<th class="table-border">备注</th>
										<th class="table-border" width="60">操作</th>
									</tr>
								</thead>
								<tbody class="T-busTbody-list">
									{{each busCompany.busList as bus}}
										<tr data-entity-id="{{bus.id}}">
											<td><input  name="licenseNumber" type="text" class="col-sm-12" value="{{bus.licenseNumber}}" maxlength="10" /></td>
											<td><input name="brand" type="text" class="col-sm-12" value="{{bus.brand}}" maxlength="32" /></td>
											<td><input name="seatCount" class="col-sm-10" type="text" value="{{bus.seatCount}}"/></td>
											<td class="col-sm-1"><div class="input-group col-sm-12"><input name="buyTime" type="text" class="date-picker datepicker" style="width: 130px" {{if bus.buyTime == null || bus.buyTime == ""}} value="" {{else}} value="{{bus.buyTime | dateFormat:'yyyy-MM-dd'}}" {{/if}}/><span class="input-group-addon"><i class="fa fa-calendar"></i></span></div></td>
											<td>
												<select name="isChartered">
													<option value="1" {{if bus.isChartered == 1}}selected="selected"{{/if}}>是</option>
													<option value="0" {{if bus.isChartered == 0}}selected="selected"{{/if}}>否</option>
												</select>
											</td>
											<td class="time">
												{{if bus.isChartered == 1}} 
													{{each bus.priceList as price i}}
													<div data-index="{{i+1}}" data-entity-id="{{price.id}}" class="clearfix {{if i > 0}}T-appendDiv{{/if}} div-{{i+1}}" style="margin-top:2px">
														<input name="startTime" type="text" {{if bus.isChartered == 0}}readonly="readonly"{{/if}} class="datepicker T-startTime T-calc" style="width:100px" value="{{if bus.isChartered == 1}}{{price.startTime | dateFormat:'yyyy-MM-dd'}}{{/if}}"/><label>&nbsp;至&nbsp;</label><input name="endTime" type="text" {{if bus.isChartered == 0}}readonly="readonly"{{/if}} class="datepicker T-endTime T-calc" style="width:100px" value="{{if bus.isChartered == 1}}{{price.endTime | dateFormat:'yyyy-MM-dd'}}{{/if}}"/>
														{{if i == 0}}
														<label class="timeArea {{if bus.isChartered == 0}}hide{{/if}}" style="float:right">
															<button class="btn btn-success btn-sm btn-white T-add">
																<i class="ace-icon fa fa-plus bigger-110 icon-only"></i>
															</button>
														</label>
														{{else}}
														<label class="timeArea {{if bus.isChartered == 0}}hide{{/if}}" style="float:right">
															<button class="btn btn-danger btn-sm btn-white T-del">
																<i class="ace-icon fa fa-minus bigger-110 icon-only"></i>
															</button>
														</label>
														{{/if}}
													</div>
													{{/each}}
												{{else}}
													<div data-index="1" data-entity-id="" class="clearfix T-appendDiv div-1" style="margin-top:2px">
														<input name="startTime" type="text" readonly="readonly" class="datepicker T-startTime T-calc" style="width:100px" value=""/><label>&nbsp;至&nbsp;</label><input name="endTime" type="text" readonly="readonly" class="datepicker T-endTime T-calc" style="width:100px" value=""/>
														<label class="timeArea hide" style="float:right">
															<button class="btn btn-success btn-sm btn-white T-add">
																<i class="ace-icon fa fa-plus bigger-110 icon-only"></i>
															</button>
														</label>
													</div>
												{{/if}}
											</td>
											<td>
												{{if bus.isChartered == 1}}
													{{each bus.priceList as price i}}
													<div data-index="{{i+1}}" class="clearfix T-appendDiv div-{{i+1}}" style="margin-top:3px;margin-bottom:7px;">
														<input style="width:100px;" name="contractPrice" maxlength="9" type="text" {{if bus.isChartered == 0}}readonly="readonly"{{/if}} class="F-float F-money T-calc T-minPrice" value="{{price.contractPrice}}"/><label>&nbsp;元</label>
													</div>
													{{/each}}
												{{else}}
													<div data-index="1" class="clearfix T-appendDiv div-1" style="margin-top:3px;margin-bottom:7px;">
														<input style="width:100px;" name="contractPrice" class="F-float F-money T-calc T-minPrice" maxlength="9" type="text" readonly="readonly" value=""/><label>&nbsp;元</label>
													</div>
												{{/if}}
											</td>
											<td><input name="remark" maxlength="1000" class="col-sm-12" type="text" value="{{bus.remark}}"/></td>
											<td style="width:70px"><a class="T-bus-delete">删除</a></td>
										</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group T-driverList guideInterval">
			<div class="col-xs-12 col-sm-12 widget-container-col">
				<div class=" ui-sortable-handle">
						<h5>
							<span class="badge badge-primary">3</span>
							<label class="middle title-size navInformation">司机列表</label>
							<a href="javascript:void(0)" class="btn-driver-add">
								<button class="btn btn-sm btn-success T-driver-add " style="margin-left: 20px;">
								<i class="ace-icon fa fa-plus"></i>
								新增
								</button>
							</a>
						</h5>
					<div class="widget-body">
						<div class="widget-main no-padding">
							<table class="table table-striped table-bordered table-hover driverList" style="border: 1px solid #ccc">
								<thead>
									<tr>

										<th class="table-border"><span class="necessary">*</span>司机姓名</th>
										<th class="table-border" style="width: 80px">司机性别</th>
										<th class="table-border"><span class="necessary">*</span>司机电话</th>
										<th class="table-border">司机驾龄</th>
										<th class="table-border">驾驶证编号</th>
										<th class="table-border" width="80">是否启用</th>
										<th class="table-border">备注</th>
										<th class="table-border" width="60">操作</th>
									</tr>
								</thead>
								<tbody>
									{{each busCompany.driverList as driver}}
										<tr data-entity-id="{{driver.id}}">
											<td><input name="driverName" class="col-sm-12" maxlength="32" type="text" value="{{driver.name}}"/></td>
											<td>
												<select name="gender">
													<option {{if driver.gender == 0}}selected="selected"{{/if}} value="0">男</option>
													<option {{if driver.gender == 1}}selected="selected"{{/if}} value="1">女</option>
												</select>
											</td>
											<td><input name="mobileNumber" class="col-sm-12" type="text" value="{{driver.mobileNumber}}"/></td>
											<td><input name="driveYears" maxlength="2"type="text" value="{{driver.driveYears}}"/></td>
											<td><input name="licenseId" class="col-sm-12" type="text" value="{{driver.licenseId}}" maxlength="18"/></td>
											<td width="8%">
												<select name="status" class="col-sm-12">
													<option {{if driver.status == 0}}selected="selected"{{/if}} value="1">启用</option>
													<option {{if driver.status == 0}}selected="selected"{{/if}} value="0">停用</option>
												</select>
											</td>
											<td><input name="remark" class="col-sm-12" type="text" maxlength="1000" value="{{driver.remark}}" /></td>
											<td style="width:70px">
												<a class=" T-driver-delete">删除</a>
											</td>
										</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="space-10"></div>
		<button class="btn btn-block btn-primary T-submit-busCompany guideSubmit">
			<i class="ace-icon fa fa-check"></i>
			提交信息
		</button>
		<div class="space-20"></div>
	</form>
</div>
