<form class="form-horizontal busCompanyMainForm" role="form" style="margin-top:10px" onsubmit="return false">
	<table class="whereQ whereOne">
		<tr>
			<td colspan="4" class="HeadManage">车队主体信息</td>
		</tr>
		<tr>
			<td class="style-myself">车队名称：</td>
			<td class="styleOne-self">{{busCompany.companyName}}</td>
			<td class="style-myself">车队类型：</td>
			<td class="styleOne-self">{{if busCompany.type == 0}}
				个人
				{{else}}
				集团
				{{/if}}</td>
		</tr>
		<tr>
			<td class="style-myself">联系人：</td>
			<td class="styleOne-self">{{busCompany.managerName}}</td>
			<td class="style-myself">联系电话：</td>
			<td class="styleOne-self">{{busCompany.mobileNumber}}</td>
		</tr>
		<tr>
			<td class="style-myself">座机号码：</td>
			<td class="styleOne-self">{{busCompany.telNumber}}</td>
			<td class="style-myself">传真号码：</td>
			<td class="styleOne-self">{{busCompany.faxNumber}}</td>
		</tr>
		<tr>
			<td class="style-myself">所在地区：</td>
			<td class="styleOne-self">{{if busCompany.province != null}}
				{{busCompany.province.name}}
				{{/if}}
				{{if busCompany.city != null}}
				-{{busCompany.city.name}}
				{{/if}}
				{{if busCompany.district != null}}
				-{{busCompany.district.name}}
				{{/if}}</td>
			<td class="style-myself">是否启用：</td>
			<td class="styleOne-self">{{if busCompany.status == 0}}
				已停用
				{{else}}
				已启用
				{{/if}}</td>
		</tr>
		<tr>
			<td class="style-myself">详细地址：</td>
			<td class="styleOne-self" colspan="3">{{busCompany.street}}</td>
		</tr>
		<tr>
			<td class="style-myself">车队简介：</td>
			<td class="styleOne-self" colspan="4">{{busCompany.remark}}</td>
		</tr>
	</table>
</form>
<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
	<table class="whereQ whereTwo">
		<tr>
			<td colspan="8" class="HeadManage" style="text-align: left">车辆列表</td>
		</tr>
		<tr>
			<td class="style-myself">车牌号</td>
			<td class="style-myself">车辆品牌</td>
			<td class="style-myself">座位数</td>
			<td class="style-myself">购买时间</td>
			<td class="style-myself">协议包车</td>
			<td class="style-myself">包车时限</td>
			<td class="style-myself">包车价格</td>
			<td class="style-myself">备注</td>
		</tr>
		{{each busCompany.busList as bus}}
		<tr>
			<td class="style-myself">{{bus.licenseNumber}}</td>
			<td class="styleOne-self">{{bus.brand}}</td>
			<td class="style-myself"><span class="F-float F-count">{{bus.seatCount}}</span></td>
			<td class="styleOne-self">{{if bus.buyTime == null || bus.buyTime == ""}}-{{else}}{{bus.buyTime | dateFormat:'yyyy-MM-dd'}}{{/if}}</td>
			<td class="styleOne-self">{{if bus.isChartered == 0}}
				否
				{{else}}
				是
				{{/if}}</td>
			<td class="styleOne-self" style="width: 140px">{{each bus.priceList as price}}
				<div>
					{{if bus.isChartered == 0}}
					-
					{{else}}
					{{price.startTime | dateFormat:'yyyy-MM-dd'}}至{{price.endTime | dateFormat:'yyyy-MM-dd'}}
					{{/if}}
				</div>
				{{/each}}</td>
			<td class="styleOne-self">{{each bus.priceList as price}}
				<div class="F-float F-money">
					{{if bus.isChartered == 0}}
					-
					{{else}}
					{{price.contractPrice}}元
					{{/if}}
				</div>
				{{/each}}</td>
			<td class="styleOne-self" style="width: 210px">{{bus.remark}}</td>
		</tr>
		{{/each}}
	</table>

	<table class="whereQ whereTwo" style="margin-top: 10px;">
		<tr>
			<td colspan="8" class="HeadManage" style="text-align: left">司机列表</td>
		</tr>
		<tr>
			<td class="style-myself">司机姓名</td>
			<td class="style-myself">司机性别</td>
			<td class="style-myself">司机电话</td>
			<td class="style-myself">司机驾龄</td>
			<td class="style-myself">驾驶证编号</td>
			<td class="style-myself">是否启用</td>
			<td class="style-myself">备注</td>
		</tr>
		{{each busCompany.driverList as driver}}
		<tr>
			<td class="style-myself">{{driver.name}}</td>
			<td class="styleOne-self">{{if driver.gender == 0}}
				男
				{{else}}
				女
				{{/if}}</td>
			<td class="style-myself">{{driver.mobileNumber}}</td>
			<td class="styleOne-self F-float F-count">{{driver.driveYears}}</td>
			<td class="styleOne-self">{{driver.licenseId}}</td>
			<td class="styleOne-self">{{if driver.status == 0}}
				已停用
				{{else driver.status == 1}}
				已启用
				{{/if}}</td>
			<td class="styleOne-self">{{driver.remark}}</td>
		</tr>
		{{/each}}
	</table>
</form>

