<div id="editTransfer-container">
	<div class="T-editTransferIn globalAdd" style="margin-top:25px;">
		<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
			<div class=" ui-sortable-handle">
					<h5 class="cursor">
						<label class="middle title-size">请选择线路产品信息</label>
					</h5>
				<div class="widget-body">
					<div class="widget-main">
						<div class="form-group">
							<div class="search-area">
								<label class="col-sm-2 control-label no-padding-right"><span class="necessary">*</span>线路产品:</label>
								<input type="hidden" value="{{touristGroupTransfer.lineProduct.id}}" name="lineProductId" />
								<input type="hidden" value="{{touristGroupTransfer.id}}" name="tourGroupTransferId"/>
								<div class="col-sm-8">
									<input type="text" value="" name="lineProductIdName" class="col-sm-8" readonly="readonly" /> 
								
									<button class="col-sm-2 btn btn-sm btn-primary  T-searLineProtrsferIn-search" style="padding-bottom:5px;">
										<i class="ace-icon fa fa-search "></i>搜索
									</button>      
								</div> 
							</div>
						</div>
						<form class="form-horizontal col-sm-12" role="form" onsubmit="return false">
						       <div class="form-group" style="text-align: center;">
						       		<button class="btn btn-sm btn-danger T-canceleditTransfer "> <i class="ace-icon fa fa-times"></i>取消 </button>
						       		<button class="btn btn-sm btn-primary T-editLineProInfo "> <i class="ace-icon fa fa-check"></i> 保存 </button>
						       </div>
						</form>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>









