<table class="table table-striped table-bordered table-hover">
<thead>
	<tr class="bg-blur">
		<th>同行线路产品</th>
		<th>天数</th>
		<th>出游日期</th>
		<th>游客</th>
		<th>人数</th>
		<th>来源总社</th>
		<th>转客人</th>
		<th>联系电话</th>
		<th>应收</th>
		<th>已收</th>
		<th>现收</th>
		<th>我方状态</th>
		<th>操作</th>
	</tr>
</thead>
 <tbody>
 	{{each pager.resultList as result}}
		<tr data-entity-id="{{result.id}}">
			<td>{{if result.lineProduct != null}}{{result.lineProduct.name}}{{/if}}</td>
			<td>{{if result.lineProduct != null}}{{result.lineProduct.days}}{{/if}}</td>
			<td>{{result.startTime | dateFormat:'yyyy-MM-dd'}}</td>
			<td>{{if result.touristGroup!=null}}{{if result.touristGroup.contactMember!=null}}{{result.touristGroup.contactMember.name}}{{/if}}{{/if}}</td>

			<td>{{if result.touristGroup!=null}}{{result.touristGroup.adultCount}}{{/if}}大{{if result.touristGroup!=null}}{{result.touristGroup.childCount}}{{/if}}小</td>

			<td>
<!-- 				{{if result.partnerAgency!=null}} -->
<!-- 				   {{result.partnerAgency.travelAgencyName}} -->
<!-- 				{{else}}     -->
<!-- 					无 -->
<!-- 			    {{/if}} -->
				{{if result.fromName!=null}}
					{{result.fromName}}
				{{/if}}
			</td>

			<td>
			   {{if result.user!=null}}
					{{if result.user.realName!=null}}
				        {{result.user.realName}}
				 	{{/if}}
				{{/if}}
			</td>
  

			<td>
			   {{result.fromNumber}}
			</td>

			<td>{{if result.touristGroup != null}}{{result.touristGroup.transNeedPayAllMoney}}{{/if}}</td>
			<td>{{if result.touristGroup != null}}{{result.touristGroup.transPayedMoney}}{{/if}}</td>
			<td>{{result.touristGroup.currentNeedPayMoney}}</td>  
			<td class="result-status">{{if result.transName==null}}未使用{{else}}{{if result.status == 0}}<span style="color:#D2691E;" data-status="0">未确认</span>{{else if result.status == 1}}<span style="color: green;" data-status="1">已接收</span>{{else}}<span style="color: red;" data-status="2">已拒收</span>{{/if}}{{/if}}</td>
			  <td>
				<div class="hidden-sm hidden-xs btn-group">
					<a data-entity-id="{{result.id}}" class="cursor btn-transferIn-view">
						查看
					</a>
					<a data-entity-id="{{result.id}}" class="cursor {{if result.status!=1 && result.status!=2}}btn-transferIn-edit{{/if}}  R-right"  style="{{if result.status==1 || result.status!=2}} color:#bbb; {{/if}}" data-right="1180007">
						<label class="padding-right20">|</label>
						确认
					</a>
					<a data-entity-id="{{result.id}}" class="cursor {{if result.status!=1 && result.status!=2}}btn-transferIn-delete{{/if}} R-right" style="{{if result.status==1 || result.status==2}} color:#bbb; {{/if}}"  data-right="1180008">
						<label class="padding-right20">|</label>
						拒绝
					</a>

				</div>

				<div class="hidden-md hidden-lg">
					<div class="inline pos-rel">
						<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
							<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
						</button>

						<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

							<li>
								<a data-entity-id="{{result.id}}" href="javascript:void(0)" class="tooltip-error btn-transferIn-view" data-rel="tooltip">
									<span class="red">
										<i class="ace-icon fa fa-search-plus bigger-120"></i>
									</span>
								</a>
							</li>

							<li>
								<a data-entity-id="{{result.id}}" href="javascript:void(0)" class="tooltip-success btn-transferIn-edit" data-rel="tooltip">
									<span class="green">
										<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
									</span>
								</a>
							</li>


<!-- 						   <li> -->
<!-- 								<a data-entity-id="{{result.id}}" href="javascript:void(0)" class="tooltip-error btn-transferIn-accept" data-rel="tooltip"> -->
<!-- 									<span class="red"> -->
<!-- 										<i class="ace-icon fa fa-check bigger-120"></i> -->
<!-- 									</span> -->
<!-- 								</a> -->
<!-- 							</li> -->


					        <li>
								<a data-entity-id="{{result.id}}" href="javascript:void(0)" class="tooltip-error btn-transferIn-delete" data-rel="tooltip">
									<span class="red">
										<i class="ace-icon fa fa-trash-o bigger-120"></i>
									</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</td>
		</tr>
	   {{/each}}
	</tbody>
</table>
<div class="row pageMode">
	<div class="col-xs-6">
		<small>共计 {{pager.totalCount}}条记录</small>
	</div>
	<div class="col-xs-6">
		<div class="dataTables_paginate paging_simple_numbers T-pagenation">
		</div>
	</div>
</div>