<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false;">
    <div class=" ui-sortable-handle">
        <h5 class="">
					 <label class="middle title-size">我社转出主体信息</label>
                     <button class="btn btn-sm btn-success export-Btn T-statementsBtn pull-right" style="margin-top: -4px;">结算单</button>
				</h5>
        <table class="whereQ whereTwo" style="width: 100%;margin-bottom: 28px">
            <tr>
                <td class="style-myself">同行地接：</td>
                <td style="text-align: left;padding: 0px 0px 0px 10px" colspan="4">{{partnerAgency.travelAgencyName}}</td>
            </tr>
            <tr>
                <td class="style-myself">应付：</td>
                <td style="text-align: left;padding: 0px 0px 0px 10px"><span class="F-float F-money">{{touristGroup.transNeedPayAllMoney}}</span></td>
                <td colspan="3"> 
                    {{if touristGroup.operateCurrentNeedPayMoney==1}}
                    <label>
                        <input type="checkbox" class="ace buyInsurance-status" checked="checked" value="{{touristGroup.operateCurrentNeedPayMoney}}" name="operateCurrentNeedPayMoney" disabled="disabled">
                        <span class="lbl">
								</span>
                    </label>
                    {{else}}
                    <label style="padding-left:0px;">
                        <input type="checkbox" class="ace buyInsurance-status" checked="" value="{{touristGroup.operateCurrentNeedPayMoney}}" name="operateCurrentNeedPayMoney" disabled="disabled">
                        <span class="lbl">
								</span>
                    </label>
                    {{/if}}
                    <label class="control-label no-padding-right">对方现收</label>
                </td>
            </tr>
            <tr>
                <td class="style-myself">转客备注：</td>
                <td style="text-align: left;padding: 0px 0px 0px 10px" colspan="4">{{touristGroup.transRemark}}</td>
            </tr>
        </table>
    </div>
</form>
</div>
<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
    <div class="form-group">
        <div class="col-xs-12 col-sm-12 widget-container-col">
            <div class=" ui-sortable-handle">
                <h5 class="">
							<label class="middle title-size">转客列表</label>
						</h5>
                <div class="widget-body TransferTable">
                    <div class="widget-main no-padding">
                        <table class="table table-striped table-bordered table-hover hotelRoomStandardList">
                            <thead>
                                <tr>
                                    <th class="th-border">费用项</th>
                                    <th class="th-border">数量</th>
                                    <th class="th-border">单价</th>
                                    <th class="th-border">金额</th>
                                    <th class="th-border">备注</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- 其他费用 -->
                                {{each touristGroup.touristGroupTransferFeeList as transferFee}} {{if transferFee!=null}}
                                <tr>
                                    <td>{{transferFee.name}}</td>
                                    <td><span class="F-float F-count">{{transferFee.count}}</span></td>
                                    <td><span class="F-float F-money">{{transferFee.price}}</span></td>
                                    <td><span class="F-float F-money">{{transferFee.count*transferFee.price}}</span></td>
                                    <td>{{transferFee.remark}}</td>
                                </tr>
                                {{/if}} {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<form class="form-horizontal hotelMainForm" role="form" style="margin-top:10px" onsubmit="return false">
    <div class=" ui-sortable-handle">
        <h5 class="">
					<label class="middle title-size">线路产品信息</label>
				</h5>
        <table class="whereQ whereTwo" style="width: 100%">
            <tr>
                <td class="style-myself CheckPlan">线路产品</td>
                <td style="text-align: left;padding: 0px 0px 0px 10px">{{if !!lineProduct}} {{lineProduct.name}}{{/if}}</td>
                <td class="style-myself CheckPlan">出游日期</td>
                <td style="text-align: left;padding: 0px 0px 0px 10px" colspan="3">{{touristGroup.startTime | dateFormat:'yyyy-MM-dd'}}</td>
            </tr>
            <tr>
                <td class="style-myself CheckPlan">客户</td>
                <td style="text-align: left;padding: 0px 0px 0px 10px">{{touristGroup.partnerAgency.travelAgencyName}}</td>
                <td class="style-myself CheckPlan">客户联系人</td>
                <td style="text-align: left;padding: 0px 0px 0px 10px">
                    {{if touristGroup.partnerAgencyContact != null}}{{touristGroup.partnerAgencyContact.contactRealname}}|{{touristGroup.partnerAgencyContact.contactMobileNumber}}{{/if}}
                </td>
                <td class="style-myself CheckPlan">获得方式</td>
                <td style="text-align: left;padding: 0px 0px 0px 10px">
                    {{if touristGroup.getType==1 }}旅行社系统 {{else if touristGroup.getType==2}}传真 {{else if touristGroup.getType==3}}短信 {{else if touristGroup.getType==4}}电话 {{else if touristGroup.getType==5}}QQ {{else}}旅行社系统{{/if}}
                </td>
            </tr>
            <tr>
                <td class="style-myself CheckPlan">收客备注</td>
                <td colspan="5">{{touristGroup.remark}}</td>
            </tr>
        </table>
    </div>
</form>
<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
    <div class=" ui-sortable-handle">
        <h5>
			<label class="middle title-size">收客信息</label>
		</h5>

		{{if isParent==1}}
        <table class="whereQ whereTwo" style="width: 100%">
            <tr>
                <td class="style-myself CheckPlan">本段团款：</td>
                <td style="text-align: left;padding: 0px 0px 0px 10px"><span class="F-float F-money">{{parentTouristGroup.subsectionNeedPayAllMoney}}</span></td>
                <td class="style-myself CheckPlan">对方现收：</td>
                <td style="text-align: left;padding: 0px 0px 0px 10px">
                    {{if cashFlag==1}}
                    <span class="F-float F-money">{{parentTouristGroup.currentNeedPayMoney}}</span> {{else}}0 {{/if}}
                </td>
            </tr>
        </table>
        {{else}}
        <table class="whereQ whereTwo" style="width: 100%">
            <tr>
                <td class="style-myself CheckPlan">本段团款：</td>
                <td style="text-align: left;padding: 0px 0px 0px 10px"><span class="F-float F-money">{{touristGroup.needPayAllMoney}}</span></td>
                <td class="style-myself CheckPlan">对方现收：</td>
                <td style="text-align: left;padding: 0px 0px 0px 10px">
                    {{if cashFlag==1}}
                    <span class="F-float F-money">{{touristGroup.currentNeedPayMoney}}</span> {{else}}0 {{/if}}
                </td>
            </tr>
        </table>
        {{/if}}
    </div>
</form>
<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
    <div class="form-group">
        <div class="col-xs-12 col-sm-12 widget-container-col">
            <div class=" ui-sortable-handle">
                <h5 class="">
							<label class="middle title-size">游客小组信息</label>
						</h5>
                <div class="widget-body TransferTable">
                    <div class="widget-main no-padding">
                        <table class="table table-striped table-bordered table-hover hotelRoomStandardList">
                            <thead>
                                <tr>
                                    <th class="th-border">序号</th>
                                    <th class="th-border">姓名</th>
                                    <th class="th-border">联系电话</th>
                                    <th class="th-border">证件类型</th>
                                    <th class="th-border">证件号</th>
                                    <th class="th-border">联系人</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{each touristGroup.touristGroupMemberList as result i}}
                                <tr>
                                    <td>{{i+1}}</td>
                                    <td>{{result.name}}</td>
                                    <td>{{result.mobileNumber}}</td>
                                    <td>
                                        {{if result.idCardType==0}}身份证 {{else if result.idCardType==1}}护照 {{else if result.idCardType==2}}其他 {{/if}}
                                    </td>
                                    <td>{{result.idCardNumber}}</td>
                                    <td>{{if result.isContactUser == 0}}否{{else}}是{{/if}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
