<div class="col-xs-12">
	<form class="form-horizontal" role="form" style="margin-top:10px">
		<div class="widget-box ui-sortable-handle">
			<div class="widget-header">
				<h5 class="widget-title">
					<i class="ace-icon fa fa-building"></i>
					 同行转入主体信息
				</h5>
			</div>
			<div class="widget-body">
				<div class="widget-main clearfix">
						<div class="form-group">
						  <label class="col-sm-1 control-label no-padding-right">同行地接：</label>
						  <div class="col-sm-2">
							 <input value="{{partnerAgency.travelAgencyName}}" type="text" readonly="readonly" class="date-picker col-xs-12"/>
						  </div>
						
						  
						  
						  <label class="col-sm-1 control-label no-padding-right">联系人:</label>
						  <div class="col-sm-2">
							 <input  value="{{if touristGroup.contactMember!=null }}{{touristGroup.contactMember.name}}{{/if}}" type="text" readonly="readonly"  class="col-xs-12"/>
						  </div>
						  
						  <label class="col-sm-1 control-label no-padding-right">联系电话:</label>
						  <div class="col-sm-2">
							 <input  value="{{if touristGroup.contactMember!=null }}{{touristGroup.contactMember.mobileNumber}}{{/if}}" type="text" readonly="readonly"  class="col-xs-12"/>
						  </div>
						</div>  
						  
						  
					    <div class="form-group">
							 <div class="search-area">
								  <label class="col-sm-1 control-label no-padding-right">线路产品: </label>
								  <div class="col-sm-2">
									 <input value="{{if lineProduct.name!=null}} {{lineProduct.name}}{{/if}}" type="text" readonly="readonly" class="date-picker col-xs-12"/>
								  </div>
								  
								  <label class="col-sm-1 control-label no-padding-right">出游日期:</label>
								  <div class="col-sm-2">
									 <input  value="{{touristGroup.startTime  | dateFormat:'yyyy-MM-dd'}}" type="text" readonly="readonly"  class="date-picker col-xs-12"/>
								  </div>
							 </div>
						</div> 
						
						
						
						
						<div class="form-group">
							<div class="col-xs-12 col-sm-12 widget-container-col">
								<div class="widget-box ui-sortable-handle">
									<div class="widget-header">
										<h5 class="widget-title">
											<i class="ace-icon fa fa-building"></i>
											游客小组信息
										</h5>
									</div>
				
									<div class="widget-body">
										<div class="widget-main no-padding">
											<table class="table table-striped table-bordered table-hover hotelRoomStandardList"> 
												<thead>
													<tr>
														<th>序号</th>
														<th>姓名</th>
														<th>联系电话</th>
														<th>证件类型</th>
														<th>证件号</th>
														<th>联系人</th>
													</tr>
												</thead>
												<tbody> 
												  {{each touristGroup.touristGroupMemberList as result i}}      
														<tr>
															<td>{{i+1}}</td>
															<td>{{result.name}}</td>
															<td>{{result.mobileNumber}}</td>
															<td>身份证</td>	
															<td>{{result.idCardNumber}}</td>
															<td>{{if result.isContactUser == 0}}否{{else}}是{{/if}}</td>	
														</tr>
												   {{/each}}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</form>
</div>



    



















