<div class="col-xs-12">
	<form class="form-horizontal" role="form" style="margin-top:10px">
		<div class=" ui-sortable-handle">
				<h5 class="">
					 <label class="middle title-size">我社转出主体信息</label>
				</h5>
			<table class="whereQ whereTwo" style="width: 100%;margin-bottom: 28px">
				<tr>
					<td class="style-myself">同行地接：</td>
					<td style="text-align: left;padding: 0px 0px 0px 10px">{{partnerAgency.travelAgencyName}}</td>
					<td class="style-myself">转客备注：</td>
					<td style="text-align: left;padding: 0px 0px 0px 10px">{{if touristGroup.contactMember!=null }}{{touristGroup.contactMember.name}}{{/if}}</td>
					</tr>
				<tr>
					<td class="style-myself">应付：</td>
					<td style="text-align: left;padding: 0px 0px 0px 10px">{{touristGroup.transNeedPayAllMoney}}</td>
					<td class="style-myself">已付：</td>
					<td style="text-align: left;padding: 0px 0px 0px 10px" readonly="readonly"  class="date-picker" colspan="3">{{touristGroup.transPayedMoney}}

						{{if touristGroup.operateCurrentNeedPayMoney==1}}
						<label>
							<input  type="checkbox" class="ace buyInsurance-status" checked="checked" value="{{touristGroup.operateCurrentNeedPayMoney}}" name="operateCurrentNeedPayMoney" disabled="disabled">
								<span class="lbl">
								</span>
						</label>
						{{else}}

						<label style="padding-left:0px;">
							<input  type="checkbox" class="ace buyInsurance-status" checked="" value="{{touristGroup.operateCurrentNeedPayMoney}}" name="operateCurrentNeedPayMoney" disabled="disabled">
								<span class="lbl">
								</span>
						</label>
						{{/if}}
						<label class="control-label no-padding-right">对方现收</label>

					</td>
				</tr>
			</table>
		</div>
	</form>
</div>

<div  class="col-xs-12">	
	<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
		<div class="form-group">
			<div class="col-xs-12 col-sm-12 widget-container-col">
				<div class=" ui-sortable-handle">
						<h5 class="">
							<label class="middle title-size">转客列表</label>
						</h5>
					<div class="widget-body TransferTable">
						<div class="widget-main no-padding">
							<table class="table table-striped table-bordered table-hover hotelRoomStandardList"> 
								<thead>
							      	<tr>
										<th class="th-border">类型</th>
										<th class="th-border">说明</th>
										<th class="th-border">数量</th>
										<th class="th-border">转客单价</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>转客价</td>
										<td>大人</td>
										<td>{{touristGroup.adultCount}}</td>
										<td>{{touristGroup.transAdultPrice}}</td>
								
									</tr>
									
									<tr>
										<td>转客价</td>
										<td>小孩</td>
										<td>{{touristGroup.childCount}}</td>
										<td>{{touristGroup.transChildPrice}}</td>	
									</tr>  
									
								  <!-- 其他费用 -->
								  {{each touristGroup.touristGroupTransferFeeSet as transferFee}}
								    {{if transferFee!=null}}
								      <tr>   
								            <td>其他费用</td>  
								            <td>{{transferFee.discribe}}</td>
								            <td>{{transferFee.count}}</td>  
								            <td>{{transferFee.otherPrice}}</td>
								      </tr>
								      {{/if}}  
								  {{/each}} 										  
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="col-xs-12">
	<form class="form-horizontal hotelMainForm" role="form" style="margin-top:10px" onsubmit="return false">
		<div class=" ui-sortable-handle">
				<h5 class="">
					<label class="middle title-size">线路产品信息</label>
				</h5>
			<div class="widget-body">
				<div class="widget-main clearfix">
					<div class="form-group col-sm-12">
						 <div class="search-area">  
							  <label class="col-sm-1 control-label no-padding-right">线路产品: </label>
							  <div class="col-sm-2">
								 <input value="{{if lineProduct.name!=null}} {{lineProduct.name}}{{/if}}" type="text" readonly="readonly" class="date-picker col-xs-12"/>
							  </div>
							  
							  <label class="col-sm-1 control-label no-padding-right">出游日期:</label>
							  <div class="col-sm-2">
								 <input  value="{{touristGroup.startTime | dateFormat:'yyyy-MM-dd'}}" name="tourGroupTime" type="text" readonly="readonly"  class="date-picker col-xs-12"/>
							  </div>
						 </div>  
					</div>  


					<div class="form-group col-sm-12">
						 <div class="search-area">
							  <label class="col-sm-1 control-label no-padding-right">客户来源: </label>
							  <div class="col-sm-2">
								 <input value="{{touristGroup.partnerAgency.travelAgencyName}}" type="text" readonly="readonly" class="col-xs-12"/>
							  </div>
							       
							  <label class="col-sm-1 control-label no-padding-right">同行联系人:</label>
							  
							  <div class="col-sm-2">
								 <input value="{{if touristGroup.partnerAgencyContact != null}}{{touristGroup.partnerAgencyContact.contactRealname}}|{{touristGroup.partnerAgencyContact.contactMobileNumber}}{{/if}}" readonly="readonly" type="text" class="col-xs-12"/>
							  </div>
					
							  <label class="col-sm-1 control-label no-padding-right">获得方式:</label>
							  <div class="col-sm-2">
								 <select name="getType" class="col-sm-12" disabled="disabled">
									<option{{if touristGroup.getType == 1}} selected="selected"{{/if}} value="1">旅行社系统</option>
									<option{{if touristGroup.getType == 2}} selected="selected"{{/if}} value="2">传真</option>
									<option{{if touristGroup.getType == 3}} selected="selected"{{/if}} value="3">短信</option>
									<option{{if touristGroup.getType == 4}} selected="selected"{{/if}} value="4">电话</option>
									<option{{if touristGroup.getType == 5}} selected="selected"{{/if}} value="5">QQ</option>
								</select>
							  </div>
						 </div>
					</div>
					
				</div>
			</div>
		</div>
	</form>
</div>
 <div  class="col-xs-12"> 
   	<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
		<div class="form-group">
			<div class="col-xs-12 col-sm-12 widget-container-col" style="margin-top:-15px">
				<div class=" ui-sortable-handle">
					<h5 class="">
						<label class="middle title-size">收客信息</label>
					</h5>
					<div class="search-area col-sm-12">
						{{if isParent==1}}
						    <label class="col-sm-1 control-label no-padding-right" style="width:84px;">应收：</label>
							<div class="col-sm-1">
								<input name="needPayAllMoney" value="{{parentTouristGroup.needPayAllMoney}}" readonly="readonly" type="text" class="col-xs-12"/>
							</div>

							<label class="col-sm-1 control-label no-padding-right">已收：</label>
							<div class="col-sm-1">
								<input name="payedMoney" value="{{parentTouristGroup.payedMoney}}" readonly="readonly" type="text" class="col-xs-12"/>
			  				</div>

							<label class="col-sm-1 control-label no-padding-right">现收：</label>
							<div class="col-sm-1">
								<input name="currentNeedPayMoney" value="{{parentTouristGroup.currentNeedPayMoney}}" readonly="readonly" type="text" class="col-xs-12"/>
			  				</div>
						    {{else}}
							<label class="col-sm-1 control-label no-padding-right" style="width:84px;">应收：</label>
							<div class="col-sm-1">
								<input name="needPayAllMoney" value="{{touristGroup.needPayAllMoney}}" readonly="readonly" type="text" class="col-xs-12"/>
							</div>

							<label class="col-sm-1 control-label no-padding-right">已收：</label>
							<div class="col-sm-1">
								<input name="payedMoney" value="{{touristGroup.payedMoney}}" readonly="readonly" type="text" class="col-xs-12"/>
							</div>

							<label class="col-sm-1 control-label no-padding-right">现收：</label>
							<div class="col-sm-1">
								<input name="currentNeedPayMoney" value="{{touristGroup.currentNeedPayMoney}}" readonly="readonly" type="text" class="col-xs-12"/>
							</div>
						{{/if}}
					</div>
					<div class="search-area col-sm-12">
						<label class="pull-left control-label no-padding-right">收客时的备注：</label>
						<div class="col-sm-5">
							<input name="remark" value="{{touristGroup.remark}}" type="text" class="col-xs-12" readonly="readonly" />
						</div>
					</div>
					<div class="widget-body TransferTable">
						<div class="widget-main no-padding">
							<table class="table table-striped table-bordered table-hover hotelRoomStandardList"> 
								<thead>
										<tr>
											<th class="th-border">类型</th>
											<th class="th-border">说明</th>
											<th class="th-border">数量</th>
											<th class="th-border">收客单价</th>
										</tr>
									</thead>
								  <tbody>      
										<tr>
											<td>结算价</td>
											<td>大人</td>
											<td>{{touristGroup.adultCount}}</td>
											<td>{{touristGroup.adultPrice}}</td>	
										</tr>
										
										<tr>   
											<td>结算价</td>
											<td>小孩</td>
											<td>{{touristGroup.childCount}}</td>
											<td>{{touristGroup.childPrice}}</td>	
										</tr>
										
								      {{each touristGroup.touristGroupFeeList as transferFeeList}}
										<tr>
											<td>{{if transferFeeList.type==0}}增加{{else}}减少{{/if}}</td>
											<td>{{transferFeeList.describeInfo}}</td>
											<td>{{transferFeeList.count}}</td>
											<td>{{transferFeeList.price}}</td>	  
										</tr>
									   {{/each}}  
										
									</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>   

<div  class="col-xs-12">
<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
		<div class="form-group">
			<div class="col-xs-12 col-sm-12 widget-container-col">
				<div class=" ui-sortable-handle">
						<h5 class="">
							<label class="middle title-size">游客小组信息</label>
						</h5>
					<div class="widget-body TransferTable">
						<div class="widget-main no-padding">
							<table class="table table-striped table-bordered table-hover hotelRoomStandardList"> 
									<thead>
										<tr>
											<th class="th-border">序号</th>
											<th class="th-border">姓名</th>
											<th class="th-border">联系电话</th>
											<th class="th-border">证件类型</th>
											<th class="th-border">证件号</th>
											<th class="th-border">联系人</th>
										</tr>
									</thead>
								  <tbody> 
								  {{each touristGroup.touristGroupMemberList as result i}}      
										<tr>
											<td>{{i+1}}</td>
											<td>{{result.name}}</td>
											<td>{{result.mobileNumber}}</td>
											<td>身份证</td>	
											<td>{{result.idCardNumber}}</td>
											<td>{{if result.isContactUser == 0}}否{{else}}是{{/if}}</td>	
										</tr>
								   {{/each}}
									</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
 
 
 















