<div class="touristGroupViewAccount" id="T-touristGroupViewAccount">
    <div class="form-inline" style="text-align:center;margin: 15px 0px 25px 0px;">
        <div class="form-group">
            <h4 style="margin: auto;">
            <img src="{{imgUrl}}{{transfer.companyLogo}}" class="imgViewAccount" alt=" " style="width: 35px;height: 35px"><span class="mar-l-5">{{transfer.travelName}}</span>
        </h4>
        </div>
        <div class="form-group pull-right mar-r-20 globalAdd">
            <button class="btn btn-sm btn-success T-printAccountBtn T-noprint" style="height: 24px;">
                <i class="ace-icon fa fa-print"></i>打印
            </button>
        </div>
    </div>
    
    <form action="">
        <div class="viewAccountsMain">
            <p>
                <span>致</span> 
                <span style="margin-left: 4px;">{{partnerAgency.travelAgencyName}}</span> 
                <span class="mar-l-5">您好！</span>
            </p>
            <p>
                <span>我社：</span> 
                <span>(收客单号)</span>
                <span>{{transfer.orderNumber}}</span> 
                <span class="mar-l-8">(线路产品)</span> <span>{{lineProduct.name}},</span> 
                <span>现将该团费用结算列表如下,请审阅并盖章、签字回执我社！</span>
            </p>
            <table class="table whereQ whereTwo" style="width: 100%;">
                <tr>
                    <td class="textaR-paR">人数</td>
                    <td class="textaR-paL">{{transfer.count}}</td>
                    <td class="textaR-paR">联系人</td>
                    <td class="textaR-paL"><span>{{transfer.contactName}}</span><span class="mar-l-5">{{transfer.contactPhone}}</span></td>
                </tr>
                <tr>
                    <td class="textaR-paR">接站牌</td>
                    <td class="textaR-paL">{{transfer.welcomeBoard}}</td>
                    <td class="textaR-paR">送客地点</td>
                    <td class="textaR-paL"><span>{{transfer.sendPosition}}</span></td>
                </tr>
                <tr>
                    <td class="textaR-paR">备注</td>
                    <td class="textaR-paL" colspan="3">{{transfer.remark}}</td>
                </tr>
                <tr>
                    <td class="textaR-paR">出团日期</td>
                    <td class="textaR-paL">{{transfer.startTime | dateFormat: 'yyyy-MM-dd'}}</td>
                    <td class="textaR-paR">完团日期</td>
                    <td class="textaR-paL">{{transfer.endTime | dateFormat: 'yyyy-MM-dd'}}</td>
                </tr>
                <tr>
                     <td class="textaR-paR">全陪</td>
                    <td class="textaR-paL"><span>{{transfer.accompanyGuideName}}</span><span class="mar-l-5">{{transfer.accompanyGuideMobile}}</span></td>
                    <td class="textaR-paR">针对客源</td>
                    <td class="textaR-paL">{{if transfer.customerType == 0}}散客{{/if}}{{if transfer.customerType == 1}}团体{{/if}}</td>
                </tr>
            </table>

                <table class="table table-bordered"> 
                    <thead>
                        <tr class="view-TranAccountsPrint" style="border: 1px solid #E2E2E2">
                            <th class="th-border" width="160">费用项</th>
                            <th class="th-border">数量</th>
                            <th class="th-border">单价</th>
                            <th class="th-border">金额</th>
                            <th class="th-border">说明</th>
                        </tr>
                    </thead>
                    <tbody class="addCostTbody">
                        {{each transfer.feeList as transfer}}
                            <tr data-entity-id="">
                                <td>
                                    {{transfer.name}}
                                </td>
                                <td>
                                    <span class="F-float F-count">{{transfer.count}}</span>
                                </td>
                                <td>
                                    <span class="F-float F-money">{{transfer.price}}</span>
                                </td>

                                <td>
                                    <span class="F-float F-money">{{transfer.price*transfer.count}}</span>
                                </td>
                                <td class="textaR-paL">
                                    {{transfer.remark}}
                                </td>

                            </tr>
                        {{/each}}      
                    </tbody>
            </table>
            <table class="table whereQ" style="width: 100%;margin-top: -20px;">
                <tr>
                    <td style="text-align: right;padding-right:60px;width: 160px">应付</td>
                    <td class="textaR-paL">
                        <span class="F-float F-money">{{transfer.needPayAllMoney}}</span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;padding-right:60px;width: 160px">已付</td>
                    <td class="textaR-paL">
                        <span class="F-float F-money">{{transfer.payedMoney}}</span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;padding-right:60px;width: 160px">现收</td>
                    <td class="textaR-paL">
                        <span class="F-float F-money">{{transfer.currentNeedPayMoney}}</span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;padding-right:60px;width: 160px">未付</td>
                    <td class="textaR-paL">
                        <span class="F-float F-money">{{transfer.UnIncomeMoney}}</span>
                    </td>
                </tr>
                <tr>

                    <td colspan="2" class="text-a-l"><span style="margin-left: 10px;">请仔细阅读并盖章确认之后回传！谢谢！</span></td>
                </tr>
            </table>
            <p style="text-align: right;margin-top: 10px;"><spanclass="{{if !!transfer.outOPUserName || transfer.outOPUserMobileNumberr}}{{else}}hidden{{/if}}"></span><span>外转操作人：</span> <span>{{transfer.outOPUserName}}</span> <span>{{transfer.outOPUserMobileNumberr}}</span></p>
            <p style="text-align: right;margin-top: -8px;" class="{{if !!transfer.faxNumber}}{{else}}hidden{{/if}}">传真：{{transfer.faxNumber}}</p>
            <p style="text-align: right;margin-top: -8px;"><span>{{transfer.nowTime | dateFormat: 'yyyy-MM-dd hh:mm:ss'}}</span></p>
        </div>
    </form>
    <div class="form-inline col-xs-12 hidden" style="text-align: center;margin-top: 30px;"> 
        <button class="btn btn-sm btn-primary T-btn-cancel T-noprint" style="height:24px;width: 75px;font-size: 12px;line-height: 10px;"> <i class="ace-icon fa fa-times"></i> 关闭 </button>
    </div>
    
</div>