<div class="row financial_innerTransferInProfit" >
    <div class="col-sm-12">
        <div class="form-group">
            <div class="search-area border T-search-area" style="margin:0px;border-style:solid solid none solid">
                <div class="col-xs-1">
                    <input type="text" value="{{searchParam.lineProductName}}" name="lineProductName" class="col-xs-12 clearBlur" placeholder="线路产品" />
                    <input type="hidden" value="{{searchParam.lineProductId}}" name="lineProductId" />
                </div>
                <div class="col-xs-1">
                    <input type="text" value="{{searchParam.partnerAgencyName}}"  name="partnerAgencyName" class="col-xs-12" placeholder="组团社" />
                    <input type="hidden" value="{{searchParam.partnerAgencyId}}" name="partnerAgencyId" />
                </div>
                <div class="col-xs-1">
                    <input type="text" value="{{searchParam.toBusinessGroupName}}" name="toBusinessGroupName" class="col-xs-12" placeholder="部门" />
                    <input type="hidden" value="{{searchParam.toBusinessGroupId}}" name="toBusinessGroupId" />
                </div>
                <div class="col-xs-3">
                    <div class="col-xs-6">
                        <div class="input-group">
                            <input class="col-xs-12 date-picker" name="startTime" placeholder="开始日期" value="{{searchParam.startTime}}" type="text" />
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                        </div>
                    </div>  
                    <div class="col-xs-6">    
                        <div class="input-group">
                            <input class="col-xs-12 date-picker" name="endTime" placeholder="结束日期" value="{{searchParam.endTime}}" type="text" />
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>   
                        </span>  
                        </div>

                    </div>
                </div>
                <div class="col-xs-2">
                    <button class="btn-sm  btn-height search-btn T-search" style="border-top-width: 4px;border-bottom-width: 4px;">
                        <i class="ace-icon fa fa-search"></i>
                         搜索
                    </button>
                </div>
                <div style="clear:both;height:0px;line-height:0px;"></div>
                </div>
                <div class="form-group border" style="margin:0px;border-style:dashed solid solid solid" >
                    <label class="control-label" style="margin-left:12px;">总人数：{{sumPersonCount}}</label>
                    <label class="control-label" style="margin-left:12px;">总应收：{{sumNeedIncomeMoney}}</label>
                    <label class="control-label" style="margin-left:12px;">总应付：{{sumNeedPayMoney}}</label>
                    <label class="control-label" style="margin-left:12px;">毛利：{{sumGrossProfit}}</label>
                    <label class="control-label" style="margin-left:12px;">人均毛利：{{sumAveragerGrossProfit}}</label>
                </div>
            </div>
            <div class="row ticketList" style="margin-top:10px;">
                <div class="col-xs-12">
                    <table class="table table-striped table-bordered table-hover T-NotShowHighLight">
                        <thead>
                        <tr class="bg-blur">
                             <td class="col-sm-1"> 线路产品</td>
                             <td> 出游日期</td>
                             <td> 游客</td>  
                             <td> 人数</td>
                             <td> 组团社</td>   
                             <td> 款项应收</td>
                             <td> 中转</td>
                             <td> 中转应付</td>
                             <td> 部门</td>
                             <td> 内转应付</td>  
                             <td> 毛利</td>
                             <td> 人均毛利</td>
                        </tr>
                        </thead>
                        <tbody class="T-list">
                        {{each touristGroupInnerTransferList as innerTransferList index}}
                        <tr data-id = "{{innerTransferList.touristGroupId}}">  
                            <td>{{innerTransferList.lineProductName}}</td>
                            <!--给日期转码-->
                            <td>{{innerTransferList.startTime | dateFormat: 'yyyy-MM-dd'}}</td>
                            <td>{{if innerTransferList.contact == null || innerTransferList.contact ==""}}无{{else}}{{innerTransferList.contact}}{{/if}}</td>
                            <td><a href="javascript:void(0)" class="T-option T-showTourist">
                            {{innerTransferList.adultCount}}大{{innerTransferList.childCount}}小</a></td>
                            <td>{{if innerTransferList.partnerAgencyName == null || innerTransferList.partnerAgencyName == ""}}无{{else}}{{innerTransferList.partnerAgencyName}}{{/if}}</td>
                            <td><a href="javascript:void(0)" class="T-option T-showIncomeDetail">{{innerTransferList.needInComeMoney}}</a></td>
                            <td>{{if innerTransferList.change == null || innerTransferList.change == ""}}无{{else}}{{innerTransferList.change}}{{/if}}</td> 
                            <td><a href="javascript:void(0)" class="T-option T-showChangePay">{{innerTransferList.changeNeedPayMoney}}</a></td>
                            <td>{{if innerTransferList.toBusinessGroupName == null || innerTransferList.toBusinessGroupName == ""}}无{{else}}{{innerTransferList.toBusinessGroupName}}{{/if}}</td> 
                            <td>
                                <a href="javascript:void(0)" class="T-option T-showTransPay" data-inner-id = "{{innerTransferList.InnerTransferId}}">{{innerTransferList.transNeedPayAllMoney}}</a>
                            </td>
                            <td>
                                <span style="color: red">{{innerTransferList.grossProfit}}</span>
                            </td>
                            <td>
                              <span style="color: red"> {{innerTransferList.averageGrossProfit}}</span>
                            </td>
                        </tr>   
                        {{/each}}
                        </tbody>  
                    </table>
                    <div class="row pageMode">
                        <div class="col-xs-6">
                            <small>共计 {{recordSize}} 条记录</small>
                        </div>
                        <div class="col-xs-6">
                            <div class="dataTables_paginate paging_simple_numbers T-pagenation">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>