<div  class="col-xs-12">
<form class="form-horizontal touristGroupMainForm" role="form" style="margin-top:10px" onsubmit="return false">
		<div class="widget-box ui-sortable-handle">
			<div class="widget-header">
				<h5 class="widget-title">
					<i class="ace-icon fa fa-info-circle"></i>
					小组信息
				</h5>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right">线路产品:</label>
						<div class="col-sm-2">
							<label class="control-label">{{if touristGroupDetail.lineProduct != null}}{{touristGroupDetail.lineProduct.name}}{{/if}}</label>
						</div>
						<label class="col-sm-1 control-label no-padding-right">出游日期:</label>
						<div class="col-sm-2">
							<label class="control-label">{{touristGroupDetail.startTime | dateFormat: 'yyyy-MM-dd'}}</label>
						</div>
						<label class="col-sm-1 control-label no-padding-right">是否购买保险:</label>
						<div class="col-sm-2 buyInsurance">
							<label class="control-label">
								{{if touristGroupDetail.buyInsurance == 0}}
									否
								{{else touristGroupDetail.buyInsurance == 1}}
									是
								{{/if}}
							</label>
						</div>
					</div>

					<div class="form-group choosePartnerAgencyDiv">
						<label class="col-sm-2 control-label no-padding-right">客户来源:</label>
						<div class="col-sm-2">
							<label class="control-label">{{if touristGroupDetail.partnerAgency != null}}{{touristGroupDetail.partnerAgency.travelAgencyName}}{{/if}}</label>
						</div> 
						<label class="col-sm-1 control-label no-padding-right">同行联系人:</label>
						<div class="col-sm-2">
							<label class="control-label">{{if touristGroupDetail.partnerAgencyContact != null}}{{touristGroupDetail.partnerAgencyContact.contactRealname}} -[{{touristGroupDetail.partnerAgencyContact.contactMobileNumber}}]{{/if}}</label>
						</div>
						<label class="col-sm-1 control-label no-padding-right">获得方式:</label>
						<div class="col-sm-2">
							<label class="control-label">
								{{if touristGroupDetail.getType == 1}}
									旅行社系统
								{{else if touristGroupDetail.getType == 2}}
									传真
								{{else if touristGroupDetail.getType == 3}}
									短信
								{{else if touristGroupDetail.getType == 4}}
									电话
								{{else if touristGroupDetail.getType == 5}}
									QQ
								{{/if}}
							</label>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right">应收:</label>
						<div class="col-sm-2">
							<label class="control-label">{{touristGroupDetail.needPayAllMoney}}</label>
						</div>
						<label class="col-sm-1 control-label no-padding-right">已收:</label>
						<div class="col-sm-2">
							<label class="control-label">{{touristGroupDetail.payedMoney}}</label>
						</div>
						<label class="col-sm-1 control-label no-padding-right">现收:</label>
						<div class="col-sm-2">
							<label class="control-label">{{touristGroupDetail.currentNeedPayMoney}}</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right">未收:</label>
						<div class="col-sm-2">
							<label class="control-label">{{touristGroupDetail.unIncomeMoney}}</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2"></div>
					<div class="col-sm-8">
						<table class="table table-striped table-bordered table-hover addCostList"> 
							<thead>
								<tr>
									<th class="th-border">类型</th>
									<th class="th-border">说明</th>
									<th class="th-border">数量</th>
									<th class="th-border">单价</th>
								</tr>
							</thead>
							<tbody class="addCostTbody">
								<tr>
									<td>
										结算价
									</td>
									<td>
										大人
									</td>
									<td>
										<label class="control-label">{{touristGroupDetail.adultCount}}</label>
									</td>
									<td>
										<label class="control-label">{{touristGroupDetail.adultPrice}}</label>
									</td>
								</tr>
								<tr>
									<td>
										结算价
									</td>
									<td>
										小孩
									</td>
									<td>
										<label class="control-label">{{touristGroupDetail.childCount}}</label>
									</td>
									<td>
										<label class="control-label">{{touristGroupDetail.childPrice}}</label>
									</td>
								</tr>{{each touristGroupDetail.touristGroupFeeList as touristGroup}}
								<tr data-entity-id="{{touristGroup.id}}">
									<td>
										其他费用
										<!-- <select name="addOrReduceSelect" class="col-sm-12 addOrReduceSelect">
											<option selected="selected" value="0">增加费用</option>
											<option value="1">减少费用</option>
										</select> -->
									</td>
									<td>
										{{touristGroup.describeInfo}}
									</td>
									<td>
										{{touristGroup.count}}
									</td>
									<td>
										{{touristGroup.price}}
									</td>
								</tr>{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>