<div class="row Scenic scenicMain globalAdd">
   <div class="form-horizontal search-area">    
        <div class="form-group" >      
          <label class="control-label pull-left" style="margin-left: 15px">景区:</label>
            <div class="col-sm-2">
                <select  class="col-xs-12" name="scenicId" style="width: 220px">
                    <option value ="">全部</option>
                    {{each scenicNameListNew as scenic index}}
						<option value="{{scenic.id}}" {{if searchParam.scenicId == scenic.id}}selected="selected"{{/if}}>{{scenic.name}}</option>
					{{/each}}
                </select>        
             </div>    
           <label class="control-label pull-left" >账期:</label>
			<div class="col-sm-2" >
				<select class="col-sm-5" name="year" >
					{{each yearList as year index}}
						<option value="{{year.value}}" {{if searchParam.year == year.value}}selected="selected"{{/if}}>{{year.value}}</option>
					{{/each}}
				</select>
				<select class="col-sm-5" name="month" style = "margin-left:25px;">
				    <option value ="">全部</option>
					{{each monthList as month index}}
						<option value="{{month.value}}" {{if searchParam.month == month.value}}selected="selected"{{/if}}>{{month.value}}</option>
					{{/each}}
				</select>
				
			</div> 
            <button class=" btn-sm search-btn btn-scenic-search"> <i class="ace-icon fa fa-search"></i> 搜索 </button> </div>
    </div>
    <div class="row ticketList">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr class="bg-blur">
                    <th class="th-border" class="col-sm-1">景区</th>
                    <th class="th-border">总账面应付</th>
                    <th class="th-border">总实际应付</th>
                    <th class="th-border">总实际已付</th>
                    <th class="th-border">总账面未付</th>
                    <th class="th-border">总实际未付</th>
                    <th class="th-border">对账进度</th>
                    <th class="th-border">操作</th>
                </tr>
                </thead>

                <tbody>
                {{each financialScenicList as rs}}
                <tr data-entity-id="{{rs.scenicId}}">
                    <td>{{rs.scenicName}}</td>
                    <td>{{rs.sumNeedPayMoney}}</td>
                    <td>{{rs.sumRealNeedPayMoney}}</td>
                    <td>{{rs.sumRealPayedMoney}}</td>
                    <td>{{rs.sumUnPayedMoney}}</td>
                    <td><span style="color:#ff9900">{{rs.sumRealUnPayedMoney}}</span></td>
                    <td>
	                    {{if rs.allCount != rs.checkedCount}}
		                      <span style="color:#ff9900">{{rs.checkedCount}}{{"/"}}{{rs.allCount}}</span>
		                {{/if}}
	                    {{if rs.allCount == rs.checkedCount}}
	                      	<span style="color:green"> {{rs.checkedCount}}{{"/"}}{{rs.allCount}}</span>
	                    {{/if}}
                   </td>
                    <td>  
                    
                        <a data-entity-id="{{rs.scenicId}}" data-entity-scenicName="{{rs.scenicName}}" data-entity-year="{{searchParam.year}}" data-entity-month="{{searchParam.month}}" class="cursor btn-scenic-Check">

                            	对账
                        </a><a href="" class="cursor"> |</a>
                        <a data-entity-id="{{rs.scenicId}}" data-entity-scenicName="{{rs.scenicName}}" data-entity-year="{{searchParam.year}}"
                                {{if searchParam.month == ""}}
                                 	 data-entity-startMonth=1 data-entity-endMonth=12 
                                  {{else}}
                                 	 data-entity-startMonth="{{searchParam.month}}" data-entity-endMonth="{{searchParam.month}}" 
                                {{/if}}
                        		class="cursor btn-scenic-balance">
                           		 结算
                        </a>
                    </td>
                </tr>
                
                {{/each}}
                </tbody>
            </table>
            <div class="row pageMode">
                <div class="col-xs-6 ">
                    <div class="dataTables_info" id="dynamic-table_info" role="status" aria-live="polite">共计 {{recordSize}} 条记录</div>
                </div>
                <div class="col-xs-6">
                    <div class="dataTables_paginate paging_simple_numbers" id="dynamic-table_paginate">
                        <ul class="pagination">
                            <li class="paginate_button" aria-controls="dynamic-table" tabindex="0"><a class="first" href="javascript:void(0)">首页</a></li>
                            <li class="paginate_button" aria-controls="dynamic-table" tabindex="0"><a class="previous"href="javascript:void(0)">上一页</a></li>
                            <li class="paginate_button" aria-controls="dynamic-table" tabindex="0">
                                <a href="javascript:void(0)">
                                    {{if totalPage == 0}}
                                    0/0
                                    {{else}}
                                    {{pageNo+1}}/{{totalPage}}
                                    {{/if}}
                                </a>
                            </li>
                            <li class="paginate_button" aria-controls="dynamic-table" tabindex="0"><a class="next"  href="javascript:void(0)">下一页</a></li>
                            <li class="paginate_button" aria-controls="dynamic-table" tabindex="0"><a class="last" href="javascript:void(0)">尾页</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>