{{each list as rs}}
    <tr data-id='{{rs.id}}' data-accountStatus = '{{searchParam.accountStatus}}'  data-type="{{rs.type}}"> 
        <td>{{rs.orgName}}</td>
        <td class="F-float F-money">{{rs.needPayMoney}}</td>
        <td class="F-float F-money">{{rs.payedMoney}}</td>
        <td><span class="F-float F-money" {{if rs.needPayMoney != rs.payedMoney}} style="color: #f00;"{{/if}}>{{rs.unPayedMoney}}</span></td>
        <td>
            <a class="cursor T-action T-income-task R-right" data-right="1290002">收款</a>
        </td>
    </tr>
{{/each}}