 <div class="form-group mar-r-20">
        <label class="control-label">结算金额合计：</label>
        <label class="control-label F-float F-money T-sumNeedInMoney"></label>
    </div>
    <div class="form-group mar-r-20">
        <label class="control-label">已收金额合计：</label>
        <label class="control-label F-float F-money T-sumReceiveMoney"></label>
    </div>
    <div class="form-group">
        <label class="control-label">未收金额合计：</label>
        <label class="control-label F-float F-money T-sumUnReceivedMoney"></label>
    </div>