<div class="col-xs-12">
    <div class="page-header">
        
        
        <div class="pull-left mar-r-10">
            <img src="../../images/audit.png">
        </div>
        <div>
            <p class="hct-hotel-font-14" style="margin:0;">审核中</p>
            <p class="hct-hotel-font-12" style="margin:0;">
                1-2个工作日处理 并发布商家登录账号<span class="T-timeNum">10</span>秒后，自动关闭该页面。
            </p>
        </div>
        
    </div>
    <div class=""></div>
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal T-form" onsubmit="return false">
                <table class="whereQ" style="width: 97%">
                    <tr>
                        <td class="style-myself">酒店名称</td>
                        <td class="styleOne-self">{{hotelAudit.hotelName}}</td>
                    </tr>

                     <tr>
                        <td class="style-myself">所在地区</td>
                        <td class="styleOne-self">
                            {{if !!hotelAudit.province && !!hotelAudit.city && !!hotelAudit.district}}
                                {{hotelAudit.province.name}}--
                                {{hotelAudit.city.name}}--
                                {{hotelAudit.district.name}}
                            {{/if}}
                        </td>
                    </tr>

                    <tr>
                        <td class="style-myself">酒店地址</td>
                        <td class="styleOne-self">{{hotelAudit.street}}</td>
                    </tr>

                   

                    <tr>
                        <td class="style-myself">酒店星级</td>
                        <td class="styleOne-self">
                            {{if hotelAudit.level==1 }}
                                三星以下
                            {{else if hotelAudit.level==2 }}
                                三星
                            {{else if hotelAudit.level==3 }}
                                准四星
                            {{else if hotelAudit.level==4 }}
                                四星
                            {{else if hotelAudit.level==5 }}
                                准五星
                            {{else if hotelAudit.level==6 }}
                                五星
                            {{else if hotelAudit.level==7 }}
                                五星以上
                            {{/if}}
                        </td>
                    </tr>
                    <tr>
                        <td class="style-myself">责任联系人</td>
                        <td class="styleOne-self">{{hotelAudit.managerName}}&nbsp;&nbsp;{{hotelAudit.mobileNumber}}</td>
                    </tr>
                    <tr>
                        <td class="style-myself">营业执照</td>
                        <td class="styleOne-self">
                            {{if !!hotelAudit.businessLicensePic}}
                                <img class="middle btn-view hct-cursor" url="{{businessLicensePic}}" src="{{hotelAudit.businessLicensePic}}" style="max-height:120px;max-width:185px;" />
                            {{else}}
                                暂无图片
                            {{/if}}
                        </td>
                    </tr>

                    <tr>
                        <td class="style-myself">纳税人资格证</td>
                        <td class="styleOne-self">
                            {{if !!hotelAudit.taxesCardPic }}
                                <img class="middle btn-view hct-cursor" url="{{taxesCardPic}}" src="{{hotelAudit.taxesCardPic}}" style="max-height:120px;max-width:185px;" />
                            {{else}}
                                暂无图片
                            {{/if}}
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>