<div class="col-xs-12">
    <div class="page-header">

        <div class="pull-left mar-r-10">
            <img src="../../images/no.png">
        </div>
        <div>
            <p class="hct-hotel-font-14" >
                {{if hotelAudit.isAuth == 2}}
                    已通过认证审核
                {{else}}
                    认证审核失败
                {{/if}}
            </p>
            <p class="hct-hotel-font-12">
                {{if hotelAudit.isAuth == 2}}
                    注&nbsp;:&nbsp;认证成功后,&nbsp;可以用借款与商家进行在线支付
                {{else}}
                    原因&nbsp;:&nbsp;{{hotelAudit.refuseRemark}}
                {{/if}}
            </p>
        </div>

    </div>
    <input name="isAuth" value="{{hotelAudit.isAuth}}" type="hidden">
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal T-form" onsubmit="return false">
                <div class="form-group">
                    <label class="col-xs-2 control-label no-padding-right"><span class="necessary">*</span>酒店名称</label>
                    <div class="col-xs-10">
                        <input type="text" class="col-xs-10" name="hotelName" value="{{hotelAudit.hotelName}}" 
                               placeholder="商家名称务必和营业执照名称一致，否则审核不通过">
                        <input name="hotelId" value="{{hotelId}}" type="hidden">

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2 control-label no-padding-right"><span class="necessary">*</span>所在地区</label>
                    <div class="col-xs-10">
                        <select class="col-xs-3 mar-r-20" name="provinceId">
                            <option selected="selected" value="">未选择</option>
                        </select>
                        <select class="col-xs-3 mar-r-20" name="cityId">
                            <option selected="selected" value="">未选择</option>
                        </select>
                        <select class="col-xs-3 mar-r-20 mar-l-3" name="districtId">
                            <option selected="selected" value="">未选择</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2 control-label no-padding-right"><span class="necessary">*</span>酒店地址</label>
                    <div class="col-xs-10">
                        <input type="text" class="col-xs-10" name="street" value="{{hotelAudit.street}}" placeholder="商家地址务必和营业执照名称一致，否则审核不通过">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2 control-label no-padding-right">酒店星级</label>
                    <div class="col-xs-10">
                        <select class="col-xs-10" name="level">
                            <option value="1" {{if hotelAudit.level == 1}}selected="selected"{{/if}}>三星以下</option>
                            <option value="2" {{if hotelAudit.level == 2}}selected="selected"{{/if}}>三星</option>
                            <option value="3" {{if hotelAudit.level == 3}}selected="selected"{{/if}}>准四星</option>
                            <option value="4" {{if hotelAudit.level == 4}}selected="selected"{{/if}}>四星</option>
                            <option value="5" {{if hotelAudit.level == 5}}selected="selected"{{/if}}>准五星</option>
                            <option value="6" {{if hotelAudit.level == 6}}selected="selected"{{/if}}>五星</option>
                            <option value="7" {{if hotelAudit.level == 7}}selected="selected"{{/if}}>五星以上</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2 control-label no-padding-right"><span class="necessary">*</span>责任联系人</label>
                    <div class="col-xs-10">
                        <div class="pull-left">
                            <input type="text" class="col-xs-12" name="managerName" value="{{hotelAudit.managerName}}"  placeholder="姓名">
                        </div>
                        <div class="col-xs-7">
                            <input type="text" class="col-xs-12" name="mobileNumber" value="{{hotelAudit.mobileNumber}}" placeholder="手机号">
                        </div>
                    </div>
                </div>
                
                <div class="form-group col-xs-6" >
                    <label class="col-xs-4 control-label no-padding-right">上传营业执照</label>
                    <div class="col-xs-8 T-imgContainer" data-id="businessLicensePic">
                        <label >
                            <input type="file" name="businessLicensePic" id="businessLicensePic" class="T-upimg" />
                            {{if !!hotelAudit.businessLicensePic}}
                                <div class="T-original illustrations" style="position:relative;top:0;z-index:99;margin-top:-123px;text-align:center;">
                                    <img class="middle" src="{{hotelAudit.businessLicensePic}}" />
                                </div>
                            {{/if}}
                        </label>
                    </div>
                </div>

                <div class="form-group col-xs-6">
                    <label class="col-xs-4 control-label no-padding-right">纳税人资格证</label>
                    <div class="col-xs-8 T-imgContainer" data-id="taxesCardPic">
                        <label>
                            <input type="file" name="taxesCardPic" id="taxesCardPic" class="T-upimg" />
                            {{if !!hotelAudit.taxesCardPic}}
                                <div class="T-original illustrations" style="position:relative;top:0;z-index:99;margin-top:-123px;text-align:center;">
                                    <img class="middle" src="{{hotelAudit.taxesCardPic}}"/>
                                </div>
                            {{/if}}
                        </label>
                    </div>
                </div>
                
                <div class="col-xs-7">
                    <label class="col-xs-3"></label>
                    <div class="col-xs-9">
                        <input type="checkbox" checked class="T-isAgree" disabled>&nbsp;
                        <span>
                            <a class="">我已阅读并同意《火柴头用户协议》</a>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <button class="btn btn-block btn-primary T-btn-save R-right guideSubmit"> <i class="ace-icon fa fa-check"></i> 提交信息 </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>