<div class="col-xs-12 updateHotelContainer globalAdd">
	<form class="form-horizontal hotelMainForm formOneList" role="form" style="margin-top:10px" onsubmit="return false">
		<div class=" ui-sortable-handle">
				<h5 >
					<span class="badge badge-primary">1</span>
					<label class="title-size middle">酒店主体信息</label>
				</h5>
			<div class="widget-body">
				<div class="widget-main widget-mainFrist">
					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right"><span class="necessary">*</span>酒店名称:</label>
						<div class="col-sm-4">
							<input type="text" name="name" class="col-sm-12" value="{{hotel.name}}" maxlength="32">
							<input type="text" name="id" hidden="hidden" value="{{hotel.id}}">
						</div>

						<label class="col-sm-1 control-label no-padding-right"><span class="necessary">*</span>酒店星级:</label>
						<div class="col-sm-3">
							<select name="level">
								<option selected="selected" value="1" {{if hotel.level == 1}}selected="selected"{{/if}}>三星以下</option>
								<option value="2" {{if hotel.level == 2}}selected="selected"{{/if}}>三星</option>
								<option value="3" {{if hotel.level == 3}}selected="selected"{{/if}}>准四星</option>
								<option value="4" {{if hotel.level == 4}}selected="selected"{{/if}}>四星</option>
								<option value="5" {{if hotel.level == 5}}selected="selected"{{/if}}>准五星</option>
								<option value="6" {{if hotel.level == 6}}selected="selected"{{/if}}>五星</option>
								<option value="7" {{if hotel.level == 7}}selected="selected"{{/if}}>五星以上</option>
							</select>
						</div>
					</div>
					<!--<div class="form-group guideInterval">-->
					 <!-- -->
					<!--</div>-->
					<div class="form-group guideInterval">
					    <label class="col-sm-2 control-label no-padding-right">联系人:</label>
						<div class="col-sm-4">
							<input type="text" name="managerName" class="col-sm-12" value="{{hotel.managerName}}"  maxlength="32">
						</div>
						<label class="col-sm-1 control-label no-padding-right">联系电话:</label>
						<div class="col-sm-3">
							<input type="text" name="mobileNumber" class="col-sm-12" value="{{hotel.mobileNumber}}" maxlength="11">
							<label class="feild-label feild-error-tip" style="top:4px;right:78px;">
								<i title="该手机号码将接收短信" class="fa fa-info blue"></i>
							</label>
						</div>
					</div>
					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right">座机号码:</label>
						<div class="col-sm-4">
							<input type="text" name="telNumber" class="col-sm-12" value="{{hotel.telNumber}}" maxlength="20" />
						</div>
						<label class="col-sm-1 control-label no-padding-right">传真号码:</label>
						<div class="col-sm-3">
							<input type="text" name="faxNumber" class="col-sm-12" value="{{hotel.faxNumber}}" maxlength="20" />
						</div>
					</div>
					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right">所在地区:</label>
						<div class="col-sm-4">
							<select name="provinceId" style="margin-right:3px">
								<option selected="selected" value="" >未选择</option>
							</select>
							<select name="cityId"  style="margin-right:3px">
								<option selected="selected" value="">未选择</option>
							</select>
							<select name="districtId" >
								<option selected="selected" value="">未选择</option>
							</select>
						</div>

						<label class="col-sm-1 control-label no-padding-right"><span class="necessary">*</span>是否启用:</label>
						<div class="col-sm-2 checkbox resource_checkbox">
							<label>
								<input  type="checkbox" class="ace hotel-status" value="1" name="status"  {{if hotel.status == 1}}checked="checked"{{/if}} >
								<span class="lbl">
									启用
								</span>
							</label>
						</div>
					</div>
					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right">详细地址:</label>
						<div class="col-sm-6">
							<input type="text" name="street" class="col-sm-12 addressMinute" placeholder="请输入街道地址" value="{{hotel.street}}" maxlength="100"/>
						</div>
					</div>
					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right">酒店设施:</label>
						<div class="col-sm-6">
							<input type="text" name="facility" class="col-sm-12 addressMinute" value="{{hotel.facility}}" maxlength="1000">
						</div>
					</div>
					<!--<div class="form-group guideInterval">-->
						<!-- -->
					<!--</div>-->

					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right">酒店简介:</label>
						<div class="col-sm-8">
							<textarea class="form-control" name="remark" maxlength="1000" class="col-sm-12" >{{hotel.remark}}</textarea>
						</div>
					</div>

					<div class="form-group guideInterval">
						<div class="col-sm-4">
							<input class="form-control F-float F-money col-sm-12 T-lowestPrice" type="hidden" name="lowestPrice" value="{{hotel.lowestPrice}}" maxlength="9" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<form class="form-horizontal hotelMainForm" role="form" style="margin-top:10px" onsubmit="return false">
		<div class="form-group">
			<div class="col-xs-12 col-sm-12 widget-container-col">
				<div class=" ui-sortable-handle">
						<h5 >
							<span class="badge badge-primary">2</span>
							<label class="title-size middle">房间列表</label>
							<a href="javascript:void(0)" class="T-btn-hotel-standard-add">
								<button class="btn btn-sm btn-success" style="margin-left: 20px;">
									<i class="ace-icon fa fa-plus"></i>
									新增
								</button>
							</a>
						</h5>
					<div class="widget-body">
						<div class="widget-main no-padding">
							<table class="table table-striped table-bordered table-hover hotelRoomStandardList" style="border: 1px solid #ccc">
								<thead>
								<tr>
									<th class="table-border" width="80"><span class="necessary">*</span>房型</th>
									<th class="table-border"style="width:300px;"><span class="necessary">*</span>时间范围</th>
									<th class="table-border" style="width:100px">市场价(元)</th>
									<th class="table-border" style="width:110px">协议价(元)</th>
									<th class="table-border" style="width: 75px">早餐</th>
									<th class="table-border" width="70">午餐</th>
									<th class="table-border" width="70">晚餐</th>
									<th class="table-border" width="70">宽带</th>
									<th class="table-border" style="width:120px">建筑面积(平方)</th>
									<th class="table-border" style="width:105px">最多入住人数</th>
									<th class="table-border" width="80">备注</th>
									<th class="table-border" width="55">操作</th>
								</tr>
								</thead>
								<tbody class="T-roomListTbody">
									{{each hotel.hotelRoomList as room}}
									<tr data-entity-id="{{room.id}}">
										<td><input name="type" type="text" class="col-sm-12" value="{{room.type}}" maxlength="32" /></td>
										<td class="T-time">
											<div class="clearfix" style="margin-top:1px">
												日常价格
												<label class="timeArea" style="float:right;padding-top:0px;">
													<button class="btn btn-success btn-sm btn-white T-add">
														<i class="ace-icon fa fa-plus bigger-110 icon-only"></i>
													</button>
												</label>
											</div>

											{{each room.priceList as price i}}
											<div data-index="{{i+1}}" data-entity-id="{{price.id}}" class="clearfix T-appendDiv div-{{i+1}}" style="margin-top:1px">
												<input name="startTime" type="text" class="datepicker" style="width:100px" value="{{price.startTime | dateFormat:'yyyy-MM-dd'}}"/><label>&nbsp;至&nbsp;</label><input name="endTime" type="text" class="datepicker" style="width:100px" value="{{price.endTime | dateFormat:'yyyy-MM-dd'}}"/>
												<label class="timeArea" style="float:right;padding-top:3px;">
													<button class="btn btn-danger btn-sm btn-white T-del" style="margin-top: -3px">
														<i class="ace-icon fa fa-minus bigger-110 icon-only"></i>
													</button>
												</label>
											</div>
											{{/each}}
										</td>
										<td> 
											<div class="clearfix" style="margin-top:1px">
												<input name="normalMarketPrice" type="text" class="col-sm-12 F-float F-money" value="{{room.normalMarketPrice}}" maxlength="9" />
											</div>
											{{each room.priceList as price i}}
											<div data-index="{{i+1}}" class="clearfix T-marketPrice marketPrice-{{i+1}}" style="margin-top:7px">
												<input name="marketPrice" type="text" class="col-sm-12 F-float F-money" value="{{price.marketPrice}}" maxlength="9" />
											</div>
											{{/each}}
										</td>
										<td>
											<div class="clearfix" style="margin-top:1px">
												<input name="normalInnerPrice" type="text" class="col-sm-12 F-float F-money T-minPrice" value="{{room.normalInnerPrice}}" maxlength="9" />
											</div>
											{{each room.priceList as price i}}
											<div data-index="{{i+1}}" class="clearfix T-contractPrice contractPrice-{{i+1}}" style="margin-top:7px">
												<input name="contractPrice" type="text" class="col-sm-12 F-float F-money T-minPrice" value="{{price.contractPrice}}" maxlength="9" />
											</div>
											{{/each}}
										</td>
										<td>
											<select name="containBreakfast" class="col-sm-12 no-padding">
												<option value="0" {{if room.containBreakfast == 0}}selected="selected"{{/if}}>不含</option>
												<option value="1" {{if room.containBreakfast == 1}}selected="selected"{{/if}}>包含</option>
											</select>
										</td>
										<td>
											<select name="containLunch" class="col-sm-12 no-padding">
												<option value="0" {{if room.containLunch == 0}}selected="selected"{{/if}}>不含</option>
												<option value="1" {{if room.containLunch == 1}}selected="selected"{{/if}}>包含</option>
											</select>
										</td>
										<td> 
											<select name="containDinner" class="col-sm-12 no-padding">
												<option value="0" {{if room.containDinner == 0}}selected="selected"{{/if}}>不含</option>
												<option value="1" {{if room.containDinner == 1}}selected="selected"{{/if}}>包含</option>
											</select>
										</td>
										<td>
											<input name="broadband" class="col-sm-12" type="text" value="{{room.broadband}}" maxlength="100" />
										</td>
										<td>
											<input name="areaSize" class="col-sm-12" type="text" value="{{room.areaSize}}" maxlength="3" />
										</td>
										<td>
										 	<input name="guestNumber" class="col-sm-12" type="text" value="{{room.guestNumber}}" maxlength="4" />
										 </td>
										<td>
											<input name="remark" class="col-sm-12" type="text" value="{{room.remark}}" maxlength="1000" />
										</td>
										<td style="width:70px">
											<a data-entity-id="" href="#" class=" btn-xs  T-btn-hotel-standard-delete">删除</a>
										</td>
									</tr>	  
									{{/each}} 
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="space-10"></div>
		<button class="btn btn-block btn-primary T-btn-submit-hotel guideSubmit">
			<i class="ace-icon fa fa-check"></i>
			提交信息
		</button>
		<div class="space-20"></div>
	</form>
</div>
