   <form class="form-horizontal hotelMainForm" role="form" style="margin-top:10px" onsubmit="return false">
	   <table class="whereQ" style="width: 97%">
		   <tr>
			   <td colspan="4" class="HeadManage">酒店主体信息</td>
		   </tr>
		   <tr>
			   <td class="style-myself">酒店名称：</td>
			   <td class="styleOne-self">{{hotel.name}}</td>
			   <td class="style-myself">酒店星级：</td>
			   <td class="styleOne-self">{{if hotel.level==1 }}
				   三星以下
				   {{else if hotel.level==2 }}
				   三星
				   {{else if hotel.level==3 }}
				   准四星
				   {{else if hotel.level==4 }}
				   四星
				   {{else if hotel.level==5 }}
				   准五星
				   {{else if hotel.level==6 }}
				   五星
				   {{else if hotel.level==7 }}
				   五星以上
				   {{/if}}</td>
		   </tr>
		   <tr>
			   <td class="style-myself">联系人：</td>
			   <td class="styleOne-self">{{hotel.managerName}}</td>
			   <td class="style-myself">联系电话：</td>
			   <td class="styleOne-self">{{hotel.mobileNumber}}</td>
		   </tr>
		   <tr>
			   <td class="style-myself">座机号码：</td>
			   <td class="styleOne-self">{{hotel.telNumber}}</td>
			   <td class="style-myself">传真号码：</td>
			   <td class="styleOne-self">{{hotel.faxNumber}}</td>
		   </tr>
		   <tr>
			   <td class="style-myself">所在地区：</td>
			   <td class="styleOne-self">{{if hotel.province != null}}
				   {{hotel.province.name}}
				   {{/if}}
				   {{if hotel.city != null}}
				   -{{hotel.city.name}}
				   {{/if}}
				   {{if hotel.district != null}}
				   -{{hotel.district.name}}
				   {{/if}}</td>
			   <td class="style-myself">是否启用：</td>
			   <td class="styleOne-self">	{{if hotel.status == 0}}
				   已停用
				   {{else}}
				   已启用
				   {{/if}}</td>
		   </tr>
		   <tr>
			   <td class="style-myself">详细地址：</td>
			   <td class="styleOne-self" >{{hotel.street}}</td>
			   <td class="style-myself">酒店设施：</td>
			   <td class="styleOne-self" >{{hotel.facility}}</td>
		   </tr>
		   <tr>
			   <td class="style-myself">酒店简介：</td>
			   <td class="styleOne-self" colspan="4">{{hotel.remark}}</td>
		   </tr>
	   </table>
	</form>
	<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
		<table class="whereQ whereTwo" style="width: 97%">
			<tr>
				<td colspan="11" class="HeadManage" style="text-align: left">房间列表</td>
			</tr>
			<tr>
				<td class="style-myself">房型</td>
				<td class="style-myself">时间范围</td>
				<td class="style-myself">市场价(元)</td>
				<td class="style-myself">协议价(元)</td>
				<td class="style-myself">早餐</td>
				<td class="style-myself">午餐</td>
				<td class="style-myself">晚餐</td>
				<td class="style-myself">宽带</td>
				<td class="style-myself" style="width: 95px!important;">建筑面积(平方)</td>
				<td class="style-myself">最多入住人数</td>
				<td class="style-myself">备注</td>
			</tr>
			{{each hotel.hotelRoomList as room}}
			<tr data-entity-id="{{room.id}}">
				<td>{{room.type}}</td>
				<td class="rangeTimeWidth">
					<div>日常价格</div>
					{{each room.priceList as price}}
						<div>
							{{price.startTime | dateFormat:'yyyy-MM-dd'}}至{{price.endTime | dateFormat:'yyyy-MM-dd'}}
						</div>
					{{/each}}
				</td>
				<td>
					<div class="F-float F-money">
						{{room.normalMarketPrice}}
					</div>
					{{each room.priceList as price}}
						<div class="F-float F-money">
							{{price.marketPrice}}
						</div>
					{{/each}}
				</td>

				<td>
					<div class="F-float F-money">
						{{room.normalInnerPrice}}
					</div>
					{{each room.priceList as price}}
						<div class="F-float F-money">
							{{price.contractPrice}}
						</div>
					{{/each}}
				</td>

				<td>
					{{if room.containBreakfast == 0}}
					不含
					{{else}}
					包含
					{{/if}}
				</td>

				<td>
					{{if room.containLunch == 0}}
					不含
					{{else}}
					包含
					{{/if}}
				</td>
				<td>
					{{if room.containDinner == 0}}
					不含
					{{else}}
					包含
					{{/if}}
				</td>
				<td>
					{{room.broadband}}
				</td>
				<td class="F-float F-count">
					{{room.areaSize}}
				</td>
				<td class="F-float F-count">
					{{room.guestNumber}}
				</td>
				<td class="remarkWidth">
					{{room.remark}}
				</td>

			</tr>
			{{/each}}
		</table>
	</form>

