<div class="row T-search-area">
    <form class="form-inline" role="form" onsubmit="return false">
        <div class="form-group">
            <label>客户：</label>
            <input type="text" class="form-control T-search-customer" value="{{searchParam.travelAgencyName || "全部"}}" style="width: 220px;">
        </div>
        <div class="form-group marginLeft-30">
            <label>账期：</label>
            <input type="text" class="form-control datepicker T-search-start-date" value="{{searchParam.startTime}}">
            <label>&nbsp;至&nbsp;</label>
            <input type="text" class="form-control datepicker T-search-end-date" value="{{searchParam.endTime}}">
        </div>
        <div class="form-group marginLeft-30">
            <button class="btn-sm search-btn T-btn-search">
                <i class="ace-icon fa fa-search"></i> 搜索 
            </button>
        </div>
    </form>
</div>
<div class="row">
    <table class="table table-striped table-bordered table-hover T-showHighLight">
        <thead>
            <tr class="bg-blur">
                <th>客户</th>
                <th>代订金额</th>
                <th>结算金额</th>
                <th>已收金额 </th>
                <th>未收金额</th>
                <th>对账进度</th>
                <th>付款进度</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody class="T-list">
        {{each bookingAccountList as rs}}
            <tr data-id="{{rs.partnerAgencyId}}" data-name="{{rs.fromPartnerAgencyName}}">
                <td>{{rs.fromPartnerAgencyName}}</td>
                <td>{{rs.bookingMoney}}</td>
                <td>{{rs.settlementMoney}}</td>
                <td>{{rs.receiveMoney}}</td>
                <td><span {{if rs.unReceiveMoney != 0}}style="color:#FF0000;"{{/if}}>{{rs.unReceiveMoney}}</span></td>
                <td><span style="color:#{{if rs.checkStep == rs.allRecord}}00CC00{{else}}FF9900{{/if}};">{{rs.checkStep}}/{{rs.allRecord}}</span></td>
                <td><span style="color:#{{if rs.reciveStep == rs.allRecord}}00CC00{{else}}FF9900{{/if}};">{{rs.reciveStep}}/{{rs.allRecord}}</span></td>
                <td>
                    <a class="cursor T-action T-checking">对账</a>
                    <label class="cursor"> <a> |</a></label>
                    <a class="cursor T-action T-balance">收款</a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <div class="row pageMode">
        <div class="col-xs-6">
            <small>共计 {{searchParam.recordSize || 0}} 条记录</small>
        </div>
        <div class="col-xs-6">
            <div class="dataTables_paginate paging_simple_numbers T-pagenation">
            </div>
        </div>
    </div>
</div>