    <div class="row T-search-area globalAdd">
        <form class="form-inline" role="form" onsubmit="return false">
            <div class="form-group mar-r-10">
                <label>同行客户：</label>
                <input value="{{name}}" name="partnerAgencyName" type="text">
                <input value="{{searchParam.partnerAgencyId}}" name="partnerAgencyId" type="hidden">
            </div>
            <div class="form-group mar-r-10">
                <label>账期：</label>
                <input type="text" class="form-control datepicker T-search-start-date" value="{{searchParam.startDate}}">
                <label>&nbsp;至&nbsp;</label>
                <input type="text" class="form-control datepicker T-search-end-date" value="{{searchParam.endDate}}">
            </div>
            <div class="form-group mar-r-10">
                <label>代订单号：</label>
                <input type="text" class="form-control T-search-order" value="{{searchParam.orderNumber}}" style="width: 190px;">
            </div>
            <div class="form-group mar-r-10">
                <label>项目：</label>
                <input type="text" class="form-control T-search-project" value="{{searchParam.projects}}">
            </div>
            <div class="form-group mar-r-10">
            <label>客户联系人：</label>
            <input type="text" class="form-control T-search-contact" value="{{searchParam.contactRealname}}" data-id="{{searchParam.contactId}}" style="width:100px;" placeholder="客户联系人" />
        </div>
         <div class="form-group mar-r-10">
            <label>录入人：</label>
            <input type="text" class="form-control T-search-creator" value="{{searchParam.creatorName}}" data-id="{{searchParam.creatorId}}" style="width:100px;" placeholder="录入人" />
        </div>
            <label class="form-group">对账状态：</label>
            <div class="form-group btn-group T-check-status mar-r-10">
                <button data-value="{{searchParam.isConfirmAccount}}" data-toggle="dropdown" class=" btn-sm  dropdown-toggle block-up" aria-expanded="false">
                    <span>
                        {{if !searchParam.isConfirmAccount || searchParam.isConfirmAccount == ""}}
                            全部
                        {{else if searchParam.isConfirmAccount == 1}}
                            已对账
                        {{else}}
                            未对账
                        {{/if}}
                    </span>
                    <i class="ace-icon fa fa-angle-down icon-on-right"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a data-value="" href="javascript:void(0)">全部</a></li>
                    <li><a data-value="1" href="javascript:void(0)">已对账</a></li>
                    <li><a data-value="0" href="javascript:void(0)">未对账</a></li>
                </ul>
            </div>
            <div class="form-group">
                <button class="btn-sm search-btn T-btn-search">
                    <i class="ace-icon fa fa-search"></i> 搜索 
                </button>
            </div>
        </form>
        <input name="accountStatus" value="{{searchParam.accountStatus}}" type="hidden">
         <div class="form-inline">
            <div class="form-group mar-r-20">
                <label>代订金额合计：</label>
                <label class="F-float F-money T-sumBookingMoney">{{totalList.sumBookingMoney}}</label>
            </div>
            <div class="form-group mar-r-20">
                <label>已收金额合计：</label>
                <label class="F-float F-money T-sumReceiveMoney">{{totalList.sumReceiveMoney}}</label>
            </div>
            <div class="form-group mar-r-20">
                <label>结算金额合计：</label>
                <label class="F-float F-money T-stMoney">{{totalList.sumSettlementMoney}}</label>
            </div>
            <div class="form-group mar-r-20">
                <label>未收金额合计：</label>
                <label class="F-float F-money T-sumUnReceiveMoney">{{totalList.sumUnReceiveMoney}}</label>
            </div>
            <div class="form-group">
                <label>未收金额合计(已对账)：</label>
                <label class="T-unpayMoney F-float F-money">{{totalList.checkedUnPayedMoney}}</label>
            </div>
        </div>

        <div class="form-inline globalAdd">
            <div class="form-group mar-r-10">
                <label class="control-label">本次收款金额合计：</label>
                <label class="control-label">
                    <input type="text" class="form-control T-sumReciveMoney money F-float F-money" name="sumPayMoney"  {{if source}}disabled="disabled"{{/if}}>
                </label>
            </div>

            {{if !source}} 
            <div class="form-group mar-r-10">
                <button class="btn btn-xs btn-primary T-btn-autofill"><i class="ace-icon fa fa-check-circle"></i> 自动下账</button>
            </div>
            {{/if}}

            <div class="form-group mar-r-10">
                <label class="control-label">收款方式：</label>
                <select class="form-control T-sumPayType" name="sumPayType">
                    {{getPayTypeOptions}}
                </select>
            </div>

            <div class="form-group mar-r-10">
                <label class="control-label">现金账号：</label>
                <label class="control-label">
                    <input type="text" name="cash-number" class="money" style="width:300px;">
                    <input type="hidden" name="cash-id">
                </label>
            </div>
            <div class="form-group mar-r-10">
                <label class="control-label">银行账号：</label>
                <label class="control-label">
                    <input type="text" name="card-number" class="money" style="width:300px;">
                    <input type="hidden" name="card-id">
                </label>
            </div>
            <div class="form-group mar-r-10">
                <label class="control-label">凭证编号：</label>
                <label class="control-label">
                    <input type="text" name="credentials-number">
                </label>
            </div>
            <div class="form-group mar-r-10">
                <label class="control-label">记账日期：</label>
                <label class="control-label">
                    <input type="text" name="tally-date"  style="width:140px;">
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">备注：</label>
            <label class="control-label">
                <input type="text" class="T-sumRemark" style="width:900px;">
            </label>
        </div>
    </div>
    <div class="row">
    <div class="overflow-x min-w-1050">
        <table class="table table-striped table-bordered table-hover table-fixed hct_align_middle w-1500">
            <colgroup> 
                <col style="width:12%;"> 
                <col style="width:6%;">
                <col style="width:6%;">
                <col style="width:10%;"> 
                <col style="width:14%;"> 
                <col style="width:6%;">
                <col style="width:5%;"> 
                <col style="width:5%;"> 
                <col style="width:5%;"> 
                <col style="width:5%;"> 
                <col style="width:5%;"> 
                <col style="width:7%;"> 
                <col style="width:6%;"> 
                <col style="width:5%;"> 
                <col style="width:7%; min-width: 105px;"> 
            </colgroup>
            <thead>
                <tr class="T-tr-fixed bg-blur">
                    <th>代订单号</th>
                    <th>代订日期（账期）</th>
                    <th>客户联系人</th>
                    <th>项目</th>
                    <th>项目名称</th>
                    <th>明细</th>
                    <th>录入人</th>
                    <th>代订金额</th>
                    <th>已收金额</th>
                    <th>结算金额</th>
                    <th>未收金额</th>
                    <th>本次收款金额</th>
                    <th>备注</th>
                    <th>对账时间</th>
                    <th>对账人</th>
                    <th>对账</th>
                </tr>
            </thead>
            <tbody class="T-list T-clearList">
            </tbody>
        </table>
        </div>
    </div> 
    <div class="row pageMode">
        <div class="col-xs-6">
            <small>共计 {{searchParam.recordSize}} 条记录</small>
        </div>
        <div class="col-xs-6">
            <div class="dataTables_paginate paging_simple_numbers T-pagenation"></div>
        </div>
    </div>
    <div class="row">
        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="form-group" style="text-align: center;">
                <button class="btn btn-xs btn-primary T-btn-close">
                    <i class="ace-icon fa fa-times-circle"></i> 关闭
                </button>
                <button class="btn btn-xs btn-primary T-saveClear" style="margin-left:20px">
                    <i class="ace-icon fa fa-check-circle"></i> 确认收款
                </button>
            </div>
        </form>
    </div>