<div class="T-planbus globalAdd ">
    <div class="form-group"> 
        <label class="control-label mar-r-20">中转单号：{{outRemark.orderNumber}}</label>
        <label class="control-label mar-r-20">人数：{{outRemark.adultCount}} 大 {{outRemark.childCount}}小</label>
        <label class="control-label mar-r-20">抵达时间：{{outRemark.arriveTime}}</label> 
        <label class="control-label mar-r-20">游客联系人：{{outRemark.contactMemberName}}</label> 
        <label class="control-label mar-r-20">线路名称：{{outRemark.lineProductName}}</label>
        <label class="control-label">外联销售：{{outRemark.outOPUserName}}</label> 
    </div>
    <div class="form-group"> 
        <label class="control-label mar-r-20">客户名：{{outRemark.partnerAgencyName}} </label>
        <label class="control-label mar-r-20">要求：{{outRemark.require}}</label> 
        <label class="control-label mar-r-20">班次：{{outRemark.shift}}</label> 
        <label class="control-label mar-r-20">类型：{{if outRemark.shuttleType == 1}}接团{{else if outRemark.shuttleType == 2}}送团 {{/if}}</label>
        <label class="control-label mar-r-20">出游日期：{{outRemark.startTime}}</label>
        <label class="control-label">收客单号：{{outRemark.tgOrderNumber}}</label> 
    </div>
    <table class="table table-striped table-bordered table-hover ">
        <thead>
            <tr>
                <th class="th-border"><span class="necessary">*</span>入住日期</th>
                <th class="th-border"><span class="necessary">*</span>离店日期</th>
                <th class="th-border">星级</th>
                <th class="th-border"><span class="necessary">*</span>酒店</th>
                <th class="th-border">联系人</th>
                <th class="th-border">联系电话</th>
                <th class="th-border"><span class="necessary">*</span>房型</th>
                <th class="th-border">单价</th>
                <th class="th-border"><span class="necessary">*</span>数量</th>
                <th class="th-border">优惠</th>
                <th class="th-border">应付款</th>
                <th class="th-border">预付款</th>
                <th class="th-border">备注</th>
            </tr>
        </thead>
        <tbody class="T-hotel-plan">
            {{each outHotelList as view}}
            <tr data-entity-id="{{view.id}}">
                <td>
                    {{view.checkInTime}}
                </td>
                 <td>
                    {{view.checkOutTime}}
                </td>
                <td>
                    <select class="tripPlanHotelStar" name="hotelLevel" readonly="readonly">
                        <option value="1" {{if view.hotelLevel == 1}}selected="selected"{{/if}}>三星以下</option>
                        <option value="2" {{if view.hotelLevel == 2}}selected="selected"{{/if}}>三星</option>
                        <option value="3" {{if view.hotelLevel == 3}}selected="selected"{{/if}}>准四星</option>
                        <option value="4" {{if view.hotelLevel == 4}}selected="selected"{{/if}}>四星</option>
                        <option value="5" {{if view.hotelLevel == 5}}selected="selected"{{/if}}>准五星</option>
                        <option value="6" {{if view.hotelLevel == 6}}selected="selected"{{/if}}>五星</option>
                        <option value="7" {{if view.hotelLevel == 7}}selected="selected"{{/if}}>五星以上</option>
                    </select>
                </td>
                <td>
                    {{view.hotelName}}
                </td>
                <td>
                    {{view.hotelManagerName}}
                </td>
                <td>
                    {{view.hotelMobileNumber}}
                </td>
                <td>
                    {{view.hotelRoomType}}
                </td>
                <td>
                    {{view.price}}
                </td>
                <td>
                    {{view.memberCount}}
                </td>
                <td>
                    {{view.reduceMoney}}
                </td>
                <td>
                    {{view.needPayMoney}}
                </td>
                <td>
                    {{view.prePayMoney}}
                </td>
                <td>{{view.remark}}</td>
            </tr>{{/each}}
        </tbody>
    </table>
</div>
