<div class="T-transitNotice col-xs-12 globalAdd">
	<div class="form-group mar-t-20">
		<label class="pos-rel mar-l-10"><input type="checkbox" name="hotel" class="ace T-checked" {{if receiveHotelStatus == 3 || sendHotelStatus == 3}}checked{{/if}}><span class="lbl">房</span></label>
	</div>
	<div class="form-group border hidden T-touristCheckedShow">
		<p class="mar-l-10">游客通知设置：</p>
		<label class="pos-rel mar-l-10"><input type="checkbox" name="rightNow" class="ace T-checked" checked><span class="lbl">立即发送</span></label>
		<label class="pos-rel mar-l-10"><input type="checkbox" name="timing" class="ace T-checked"><span class="lbl">短信定时发送</span><input type="text" name="sendDateTime" class="T-dateTimePicker mar-l-10 hidden T-timingShow"></label>
		<label class="pos-rel mar-l-10"><span class="lbl">短信签名</span><input type="text" name="smsSign" class=""></label>
	</div>
	<p class="mar-l-10">是否发送通知？</p>
	<div class="col-md-12 text-center mar-t-20">
		<button class="btn btn-sm btn-primary T-cancel">
			<i class="ace-icon fa fa-times-circle"></i> 取消
		</button>
		<button class="btn btn-sm btn-primary T-btn-submit-notice">
			<i class="ace-icon fa fa-check-circle"></i>确定
		</button>
	</div>
</div>