<div class="T-itsMian-search">
    <form class="form-inline " role="form" onsubmit="return false">
        <div class="form-group mar-r-10">
            <label>收客单号</label>
            <input type="text"  class="form-control" name="tgOrderNumber"/>
        </div>
        <div class="form-group mar-r-20">
            <label>客人</label>
            <input type="text" class="form-control" value="" name="touristName"/>
        </div>
         <div class="form-group mar-r-20">
                <label>线路产品 </label>
                <input class="form-control" name="lineProductName" value=""type="text" />
            </div>
        <div class="form-group mar-r-10">
            <label>消费日期</label>
            <input type="text" value="" class="form-control datepicker" name="consumeTime"/>
            <input type="hidden" value="" />
        </div>
        <div class="form-group">
            <button class=" btn-sm mar-r-10 search-btn T-action T-searchits">
                <i class="ace-icon fa fa-search"></i> 搜索
            </button>
            <button class="btn btn-sm btn-success mar-r-10 T-action T-more">高级搜索</button>
            <button class="btn btn-sm btn-success T-action T-transit-export">导出</button>
        </div>
    </form>
 <form class="form-inline hct-search-area hidden" role="form" onsubmit="return false">
        <div class="">
            <div class="form-group mar-r-20">
                <label>安排人 </label>
                <input type="text" name="arrangeUserName" value="" class="form-control T-orderNumber"  placeholder="安排人"/>
            </div>
            <div class="form-group mar-l-10">
                <label>状态 </label>
                <select name="status" id="">
                    <option value="" selected="selected">全部</option>
                    <option value="1">已安排</option>
                    <option value="0">未安排</option>
                </select>
            </div>
             <div class="form-group T-hotelState mar-l-10">
                <label>类型 </label>
                <select name="shuttleType" id="">
                    <option value="1">接团</option>
                    <option value="2">送团</option>
                </select>
            </div>
        </div>
    </form>
</div>