<div class="T-planbus globalAdd ">
    <div class="form-group form-inline">
        <div>人数：12大3小</div>
    </div>
    <div class="form-group form-inline">
        <span class="mar-r-10 title-size">餐</span>
        <button class="btn btn-sm btn-success T-add-meal"> <i class="ace-icon fa fa-plus"></i> 新增 </button>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="th-border"><span class="necessary">*</span>日期</th>
                <th class="th-border"><span class="necessary">*</span>餐厅</th>
                <th class="th-border">联系人</th>
                <th class="th-border">联系电话</th>
                <th class="th-border">类型</th>
                <th class="th-border">餐标(元/人)</th>
                <th class="th-border">人数</th>
                <th class="th-border">优惠</th>
                <th class="th-border">应付款</th>
                <th class="th-border">预收款</th>
                <th class="th-border">备注</th>
                <th class="th-border" style="width: 10%;">操作</th>
            </tr>
        </thead>
        <tbody class="T-insuranceForm">
            <tr>
                <td>
                    <input class="datepicker col-xs-12 bind-change ui-autocomplete-input" name="insuranceName" type="text" autocomplete="off">
                    <input type="hidden" name="insuranceId">
                </td>
                <td>
                    <input class="col-xs-10 T-chooseInsuranceItem ui-autocomplete-input" name="type" type="text" maxlength="100" autocomplete="off"><span class="T-addPartnerManager" title="添加车队"> <i class="ace-icon fa fa-plus bigger-110 icon-only" style="margin-top:5px"></i> </span>
                </td>
                <td>
                    <input class="col-xs-12 F-float F-money" name="price" type="text" readonly="readonly" maxlength="6">
                </td>
                <td>
                    <input class="col-xs-12" name="managerName" readonly="readonly" type="text">
                </td>
                <td>
                    <select>
                        <option value="">机票</option>
                        <option value="">机票</option>
                        <option value="">机票</option>
                    </select>
                </td>
                <td>
                    <input class="col-xs-12" name="telNumber" type="text">
                </td>
                <td>
                    <input class="col-xs-12" name="remark" type="text" maxlength="1000">
                </td>
                <td>
                    <input class="col-xs-12" name="mobileNumber" type="text">
                </td>
                <td>
                    <input class="col-xs-12" name="telNumber" readonly="readonly" type="text">
                </td>
                <td>
                    <input class="col-xs-12" name="remark" type="text" maxlength="1000">
                </td>
                <td>
                    <input class="col-xs-12" name="mobileNumber" type="text">
                </td>
                <td><a class="T-contact-delete">删除</a></td>
            </tr>
        </tbody>
    </table>
    <div class="col-md-12 text-center mar-t-20">
        <button class="btn btn-sm btn-primary T-cancel"> <i class="ace-icon fa fa-times-circle"></i> 取消 </button>
        <button class="btn btn-sm btn-primary mar-r-20 T-btn-submit "> <i class="ace-icon fa fa-check-circle"></i> 提交信息 </button>
        <input type="checkbox" class="ace pull-right T-checkAll" id="check" checked="checked"> <span class="lbl"></span>
        <label for="check">送团车俩安排</label>
    </div>
</div>
