<div class="hct-view">
    <div class="form-inline text-center form-group">
        <p class="col-sm-4">喜来登大酒店</p>
        <p class="col-sm-4">028-98745412</p>
        
    </div>
    <table class="table table-bordered table-hover mar-t-10">
        <tr>
            <td>王兰兰</td>
            <td>5大2小</td>
            <td>18200987654</td>
            <td>一间</td>
            <td>家庭房</td>    
            <td>接团</td>
        </tr>
        <tr>
            <td>胡图图</td>
            <td>3大1小</td>
            <td>18200983746</td>
             <td>一间</td>
            <td>家庭房</td>
            <td>接团</td>
        </tr>
    </table>
</div>
