<div class="hct-view">
    <div class="form-inline text-center form-group">
        <p class="col-sm-2">接团</p>
        <p class="col-sm-2">灰狗车队</p>
        <p class="col-sm-2">司机 </p>
        <p class="col-sm-2">张三</p>
        <p class="col-sm-2">18200590876</p>
    </div>
    <table class="table table-bordered table-hover mar-t-10">
        <tr>
            <td>王兰兰</td>
            <td>5大2小</td>
            <td>18200987654</td>
        </tr>
        <tr>
            <td>胡图图</td>
            <td>3大1小</td>
            <td>18200983746</td>
        </tr>
    </table>
</div>
