<div class="col-xs-12 update-selfpay-form globalAdd">
	<form class="form-horizontal selfpayMainForm formOneList" role="form" style="margin-top:10px" onsubmit="return false">
		<input name="selfpayId" type="hidden" value="{{selfpay.id}}" />
		<div class=" ui-sortable-handle">
				<h5 >
					<span class="badge badge-primary">1</span>
					<label class="title-size middle">自费项目主体信息</label>
				</h5>
			<div class="widget-body">
				<div class="widget-main">
					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right"><span class="necessary">*</span>公司名称:</label>
						<div class="col-sm-3">
							<input type="text" name="name" value="{{selfpay.name}}" class="col-sm-12">
						</div>
					</div>
					<div class="form-group guideInterval">
					    <label class="col-sm-2 control-label no-padding-right"><span class="necessary">*</span>联系人:</label>
						<div class="col-sm-3">
							<input type="text" name="managerName" value="{{selfpay.managerName}}" class="col-sm-12">
						</div>
						<label class="col-sm-1 control-label no-padding-right"><span class="necessary">*</span>联系电话:</label>
						<div class="col-sm-3">
							<input type="text" name="mobileNumber" value="{{selfpay.mobileNumber}}" class="col-sm-12">
						</div>
					</div>
					<div class="form-group guideInterval">
					    <label class="col-sm-2 control-label no-padding-right">座机号码:</label>
						<div class="col-sm-3">
							<input type="text" name="telNumber" class="col-sm-12" value="{{selfpay.telNumber}}" />
						</div>
						<label class="col-sm-1 control-label no-padding-right">传真号码:</label>
						<div class="col-sm-3">
							<input type="text" name="faxNumber" class="col-sm-12" value="{{selfpay.faxNumber}}" />
						</div>
					</div>
                   <!--添加人数返佣start-->                  
					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right">人数返佣(元/人):</label>
						<div class="col-sm-4">    
							<input type="text" name="customerRebateMoney" value="{{selfpay.customerRebateMoney}}" class="col-sm-12">
						</div>
					</div>
                  <!--添加人数返佣end-->
					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right">公司所在省市:</label>
						<div class="col-sm-8">
							<select name="provinceId" style="margin-right:3px">
								<option selected="selected" value="">未选择</option>
							</select>
							<select name="cityId"  style="margin-right:3px">
								<option selected="selected" value="">未选择</option>
							</select>
							<select name="districtId" >
								<option selected="selected" value="">未选择</option>
							</select>
						</div>
					</div>
					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right">详细地址:</label>
						<div class="col-sm-6">
							<input type="text" name="street" value="{{selfpay.street}}" class="col-sm-12 addressMinute" placeholder="请输入街道地址"/>
						</div>
					</div>
					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right"><span class="necessary">*</span>是否启用:</label>
						<div class="col-sm-2 checkbox" style="margin-left:-10px">
							<label>
								<input {{if selfpay.status == 1}} checked="checked"{{/if}}  type="checkbox" class="ace selfpay-status" value="1">
								<span class="lbl">
									启用
								</span>
							</label> 
						</div>
					</div>
					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right">公司简介:</label>
						<div class="col-sm-8">
							<textarea class="form-control" name="remark" class="col-sm-12" >{{selfpay.remark}}</textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	
	
	<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
		<div class="form-group priceList">
			<div class="col-xs-12 col-sm-12 widget-container-col">
				<div class=" ui-sortable-handle">
						<h5>
							<span class="badge badge-primary">2</span>
							<label class="title-size middle"></label>项目价格列表
							<a href="javascript:void(0)" class="btn-price-add">
								<button class="btn btn-sm btn-success btn-busCompany-add " style="margin-left: 20px;">
								<i class="ace-icon fa fa-plus"></i>
								新增
								</button>
							</a>
						</h5>
					<div class="widget-body">
						<div class="widget-main no-padding">
							<table class="table table-striped table-bordered table-hover priceList"> 
								<thead>
									<tr>
										<th class="table-border">项目名称</th>
										<th class="table-border">针对客源</th>
										<th class="table-border">时间区间</th>
										<th class="table-border">内部价格(元)</th>
										<th class="table-border">市场价格(元)</th>
										<th class="table-border">导游返佣(%)</th>
										<th class="table-border">旅行社返佣(%)</th>
										<th class="table-border">备注</th>
										<th class="table-border">操作</th>
									</tr>
								</thead>
								<tbody>{{each selfpay.selfPayItemList as itemList}}
									<tr data-entity-id="{{itemList.id}}">
										<td>
											<input name="name" value="{{itemList.name}}" class="col-sm-12" type="text" style="min-width:100px;">
										</td>
										<td>
											<select class="col-sm-12" name="customerType" style="min-width:100px;">
												<option value="0" {{if itemList.customerType == 0}}selected="selected"{{/if}}>散客</option>
												<option value="1" {{if itemList.customerType == 1}}selected="selected"{{/if}}>团体</option>
											</select>
										</td>
										<td>{{each itemList.SelfPayRebateList as rebateList index}}
											{{if index == 0}}
											<div class="col-sm-12 no-padding dateTimeArea" data-index="1">
												<input type="hidden" name="rebateListId" value="{{rebateList.id}}" />
												<input name="startTime" value="{{rebateList.startTime | dateFormat: 'yyyy-MM-dd'}}" type="text" class="datepicker col-sm-4">
												<label class="col-sm-2 control-label center">&nbsp;至&nbsp;</label>
												<input name="endTime" value="{{rebateList.endTime | dateFormat: 'yyyy-MM-dd'}}" type="text" class="datepicker col-sm-4">
												<label class="priceArea col-sm-2" style="padding-top:3px;">
													<button class="btn btn-success btn-sm btn-white add">
														<i class="ace-icon fa fa-plus bigger-110 icon-only"></i>
													</button>
												</label>
											</div>{{else}}
											<div class="col-sm-12 no-padding dateTimeArea" data-index="2">
												<input type="hidden" name="rebateListId" value="{{rebateList.id}}" />
												<input name="startTime" value="{{rebateList.startTime | dateFormat: 'yyyy-MM-dd'}}" type="text" class="datepicker col-sm-4">
												<label class="col-sm-2 control-label center">&nbsp;至&nbsp;</label>
												<input name="endTime" value="{{rebateList.endTime | dateFormat: 'yyyy-MM-dd'}}" type="text" class="datepicker col-sm-4">
												<label class="priceArea col-sm-2" style="padding-top:3px;">
													<button class="btn btn-success btn-sm btn-white del">
														<i class="ace-icon fa fa-minus bigger-110 icon-only"></i>
													</button>
												</label>
											</div>{{/if}}{{/each}}
										</td>
										<td>{{each itemList.SelfPayRebateList as rebateList index}}
											{{if index == 0}}
											<div class="col-sm-12 no-padding">
												<input name="contractPrice" value="{{rebateList.price}}" class="col-sm-12" type="text">
											</div>{{else}}
											<div class="col-sm-12 no-padding" style="padding-top:2px!important;">
												<input name="contractPrice" value="{{rebateList.price}}" class="col-sm-12" type="text">
											</div>{{/if}}{{/each}}
										</td>
										<td>{{each itemList.SelfPayRebateList as rebateList index}}
											{{if index == 0}}
											<div class="col-sm-12 no-padding">
												<input name="marketPrice" value="{{rebateList.marketPrice}}" class="col-sm-12" type="text">
											</div>{{else}}
											<div class="col-sm-12 no-padding" style="padding-top:2px!important;">
												<input name="marketPrice" value="{{rebateList.marketPrice}}" class="col-sm-12" type="text">
											</div>{{/if}}{{/each}}
										</td>
										<td>{{each itemList.SelfPayRebateList as rebateList index}}
											{{if index == 0}}
											<div class="col-sm-12 no-padding">
												<input name="guideRate" value="{{rebateList.guideRate*100 | toFixed}}" class="col-sm-12" type="text">
											</div>{{else}}
											<div class="col-sm-12 no-padding" style="padding-top:2px!important;">
												<input name="guideRate" value="{{rebateList.guideRate*100 | toFixed}}" class="col-sm-12" type="text">
											</div>{{/if}}{{/each}}
										</td>
										<td>{{each itemList.SelfPayRebateList as rebateList index}}
											{{if index == 0}}
											<div class="col-sm-12 no-padding">
												<input name="travelAgencyRate" value="{{rebateList.travelAgencyRate*100 | toFixed}}" class="col-sm-12" type="text">
											</div>{{else}}
											<div class="col-sm-12 no-padding" style="padding-top:2px!important;">
												<input name="travelAgencyRate" value="{{rebateList.travelAgencyRate*100 | toFixed}}" class="col-sm-12" type="text">
											</div>{{/if}}{{/each}}
										</td>
										<td>
											<input name="remark" value="{{itemList.remark}}" type="text" class="col-sm-12" style="min-width:100px;">
										</td>
										<td style="width:70px">
											<button class="btn btn-xs btn-danger btn-price-delete">
												<i class="ace-icon fa fa-trash-o bigger-120"></i>
											</button>
										</td>
									</tr>{{/each}}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="space-10"></div>
		<button class="btn btn-block btn-primary btn-submit-selfpay guideSubmit">
			<i class="ace-icon fa fa-check"></i>
			提交信息
		</button>
		<div class="space-20"></div>
	</form>
</div>
