<div class="col-xs-12 T-update-selfpay-form globalAdd">
	<form class="form-horizontal T-selfpayMainForm formOneList" role="form" style="margin-top:10px" onsubmit="return false">
		<input name="selfpayId" type="hidden" value="{{selfpay.id}}" />
		<div class=" ui-sortable-handle">
				<h5 >
					<span class="badge badge-primary">1</span>
					<label class="title-size middle">商家主体信息</label>
				</h5>
			<div class="widget-body">
				<div class="widget-main widget-mainFrist">
					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right"><span class="necessary">*</span>公司名称:</label>
						<div class="col-sm-3">
							<input type="text" name="name" value="{{selfpay.name}}" class="col-sm-12" maxlength="100">
						</div>

						<label class="col-sm-1 control-label no-padding-right"><span class="necessary">*</span>是否启用:</label>
						<div class="col-sm-3 checkbox" style="margin-left:-10px;margin-top: -6px">
							<label>
								<input {{if selfpay.status == 1}} checked="checked"{{/if}}  type="checkbox" class="ace T-selfpay-status" value="1">
								<span class="lbl">
									启用
								</span>
							</label>
						</div>
					</div>
					<div class="form-group guideInterval">
					    <label class="col-sm-2 control-label no-padding-right"><span class="necessary">*</span>联系人:</label>
						<div class="col-sm-3">
							<input type="text" name="managerName" value="{{selfpay.managerName}}" class="col-sm-12" maxlength="32">
						</div>
						<label class="col-sm-1 control-label no-padding-right"><span class="necessary">*</span>联系电话:</label>
						<div class="col-sm-3">
							<input type="text" name="mobileNumber" value="{{selfpay.mobileNumber}}" class="col-sm-12" maxlength="11">
							<label class="feild-label feild-error-tip" style="top:4px;right:78px;">
								<i title="该手机号码将接收短信" class="fa fa-info blue"></i>
							</label>
						</div>
					</div>
					<div class="form-group guideInterval">
					    <label class="col-sm-2 control-label no-padding-right">座机号码:</label>
						<div class="col-sm-3">
							<input type="text" name="telNumber" class="col-sm-12" value="{{selfpay.telNumber}}" maxlength="20"/>
						</div>
						<label class="col-sm-1 control-label no-padding-right">传真号码:</label>
						<div class="col-sm-3">
							<input type="text" name="faxNumber" class="col-sm-12" value="{{selfpay.faxNumber}}" maxlength="20"/>
						</div>
					</div>
					
                                                                                                             
                                                                                                  
                   <!--添加人数返佣start-->               
					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right">所在地区:</label>
						<div class="col-sm-4">
							<select name="provinceId"  style="margin-right:3px">
								<option selected="selected" value="">未选择</option>
							</select>
							<select name="cityId"  style="margin-right:3px">
								<option selected="selected" value="">未选择</option>
							</select>
							<select name="districtId">
								<option selected="selected" value="">未选择</option>
							</select>
						</div>
					</div>
                  <!--添加人数返佣end-->    

					<!--<div class="form-group guideInterval">-->
					<!-- -->
					<!--</div>-->
					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right">详细地址:</label>
						<div class="col-sm-6">
							<input type="text" name="street" value="{{selfpay.street}}" class="col-sm-12 addressMinute" placeholder="请输入街道地址" maxlength="100"/>
						</div>
					</div>
					<div class="form-group guideInterval">

					</div>
					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right">商家简介:</label>
						<div class="col-sm-8">
							<textarea class="form-control" name="remark" class="col-sm-12" >{{selfpay.remark}}</textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

	<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
		<div class="form-group priceList">
			<div class="col-xs-12 col-sm-12 widget-container-col">
				<div class=" ui-sortable-handle">
					<h5 >
						<span class="badge badge-primary">1</span>
						<label class="title-size middle">项目价格列表</label>
							<a href="javascript:void(0)" class="btn-price-add">
								<button class="btn btn-sm btn-success T-btn-selfpay-update " style="margin-left: 20px;">
								<i class="ace-icon fa fa-plus"></i>
								新增
								</button>
							</a>
						</h5>
					<div class="widget-body">
						<div class="widget-main no-padding">
							<table class="table table-striped table-bordered table-hover priceList" style="border: 1px solid #ccc">
								<thead>
									<tr>
										<th class="table-border" width="100"><span class="necessary">*</span>项目名称</th>
										<th class="table-border hidden" width="100">针对客源</th>
										<th class="table-border" width="400"><span class="necessary">*</span>时间范围</th>
										
										<th class="table-border" width="125"><span class="necessary">*</span>市场价格(元)</th>
										<th class="table-border" width="125">人数返佣(人/元)</th>
										<th class="table-border" width="125"><span class="necessary">*</span>内部价格(元)</th>
										
										<th class="table-border" width="125"><span class="necessary">*</span>导游返佣(%)</th>
										<th class="table-border" width="125"><span class="necessary">*</span>旅行社返佣(%)</th>
										<th class="table-border" width="125">备注</th>
										<th class="table-border" width="100">操作</th>
									</tr>
								</thead>
								<tbody class="T-selfpayList-Tbody">{{each selfpay.selfPayItemList as itemList}}
									<tr data-entity-id="{{itemList.id}}">
										<td>
											<input name="name" value="{{itemList.name}}" class="col-sm-12" type="text" style="min-width:100px;" maxlength="100">
										</td>
										<td class="hidden">
											<select class="col-sm-12" name="customerType" style="min-width:100px;">
												<option value="0" {{if itemList.customerType == 0}}selected="selected"{{/if}}>散客</option>
												<option value="1" {{if itemList.customerType == 1}}selected="selected"{{/if}}>团体</option>
											</select>
										</td>
										<td><div class="col-sm-12 no-padding">
												<label class="col-sm-10">日常价格</label>
												<label class="priceArea" style="padding-top:0px;">
													<button class="btn btn-success btn-sm btn-white T-add">
														<i class="ace-icon fa fa-plus bigger-110 icon-only"></i>
													</button>
												</label>
											</div>


											{{each itemList.SelfPayRebateList as rebateList index}}
												<div class="col-sm-12 no-padding T-dateTimeArea" data-index="{{index+1}}">
													<input type="hidden" name="rebateListId" value="{{rebateList.id}}" />
													<input name="startTime" value="{{rebateList.startTime | dateFormat: 'yyyy-MM-dd'}}" type="text" class="datepicker col-sm-4">
													<label class="col-sm-2 control-label center">&nbsp;至&nbsp;</label>
													<input name="endTime" value="{{rebateList.endTime | dateFormat: 'yyyy-MM-dd'}}" type="text" class="datepicker col-sm-4">
													<label class="priceArea" style="padding-top:0px;">
														<button class="btn btn-danger btn-sm btn-white T-del">
															<i class="ace-icon fa fa-minus bigger-110 icon-only" style="line-height: 14px"></i>
														</button>
													</label>
												</div>
											{{/each}}
										</td>
										

										<td><div class="col-sm-12 no-padding">
												<input name="normalMarketPrice" value="{{itemList.normalMarketPrice}}" class="col-sm-12 T-marketPrice T-calc F-float F-money" type="text" maxlength="10" data-index="0">
											</div>
											{{each itemList.SelfPayRebateList as rebateList index}}
												<div class="col-sm-12 no-padding" style="padding-top:5px!important;">
													<input name="marketPrice" value="{{rebateList.marketPrice}}" class="col-sm-12 T-marketPrice T-calc F-float F-money" type="text" maxlength="10" data-index="{{index+1}}">
												</div>
											{{/each}}
										</td>

										<td>
											<div class="col-sm-12">
												<input type="text" name="customerRebateMoney" value="{{itemList.customerRebateMoney}}" class="col-sm-12 T-customerRebateMoney T-calc F-float F-money" maxlength="10" data-index="0">
											</div>
											
										</td>


										<td><div class="col-sm-12 no-padding" data-index="0">
												<input name="normalInnerPrice" value="{{itemList.normalInnerPrice}}" class="col-sm-12 T-contractPrice T-calc  F-float F-money" type="text" maxlength="10" data-index="0">
											</div>

											{{each itemList.SelfPayRebateList as rebateList index}}
												<div class="col-sm-12 no-padding" style="padding-top:5px!important;">
													<input name="contractPrice" value="{{rebateList.price}}" class="col-sm-12 T-contractPrice T-calc" type="text" maxlength="10" data-index="{{index+1}}">
												</div>
											{{/each}}
										</td>

									
										<td><div class="col-sm-12 no-padding">
												<input name="normalGuideRate" value="{{itemList.normalGuideRate*100 | toFixed}}" class="col-sm-12 T-guideRate T-calc" type="text" maxlength="5" data-index="0">
											</div>
											{{each itemList.SelfPayRebateList as rebateList index}}
												<div class="col-sm-12 no-padding" style="padding-top:5px!important;" >
													<input name="guideRate" value="{{rebateList.guideRate*100  | toFixed}}" class="col-sm-12 T-guideRate T-calc" type="text" maxlength="5" data-index="{{index+1}}">
												</div>
											{{/each}}
										</td>
										<td><div class="col-sm-12 no-padding">
												<input name="normalTravelAgencyRate" value="{{itemList.normalTravelAgencyRate*100 | toFixed}}" class="col-sm-12 T-travelAgencyRate T-calc" type="text" maxlength="5" data-index="0">
											</div>
											{{each itemList.SelfPayRebateList as rebateList index}}
												<div class="col-sm-12 no-padding" style="padding-top:5px!important;">
													<input name="travelAgencyRate" value="{{rebateList.travelAgencyRate*100 | toFixed}}" class="col-sm-12 T-travelAgencyRate T-calc" type="text" maxlength="5" data-index="{{index+1}}">
												</div>
											{{/each}}
										</td>
										<td>
											<input name="remark" value="{{itemList.remark}}" type="text" class="col-sm-12" style="min-width:100px;" maxlength="1000">
										</td> 
										<td style="width:70px">
											<!--<button class="btn btn-xs btn-danger btn-price-delete">-->
												<!--<i class="ace-icon fa fa-trash-o bigger-120"></i>-->
											<!--</button>-->
											<a class="T-btn-price-delete">删除</a>
										</td>
									</tr>{{/each}}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="space-10"></div>
		<button class="btn btn-block btn-primary T-btn-submit-selfpay guideSubmit">
			<i class="ace-icon fa fa-check"></i>
			提交信息
		</button>
		<div class="space-20"></div>
	</form>
</div>
