
<form class="form-horizontal shopMainForm" role="form" style="margin-top:10px" onsubmit="return false">
	<table class="whereQ whereOne">
		<tr>
			<td colspan="4" class="HeadManage">商家主体信息</td>
		</tr>
		<tr>
			<td class="style-myself">商家名称：</td>
			<td class="styleOne-self">{{selfpay.name}}</td>
			<td class="style-myself">是否启用：</td>
			<td class="styleOne-self">{{if selfpay.status == 0}}
				已停用
				{{else}}
				已启用
				{{/if}}</td>
		</tr>
		<tr>
			<td class="style-myself">联系人：</td>
			<td class="styleOne-self">{{selfpay.managerName}}</td>
			<td class="style-myself">联系电话：</td>
			<td class="styleOne-self">{{selfpay.mobileNumber}}</td>
		</tr>
		<tr>
			<td class="style-myself">座机号码：</td>
			<td class="styleOne-self">{{selfpay.telNumber}}</td>
			<td class="style-myself">传真号码：</td>
			<td class="styleOne-self">{{selfpay.faxNumber}}</td>
		</tr>
		<tr>
			<td class="style-myselfOne">人数返佣(元/人)：</td>
			<td class="styleOne-self">{{selfpay.customerRebateMoney}}</td>
			<td class="style-myself">商家所在省市：</td>
			<td class="styleOne-self">{{if selfpay.province != null}}
				{{selfpay.province.name}}
				{{/if}}
				{{if selfpay.city != null}}
				-{{selfpay.city.name}}
				{{/if}}
				{{if selfpay.district != null}}
				-{{selfpay.district.name}}
				{{/if}}
			</td>
		</tr>
		<tr>
			<td class="style-myself">详细地址：</td>
			<td class="styleOne-self" colspan="3">{{selfpay.street}}</td>
		</tr>
		<tr>
			<td class="style-myself">商家简介：</td>
			<td class="styleOne-self" colspan="3">{{selfpay.remark}}</td>
		</tr>
	</table>
</form>
<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
	<table class="whereQ whereTwo">
		<tr>
			<td colspan="8" class="HeadManage" style="text-align: left">商品列表</td>
		</tr>
		<tr>
			<td class="style-myself">商品名称</td>
			<td class="style-myself">针对客源</td>
			<td class="style-myself">时间范围</td>
			<td width="18%">内部价格至市场价格</td>
			<td class="style-myself">导佣比例(%)</td>
			<td class="style-myself">社佣比例(%)</td>
			<td>备注</td>
		</tr>
		{{each selfpay.selfPayItemList as shopPolicy}}
		<tr data-entity-id="{{shopPolicy.id}}">
			<td>
				{{shopPolicy.name}}
			</td>
			<td>
				{{if shopPolicy.customerType == 0}}
				散客
				{{else}}
				团体
				{{/if}}
			</td>
			<td class="rangeTimeWidth" > 
				{{each shopPolicy.SelfPayRebateList as hopTimeArea i}}
				<div>
					{{hopTimeArea.startTime | dateFormat:'yyyy-MM-dd'}}至{{hopTimeArea.endTime | dateFormat:'yyyy-MM-dd'}}
				</div>
				{{/each}}
			</td>
			<td class="no-padding">
				{{each shopPolicy.SelfPayRebateList as hopTimeArea i}}

				

				{{hopTimeArea.price}}至{{hopTimeArea.marketPrice}}<br>

				
				{{/each}}
			</td>
			<td class="no-padding">
				{{each shopPolicy.SelfPayRebateList as hopTimeArea i}}
				<!-- <div class="col-sm-12{{if i != 0}} border-top{{/if}}" > -->
					
					<label class="col-sm-12 control-label center">
						{{hopTimeArea.guideRate*100 | toFixed}}
					</label>
					
				<!-- </div> -->
				{{/each}}
			</td>
			<td class="no-padding">
				{{each shopPolicy.SelfPayRebateList as hopTimeArea i}}
				<!-- <div class="col-sm-12{{if i != 0}} border-top{{/if}}" > -->
				
					<label class="col-sm-12 control-label center">
						{{hopTimeArea.travelAgencyRate*100 | toFixed}} 
					</label>
				
				<!-- </div> -->
				{{/each}}
			</td>
			<td class="remarkWidth">{{shopPolicy.remark}}</td>
		</tr>
		{{/each}}
	</table>
</form>

