
	<form class="form-horizontal selfpayMainForm" role="form" style="margin-top:10px" onsubmit="return false">
		<input name="selfpayId" type="hidden" value="{{selfpay.id}}" />
		<table class="whereQ whereOne">
			<tr>
				<td colspan="4" class="HeadManage">自费项目主体信息</td>
			</tr>
			<tr>
				<td class="style-myself">公司名称：</td>
				<td class="styleOne-self">{{selfpay.name}}</td>
				<td class="style-myself">是否启用：</td>
				<td class="styleOne-self">	{{if selfpay.status == 1}}
					已启用
					{{else if selfpay.status == 0}}
					已停用
					{{/if}}	</td>
			</tr>
			<tr>
				<td class="style-myself">联系人：</td>
				<td class="styleOne-self">{{selfpay.managerName}}</td>
				<td class="style-myself">联系电话：</td>
				<td class="styleOne-self">{{selfpay.mobileNumber}}</td>
			</tr>
			<tr>
				<td class="style-myself">座机号码：</td>
				<td class="styleOne-self">{{selfpay.telNumber}}</td>
				<td class="style-myself">传真号码：</td>
				<td class="styleOne-self">{{selfpay.faxNumber}}</td>
			</tr>
			<tr>
				<td class="style-myself">公司所在省市：</td>
				<td class="styleOne-self" colspan="3">{{if selfpay.province != null}}
					{{selfpay.province.name}}
					{{/if}}
					{{if selfpay.city != null}}
					-{{selfpay.city.name}}
					{{/if}}
					{{if selfpay.district != null}}
					-{{selfpay.district.name}}
					{{/if}}</td>

			</tr>
			<tr>
				<td class="style-myself">详细地址：</td>
				<td class="styleOne-self" colspan="3">{{selfpay.street}}</td>
			</tr>
			<tr>
				<td class="style-myself">公司简介：</td>
				<td class="styleOne-self" colspan="3">{{selfpay.remark}}</td>
			</tr>
		</table>
	</form>  

	<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
		<table class="whereQ whereTwo">
			<tr>
				<td colspan="8" class="HeadManage" style="text-align: left">项目价格列表</td>
			</tr>
			<tr>
				<td class="style-myself">项目名称</td>
				<td class="style-myself">针对客源</td>
				<td class="style-myself">时间区间</td>
				<td class="style-myself">内部价格(元)</td>
				<td class="style-myself">市场价格(元)</td>
				<td class="style-myself">导游返佣(%)</td>
				<td class="style-myself">旅行社返佣(%)</td>
				<td class="style-myself">备注</td>
			</tr>
			{{each selfpay.selfPayItemList as itemList}}
			<tr data-entity-id="{{itemList.id}}">
				<td>
					{{itemList.name}}
				</td>
				<td>
					{{if itemList.customerType == 0}}
					散客
					{{else if itemList.customerType == 1}}
					团体
					{{/if}}
				</td>
				<td class="rangeTimeWidth">{{each itemList.SelfPayRebateList as rebateList index}}
					{{if index == 0}}
						{{rebateList.startTime | dateFormat: 'yyyy-MM-dd'}}至{{rebateList.endTime | dateFormat: 'yyyy-MM-dd'}}
					{{else}}

					{{rebateList.startTime | dateFormat: 'yyyy-MM-dd'}}至{{rebateList.endTime | dateFormat: 'yyyy-MM-dd'}}
					{{/if}}{{/each}}
				</td>
				<td>{{each itemList.SelfPayRebateList as rebateList index}}
					{{if index == 0}}
					{{rebateList.price}}
					{{else}}
					<div class="no-padding" style="padding-top:2px!important;">
						<label class="control-label center">{{rebateList.price}}</label>
					</div>{{/if}}{{/each}}
				</td>
				<td>{{each itemList.SelfPayRebateList as rebateList index}}
					{{if index == 0}}
					<div class="no-padding">
						<label class="control-label center">{{rebateList.marketPrice}}</label>
					</div>{{else}}
					<div class="no-padding" style="padding-top:2px!important;">
						<label class="control-label center">{{rebateList.marketPrice}}</label>
					</div>{{/if}}{{/each}}
				</td>
				<td>{{each itemList.SelfPayRebateList as rebateList index}}
					{{if index == 0}}
					<div class="no-padding">
						<label class="control-label center">{{rebateList.guideRate*100 | toFixed}}</label>
					</div>{{else}}
					<div class="no-padding" style="padding-top:2px!important;">
						<label class="control-label center">{{rebateList.guideRate*100 | toFixed}}</label>
					</div>{{/if}}{{/each}}
				</td>
				<td>{{each itemList.SelfPayRebateList as rebateList index}}
					{{if index == 0}}
					<div class="no-padding">
						<label class="control-label center">{{rebateList.travelAgencyRate*100 | toFixed}}</label>
					</div>{{else}}
					<div class="no-padding" style="padding-top:2px!important;">
						<label class="control-label center">{{rebateList.travelAgencyRate*100 | toFixed}}</label>
					</div>{{/if}}{{/each}}
				</td>
				<td class="remarkWidth">
					{{itemList.remark}}
				</td>
			</tr>
			{{/each}}
		</table>
	</form>