<div class="col-sm-12 T-busInquiryContainer globalAdd" style="margin-top:10px;" >
	<div class="tabbable T-busInquiry">
		<div class="form-horizontal clearfix">
			<div class="col-sm-3 font-size-12 ">
	            <span class="pull-left align-right no-padding-right">产品名称：</span>
	            <span class="">{{lineProductInfo.name}}</span>
	        </div>
			<div class="col-sm-3 font-size-12 ">
	            <span class="pull-left align-right no-padding-right">类别：</span>
	            <span class="">{{lineProductInfo.type}}</span>
	        </div>
			<div class="col-sm-3 font-size-12 ">
	            <span class="pull-left align-right no-padding-right">针对客源：</span>
	            <span class="">{{lineProductInfo.customerType}}</span>
	        </div>
			<div class="col-sm-3 font-size-12 ">
	            <span class="pull-left control-label align-right no-padding-right">天数：</span>
	            <span class="F-float F-count">{{lineProductInfo.days}}</span>
	        </div>
			<div class="col-sm-3 font-size-12 margin-top10">
	            <span class="pull-left align-right no-padding-right">出团日期：</span>
	            <span class="">{{lineProductInfo.startTime}}</span>
	        </div>
			<div class="col-sm-3 font-size-12 margin-top10">
	            <span class="pull-left align-right no-padding-right">人数：</span>
	            <span class=""><span class="F-float F-count">{{lineProductInfo.adultCount}}</span>大<span class="F-float F-count">{{lineProductInfo.childCount}}小</span></span>
	        </div>
		</div>
		<div class="search-area clearfix" style="margin: 18px 0;border-top: 1px dotted #ccc;padding: 20px 0;border-bottom: 1px dotted #ccc;">
			<label class="pull-left text-right control-label no-padding-right">要求:</label>
			<label class="pull-left text-right control-label no-padding-right"><span class="necessary">*</span>车座数:</label>
			<div class="col-sm-2 busQuoteWidth">
				<input type="text" class="col-sm-12 width110 T-chooseSeatCount" name="seatCount" value=""/>
			</div>
			<label class="pull-left text-right control-label no-padding-right">车辆品牌:</label>
			<div class="col-sm-2 busQuoteWidth">
				<input type="text" class="col-sm-12 width110 T-chooseBusBrand" name="busBrand" value=""/>
			</div>
			<label class="pull-left text-right control-label no-padding-right"><span class="necessary">*</span>询价截止时间:</label>
			<div class="col-sm-2 busQuoteWidth">
				<input type="text" class="col-sm-12 T-dateTimePicker busQuoteWidth" name="expiryTime" value=""/>
			</div>
			<button class="btn btn-sm btn-success T-btn-busInquiry-search R-right" style="margin-left: 20px">  搜索 </button>
		</div>
		<div class="col-xs-12 T-busInquiryList" style="padding:10px 0 0 0;">
			
		</div>
		<div class="space-10"></div>
		<div class="form-group col-sm-12" style="text-align: center;">
			<button class="btn btn-sm btn-danger otherButton T-closeLayer">
				<i class="ace-icon fa fa-times "></i>
				取消
			</button>
			<button class="btn btn-sm btn-primary otherButton T-saveBusInquiry" style="margin-left: 30px">
				<i class="ace-icon fa fa-check"></i>
				保存
			</button>
		</div>
		<div class="space-10"></div>
	</div>
</div>