<div class="col-sm-12 T-hotelInquiryContainer globalAdd" style="margin-top:10px;" >
	<div class="tabbable T-hotelInquiry">
		<div class="form-horizontal clearfix">
			<div class="col-sm-3 font-size-12 ">
	            <span class="pull-left align-right no-padding-right">产品名称：</span>
	            <span class="control-label">{{lineProductInfo.name}}</span>
	        </div>
			<div class="col-sm-3 font-size-12 ">
	            <span class="pull-left align-right no-padding-right">类别：</span>
	            <span class="control-label">{{lineProductInfo.type}}</span>
	        </div>
			<div class="col-sm-3 font-size-12 ">
	            <span class="pull-left align-right no-padding-right">针对客源：</span>
	            <span class="control-label">{{lineProductInfo.customerType}}</span>
	        </div>
			<div class="col-sm-3 font-size-12 ">
	            <span class="pull-left align-right no-padding-right">天数：</span>
	            <span class="control-label"><span class="F-float F-count">{{lineProductInfo.days}}</span></span>
	        </div>
			<div class="col-sm-3 font-size-12 margin-top10">
	            <span class="pull-left align-right no-padding-right">出团日期：</span>
	            <span class="control-label">{{lineProductInfo.startTime}}</span>
	        </div>
			<div class="col-sm-3 font-size-12 margin-top10">
	            <span class="pull-left align-right no-padding-right">人数：</span>
	            <span class="control-label"><span class="F-float F-count">{{lineProductInfo.adultCount}}</span>大<span class="F-float F-count">{{lineProductInfo.childCount}}</span>小</span>
	        </div>
		</div>
		<div class="search-area clearfix" style="margin: 18px 0;border-top: 1px dotted #ccc;padding: 20px 0;border-bottom: 1px dotted #ccc;">
			<div class="col-xs-12" style="margin-bottom: 15px;">
	            <div style="float: left" class="T-searchTimeSection">
		            <div class="T-timeSectionDiv">
						<label class="text-right control-label no-padding-right"><span class="necessary">*</span>入住日期:</label>
						<select name="checkInTime" id="">
						</select>
						<label class="text-right control-label no-padding-right" style="margin-left: 17px;">离店日期:</label>
						<select name="checkOutTime" id="">
						</select>
					</div>
				</div>
	            <button class="btn btn-sm btn-success T-addSearchTimeSection" style="margin-left: 17px; float: left">
	                <i class="ace-icon fa fa-plus"></i> 增加时段
	            </button>
			</div>
			<div class="col-xs-12" style="margin-bottom: 15px;margin-left: 6px;">
				<label class="pull-left text-right control-label no-padding-right">要求:</label>
	            <!-- <span class="R-right T-addSearchCondition cursor" title="添加要求">
	                <i class="ace-icon fa fa-plus bigger-110 icon-only"></i>
	            </span> -->
	            <button class="btn btn-sm btn-success T-addSearchCondition" style="margin-left: 17px;">
	                <i class="ace-icon fa fa-plus"></i> 增加房型
	            </button>
			</div>
			<div class="col-xs-12 T-searchArea">
				<div class="T-seachAreaDiv">
					<label class="pull-left text-right control-label no-padding-right"><span class="necessary">*</span>房型:</label>
					<div class="col-sm-2">
						<input type="text" class="col-sm-12 T-chooseRoomType hotelQuoteWidth" name="roomType" value="{{}}"/>
					</div>
					<label class="pull-left text-right control-label no-padding-right"><span class="necessary">*</span>数量:</label>
					<div class="col-sm-2">
						<input type="text" class="col-sm-12 hotelQuoteWidth F-float F-count" name="roomCount" value="{{}}"/>
					</div>
					<label class="pull-left text-right control-label no-padding-right"><span class="necessary">*</span>询价截止时间:</label>
					<div class="col-sm-2">
						<input type="text" class="col-sm-12 T-dateTimePicker busQuoteWidth" name="expiryTime" value=""/>
					</div>
				</div>
				<button class="btn btn-sm btn-success T-btn-hotelInquiry-search R-right">  搜索 </button>
			</div>
		</div>
		<div class="col-xs-12 T-hotelInquiryList" style="padding:10px 0 0 0;">
		</div>
		<div class="space-10"></div>
		<div class="form-group col-sm-12" style="text-align: center;">
			<button class="btn btn-sm btn-danger otherButton T-closeLayer">
				<i class="ace-icon fa fa-times "></i>
				取消
			</button>
			<button class="btn btn-sm btn-primary otherButton T-saveHotelInquiry" style="margin-left: 30px">
				<i class="ace-icon fa fa-check"></i>
				保存
			</button>
		</div>
		<div class="space-10"></div>
	</div>
</div>