<div class="col-xs-12">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr class="bg-blur">  
				<th>线路产品</th>
				<th>出游日期</th>
				<th>入住日期</th>               
				<th>需求内容</th>
				<th>酒店</th>
				<th>星级</th>
				<th>房型</th>
				<th>房费报价</th>
				<th>反馈内容</th>
				<th>资源保留期</th>
				<th>询价截止期</th>
				<th>询价状态</th>
				<th>操作</th>
			</tr>
		</thead>
	
		<tbody>
			{{each data as rs}}
				<tr>
					<td rowspan="{{rs.hotelList.length}}">{{rs.lineProductName}}</td>
					<td rowspan="{{rs.hotelList.length}}">{{rs.startTime | dateFormat: 'yyyy-MM-dd'}}</td>
					<td rowspan="{{rs.hotelList.length}}">{{rs.arriveTime | dateFormat: 'yyyy-MM-dd'}}</td>
					<td rowspan="{{rs.hotelList.length}}">{{rs.condition}}</td>
					{{each rs.hotelList as offer index}}
						{{if index == 0}}
							<td rowspan="{{offer.roomTypeList.length}}">{{offer.hotelName}}</td>
							<td rowspan="{{offer.roomTypeList.length}}">{{offer.hotelLevel}}</td>
							{{each offer.roomTypeList as room index}}
								{{if index == 0}}
									<td class="T-hotelType-{{offer.id}}">{{room.type}}</td>
									<td class="T-hotelPrice-{{offer.id}}">{{room.replyPrice}}</td>
								{{/if}}
							{{/each}}
							<td rowspan="{{offer.roomTypeList.length}}">{{offer.remark}}</td>
							<td rowspan="{{offer.roomTypeList.length}}">{{offer.reserveMinutes}}</td>
							<td rowspan="{{offer.roomTypeList.length}}">{{offer.expiryTime}}</td>
							<td rowspan="{{offer.roomTypeList.length}}">{{offer.status}}</td>
							<td rowspan="{{offer.roomTypeList.length}}" data-id="{{offer.id}}">
								{{if offer.status == "等待确认"}}
									<a class="T-hotel-refresh">刷新</a><span> | </span> 
								{{else if offer.status == "已同意"}}
									<a class="T-hotel-add">加入</a><span> | </span>
								{{/if}}
								<a class="T-hotel-delete">删除</a>
							</td>
						{{/if}}
					{{/each}}
				</tr>
				{{each rs.hotelList as offer index}}
					{{if index == 0}}
						{{each offer.roomTypeList as room index}}
							{{if index > 0}}
								<tr>
									<td class="T-hotelType-{{offer.id}}">{{room.type}}</td>
									<td class="T-hotelPrice-{{offer.id}}">{{room.replyPrice}}</td>
								</tr>
							{{/if}}
						{{/each}}
					{{/if}}
				{{/each}}
				{{each rs.hotelList as offer index}}
					{{if index > 0}}
						<tr>
							<td rowspan="{{offer.roomTypeList.length}}">{{offer.hotelName}}</td>
							<td rowspan="{{offer.roomTypeList.length}}">{{offer.hotelLevel}}</td>
							{{each offer.roomTypeList as room index}}
								{{if index == 0}}
									<td class="T-hotelType-{{offer.id}}">{{room.type}}</td>
									<td class="T-hotelPrice-{{offer.id}}">{{room.replyPrice}}</td>
								{{/if}}
							{{/each}}
							<td rowspan="{{offer.roomTypeList.length}}">{{offer.remark}}</td>
							<td rowspan="{{offer.roomTypeList.length}}">{{offer.reserveMinutes}}</td>
							<td rowspan="{{offer.roomTypeList.length}}">{{offer.expiryTime}}</td>
							<td rowspan="{{offer.roomTypeList.length}}">{{offer.status}}</td>
							<td rowspan="{{offer.roomTypeList.length}}" data-id="{{hotel.id}}">
								{{if offer.status == "等待确认"}}
									<a class="T-hotel-refresh">刷新</a><span> | </span>
								{{else if offer.status == "已同意"}}
									<a class="T-hotel-add">加入</a><span> | </span>
								{{/if}}
								<a class="T-hotel-delete">删除</a>
							</td>
						</tr>
						{{each offer.roomTypeList as room index}}
							{{if index > 0}}
								<tr>
									<td class="T-hotelType-{{offer.id}}">{{room.type}}</td>
									<td class="T-hotelPrice-{{offer.id}}">{{room.replyPrice}}</td>
								</tr>
							{{/if}}
						{{/each}}
					{{/if}}
				{{/each}}
			{{/each}}
		</tbody>
	</table>
</div>