<div class="row col-xs-12">
	<div class="tabbable">
		<ul class="nav nav-tabs" id="inquiryTab">
			<li class="active">
				<a data-toggle="tab" href="#busInquiryResult-{{a}}" class="busInquiryResult stateQuoteStyle" aria-expanded="false" data-value="1">
					车
				</a>
			</li>
			<li>
				<a data-toggle="tab" href="#hotelInquiryContent-{{a}}" class="hotelInquiryContent stateQuoteStyle" aria-expanded="true" data-value="2">
					房
				</a>
			</li>
		</ul>
		<div class="tab-content" style="position:relative;top: -2px">
			<!--车 询价状态-->
			<div id="busInquiryResult-{{a}}" class="tab-pane fade active in clearfix">
			</div>
			<!--房 询价状态-->
			<div id="hotelInquiryContent-{{a}}" class="tab-pane fade clearfix">
			</div>
		</div>
	</div>
</div>



