<div class="col-sm-12 T-quote-lineproduct-search globalAdd" style="margin-top:10px;">
	<div class="search-area">
		<input name="lineProduct_name" class="col-xs-2 input-default-height guideInputList" value="" placeholder="请输入线路名称关键词"/>&nbsp;
		<button class="btn btn-sm btn-primary T-lineProduct-search" style="border-top-width: 2px;border-bottom-width: 2px;">
			<i class="ace-icon fa fa-search"></i>
			搜索
		</button>
	</div>

	<div class="tabbable">
		<ul id="myTab" class="nav nav-tabs">
			<li class="active">
				<a href="#chooseLineProductId" data-toggle="tab" aria-expanded="true">
					<i class="blue ace-icon fa fa-flag bigger-120"></i>
					选择路线
				</a>
			</li>
		</ul>
		<div class="tab-content col-xs-12" style="padding:10px 0 0 0;position:relative;top: -2px">
			<div class="tab-pane fade active in col-xs-12" id="chooseLineProductId">
				
				<table class="table table-striped table-bordered table-hover T-chex-radio search-travelLineList-table">
					<thead>
					<tr>
						<td>线路名称</td>
						<td>天数</td>
						<td>类别</td>
						<td>针对客源</td>
						<td>销售部门</td>
						<td>选择</td>
					</tr>
					</thead>
					<tbody class="T-normal-list">
					</tbody>
				</table>
				<div class="row pageMode">
					<div class="col-xs-5">
						<small>共计 <small class="T-total"></small> 条记录</small>
					</div>
					<div class="col-xs-7">
						<div class="dataTables_paginate paging_simple_numbers T-pagenation"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="space-10"></div>
	<button class="btn btn-block btn-primary T-searchtravelLine guideSubmit">
		<i class="ace-icon fa fa-check"></i>
		提交信息
	</button>
	<div class="space-10"></div>
</div>
