{{each lineProductList as lineProduct}}
	<tr data-quote-id="{{lineProduct.quoteId}}" data-id="{{lineProduct.id}}">
		<td name="travelLine-select" data-travelLine-Id="{{lineProduct.id}}">
			{{lineProduct.name}}
		</td>
		<td>
			<span class="F-float F-count">{{lineProduct.days}}</span>天
		</td>
		<td>
			{{lineProduct.type}}
		</td>
		<td>
			{{if lineProduct.customerType==0}}
			散客
			{{else if lineProduct.customerType==1}}
			团体
			{{/if}}
		</td>
		<td>{{if !!lineProduct.businessGroup}}{{lineProduct.businessGroup.name}} {{/if}}</td>
		<td>
			<label class="choice-TravelLine-click">
				<input type="radio" class="ace" value="123" name="choice-TravelLine" index="0">
					<span class="lbl">
						
					</span>
			</label>
		</td>
	</tr>
{{/each}}