<div class="col-xs-12">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr class="bg-blur">  
				<th>产品名称</th>
				<th>天数</th>
				<th>类别</th>               
				<th>应用范围</th>
				<th>客户</th>
				<th>联系人</th>
				<th>大人单价</th>
				<th>小孩单价</th>
				<th>总报价</th>
				<th>报价人</th>
				<th class="col-sm-1">报价时间</th>
				<th width="230">操作</th>
			</tr>
		</thead>
	
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<div class="hidden-sm hidden-xs btn-group">
						<a class="cursor R-right">
							询价状态
						</a>
						<a>|</a>
						<a class="cursor R-right">
							修改
						</a>
						<a>|</a>
						<a class="cursor R-right T-view">
							查看
						</a>
						<a>|</a>
						<a class="cursor R-right">
							删除
						</a>
						<a>|</a>
						<a data-entiy-id="" href="huochaitou.com/quote.html?key=$id" class="cursor R-right T-share">
							分享
						</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	
	<div class="row pageMode">
		<div class="col-xs-6">
			<small>共计  条记录</small>
		</div>
		<div class="col-xs-6">
			<div class="dataTables_paginate paging_simple_numbers T-pagenation">
			</div>
		</div>
	</div>
</div>