<div class="mar-b-10 clearfix T-quoteSearchForm globalAdd">
	<label class="pull-left line-h-2">产品名称&nbsp;</label>
	<div class="pull-left mar-r-10">
		<input type="text" class="col-sm-12 T-chooseLineProduct width110" placeholder="全部产品" name="lineProductName" value=""/>
		<input type="hidden" name="lineProductId" value="">
	</div>
	<label class="pull-left line-h-2">组团社&nbsp;</label>
	<div class="pull-left mar-r-10">
		<input type="text" class="col-sm-12 T-chooseLineProduct width110" placeholder="全部" name="partnerName" value="" />
		<input type="hidden" name="partnerId" value="">
	</div> 
	<label class="pull-left line-h-2">询价人&nbsp;</label>
	<div class="pull-left mar-r-10">
		<input type="text" class="col-xs-12 T-creatorUserChoose width110" placeholder="询价人" name="inquiryUserName" value=""/>
		<input type="hidden" name="inquiryUserId" value="" />
	</div>
	<label class="pull-left line-h-2">报价人&nbsp;</label>
	<div class="pull-left mar-r-10">
		<input type="text" class="col-xs-12 T-quoteUserChoose width110" placeholder="报价人" name="quoteUserName" value=""/>
		<input type="hidden" name="quoteUserId" value="" />
	</div>
	<div class="pull-left mar-r-10" style="width: 254px;">
	    <label class="pull-left line-h-2">报价日期&nbsp;</label>
        <div class="input-group">
            <input class="pull-left datepicker date-picker" name="quoteStartTime" placeholder="开始时间" value="" type="text">
            <label class="pull-left">&nbsp;至&nbsp;</label>
            <input class="pull-left datepicker date-picker" name="quoteEndTime" placeholder="结束时间" value="" type="text"> 
        </div>
	</div>
	<div class="pull-left mar-r-10">
		<button class=" btn-sm  T-btn-quote-search search-btn">
			<i class="ace-icon fa fa-search"></i>
			 搜索
		</button>
	</div>
    <div class="pull-left">
        <button class="btn btn-sm btn-success T-quote-add">
            <i class="ace-icon fa fa-plus"></i> 新增报价
        </button>
    </div>
</div>
<div class="T-quoteList">

</div>