<div class="col-xs-12">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr class="bg-blur">  
				<th>产品名称</th>
				<th>出游日期</th>
				<th>天数</th>
				<th>人数</th>
				<th>类别</th>               
				<th>应用范围</th>
				<th>客户</th>
				<th>联系人</th>
				<th>大人报价</th>
				<th>小孩报价</th>
				<th>总报价</th>
				<th>报价人</th>
				<th class="col-sm-1">报价时间</th>
				<th width="230">操作</th>
			</tr>
		</thead>
	
		<tbody>{{each quoteList as quote}}
			<tr data-entity-id="{{quote.id}}">
				<td>{{if quote.lineProduct != null}}{{quote.lineProduct.name}}{{/if}}</td>
				<td>{{if !!quote.startTime}}{{quote.startTime | dateFormat: 'yyyy-MM-dd'}}{{/if}}</td>
				<td>{{if quote.lineProduct != null}}{{quote.lineProduct.days}}{{/if}}</td>
				<td>{{quote.adultCount}}大{{quote.childCount}}小</td>
				<td>{{if quote.lineProduct != null}}{{quote.lineProduct.type}}{{/if}}</td>
				<td>{{if quote.lineProduct != null}}{{if quote.lineProduct.customerType == 0}}散客{{else}}团体{{/if}}{{/if}}</td>
				<td>{{quote.partnerAgency.travelAgencyName}}</td>
				<td>{{quote.partnerAgencyContact.contactRealname}}</td>
				<td>{{quote.adultQuotePrice}}</td>
				<td>{{quote.childQuotePrice}}</td>
				<td>{{quote.sumQuoteFee}}</td>
				<td>{{if quote.user != null}}{{quote.user.realName}}{{/if}}</td>
				<td>{{quote.createTime}}</td>
				<td>
					<div class="hidden-sm hidden-xs btn-group">
						<a class="cursor R-right T-action T-status">
							询价状态 <span style='margin-left:5px;'>|</span>
						</a>
						<a class="cursor R-right T-action {{if !quote.touristGroupId}} T-update {{/if}}" data-right="1440002" {{if !!quote.touristGroupId}} style="color:#bbb;" {{/if}}>
							修改  <span style='margin-left:5px;'>|</span>
						</a>
						
						<a class="cursor R-right T-action T-view">
							查看  <span style='margin-left:5px;'>|</span>
						</a>
						
						<a class="cursor R-right T-action {{if !quote.touristGroupId}} T-delete {{/if}}" data-right="1440003" {{if !!quote.touristGroupId}} style="color:#bbb;" {{/if}}>
							删除  <span style='margin-left:5px;'>|</span>
						</a>
						<a class="cursor R-right T-action T-share">
							分享
						</a>
					</div>
				</td>
			</tr>{{/each}}
		</tbody>
	</table>
	
	<div class="row pageMode">
		<div class="col-xs-6">
			<small>共计 {{recordSize}} 条记录</small>
		</div>
		<div class="col-xs-6">
			<div class="dataTables_paginate paging_simple_numbers T-pagenation">
			</div>
		</div>
	</div>
</div>