
<table class="table table-striped overflow-table table-bordered table-hover T-showHighLight">
    
        <colgroup>
            <col></col>
            <col></col>
            <col></col>
            <col></col>
            <col></col>
            <col></col>
            <col></col>
            <col></col>
            <col></col>
            <col></col>
            <col></col>
            <col width="277"></col>
        </colgroup>
        <thead>
        <tr class="bg-blur T-tr-fixed">
            <th>报价单号</th>
            <th>产品信息</th>
            <th>出游日期</th>
            <th>人数</th>
            <th>客户</th>
            <th>联系人</th>
            <th>大人报价</th>
            <th>小孩报价</th>
            <th>总报价</th>
            <th>报价人</th>
            <th class="col-sm-1">报价时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>{{each quoteList as quote}}
        <tr data-entity-id="{{quote.id}}">
            <td>{{quote.quoteNumber}}</td>
            <td class="h-touristGroupInfo">
                <p class="h-lineName">&lt;{{if quote.lineProduct != null}}{{quote.lineProduct.name}}{{/if}}&gt;</p>
                <p>
                    <span class="h-agencyName">{{if quote.lineProduct != null}}{{if quote.lineProduct.customerType == 0}}散客{{else}}团体{{/if}}{{/if}} 
                    </span>
                    <span class="h-agencyName"> {{if quote.lineProduct != null}}{{quote.lineProduct.type}}{{/if}}</span>
                    <label><span class="F-float F-count h-peopleCount"> {{if quote.lineProduct != null}}{{quote.lineProduct.days}}天{{/if}} </span></label>
                </p>
            </td>
            <td>{{if !!quote.startTime}}{{quote.startTime | dateFormat: 'yyyy-MM-dd'}}{{/if}}</td>
            <td><span class="F-float F-count">{{quote.adultCount}}</span>大<span class="F-float F-count">{{quote.childCount}}</span>小</td>
            <td>{{quote.partnerAgency.travelAgencyName}}</td>
            <td>{{quote.partnerAgencyContact.contactRealname}}</td>
            <td><span class="F-float F-money">{{quote.adultQuotePrice}}</span></td>
            <td><span class="F-float F-money">{{quote.childQuotePrice}}</span></td>
            <td><span class="F-float F-money">{{quote.sumQuoteFee}}</span></td>
            <td>{{if quote.user != null}}{{quote.user.realName}}{{/if}}</td>
            <td>{{quote.createTime}}</td>
            <td>
                <div class="btn-group">
                    <a class="cursor R-right T-action {{if !quote.touristGroupId}}T-status{{/if}}" data-right="1440002" {{if !!quote.touristGroupId}} style="color:#bbb;" {{/if}}>
                        询价状态 <span style='margin-left:5px;'>|</span>
                    </a>
                    <a class="cursor R-right T-action {{if !quote.touristGroupId}} T-update {{/if}}" data-right="1440002" {{if !!quote.touristGroupId}} style="color:#bbb;" {{/if}}>
                        修改  <span style='margin-left:5px;'>|</span>
                    </a>
                    <a class="cursor R-right T-action {{if !quote.touristGroupId}} T-copy {{/if}}" data-right="1440002" {{if !!quote.touristGroupId}} style="color:#bbb;" {{/if}}>
                        复制  <span style='margin-left:5px;'>|</span>
                    </a>
                    <a class="cursor T-action T-view">
                        查看  <span style='margin-left:5px;'>|</span>
                    </a>
                    <a class="cursor R-right T-action {{if !quote.touristGroupId}} T-delete {{/if}}" data-right="1440003" {{if !!quote.touristGroupId}} style="color:#bbb;" {{/if}}>
                        删除  <span style='margin-left:5px;'>|</span>
                    </a>
                    <a class="cursor T-action T-share">
                        分享
                    </a>
                </div>
            </td>
        </tr>{{/each}}
    </tbody>
</table>
<div class="row pageMode">
    <div class="col-xs-6">
        <small>共计 {{recordSize}} 条记录</small>
    </div>
    <div class="col-xs-6">
        <div class="dataTables_paginate paging_simple_numbers T-pagenation">
        </div>
    </div>
</div>
