<div class="row col-xs-12 T-newData">
	<div class="tabbable">
		<ul class="nav nav-tabs" id="quoteTab">
			<li class="active">
				<a data-toggle="tab" href="#quoteContent-{{a}}-{{tag}}" class="quoteContent quoteWidthAdd" aria-expanded="false" data-value="1">
					报价详情
				</a>
				<input type="hidden" name="mainId" value="{{mainId}}">
				<input type="hidden" name="mainHtml" value="{{mainHtml}}">
			</li>
			<li>
				<a data-toggle="tab" href="#inquiryContent-{{a}}-{{tag}}" class="inquiryContent quoteWidthAdd" aria-expanded="true" data-value="2">
					询价状态
				</a>
			</li>
		</ul>
		<div class="tab-content" style="position:relative;top: -2px">
			<!--报价详情-->
			<div id="quoteContent-{{a}}-{{tag}}" class="tab-pane fade active in clearfix">
				
			</div>
			<!--询价状态-->
			<div id="inquiryContent-{{a}}-{{tag}}" class="tab-pane fade clearfix">
				
			</div>
		</div>
	</div>
</div>













