<div style="background-color:#fff;" id="top">
    <div class="shareQuoteS" style="" id="D1">
        <div class="quote-title-style">
            <h5 class="share-title-h5">{{quoteDetailJson.lineProduct.name}}</h5>
            <p class="share-startTime">出游日期：{{quoteDetailJson.startTime | dateFormat:'yyyy-MM-dd'}}</p>
        </div>
        <div class="share-quoteBigMain">
            <div class="share-quote-offer">
                <p style="font-size: 16px;color: #ff6511;"><span>{{quoteDetailJson.partnerAgency.travelAgencyName}}</span> <span style="margin-left: 12px;">{{quoteDetailJson.partnerAgencyContact.contactRealname}}</span> <span style="margin-left: 12px;">{{quoteDetailJson.partnerAgencyContact.contactMobileNumber}}：</span></p>
                <p class="share-thank-p">感谢惠顾，线路行程和报价为您展示如下，如有不明白之处请来电，谢谢！</p>
                <p class="share-agency-name"><span>{{quoteDetailJson.travelAgency.name}}</span>
                    <span style="margin-left: 8px;">{{quoteDetailJson.user.realName}}</span>
                    <span style="margin-left: 8px;">{{quoteDetailJson.user.mobileNumber}}</span></p>
                <p style="margin-left:560px;color: #444;margin-top: -5px;">{{quoteDetailJson.createTime}}</p>
                <div class="share-quote-offerdetails">
                    <p class="share-dividing">线路报价</p>
                    <p>{{quoteDetailJson.lineProduct.name}}</p>
                    <p style="margin-top: -5px;"><span>天数：{{quoteDetailJson.lineProduct.days}}</span>
                        <span style="margin-left: 20px; ">类别：{{quoteDetailJson.lineProduct.type}}</span>
                        <span style="margin-left: 20px; ">出游日期：{{quoteDetailJson.startTime | dateFormat:'yyyy-MM-dd'}}</span>
                        <span style="margin-left: 20px; ">出游人数：{{quoteDetailJson.adultCount}}大{{quoteDetailJson.childCount}}小</span>
                    </p>
                    <table class="whereQ whereTwo quoteTable" style="width: 100%;margin-bottom: 10px;">
                        <tr style="font-weight: bold;background-color: #F3F3F3;">
                            <td class="style-myself"></td>
                            <td class="style-myself">大人</td>
                            <td class="style-myself">小孩</td>
                            <td class="style-myself">总价</td>
                        </tr>
                        <tr>
                            <td>单价</td>
                            <td style="font-size: 14px;color: #ff6511;font-weight: bold;">￥{{quoteDetailJson.adultQuotePrice}}</td>
                            <td style="font-size: 14px;color: #ff6511;font-weight: bold;">￥{{quoteDetailJson.childQuotePrice}}</td>
                            <td rowspan="3" style="font-size: 14px;font-weight: bold;">￥{{quoteDetailJson.sumQuoteFee}}</td>
                        </tr>
                        <tr>
                            <td>数量</td>
                            <td>{{quoteDetailJson.adultCount}}</td>
                            <td>{{quoteDetailJson.childCount}}</td>
                        </tr>
                    </table>
                    <p><span style="color: #ff6511">*</span>备注：&nbsp;&nbsp;&nbsp;单房差报价：{{quoteDetailJson.singleRoomQuotePrice}}，单方差数量：{{quoteDetailJson.singleRoomCount}}。</p>
                    {{if !!busCompanyArrange}}
                    <p style="margin-left: 55px;">交通：
                        <span>{{if !!busCompanyArrange.bus}}{{busCompanyArrange.bus.brand}}{{/if}}</span>
                        <span>{{if !!busCompanyArrange.bus}}{{busCompanyArrange.bus.seatCount}}{{/if}}座，</span>
                        <span>{{busCompanyArrange.remark}}</span></p>
                    {{/if}}
                </div>
            </div>
            <div class="share-quote-arrange">
                <p class="share-dividing">线路安排</p>
                {{each daysList as viewQuoteDaysList i}}
                <table class="whereQ quoteTable quoteTable-arrange" style="width: 100%;margin-bottom: 30px;">
                    <tr style="font-weight: bold;background-color: #F3F3F3;">
                        <td class="style-myself" colspan="3"><span>第{{i+1}}天</span> <span style="margin-left: 10px;">{{viewQuoteDaysList.times}}</span> <span></span></td>
                    </tr>
                    <!-- 交通 -->
                    <tr>
                        <td style="width: 160px">交通</td>
                        <td style="text-align: left;"> <span>{{busCompanyArrange.bus.brand}}</span></td>
                        <td style="width: 180px;"></td>
                    </tr>
                    <!-- 含餐 -->
                    <tr>
                        <td>含餐</td>
                        <td><span>{{viewQuoteDaysList.lineProductDay.repastDetail}}</span>
                        </td>
                        <td></td>
                    </tr>
                    <!-- 购物 -->
                    {{each viewQuoteDaysList.shopArrange as shopList}}
                    <tr>
                        <td>购物</td>
                        <td>{{shopList.shop.name}}</td>
                        <td> </td>
                    </tr>
                    {{/each}}
                    <!-- 餐饮 -->
                    {{if viewQuoteDaysList.restaurantArrange != null}} {{each viewQuoteDaysList.restaurantArrange as restaurantList index}} {{if index == 0}}
                    <tr>
                        <td rowspan="{{viewQuoteDaysList.restaurantArrange.length}}">餐饮</td>
                        <td>{{restaurantList.restaurantStandard.type}} <span style="margin-left: 15px;">{{restaurantList.restaurant.name}}</span></td>
                        <td>￥{{restaurantList.restaurantStandard.price}}</td>
                    </tr>
                    {{/if}} {{/each}} {{each viewQuoteDaysList.restaurantArrange as restaurantList index}} {{if index > 0}}
                    <tr>
                        <td>{{restaurantList.restaurantStandard.type}} <span style="margin-left: 15px;">{{restaurantList.restaurant.name}}</span></td>
                        <td>￥{{restaurantList.restaurantStandard.price}}</td>
                    </tr>
                    {{/if}} {{/each}} {{/if}}
                    <!-- 住宿 -->
                    {{if viewQuoteDaysList.hotelArrange != null}} {{each viewQuoteDaysList.hotelArrange as hotelList index}} {{if index == 0}}
                    <tr>
                        <td rowspan="{{viewQuoteDaysList.hotelArrange.length}}">住宿</td>
                        <td><span>三星</span><span>{{hotelList.hotel.name}}</span> <span style="margin-left: 15px;">{{hotelList.hotelRoom.type}}</span><span style="margin-left: 15px;display: inline-block;width: 400px;">
                        含午</span> <span style="margin-left: 15px;">价格很低价格后见到过个电饭锅的加空格年的几个客户把你们国考订房后面句年的几个</span></td>
                        <td>￥{{hotelList.price}}</td>
                    </tr>
                    {{/if}} {{/each}} {{each viewQuoteDaysList.hotelArrange as hotelList index}} {{if index > 0}}
                    <tr>
                        <td>{{hotelList.hotel.name}} <span style="margin-left: 15px;">{{hotelList.hotelRoom.type}}</span></td>
                        <td>￥{{hotelList.price}}</td>
                    </tr>
                    {{/if}} {{/each}} {{/if}}
                    <!-- 景点 -->
                    {{if viewQuoteDaysList.scenicArrange != null}} {{each viewQuoteDaysList.scenicArrange as scenicList index}} {{if index == 0}}
                    <tr>
                        <td rowspan="{{viewQuoteDaysList.scenicArrange.length}}">景点</td>
                        <td>{{scenicList.scenic.name}} <span style="margin-left: 15px;">6小时</span> <span style="margin-left: 15px;">{{scenicList.remark}}</span></td>
                        <td>￥{{scenicList.price}}</td>
                    </tr>
                    {{/if}} {{/each}} {{each viewQuoteDaysList.scenicArrange as scenicList index}} {{if index > 0}}
                    <tr>
                        <td>{{scenicList.scenic.name}}</td>
                        <td>￥{{scenicList.price}}</td>
                    </tr>
                    {{/if}} {{/each}} {{/if}}
                    <!-- 自费 -->
                    {{each viewQuoteDaysList.selfPayArrange as selfPayList}}
                    <tr>
                        <td>自费</td>
                        <td>{{selfPayList.selfPayItem.name}}</td>
                        <td>￥{{selfPayList.price}}</td>
                    </tr>
                    {{/each}}
                </table>
                <!--  <p><span class="share-attention"></span> <b style="position: absolute;margin-left: 5px;">特色</b> </p>
<p style=""><span>酒店：</span><span>全程三星</span></p>
<p style="margin-top: -4px"><span>景点：</span><span>全程15个景点，(映秀 羌族 黄龙 九寨 宽窄巷子)</span></p>
<p style="margin-top: -4px"><span>购物：</span><span>全程15个景点，(映秀 羌族 黄龙 九寨 宽窄巷子)</span></p>
<p style="margin-top: -4px;margin-bottom: 50px;"><span>特色：</span><span>全程15个景点，(映秀 羌族 黄龙 九寨 宽窄巷子)</span></p> -->
                {{/each}}
            </div>
            <div class="share-quote-schedule">
                <p id="D2" class="share-dividing">日程安排</p>
                {{each daysList as viewQuoteDaysList i}}
                <div class="share-quote-origin">
                    <span class="share-startTime-divid">{{viewQuoteDaysList.times}}</span>
                    <p style="margin-top: 6px;color: #222;font-size: 15px">出发地--成都</p>
                    <div class="share-detailedContent">
                        <div style="width: 960px;margin: auto;overflow: scroll;">
                            {{#viewQuoteDaysList.lineProductDay.detail}}
                        </div>
                        <!-- <p style="margin-top: 20px">自行搭乘航班飞往成都，工作人员在成都双流机场接机，送至酒店，办理手续后入住酒店休息（如果时间较充裕，可自行前往成都的春熙路、天府广场等繁华商业区游玩，晚上可就近享受四川美食）。 
</p> -->
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="share-needing-attention">
                <p id="D3" class="share-dividing">注意事项</p>
                <div class="form-group">
                    <p><span class="share-attention"></span><b style="position: absolute;margin-left: 5px;">费用包含</b></p>
                    <p>{{quoteDetailJson.lineProduct.includeFee}}</p>
                </div>
                <div class="form-group" style="margin-top: 20px;">
                    <p><span class="share-attention"></span><b style="position: absolute;margin-left: 5px;">费用不含</b></p>
                    <p>{{quoteDetailJson.lineProduct.excludeFee}}</p>
                </div>
                <div class="form-group" style="margin-top: 20px;">
                    <p><span class="share-attention"></span><b style="position: absolute;margin-left: 5px;">行程特色</b> </p>
                    <p>{{quoteDetailJson.lineProduct.lineFeature}}</p>
                </div>
                <div class="form-group" style="margin-top: 20px;">
                    <p><span class="share-attention"></span> <b style="position: absolute;margin-left: 5px;">行程须知</b> </p>
                    <p>{{quoteDetailJson.lineProduct.lineNotice}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<p id="back-top"><a href=""><span></span></a></p>
<div class="share-anchor" style="width: 30px;height: 170px;background-color: #eaeaea;position: fixed;top: 340px;left:414px;border-radius: 20px">
    <ul class="share-anchor-ul">
        <li><a href="#D1">D1</a></li>
        <li><a href="#D2">D2</a></li>
        <li><a href="#D3">D3</a></li>
    </ul>
</div>
