<div class="col-xs-12 viewQuoteContainer">
    <form class="form-horizontal viewQuoteMainForm" role="form" style="margin-top:10px" onsubmit="return false">
        <div class="ui-sortable-handle" style="margin-bottom: 30px;">
            <h5 class=" pull-left ">
					<i class="ace-icon fa fa-info-circle title-size"></i>
					<label class="middle title-size">线路产品信息</label>
				</h5>
            <div class="pull-right line-bluer line-separated"></div>
            <div style="clear: both"></div>
            <div class="widget-body" style="border: 1px solid #DDD;line-height:24px;width: 98%;margin: auto;padding-top: 12px;">
                <div class="widget-main">
                    <div class="form-group">
                        <label class="col-sm-1 control-label no-padding-right">线路产品名称:</label>
                        <div class="col-sm-2">
                            <label class="control-label" style="position: absolute;">{{quoteDetailJson.lineProduct.name}}</label>
                            <input type="hidden" value="" name="lineProductId">
                        </div>
                        <label class="col-sm-1 control-label no-padding-right">售卖标注:</label>
                        <div class="col-sm-1">
                            <label class="control-label"> {{if quoteDetailJson.lineProduct.status == 1}} 售卖中 {{else}} 未售卖 {{/if}}</label>
                        </div>
                    
                        <label class="col-sm-1 control-label no-padding-right">线路天数:</label>
                        <div class="col-sm-1">
                            <label class="control-label" name="days" value="">{{quoteDetailJson.lineProduct.days}}</label>
                        </div>
                        <label class="col-sm-1 control-label no-padding-right">类别:</label>
                        <div class="col-sm-1">
                            <label class="control-label">{{quoteDetailJson.lineProduct.type}}</label>
                        </div>
                        <label class="col-sm-1 control-label no-padding-right">针对客源:</label>
                        <div class="col-sm-1">
                            <label class="control-label"> {{if quoteDetailJson.lineProduct.customerType == 1}} 团体 {{else}} 散客 {{/if}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                    {{if !!quoteDetailJson.shopNames}}
                        <label class="col-sm-1 control-label no-padding-right">购物商家:</label>
                        <div class="col-sm-2">
                            <label class="control-label" style="text-align: left">{{quoteDetailJson.shopNames}}</label>
                        </div>
                    {{/if}}
                    {{if !!quoteDetailJson.selfPayItemNames}}
                        <label class="col-sm-1 control-label no-padding-right">自费商家:</label>
                        <div class="col-sm-2">
                            <label class="control-label" style="text-align: left">{{quoteDetailJson.selfPayItemNames}}</label>
                        </div>
                    {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <h5 class=" pull-left ">
					<i class="ace-icon fa fa-info-circle title-size"></i>
					<label class="middle title-size">报价基本信息</label>
		</h5>
        <div class="pull-right line-bluer line-separated"></div>
        <div class="ui-sortable-handle" style="margin-bottom: 30px;">
            <div style="clear: both"></div>
            <div class="widget-body" style="border: 1px solid #DDD;line-height:30px;margin: auto;padding-top: 6px;height:auto;">
                <div class="widget-main">
                    <div class="form-group">
                        <div class="col-sm-2 viewQuoteInformation">
                         <label class="col-sm-5 control-label no-padding-right">出游日期:</label>
                            <label class="control-label">{{quoteDetailJson.startTime | dateFormat: 'yyyy-MM-dd'}}</label>
                            <input type="hidden" value="" name="">
                        </div>
                        
                        <div class="col-sm-1 viewQuoteInformation">
                        <label class="col-sm-6 control-label no-padding-right">人数:</label>
                            <label class="control-label">{{quoteDetailJson.adultCount}}大{{quoteDetailJson.childCount}}小</label>
                        </div>
                        
                        <div class="col-sm-2 viewQuoteInformation">
                        <label class="col-sm-5 control-label no-padding-right">客户:</label>
                            <label class="control-label" name="days" value="">{{quoteDetailJson.partnerAgency.travelAgencyName}}</label>
                        </div>
                        
                        <div class="col-sm-2 viewQuoteInformation">
                        <label class="col-sm-5 control-label no-padding-right">同行联系人:</label>
                            <label class="control-label">{{quoteDetailJson.partnerAgencyContact.contactRealname}}</label>
                        </div>
                    
                        
                        <div class="col-sm-2 viewQuoteInformation">
                        <label class="col-sm-5 control-label no-padding-right">联系电话:</label>
                            <label class="control-label">{{quoteDetailJson.partnerAgencyContact.contactMobileNumber}}</label>
                        </div>
                        
                        <div class="col-sm-1 viewQuoteInformation">
                        <label class="col-sm-7 control-label no-padding-right">单房差数:</label>
                            <label class="control-label"> {{quoteDetailJson.singleRoomCount}}</label>
                        </div>
                        
                        <div class="col-sm-2 viewQuoteInformation">
                        <label class="col-sm-5 control-label no-padding-right">报价单号:</label>
                            <label class="control-label"> {{quoteDetailJson.quoteNumber}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group T-isChooseService">
            <div style="width: 500px;margin-left: 13px;">
                <label style="padding-right: 50px;">
                    <input  type="checkbox" disabled="true" class="ace T-changeQuote" value="1" name="includeSelfpay"{{if quoteDetailJson.isContainGuideFee==1}}checked="checked"{{/if}}>
                    <span class="lbl">
                        含导服费
                    </span>
                </label>
                <label style="padding-right: 50px;">
                    <input  type="checkbox" disabled="true" class="ace T-changeQuote" value="1" name="childNeedBed" {{if quoteDetailJson.isChildNeedRoom==1}}checked="checked"{{/if}}>
                    <span class="lbl">
						小孩占床
					</span>
                </label>
                <label>
                    <input  type="checkbox" disabled="true" class="ace T-changeQuote" value="1" name="includeGuideFee"{{if quoteDetailJson.isContainSelfPay==1}}checked="checked"{{/if}}>
                    <span class="lbl">
						包含自费
					</span>
                </label>
                <label>按床位计算单房差，默认2人/间房（不论房型）</label>
            </div>
        </div>
        <div class="col-xs-12">
        <div class="col-xs-2 viewQuoteProduct">	<p style="margin-top: 6px;">报</p><p>价</p><p>产</p><p>品</p>
        </div>

        	<div class="col-xs-2 viewQuoteFdiv">
        	<p style="height: 30px;margin-top: 10px">
        	<span>大人成本价</span><span style="margin-left: 30px;">{{quoteDetailJson.adultCostPrice}}</span>
        	</p>
        	<p style="height: 30px"><span>大人报价</span> <span style="margin-left: 30px;">{{quoteDetailJson.adultQuotePrice}}</span>
        	</p>
        	<p style="height: 30px"><span>大人毛利预估</span> <span style="margin-left: 15px;">{{quoteDetailJson.adultQuotePrice - quoteDetailJson.adultCostPrice | toFixed}}</span>
        	</p>
        	<p></p>
        	<p></p>
        	</div>

        	<div class="col-xs-2 viewQuoteDiv">
        	<p style="height: 30px;margin-top: 10px"><span>小孩成本价</span> <span style="margin-left: 30px;">{{quoteDetailJson.childCostPrice}}</span>
        	</p>
        	<p style="height: 30px"><span>小孩报价</span> <span style="margin-left: 30px;">{{quoteDetailJson.childQuotePrice}}</span>
        	</p>
        	<p style="height: 30px"><span>小孩毛利预估</span> <span style="margin-left: 15px;">{{quoteDetailJson.childQuotePrice - quoteDetailJson.childCostPrice | toFixed}}</span>
        	</p>
        	</div>
        	<div class="col-xs-2 viewQuoteDiv">
        	<p style="height: 30px;margin-top: 10px"><span>单房差成本价</span> <span style="margin-left: 30px;">{{quoteDetailJson.singleRoomCostPrice}}</span>
        	</p>
        	<p style="height: 30px"><span>单房差报价</span> <span style="margin-left: 30px;">{{quoteDetailJson.singleRoomQuotePrice}}</span>
        	</p>
        	<p style="height: 30px"><span>单房差毛利预估</span> <span style="margin-left:10px;">{{quoteDetailJson.singleRoomQuotePrice - quoteDetailJson.singleRoomCostPrice | toFixed}}</span>
        	</p>
        	</div>
        	<div class="col-xs-2 viewQuoteDiv">
        	<p style="height: 30px;margin-top: 10px"><span>总成本价</span> <span style="margin-left: 30px;">{{quoteDetailJson.sumCostFee}}</span>
        	</p>
        	<p style="height: 30px"><span>总报价</span> <span style="margin-left: 30px;">{{quoteDetailJson.sumQuoteFee}}</span>
        	</p>
        	<p style="height: 30px"><span>毛利预估</span> <span style="margin-left: 30px;">{{quoteDetailJson.sumQuoteFee - quoteDetailJson.sumCostFee | toFixed}}</span>
        	</p>
        	</div>
        </div>
	  <div class="col-xs-12" style="border: 1px solid #DDD;line-height:30px;margin: auto;padding-top: 4px;height:auto;margin: 20px 0px 20px;">备注：{{quoteDetailJson.remark}}</div>
    </form>

    <form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
        <div class="form-group">
            <div class="col-xs-12 col-sm-12 widget-container-col">
                <div class=" ui-sortable-handle">
                    <h5 class="pull-left title-size">
							<i class="ace-icon fa fa-calendar-minus-o"></i>
							<label class="middle title-size">基础安排模板</label>
						</h5>
                    <div class="pull-right line-bluer line-separatedT"></div>
                    <div style="clear: both"></div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="col-xs-12 col-sm-12 widget-container-col">
                                <div class=" ui-sortable-handle">
                                    <h5 class="" style="color: #666!important;font-size: 14px!important;">
											<i class="ace-icon fa fa-circle " style="font-size: 10px!important;"></i>
											<label class="middle " style="font-weight: bold!important;margin-top: 5px">导游安排</label>
										</h5>
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <table class="table table-striped table-bordered table-hover T-arrangeGuideList">
                                                <thead>
                                                    <tr>
                                                        <th width="220" class="th-border">导服费(成本价)</th>
                                                        <th width="220" class="th-border">市场价</th>
                                                        <th class="th-border">备注</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        {{if guideQuote != null}}
                                                        <td>{{guideQuote.price}}</td>
                                                        <td>{{guideQuote.quotePrice}}</td>
                                                        <td>{{guideQuote.remark}}</td>
                                                        {{else}}
                                                        <td></td>
                                                        <td></td>
                                                        {{/if}}
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-12 col-sm-12 widget-container-col">
                                <div class=" ui-sortable-handle">
                                    <h5 class="" style="color: #666!important;font-size: 14px!important;">
												<i class="ace-icon fa fa-circle " style="font-size: 10px!important;"></i>
												<label class="middle " style="font-weight: bold!important;margin-top: 5px">保险安排</label>
											</h5>
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <table class="table table-striped table-bordered table-hover T-arrangeInsuranceList">
                                                <thead>
                                                    <tr>
                                                        <th class="th-border">保险公司</th>
                                                        <th class="th-border">险种</th>
                                                        <th class="th-border">成本价</th>
                                                        <th class="th-border">市场价</th>
                                                        <th class="th-border">备注</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{each insuranceQuote as rs}}
                                                    <tr>
                                                        <td>{{rs.insurance.name}}</td>
                                                        <td>{{if !!rs.insuranceItem}}{{rs.insuranceItem.name}}{{/if}}</td>
                                                        <td>{{rs.price}}</td>
                                                        <td>{{rs.quotePrice}}</td>
                                                        <td>{{rs.remark}}</td>
                                                    </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-12 col-sm-12 widget-container-col">
                                <div class=" ui-sortable-handle">
                                    <h5 class="" style="color: #666!important;font-size: 14px!important;">
												<i class="ace-icon fa fa-circle " style="font-size: 10px!important;"></i>
												<label class="middle " style="font-weight: bold!important;margin-top: 5px">车队安排</label>
											</h5>
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <table class="table table-striped table-bordered table-hover T-arrangeBusCompanyList">
                                                <thead>
                                                    <tr>
                                                        <th class="th-border">座位数</th>
                                                        <th class="th-border">车辆品牌</th>
                                                        <th class="th-border">车队</th>
                                                        <th class="th-border">联系人</th>
                                                        <th class="th-border">联系电话</th>
                                                        <th class="th-border">成本价</th>
                                                        <th class="th-border">市场价</th>
                                                        <th class="th-border">备注</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{each busCompanyQuote as rs}}
                                                    <tr>
                                                        <td>{{rs.needSeatCount}}</td>
                                                        <td>{{rs.brand}}</td>
                                                        <td>{{rs.busCompany.companyName}}</td>
                                                        <td>{{rs.busCompany.managerName}}</td>
                                                        <td>{{rs.busCompany.mobileNumber}}</td>
                                                        <td>{{rs.price}}</td>
                                                        <td>{{rs.quotePrice}}</td>
                                                        <td>{{rs.remark}}</td>
                                                    </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group lineDayArrangeTemplate">
            <div class="col-xs-12 col-sm-12 widget-container-col">
                <div class=" ui-sortable-handle widgetSchedule">
                    <h5 class="pull-left title-size">
							<i class="ace-icon fa fa-paper-plane"></i>
							<label class="middle title-size">行程安排模板</label>
						</h5>
                    <div class="pull-right line-bluer  line-separatedT"></div>
                    <div style="clear: both"></div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="tabbable">
                                <ul class="nav nav-tabs" id="myTab">
                                    {{each daysList as viewQuoteDaysList i}}
                                    <li {{if i==0 }}class="active" {{/if}}>
                                        <a aria-expanded="true" data-toggle="tab" href="#dayListView-{{i}}" style="text-align:center;width:140px;"> 
											第{{i+1}}天
										</a>
                                    </li>
                                    {{/each}}
                                </ul>
                                <div class="tab-content T-daylist" style="position: relative; top: -2px; border: 1px solid #ececec">
                                    {{each daysList as viewQuoteDaysList i}}
                                    <div id="dayListView-{{i}}" class="tab-pane fade {{if i == 0}}active in{{/if}}">
                                        <div class="col-xs-12 col-sm-12 widget-container-col T-dailyArrangeList">
                                            <div class="ui-sortable-handle">
                                                <h5 class="">
														<label class="title-size">简要行程：{{viewQuoteDaysList.lineProductDay.title}}</label>
													</h5>
                                                <div id="timeline-1">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12">
                                                            <div class="timeline-container T-timeline-container">
                                                                <div class="timeline-items T-timeline-detail-container">
                                                                    <!-- /.餐饮列表 -->
                                                                    {{each viewQuoteDaysList.restaurantQuote as restaurantList}}
                                                                    <div class="T-timeline-item timeline-item clearfix T-RestaurantList ui-sortable-handle" data-entity-index="">
                                                                        <div class="timeline-info" style="color:#1fade0;margin-left: 4px">
                                                                            <i class="ace-icon fa fa-circle"></i>
                                                                            <span>餐饮</span>
                                                                        </div>
                                                                        <div class="widget-box transparent" style="margin-top: 20px">
                                                                            <div class="widget-body">
                                                                                <div class="widget-main">
                                                                                    <table class="table table-striped table-bordered table-hover">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th class="th-border">餐厅名称</th>
                                                                                                <th class="th-border">餐厅电话</th>
                                                                                                <th class="th-border">用餐类型</th>
                                                                                                <th class="th-border">成本价<span style="font-size:12px;">(元/人)</span></th>
                                                                                                <th class="th-border">市场价<span style="font-size:12px;">(元/人)</span></th>
                                                                                                <th class="th-border">菜单</th>
                                                                                                <th class="th-border">备注</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>{{restaurantList.restaurant.name}}</td>
                                                                                                <td>{{restaurantList.restaurant.mobileNumber}}</td>
                                                                                                <td>{{if !!restaurantList.restaurantStandard}}{{restaurantList.restaurantStandard.type}}{{/if}}</td>
                                                                                                <td>{{restaurantList.price}}</td>
                                                                                                <td>{{restaurantList.quotePrice}}</td>
                                                                                                <td>{{if !!restaurantList.restaurantStandard}}{{restaurantList.restaurantStandard.menuList}}{{/if}}</td>
                                                                                                <td>{{restaurantList.remark}}</td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    {{/each}}
                                                                    <!-- /.酒店 -->
                                                                    {{if viewQuoteDaysList.hotelQuote.length > 0}}
                                                                    <div class="T-timeline-item timeline-item clearfix T-resourceHotelList ui-sortable-handle" data-entity-index="">
                                                                        <div class="timeline-info" style="color:#1fade0;margin-left: 4px">
                                                                            <i class="ace-icon fa fa-circle"></i>
                                                                            <span>酒店</span>
                                                                        </div>
                                                                        <div class="widget-box transparent" style="margin-top: 20px">
                                                                            <div class="widget-body">
                                                                                <div class="widget-main">
                                                                                    <table class="table table-striped table-bordered table-hover">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th class="th-border">酒店星级</th>
                                                                                                <th class="th-border">酒店名称</th>
                                                                                                <th class="th-border">房型</th>
                                                                                                <th class="th-border">成本价</th>
                                                                                                <th class="th-border">市场价</th>
                                                                                                <th class="th-border">含餐</th>
                                                                                                <th class="th-border">电话</th>
                                                                                                <th class="th-border">备注</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            {{each viewQuoteDaysList.hotelQuote as hotelList}}
                                                                                            <tr>
                                                                                                <td>
                                                                                                    {{if hotelList.hotel.level == 1}} 三星以下 {{else if hotelList.hotel.level == 2}} 三星 {{else if hotelList.hotel.level == 3}} 准四星 {{else if hotelList.hotel.level == 4}} 四星 {{else if hotelList.hotel.level == 5}} 准五星 {{else if hotelList.hotel.level == 6}} 五星 {{else}} 五星以上 {{/if}}
                                                                                                </td>
                                                                                                <td>{{hotelList.hotel.name}}</td>
                                                                                                <td>{{hotelList.hotelRoom.type}}</td>
                                                                                                <td>{{hotelList.price}}</td>
                                                                                                <td>{{hotelList.quotePrice}}</td>
                                                                                                <td>
                                                                                                    {{if hotelList.hotelRoom.containBreakfast==1}}含早餐、{{/if}}{{if hotelList.hotelRoom.containLunch==1}}含午餐、{{/if}}{{if hotelList.hotelRoom.containDinner==1}}含晚餐、{{/if}}
                                                                                                </td>
                                                                                                <td>{{hotelList.hotel.mobileNumber}}</td>
                                                                                                <td>{{hotelList.remark}}</td>
                                                                                            </tr>
                                                                                            {{/each}}
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    {{/if}}
                                                                    <!-- /.景区 -->
                                                                    {{each viewQuoteDaysList.scenicQuote as scenicList}}
                                                                    <div class="T-timeline-item timeline-item clearfix T-resourceScenicList ui-sortable-handle" data-entity-index="">
                                                                        <div class="timeline-info" style="color:#1fade0;margin-left: 4px">
                                                                            <i class="ace-icon fa fa-circle"></i>
                                                                            <span>景区</span>
                                                                        </div>
                                                                        <div class="widget-box transparent" style="margin-top: 20px">
                                                                            <div class="widget-body">
                                                                                <div class="widget-main">
                                                                                    <table class="table table-striped table-bordered table-hover">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th class="th-border">景区名称</th>
                                                                                                <th class="th-border">收费项目</th>
                                                                                                <th class="th-border">成本价</th>
                                                                                                <th class="th-border">市场价</th>
                                                                                                <th class="th-border">联系电话</th>
                                                                                                <th class="th-border">备注</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>{{scenicList.scenic.name}}</td>
                                                                                                <td>{{scenicList.scenicItem.name}}</td>
                                                                                                <td>{{scenicList.price}}</td>
                                                                                                <td>{{scenicList.quotePrice}}</td>
                                                                                                <td>{{scenicList.scenic.mobileNumber}}</td>
                                                                                                <td>{{scenicList.remark}}</td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    {{/each}}
                                                                    <!-- /.购物 -->
                                                                    {{each viewQuoteDaysList.shopQuote as shopList}}
                                                                    <div class="T-timeline-item timeline-item clearfix T-resourceShoppingList ui-sortable-handle" data-entity-index="">
                                                                        <div class="timeline-info" style="color:#1fade0;margin-left: 4px">
                                                                            <i class="ace-icon fa fa-circle"></i>
                                                                            <span>购物</span>
                                                                        </div>
                                                                        <div class="widget-box transparent" style="margin-top: 20px">
                                                                            <div class="widget-body">
                                                                                <div class="widget-main">
                                                                                    <table class="table table-striped table-bordered table-hover">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th class="th-border">商家名称</th>
                                                                                                <th class="th-border">商品政策</th>
                                                                                                <th class="th-border">联系电话</th>
                                                                                                <th class="th-border">停车返佣（元/辆）</th>
                                                                                                <th class="th-border">人数返佣（元/人）</th>
                                                                                                <th class="th-border">备注</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>{{shopList.shop.name}}</td>
                                                                                                <td>{{shopList.shopPolicy.name}}</td>
                                                                                                <td>{{shopList.shop.mobileNumber}}</td>
                                                                                                <td>{{shopList.shop.parkingRebateMoney || 0}}</td>
                                                                                                <td>{{shopList.shop.customerRebateMoney || 0}}</td>
                                                                                                <td>{{shopList.remark}}</td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    {{/each}}
                                                                    <!-- /.自费 -->
                                                                    {{each viewQuoteDaysList.selfPayQuote as selfPayList}}
                                                                    <div class="T-timeline-item timeline-item clearfix T-resourceSelfPayList ui-sortable-handle" data-entity-index="">
                                                                        <div class="timeline-info" style="color:#1fade0;margin-left: 4px">
                                                                            <i class="ace-icon fa fa-circle"></i>
                                                                            <span>自费</span>
                                                                        </div>
                                                                        <div class="widget-box transparent " style="margin-top: 20px">
                                                                            <div class="widget-body">
                                                                                <div class="widget-main">
                                                                                    <table class="table table-striped table-bordered table-hover mar">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th class="th-border">公司名称</th>
                                                                                                <th class="th-border">项目名称</th>
                                                                                                <th class="th-border">联系电话</th>
                                                                                                <th class="th-border">成本价</th>
                                                                                                <th class="th-border">市场价</th>
                                                                                                <th class="th-border">负责人</th>
                                                                                                <th class="th-border">备注</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>{{selfPayList.selfPay.name}}</td>
                                                                                                <td>{{selfPayList.selfPayItem.name}}</td>
                                                                                                <td>{{selfPayList.selfPay.mobileNumber}}</td>
                                                                                                    
                                                                                                <td>{{selfPayList.price}}</td>
                                                                                                <td>{{selfPayList.quotePrice}}</td>
                                                                                                <td>{{selfPayList.selfPay.managerName}}</td>
                                                                                                <td>{{selfPayList.remark}}</td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    {{/each}}
                                                                    <!-- /.交通 -->
                                                                    {{each viewQuoteDaysList.ticketQuote as ticketList}}
                                                                    <div class="T-timeline-item timeline-item clearfix T-resourceTicketList ui-sortable-handle" data-entity-index="">
                                                                        <div class="timeline-info" style="color:#1fade0;margin-left: 4px">
                                                                            <i class="ace-icon fa fa-circle"></i>
                                                                            <span>交通</span>
                                                                        </div>
                                                                        <div class="widget-box transparent" style="margin-top: 20px">
                                                                            <div class="widget-body">
                                                                                <div class="widget-main">
                                                                                    <table class="table table-striped table-bordered table-hover">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th class="th-border">票务公司名称</th>
                                                                                                <th class="th-border">类型</th>
                                                                                                <th class="th-border">成本价</th>
                                                                                                <th class="th-border">市场价</th>
                                                                                                <th class="th-border">联系人</th>
                                                                                                <th class="th-border">联系电话</th>
                                                                                                <th class="th-border">公司电话</th>
                                                                                                <th class="th-border">备注</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>{{ticketList.ticket.name}}</td>
                                                                                                <td>
                                                                                                    {{if ticketList.type == 1 }}机票 {{ else if ticketList.type == 2}} 汽车票 {{ else if ticketList.type == 3 }} 火车票 {{ else if ticketList.type == 4}} 轮船票 {{ /if }}
                                                                                                </td>
                                                                                                <td>{{ticketList.price}}</td>
                                                                                                <td>{{ticketList.quotePrice}}</td>
                                                                                                <td>王二</td>
                                                                                                <td>1323234342</td>
                                                                                                <td>0280987678</td>
                                                                                                <td>{{ticketList.remark}}</td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    {{/each}}
                                                                    <!-- /.其它 -->
                                                                    {{each viewQuoteDaysList.otherQuote as otherList}}
                                                                    <div class="T-timeline-item timeline-item clearfix T-resourceOtherList ui-sortable-handle" data-entity-index="{{otherList.orderIndex}}">
                                                                        <div class="timeline-info" style="color:#1fade0;margin-left: 4px">
                                                                            <i class="ace-icon fa fa-circle"></i>
                                                                            <span>其它</span>
                                                                        </div>
                                                                        <div class="widget-box transparent" style="margin-top: 20px">
                                                                            <div class="widget-body">
                                                                                <div class="widget-main">
                                                                                    <table class="table table-striped table-bordered table-hover">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th class="th-border">项目名称</th>
                                                                                                <th class="th-border">联系人</th>
                                                                                                <th class="th-border">联系电话</th>
                                                                                                <th class="th-border">成本价</th>
                                                                                                 <th class="th-border">市场价</th>
                                                                                                <th class="th-border">备注</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>{{otherList.name}}</td>
                                                                                                <td>{{otherList.managerName}}</td>
                                                                                                <td>{{otherList.mobileNumber}}</td>
                                                                                                <td>{{otherList.price}}</td>
                                                                                                <td>{{otherList.quotePrice}}</td>
                                                                                                <td>{{otherList.remark}}</td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    {{/each}}
                                                                </div>
                                                                <!-- /.timeline-items -->
                                                            </div>
                                                            <!-- /.timeline-container -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="widget-body">
                                                    <div class="widget-main">
                                                        <h5 class="header">行程详情：</h5>
                                                        <!-- <script id="" class="T-editor" type="text/plain" style="width:100%">
                                                           
                                                        </script> -->
                                                        <div class="detailEditor wysiwyg-editor" style="height: 200px;overflow: scroll;margin-bottom: 40px;">
                                                            {{#viewQuoteDaysList.lineProductDay.detail}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    {{/each}}
                                    <div style="clear:both;height:0px;line-height:0px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group driverList">
            <div class="col-xs-12 col-sm-12 widget-container-col">
                <div class=" ui-sortable-handle">
                    <h5 class="">
							<label class="title-size">特别说明</label>
						</h5>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right">费用包含:</label>
                                <div class="col-sm-11">
                                    <textarea class="form-control" class="col-sm-12" readonly="readonly">
                                        {{quoteDetailJson.includeFee}}
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right">费用不含:</label>
                                <div class="col-sm-11">
                                    <textarea class="form-control" class="col-sm-12" readonly="readonly">
                                        {{quoteDetailJson.excludeFee}}
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right">行程特色:</label>
                                <div class="col-sm-11">
                                    <textarea class="form-control" class="col-sm-12" readonly="readonly">
                                        {{quoteDetailJson.lineFeature}}
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right">行程须知:</label>
                                <div class="col-sm-11">
                                    <textarea class="form-control" class="col-sm-12" readonly="readonly">
                                        {{quoteDetailJson.lineNotice}}
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-20"></div>
    </form>
</div>
