<div class="row">
    <div class="form-horizontal T-search-area">
        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="form-group">
                <label class="mar-l-10">自费商家 </label>
                <input type="text" class="T-chooseSelfPay mar-r-10" name="selfPayName" value="{{searchParam.selfPayName}}" placeholder="所有自费商家"/>
                <input type="hidden" name="selfPayId" value="{{searchParam.selfPayId}}" />
                <label >账期 </label>
                <input class="date-picker" name="startDate" placeholder="开始日期" type="text" value="{{searchParam.startTime}}" style="width:100px;" />
                <label>&nbsp;至&nbsp;</label>
                <input class="date-picker mar-r-10" name="endDate" placeholder="结束日期" type="text" value="{{searchParam.endTime}}" style="width:100px;" />
                <div class="btn-group T-finance-status mar-r-10">
                    <button data-value="{{searchParam.accountStatus}}" data-toggle="dropdown" class=" btn-sm  dropdown-toggle block-up block-up" aria-expanded="false">
                <span>
                    {{if searchParam.accountStatus == 0}}
                        全部
                    {{else if searchParam.accountStatus == 1}}
                        已结清
                    {{else}}
                        未结清
                    {{/if}}
                </span>
                        <i class="ace-icon fa fa-angle-down icon-on-right"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a data-value="0" href="javascript:void(0)">全部</a>
                        </li>
                        <li>
                            <a data-value="1" href="javascript:void(0)">已结清</a>
                        </li>
                        <li>
                            <a data-value="2" href="javascript:void(0)">未结清</a>
                        </li>
                    </ul>
                </div>
                <select name="orderBy" class="mar-r-10">
                    <option value="asc" {{if searchParam.sortType=='asc'}}selected{{/if}}>升序</option> 
                    <option value="desc" {{if searchParam.sortType=='desc'}}selected{{/if}}>降序</option> 
                </select>
                <button class=" btn-sm search-btn  T-search "> <i class="ace-icon fa fa-search"></i> 搜索 </button>
            </div>
        </form>
    </div>
    <div class="form-inline T-sum-area">
        <div class="form-group mar-r-20">
            <label class="control-label">账面应付合计：</label>
            <label class="control-label F-float F-money T-sumNeedPay"></label>
        </div>
        <div class="form-group mar-r-20">
            <label class="control-label">结算金额合计：</label>
            <label class="control-label F-float F-money T-sumStMoney"></label>
        </div>
        <div class="form-group mar-r-20">
            <label class="control-label">已付金额合计：</label>
            <label class="control-label F-float F-money T-sumPaiedMoney"></label>
        </div>
        <div class="form-group">
            <label class="control-label">未付金额合计：</label>
            <label class="control-label F-float F-money T-sumUnPaiedMoney"></label>
        </div>
    </div>
    <div class="row selfPayList">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover T-showHighLight">
                <thead>
                    <tr class="bg-blur T-tr-fixed">
                        <th>自费商家</th>
                        <th>账面应付</th>
                        <th>结算金额</th>
                        <th>已付金额</th>
                        <th>未付金额</th>
                        <th>对账进度</th>
                        <th>付款进度</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="T-list">
                    {{each list as rs}}
                    <tr data-id="{{rs.id}}" data-name="{{rs.selfPayName}}">
                        <td>{{rs.selfPayName}}</td>
                        <td class="F-float F-money">{{rs.sumNeedPayMoney}}</td>
                        <td class="F-float F-money">{{rs.sumSettlementMoney}}</td>
                        <td class="F-float F-money">{{rs.sumPayedMoney}}</td>
                        <td class="F-float F-money" {{if rs.sumUnPayedMoney !=0 }}style="color:red" {{/if}}>{{rs.sumUnPayedMoney}}</td>
                        <td>{{if rs.allCheckCount != rs.checkedCount}}
                            <span style="color:#ff9900"> {{rs.checkedCount}}{{"/"}}{{rs.allCheckCount}}</span> {{/if}} {{if rs.allCheckCount == rs.checkedCount}}
                            <span style="color:green"> {{rs.checkedCount}}{{"/"}}{{rs.allCheckCount}}</span> {{/if}}
                        </td>
                        <td>{{if rs.allPayCount != rs.payedCount}}
                            <span style="color:#ff9900"> {{rs.payedCount}}{{"/"}}{{rs.allPayCount}}</span> {{/if}} {{if rs.allPayCount == rs.payedCount}}
                            <span style="color:green"> {{rs.payedCount}}{{"/"}}{{rs.allPayCount}}</span> {{/if}}
                        </td>
                        <td>
                            <a class="cursor T-option T-check R-right" data-right="1260002|1260005">对账</a>
                            <label class="cursor R-right" data-right="1260002"><a class="R-right" data-right="1260003"> |</a></label>
                            <a class="cursor T-option T-clear R-right" data-right="1260003">付款</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="row pageMode">
                <div class="col-xs-6">
                    <small>共计 {{recordSize}} 条记录</small>
                </div>
                <div class="col-xs-6">
                    <div class="dataTables_paginate paging_simple_numbers T-pagenation">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
