<div class="row" >
    <div class="form-horizontal T-search-area"> 
        <form class="form-horizontal" role="form" onsubmit="return false">   
            <div class="form-group" style="margin-left:0px;">       
                <label>自费商家：</label>
                <input type="text" class="T-chooseSelfPay" name="selfPayName" value="{{searchParam.selfPayName}}" />
                <input type="hidden" name="selfPayId" value="{{searchParam.selfPayId}}" /> 

                <label class="marginLeft-30">账期：</label>
                <input class="date-picker" name="startDate" placeholder="开始日期" type="text" value="{{searchParam.startTime | dateFormat:'yyyy-MM-dd'}}" style="width:100px;" />   
                <label>&nbsp;至&nbsp;</label>
                <input class="date-picker" name="endDate" placeholder="结束日期" type="text" value="{{searchParam.endTime | dateFormat:'yyyy-MM-dd'}}" style="width:100px;" />   

                <button class=" btn-sm search-btn marginLeft-30 T-search "> <i class="ace-icon fa fa-search"></i> 搜索 </button> 
            </div>
        </form>
    </div>
    <div class="row selfPayList">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover T-showHighLight">
                <thead>
                <tr class="bg-blur">
                    <th>自费商家</th>
                    <th>账面应付</th>
                    <th>结算金额</th>
                    <th>已付金额</th>
                    <th>未付金额</th>
                    <th>对账进度</th>
                    <th>付款进度</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody class="T-list">
                    {{each list as rs}}
                    <tr data-id="{{rs.id}}" data-name="{{rs.selfPayName}}">
                        <td>{{rs.selfPayName}}</td>
                        <td>{{rs.sumNeedPayMoney}}</td>
                        <td>{{rs.sumSettlementMoney}}</td>
                        <td>{{rs.sumPayedMoney}}</td>
                        <td><span {{if rs.sumUnPayedMoney != 0}}style="color:red"{{/if}}>{{rs.sumUnPayedMoney}}</span></td>
                        <td>{{if rs.allCheckCount != rs.checkedCount}}
                                <span style="color:#ff9900"> {{rs.checkedCount}}{{"/"}}{{rs.allCheckCount}}</span>
                            {{/if}}
                            {{if rs.allCheckCount == rs.checkedCount}}
                                <span style="color:green"> {{rs.checkedCount}}{{"/"}}{{rs.allCheckCount}}</span>
                            {{/if}}
                        </td>
                        <td>{{if rs.allPayCount != rs.payedCount}}
                                <span style="color:#ff9900"> {{rs.payedCount}}{{"/"}}{{rs.allPayCount}}</span>
                            {{/if}}
                            {{if rs.allPayCount == rs.payedCount}}
                                <span style="color:green"> {{rs.payedCount}}{{"/"}}{{rs.allPayCount}}</span>
                            {{/if}}
                        </td>
                        <td>
                            <a class="cursor T-option T-check R-right" data-right="1260002">对账</a>
                            <label class="cursor R-right" data-right="1260002"><a class="R-right" data-right="1260003"> |</a></label>
                            <a class="cursor T-option T-clear R-right" data-right="1260003">付款</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="row pageMode">
                <div class="col-xs-6">
                    <small>共计 {{recordSize}} 条记录</small>
                </div>
                <div class="col-xs-6">
                    <div class="dataTables_paginate paging_simple_numbers T-pagenation">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>