<div class="row">   
    <div class="form-group T-search-area" >      
        <label class="control-label pull-left" style="margin-left: 15px">餐厅：</label>
        <select  class="col-xs-12" name="restaurantId" style="width: 220px">
            <option value ="">全部</option>
            {{each restaurantNameListNew as restaurant index}}
				<option value="{{restaurant.id}}" {{if searchParam.restaurantId == restaurant.id}}selected="selected"{{/if}}>{{restaurant.name}}</option>
			{{/each}}
        </select>         
        <label class="control-label pull-left marginLeft-30" >账期：</label>
		<select class="col-sm-1" name="year" >
			{{each yearList as year index}}
				<option value="{{year.value}}" {{if searchParam.year == year.value}}selected="selected"{{/if}}>{{year.value}}</option>
			{{/each}}
		</select>
		<select class="col-sm-1 marginLeft-30" name="month" >
		    <option value ="">全部</option>
			{{each monthList as month index}}
				<option value="{{month.value}}" {{if searchParam.month == month.value}}selected="selected"{{/if}}>{{month.value}}月</option>
			{{/each}}
		</select>
        <button class=" btn-sm search-btn T-search marginLeft-30"> <i class="ace-icon fa fa-search"></i> 搜索 </button> 
    </div>

    <div class="row restaurantList">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover T-showHighLight">
                <thead>
                <tr class="bg-blur">
                    <th>餐厅</th>
                    <th>总账面应付</th>
                    <th>总实际应付</th>
                    <th>总实际已付</th>
                    <th>总账面未付</th>
                    <th>总实际未付</th>
                    <th>对账进度</th>
                    <th>操作</th>
                </tr>
                </thead>

                <tbody class="T-list">
                {{each financialRestaurantSettlementList as rest}}
                <tr data-id="{{rest.restaurantId}}" data-name="{{rest.restaurantName}}">
                    <td>{{rest.restaurantName}}</td>
                    <td>{{rest.sumNeedPayMoney}}</td>
                    <td>{{rest.sumRealNeedPayMoney}}</td>
                    <td>{{rest.sumRealPayedMoney}}</td>
                    <td>{{rest.sumUnPayedMoney}}</td>
                    <td><span {{if rest.sumRealUnPayedMoney != 0}}style="color:red"{{/if}}>{{rest.sumRealUnPayedMoney}}</span></td>
                    <td>{{if rest.allCount != rest.checkedCount}}
	                      <span style="color:#ff9900"> {{rest.checkedCount}}{{"/"}}{{rest.allCount}}</span>
	                    {{/if}}
	                    {{if rest.allCount == rest.checkedCount}}
	                      <span style="color:green"> {{rest.checkedCount}}{{"/"}}{{rest.allCount}}</span>
	                    {{/if}}
                    </td>
                    <td>
                        <a class="cursor T-option T-check R-right" data-right="1240002">对账</a>
                        <label class="cursor R-right" data-right="1240002"><a class="R-right" data-right="1240003"> |</a></label>
                        <a class="cursor T-option T-clear R-right" data-right="1240003">结算</a>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
            <div class="row pageMode">
                <div class="col-xs-6">
                    <small>共计 {{recordSize}} 条记录</small>
                </div>
                <div class="col-xs-6">
                    <div class="dataTables_paginate paging_simple_numbers T-pagenation">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>