<div class="row T-newData" data-id="{{searchParam.restaurantId}}" data-name="{{restaurantName}}">
    <div class="col-sm-12 T-search-area" style="border: 1px solid #ccc">
        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="editable editable-click" style="margin-top: 10px">
                <div class="form-group"> 
                    <label style="float: left;margin: 0px 20px 0 15px" class=" control-label "> 餐厅：{{restaurantName}}</label>
                    <label class="control-label marginLeft-30" style="float:left;">账期：</label>
                    <div class="col-xs-1">
                        <div class="input-group">
                            <input class="col-xs-12 date-picker" name="startDate" placeholder="开始日期" type="text" value="{{searchParam.startDate}}" />   
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <div class="input-group">
                            <input class="col-xs-12 date-picker" name="endDate" placeholder="结束日期" type="text" value="{{searchParam.endDate}}" />   
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>

                    <label class="control-label marginLeft-30" style="float:left;">账务类别：</label>
                    <input class="col-xs-1" name="accountInfo" placeholder="账务类别" type="text" value="{{searchParam.accountInfo}}" />
                    
                    <button class="btn-height btn-sm btn-height T-search search-btn marginLeft-30">
                        <i class="ace-icon fa fa-search"></i>搜索
                    </button>
                </div>
            </div>
        </form>

        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="form-group " style="padding-bottom: 0;padding-top:10px;">
                <label class="control-label pull-left" style="margin-left: 15px">账面应付合计：{{sumNeedPayMoney}}元 </label>
                <label class="control-label pull-left" style="margin-left:30px;">已付金额合计：{{sumPayedMoney}} </label>
                <label class="control-label pull-left" style="margin-left:30px;">结算金额合计：{{sumSettlementMoney}}</label>
                <label class="control-label pull-left" style="margin-left:30px;">未付金额合计：{{sumUnPayedMoney}}</label>
                <label class="control-label pull-left" style="margin-left:30px;">本次付款金额：</label>
                <input class="col-xs-1 pull-left" name="sumPayMoney" type="text" value="{{sumPayMoney}}" style="float:none;" />
                <label class="control-label pull-left" style="margin-left:30px;">付款方式：</label>
                <select style="text-align:center" name="sumPayType">
                    <option value="0" {{if sumPayType == 0}}selected="selected"{{/if}}>现金</option>
                    <option value="1" {{if sumPayType == 1}}selected="selected"{{/if}}>银行转账</option>
                    <option value="2" {{if sumPayType == 2}}selected="selected"{{/if}}>网上支付</option>
                    <option value="3" {{if sumPayType == 3}}selected="selected"{{/if}}>支票</option>
                    <option value="4" {{if sumPayType == 4}}selected="selected"{{/if}}>其他</option>
                </select>

                <button class="btn-height btn-sm btn-height T-clear-auto search-btn" style="margin-left: 20px">
                    自动下账
                </button>
            </div>
        </form>
    </div>
    <div style="clear: both"></div>

    <table class="table table-striped table-bordered table-hover all margin-top">
        <thead>
            <tr><th class="th-border">序号</th>
                <th class="th-border">账务类别</th>
                <th class="th-border">用餐日期(账期)</th>
                <th class="th-border">用餐类型</th>
                <th class="th-border">餐标</th>
                <th class="th-border">人数</th>
                <th class="th-border">优惠</th>
                <th class="th-border">账面应付</th>
                <th class="th-border">已付金额</th>
                <th class="th-border">结算金额</th>
                <th class="th-border">未付金额</th>
                <th class="th-border" width="50">单据</th>
                <th class="th-border"><span class="necessary">*</span>本次付款金额</th>
                <th class="th-border">付款方式</th>
                <th class="th-border">备注</th>
                <th class="th-border">对账时间</th>
                <th class="th-border">对账人</th>
                <th class="th-border" width="100">对账</th>
            </tr>
        </thead>
        <tbody class="T-clearList">
            {{each financialRestaurantList as rs index}}
            <tr class="T-clearTr{{rs.id}}" data-id="{{rs.id}}" style="border:none">
                <td>{{index+1}}</td>
                <td>{{rs.tripNumber}}{{"，"}}{{rs.lineProductName}}{{"，"}}{{rs.guideName}}</td>
                <td>{{rs.accountTime | dateFormat:'yyyy-MM-dd'}}</td>
                <td>{{rs.type}}</td>
                <td>{{rs.price}}</td>
                <td>{{rs.memberCount}}</td>
                <td>{{rs.reduceMoney}}</td>
                <td>{{rs.needPayMoney}}</td>
                <td><a class="T-option T-payedDetail">{{"社付："}}{{rs.payedMoney}}{{"，"}}{{"导付："}}{{rs.realGuidePayMoney}}</a></td>
                <td>{{rs.settlementMoney}}</td>
                <td>{{rs.unPayedMoney}}</td>
                <td>{{if rs.billImage != null && rs.billImage !=""}}<a href="#" class="T-option T-restaurantImg" url="{{rs.billImage}}"><span>查看</span></a>{{else}}<span style="color:#bbb">查看</span>{{/if}}</td>
                <td class="col-sm-1"><input name="payMoney" type="text" value="{{rs.payMoney}}" maxlength="9"></td>
                <td style="width:120px;">
                    <select style="text-align:center" name="payType">
                        <option value="0" {{if rs.payType == 0}}selected="selected"{{/if}}>现金</option>
                        <option value="1" {{if rs.payType == 1}}selected="selected"{{/if}}>银行转账</option>
                        <option value="2" {{if rs.payType == 2}}selected="selected"{{/if}}>网上支付</option>
                        <option value="3" {{if rs.payType == 3}}selected="selected"{{/if}}>支票</option>
                        <option value="4" {{if rs.payType == 4}}selected="selected"{{/if}}>其他</option>
                    </select>
                </td>
                <td class="col-sm-1" ><input name="payRemark" type="text"  maxlength="1000"></td>
                <td>{{if rs.checkTime == null || rs.checkTime == ""}}-{{else}}{{rs.checkTime | dateFormat:'yyyy-MM-dd hh:mm:ss'}}{{/if}}</td>
                <td>{{rs.checkUserName}}</td>
                <td style="width:220px">
                    {{if rs.isConfirmAccount == 1}}已对账{{else if rs.isConfirmAccount == 0}}未对账{{/if}}
                    <a class="cursor"> |</a>
                    <a class="cursor T-needPayDetail" style="border:none">查看</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div class="row pageMode">
        <div class="col-xs-6">
            <small>共计 {{searchParam.recordSize}} 条记录</small>
        </div>
        <div class="col-xs-6">
            <div class="dataTables_paginate paging_simple_numbers T-pagenation">
            </div>
        </div>
    </div>
    <form class="form-horizontal" role="form" onsubmit="return false">
        <div class="form-group" style="text-align: center;">
            <button class="btn btn-xs btn-primary T-close-clear" style="margin-left:20px">
                <i class="ace-icon fa fa-times-circle"></i>关闭
            </button>
            <button class="btn btn-xs btn-primary T-saveClear">
                <i class="ace-icon fa fa-check-circle"></i>确认
            </button>
        </div>
    </form>
</div>