<div class="row restChecking globalAdd">
<div class="col-xs-12 border" >
            <form class="form-horizontal" role="form" onsubmit="return false">
                <div class="search-area editable editable-click" >
                    <div class="form-group"> 
                        <label style="float: left;margin: 0px auto auto 15px" class=" control-label "> 餐厅:{{restaurantName}}</label>
                        
                        <label class="control-label col-sm-1" style="float:left;">账期:</label>
	                        <select class="col-sm-1" name="year" style="margin-left:20px">
								{{each yearList as year index}}
									<option value="{{year.value}}" {{if searchParam.year == year.value}}selected="selected"{{/if}}>{{year.value}}</option>
								{{/each}}
							</select>
							<select class="col-sm-1" name="month" style="margin-left:5px">
							    <option value ="">全部</option>
								{{each monthList as month index}}
									<option value="{{month.value}}" {{if searchParam.month == month.value}}selected="selected"{{/if}}>{{month.value}}月</option>
								{{/each}}
							</select>
                        <button class="marginLeft-30 btn-sm  btn-checking-search search-btn" >
                             <i class="ace-icon fa fa-search"></i>
                                                                                                 搜索
                        </button>
                        
                        <button type="button" class="btn btn-sm btn-primary btn-success btn-restaurantExport" style="margin-left: 25px">
							<span>导出报表</span>
							<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
						</button>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" role="form" onsubmit="return false">
                <div class="form-group ">
                    <label class=" control-label pull-left" style="margin-left: 15px">总账面应付：{{sumNeedPayMoney}}</label>
                    <label class=" control-label " style="margin-left:30px;">总实际已付：{{sumRealPayedMoney}}</label>
                    <label class=" control-label " style="margin-left:30px;">总账面未付：{{sumUnPayedMoney}}</label>
                    <label class=" control-label " style="margin-left:30px;">总实际未付：{{sumRealUnPayedMoney}}</label>
                </div>
            </form>
        </div>
    <input type="hidden" value="{{WEB_IMG_URL_BIG}}" name="WEB_IMG_URL_BIG" />
    <input type="hidden" value="{{WEB_IMG_URL_SMALL}}" name="WEB_IMG_URL_SMALL" />
<div class="clearfix"></div>
				<table class="table table-striped table-bordered table-hover all" style="margin-top: 30px"> 
					<thead>
						<tr>
               <th class="th-border">序号</th>
               <th class="th-border">账务类别</th>
               <th class="th-border">用餐日期</th>
               <th class="th-border">用餐类型</th>
               <th class="th-border">餐标</th>
               <th class="th-border">人数</th>
               <th class="th-border">优惠</th>
               <th class="th-border">账面应付</th>
               <th class="th-border">实际已付</th>
               <th class="th-border">账面未付</th>
               <th class="th-border">单据</th>
               <th class="th-border"> <span class="necessary">*</span>实际未付</th>
               <th class="th-border">说明</th>
               <th class="th-border">对账时间</th>
               <th class="th-border">对账人</th>
               <th class="th-border">对账</th>
            </tr>
					</thead>
					<tbody class="T-checkList" data-right="1240005">
					    {{each financialRestaurantList as checking index}}  
					    <tr data-entity-id="{{checking.id}}" data-entity-isConfirmAccount="{{checking.isConfirmAccount}}" data-entity-realUnPayedMoney="{{checking.realUnPayedMoney}}" data-entity-remark="{{checking.remark}}">
				         <td>{{index+1}}</td>
							<td>{{checking.tripNumber}}{{","}}{{checking.lineProductName}}{{","}}{{checking.guideName}}</td>
							<td name="consumeStartTime">{{if checking.consumeStartTime == null || checking.consumeStartTime == ""}}-{{else}}{{checking.consumeStartTime | dateFormat: 'yyyy-MM-dd'}}{{/if}}</td>
							<td>{{checking.restaurantStandardType}}</td>
							<td>{{checking.price}}</td>
							<td>{{checking.realCount}}</td>
							<td>{{checking.reduceMoney}}</td>
							<td>{{checking.needPayMoney}}</td>
							<td>
								{{"社付:"}}{{checking.travelAgencyPayedMoney}}{{","}}
							    {{"导付:"}}{{checking.guidePayedMoney}}
							</td> 
							<td>{{checking.unPayedMoney}}</td>
							<td>{{if checking.billImages != null && checking.billImages !=""}}<a href="#" class="restaurantImg" url="{{checking.billImages}}"><span>查看</span></a>{{else}}<span style="color:#bbb">查看</span>{{/if}}</td>
							<td><input type="text" maxlength="10" name="FinancialRestaurantRealUnPayedMoney" value="{{checking.realUnPayedMoney}}" style="text-align:center"></td>
              <td><input type="text" maxlength="1000" name="FinancialRestaurantRemark" value="{{checking.remark}}" style="text-align:center" ></td>
							<td>{{if checking.checkTime == null || checking.checkTime == ""}}-{{else}}{{checking.checkTime | dateFormat: 'yyyy-MM-dd'}}{{/if}}</td>
              <td>{{checking.checkUserRealName}}</td>
							<td>
							   <label class="pos-rel">
							   		<input type="checkbox" data-entity-checkStatus="{{checking.isConfirmAccount}}" class="ace restaurantFinancial" {{if checking.isConfirmAccount == 1}}checked="checked"{{/if}} />
							   		<span class="lbl"></span>
							   </label>
							</td>
					     </tr>
					     {{/each}}
					</tbody>
				</table>
        <div class="form-group text-right">
            <label class="control-label pull-right"/>
                <input type="checkbox" class="ace pull-right selectAll">
                <span class="lbl"></span>  
                全选
            </label>
        </div>
        <div class="clearfix"></div>
            <div class="row pageMode">
              <div class="col-xs-6">
                <small>共计 {{recordSize}} 条记录</small>
              </div>
              <div class="col-xs-6">
                <div class="dataTables_paginate paging_simple_numbers T-pagenation">
                </div>
              </div>
            </div>
            <form class="form-horizontal" role="form" onsubmit="return false">
                <div class="form-group" style="text-align: center;">
                    <button class="btn btn-xs btn-primary btn-restaurantFinancial-close" style="margin-left:20px">
                        <i class="ace-icon fa fa-times-circle"></i>
                       	 	关闭
                    </button>
                    <button class="btn btn-xs btn-primary btn-restaurantFinancial-checking">
                        <i class="ace-icon fa fa-check-circle"></i>
                       		 确认
                    </button>
                    
                </div>
            </form>
			</div>

</div>