<div class="row check globalAdd T-search-area border" style="padding: 0 20px;">
    <form class="form-inline" role="form" onsubmit="return false" style="padding-top:10px;">
        <div class="form-group">
            <label>购物店：</label>
            <label>{{name}}</label>
        </div>
        <div class="form-group marginLeft-30">
            <label>账期：</label>
            <input type="text" class="form-control datepicker T-search-start-date" value="{{searchParam.startTime}}" style="width: 100px; text-align: center;">
            <label>&nbsp;至&nbsp;</label>
            <input type="text" class="form-control datepicker T-search-end-date" value="{{searchParam.endTime}}" style="width: 100px; text-align: center;">
        </div>
        <div class="form-group marginLeft-30">
            <label>团信息：</label>
            <input type="text" class="form-control T-search-trip" value="{{searchParam.accountInfo}}">
        </div>
        <div class="form-group marginLeft-30">
            <button class="btn-sm search-btn T-btn-search">
                <i class="ace-icon fa fa-search"></i> 搜索 
            </button>
        </div>
    </form>
    <div class="form-inline" style="padding-top:10px;">
        <div class="form-group">
            <label>人数合计：</label>
            <label>{{totalList.sumCount}}</label>
        </div>
        <div class="form-group marginLeft-30">
            <label>购物金额合计：</label>
            <label>{{totalList.sumConsumeMoney}}</label>
        </div>
        <div class="form-group marginLeft-30">
            <label>社佣合计：</label>
            <label>{{totalList.sumTravelAgencyRebateMoney}}</label>
        </div>
        <div class="form-group marginLeft-30">
            <label>导佣合计：</label>
            <label class="T-stMoney">{{totalList.sumGuideRebateMoney}}</label>
        </div>
        <div class="form-group marginLeft-30">
            <label>人数返佣合计：</label>
            <label class="T-unpayMoney">{{totalList.sumCustomerRebateMoney}}</label>
        </div>
        <div class="form-group marginLeft-30">
            <label>停车返佣合计：</label>
            <label class="T-unpayMoney">{{totalList.sumCustomerRebateMoney}}</label>
        </div>
        <div class="form-group marginLeft-30">
            <label>返佣金额合计：</label>
            <label class="T-unpayMoney">{{totalList.sumBackMoney}}</label>
        </div>
        <div class="form-group marginLeft-30">
            <label>已收金额合计：</label>
            <label class="T-unpayMoney">{{totalList.sumReceiveMoney}}</label>
        </div>
        <div class="form-group marginLeft-30">
            <label>未收金额合计：</label>
            <label class="T-unpayMoney">{{totalList.sumUnReceiveMoney}}</label>
        </div>
    </div>
    <div class="form-inline" style="padding-top: 10px;">
        <div class="form-group">
            <label>本次收款金额合计：</label>
            <input type="text" class="form-control T-sumReciveMoney" name="sumPayMoney"{{if source}} disabled="disabled"{{/if}} style="width:70px;">
        </div>
        <div class="form-group marginLeft-30">
            <label>收款方式：</label>
            <select class="form-control T-sumPayType" name="payType">
                <option>现金</option>
                <option>银行转账</option>
                <option>网上支付</option>
                <option>支票</option>
                <option>其它</option>
            </select>
        </div>
        <div class="form-group marginLeft-30">
            <label>备注：</label>
            <input type="text" class="form-control T-sumRemark">
        </div>
        {{if !source}}
        <div class="form-group marginLeft-30">
            <button class="btn btn-xs btn-primary marginLeft-30 T-btn-autofill"><i class="ace-icon fa fa-check-circle"></i> 自动下账</button>
        </div>
        {{/if}}
    </div>
</div>
<div class="row" style="margin-top: 20px;">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="th-border" >序号</th>
                <th class="th-border" >团信息</th>
                <th class="th-border" >进店日期（账期）</th>
                <th class="th-border" >人数</th>
                <th class="th-border" >商品</th>
                <th class="th-border" >购物金额</th>
                <th class="th-border" >社佣</th>
                <th class="th-border" >导佣</th>
                <th class="th-border" >人数返佣</th>
                <th class="th-border" >停车返佣</th>
                <th class="th-border" >单据</th>
                <th class="th-border" >返佣金额</th>
                <th class="th-border" >已收金额</th>
                <th class="th-border" >结算金额</th>
                <th class="th-border" >未收金额</th>
                <th class="th-border" >本次收款金额</th>
                <th class="th-border" >备注</th>
                <th class="th-border" >对账时间</th>
                <th class="th-border" >对账人</th>
                <th class="th-border">对账</th>
            </tr>
        </thead>
        <tbody class="T-list T-checkList">
        {{each shopAccountList as rs index}}
            <tr class="T-checkTr" data-id="{{rs.id}}" data-confirm="{{if !!rs.isConfirmAccount}}1{{else}}0{{/if}}">
                <td>{{index + 1}}</td>
                <td>{{rs.tripMessage}}</td>
                <td>{{rs.accountTime}}</td>
                <td>{{rs.count}}</td>
                <td>{{if rs.shopItem.length >0}}{{rs.shopItem[0].itemName}}{{if rs.shopItem.length >1}}...{{/if}}<a class="cursor T-action T-see-group">展开</a>{{/if}}</td>
                <td>{{rs.consumeMoney}}</td>
                <td>{{rs.travelAgencyRebateMoney}}</td>
                <td>{{rs.guideRebateMoney}}</td>
                <td>{{rs.customerRebateMoney}}</td>
                <td>{{rs.parkingRebateMoney}}</td>
                <td>{{if !rs.billImage}}<span style="color:#bbb">查看</span>{{else}}<a class="cursor T-action T-view-receipts" data-billImage="{{rs.billImage}}">查看</a>{{/if}}</td>
                <td>{{rs.backMoney}}</td>
                <td><a class="cursor T-action T-payDetails">{{rs.receiveMoney}}</a>
                <td>{{rs.settlementMoney}}</td>
                <td name="unPayedMoney">{{rs.unReceiveMoney}}</td>
                <td><input type="text" class="col-sm-12 T-reciveMoney" name="payMoney" value="{{rs.payMoney}}"></td>
                <td><input type="text" class="col-sm-12 T-payRemark" name="payRemark" value="{{rs.checkRemark}}"></td>
                <td>{{rs.checkTime}}</td>
                <td>{{rs.checkName}}</td>
                <td>
                    <label class="pos-rel">
                        <span class="lbl">{{if !!rs.isConfirmAccount}}已{{else}}未{{/if}}对账</span>
                    </label>
                    <label class="cursor R-right" data-right="1310004"> <a> |</a></label>
                    <a class="cursor T-action T-view-details R-right" data-right="1310004">查看</a>
                </td>
            </tr>
            {{if rs.shopItem.length > 0}}
            <tr class="hide">
                <td colspan="19">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="th-border" style="min-width: 45px;">序号</th>
                                <th class="th-border" style="min-width: 70px;">商品</th>
                                <th class="th-border" style="min-width: 120px;">消费金额</th>
                                <th class="th-border" style="min-width: 45px;">社佣</th>
                                <th class="th-border" style="min-width: 45px;">导佣</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{each rs.shopItem as list i}}
                            <tr>
                                <td>{{i + 1}}</td>
                                <td>{{list.itemName}}</td>
                                <td>{{list.consumeMoney}}</td>
                                <td>{{list.travelAgencyRebateMoney}}</td>
                                <td>{{list.guideRebateMoney}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </td>
            </tr>

            {{/if}}
        {{/each}}
        </tbody>
    </table>
    <div class="row pageMode">
        <div class="col-xs-6">
            <small class="T-sumItem">共计 {{searchParam.recordSize}} 条记录</small>
        </div>
        <div class="col-xs-6">
            <div class="dataTables_paginate paging_simple_numbers T-pagenation"></div>
            <label class="pos-rel pull-right">
                <input type="checkbox" class="ace T-checkAll"> <span class="lbl">全选</span> 
            </label>
        </div>
    </div>
    <form class="form-horizontal" role="form" onsubmit="return false">
        <div class="form-group" style="text-align: center;">
            <button class="btn btn-xs btn-primary T-btn-close">
                <i class="ace-icon fa fa-times-circle"></i> 关闭
            </button>
            <button class="btn btn-xs btn-primary T-btn-save" style="margin-left:20px">
                <i class="ace-icon fa fa-check-circle"></i> 确认收款
            </button>
        </div>
    </form>
</div>
