<div class="row check T-search-area">
    <form class="form-inline" role="form" onsubmit="return false">
        <div class="form-group mar-r-10">
            <label>购物店：</label>
            <input type="text" value="{{name}}" name="shopName" data-id="{{id}}">
        </div>
        <div class="form-group mar-r-10">
            <label>账期：</label>
            <input type="text" class="form-control datepicker T-time T-search-start-date" name="startDate" value="{{searchParam.startDate}}" style="width: 100px; text-align: center;">
            <label>&nbsp;至&nbsp;</label>
            <input type="text" class="form-control datepicker T-time T-search-end-date" name="endDate" value="{{searchParam.endDate}}" style="width: 100px; text-align: center;">
        </div>
        <div class="form-group mar-r-10">
            <label>团信息：</label>
            <input type="text" class="form-control T-search-trip" value="{{searchParam.tripMessage}}">
        </div>
        <label class="form-group">对账状态：</label>
        <div class="form-group btn-group T-check-status mar-r-10">
            <button data-value="{{searchParam.isConfirmAccount}}" data-toggle="dropdown" class=" btn-sm  dropdown-toggle block-up" aria-expanded="false">
                <span>
                    {{if !searchParam.isConfirmAccount || searchParam.isConfirmAccount == ""}}
                        全部
                    {{else if searchParam.isConfirmAccount == 1}}
                        已对账
                    {{else}}
                        未对账
                    {{/if}}
                </span>
                <i class="ace-icon fa fa-angle-down icon-on-right"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a data-value="" href="javascript:void(0)">全部</a></li>
                <li><a data-value="1" href="javascript:void(0)">已对账</a></li>
                <li><a data-value="0" href="javascript:void(0)">未对账</a></li>
            </ul>
        </div>
        <div class="form-group mar-r-10">
            <label>对账时间：</label>
            <input class="datepicker T-checkTime T-checkStartTime" placeholder="开始日期" type="text" value="{{searchParam.startCheck}}" style="width:100px;" />
            <label>&nbsp;至&nbsp;</label>
            <input class="datepicker T-checkTime T-checkEndTime" value="{{searchParam.endCheck}}" placeholder="结束日期" type="text" style="width:100px;" />
        </div>
        <div class="form-group">
            <button class="btn-sm search-btn T-btn-search">
                <i class="ace-icon fa fa-search"></i> 搜索 
            </button>
        </div>
        <input name="accountStatus" type="hidden" value="{{searchParam.accountStatus}}">
    </form>
    <div class="form-inline">
        <div class="form-group">
            <label>人数合计：</label>
            <label class="T-sumCount"></label>
        </div>
        <div class="form-group mar-l-23">
            <label>打单金额合计：</label>
            <label class="F-float F-money T-sumConsumeMoney"></label>
        </div>
        <div class="form-group mar-l-23">
            <label>社佣合计：</label>
            <label class="F-float F-money T-sumTravelAgencyRebateMoney"></label>
        </div>
        <div class="form-group mar-l-23">
            <label>导佣合计：</label>
            <label class="F-float F-money T-sumGuideRebateMoney"></label>
        </div>
        <div class="form-group mar-l-23">
            <label>全陪佣金合计：</label>
            <label class="F-float F-money T-quanpeiRebateMoney"></label>
        </div>
        <div class="form-group mar-l-23">
            <label>二次返佣合计：</label>
            <label class="F-float F-money T-twoRebateMoney"></label>
        </div>
        <div class="form-group mar-l-23">
            <label>返佣金额合计：</label>
            <label class="F-float F-money T-sumBackMoney"></label>
        </div>
        <div class="form-group mar-l-23">
            <label>已收金额合计：</label>
            <label class="F-float F-money T-sumReceiveMoney"></label>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label>结算金额合计：</label>
            <label class="F-float F-money T-sumSettlementMoney"></label>
        </div>
        <div class="form-group marginLeft-30">
            <label>未收金额合计：</label>
            <label class="F-float F-money T-sumUnReceiveMoney"></label>
        </div>
        <div class="form-group marginLeft-30">
            <label>未收金额合计(已对账)：</label>
            <label class="T-unpayMoney F-float F-money"></label>
        </div>
    </div>

    <div class="form-inline globalAdd">
        <div class="form-group mar-r-10">
            <label class="control-label">本次收款金额合计：</label>
            <label class="control-label">
                <input type="text" class="form-control T-sumReciveMoney money F-float F-money" name="sumPayMoney"{{if source}} disabled="disabled"{{/if}} >
            </label>
        </div>

        {{if !source}}
        <div class="form-group mar-r-10">
            <button class="btn btn-xs btn-primary T-btn-autofill"><i class="ace-icon fa fa-check-circle"></i> 自动下账</button>
        </div>
        {{/if}}

        <div class="form-group mar-r-10">
            <label class="control-label">付款方式：</label>
            <select class="form-control T-sumPayType" name="sumPayType">
               {{#searchParam.sumPayType | getPayTypeOptions: searchParam.isBalance}}
            </select>
        </div>

        <div class="form-group mar-r-10 hidden">
            <label class="control-label">预收账款余额：</label>
            <label class="control-label T-balance">{{searchParam.balance}}</label>
        </div>

        <div class="form-group mar-r-10">
            <label class="control-label">现金账号：</label>
            <label class="control-label">
                <input type="text" name="cash-number" class="money" style="width:300px;">
                <input type="hidden" name="cash-id">
            </label>
        </div>
        <div class="form-group mar-r-10">
            <label class="control-label">银行账号：</label>
            <label class="control-label">
                <input type="text" name="card-number" class="money" style="width:300px;">
                <input type="hidden" name="card-id">
            </label>
        </div>
        <div class="form-group mar-r-10">
            <label class="control-label">凭证编号：</label>
            <label class="control-label">
                <input type="text" name="credentials-number">
            </label>
        </div>
        <div class="form-group mar-r-10">
            <label class="control-label">记账日期：</label>
            <label class="control-label">
                <input type="text" name="tally-date"  style="width:140px;">
            </label>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">备注：</label>
        <label class="control-label">
            <input type="text" class="form-control T-sumRemark" name="sumPayRemark" style="width:900px;">
        </label>
    </div>
</div>
<div class="row">
    <table class="table table-striped table-bordered table-hover hct_align_middle">
        <thead>
            <tr class="T-tr-fixed bg-blur">
                <th>团信息</th>
                <th>进店日期（账期）</th>
                <th>人数</th>
                <th>商品</th>
                <th>打单金额</th>
                <th>社佣</th>
                <th>导佣</th>
                <th>全陪佣金</th>
                <th>二次返佣</th>
                <th>单据</th>
                <th>返佣金额</th>
                <th>已收金额</th>
                <th>结算金额</th>
                <th>未收金额</th>
                <th>本次收款金额</th>
                <th>备注</th>
                <th>对账时间</th>
                <th>对账人</th>
                <th style="min-width: 105px;">对账</th>
            </tr>
        </thead>
        <tbody class="T-list T-checkList T-clearList">
        {{each shopAccountList as rs index}}
            <tr class="T-checkTr" data-id="{{rs.id}}" data-confirm="{{if !!rs.isConfirmAccount}}1{{else}}0{{/if}}">
                <td>{{rs.tripMessage}}</td>
                <td>{{rs.accountTime}}</td>
                <td><span>{{rs.count}}</span></td>
                <td>{{if rs.shopItem.length >0}}{{rs.shopItem[0].itemName}}{{if rs.shopItem.length >1}}...{{/if}}<a class="cursor T-action T-see-group">展开</a>{{/if}}</td>
                <td><span class="F-float F-money">{{rs.consumeMoney}}</span></td>
                <td><span class="F-float F-money">{{rs.travelAgencyRebateMoney}}</span></td>
                <td><span class="F-float F-money">{{rs.guideRebateMoney}}</span></td>
                <td><span class="F-float F-money">{{rs.quanpeiRebateMoney}}</span></td>
                <td><span class="F-float F-money">{{rs.twoRebateMoney}}</span></td>
                <td style="white-space: nowrap;">{{if !rs.billImage}}<span style="color:#bbb">查看</span>{{else}}<a class="cursor T-action T-view-receipts" url="{{rs.billImage}}">查看</a>{{/if}}</td>
                <td><span class="F-float F-money">{{rs.backMoney}}</span></td>
                <td class="align-left">
                    <a class="T-action T-payDetails">
                        <span class="in-block">社收:<span class="F-float F-money">{{rs.receiveMoney}}</span></span>
                        <span class="in-block">导游现收:<span class="F-float F-money">{{rs.rebateCurrentIncomeMoney}}</span></span>
                    </a>
                </td>
                <td><span class="F-float F-money">{{rs.settlementMoney}}</span></td>
                <td name="unPayedMoney"><span class="F-float F-money">{{rs.unReceiveMoney}}</span></td>
                <td><input type="text" class="col-sm-12 T-reciveMoney F-float F-money" name="payMoney" value="{{rs.payMoney}}"></td>
                <td><textarea class="col-sm-12 hct-textarea T-payRemark" name="payRemark" maxlength="1000">{{rs.payRemark}}</textarea></td>
                <td>{{rs.checkTime}}</td>
                <td>{{rs.checkName}}</td>
                <td>
                    <label class="pos-rel">
                        <span class="lbl">{{if !!rs.isConfirmAccount}}已{{else}}未{{/if}}对账</span>
                    </label>
                    <label class="cursor" data-right="1310004"> <a> |</a></label>
                    <a class="cursor T-action T-view-details" data-right="1310004">查看</a>
                </td>
            </tr>
            {{if rs.shopItem.length > 0}}
            <tr class="hide T-hideTr">
                <td colspan="19">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="th-border" style="min-width: 45px;">序号</th>
                                <th class="th-border" style="min-width: 70px;">商品</th>
                                <th class="th-border" style="min-width: 120px;">消费金额</th>
                                <th class="th-border" style="min-width: 45px;">社佣</th>
                                <th class="th-border" style="min-width: 45px;">导佣</th>
                                <th class="th-border" style="min-width: 45px;">全陪佣金</th>
                                <th class="th-border" style="min-width: 45px;">二次返佣</th>
                            </tr>
                        </thead>
                        <tbody class="T-shopItemList">
                            {{each rs.shopItem as list i}}
                            {{if i == 0}}
                            <tr>
                                <td>{{i + 1}}</td>
                                <td>{{list.itemName}}</td>
                                <td><span class="F-float F-money T-consumeMoney">{{list.consumeMoney}}</span></td>
                                <td><span class="F-float F-money T-travelAgencyRebateMoney">{{list.travelAgencyRebateMoney}}</span></td>
                                <td><span class="F-float F-money T-guideRebateMoney">{{list.guideRebateMoney}}</span></td>
                                <td><span class="F-float F-money T-quanpeiRebateMoney">{{if list.quanpeiRebateMoney !=null}}-{{else}}{{list.quanpeiRebateMoney}}{{/if}}</span></td>
                                <td rowspan="{{rs.shopItem.length}}"><span class="F-float F-money T-twoRebateMoney">{{rs.twoRebateMoney}}</span></td>
                            </tr>
                            {{else}}
                                <tr>
                                <td>{{i + 1}}</td>
                                <td>{{list.itemName}}</td>
                                <td><span class="F-float F-money T-consumeMoney">{{list.consumeMoney}}</span></td>
                                <td><span class="F-float F-money T-travelAgencyRebateMoney">{{list.travelAgencyRebateMoney}}</span></td>
                                <td><span class="F-float F-money T-guideRebateMoney">{{list.guideRebateMoney}}</span></td>
                                <td><span class="F-float F-money T-quanpeiRebateMoney">{{if list.quanpeiRebateMoney !=null}}-{{else}}{{list.quanpeiRebateMoney}}{{/if}}</span></td>
                            </tr>
                            {{/if}}
                            {{/each}}
                            <tr class="T-sumMoney">
                                <td colspan="2" style="font-weight: bold;text-align:right;">佣金合计：</td>
                                <td><span class="F-float F-money T-shopMoney" style="font-weight: bold;"></span></td>
                                <td><span class="F-float F-money T-travelMoney" style="font-weight: bold;"></span></td>
                                <td><span class="F-float F-money T-guideMoney" style="font-weight: bold;"></span></td>
                                <td><span class="F-float F-money T-quanpeiMoney" style="font-weight: bold;"></span></td>
                                <td><span class="F-float F-money T-twoMoney" style="font-weight: bold;"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            {{/if}}
        {{/each}}
        </tbody>
    </table>
    <div class="row pageMode">
        <div class="col-xs-6">
            <small class="T-sumItem">共计 {{searchParam.recordSize}} 条记录</small>
        </div>
        <div class="col-xs-6">
            <div class="dataTables_paginate paging_simple_numbers T-pagenation"></div>
        </div>
    </div>
    <form class="form-horizontal" role="form" onsubmit="return false">
        <div class="form-group" style="text-align: center;">
            <button class="btn btn-xs btn-primary T-btn-close">
                <i class="ace-icon fa fa-times-circle"></i> 关闭
            </button>
            <button class="btn btn-xs btn-primary T-saveClear" style="margin-left:20px">
                <i class="ace-icon fa fa-check-circle"></i> 确认收款
            </button>
        </div>
    </form>
</div>
