<div class="financialShopRecords">
 <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>操作详情</th>
        </tr>
        </thead>
        <tbody>
          {{each financialShopSettlementRecordList as record index}}
	        <tr>
	           <td>操作者:{{record.operationUser}},操作时间:{{record.operationTime | dateFormat: 'yyyy-MM-dd hh:mm:ss'}},
	                                            操作详情:(账期:{{record.year}}年{{record.month}}月,付款金额:{{record.inComeMoney}},付款方式:{{record.payType}},备注:{{record.remark}})</td>
	        </tr>
	      {{/each}}
        </tbody>
    </table>
</div>