<div class= "row Cleaning">
    <div class="col-sm-12  border" >
        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="search-area  editable editable-click" style="margin-top: 10px">
                <div class="form-group"> <label  class=" control-label pull-left" style="margin-left: 15px"> 购物店：{{searchParam.shopName}}</label>

                    <label class="col-sm-1 control-label no-padding-right">账期：</label>
                    <select name="year" class="col-sm-1">
                        {{each yearList as year}}
						<option value="{{year}}">{{year}}</option>
						{{/each}} 
                    </select>
                    <label class="col-sm-1 control-label no-padding-right">起始月：</label>
                    <select class="col-sm-1" name="start_month">
                        <option value="1">1月</option>
                        <option value="2">2月</option>
                        <option value="3">3月</option>
                        <option value="4">4月</option>
                        <option value="5">5月</option>
                        <option value="6">6月</option>
                        <option value="7">7月</option>
                        <option value="8">8月</option>
                        <option value="9">9月</option>
                        <option value="10">10月</option>
                        <option value="11">11月</option>
                        <option value="12">12月</option>
                    </select>
                    <label class="col-sm-1 control-label no-padding-right">结束月：</label>
                    <select style="margin-left: 20px" class="col-sm-1" name="end_month">
                        <option value="1">1月</option>
                        <option value="2">2月</option>
                        <option value="3">3月</option>
                        <option value="4">4月</option>
                        <option value="5">5月</option>
                        <option value="6">6月</option>
                        <option value="7">7月</option>
                        <option value="8">8月</option>
                        <option value="9">9月</option>
                        <option value="10">10月</option>
                        <option value="11">11月</option>
                        <option value="12">12月</option>
                    </select>
                    <button class="btn-height btn-sm search-btn btn-arrangeTourist-search btn-shopSettlement-search" >
                        <i class="ace-icon fa fa-search"></i>
                        搜索
                    </button>
                </div>

            </div>
        </form>
        <form class="form-horizontal" role="form" onsubmit="return false">
            <div class="form-group " >

                <label class=" control-label" style="margin-left: 8px">总人数：{{searchParam.sumPersonCount}}</label>
                <label class=" control-label" style="margin-left: 8px">总购物金额：{{searchParam.sumConsumeMoney}}</label>
                <label class=" control-label" style="margin-left: 8px">总社佣：{{searchParam.sumTravelAgencyRebateMoney}}</label>
                <label class=" control-label" style="margin-left: 8px">总导佣：{{searchParam.sumGuideRebateMoney}}</label>
                <label class=" control-label" style="margin-left: 8px">总人数返佣：{{searchParam.sumCustomerRebateMoney}}</label>
                <label class=" control-label" style="margin-left: 8px">总停车返佣：{{searchParam.sumParkingRebateMoney}}</label>
                <label class=" control-label" style="margin-left: 8px">总账面返佣：{{searchParam.sumRebateMoney}}</label>
                <label class=" control-label" style="margin-left: 8px">总实际返佣：{{searchParam.sumRealRebateMoney}}</label>
            </div>
        </form>

    </div>
    <button class="btn btn-sm btn-success btn-shop-records pull-right" style="margin-top: 10px">
        <i class="ace-icon fa fa-wrench icon-animated-wrench bigger-125"></i> 操作记录 </button>
    <table class="table table-striped table-bordered table-hover all col-sm-12">
        <thead>
        <tr>
			<th>账期</th>
			<th>人数</th>
			<th>购物金额</th>
			<th>社佣</th>
			<th>导佣</th>
			<th>人数返佣</th>
			<th>停车返佣</th>
			<th>账面返佣</th>
			<th>实际返佣</th>
			<th>已结账</th>
			<th>未结账</th>
			<th> <span class="necessary">*</span>收款金额</th>
			<th>收款方式</th>
			<th>备注</th>
			<th>对账进度</th>
			<th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{each shopSettlementList as shopSettlement}}
        <tr>
            <td>{{shopSettlement.year}}年{{shopSettlement.month}}月</td>
            <td>{{shopSettlement.personCount}}</td>
            <td>{{shopSettlement.consumeMoney}}</td>
            <td>{{shopSettlement.travelAgencyRebateMoney}}</td>
            <td>{{shopSettlement.guideRebateMoney}}</td>
            <td>{{shopSettlement.customerRebateMoney}}</td>
            <td>{{shopSettlement.parkingRebateMoney}}</td>
            <td>{{shopSettlement.rebateMoney}}</td>
            <td>{{shopSettlement.realRebateMoney}}</td>
            <td>{{shopSettlement.alreadyCloseAccountMoney}}</td>
            <td>{{shopSettlement.unCloseAccountMoney}}</td>
            <td class="col-sm-1"><input name="payMoney" type="text" class="col-sm-12"></td>
            <td>
                <label class=" control-label no-padding-right" >
                    <select name="payType">
                        <option>转账</option>
                        <option>在线支付</option>
                        <option>线下付款</option>
                    </select>
                </label>
            </td>
            <td class="col-sm-1"><input name="remark" type="text" class="col-sm-12"></td>
            <td>
	        	{{if shopSettlement.allCount != shopSettlement.checkedCount}}
                  <span style="color:#ff9900"> {{shopSettlement.checkedCount}}{{"/"}}{{shopSettlement.allCount}}</span>
                {{/if}}
                {{if shopSettlement.allCount == shopSettlement.checkedCount}}
                  <span style="color:green"> {{shopSettlement.checkedCount}}{{"/"}}{{shopSettlement.allCount}}</span>
                {{/if}}
            </td>
            <td>
                <button data-entity-id="{{shopSettlement.id}}" class="btn btn-primary btn-sm btn-settlement-save" style="border:none">
                                                              保存
                </button>
                <button data-entity-year="{{shopSettlement.year}}" data-entity-month="{{shopSettlement.month}}" style="border:none" class="btn btn-primary btn-sm btn-transfter btn-shop-checkDetail">
                   	 对账明细
                </button>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>