{{each shopAccountList as rs index}}
    <tr class="T-checkTr" data-id="{{rs.id}}" data-confirm="{{if !!rs.isConfirmAccount}}1{{else}}0{{/if}}">
        <td>{{rs.tripMessage}}</td>
        <td>{{rs.accountTime}}</td>
        <td><span>{{rs.count}}</span></td>
        <td>{{if rs.shopItem.length >0}}{{rs.shopItem[0].itemName}}{{if rs.shopItem.length >1}}...{{/if}}<a class="cursor T-action T-see-group">展开</a>{{/if}}</td>
        <td><span class="F-float F-money">{{rs.consumeMoney}}</span></td>
        <td><span class="F-float F-money">{{rs.travelAgencyRebateMoney}}</span></td>
        <td><span class="F-float F-money">{{rs.guideRebateMoney}}</span></td>
        <td style="white-space: nowrap;">{{if !rs.billImage}}<span style="color:#bbb">查看</span>{{else}}<a class="cursor T-action T-view-receipts" data-billimage="{{rs.billImage}}">查看</a>{{/if}}</td>
        <td><span class="F-float F-money">{{rs.backMoney}}</span></td>
        <td><a class="cursor T-action T-payDetails">&nbsp;&nbsp;社收:<span class="F-float F-money">{{rs.receiveMoney}}</span>&nbsp;&nbsp;导游现收:<span class="F-float F-money">{{rs.rebateCurrentIncomeMoney}}</span></a></td>        <td><span class="F-float F-money">{{rs.settlementMoney}}</span></td>
        <td name="unPayedMoney"><span class="F-float F-money">{{rs.unReceiveMoney}}</span></td>
        <td><input type="text" class="col-sm-12 T-reciveMoney F-float F-money" name="payMoney" value="{{rs.payMoney}}"></td>
        <td><textarea class="col-sm-12 hct-textarea T-payRemark" name="payRemark" maxlength="1000">{{rs.payRemark}}</textarea></td>
        <td>{{rs.checkTime}}</td>
        <td>{{rs.checkName}}</td>
        <td>
            <label class="pos-rel">
                <span class="lbl">{{if !!rs.isConfirmAccount}}已{{else}}未{{/if}}对账</span>
            </label>
            <label class="cursor" data-right="1310004"> <a> |</a></label>
            <a class="cursor T-action T-view-details" data-right="1310004">查看</a>
        </td>
    </tr>
    {{if rs.shopItem.length > 0}}
    <tr class="hide">
        <td colspan="19">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="th-border" style="min-width: 45px;">序号</th>
                        <th class="th-border" style="min-width: 70px;">商品</th>
                        <th class="th-border" style="min-width: 120px;">消费金额</th>
                        <th class="th-border" style="min-width: 45px;">社佣</th>
                        <th class="th-border" style="min-width: 45px;">导佣</th>
                    </tr>
                </thead>
                <tbody>
                    {{each rs.shopItem as list i}}
                    <tr>
                        <td>{{i + 1}}</td>
                        <td>{{list.itemName}}</td>
                        <td><span class="F-float F-money">{{list.consumeMoney}}</span></td>
                        <td><span class="F-float F-money">{{list.travelAgencyRebateMoney}}</span></td>
                        <td><span class="F-float F-money">{{list.guideRebateMoney}}</span></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </td>
    </tr>

    {{/if}}
{{/each}}