<div class="T-search-area search-area guideAdd">
    <label class="control-label mar-r-20">期初余额合计: <span class=" F-float F-money">{{beginningBalance}}</span></label>
    <label class="control-label mar-r-20">收入合计：<span class=" F-float F-money">{{incomeMoney}}</span></label>
    <label class="control-label mar-r-20">支出合计：<span class=" F-float F-money">{{payMoney}}</span></label>
    <label class="control-label mar-r-20">结余合计：<span class=" F-float F-money">{{balance}}</span></label>
	<button class="btn-sm  T-refresh search-btn">
	    <i class="ace-ico n fa fa-refresh"></i> 刷新
	</button>
</div>
<div class="row guideList guideAdd">
	<div class="col-xs-12">
		<table class="table table-striped table-bordered table-hover T-showHighLight table-fixed">
            <colgroup>
            	<col style="width:8%;"></col>
            	<col style="width:13%;"></col>
            	<col style="width:15%;"></col>
            	<col style="width:10%;"></col>
            	<col style="width:8%;"></col>
            	<col style="width:8%;"></col>
            	<col style="width:8%;"></col>
            	<col style="width:8%;"></col>
            	<col style="width:8%;"></col>
            	<col style="width:8%;"></col>
            	<col style="width:6%;"></col>
            </colgroup>
			<thead>
				<tr class="bg-blur guideListSmall">
					<th>类型</th>
					<th>资金账户</th>
					<th>银行账号</th>
					<th>开户银行</th>
					<th>开户户名</th>
					<th>期初日期</th>
					<th>期初余额</th>
					<th>收入</th>
					<th>支出</th>
					<th>结余</th>
					<th>明细</th>
				</tr>
			</thead>
			<tbody class="T-bankAcc-list">
				{{each newBankAccountList as rs}}
					<tr bankid="{{rs.id}}" aliasName="{{rs.aliasName}}" bankMoney="{{rs.balance}}" beginningBalance="{{rs.beginningBalance}}" data-type="{{rs.type}}">
						<td>{{if rs.type == 0}}现金账户{{else rs.type == 1}}银行账户{{/if}}</td>
						<td>{{rs.aliasName}}</td>
						<td>{{if rs.type == 0}}-{{else}}{{rs.bankAccountNumber}}{{/if}}</td>
						<td>{{if rs.type == 0}}-{{else}}{{rs.openingBank}}{{/if}}</td>
						<td>{{if rs.type == 0}}-{{else}}{{rs.accountName}}{{/if}}</td>
						<td>{{rs.beginningTime | dateFormat: 'yyyy-MM-dd'}}</td>
						<td class="F-float F-money">{{rs.beginningBalance}}</td>
						<td class="F-float F-money">{{rs.incomeMoney}}</td>
						<td class="F-float F-money">{{rs.payMoney}}</td>
						<td>{{rs.balance}}</td>
						<td>
							<div class="btn-group">
								<a class="T-action T-view cursor">
									查看
								</a>
							</div>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		<div class="row pageMode">
			<div class="col-xs-4">
				<small class="recordSize"></small>
			</div>
			<div class="col-xs-8">
				<div class="dataTables_paginate paging_simple_numbers T-pagenation">
				</div>
			</div>
		</div>
	</div>
</div>
