<form class="form-horizontal T-lookDetail col-sm-12 margin-top" role="form"  onsubmit="return false">
<table class="table table-striped table-bordered table-hover col-sm-11">
    <thead>
        <tr>
            <th class="th-border">应付类别</th>
            <th class="th-border">发生业务</th>
            <th class="th-border">单价</th>
            <th class="th-border">数量</th>
            <th class="th-border">优惠</th>
            <th class="th-border">账面应付</th>
            <th class="th-border">结算金额</th>
            <th class="th-border">备注</th>
            <th class="th-border">操作人</th>
            <th class="th-border">操作时间</th>
        </tr>
    </thead>
    <tbody>
        {{each reconciliationDetailsList as order}}
        <tr>
            <td>{{order.receivableType}}</td>
            <td>{{order.businessType}}</td>
            <td class="F-float F-money">{{order.price}}</td>
            <td class="F-float F-count">{{order.count}}</td>
            <td class="F-float F-money">{{order.reduceMoney}}</td>
            <td class="F-float F-money">{{order.needPayMoney}}</td>
            <td class="F-float F-money">{{order.settlementMoney}}</td>
            <td>{{order.remark}}</td>
            <td>{{order.checkRealname}}</td>
            <td>{{order.checkTime}}</td> 
        </tr>
        {{/each}}
    </tbody>
</table>
</form>
