<form class="form-horizontal T-lookDetail col-sm-12 margin-top" role="form"  onsubmit="return false">
<table class="table table-striped table-bordered table-hover col-sm-11">
	<tr>
		<th>付款类别</th>
		<th>发生业务</th>
		<th>付款方</th>
		<th>金额</th>
		<th>付款方式</th>
		<th>备注</th>
		<th>操作人</th>
		<th>操作时间</th>
	</tr>
	{{each paymentDetailsList as paid}}
	<tr>
		<td>{{paid.receivableType}}</td>
		<td>{{paid.businessType}}</td>
		<td class="F-float F-money">{{paid.payParty}}</td>
		<td class="F-float F-money">{{paid.payDifferenceMoney}}</td>
        <td>{{if paid.payParty == '社付'}}{{paid.payType | getPayTypeText}}{{else}}{{paid.payType | getPlanPayTypeText}}{{/if}}</td>
		<td>{{paid.remark}}</td> 
		<td>{{paid.checkRealname}}</td>
		<td>{{paid.checkTime}}</td>
	</tr>
	{{/each}}
</table>
</form>
