<div class="container-fluid mar-t-20">
	<div class="row">
		<div class="col-xs-12 mar-t-20">
			<div class="pull-left">
				<span class="necessary">*</span>人数：大人 <span class="necessary">*</span> <input type="text" class="w-50" name="adultCount" value="{{adultCount}}">
				小孩 <input type="text" class="w-50" name="childCount" value="{{childCount}}">
			</div>
			<div class="pull-right">
				<button class="btn btn-sm btn-success T-add-tourist"> <i class="ace-icon fa fa-plus"></i> 添加成员 </button>
				<button class="btn btn-sm btn-success T-add-tourist-more"> <i class="ace-icon fa fa-plus"></i> 批量添加 </button>
			</div>
		</div>
		<div class="col-xs-12 mar-t-10">
			<table class="table table-striped table-new table-bordered table-hover">
				<thead>
					<tr>
						<th>序号</th>
						<th>姓名</th>
						<th>手机号码</th>
						<th>证件类型</th>
						<th>证件号</th>
						<th>设为联系人</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody class="T-addTouristTbody" data-del-json="{{touristGroupMemberJsonDel}}">
				{{if !!touristGroupMemberJsonAdd && touristGroupMemberJsonAdd.length > 0}}
					{{each touristGroupMemberJsonAdd as rs index}}
					<tr data-id="{{rs.id}}">
						<td>{{index+1}}</td>
						<td><input type="text" class="col-xs-12" name="name" value="{{rs.name}}"></td>
						<td><input type="text" class="col-xs-12" name="mobileNumber" value="{{rs.mobileNumber}}"></td>
						<td>
							<select class="col-xs-12" name="idCardType">
								{{#rs.idCardType | getCardOption}}
							</select>
						</td>
						<td><input type="text" class="col-xs-12" name="idCardNumber" value="{{rs.idCardNumber}}"></td>
						<td>
							<label>
								<input type="checkbox" name="isContactUser" class="ace"{{if rs.isContactUser == 1}} checked{{/if}}>
								<span class="lbl"></span>
							</label>
						</td>
						<td><a class="cursor T-action T-delete">删除</a></td>
					</tr>
					{{/each}}
				{{else}}
					<tr data-default="1">
						<td>1</td>
						<td><input type="text" class="col-xs-12" name="name"></td>
						<td><input type="text" class="col-xs-12" name="mobileNumber"></td>
						<td>
							<select class="col-xs-12" name="idCardType">
								{{#0 | getCardOption}}
							</select>
						</td>
						<td><input type="text" class="col-xs-12" name="idCardNumber"></td>
						<td>
							<label>
								<input type="checkbox" name="isContactUser" class="ace">
								<span class="lbl"></span>
							</label>
						</td>
						<td><a class="cursor T-action T-delete">删除</a></td>
					</tr>
				{{/if}}
				</tbody>
			</table>
		</div>
		<div class="col-xs-12 mar-t-20 mar-b-10 text-center">
			<button class="btn btn-sm btn-primary otherButton T-btn-save" style="height: auto;"> <i class="ace-icon fa fa-check"></i> 保存 </button>
		</div>
	</div>
</div>