<div class="container-fluid mar-t-20" data-id="{{id}}">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-2 text-right no-padding-right control-label">本段团款</div>
            <div class="col-xs-10">
                <input type="text" class="col-xs-12" name="subNeedPayMoney" value="{{subNeedPayMoney}}">
            </div>
        </div>
        <div class="col-xs-12 mar-t-20 mar-b-10 text-center">
            <button class="btn btn-sm btn-primary otherButton T-btn-save" style="height: auto;"> <i class="ace-icon fa fa-check"></i> 保存 </button>
        </div>
    </div>
</div>