<div class="container-fluid mar-t-20">
	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-2 col-xs-offset-1">
				<select class="col-xs-12 T-abversion">
					<option value="0">本部操作</option>
					<option value="1" {{if isTransfer == 1}}selected{{/if}}>他部操作</option>
				</select> 
			</div>
			<div class="col-xs-9{{if isTransfer != 1}} hidden{{/if}} T-internal">
				<div class="col-xs-1 text-right no-padding-right control-label no-padding-left">部门</div>
				<div class="col-xs-2">
					<input type="text" class="col-xs-12" name="businessName" value="{{dutyDepartmentName}}" data-id="{{dutyDepartmentId}}">
				</div>
				<div class="col-xs-1 text-right no-padding-right control-label no-padding-left">子部门</div>
				<div class="col-xs-2">
					<input type="text" class="col-xs-12" name="groupName" value="{{dutySubDepartmentName}}" data-id="{{dutySubDepartmentId}}" data-type="1">
				</div>
				<div class="col-xs-2 text-right no-padding-right control-label">责任计调</div>
				<div class="col-xs-4">
					<input type="text" class="col-xs-12" name="dutyUserName" value="{{dutyUserName}}" data-id="{{dutyUserId}}">
				</div>
			</div>
			<div class="col-xs-8{{if isTransfer != 2}} hidden{{/if}} T-peer">
				<div class="col-xs-2 text-right no-padding-right control-label">同行</div>
				<div class="col-xs-4">
					<input type="text" class="col-xs-12" name="transferPartnerAgency" value="{{transferPartnerAgency}}" data-id="{{transferPartnerAgencyId}}">
				</div>
			</div>
		</div>
		<div class="col-xs-12 mar-t-10">
			<div class="col-xs-1 text-right no-padding-right control-label">车辆要求</div>
			<div class="col-xs-11">
				<input type="text" class="col-xs-12" name="requireContent" value="{{require}}">
			</div>
		</div>
		<div class="col-xs-12 mar-t-20">
			<div class="col-xs-2" style="padding-left: 20px;">
				<button class="btn btn-sm btn-success T-add-fee"> <i class="ace-icon fa fa-plus"></i> 新增费用项 </button>				
			</div>
			<div class="col-xs-8" style="padding-top: 4px;">
				<label class="control-label pull-left" style="width: 35px;">应付</label>
				<input type="text" readonly class="pull-left F-float F-money" name="needPayAllMoney" value="{{needPayAllMoney}}">
			</div>
		</div>
		<div class="col-xs-12 mar-t-20">
			<table class="table table-striped table-new table-bordered table-hover">
				<thead>
					<tr>
						<th>费用项</th>
						<th>数量</th>
						<th>单价</th>
						<th>金额</th>
						<th>说明</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody class="T-fee-list" data-type="1" data-del-json="{{busFeeDel}}">
				{{if busFee && busFee.length > 0}}
					{{each busFee as rs}}
					<tr data-id="{{rs.id}}">
						<td>
							<select class="col-xs-12" name="type">
								<option value="4">车辆费用</option>
							</select>
						</td>
						<td><input type="text" class="col-xs-12 T-option F-float F-count" name="count" value="{{rs.count}}"></td>
						<td><input type="text" class="col-xs-12 T-option F-float F-money" name="price" value="{{rs.price}}"></td>
						<td><input type="text" class="col-xs-12 F-float F-money" name="money" readonly value="{{rs.price*rs.count}}"></td>
						<td><input type="text" class="col-xs-12" name="remark" value="{{rs.remark}}"></td>
						<td><a class="cursor T-action T-delete">删除</a></td>
					</tr>
					{{/each}}
				{{/if}}
				</tbody>
			</table>
		</div>
		<div class="col-xs-12 mar-t-20 mar-b-10 text-center">
			<button class="btn btn-sm btn-primary otherButton T-btn-save" style="height: auto;"> <i class="ace-icon fa fa-check"></i> 保存 </button>
		</div>
	</div>
</div>