<div class="container-fluid mar-t-20">
	<div class="row T-outer-turn" data-id="{{id}}">
		<div class="col-xs-12">
			<div class="col-xs-1 text-right no-padding-right control-label">线路名称</div>
			<div class="col-xs-3 control-label">{{receiveInfo.lineProductName}}</div>
			<div class="col-xs-1 text-right no-padding-right control-label">天数</div>
			<div class="col-xs-1 control-label">{{receiveInfo.days}}</div>
			<div class="col-xs-1 text-right no-padding-right control-label">出团日期</div>
			<div class="col-xs-3 control-label">{{receiveInfo.startTime | dateFormat: 'yyyy-MM-dd'}}</div>
		</div>
		<div class="col-xs-12 mar-t-20">
			<div class="col-xs-1 text-right no-padding-right control-label">现收团款</div>
			<div class="col-xs-1 control-label F-float">{{receiveInfo.currentNeedPayMoney || 0}}</div>
			<div class="col-xs-1 text-right no-padding-right control-label">收客金额</div>
			<div class="col-xs-1 control-label F-float">{{receiveInfo.needPayAllMoney || 0}}</div>
		</div>
		<div class="col-xs-12 mar-t-20">
			<div class="col-xs-1 text-right no-padding-right control-label">同行</div>
			<div class="col-xs-3">
				<input type="text" class="col-xs-12" name="transferPartnerAgency" value="{{lineInfo.transferPartnerAgency}}" data-id="{{lineInfo.transferPartnerAgencyId}}">
			</div>
		</div>
		<div class="col-xs-12 mar-t-20">
			<div class="col-xs-1 text-right no-padding-right control-label">备注</div>
			<div class="col-xs-10">
				<input type="text" class="col-xs-12" name="remark" value="{{lineInfo.remark}}">
			</div>
		</div>
		<div class="col-xs-12 mar-t-10">
			<div class="col-xs-1 text-right no-padding-right control-label">应付</div>
			<div class="col-xs-3">
				<input type="text" readonly class="pull-left" name="needPayAllMoney" value="{{lineInfo.needPayAllMoney}}" readonly>
			</div>
		</div>
		<div class="col-xs-12 mar-t-10">
			<div class="col-xs-1"></div>
			<div class="col-xs-3">
				<button class="btn btn-sm btn-success T-add-fee"> <i class="ace-icon fa fa-plus"></i> 新增费用项 </button>
			</div>
		</div>
		<div class="col-xs-12 mar-t-20">
			
			<table class="table table-striped table-new table-bordered table-hover">
				<thead>
					<tr>
						<th>费用项</th>
						<th>数量</th>
						<th>单价</th>
						<th>金额</th>
						<th>说明</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody class="T-fee-list" data-del-json="{{outTransferFeeDel}}" data-type="4">
				{{if lineInfo.lineFee && lineInfo.lineFee.length > 0}}
					{{each lineInfo.lineFee as rs}}
					<tr data-id="{{rs.id}}">
						<td>
							<select class="col-xs-12" name="type" {{if rs.type == 3 || rs.type == 4 || rs.type == 5 || rs.type == 6 || rs.type == 7 || rs.type == 9 || rs.type == 10 || rs.type == 11}}disabled{{/if}}>
								{{if rs.type == 1 || rs.type == 2 || rs.type == 8 || rs.type == 12}}
								{{#rs.type | getFeeItemType2}}
								{{else}}
								{{#rs.type | getFeeItemType:true}}
								{{/if}}
							</select>
						</td>
						<td><input type="text" class="col-xs-12 T-option F-float F-count" name="count" value="{{rs.count}}" {{if rs.type == 3 || rs.type == 4 || rs.type == 5 || rs.type == 6 || rs.type == 7 || rs.type == 9 || rs.type == 10 || rs.type == 11}}disabled{{/if}}></td>
						<td><input type="text" class="col-xs-12 T-option F-float F-money" name="price" value="{{rs.price}}" {{if rs.type == 3 || rs.type == 4 || rs.type == 5 || rs.type == 6 || rs.type == 7 || rs.type == 9 || rs.type == 10 || rs.type == 11}}disabled{{/if}}></td>
						<td><input type="text" class="col-xs-12 F-float F-money" name="money" readonly value="{{rs.price*rs.count}}"></td>
						<td><input type="text" class="col-xs-12" name="remark" value="{{rs.remark}}" maxlength="1000" {{if rs.type == 3 || rs.type == 4 || rs.type == 5 || rs.type == 6 || rs.type == 7 || rs.type == 9 || rs.type == 10 || rs.type == 11}}disabled{{/if}}></td>
						<td><a class="cursor T-action T-delete">删除</a></td>
					</tr>
					{{/each}}
				{{/if}}
				</tbody>
			</table>
		</div>
		<div class="col-xs-12 mar-t-20 mar-b-10 text-center">
			<button class="btn btn-sm btn-primary otherButton T-btn-save" style="height: auto;"> <i class="ace-icon fa fa-check"></i> 保存 </button>
		</div>
	</div>
</div>