<div class="col-xs-12 globalAdd T-update-container">
	<form class="form-horizontal restaurantMainForm formOneList" role="form" style="margin-top:10px" onsubmit="return false">
	
		<input name="id" type="hidden" value="{{restaurant.id}}"/>
		<div class=" ui-sortable-handle">
			<div class="">
				<h5 class="widget-title">
					<span class="badge badge-primary">1</span>
					<label class="middle title-size navInformation">餐厅主体信息</label>
				</h5>
			</div>
			<div class="widget-body">
				<div class="widget-main widget-mainFrist">
					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right"><span class="necessary">*</span>餐厅名称</label>
						<div class="col-sm-3">
							<input type="text" name="name" maxlength="32" class="col-sm-12" value="{{restaurant.name}}">
						</div>
						<label class="col-sm-1 control-label no-padding-right">是否启用</label>
						<div class="col-sm-3">
							<label>
								<input {{if restaurant.status == 1}}checked="checked"{{/if}} type="checkbox" class="ace restaurant-status" value="1">
								<span class="lbl">
									启用
								</span>
							</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right"><span class="necessary">*</span>联系人</label>
						<div class="col-sm-3">
							<input type="text" name="managerName" value="{{restaurant.managerName}}" class="col-sm-12" maxlength="32">
						</div>
						<label class="col-sm-1 control-label no-padding-right"><span class="necessary">*</span>联系电话</label>
						<div class="col-sm-3">
							<input type="text" name="mobileNumber" value="{{restaurant.mobileNumber}}" class="col-sm-12 mar-r-10" maxlength="11">
							<i title="该手机号码将接收短信" class="fa fa-info blue"></i>
						</div>
					</div>
					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right">座机号码</label>
						<div class="col-sm-3">
							<input type="text" name="telNumber" class="col-sm-12" value="{{restaurant.telNumber}}" maxlength="20"/>
						</div>
						<label class="col-sm-1 control-label no-padding-right">传真号码</label>
						<div class="col-sm-3">
							<input type="text" name="faxNumber" class="col-sm-12" value="{{restaurant.faxNumber}}"  maxlength="20"/>
						</div>
					</div>

					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right">所在地区</label>
						<div class="col-sm-8">
							<select class="col-sm-2" name="provinceId" style="margin-right:3px">
								<option selected="selected" value="">未选择</option>
							</select>
							<select class="col-sm-2" name="cityId"  style="margin-right:3px">
								<option selected="selected" value="">未选择</option>
							</select>
							<select class="col-sm-2" name="districtId" >
								<option selected="selected" value="">未选择</option>
							</select>
						</div>
					</div>
					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right">详细地址</label>
						<div class="col-sm-6">
							<input type="text" name="street" class="col-sm-12 addressMinute" value="{{restaurant.street}}" placeholder="请输入街道地址" maxlength="100"/>
						</div>
					</div>  
					
					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right">餐厅设施</label>
						<div class="col-sm-6">
							<input type="text" name="facility" maxlength="500" value="{{restaurant.facility}}" class="col-sm-12 addressMinute">
						</div>
					</div>
					<!--<div class="form-group guideInterval">-->
						<!-- -->
					<!--</div>    -->
					<div class="form-group guideInterval">
						<label class="col-sm-2 control-label no-padding-right">餐厅简介</label>
						<div class="col-sm-8">
							<textarea class="form-control" maxlength="1000" name="remark" class="col-sm-12" >{{restaurant.remark}}</textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<form class="form-horizontal form-horizontal restaurantMainForm" role="form" style="margin-top:10px" onsubmit="return false">
		<div class="form-group">
			<div class="col-xs-12 col-sm-12 widget-container-col">
				<div class=" ui-sortable-handle">
						<h5 class="">
							<span class="badge badge-primary">2</span>
							<label class="middle title-size navInformation">餐标列表</label>

							<a href="javascript:void(0)" class="btn-restaurant-standard-add">
								<button class="btn btn-sm btn-success T-standard-add" style="margin-left: 20px">
								<i class="ace-icon fa fa-plus"></i>
								新增
								</button>
							</a>
						</h5>
					<div class="widget-body">
						<div class="widget-main no-padding">
							<table class="table table-striped table-bordered table-hover restaurantStandardList" style="border: 1px solid #ccc">
								<thead>
									<tr>
										<th class="table-border">用餐类型</th>
										<th width="200" class="table-border"><span class="necessary">*</span>餐标<span style="font-size:12px;">(元/人)</span></th>
										<th width="200" class="table-border">菜单</th>
										<th class="table-border">备注</th>
										<th class="table-border" style="width: 60px">操作</th>
									</tr>
								</thead>
								<tbody>
									{{each restaurant.restaurantStandardList as restaurantStandard}}
										<tr data-id="{{restaurantStandard.id}}">
											<td>
												<select name="type">
													<option {{if restaurantStandard.type == '早餐'}} selected="selected" {{/if}} value="早餐">早餐</option>
													<option {{if restaurantStandard.type == '午餐'}} selected="selected" {{/if}} value="午餐">午餐</option>
													<option {{if restaurantStandard.type == '晚餐'}} selected="selected" {{/if}} value="晚餐">晚餐</option>
												</select>
											</td>
									 		<td>
												<input name="price" value="{{restaurantStandard.price}}" class="col-sm-12 F-float F-money" type="text" maxlength="9">

											</td>
											<td>
												<input name="menuList" value="{{restaurantStandard.menuList}}" maxlength="500" class="col-sm-12" type="text">
											</td>
											<td>
												<input name="remark" value="{{restaurantStandard.remark}}" maxlength="1000" class="col-sm-12" type="text">
											</td>
											<td style="width:90px">
												<a class="T-standard-delete">删除</a>
											</td>
										</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="space-10"></div>
		<button class="btn btn-block btn-primary T-saveUpdate guideSubmit">
			<i class="ace-icon fa fa-check"></i>
			提交信息
		</button>
		<div class="space-20"></div>
	</form>
</div>
