
	<form class="form-horizontal restaurantMainForm" role="form" style="margin-top:10px" onsubmit="return false">
		<table class="whereQ" style="width: 96%">
			<tr>
				<td colspan="4" class="HeadManage">餐厅主体信息</td>
			</tr>
			<tr>
				<td class="style-myself">餐厅名称：</td>
				<td class="styleOne-self">{{restaurant.name}}</td>
				<td class="style-myself">联系人：</td>
				<td class="styleOne-self">{{restaurant.managerName}}</td>
			</tr>
			<tr>
				<td class="style-myself">联系电话：</td>
				<td class="styleOne-self">{{restaurant.mobileNumber}}</td>
				<td class="style-myself">座机号码：</td>
				<td class="styleOne-self">{{restaurant.telNumber}}</td>
			</tr>
			<tr>
				<td class="style-myself">传真号码：</td>
				<td class="styleOne-self">{{restaurant.faxNumber}}</td>
				<td class="style-myself">餐厅设施：</td>
				<td class="styleOne-self">{{restaurant.facility}}</td>
			</tr>
			<tr>
				<td class="style-myself">所在地区：</td>
				<td class="styleOne-self">{{if restaurant.province != null}}
					{{restaurant.province.name}}
					{{/if}}
					{{if restaurant.city != null}}
					-{{restaurant.city.name}}
					{{/if}}
					{{if restaurant.district != null}}
					-{{restaurant.district.name}}
					{{/if}}</td>
				<td class="style-myself">是否启用：</td>
				<td class="styleOne-self">	{{if restaurant.status == 0}}
					已停用
					{{else}}
					已启用
					{{/if}}</td>
			</tr>
			<tr>
				<td class="style-myself">详细地址:</td>
				<td class="styleOne-self" colspan="3">{{restaurant.street}}</td>
			</tr>
			<tr>
				<td class="style-myself">餐厅简介:</td>
				<td class="styleOne-self" colspan="3">{{restaurant.remark}}</td>
			</tr>
		</table>
	</form>
	<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
		<table class="whereQ whereTwo" style="width:1140px;">
			<tr>
				<td colspan="8" class="HeadManage" style="text-align: left">餐标列表</td>
			</tr>
			<tr>
				<td class="style-myself">用餐类型</td>
				<td class="style-myself">餐标<span style="font-size:12px;">(元/人)</span></td>
				<td class="style-myself">菜单</td>
				<td class="style-myself">备注</td>
			</tr>
			{{each restaurant.restaurantStandardList as restaurantStandard}}
			<tr>
				<td>{{if restaurantStandard.type == '早餐'}}
					早餐
					{{else if restaurantStandard.type == '午餐'}}
					午餐
					{{else}}
					晚餐
					{{/if}}</td>
				<td><span class="F-float F-money">{{restaurantStandard.price}}</span></td>
				<td style="padding:10px;">{{restaurantStandard.menuList}}</td>
				<td style="padding:10px;">{{restaurantStandard.remark}}</td>
			</tr>
			{{/each}}
		</table> 
	</form>

