<div class="col-xs-12" id="userSetAuth">
	<div class="page-header" style="font-weight: bold;font-size:14px;">
		【当前用户：{{user.group.name}}&gt;{{user.realName}}】
	</div>
	<form class="form-horizontal userMainForm" role="form" style="margin-top:10px" onsubmit="return false">
		<input type="hidden" value="{{user.id}}" id="userId" />
		<div style="margin:10px 0px 20px 0px;display: none;"><button id="btn_groul_all">全选</button><button id="btn_groul_no" style="margin-left:10px;">全不选</button><button id="btn_groul_bak" style="margin-left:10px;">反选</button></div>
		<table class="table table-striped table-bordered table-hover" style="font-size:15px;">
			{{each listMenu as menu menuIndex}}
				{{if menu.name != "工作台" && menu.name != "消息中心"}}
					<tr><td>
						<table class="table table-striped table-bordered table-hover">
							{{if menuIndex == 0}}
								<thead>
									<th class="th-border">功能模块</th>
									<th class="th-border" colspan="5">权限</th>
								</thead>
							{{/if}}
							<tr>
								<td width="120">
									<div>
										<input type="checkbox" name="menu" value="{{menu.id}}" class="ace T-menu-check" />
										<span class="lbl"></span>{{menu.name}}
									</div>
								</td>
								<td {{if menu.childMenuList.length}}colspan="4"{{/if}} width="330">权限范围</td>
								<td>操作权限</td>
							</tr>
							{{each menu.childMenuList as submenu index}}
								{{if index == 0}}
									<tr data-id="{{menu.id}}" class="T-selectAll">
										<td></td>
										<td><a href="javascript:;">全选</a></td>
										<td><a href="javascript:;">全选</a></td>
										<td><a href="javascript:;">全选</a></td>
										<td><a href="javascript:;">全选</a></td>
										<td></td>
									</tr>
								{{/if}}
								<tr class="T-submenu" data-id="{{submenu.id}}">
									<td><input type="checkbox" class="ace T-submenu-check T-submenu-id{{submenu.id}}"/><span class="lbl"></span>{{submenu.name}}</td>
									<td width="80"><input type="radio" class="ace T-function-area1" value="1" name="{{submenu.id}}"><span class="lbl"></span>个人</td>
									<td width="80"><input type="radio" class="ace T-function-area2" value="2" name="{{submenu.id}}"><span class="lbl"></span>子部门</td>
									<td width="90"><input type="radio" class="ace T-function-area3" value="3" name="{{submenu.id}}"><span class="lbl"></span>业务部门</td>
									<td width="80"><input type="radio" class="ace T-function-area4" value="4" name="{{submenu.id}}"><span class="lbl"></span>公司</td>

									<td>
										{{each submenu.menuFunctionShipList as func}}
											<div class="pull-left" style="width:100px;margin-left:10px;text-align:left;">
												<input type="checkbox" class="ace T-function T-function-id{{func.id}}" value="{{func.id}}" /><span class="lbl"></span>
												{{func.functionName}}
											</div>
										{{/each}}
									</td>
								</tr>
							{{/each}}
						</table>
					</td></tr>
				{{/if}}
			{{/each}}
			
		</table>
		<div class="space-10"></div>
		<button class="btn btn-block btn-primary btn-submit-group" style="margin-bottom:10px;">
			<i class="ace-icon fa fa-check"></i>
			提交信息
		</button>
	</form>
</div>

