<div class="search-area globalAdd T-search-area">
	<input name="user_realname" class="col-xs-2 input-default-height guideInputList" value="{{searchParam.inputName}}" placeholder="账号、姓名"/>&nbsp;
	<button class=" btn-sm  search-btn T-search" style="margin-left:-8px">
		<i class="ace-icon fa fa-search"></i>
		搜索
	</button>
	<div class="btn-group T-status"style="margin-left: 15px">
		<button data-value="{{searchParam.status}}" data-toggle="dropdown" class=" btn-sm block-up dropdown-toggle" aria-expanded="false">
			<span>
				{{if searchParam.status == ""}}
					全部
				{{else if searchParam.status == 1}}
					已启用
				{{else}}
					已停用
				{{/if}}
			</span>
			<i class="ace-icon fa fa-angle-down icon-on-right"></i>
		</button>
		<ul class="dropdown-menu">
			<li>
				<a data-value="" href="javascript:void(0)">全部</a>
			</li>
			<li>
				<a data-value="1" href="javascript:void(0)">已启用</a>
			</li>
			<li>
				<a data-value="0" href="javascript:void(0)">已停用</a>
			</li>
		</ul>
	</div>
	<button class="btn btn-sm btn-success T-add R-right" data-right='1420001' style="margin-left:15px;">
		<i class="ace-icon fa fa-plus"></i>
		新增人员
	</button>
</div>
<div class="row userList">
	<div class="col-xs-12">
		<table class="table table-striped table-bordered table-hover T-showHighLight">
			<thead>
				<tr class="bg-blur">
					<th>姓名</th>
					<th>账号</th>
					<th>初始密码</th>
					<th>联系电话</th>
					<th>业务部</th>
					<th>子部门</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody class="T-list">
				{{each userList as user}}
					<tr data-id="{{user.id}}">
						<td>{{user.realName}}</td>
						<td>{{user.userName}}</td>
						<td>{{defaultPassword}}</td>
						<td>{{user.mobileNumber}}</td>
						<td>{{if user.group != null}}{{user.group.businessGroup.name}}{{/if}}</td>
						<td>{{if user.group != null}}{{user.group.name}}{{/if}}</td>
						<td>
							{{if user.status == 0}}
								已停用
							{{else user.status == 1}}
								已启用
							{{/if}}
						</td>
						<td>
							<div class="btn-group">
							<a class="cursor T-option T-view" title="查看">
									查看
								</a>
								<a class="cursor T-option T-auth R-right" data-right='1420003' title="授权">
									<label class="padding-right20">|</label>
									授权
								</a>
								<a class="cursor T-option T-update R-right" data-right='1420002' title="修改">
									<label class="padding-right20">|</label>
									修改
								</a>
							</div>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		<div class="row pageMode">
			<div class="col-xs-6">
				<small>共计 {{recordSize}} 条记录</small>
			</div>
			<div class="col-xs-6">
				<div class="dataTables_paginate paging_simple_numbers T-pagenation">
				</div>
			</div>
		</div>
	</div>
</div>