<div class="col-xs-12">
	<form class="form-horizontal T-updateUser-form" role="form" style="margin-top:10px" onsubmit="return false">
		<div class="form-group guideInterval">
			<label class="col-sm-2 control-label no-padding-right">用户名:</label>
			<div class="col-sm-3">
				{{user.userName}}
			</div>
			<label class="col-sm-2 control-label no-padding-right">姓名:</label>
			<div class="col-sm-3">
				<input type="text" name="realName" class="col-sm-12" value="{{user.realName}}" />
			</div>
		</div>

		<div class="form-group guideInterval">
			<label class="col-sm-2 control-label no-padding-right"><span class="necessary">*</span>联系电话:</label>
			<div class="col-sm-3">
				<input type="text" name="mobileNumber" class="col-sm-12" value="{{user.mobileNumber}}" />
			</div>
			<label class="col-sm-2 control-label no-padding-right"><span class="necessary">*</span>所属子部门:</label>
			<div class="col-sm-3">
				<select name="groupId" class="col-sm-12">
					{{each groups as group}}
					<optgroup label="{{group.name}}">
						{{each group.subOrg as item}}
						<option value="{{item.orgId}}" {{if item.orgId == user.groupId}}selected="selected"{{/if}}>{{item.orgName}}</option>
						{{/each}}
					</optgroup>
					{{/each}}
				</select>
			</div>
		</div>

		<div class="form-group guideInterval">
			<!-- <label class="col-sm-2 control-label no-padding-right">审核角色:</label>
			<div class="col-sm-3">
				<select name="roleType" class="col-sm-12">
					<option {{if user.roleType == 0 }}selected="selected"{{/if}} value="0">无</option>
					<option {{if user.roleType == 1 }}selected="selected"{{/if}} value="1">管理员</option>
					<option {{if user.roleType == 2 }}selected="selected"{{/if}} value="2">财务</option>
					<option {{if user.roleType == 3 }}selected="selected"{{/if}} value="3">计调</option>
				</select>
			</div> -->
			<label class="col-sm-2 control-label no-padding-right">登录密码:</label>
			<div class="col-sm-3">
				<input type="password" name="password" class="col-sm-12" />
			</div>
		</div>

		<div class="form-group guideInterval">
			<label class="col-sm-2 control-label no-padding-right">启用标志:</label>
			<div class="col-sm-2 checkbox resource_checkbox">
				<label>
					<input {{if user.status == 1}}checked="checked"{{/if}} type="checkbox" name="" class="ace T-user-status" />
					<span class="lbl">
						启用
					</span>
				</label>
			</div>
			<div class="col-sm-3 checkbox" style="padding-left:0;padding-top:1px; padding-right:0;">
				<label>
					<input {{if isOpenOPApp == 1}}checked="checked" disabled{{/if}} type="checkbox" class="ace T-open-meter" />
					<span class="lbl">
						开通计调APP
					</span>
				</label>
			</div>
			<div class="col-sm-3 checkbox" style="padding-left:0;padding-top:1px; padding-right:0;"> 
				<label class="pos-rel">
					<input type="checkbox" class="ace T-financialMessage" {{if user.financialMessage == 1}}checked{{/if}} />
					<span class="lbl"> 财务消息通知</span>
				</label>
			</div>
		</div>
		<div class="space-10"></div>
		<button class="btn btn-block btn-primary T-updateUser guideSubmit">
			<i class="ace-icon fa fa-check"></i>
			提交信息
		</button>
	</form>
</div>
