<div class="col-xs-12">
	<form class="form-horizontal guideMainForm" role="form" style="margin-top:10px" onsubmit="return false">

		<table class="whereQ">
			<tr>
				<td class="style-myself">用户名</td>
				<td class="styleOne-self">{{user.userName}}</td>
				<td class="style-myself">姓名</td>
				<td class="styleOne-self">{{user.realName}}</td>
			</tr>
			<tr>
				<td class="style-myself">联系电话</td>
				<td class="styleOne-self" colspan="3">{{user.mobileNumber}}</td>
				<!-- <td class="style-myself">审核角色：</td>
				<td class="styleOne-self">{{if user.roleType == 1 }}管理员{{/if}}
					{{if user.roleType == 2 }}财务{{/if}}
					{{if user.roleType == 3 }}计调{{/if}}</td> -->
			</tr>
			<tr>
				<td class="style-myself">部门</td>
				<td class="styleOne-self">{{groupname}}</td>
				<td class="style-myself">启用状态</td>
				<td class="styleOne-self">{{if user.status == 1}}
					已启用
					{{else user.status == 0}}
					已停用
					{{/if}}</td>
			</tr>
		</table>
	</form>
</div>
