<div class="row T-search-area border" style="padding: 0 20px;">
    <form class="form-inline" role="form" onsubmit="return false" style="padding-top: 10px;">
        <div class="form-group">
            <label class="control-label">客户：</label>
            <label class="control-label T-partnerAgencyName">{{partnerAgencyName}}</label>
        </div>
        <div class="form-group marginLeft-30">
            <label class="control-label">账期：</label>
            <input type="text" class="form-control date-picker T-search-start-date" value="{{searchParam.startTime}}">
            <label class="control-label">&nbsp;至&nbsp;</label>
            <input type="text" class="form-control date-picker T-search-end-date" value="{{searchParam.endTime}}">
        </div>
        <div class="form-group marginLeft-30">
            <label class="control-label">线路名称：</label>
            <input type="text" class="form-control T-search-line" value="{{searchParam.lineProductName}}">
        </div>
        <div class="form-group marginLeft-30">
            <label class="control-label">录入人：</label>
            <input type="text" class="form-control T-search-enter" value="{{searchParam.creatorName}}">
        </div>
        <div class="form-group marginLeft-30">
            <button class="btn-sm search-btn T-btn-search">
                <i class="ace-icon fa fa-search"></i> 搜索
            </button>
        </div>
    </form>
    <div class="form-inline" style="padding-top: 10px;">
        <div class="form-group">
            <label class="control-label">人数合计：</label>
            <label class="control-label">{{totalList.sumCount}}</label>
        </div>
        <div class="form-group marginLeft-30">
            <label class="control-label">合同金额合计：</label>
            <label class="control-label">{{totalList.sumContractMoney}}</label>
        </div>
        <div class="form-group marginLeft-30">
            <label class="control-label">已收金额合计：</label>
            <label class="control-label">{{totalList.sumReceiveMoney}}</label>
        </div>
        <div class="form-group marginLeft-30">
            <label class="control-label">返款金额合计：</label>
            <label class="control-label">{{totalList.sumBackMoney}}</label>
        </div>
        <div class="form-group marginLeft-30">
            <label class="control-label">结算金额合计：</label>
            <label class="control-label">{{totalList.sumSettlementMoney}}</label>
        </div>
        <div class="form-group marginLeft-30">
            <label class="control-label">未收金额合计：</label>
            <label class="control-label">{{totalList.sumUnReceivedMoney}}</label>
        </div>
    </div>

    <div class="form-inline" style="padding-top: 10px;">
        <div class="form-group">
            <label class="control-label">本次收款金额合计：</label>
            <label class="control-label">
                <input type="text" class="T-sumReciveMoney money"  {{if type}}disabled {{/if}}>
            </label>
        </div>

        <div class="form-group marginLeft-30">
            <label class="control-label">收款方式：</label>
            <select class="form-control T-sumPayType" name="payType">
                <option value="0">现金</option>
                <option value="1">银行转账</option>
                <option value="2">网上支付</option>
                <option value="3">支票</option>
                <option value="4">其它</option>
            </select>
        </div>
        <div class="form-group marginLeft-30">
            <label class="control-label">备注：</label>
            <label class="control-label">
                <input type="text" class="T-sumRemark">
            </label>
        </div>
        {{if !type}} 
        <div class="form-group marginLeft-30">
            <button class="btn btn-xs btn-primary marginLeft-30 T-btn-autofill"><i class="ace-icon fa fa-check-circle"></i> 自动下账</button>
        </div>
        {{/if}}
    </div>
</div>
<div class="row" style="margin-top: 30px">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="th-border">序号</th>
                <th class="th-border">组团单号</th>
                <th class="th-border">线路产品</th>
                <th class="th-border">出游日期（账期）</th>
                <th class="th-border">联系人</th>
                <th class="th-border">人数</th>
                <th class="th-border">录入人</th>
                <th class="th-border">录入时间</th>
                <th class="th-border">合同金额</th>
                <th class="th-border">明细</th>
                <th class="th-border">已收金额</th>
                <th class="th-border">返款金额</th>
                <th class="th-border">结算金额</th>
                <th class="th-border">未收金额</th>
                <th class="th-border">本次收款金额</th>
                <th class="th-border">备注</th>
                <th class="th-border">对账时间</th>
                <th class="th-border">对账人</th>
                <th class="th-border">对账</th>
            </tr>
        </thead>
        <tbody class="T-list">
            {{if customerAccountList != null}} {{each customerAccountList as rs index}}
            <tr data-gid="{{rs.touristGroupId}}" data-id="{{rs.id}}">
                <td>{{index + 1}}</td>
                <td>{{rs.otaOrderNumber}}</td>
                <td>{{rs.lineProductName}}</td>
                <td>{{rs.startTime}}</td>
                <td>{{rs.contactName}}</td>
                <td style="white-space: nowrap;">{{rs.adultCount}}大{{rs.childCount}}小<a class="cursor T-action T-unfold">展开</a></td>
                <td>{{rs.creatorName}}</td>
                <td>{{rs.createTime}}</td>
                <td>{{rs.contractMoney}}</td>
                <td>
                {{each rs.detailList as rsl j}}
                    {{rsl.describeInfo}}：{{rsl.price}}x{{rsl.count}}={{rsl.price * rsl.count}}{{if j != rs.detailList.length - 1}}，{{/if}}
                {{/each}}
                </td>
                <td><a class="cursor T-action T-receive">社收{{rs.travleReciveMoney}}，导游现收{{rs.guideReciveMoney}}</a></td>
                <td>{{rs.backMoney}}</td>
                <td>{{rs.settlementMoney}}</td>
                <td>{{rs.unReceivedMoney}}</td>
                <td>
                    <input type="text" class="col-sm-12 T-reciveMoney money">
                </td>
                <td>
                    <input type="text" class="col-sm-12 T-remark">
                </td>
                <td>{{rs.checkTime}}</td>
                <td>{{rs.checkUserName}}</td>
                <td>
                    <label class="pos-rel">
                        {{if rs.isConfirmAccount}}已对账{{else}}未对账{{/if}}
                    </label>
                    <label class="cursor R-right"> <a> |</a></label>
                    <a class="cursor T-action T-view">查看</a>
                </td>
            </tr>
            <tr style="display:none;">
                <td colspan="20">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <td>序号</td>
                                <td>姓名</td>
                                <td>联系电话</td>
                                <td>证件类型</td>
                                <td>证件号</td>
                                <td>联系人</td>
                            </tr>
                        </thead>
                        <tbody class="T-group-list">
                        </tbody>
                    </table>
                </td>
            </tr>
            {{/each}} {{else}}
            <tr>
                <td colspan="20">{{message}}</td>
            </tr>
            {{/if}}
        </tbody>
    </table>
    <div class="row pageMode">
        <div class="col-xs-6">
            <small>共计 {{searchParam.recordSize}} 条记录</small>
        </div>
        <div class="col-xs-6">
            <div class="dataTables_paginate paging_simple_numbers T-pagenation">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <form class="form-horizontal" role="form" onsubmit="return false">
        <div class="form-group" style="text-align: center;">
            <button class="btn btn-xs btn-primary T-btn-close">
                <i class="ace-icon fa fa-times-circle"></i> 关闭
            </button>
            <button class="btn btn-xs btn-primary T-btn-save" data-right="1280003" data-type="{{type}}" data-id={{partnerAgencyId}} style="margin-left: 20px">
                <i class="ace-icon fa fa-check-circle"></i> 确认收款
            </button>
        </div>
    </form>
</div>
