<div class="row check clientCheckingMain globalAdd T-data-id" data-id="{{id}}">
	<div class="col-xs-12 border">
		<form class="form-horizontal" role="form" onsubmit="return false">
			<div class="search-area  editable editable-click T-search-area" style="margin-top: 10px">
				<div class="form-group">
					<label class=" control-label pull-left" style="margin-left: 15px">客户：{{name}}</label> <label class="col-sm-1 control-label no-padding-right">账期：</label> 
					<select class="col-sm-1" name="year">
						<option value="2015" {{if searchParam.year==2015}}selected="selected"{{/if}}>2015</option>
						<option value="2014" {{if searchParam.year==2014}}selected="selected"{{/if}}>2014</option>
					</select> <label class="col-sm-1 control-label no-padding-right"></label> 
					<select class="col-sm-1" name="month">
						<option value="">全部</option>
						<option value="1" {{if searchParam.month==1}}selected="selected"{{/if}}>1月</option>
						<option value="2" {{if searchParam.month==2}}selected="selected"{{/if}}>2月</option>
						<option value="3" {{if searchParam.month==3}}selected="selected"{{/if}}>3月</option>
						<option value="4" {{if searchParam.month==4}}selected="selected"{{/if}}>4月</option>
						<option value="5" {{if searchParam.month==5}}selected="selected"{{/if}}>5月</option>
						<option value="6" {{if searchParam.month==6}}selected="selected"{{/if}}>6月</option>
						<option value="7" {{if searchParam.month==7}}selected="selected"{{/if}}>7月</option>
						<option value="8" {{if searchParam.month==8}}selected="selected"{{/if}}>8月</option>
						<option value="9" {{if searchParam.month==9}}selected="selected"{{/if}}>9月</option>
						<option value="10" {{if searchParam.month==10}}selected="selected"{{/if}}>10月</option>
						<option value="11" {{if searchParam.month==11}}selected="selected"{{/if}}>11月</option>
						<option value="12" {{if searchParam.month==12}}selected="selected"{{/if}}>12月</option>
					</select>
					<button name="ClientCheck_searchButton" class="btn btn-sm btn-primary T-search" style="margin-left: 60px">
						<i class="ace-icon fa fa-search"></i> 搜索
					</button>
					<button type="button" class="btn btn-sm btn-primary btn-success T-clientExport" style="margin-left: 25px">
							<span>导出报表</span>
							<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
					</button>
				</div>

			</div>
		</form>
		<form class="form-horizontal" role="form" onsubmit="return false">
			<div class="form-group col-sm-12">
				<label class="col-sm-2  ">总人数：{{total.allPerson}}</label> 
				<label class="col-sm-2 ">总应收：{{total.allNeedPayBook | toFixed}}</label> 
				<label class="col-sm-2 ">总已收：{{total.allPayedActual | toFixed}}</label> 
				<label class="col-sm-2 ">总未收：{{total.allNoPay | toFixed}}</label> 
				<label class="col-sm-2 ">总实际未收：{{total.allNoPayActual | toFixed}}</label> 
				<label class="col-sm-2 ">总返款：{{total.allBackMoney | toFixed}}</label>
			</div>
		</form>
	</div>
	<div class="clearfix"></div>
	<table class="table table-striped table-bordered table-hover all" style="margin-top: 30px">
		<thead>
			<tr>
				<th class="th-border">序号</th>
				<th class="th-border">线路产品</th>
				<th class="th-border">出游日期</th>
				<th class="th-border">联系人</th>
				<th class="th-border" style="width: 60px;">人数 </th>
				<th class="th-border">录入人</th>
				<th class="th-border">录入时间</th>
				<th class="th-border">应收</th>
				<th class="th-border" style="width: 120px;">明细</th>
				<th class="th-border">已收</th>
				<th class="th-border">未收</th>
				<th class="th-border" style="width: 100px">未收对账</th>
				<th class="th-border" style="width: 100px">返款</th>
				<th class="th-border">实际未收</th>
				<th class="th-border" style="width: 100px">说明</th>
				<th class="th-border">对账时间</th>
				<th class="th-border">对账人</th>
				<th class="th-border" style="width: 54px;">对账</th>
			</tr>
		</thead>
		<tbody class="T-checkList" data-right="1280005">
			{{each result as rs index}}  
			<tr data-id="{{rs.id}}" class="T-checkTr">
				<td>{{index+1}}</td>
				<td>{{rs.lineProduct.name}}</td>
				<td>{{rs.startTime | dateFormat: 'yyyy-MM-dd'}}</td>
				<td>{{if rs.contactMember != null}}{{rs.contactMember.name}}{{/if}}</td>
				<td>{{rs.adultCount}}大{{rs.childCount}}小<a class="T-showGroup" href="#">展开</a></td>
				<td>{{if rs.user != null}}{{rs.user.realName}}{{/if}}</td>
				<td>{{rs.createTime}}</td>
				<td>{{rs.needPayAllMoney}}</td>
				<td>大人：{{rs.adultPrice}} * {{rs.adultCount}} = {{rs.adultPrice * rs.adultCount}}<br> 小孩：{{rs.childPrice}} * {{rs.childCount}} = {{rs.childPrice * rs.childCount}}<br> 
					{{each rs.touristGroupFeeList as fee}} {{fee.describeInfo}}:{{fee.price}} * {{fee.count}} = {{fee.count * fee.price}}<br> {{/each}}
				</td>
				<td>社收{{rs.payedMoney}},导游现收{{rs.currentNeedPayMoney}}</td>
				<!-- 未收 -->
				<td><label name="notGet">{{rs.needPayAllMoney-rs.payedMoney-rs.currentNeedPayMoney}}</label></td>
				<!--未收对账 -->
				<td><input style="width: 100px" type="text" name="unIncomeMoney" value="{{rs.checkUnIncomeMoney}}" maxlength="8" /></td>
				<!-- 返款 -->
				<td><input style="width: 100px" type="text" name="backMoney" value="{{rs.backMoney}}" maxlength="8" /></td>
				<!-- 实际未收 -->
				<td>{{if rs.isConfirmAccount == 1}}<label name="actualNotGet">{{rs.realUnPayedMoney}}</label>{{else}}<label name="actualNotGet">{{rs.checkUnIncomeMoney-rs.backMoney}}</label>{{/if}}
				</td>
				<!--说明 -->  
				<td><input style="width: 100px" type="text" name="remark" maxlength="200" value="{{rs.checkRemark}}" /></td>
				<td>{{if rs.checkTime != null}}{{rs.checkTime | dateFormat:'yyyy-MM-dd'}}{{else}}-{{/if}}</td>
				<td>{{rs.checkUserRealName}}</td>
				<td><input type="checkbox" class="ace T-checkbox" data-entity-id="{{rs.isConfirmAccount}}" {{if rs.isConfirmAccount== 1}}checked="true"{{/if}}>
				    <span class="lbl"></span>
				</td>
			</tr>
			<tr name="member" class="T-groupList">
				<td colspan="17">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th class="th-border">序号</th>
								<th class="th-border">姓名</th>
								<th class="th-border">联系电话</th>
								<th class="th-border">证件类型</th>
								<th class="th-border">证件号</th>
								<th class="th-border">是否联系人</th>
							</tr>
						</thead>
						<tbody>
							{{each rs.touristGroupMemberList as visitor index}}
							<tr>
								<td>{{index+1}}</td>
								<td>{{visitor.name}}</td>
								<td>{{visitor.mobileNumber}}</td>
								<td>{{if visitor.idCardType == 0}}身份证{{/if}}{{if visitor.idCardType == 1}}护照{{/if}}{{if visitor.idCardType == 2}}其他{{/if}}</td>
								<td>{{visitor.idCardNumber}}</td>
								<td>{{if visitor.isContactUser == 1}}是{{/if}}</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>

	<div class="row pageMode">
		<div class="col-xs-6">
			<small>共计 {{searchParam.totalCount}} 条记录</small>
		</div>
		<div class="col-xs-6">
			<div class="dataTables_paginate paging_simple_numbers T-pagenation">
			</div>
		</div>
	</div>

	<div class="form-group col-sm-12" style="padding-right: 20px;text-align:right;">
		<label class="control-label pull-right"/>
			<input type="checkbox" class="ace pull-right T-checkAll">
			<span class="lbl"></span>  
			全选
		</label>
	</div>
	<div class="clearfix"></div>


	<br>


	<form class="form-horizontal" role="form" onsubmit="return false">
		<div class="form-group" style="text-align: center;">
			<button class="btn btn-xs btn-primary T-closeTab">
				<i class="ace-icon fa fa-times-circle"></i> 关闭
			</button>
			<button class="btn btn-xs btn-primary T-saveCheck" style="margin-left: 20px">
				<i class="ace-icon fa fa-check-circle"></i> 确认
			</button>
		</div>
	</form>
</div>