<div class="row T-search-area">
    <form class="form-inline" role="form" onsubmit="return false">
        <div class="form-group">
            <label>总社：</label>
            <input type="text" class="form-control T-search-head-office" style="width: 110px;" value="{{searchParam.headerAgencyName || '全部'}}" maxlength="100">
        </div>
        <div class="form-group marginLeft-30">
            <label>客户：</label>
            <input type="text" class="form-control T-search-customer" style="width: 110px;" value="{{searchParam.fromPartnerAgencyName || '全部'}}" maxlength="100">
        </div>
        <div class="form-group marginLeft-30">
            <label>账期：</label>
            <input type="text" class="form-control date-picker T-search-start-date" value="{{searchParam.startTime}}">
            <label>&nbsp;至&nbsp;</label>
            <input type="text" class="form-control date-picker T-search-end-date" value="{{searchParam.endTime}}">
        </div>
        <div class="form-group marginLeft-30">
            <button class="btn-sm search-btn T-btn-search">
                <i class="ace-icon fa fa-search"></i> 搜索 
            </button>
        </div>
    </form>
</div>
<div class="row">
    <table class="table table-striped table-bordered table-hover T-showHighLight">
        <thead>
            <tr class="bg-blur">
                <th>总社</th>
                <th>客户</th>
                <th>总人数</th>
                <th>合同金额</th>
                <th>结算金额</th>
                <th>已收金额</th>
                <th>未收金额</th>
                <th>对账进度</th>
                <th>收款进度</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody class="T-list">
        {{each customerAccountList as rs}}
            <tr data-id='{{rs.partnerAgencyId}}'>
                <td>{{rs.headerAgencyName}}</td>
                <td>{{rs.fromPartnerAgencyName}}</td>
                <td>{{rs.sumAdultCount}}大{{rs.sumChildCount}}小</td>
                <td>{{rs.contractMoney}}</td>
                <td>{{rs.settlementMoney}}</td>
                <td>{{rs.receiveMoney}}</td>
                <td>{{if rs.unReceivedMoney != 0}}<span style="color:#FF0000;">{{rs.unReceivedMoney}}</span>{{else}}{{rs.unReceivedMoney}}{{/if}}</td>
                <td>{{if rs.checkStep == rs.allRecord}}<span style="color:#00CC00;">{{rs.checkStep}}/{{rs.allRecord}}</span>{{else}}<span style="color:#FF9900;">{{rs.checkStep}}/{{rs.allRecord}}</span>{{/if}}</td>
                <td>{{if rs.reciveStep == rs.allRecord}}<span style="color:#00CC00;">{{rs.reciveStep}}/{{rs.allRecord}}</span>{{else}}<span style="color:#FF9900;">{{rs.reciveStep}}/{{rs.allRecord}}</span>{{/if}}</td>
                <td>
                    <a class="cursor T-action T-checking R-right" data-right="1280002|1280005">对账</a>
                    <label class="cursor R-right" data-right="1280002|1280005"> <a class="R-right" data-right="1280003"> |</a></label>
                    <a class="cursor T-action T-balance R-right" data-right="1280003">收款</a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <div class="row pageMode">
        <div class="col-xs-6">
            <small>共计 {{searchParam.recordSize}} 条记录</small>
        </div>
        <div class="col-xs-6">
            <div class="dataTables_paginate paging_simple_numbers T-pagenation">
            </div>
        </div>
    </div>
</div>