<div class="col-xs-12">
	<form class="form-horizontal" role="form" style="margin-top:10px">
		<div class=" ui-sortable-handle">
				<h5 class="">
					<span class="badge badge-primary">1</span>
					 <label class="middle title-size">他部转入信息</label>
				</h5>
			<div class="widget-body">
				<div class="widget-main">
					<div class="form-group">
						<label class="col-sm-1 control-label no-padding-right">来源部门：</label>
						<div class="col-sm-2">
							<input value="{{innerTransfer.fromBusinessGroup.name}}" type="text" readonly="readonly" class="date-picker col-xs-12" />
						</div>
						<label class="col-sm-1 control-label no-padding-right">接收部门：</label>
						<div class="col-sm-2">
							<input value="{{innerTransfer.toBusinessGroup.name}}" type="text" readonly="readonly" class="date-picker col-xs-12" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-1 control-label no-padding-right">内转备注:</label>
						<div class="col-sm-2">
							<input value="{{innerTransfer.transRemark}}" type="text" readonly="readonly" class="date-picker col-xs-12" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-1 control-label no-padding-right">应付：</label>
						<div class="col-sm-2">
							<input name="transNeedPayMoney" value="{{innerTransfer.transNeedPayMoney}}" type="text" readonly="readonly" readonly="readonly" class="date-picker col-xs-12" />
						</div>

						<label class="col-sm-1 control-label no-padding-right">已付：</label>
						<div class="col-sm-2">
							<input name="transPayedMoney" value="{{innerTransfer.transPayedMoney}}" type="text" readonly="readonly" class="date-picker col-xs-12" />
						</div>


						{{if innerTransfer.touristGroup.operateCurrentNeedPayMoney==1}}
							<label>
								<input  type="checkbox" class="ace buyInsurance-status" checked="checked" value="{{innerTransfer.touristGroup.operateCurrentNeedPayMoney}}" name="operateCurrentNeedPayMoney" disabled="disabled">
								<span class="lbl">
								</span>
							</label>
							{{else}}

							<label style="padding-left:0px;">
								<input  type="checkbox" class="ace buyInsurance-status" checked="" value="{{innerTransfer.touristGroup.operateCurrentNeedPayMoney}}" name="operateCurrentNeedPayMoney" disabled="disabled">
								<span class="lbl">
								</span>
							</label>
						{{/if}}

						<label class="control-label no-padding-right">对方现收</label>

					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="col-xs-12">
	<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
		<div class="form-group">
			<div class="col-xs-12 col-sm-12 widget-container-col">
				<div class=" ui-sortable-handle">
						<h5 class="">
							<span class="badge badge-primary">2</span>
							<label class="middle title-size">内转列表</label>
						</h5>
					<div class="widget-body">
						<div class="widget-main no-padding border">
							<table class="table table-striped table-bordered table-hover hotelRoomStandardList">
								<thead>
									<tr>
										<th class="th-border">类型</th>
										<th class="th-border">说明</th>
										<th class="th-border">数量</th>
										<th class="th-border">内转单价</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>内转价</td>
										<td>大人</td>
										<td>{{innerTransfer.transAdultCount}}</td>
										<td>{{innerTransfer.transAdultPrice}}</td>

									</tr>

									<tr>
										<td>内转价</td>
										<td>小孩</td>
										<td>{{innerTransfer.transChildCount}}</td>
										<td>{{innerTransfer.transChildPrice}}</td>
									</tr>

									<!-- 其他费用 -->
									{{each innerTransfer.innerTransferFeeSet as rs}}
									<tr>
										<td>其他费用</td>
										<td>{{rs.discribe}}</td>
										<td>{{rs.count}}</td>
										<td>{{rs.price}}</td>
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>