<div class="row col-xs-12 innerTransfer_list">
	<div class="col-xs-12">
		<div class="tabbable">
			<ul class="nav nav-tabs" id="myTab">
				<li class="active">
					<a data-toggle="tab" href="#transferOut" class="transferOut" aria-expanded="false" data-value="1">
						<i class="fa fa-paper-plane fa-2"></i> 我部转出
					</a>
				</li>
				<li>
					<a data-toggle="tab" href="#transferIn" class="transferIn" aria-expanded="true" data-value="2">
						<i class="fa fa-hourglass"></i> 他部转入
					</a>
				</li>
			</ul>
			<div class="tab-content" style="position:relative;top: -2px">
				<!--我部转出start-->
				<div id="transferOut" class="tab-pane fade active in clearfix">
					<div class="col-xs-12 transferOut-content">
						<div class="page-header">
							<h1>
								<small class="transferOut-Header-Cost">
									<i class="ace-icon fa fa-angle-double-right"></i>                    
									<lable style="min-width:10%; display:inline-block;">人数合计 : <span class="adultCount">{{total.adultCount}}</span>大<span class="childCount">{{total.childCount}}</span>小</lable>  
								    <lable style="min-width:10%; display:inline-block;">应付款合计:<span class="transNeedPayMoney">{{total.transNeedPayMoney}} </span>元</lable>    
								    <lable style="min-width:10%; display:inline-block;">已付款合计:<span class="transPayedMoney">{{total.transPayedMoney}}</span>元</lable>          
								</small>                
							</h1>
						</div>
					</div>
					<div class="form-group form-horizontal">
						<div class="search-area">
							<label class="pull-left control-label no-padding-right">线路产品：</label>
							<div class="col-sm-2">
								<select name="lineProductId" class="col-xs-12">
									<option value="">全部</option>
									{{each lineProduct as rs}}
									<option value="{{rs.id}}" {{if searchParam!=null}}{{if searchParam.lineProductId==rs.id}}selected="selected" {{/if}}{{/if}}>
										{{rs.name}}
									</option>
									{{/each}}
								</select>
							</div>
							<div class="form-group">
								<div class="search-area">
									<div class="col-xs-2">
										<div class="col-xs-12">
											<div class="input-group">
												<input class="col-xs-12 datepicker" name="startTime" placeholder="出游起始日期" value="{{startDay}}" type="text" />
												<span class="input-group-addon">
														<i class="fa fa-calendar"></i>
													</span>
											</div>
										</div>
									</div>

									<div class="col-xs-2">
										<div class="col-xs-12">
											<div class="input-group">
												<input class="col-xs-12 datepicker" name="endTime" placeholder="出游结束日期" value="" type="text" />
												<span class="input-group-addon">
														<i class="fa fa-calendar"></i>
													</span>
											</div>
										</div>
									</div>


									<label class="control-label no-padding-right pull-left">部门：</label>
									<div class="col-sm-1">
										<select name="businessGroupId" class="col-xs-12">
											<option value="">全部</option>
											{{each businessGroup as rs}}
											<option value="{{rs.id}}" {{if searchParam!=null}}{{if searchParam.businessGroupId==rs.id}}selected="selected" {{/if}}{{/if}}>
												{{rs.name}}
											</option>
											{{/each}}
										</select>
									</div>
									<label class="control-label no-padding-right pull-left">联系人：</label>
									<div class="col-sm-1">    
										<select name="creator" class="col-xs-12">
											<option value="">全部</option>
											{{each user as rs}}
											<option value="{{rs.id}}" {{if searchParam!=null}}{{if searchParam.creator==rs.id}}selected="selected" {{/if}}{{/if}}>
												{{rs.realName}}
											</option>
											{{/each}}
										</select>
									</div>
									<label class="control-label no-padding-right pull-left">状态：</label>
									<div class="col-sm-1">
										<select name="status" class="col-xs-12">
											<option value="全部">全部</option>
											<option value="0" {{if searchParam!=null}}{{if searchParam.status==0}}selected="selected" {{/if}}{{/if}}>未确认</option>
											<option value="1" {{if searchParam!=null}}{{if searchParam.status==1}}selected="selected" {{/if}}{{/if}}>已接收</option>
											<option value="2" {{if searchParam!=null}}{{if searchParam.status==2}}selected="selected" {{/if}}{{/if}}>已拒收</option>
										</select>
									</div>
									<button class="btn-sm btn-transferOut-search search-btn">
										<i class="ace-icon fa fa-search"></i> 搜索
									</button>
									<button class="btn btn-sm btn-success btn-transfer-export">导出名单</button>

								</div>
							</div>
							<!-- 分页查询数据 -->
							<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr class="bg-blur">
										<th>线路产品</th>
										<th>天数</th>
										<th>出游日期</th>
										<th>游客</th>
										<th>人数</th>
										<th>部门</th>
										<th>联系人</th>
										<th>联系电话</th>
										<th>应收</th>
										<th>已收</th>
										<th>对方状态</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									{{each resultList as rs}} {{if rs!=null}}
									<tr data-entity-id="{{rs.id}}">
										{{if rs.lineProduct!=null}}
										   <td>{{rs.lineProduct.name}}</td>
										   <td>{{rs.lineProduct.days}}</td>
										{{else}}
										   <td></td>
										   <td></td>
										{{/if}} {{if rs.touristGroup != null}}
										<td>{{rs.touristGroup.startTime | dateFormat: 'yyyy-MM-dd' }}</td>
										<td>{{if rs.touristGroup.contactMember!=null}}{{rs.touristGroup.contactMember.name}}{{/if}}</td>
										<td>{{rs.touristGroup.adultCount}}大{{rs.touristGroup.childCount}}小</td>
										{{else}}
										<td></td>
										<td></td> 
										<td></td>
										{{/if}} {{if searchParam!=null}} {{if searchParam.type==1}}
										<td>{{if rs.toBusinessGroup}}{{rs.toBusinessGroup.name}}{{/if}}</td>
										{{else}}
										<td>{{if rs.fromBusinessGroup}}{{rs.fromBusinessGroup.name}}{{/if}}</td>
										{{/if}} {{/if}} 
										{{if rs.user!=null}}
										<td>{{rs.user.realName}}</td>
										<td>{{rs.user.mobileNumber}}</td>
										{{else}}
										<td></td>
										<td></td>
										{{/if}}
										<td>{{rs.transNeedPayMoney}}</td>
										<td>{{rs.transPayedMoney}}</td>
										<td>{{if rs.status == 0}}<span style="color:#D2691E;">未确认</span>{{else if rs.status == 1}}<span style="color: green;">已接收</span>{{else if rs.status == 2}}<span style="color: red;">已拒收</span>{{else}}<span style="">未使用</span>{{/if}}</td>
										<td>
											<div class="hidden-sm hidden-xs btn-group">
												<a data-entity-id="{{rs.id}}" class="cursor  btn-TransferOut-view">
													查看
												</a>
							                    <a href="" class="cursor"> |</a>
												<a data-entity-id="{{rs.id}}" class="cursor btn-TransferOut-edit">
													编辑
												</a>
												<a href="" class="cursor"> |</a>
												<a data-entity-id="{{rs.id}}" class="cursor btn-TransferOut-delete">
													撤销
												</a>
											</div>  

											<div class="hidden-md hidden-lg">
												<div class="inline pos-rel">
													<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
														<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
													</button>

													<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

														<li>
															<a data-entity-id="{{rs.id}}" href="javascript:void(0)" class="tooltip-error btn-TransferOut-view" data-rel="tooltip">
																<span class="red">
																<i class="ace-icon fa fa-search-plus bigger-120"></i>
															</span>
															</a>
														</li>

														<li>
															<a data-entity-id="{{rs.id}}" href="javascript:void(0)" class="tooltip-success btn-TransferOut-edit" data-rel="tooltip">
																<span class="green">
																<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
															</span>
															</a>
														</li>

														<li>
															<a data-entity-id="{{rs.id}}" href="javascript:void(0)" class="tooltip-error btn-TransferOut-delete" data-rel="tooltip">
																<span class="red">
																<i class="ace-icon fa fa-trash-o bigger-120"></i>
															</span>
															</a>
														</li>
													</ul>
												</div>
											</div>
										</td>
									</tr>
									{{/if}} {{/each}}
								</tbody>
							</table>
							<div class="row pageMode">
								<div class="col-xs-6">
									<input type="hidden" name="pageNo" value="{{searchParam.pageNo}}" />
									<input type="hidden" name="totalPage" value="{{searchParam.totalPage}}" />
									<div class="dataTables_info" id="dynamic-table_info" role="status" aria-live="polite">共计{{searchParam.totalCount}}条记录</div>
								</div>
								<div class="col-xs-6">
									<div class="dataTables_paginate paging_simple_numbers" id="dynamic-table_paginate">
										<ul class="pagination">
											<li class="paginate_button" aria-controls="dynamic-table" tabindex="0"><a class="first" href="javascript:void(0)">首页</a></li>
											<li class="paginate_button" aria-controls="dynamic-table" tabindex="0"><a class="previous" href="javascript:void(0)">上一页</a></li>
											<li class="paginate_button" aria-controls="dynamic-table" tabindex="0">
												<a href="javascript:void(0)">
										{{parseInt(searchParam.pageNo)+1}}/{{searchParam.totalPage}}
										</a>
											</li>
											<li class="paginate_button" aria-controls="dynamic-table" tabindex="0"><a class="next" href="javascript:void(0)">下一页</a></li>
											<li class="paginate_button" aria-controls="dynamic-table" tabindex="0"><a class="last" href="javascript:void(0)">尾页</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--我部转出end-->

				<!--他部转入start-->
				<div id="transferIn" class="tab-pane fade clearfix">
					<div class="col-sm-12 transferIn-content">	
					</div>
				</div>
				<!--他部转入end-->

			</div>
		</div>
	</div>
</div>