<form class="form-horizontal" role="form" style="margin-top:10px">
    <div class=" ui-sortable-handle">
        <h5 class="">
				 <label class="middle title-size">内转信息</label>
			</h5>
        <table class="whereQ whereTwo" style="width: 100%">
            <tr>
                <td class="style-myself CheckPlan">接收部门</td>
                <td style="text-align: left;padding: 0px 0px 0px 10px" colspan="4">{{innerTransfer.toBusinessGroup.name}}</td>
            </tr>
            <tr>
                <td class="style-myself CheckPlan">内转备注</td>
                <td style="text-align: left;padding: 0px 0px 0px 10px" colspan="4">{{innerTransfer.transRemark}}</td>
            </tr>
        </table>
    </div>
</form>
{{if subsection==0}}
<form class="form-horizontal hotelMainForm" role="form" style="margin-top:10px" onsubmit="return false">
    <div class=" ui-sortable-handle">
        <h5 class="widget-title">
			<label class="middle title-size">线路产品信息</label>
		</h5>
        <table class="whereQ whereTwo" style="width: 100%">
            <tr>
                <td class="style-myself CheckPlan">线路产品</td>
                <td style="text-align: left;padding: 0px 0px 0px 10px">{{if innerTransfer.lineProduct!=null}} {{innerTransfer.lineProduct.name}}{{/if}}</td>
                <td class="style-myself CheckPlan">出游日期</td>
                <td style="text-align: left;padding: 0px 0px 0px 10px" colspan="3">{{innerTransfer.touristGroup.startTime | dateFormat:'yyyy-MM-dd'}}</td>
            </tr>
            <tr>
                <td class="style-myself CheckPlan">客户</td>
                <td style="text-align: left;padding: 0px 0px 0px 10px">{{innerTransfer.touristGroup.partnerAgency.travelAgencyName}}</td>
                <td class="style-myself CheckPlan">客户联系人</td>
                <td style="text-align: left;padding: 0px 0px 0px 10px">
                    {{if innerTransfer.touristGroup.partnerAgencyContact != null}} {{innerTransfer.touristGroup.partnerAgencyContact.contactRealname}}|{{innerTransfer.touristGroup.partnerAgencyContact.contactMobileNumber}} {{/if}}
                </td>
            </tr>
            <tr>
                <td class="style-myself CheckPlan">收客备注</td>
                <td colspan="4" style="text-align: left;padding: 0px 0px 0px 10px">{{innerTransfer.touristGroup.remark}}</td>
            </tr>
        </table>
    </div>
</form>
{{/if}}
<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
    <div class="form-group">
        <div class="col-xs-12 col-sm-12 widget-container-col">
            <div class=" ui-sortable-handle">
                <h5 class="">
						<label class="middle title-size">内转列表</label>
					</h5>
                <table class="whereQ whereTwo" style="width: 100%">
                    <tr>
                        <td class="style-myself CheckPlan">应付：</td>
                        <td style="text-align: left;padding: 0px 0px 0px 10px"><span class=" F-float F-money">{{innerTransfer.transNeedPayMoney}}</span></td>
                        <td class="style-myself CheckPlan">对方现收：</td>
                        <td style="text-align: left;padding: 0px 0px 0px 10px" colspan="2">
                            {{if cashFlag==1}} {{if !!innerTransfer.touristGroup}}<span class=" F-float F-money">{{innerTransfer.touristGroup.currentNeedPayMoney}}</span>{{/if}} {{else}}0 {{/if}}
                        </td>
                    </tr>
                </table>
                <div class="widget-body TransferTable">
                    <div class="widget-main no-padding">
                        <table class="table table-striped table-bordered table-hover hotelRoomStandardList">
                            <thead>
                                <tr>
                                    <th class="th-border">费用项</th>
                                    <th class="th-border">数量</th>
                                    <th class="th-border">单价</th>
                                    <th class="th-border">金额</th>
                                    <th class="th-border">说明</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- 其他费用 -->
                                {{each innerTransfer.innerTransferFeeSet as rs}}
                                <tr>
                                    <td>{{rs.name}}</td>
                                    <td><span class=" F-float F-count">{{rs.count}}</span></td>
                                    <td><span class=" F-float F-money">{{rs.price}}</span></td>
                                    <td><span class=" F-float F-money">{{rs.count*rs.price}}</span></td>
                                    <td>{{rs.remark}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{{if subsection==0}}
<!-- 收客信息start -->
<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
    <div class="form-group">
        <div class="col-xs-12 col-sm-12 widget-container-col">
            <div class=" ui-sortable-handle">
                <h5 class="">
					<label class="middle title-size">收客信息</label>
				</h5>
                <table class="whereQ whereTwo" style="width: 100%">
                    <tr>
                        <td class="style-myself CheckPlan">本段团款：</td>
                        <td style="text-align: left;padding: 0px 0px 0px 10px"><span class=" F-float F-money">{{parentTouristGroup.needPayAllMoney}}</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>
{{/if}}
<!-- 收客信息end -->
<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
    <div class="form-group">
        <div class="col-xs-12 col-sm-12 widget-container-col">
            <div class=" ui-sortable-handle">
                <h5 class="">
						<label class="middle title-size">游客小组信息</label>
					</h5>
                <div class="widget-body TransferTable">
                    <div class="widget-main no-padding">
                        <table class="table table-striped table-bordered table-hover hotelRoomStandardList">
                            <thead>
                                <tr>
                                    <th class="th-border">序号</th>
                                    <th class="th-border">姓名</th>
                                    <th class="th-border">联系电话</th>
                                    <th class="th-border">证件类型</th>
                                    <th class="th-border">证件号</th>
                                    <th class="th-border">联系人</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{each innerTransfer.touristGroup.touristGroupMemberList as result i}}
                                <tr>
                                    <td>{{i+1}}</td>
                                    <td>{{result.name}}</td>
                                    <td>{{result.mobileNumber}}</td>
                                    <td>
                                        {{if result.idCardType==0}}身份证 {{else if result.idCardType==1}}护照 {{else if result.idCardType==2}}其他 {{/if}}
                                    </td>
                                    <td>{{result.idCardNumber}}</td>
                                    <td>{{if result.isContactUser == 0}}否{{else}}是{{/if}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
