<p style="display:none;" class="T-print">购物统计表</p>
<table class="table table-striped table-bordered table-hover T-showHighLight">
    <colgroup>
        <col style="width:18%;"></col>
        <col style="width:7%;"></col>
        <col style="width:7%;"></col>
        <col style="width:7%;"></col>
        <col style="width:15%;"></col>
        <col style="width:8%;"></col>
        <col style="width:8%;"></col>
        <col style="width:8%;"></col>
        <col style="width:8%;"></col>
        <col style="width:8%;"></col>
        <col style="width:8%;"></col>

    </colgroup>
    <thead>
        <tr class="bg-blur T-tr-fixed" style="transform: translateY();">
            <th class="P-trFontSize">团信息</th>
            <th class="P-trFontSize">导游</th>
            <th class="P-trFontSize">出团日期</th>
            <th class="P-trFontSize">进店日期</th>
            <th class="P-trFontSize">购物店</th>
            <th class="P-trFontSize">总打单</th>
            <th class="P-trFontSize">人均打单</th>
            <th class="P-trFontSize">导佣</th>
            <th class="P-trFontSize">社佣</th>
            <th class="P-trFontSize">总佣金</th>
            <th class="P-trFontSize">人均社佣</th>
        </tr>
    </thead>
    <tbody class="T-tourguidPer-list">
        {{each shopListdata as rs index}}
        <tr>
            <td class="P-tdFontSize" rowspan="{{if rs.shopList.length}}{{rs.shopList.length}}{{else}}1{{/if}}" style="text-align:left">
                <span>线路：{{rs.lineName}}</span><br/>
                <span>客户：{{rs.partnerAgencyName}}</span><br/>
                <span>团号：{{rs.tripNumber}}</span><br/>
                <span>人数：{{rs.touristAdultCount}}大{{rs.touristChildCount}}小</span><br/>

            </td>
            <td class="P-tdFontSize" rowspan="{{if rs.shopList.length}}{{rs.shopList.length}}{{else}}1{{/if}}" style="text-align:left">
                <span>{{rs.guidName}}</span><br/><span>{{rs.guideMobileNumber}}</span>
            </td>
            <td class="P-tdFontSize" rowspan="{{if rs.shopList.length}}{{rs.shopList.length}}{{else}}1{{/if}}">{{rs.startTime |dateFormat: 'yyyy.MM.dd'}}<br/> - <br/> {{rs.endTime |dateFormat: 'yyyy.MM.dd'}}</td>
            {{if rs.shopList.length == 0}}
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            {{else}}
                {{each rs.shopList as shop index}}
                {{if index == 0}}                    
                    <td class="P-tdFontSize">{{shop.inStoreDate |dateFormat: 'yyyy-MM-dd'}}</td>
                    <td class="P-tdFontSize">{{shop.shopName}}</td>
                    <td class="P-tdFontSize" data-shoparrangeid = "{{shop.shopArrangeId}}" data-tripplanid = "{{shop.tripPlanId}}">
                        <a href="javascript:void(0)" class="T-option T-consumeMoney"><span class='F-float F-money'>{{shop.consumeMoney}}</span></a>
                    </td>
                    <td class="P-tdFontSize"><span class='F-float F-money'>{{shop.aveconsumeMoney}}</span></td>
                    <td class="P-tdFontSize"><span class='F-float F-money'>{{shop.guideRebateMoney}}</span></td>
                    <td class="P-tdFontSize"><span class='F-float F-money'>{{shop.travelAgencyRebateMoney}}</span></td>
                    <td class="P-tdFontSize"><span class='F-float F-money'>{{shop.sumRebateMoney}}</span></td>
                    <td class="P-tdFontSize"><span class='F-float F-money'>{{shop.aveRebateMoney}}</span></td>
                {{/if}}
                {{/each}}
            {{/if}}
        </tr>
        {{each rs.shopList as shop index}}
        {{if index > 0}}
        <tr>
            <td class="P-tdFontSize">{{shop.inStoreDate |dateFormat: 'yyyy-MM-dd'}}</td>
            <td class="P-tdFontSize">{{shop.shopName}}</td>
            <td class="P-tdFontSize" data-shoparrangeid = "{{shop.shopArrangeId}}" data-tripplanid = "{{shop.tripPlanId}}">
                <a href="javascript:void(0)" class="T-option T-consumeMoney"><span class='F-float F-money'>{{shop.consumeMoney}}</span></a>
            </td>
            <td class="P-tdFontSize"><span class='F-float F-money'>{{shop.aveconsumeMoney}}</span></td>
            <td class="P-tdFontSize"><span class='F-float F-money'>{{shop.guideRebateMoney}}</span></td>
            <td class="P-tdFontSize"><span class='F-float F-money'>{{shop.travelAgencyRebateMoney}}</span></td>
            <td class="P-tdFontSize"><span class='F-float F-money'>{{shop.sumRebateMoney}}</span></td>
            <td class="P-tdFontSize"><span class='F-float F-money'>{{shop.aveRebateMoney}}</span></td>
        </tr>
        {{/if}}
        {{/each}}
        {{/each}}
        
    </tbody>
</table>
<div class="pageMode T-noprint">
    <div class="col-xs-5">
        <small><span class="recordSize"></span></small>
    </div>
    <div class="col-xs-7">
        <div class="dataTables_paginate paging_simple_numbers T-pagenation">
        </div>
    </div>
</div>