<p style="display:none;" class="T-print">购物统计表</p>
<table class="table table-striped table-bordered table-hover table-fixed T-showHighLight">
    <colgroup>
        <col style="width:15%;"></col>
        <col style="width:15%;"></col>
        <col style="width:10%;"></col>
        <col style="width:10%;"></col>
        <col style="width:8%;"></col>
        <col style="width:8%;"></col>
        <col style="width:8%;"></col>
        <col style="width:8%;"></col>
        <col style="width:10%;"></col>
        <col style="width:10%;"></col>
        <col style="width:10%;"></col>
    </colgroup>
    <thead>
        <tr class="bg-blur T-tr-fixed" style="transform: translateY();">
            <th class="P-trFontSize">客户</th>
            <th class="P-trFontSize">团号</th>
            <th class="P-trFontSize">人数</th>
            <th class="P-trFontSize">进店日期</th>
            <th class="P-trFontSize">购物店</th>
            <th class="P-trFontSize">总打单</th>
            <th class="P-trFontSize">人均打单</th>
            <th class="P-trFontSize">导佣</th>
            <th class="P-trFontSize">社佣</th>
            <th class="P-trFontSize">总佣金</th>
            <th class="P-trFontSize">人均返佣</th>
        </tr>
    </thead>
    <tbody class="T-tourguidPer-list">
        {{each shopListdata as rs}}
        <tr>
            <td class="P-tdFontSize" rowspan="{{if rs.shopList.length}}{{rs.shopList.length+1}}{{else}}1{{/if}}">{{rs.partnerAgencyName}}</td>
            <td class="P-tdFontSize" rowspan="{{if rs.shopList.length}}{{rs.shopList.length+1}}{{else}}1{{/if}}">{{rs.tripNumber}}</td>
            <td class="P-tdFontSize" rowspan="{{if rs.shopList.length}}{{rs.shopList.length+1}}{{else}}1{{/if}}">{{rs.touristAdultCount}}大{{rs.touristChildCount}}小</td>
            {{if rs.shopList.length == 0}}
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            {{/if}}
        </tr>
        {{each rs.shopList as shop index}}
        <tr shopArrangeId = "{{shop.shopArrangeId}}" tripPlanId = "{{shop.tripPlanId}}">
            <td class="P-tdFontSize">{{shop.inStoreDate |dateFormat: 'yyyy-MM-dd'}}</td>
            <td class="P-tdFontSize">{{shop.shopName}}</td>
            <td class="P-tdFontSize"><a href="javascript:void(0)" class="T-option T-consumeMoney">{{shop.consumeMoney}}</a></td>
            <td class="P-tdFontSize">{{shop.aveconsumeMoney}}</td>
            <td class="P-tdFontSize">{{shop.guideRebateMoney}}</td>
            <td class="P-tdFontSize">{{shop.travelAgencyRebateMoney}}</td>
            <td class="P-tdFontSize">{{shop.sumRebateMoney}}</td>
            <td class="P-tdFontSize">{{shop.aveRebateMoney}}</td>
        </tr>
        {{/each}}
        {{/each}}
        <tr style="background: #e0effd;">
            <td colspan="2" class="T-fontSize">合计</td>
            <td class="P-tdFontSize">{{totalShop.touristAdultCount}}大{{totalShop.touristChildCount}}小</td>
            <td class="P-tdFontSize">-</td>
            <td class="P-tdFontSize">-</td>
            <td class="P-tdFontSize">{{totalShop.consumeMoney}}</td>
            <td class="P-tdFontSize">{{totalShop.avgConsumeMoney}}</td>
            <td class="P-tdFontSize">{{totalShop.guideRebateMoney}}</td>
            <td class="P-tdFontSize">{{totalShop.travelAgencyRebateMoney}}</td>
            <td class="P-tdFontSize">{{totalShop.sumRebateMoney}}</td>
            <td class="P-tdFontSize">{{totalShop.avgRebateMoney}}</td>
        </tr>
    </tbody>
</table>
<div class="pageMode T-noprint">
    <div class="col-xs-5">
        <small><span class="recordSize"></span></small>
    </div>
    <div class="col-xs-7">
        <div class="dataTables_paginate paging_simple_numbers T-pagenation">
        </div>
    </div>
</div>