<div class="container-fluid globalAdd">
    <form class="row" role="form" onsubmit="return false">
        <div class="form-inline hct-search-area">
            <div class="form-group">
                <input type="text" name="lineProductName" class="form-control T-lineProductName" value="{{lineProductName}}" placeholder="请输入线路产品名称关键词" style="width: 200px;">
            </div>
            <div class="form-group mar-l-15">
                <label>针对客源</label>
                <select name="customerType" class="form-control">
                    {{#customerType | getCustomerType}}
                </select>
            </div>
            <div class="form-group mar-l-15">
                <button class="btn-sm search-btn T-btn-search" data-type="1">
                    <i class="ace-icon fa fa-search"></i> 搜索
                </button>
            </div>
        </div>
    </form>
    <div class="row">
        <table class="table table-striped table-bordered table-hover T-showHighLight">
            <thead>
                <tr class="bg-blur">
                    <th>线路产品名称</th>
                    <th>线路类型</th>
                    <th>针对客源</th>
                    <th>行程天数</th>
                    <th>游记数</th>
                    <th>出游人数</th>
                    <th>点赞次数</th>
                    <th>评论次数</th>
                    <th>分享次数</th>
                    <th>浏览次数</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody class="T-list">
                {{each lineProductList as rs}}
                <tr data-id="{{rs.id}}">
                    <td>{{rs.name}}</td>
                    <td>{{rs.type}}</td>
                    <td>{{rs.customerType | getCustomerType : true}}</td>
                    <td>{{rs.days}}</td>
                    <td>{{rs.sumNoteCount}}</td>
                    <td>{{rs.sumTouristAdultCount}}大{{rs.sumTouristChildCount}}小</td>
                    <td>{{rs.sumLikeCount}}</td>
                    <td>{{rs.sumCommentCount}}</td>
                    <td>{{rs.sumShareCount}}</td>
                    <td>{{rs.sumViewCount}}</td>
                    <td>{{rs.createTime}}</td>
                    <td>
                        <a class="cursor T-action T-view" title="查看">查看</a>
                        <label style="padding-left:10px;">|</label>
                        <a class="cursor T-action T-share" title="分享">分享</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="row pageMode">
        <div class="col-xs-4">
            <small>共计 {{recordSize}} 条记录</small>
        </div>
        <div class="col-xs-8">
            <div class="dataTables_paginate paging_simple_numbers T-pagenation">
            </div>
        </div>
    </div>
</div>
