<div class="row globalAdd">
    <div class="T-search-area" style="margin:0px;">
        <div class="form-horizontal">
            <label>线路产品 </label>
            <input type="text" class="mar-r-10" style="width: 220px" placeholder="线路产品" name="lineProductName" value="{{searchParam.lineProductName}}" />
            <input type="hidden" name="lineProductId" value="{{searchParam.lineProductId}}" />
            <label>客户 </label>
            <input type="text" class="mar-r-10" style="width: 100px" placeholder="客户" name="fromPartnerAgencyName" value="{{searchParam.fromPartnerAgencyName}}" />
            <input type="hidden" name="fromPartnerAgencyId" value="{{searchParam.fromPartnerAgencyId}}" />
            <label>针对客源 </label>
            <select name="customerType" class="mar-r-10">
                <option value="" {{if !searchParam.customerType || searchParam.customerType=="" }}selected{{/if}}>全部</option>
                <option value="0" {{if searchParam.customerType==0 }}selected{{/if}}>散客</option>
                <option value="1" {{if searchParam.customerType==1 }}selected{{/if}}>团队</option>
            </select>
            <label>收客单号 </label>
            <input type="text" class="mar-r-10" style="width: 100px" placeholder="收客单号" name="orderNumber" value="{{searchParam.orderNumber}}" />
        </div>
        <div class="mar-t-10">
            <label>外联销售 </label>
            <input type="text" class="mar-r-10" style="width: 100px" placeholder="外联销售" name="outOPUserName" value="{{searchParam.outOPUserName}}" />
            <label>部门 </label>
            <input type="text" class="mar-r-10" style="width: 100px" placeholder="部门" name="businessName" value="{{searchParam.groupName}}" />
             <label>子部门 </label>
            <input type="text" class="mar-r-10" style="width: 100px" placeholder="子部门" name="groupName" value="{{searchParam.groupName}}" />

            <label>开始日期 </label>
            <input class="date-picker mar-r-10" name="startTime" placeholder="开始日期" type="text" value="{{searchParam.startTime}}" style="width:100px;" />
            <label>结束日期 </label>
            <input class="date-picker mar-r-10"  name="endTime" placeholder="结束日期" type="text" value="{{searchParam.endTime}}" style="width:100px;" />
            <button class="btn-sm  search-btn T-search mar-r-10"> <i class="ace-icon fa fa-search"></i>搜索</button>
            <button class="btn btn-sm btn-success T-export">导出</button>
        </div>
        <div >
            <label class="mar-r-20">总人数：<span class="F-float F-money T-touristCount"></span></label>
            <label class="mar-r-20">收入合计：<span class="F-float F-money T-totalIncome"></span></label>
            <label class="mar-r-20">支出合计：<span class="F-float F-money T-totalTrip"></span></label>
            <label class="mar-r-20 T-turn">毛利合计：<span class="F-float F-money T-totalProfit"></span></label>
            <label>人均毛利(不含小孩)：<span class="F-float F-money T-AvgProfit"></span></label>
        </div>
    </div>
    <table class="table-bordered table  table-striped table-hover overflow-table T-showHighLight">
        <thead>
            <tr class="bg-blur T-tr-fixed">
                <th>收客单号</th>
                <th>线路产品</th>
                <th>针对客源</th>
                <th>出游日期</th>
                <th>游客</th>
                <th>人数</th>
                <th>客户</th>
                <th>外联销售</th>
                <th>部门</th>
                <th>团款收入</th>
                <th>发团收入(不含团款)</th>
                <th>中转成本</th>
                <th>发团成本</th>
                <th>外转成本</th>
                <th>收入小计</th>
                <th>支出小计</th>
                <th>毛利</th>
                <th>人均毛利</th>
            </tr>
        </thead>
        <tbody class="T-guest-list">
        </tbody>
    </table>
</div>
<div class="row pageMode">
    <div class="col-xs-6">
        <small class="T-totalSize">没有查询到相关记录</small>
    </div>
    <div class="col-xs-6">
        <div class="dataTables_paginate paging_simple_numbers T-pagenation">
        </div>
    </div>
</div>
