<div class="search-area">
	<div style="float: right;">
		<button class="btn btn-sm btn-success btn-business-add" >
			<i class="ace-icon fa fa-plus"></i>
			新增部门
		</button>
	</div>
	<div style="clear: both;"></div>
</div>
<div class="space-20"></div>
<div class="row businessList">
	<div class="col-xs-12">
		<table class="table table-striped table-bordered table-hover ">
			<thead>
				<tr>
					<th class="th-border">部门名称</th>
					<th class="th-border">创建时间</th>
					<th class="th-border">操作</th>
				</tr>
			</thead>
			<tbody>
				{{each businessList as business}}
					<tr class="business-{{business.id}}">
						<td>{{business.name}}</td>
						<td>{{business.createTime | dateFormat: 'yyyy-MM-dd'}}</td>
						<td>
							<div class="btn-group">
								<button data-entity-id="{{business.id}}" class="btn btn-xs btn-info btn-group-list">
									<i class="ace-icon fa fa-list-alt bigger-120"></i>
								</button>
								<button data-entity-id="{{business.id}}" class="btn btn-xs btn-info btn-business-edit">
									<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
								</button>
							</div>
							<div class="hidden-md hidden-lg">
								<div class="inline pos-rel">
									<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
										<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
									</button>

									<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
										<li>
											<a data-entity-id="{{business.id}}" href="javascript:void(0)" class="tooltip-success btn-group-list" data-rel="tooltip">
												<span class="green">
													<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
												</span>
											</a>
										</li>
										<li>
											<a data-entity-id="{{business.id}}" href="javascript:void(0)" class="tooltip-success btn-business-edit" data-rel="tooltip">
												<span class="green">
													<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
												</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>