<div class="col-xs-12 arrangeTouristMain">
	<form class="form-horizontal" role="form" onsubmit="return false">
		<div class="form-group">
			<input type="hidden" name="touristGroup" value="{{touristGroup.id}}"/>
			<label class="col-sm-2 control-label no-padding-right">线路产品：{{touristGroup.lineProduct.name}}</label>
			<input type="hidden" name="lineProductId" value="{{touristGroup.lineProduct.id}}" />
			<label class="col-sm-2 control-label no-padding-right">小组联系人：{{touristGroup.contactMember.name}}</label>
			<input type="hidden" name="contactMemberId" value="{{touristGroup.contactMember.id}}" />
			<label class="col-sm-2 control-label no-padding-right">联系电话：{{touristGroup.contactMember.mobileNumber}}</label>
			<label class="col-sm-2 control-label no-padding-right">出游日期：{{if touristGroup.startTime != null}}{{touristGroup.startTime | dateFormat: 'yyyy-MM-dd'}}{{/if}}</label>
			<label class="col-sm-2 control-label no-padding-right">人数合计：大人{{touristGroup.adultCount}}小孩{{touristGroup.childCount}}</label>
		</div>
	</form>
	<div class="col-xs-12">
		<div class="tabbable">
			<ul class="nav nav-tabs" id="myTab">
				<li class="active" style="width:125px;">
					<a aria-expanded="true" data-toggle="tab" href="#receptionList" style="text-align:center;">
						&nbsp;接团&nbsp;
					</a>
				</li>
	
				<li class="" style="width:125px;">
					<a aria-expanded="false" data-toggle="tab" href="#carList" style="text-align:center;">
						&nbsp;小车&nbsp;
					</a>
				</li>
	
				<li class="" style="width:125px;">
					<a aria-expanded="false" data-toggle="tab" href="#sendList" style="text-align:center;">
						&nbsp;送团&nbsp;
					</a>
				</li>
			</ul>
	
			<div class="tab-content">
				<div id="receptionList" class="tab-pane fade active in">
					<div class="form-group busList">
						<div class="col-xs-12 col-sm-12 widget-container-col">
							<div class="widget-box ui-sortable-handle">
								<div class="widget-header">
									<h5 class="widget-title">
										<i class="ace-icon fa fa-user"></i>
										接送车安排
									</h5>
					
									<div class="widget-toolbar no-border">
										<a href="javascript:void(0)" class="btn-bus-add">
											<i class="ace-icon fa fa-plus"></i>
											新增
										</a>
									</div>
								</div>
					
								<div class="widget-body">
									<div class="widget-main no-padding">
										<table class="table table-striped table-bordered table-hover busListTable">
											<thead>
												<tr>
													<th>车队</th>
													<th>车牌</th>
													<th>车辆品牌</th>
													<th>司机</th>
													<th>司机电话</th>
													<th>用车时间</th>
													<th>上车地点</th>
													<th>车费</th>
													<th>优惠</th>
													<th>应付款</th>
													<th>已付款</th>
													<th>付款方式</th>
													<th>操作</th>
												</tr>
											</thead>
											<tbody>{{each receiveGroup.outBusList as outBus}}
												<tr data-entity-id="{{outBus.id}}">
													<td>
														<input type="hidden" name="serviceType" value="0" />
														<input class="col-sm-12 chooseBusCompany" name="busCompanyName" type="text" value="{{outBus.busCompany.companyName}}" />
														<input type="hidden" name="busCompanyId" value="{{outBus.busCompany.id}}" />
													</td>
													<td>
														<input class="col-sm-12 chooseBusLicenseNumber" name="busLicenseNumber" type="text" value="{{outBus.bus.licenseNumber}}" />
														<input type="hidden" name="busLicenseNumberId" value="{{outBus.bus.id}}" />
													</td>
													<td><input class="col-sm-12" name="busbrand" readonly="readonly" type="text" value="{{outBus.bus.brand}}" /></td>
													<td><input class="col-sm-12 chooseDriver" name="driverName" type="text" value="{{outBus.driver.name}}" />
														<input type="hidden" name="driverId" value="{{outBus.driver.id}}" />
													</td>
													<td><input class="col-sm-12" name="driverMobileNumber" readonly="readonly" type="text" value="{{outBus.driver.mobileNumber}}" /></td>
													<td><input class="col-sm-12" name="bususeTime" type="text" value="{{if outBus.useTime != null}}{{outBus.useTime | dateFormat: 'yyyy-MM-dd'}}{{/if}}" /></td>
													<td><input class="col-sm-12" name="boardLocation" type="text" value="{{outBus.boardLocation}}" /></td>
													<td><input class="col-sm-12" name="busFee" type="text" value="{{outBus.fee}}" /></td>
													<td><input class="col-sm-12" name="busReduceMoney" type="text" value="{{outBus.reduceMoney}}" /></td>
													<td><input class="col-sm-12" name="busNeedPayMoney" type="text" value="{{outBus.needPayMoney}}" /></td>
													<td><input class="col-sm-12" name="busPayedMoney" type="text" value="{{outBus.payedMoney}}" /></td>
													<td>
														<select class="" name="busPayType" >
															<option value="0" {{if outBus.payType == 0}}selected="selected"{{/if}}>现付</option>
															<option value="1" {{if outBus.payType == 1}}selected="selected"{{/if}}>账期</option>
														</select> 
														<!-- <input class="col-sm-12" name="busPayType" type="text" value="{{outBus.payType}}" /> -->
													</td>
													<td>
														<button class="btn btn-xs btn-danger arrange-delete" title="删除">
															<i class="ace-icon fa fa-trash-o bigger-120"></i>
														</button>
													</td>
												</tr>{{/each}}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group hotelList">
						<div class="col-xs-12 col-sm-12 widget-container-col">
							<div class="widget-box ui-sortable-handle">
								<div class="widget-header">
									<h5 class="widget-title">
										<i class="ace-icon fa fa-user"></i>
										酒店安排
									</h5>
					
									<div class="widget-toolbar no-border">
										<a href="javascript:void(0)" class="btn-hotel-add">
											<i class="ace-icon fa fa-plus"></i>
											新增
										</a>
									</div>
								</div>
					
								<div class="widget-body">
									<div class="widget-main no-padding">
										<table class="table table-striped table-bordered table-hover hotelListTable">
											<thead>
												<tr>
													<th>日期</th>
													<th>星级</th>
													<th>酒店</th>
													<th>联系人</th>
													<th>联系电话</th>
													<th>房型</th>
													<th>单价</th>
													<th>数量</th>
													<th>优惠</th>
													<th>应付款</th>
													<th>已付款</th>
													<th>付款方式</th>
													<th>操作</th>
												</tr>
											</thead>
											<tbody>{{each receiveGroup.outHotelList as outHotel}}
												<tr data-entity-id="{{outHotel.id}}">
													<td><input type="hidden" name="serviceType" value="0" />
													<input class="col-sm-12" name="hotelCheckInTime" value="{{if outHotel.checkInTime != null}}{{outHotel.checkInTime | dateFormat: 'yyyy-MM-dd'}}{{/if}}" type="text" /></td>
													<td>
														<!-- <input class="col-sm-12 tripPlanHotelStar" name="hotelLevel" value="{{outHotel.hotel.level}}" type="text" /> -->
														<select class="tripPlanHotelStar" name="hotelLevel">
															<option value="1" {{if outHotel.hotel.level == 1}}selected="selected"{{/if}}>三星以下</option>
															<option value="2" {{if outHotel.hotel.level == 2}}selected="selected"{{/if}}>三星</option>
															<option value="3" {{if outHotel.hotel.level == 3}}selected="selected"{{/if}}>准四星</option>
															<option value="4" {{if outHotel.hotel.level == 4}}selected="selected"{{/if}}>四星</option>
															<option value="5" {{if outHotel.hotel.level == 5}}selected="selected"{{/if}}>准五星</option>
															<option value="6" {{if outHotel.hotel.level == 6}}selected="selected"{{/if}}>五星</option>
															<option value="7" {{if outHotel.hotel.level == 7}}selected="selected"{{/if}}>五星以上</option>
														</select>
													</td>
													<td>
														<input class="col-sm-12 chooseHotel" name="hotelName" value="{{outHotel.hotel.name}}" type="text" />
														<input type="hidden" name="hotelId" value="{{outHotel.hotel.id}}" />
													</td>
													<td><input class="col-sm-12" name="hotelManagerName" value="{{outHotel.hotel.managerName}}" readonly="readonly" type="text" /></td>
													<td><input class="col-sm-12" name="hotelMobileNumber" value="{{outHotel.hotel.mobileNumber}}" readonly="readonly" type="text" /></td>
													<td>
														<input class="col-sm-12" name="hotelRoomType" value="{{outHotel.hotelRoom.type}}" type="text" />
														<input type="hidden" name="hotelRoomTypeId" value="{{outHotel.hotelRoom.id}}" />
													</td>
													<td><input class="col-sm-12" name="hotelPrice" value="{{outHotel.price}}" type="text" /></td>
													<td><input class="col-sm-12" name="hotelMemberCount" value="{{outHotel.memberCount}}" type="text" /></td>
													<td><input class="col-sm-12" name="hotelReduceMoney" value="{{outHotel.reduceMoney}}" type="text" /></td>
													<td><input class="col-sm-12" name="hotelNeedPayMoney" value="{{outHotel.needPayMoney}}" type="text" /></td>
													<td><input class="col-sm-12" name="hotelPayedMoney" value="{{outHotel.payedMoney}}" type="text" /></td>
													<td>
														<select class="" name="hotelPayType" >
															<option value="0" {{if outHotel.payType == 0}}selected="selected"{{/if}}>现付</option>
															<option value="1" {{if outHotel.payType == 1}}selected="selected"{{/if}}>账期</option>
														</select>
													<!-- <input class="col-sm-12" name="hotelPayType" value="{{outHotel.payType}}" type="text" /></td> -->
													<td>
														<button class="btn btn-xs btn-danger arrange-delete">
															<i class="ace-icon fa fa-trash-o bigger-120"></i>
														</button>
													</td>
												</tr>{{/each}}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group ticketList">
						<div class="col-xs-12 col-sm-12 widget-container-col">
							<div class="widget-box ui-sortable-handle">
								<div class="widget-header">
									<h5 class="widget-title">
										<i class="ace-icon fa fa-user"></i>
										票务安排
									</h5>
					
									<div class="widget-toolbar no-border">
										<a href="javascript:void(0)" class="btn-ticket-add">
											<i class="ace-icon fa fa-plus"></i>
											新增
										</a>
									</div>
								</div>
					
								<div class="widget-body">
									<div class="widget-main no-padding">
										<table class="table table-striped table-bordered table-hover ticketListTable">
											<thead>
												<tr>
													<th>票务公司</th>
													<th>类型</th>
													<th>出发城市</th>
													<th>到达城市</th>
													<th>日期</th>
													<th>班次</th>
													<th>座位级别</th>
													<th>单价</th>
													<th>数量</th>
													<th>优惠</th>
													<th>应付款</th>
													<th>已付款</th>
													<th>付款方式</th>
													<th>操作</th>
												</tr>
											</thead>
											<tbody>{{each receiveGroup.outTicketList as outTicket}}
												<tr data-entity-id="{{outTicket.id}}">
													<td>
														<input type="hidden" name="serviceType" value="0" />
														<input class="col-sm-12 chooseTicket" name="ticketName" value="{{outTicket.ticket.name}}" type="text" />
														<input type="hidden" name="tickeId" value="{{outTicket.ticket.id}}" />
													</td>
													<td>
														<select class="" name="ticketType">
															<option value="1" {{if outTicket.type == 1}}selected="selected"{{/if}}>机票</option>
															<option value="2" {{if outTicket.type == 2}}selected="selected"{{/if}}>汽车票</option>
															<option value="3" {{if outTicket.type == 3}}selected="selected"{{/if}}>火车票</option>
														</select>
													</td>
													<td><input class="col-sm-12" name="ticketStartCity" value="{{outTicket.startingCity}}" type="text" /></td>
													<td><input class="col-sm-12" name="ticketArriveCity" value="{{outTicket.arriveCity}}" type="text" /></td>
													<td><input class="col-sm-12" name="ticketStartTime" value="{{if outTicket.startTime != null}}{{outTicket.startTime | dateFormat: 'yyyy-MM-dd'}}{{/if}}" type="text" /></td>
													<td><input class="col-sm-12" name="ticketShift" value="{{outTicket.shift}}" type="text" /></td>
													<td><input class="col-sm-12" name="ticketSeatLevel" value="{{outTicket.seatLevel}}" type="text" />
														<!-- <select class="" name="ticketSeatLevel" >
															<option value="0" {{if outTicket.seatLevel == 0}}selected="selected"{{/if}}>普通</option>
															<option value="1" {{if outTicket.seatLevel == 1}}selected="selected"{{/if}}>高级</option>
														</select> -->
													<!-- <input class="col-sm-12" name="ticketSeatLevel" value="{{outTicket.seatLevel}}" type="text" /> -->
													</td>
													<td><input class="col-sm-12" name="ticketPrice" value="{{outTicket.price}}" type="text" /></td>
													<td><input class="col-sm-12" name="ticketMemberCount" value="{{outTicket.memberCount}}" type="text" /></td>
													<td><input class="col-sm-12" name="ticketReduceMoney" value="{{outTicket.reduceMoney}}" type="text" /></td>
													<td><input class="col-sm-12" name="ticketNeedPayMoney" value="{{outTicket.needPayMoney}}" type="text" /></td>
													<td><input class="col-sm-12" name="ticketPayedMoney" value="{{outTicket.payedMoney}}" type="text" /></td>
													<td>
														<select class="" name="ticketPayType" >
															<option value="0" {{if outTicket.payType == 0}}selected="selected"{{/if}}>现付</option>
															<option value="1" {{if outTicket.payType == 1}}selected="selected"{{/if}}>账期</option>
														</select>
														<!-- <input class="col-sm-12" name="ticketPayType" value="{{outTicket.payType}}" type="text" /></td> -->
													<td>
														<button class="btn btn-xs btn-danger arrange-delete">
															<i class="ace-icon fa fa-trash-o bigger-120"></i>
														</button>
													</td>
												</tr>{{/each}}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div style="clear:both;height:0px;line-height:0px;"></div>
				</div>
	
				<div id="carList" class="tab-pane fade">
					<div class="form-group busList">
						<div class="col-xs-12 col-sm-12 widget-container-col">
							<div class="widget-box ui-sortable-handle">
								<div class="widget-header">
									<h5 class="widget-title">
										<i class="ace-icon fa fa-user"></i>
										接送车安排
									</h5>
					
									<div class="widget-toolbar no-border">
										<a href="javascript:void(0)" class="btn-bus-add">
											<i class="ace-icon fa fa-plus"></i>
											新增
										</a>
									</div>
								</div>
					
								<div class="widget-body">
									<div class="widget-main no-padding">
										<table class="table table-striped table-bordered table-hover busListTable">
											<thead>
												<tr>
													<th>车队</th>
													<th>车牌</th>
													<th>车辆品牌</th>
													<th>司机</th>
													<th>司机电话</th>
													<th>用车时间</th>
													<th>上车地点</th>
													<th>车费</th>
													<th>优惠</th>
													<th>应付款</th>
													<th>已付款</th>
													<th>付款方式</th>
													<th>操作</th>
												</tr>
											</thead>
											<tbody>{{each bus as outBus}}
												<tr data-entity-id="{{outBus.id}}">
													<td>
														<input type="hidden" name="serviceType" value="2" />
														<input class="col-sm-12 chooseBusCompany" name="busCompanyName" type="text" value="{{outBus.busCompany.companyName}}" />
														<input type="hidden" name="busCompanyId" value="{{outBus.busCompany.id}}" />
													</td>
													<td>
														<input class="col-sm-12 chooseBusLicenseNumber" name="busLicenseNumber" type="text" value="{{outBus.bus.licenseNumber}}" />
														<input type="hidden" name="busLicenseNumberId" value="{{outBus.bus.id}}" />
													</td>
													<td><input class="col-sm-12" name="busbrand" readonly="readonly" type="text" value="{{outBus.bus.brand}}" /></td>
													<td><input class="col-sm-12 chooseDriver" name="driverName" type="text" value="{{outBus.driver.name}}" />
														<input type="hidden" name="driverId" value="{{outBus.driver.id}}" />
													</td>
													<td><input class="col-sm-12" name="driverMobileNumber" readonly="readonly" type="text" value="{{outBus.driver.mobileNumber}}" /></td>
													<td><input class="col-sm-12" name="bususeTime" type="text" value="{{if outBus.useTime != null}}{{outBus.useTime | dateFormat: 'yyyy-MM-dd'}}{{/if}}" /></td>
													<td><input class="col-sm-12" name="boardLocation" type="text" value="{{outBus.boardLocation}}" /></td>
													<td><input class="col-sm-12" name="busFee" type="text" value="{{outBus.fee}}" /></td>
													<td><input class="col-sm-12" name="busReduceMoney" type="text" value="{{outBus.reduceMoney}}" /></td>
													<td><input class="col-sm-12" name="busNeedPayMoney" type="text" value="{{outBus.needPayMoney}}" /></td>
													<td><input class="col-sm-12" name="busPayedMoney" type="text" value="{{outBus.payedMoney}}" /></td>
													<td>
														<select class="" name="busPayType" >
															<option value="0" {{if outBus.payType == 0}}selected="selected"{{/if}}>现付</option>
															<option value="1" {{if outBus.payType == 1}}selected="selected"{{/if}}>账期</option>
														</select> 
														<!-- <input class="col-sm-12" name="busPayType" type="text" value="{{outBus.payType}}" /> -->
													</td>
													<td>
														<button class="btn btn-xs btn-danger arrange-delete" title="删除">
															<i class="ace-icon fa fa-trash-o bigger-120"></i>
														</button>
													</td>
												</tr>{{/each}}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div style="clear:both;height:0px;line-height:0px;"></div>
				</div>
	
				<div id="sendList" class="tab-pane fade">
					<div class="form-group busList">
						<div class="col-xs-12 col-sm-12 widget-container-col">
							<div class="widget-box ui-sortable-handle">
								<div class="widget-header">
									<h5 class="widget-title">
										<i class="ace-icon fa fa-user"></i>
										接送车安排
									</h5>
					
									<div class="widget-toolbar no-border">
										<a href="javascript:void(0)" class="btn-bus-add">
											<i class="ace-icon fa fa-plus"></i>
											新增
										</a>
									</div>
								</div>
					
								<div class="widget-body">
									<div class="widget-main no-padding">
										<table class="table table-striped table-bordered table-hover busListTable">
											<thead>
												<tr>
													<th>车队</th>
													<th>车牌</th>
													<th>车辆品牌</th>
													<th>司机</th>
													<th>司机电话</th>
													<th>用车时间</th>
													<th>上车地点</th>
													<th>车费</th>
													<th>优惠</th>
													<th>应付款</th>
													<th>已付款</th>
													<th>付款方式</th>
													<th>操作</th>
												</tr>
											</thead>
											<tbody>{{each sendGroup.outBusList as outBus}}
												<tr data-entity-id="{{outBus.id}}">
													<td>
														<input type="hidden" name="serviceType" value="1" />
														<input class="col-sm-12 chooseBusCompany" name="busCompanyName" type="text" value="{{outBus.busCompany.companyName}}" />
														<input type="hidden" name="busCompanyId" value="{{outBus.busCompany.id}}" />
													</td>
													<td>
														<input class="col-sm-12 chooseBusLicenseNumber" name="busLicenseNumber" type="text" value="{{outBus.bus.licenseNumber}}" />
														<input type="hidden" name="busLicenseNumberId" value="{{outBus.bus.id}}" />
													</td>
													<td><input class="col-sm-12" name="busbrand" readonly="readonly" type="text" value="{{outBus.bus.brand}}" /></td>
													<td><input class="col-sm-12 chooseDriver" name="driverName" type="text" value="{{outBus.driver.name}}" />
														<input type="hidden" name="driverId" value="{{outBus.driver.id}}" />
													</td>
													<td><input class="col-sm-12" name="driverMobileNumber" readonly="readonly" type="text" value="{{outBus.driver.mobileNumber}}" /></td>
													<td><input class="col-sm-12" name="bususeTime" type="text" value="{{if outBus.useTime != null}}{{outBus.useTime | dateFormat: 'yyyy-MM-dd'}}{{/if}}" /></td>
													<td><input class="col-sm-12" name="boardLocation" type="text" value="{{outBus.boardLocation}}" /></td>
													<td><input class="col-sm-12" name="busFee" type="text" value="{{outBus.fee}}" /></td>
													<td><input class="col-sm-12" name="busReduceMoney" type="text" value="{{outBus.reduceMoney}}" /></td>
													<td><input class="col-sm-12" name="busNeedPayMoney" type="text" value="{{outBus.needPayMoney}}" /></td>
													<td><input class="col-sm-12" name="busPayedMoney" type="text" value="{{outBus.payedMoney}}" /></td>
													<td>
														<select class="" name="busPayType" >
															<option value="0" {{if outBus.payType == 0}}selected="selected"{{/if}}>现付</option>
															<option value="1" {{if outBus.payType == 1}}selected="selected"{{/if}}>账期</option>
														</select> 
														<!-- <input class="col-sm-12" name="busPayType" type="text" value="{{outBus.payType}}" /> -->
													</td>
													<td>
														<button class="btn btn-xs btn-danger arrange-delete" title="删除">
															<i class="ace-icon fa fa-trash-o bigger-120"></i>
														</button>
													</td>
												</tr>{{/each}}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group hotelList">
						<div class="col-xs-12 col-sm-12 widget-container-col">
							<div class="widget-box ui-sortable-handle">
								<div class="widget-header">
									<h5 class="widget-title">
										<i class="ace-icon fa fa-user"></i>
										酒店安排
									</h5>
					
									<div class="widget-toolbar no-border">
										<a href="javascript:void(0)" class="btn-hotel-add">
											<i class="ace-icon fa fa-plus"></i>
											新增
										</a>
									</div>
								</div>
					
								<div class="widget-body">
									<div class="widget-main no-padding">
										<table class="table table-striped table-bordered table-hover hotelListTable">
											<thead>
												<tr>
													<th>日期</th>
													<th>星级</th>
													<th>酒店</th>
													<th>联系人</th>
													<th>联系电话</th>
													<th>房型</th>
													<th>单价</th>
													<th>数量</th>
													<th>优惠</th>
													<th>应付款</th>
													<th>已付款</th>
													<th>付款方式</th>
													<th>操作</th>
												</tr>
											</thead>
											<tbody>{{each sendGroup.outHotelList as outHotel}}
												<tr data-entity-id="{{outHotel.id}}">
													<td><input type="hidden" name="serviceType" value="1" />
													<input class="col-sm-12" name="hotelCheckInTime" value="{{if outHotel.checkInTime != null}}{{outHotel.checkInTime | dateFormat: 'yyyy-MM-dd'}}{{/if}}" type="text" /></td>
													<td>
														<!-- <input class="col-sm-12 tripPlanHotelStar" name="hotelLevel" value="{{outHotel.hotel.level}}" type="text" /> -->
														<select class="tripPlanHotelStar" name="hotelLevel">
															<option value="1" {{if outHotel.hotel.level == 1}}selected="selected"{{/if}}>三星以下</option>
															<option value="2" {{if outHotel.hotel.level == 2}}selected="selected"{{/if}}>三星</option>
															<option value="3" {{if outHotel.hotel.level == 3}}selected="selected"{{/if}}>准四星</option>
															<option value="4" {{if outHotel.hotel.level == 4}}selected="selected"{{/if}}>四星</option>
															<option value="5" {{if outHotel.hotel.level == 5}}selected="selected"{{/if}}>准五星</option>
															<option value="6" {{if outHotel.hotel.level == 6}}selected="selected"{{/if}}>五星</option>
															<option value="7" {{if outHotel.hotel.level == 7}}selected="selected"{{/if}}>五星以上</option>
														</select>
													</td>
													<td>
														<input class="col-sm-12 chooseHotel" name="hotelName" value="{{outHotel.hotel.name}}" type="text" />
														<input type="hidden" name="hotelId" value="{{outHotel.hotel.id}}" />
													</td>
													<td><input class="col-sm-12" name="hotelManagerName" value="{{outHotel.hotel.managerName}}" readonly="readonly" type="text" /></td>
													<td><input class="col-sm-12" name="hotelMobileNumber" value="{{outHotel.hotel.mobileNumber}}" readonly="readonly" type="text" /></td>
													<td>
														<input class="col-sm-12" name="hotelRoomType" value="{{outHotel.hotelRoom.type}}" type="text" />
														<input type="hidden" name="hotelRoomTypeId" value="{{outHotel.hotelRoom.id}}" />
													</td>
													<td><input class="col-sm-12" name="hotelPrice" value="{{outHotel.price}}" readonly="readonly" type="text" /></td>
													<td><input class="col-sm-12" name="hotelMemberCount" value="{{outHotel.memberCount}}" type="text" /></td>
													<td><input class="col-sm-12" name="hotelReduceMoney" value="{{outHotel.reduceMoney}}" type="text" /></td>
													<td><input class="col-sm-12" name="hotelNeedPayMoney" value="{{outHotel.needPayMoney}}" type="text" /></td>
													<td><input class="col-sm-12" name="hotelPayedMoney" value="{{outHotel.payedMoney}}" type="text" /></td>
													<td>
														<select class="" name="hotelPayType" >
															<option value="0" {{if outHotel.payType == 0}}selected="selected"{{/if}}>现付</option>
															<option value="1" {{if outHotel.payType == 1}}selected="selected"{{/if}}>账期</option>
														</select>
													<!-- <input class="col-sm-12" name="hotelPayType" value="{{outHotel.payType}}" type="text" /></td> -->
													<td>
														<button class="btn btn-xs btn-danger arrange-delete">
															<i class="ace-icon fa fa-trash-o bigger-120"></i>
														</button>
													</td>
												</tr>{{/each}}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group ticketList">
						<div class="col-xs-12 col-sm-12 widget-container-col">
							<div class="widget-box ui-sortable-handle">
								<div class="widget-header">
									<h5 class="widget-title">
										<i class="ace-icon fa fa-user"></i>
										票务安排
									</h5>
					
									<div class="widget-toolbar no-border">
										<a href="javascript:void(0)" class="btn-ticket-add">
											<i class="ace-icon fa fa-plus"></i>
											新增
										</a>
									</div>
								</div>
					
								<div class="widget-body">
									<div class="widget-main no-padding">
										<table class="table table-striped table-bordered table-hover ticketListTable">
											<thead>
												<tr>
													<th>票务公司</th>
													<th>类型</th>
													<th>出发城市</th>
													<th>到达城市</th>
													<th>日期</th>
													<th>班次</th>
													<th>座位级别</th>
													<th>单价</th>
													<th>数量</th>
													<th>优惠</th>
													<th>应付款</th>
													<th>已付款</th>
													<th>付款方式</th>
													<th>操作</th>
												</tr>
											</thead>
											<tbody>{{each sendGroup.outTicketList as outTicket}}
												<tr data-entity-id="{{outTicket.id}}">
													<td>
														<input type="hidden" name="serviceType" value="1" />
														<input class="col-sm-12 chooseTicket" name="ticketName" value="{{outTicket.ticket.name}}" type="text" />
														<input type="hidden" name="tickeId" value="{{outTicket.ticket.id}}" />
													</td>
													<td>
														<select class="" name="ticketType">
															<option value="1" {{if outTicket.type == 1}}selected="selected"{{/if}}>机票</option>
															<option value="2" {{if outTicket.type == 2}}selected="selected"{{/if}}>汽车票</option>
															<option value="3" {{if outTicket.type == 3}}selected="selected"{{/if}}>火车票</option>
														</select>
													</td>
													<td><input class="col-sm-12" name="ticketStartCity" value="{{outTicket.startingCity}}" type="text" /></td>
													<td><input class="col-sm-12" name="ticketArriveCity" value="{{outTicket.arriveCity}}" type="text" /></td>
													<td><input class="col-sm-12" name="ticketStartTime" value="{{if outTicket.startTime != null}}{{outTicket.startTime | dateFormat: 'yyyy-MM-dd'}}{{/if}}" type="text" /></td>
													<td><input class="col-sm-12" name="ticketShift" value="{{outTicket.shift}}" type="text" /></td>
													<td>
														<select class="" name="ticketSeatLevel" >
															<option value="0" {{if outTicket.seatLevel == 0}}selected="selected"{{/if}}>普通</option>
															<option value="1" {{if outTicket.seatLevel == 1}}selected="selected"{{/if}}>高级</option>
														</select>
													<!-- <input class="col-sm-12" name="ticketSeatLevel" value="{{outTicket.seatLevel}}" type="text" /> -->
													</td>
													<td><input class="col-sm-12" name="ticketPrice" value="{{outTicket.price}}" type="text" /></td>
													<td><input class="col-sm-12" name="ticketMemberCount" value="{{outTicket.memberCount}}" type="text" /></td>
													<td><input class="col-sm-12" name="ticketReduceMoney" value="{{outTicket.reduceMoney}}" type="text" /></td>
													<td><input class="col-sm-12" name="ticketNeedPayMoney" value="{{outTicket.needPayMoney}}" type="text" /></td>
													<td><input class="col-sm-12" name="ticketPayedMoney" value="{{outTicket.payedMoney}}" type="text" /></td>
													<td>
														<select class="" name="ticketPayType" >
															<option value="0" {{if outTicket.payType == 0}}selected="selected"{{/if}}>现付</option>
															<option value="1" {{if outTicket.payType == 1}}selected="selected"{{/if}}>账期</option>
														</select>
														<!-- <input class="col-sm-12" name="ticketPayType" value="{{outTicket.payType}}" type="text" /></td> -->
													<td>
														<button class="btn btn-xs btn-danger arrange-delete">
															<i class="ace-icon fa fa-trash-o bigger-120"></i>
														</button>
													</td>
												</tr>{{/each}}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div style="clear:both;height:0px;line-height:0px;"></div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<form class="form-horizontal" role="form" onsubmit="return false">
				<button style="margin-top:50px" class="btn btn-block btn-success btn-updateArrange">
					<i class="ace-icon fa fa-check"></i>
					保存信息
				</button>
			</form>
		</div>
	</div>
</div>