<div class="col-xs-12">
	<table class="table table-striped table-bordered table-hover T-chex-radio row">
		<thead>
			<tr>
				<th>报价单号</th>
				<th >线路产品名称</th>
				<th>线路类型</th>               
				<th>针对客源</th>
				<th>人数</th>
				<th>天数</th>
				<th>出游日期</th>
				<th>客户</th>
				<th>联系人</th>
				<th>报价时间</th>
				<th style="width:150px;">操作</th>
			</tr>
		</thead>
		<tbody calss="T-chooseQuoteProduct-Tbody">
			{{each lineProductList as lineProduct}}
				<tr data-quoteId='{{lineProduct.id}}' data-quoteNumber='{{lineProduct.quoteNumber}}' 
				 data-lineProductName= '{{if lineProduct.lineProduct != null}}{{lineProduct.lineProduct.name}}{{/if}}'
				 data-lineProducId= '{{if !!lineProduct.lineProduct}}{{lineProduct.lineProduct.id}}{{/if}}'
				 data-startTime='{{lineProduct.startTime}}'
				 data-days='{{if lineProduct.lineProduct !=null }}{{lineProduct.lineProduct.days}}{{/if}}'
				 data-fromPartnerAgencyId='{{if lineProduct.partnerAgency != null}}{{lineProduct.partnerAgency.id}}{{/if}}' 
				 data-fromPartnerAgencyName='{{if lineProduct.partnerAgency != null}}{{lineProduct.partnerAgency.travelAgencyName}}{{/if}}'
				 data-partnerAgencyContactName ='{{if lineProduct.partnerAgencyContact != null}}{{lineProduct.partnerAgencyContact.contactRealname}}-[{{lineProduct.partnerAgencyContact.contactMobileNumber}}]{{/if}}'
				 data-partnerAgencyContactId = '{{if lineProduct.partnerAgencyContact != null}}{{lineProduct.partnerAgencyContact.id}}{{/if}}'
				 data-adultCount='{{lineProduct.adultCount}}' data-adultPrice='{{lineProduct.adultQuotePrice}}' data-childCount='{{lineProduct.childCount}}' data-childPrice='{{lineProduct.childQuotePrice}}'
				 data-customerType="{{if lineProduct.lineProduct != null}}{{lineProduct.lineProduct.customerType}}{{/if}}">
					<td>
					    {{lineProduct.quoteNumber}}
					</td>
					<td>{{if lineProduct.lineProduct != null}}{{lineProduct.lineProduct.name}}{{/if}}</td>

					<td>{{if lineProduct.lineProduct != null}}{{lineProduct.lineProduct.type}}{{/if}}</td>
					<td>
						{{if lineProduct.lineProduct != null}}    
							{{if lineProduct.lineProduct.customerType==0}}
								  散客
								{{else}}             
								  团体
							{{/if}}  
						{{/if}}
					</td>

					<td><span class="F-float F-count">{{lineProduct.adultCount}}</span> 大 <span class="F-float F-count">{{lineProduct.childCount}}</span> 小</td>
					<td><span class="F-float F-count">{{if lineProduct.lineProduct !=null }}{{lineProduct.lineProduct.days}}{{/if}}</span></td>
					<td>{{lineProduct.startTime | dateFormat: 'yyyy-MM-dd'}}</td>

					<td>{{if lineProduct.partnerAgency !=null }}{{lineProduct.partnerAgency.travelAgencyName}}{{/if}}</td>
					<td>{{if lineProduct.partnerAgencyContact !=null }}{{lineProduct.partnerAgencyContact.contactRealname}}{{/if}}</td>
					<td>{{lineProduct.createTime}}</td>
					<td>
					 	<label class="pos-rel"> <input type="radio" class="ace T-cheked" name="form-field-radio"> <span class="lbl"></span> </label>
				    </td>
				</tr>
			{{/each}}
		</tbody>
	</table>
	<div class="row pageMode">
		<div class="col-xs-6">
			<small>共计 {{recordSize}} 条记录</small>
		</div>
		<div class="col-xs-6">
			<div class="dataTables_paginate paging_simple_numbers T-pagenation">
			</div>
		</div>
	</div>

</div>
