<div class="col-xs-12 updateTouristGroup globalAdd">
	<form class="form-horizontal touristGroupMainForm T-touristGroupMainForm T-update" role="form" style="margin-top:10px" onsubmit="return false">
		<div class=" ui-sortable-handle">
			<h5 class="">
				<span class="badge badge-primary">1</span>
				<label class="middle title-size">修改小组信息</label>
			</h5>
			<div class="widget-body">
				<div class="widget-main formOneList updateTouristInput" style="margin-left: -15px;">
					<div class="form-group guideInterval">
						<label class="col-sm-1 control-label no-padding-right"><span class="necessary">*</span>线路产品:</label>
						<div class="col-sm-2 update-divWidth">
							{{if touristGroupDetail.status == 1}}
							<input type="text"  value="{{if touristGroupDetail.lineProduct != null}}{{touristGroupDetail.lineProduct.name}}{{/if}}" name="lineProductIdName" class="col-sm-8 bind-change product-width" readonly="readonly" />
							<input type="hidden" value="{{touristGroupDetail.lineProductId}}" name="lineProductId" />
							<input type="hidden" value="{{touristGroupDetail.quoteId}}" name="quoteId" />
							<button class="col-sm-4 btn btn-sm btn-primary btn-travelLine-search travelLine-search {{if !!type || touristGroupDetail.status == 1}}T-travelLine-search{{/if}}" style="padding-bottom:5px;width: 62px">
								<i class="ace-icon fa fa-search "></i>搜索
							</button> 
							{{else}}
							<input type="text" value="{{if touristGroupDetail.lineProduct != null}}{{touristGroupDetail.lineProduct.name}}{{/if}}" name="lineProductIdName" class="col-sm-12" readonly="readonly" />
							<input type="hidden" value="{{touristGroupDetail.lineProductId}}" name="lineProductId" />
							<input type="hidden" value="{{touristGroupDetail.quoteId}}" name="quoteId" />
							{{/if}}
						</div>
						<label class="col-sm-1 control-label no-padding-right"><span class="necessary">*</span>出游日期:</label>
						<div class="col-sm-2 update-divWidth">
							{{if touristGroupDetail.status == 1}}
							<div class="input-group">
								<input type="text" name="startTime" value="{{touristGroupDetail.startTime | dateFormat: 'yyyy-MM-dd'}}" class="col-sm-12 date-picker datepicker" {{if !!touristGroupDetail.quoteId}} disabled {{/if}} {{if !!type}}readonly="readonly"{{/if}}  />
									<span class="input-group-addon icon-tourist {{if !!touristGroupDetail.quoteId}} hidden {{/if}}"  >
										<i class="fa fa-calendar" style="position: relative;left: -20px"></i>
									</span>
							</div>
							{{else}}
							<input type="text" name="startTime" value="{{touristGroupDetail.startTime | dateFormat: 'yyyy-MM-dd'}}" class="col-sm-12" readonly="readonly" />
							{{/if}}
						</div>
						<label class="col-sm-1 control-label no-padding-right">是否购买保险:</label>
						<div class="col-sm-2 checkbox buyInsurance">
							<label>
								<input{{if touristGroupDetail.buyInsurance==1}} checked="checked"{{/if}} value="1" type="checkbox" class="ace buyInsurance-status" name="buyInsurance">
								<span class="lbl"></span>
							</label>
						</div>
					</div>
					<div class="form-group choosePartnerAgencyDiv guideInterval">
						<div class="col-sm-3 update-divWidth pull-left" style="width:320px; margin-left:75px;">
							<label class=" control-label no-padding-right" style="margin-left: -8px"><span class="necessary">*</span>客户来源：<input type="text" name="fromPartnerAgency" class="choosePartnerAgency"  placeholder="请输入客户来源" value="{{if touristGroupDetail.partnerAgency != null}}{{touristGroupDetail.partnerAgency.travelAgencyName}}{{/if}}" {{if !!touristGroupDetail.quoteId || !!type }} readonly {{/if}}>
							<input type="hidden" name="fromPartnerAgencyId" value="{{if touristGroupDetail.partnerAgency != null}}{{touristGroupDetail.partnerAgency.id}}{{/if}}">
							<input type="hidden" name="type" value="">
							</label>
							<span class="input-group-addon {{if type==null}}T-addPartner{{/if}} R-right {{if !!touristGroupDetail.quoteId}} hidden {{/if}}" data-right="1150002" style="display: inline-block;left:0" title="添加客户">
								<i class="ace-icon fa fa-plus bigger-110 icon-only" ></i>
							</span>
						</div>
						<label class="col-sm-1 control-label no-padding-right"><span class="necessary">*</span>同行联系人:</label>
						<div class="col-sm-2 update-divWidth">
							<div class="input-group">
							<label>
								<input class="{{if !!type}}choosePartnerManager{{/if}} col-sm-12 bind-change" value="{{if touristGroupDetail.partnerAgencyContact != null}}{{touristGroupDetail.partnerAgencyContact.contactRealname}} -[{{touristGroupDetail.partnerAgencyContact.contactMobileNumber}}]{{/if}}" name="partnerAgencyNameList" type="text" {{if !!touristGroupDetail.quoteId || !!type}} readonly {{/if}} />
								<input type="hidden" name="partnerAgencyContactId" value="{{if touristGroupDetail.partnerAgencyContact != null}}{{touristGroupDetail.partnerAgencyContact.id}}{{/if}}" />
							</label>

								<span class="input-group-addon T-addPartnerManager {{if !!touristGroupDetail.quoteId}} hidden {{/if}}" style="cursor:pointer;" title="为客户来源添加联系人">
									<i class="ace-icon fa fa-plus bigger-110 icon-only"></i>
								</span>
							</div>
							<!-- <input readonly="readonly" value="{{touristGroupDetail.partnerAgency.managerName}}" class="chooseGuide col-sm-12" name="partnerAgencyName" type="text" /> -->
						</div>
						<label class="col-sm-1 control-label no-padding-right">获得方式:</label>
						<div class="col-sm-2">
							<select name="getType" class="col-sm-12 getPay-type" {{if !!type}}disabled="disabled"{{/if}}>
								<option{{if touristGroupDetail.getType == 1}} selected="selected"{{/if}} value="1">旅行社系统</option>
								<option{{if touristGroupDetail.getType == 2}} selected="selected"{{/if}} value="2">传真</option>
								<option{{if touristGroupDetail.getType == 3}} selected="selected"{{/if}} value="3">短信</option>
								<option{{if touristGroupDetail.getType == 4}} selected="selected"{{/if}} value="4">电话</option>
								<option{{if touristGroupDetail.getType == 5}} selected="selected"{{/if}} value="5">QQ</option>
							</select>
						</div>
					</div>
					<div  class="form-group guideInterval">
						<label class="col-sm-1 control-label no-padding-right">组团单号：</label>
						<div  class="col-sm-2">
						<input  type="text" name="otaOrderNumber" value="{{touristGroupDetail.otaOrderNumber}}"  maxlength="100" />
						</div>
						<label class="col-sm-1 control-label no-padding-right touristNeedPayMoneny">应收:</label>
						<div class="col-sm-2 update-divWidth">
							<input value="{{touristGroupDetail.needPayAllMoney}}" readonly="readonly" type="text" name="needPayAllMoney" class="col-sm-12" />
	
						</div>

						<label class="col-sm-1 control-label no-padding-right">现收:</label>
						<div class="col-sm-2">
							<input value="{{touristGroupDetail.currentNeedPayMoney}}" {{if touristGroupDetail.isReceived == 1 || !!type }}readonly="readonly"{{/if}} type="text" name="currentNeedPayMoney" class="col-sm-12" />
						</div>
					</div>
					
					
					<div class="form-group guideInterval">
					<label class="col-sm-1 control-label no-padding-right">已收:</label>
						<div class="col-sm-2 update-divWidth">
							<input value="{{touristGroupDetail.payedMoney}}" type="text" name="payedMoney" {{if !!type}} readonly="readonly"{{/if}} class="col-sm-12" />
						</div>
						
						<label class="col-sm-1 control-label no-padding-right">未收:</label>
						<div class="col-sm-2">
						{{if !!type}}
							<input value="{{touristGroupDetail.unIncomeMoney}}" readonly="readonly" type="text" name="unIncomeMoney" class="col-sm-12" />
							{{else}}
							<input value="{{touristGroupDetail.unIncomeMoney}}" readonly="readonly" type="text" name="unIncomeMoney" class="col-sm-12" />

						{{/if}}
						</div> 
					  <label class="col-sm-1 control-label no-padding-right touristNeedPayMoneny">收款方式：</label>
					  <div class="col-sm-2">
							<select name="incomeType" class="pull-left">
								<option{{if touristGroupDetail.incomeType == 0}} selected="selected"{{/if}} value="0">现金</option>
								<option{{if touristGroupDetail.incomeType == 1}} selected="selected"{{/if}} value="1">银行转账</option>
								<option{{if touristGroupDetail.incomeType == 2}} selected="selected"{{/if}} value="2">网上支付</option>
								<option{{if touristGroupDetail.incomeType == 3}} selected="selected"{{/if}} value="3">支票</option>
								<option{{if touristGroupDetail.incomeType == 4}} selected="selected"{{/if}} value="4">其它</option>
							</select>
						</div>
					  </div>	
					</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-8">
						<button class="btn btn-sm btn-success  T-touristGroup-addOtherCost" style="position: absolute;">
							<i class="ace-icon fa fa-plus"></i>
							新增费用项
						</button>
					</div>
				</div>
				<div class="form-group margin-top30">
					<div class="col-sm-8  tourist-contenWidth">
						<table class="table table-striped table-bordered table-hover addCostList margin-top" style="margin-left: -20px;">
							<thead>
							<tr>
								<th class="th-border">类型</th>
								<th class="th-border">说明</th>
								<th class="th-border">数量</th>
								<th class="th-border">单价</th>
								<th class="th-border">操作</th>
							</tr>
							</thead>
							<tbody class="T-addCostTbody">
							<tr>
								<td>
									结算价
								</td>
								<td>
									大人
								</td>
								<td>
									<span class="necessary col-sm-1">*</span><input name="adultCount" value="{{touristGroupDetail.adultCount}}" type="text" class="col-sm-11  no-padding-right T-costCount" maxlength="3" {{if !!touristGroupDetail.quoteId}} readonly {{/if}}/>
								</td>
								<td>
									<span class="necessary col-sm-1">*</span><input name="adultPrice" value="{{touristGroupDetail.adultPrice}}" type="text" class="col-sm-11  no-padding-right  T-costPrice" maxlength="6" {{if !!touristGroupDetail.quoteId}} readonly {{/if}}/>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									结算价
								</td>
								<td>
									小孩
								</td>
								<td>
									<input name="childCount" value="{{touristGroupDetail.childCount}}" type="text" class="col-sm-11  no-padding-right T-costCount" style="float:right;" maxlength="3" {{if !!touristGroupDetail.quoteId}} readonly {{/if}}/>
								</td>
								<td>
									<input name="childPrice" value="{{touristGroupDetail.childPrice}}" type="text" class="col-sm-11  no-padding-right T-costPrice" style="float:right;" maxlength="6" {{if !!touristGroupDetail.quoteId}} readonly {{/if}}/>
								</td>
								<td></td>
							</tr>{{each touristGroupDetail.touristGroupFeeList as feeList}}
							<tr data-entity-id="{{feeList.id}}">
								<td>
									<span name="addOrReduceSelect" value="0">其他费用</span>
									<!-- <select name="addOrReduceSelect" class="col-sm-12 addOrReduceSelect">
                                        <option{{if feeList.type==0}} selected="selected"{{/if}} value="0">增加费用</option>
                                        <option{{if feeList.type==1}} selected="selected"{{/if}} value="1">减少费用</option>
                                    </select> -->
								</td>
								<td>
									<input name="describeInfo" value="{{feeList.describeInfo}}" type="text" class="col-sm-12  no-padding-right" />
								</td>
								<td>
									<input name="count" value="{{feeList.count}}" type="text" class="col-sm-12  no-padding-right T-costCount" />
								</td>
								<td>
									<input name="price" value="{{feeList.price}}" type="text" class="col-sm-12  no-padding-right T-costPrice" />
								</td>
								<td><a class="cursor oldaddCost-delete">删除</a></td>
							</tr>{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</form>
	<form class="form-horizontal touristGroupMainFormMember T-touristGroupMainFormMember" role="form" style="margin-top:10px" onsubmit="return false">
		<div class="form-group">
			<div class="col-sm-8 col-sm-12 widget-container-col">
				<div class=" ui-sortable-handle">
					<h5 class="">
						<span class="badge badge-primary">2</span>
						<label class="middle title-size">游客名单</label>
					</h5>
					<div class="widget-body">
						<div class="widget-main">
							<div class="form-group"> 
								<label class="col-sm-1 control-label no-padding-right">住宿标准：</label>
								<div class="col-sm-2">
									<select name="level" class="col-sm-12"  {{if !!type}}disabled="disabled"{{/if}}>
										<option{{if touristGroupDetail.hotelLevel == 0}} selected="selected"{{/if}} value="0">未选择</option>
										<option{{if touristGroupDetail.hotelLevel == 1}} selected="selected"{{/if}} value="1">三星以下</option>
										<option{{if touristGroupDetail.hotelLevel == 2}} selected="selected"{{/if}} value="2">三星</option>
										<option{{if touristGroupDetail.hotelLevel == 3}} selected="selected"{{/if}} value="3">准四星</option>
										<option{{if touristGroupDetail.hotelLevel == 4}} selected="selected"{{/if}} value="4">四星</option>
										<option{{if touristGroupDetail.hotelLevel == 5}} selected="selected"{{/if}} value="5">准五星</option>
										<option{{if touristGroupDetail.hotelLevel == 6}} selected="selected"{{/if}} value="6">五星</option>
										<option{{if touristGroupDetail.hotelLevel == 7}} selected="selected"{{/if}} value="7">五星以上</option>
									</select>
								</div>
								<label class="col-sm-2 control-label no-padding-right">包含自费：</label>
								<div class="col-sm-7">
									<input name="includeOwnExpense" value="{{touristGroupDetail.includeSelfPay}}" type="text" {{if !!type}}readonly="readonly"{{/if}} class="col-sm-12" maxlength="1000" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label no-padding-right">备注：</label>
								<div class="col-sm-11">
									<input name="touristRemarks" value="{{touristGroupDetail.remark}}" maxlength="1000"  {{if !!type}}readonly="readonly"{{/if}}  class="col-sm-12  no-padding-right" type="text">
								</div>
							</div>
							<div class="form-group margin-top15">
								<div class="col-sm-8">
									<button class="btn btn-sm btn-success T-add-tourist" style="float:left;">
										<i class="ace-icon fa fa-plus"></i>
										添加成员
									</button>
									<div style="height:5px;width:25px;float:left;"></div>
									<button class="btn btn-sm btn-success T-add-tourist-more" style="float:left;">
										<i class="ace-icon fa fa-plus"></i>
										批量添加
									</button>
								</div>
								<div class="form-group">
									<div class="col-sm-12  tourist-contenWidth">
										<table class="table table-striped table-bordered table-hover T-addTouristList margin-top">
											<thead>
											<tr>
												<th class="th-border">序号</th>
												<th class="th-border"> <span class="necessary">*</span>姓名</th>
												<th class="th-border"> <span class="necessary">*</span>手机号码</th>
												<th class="th-border">证件类型</th>
												<th class="th-border">证件号</th>
												<th class="th-border">设为联系人</th>
												<th class="th-border">操作</th>
											</tr>
											</thead>
											<tbody class="T-addTouristTbody">{{each touristGroupDetail.touristGroupMemberList as memberList}}
											<tr data-entity-id="{{memberList.id}}">
												<td></td>
												<td>
													<input name="name" value="{{memberList.name}}" type="text" class="col-sm-12  no-padding-right" />
												</td>
												<td>
													<input name="mobileNumber" value="{{memberList.mobileNumber}}" type="text" class="col-sm-12  no-padding-right T-mobileNumber" maxlength="11" />
												</td>
												<td>
													<select name="idCardType">
														<option value="0" {{if memberList.idCardType == 0}}selected="selected"{{/if}}>身份证</option>
														<option value="1" {{if memberList.idCardType == 1}}selected="selected"{{/if}}>护照</option>
														<option value="2" {{if memberList.idCardType == 2}}selected="selected"{{/if}}>其它</option>
													</select>
												</td>
												<td>
													<input name="idCardNumber" value="{{memberList.idCardNumber}}" type="text" class="col-sm-12  no-padding-right" />
												</td>
												<td>
													<div class="checkbox">
														<label>
															<input type="checkbox" {{if  memberList.isContactUser==1}}checked="checked"{{/if}} class="ace " value="1" name="isContactUser">
															<span class="lbl">
															</span>
														</label>
													</div>
												</td>
												<td>
													<a class="cursor oldbtnDeleteTourist">
														删除
													</a>
												</td>
											</tr>{{/each}}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</form>
	<form class="form-horizontal touristGroupMainFormRS T-touristGroupMainFormRS" role="form" style="margin-top:10px" onsubmit="return false">
		<div class="form-group">
			<div class="col-xs-12 col-sm-12 widget-container-col">
				<div class=" ui-sortable-handle">
					<h5 class="">
						<span class="badge badge-primary">3</span>
						<label class="middle title-size">中转</label>
					</h5>
					<div class="widget-body">
						<div class="widget-main">
							<div class="form-group">
								<div class="col-sm-3">
									<label class="col-sm-2 control-label no-padding-right">接：</label>
									<div class="clo-sm-1 checkbox">
										<label>
											<input type="checkbox" class="ace reception-check T-touristReception" {{if touristGroupDetail.isNeedArriveService==1}}checked="checked"{{/if}} value="0" name="touristReception">
											<span class="lbl margin-topF5">

											</span>
										</label>
									</div>
									<div class="col-sm-12 T-reception-div hide" style="padding-top:25px;">
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right">接待日期:</label>
											<div class="col-sm-9">
												<div class="input-group">
													<input type="text" value="{{if touristGroupDetail.isNeedArriveService==1}}{{if touristGroupDetail.outRemarkArrange != null}}{{touristGroupDetail.outRemarkArrange.arriveTime | dateFormat: 'yyyy-MM-dd'}}{{/if}}{{/if}}" name="receptionTime" class="col-sm-12 date-picker datepicker" />
													<span class="input-group-addon">
														<i class="fa fa-calendar"></i>
													</span>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right">地点：</label>
											<div class="col-sm-9">
												<input name="receptionAddress" value="{{if touristGroupDetail.isNeedArriveService==1}}{{if touristGroupDetail.outRemarkArrange != null}}{{touristGroupDetail.outRemarkArrange.arrivePosition}}{{/if}}{{/if}}" type="text" class="col-sm-8" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right">班次：</label>
											<div class="col-sm-9">
												<input name="arriveShift" type="text" class="col-sm-8" value="{{if touristGroupDetail.isNeedArriveService==1}}{{if touristGroupDetail.outRemarkArrange != null}}{{touristGroupDetail.outRemarkArrange.arriveShift}}{{/if}}{{/if}}" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right">班次时间：</label>
											<div class="col-sm-9">

												<div class="input-group">
													<input type="text" value="{{if touristGroupDetail.isNeedArriveService==1}}{{if touristGroupDetail.outRemarkArrange != null}}{{touristGroupDetail.outRemarkArrange.arriveShiftTime}}{{/if}}{{/if}}" name="arriveShiftTime" class="col-sm-12 date-picker ShiftDatepicker" />
													<span class="input-group-addon">
														<i class="fa fa-calendar"></i>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<label class="col-sm-3 control-label no-padding-right">小车：</label>
									<div class="clo-sm-1 checkbox">
										<label>
											<input type="checkbox" {{if touristGroupDetail.isNeedBus==1}}checked="checked"{{/if}} class="ace smallCar T-smallCar" value="0" name="smallCar">
											<span class="lbl margin-topF5">

											</span>
										</label>
									</div>
								</div>

								<div class="col-sm-3">
									<label class="col-sm-2 control-label no-padding-right">送：</label>
									<div class="clo-sm-1 checkbox">
										<label>
											<input type="checkbox" {{if touristGroupDetail.isNeedLeaveService==1}}checked="checked"{{/if}} class="T-touristSend ace send-check" value="0" name="touristSend">
											<span class="lbl margin-topF5">

											</span>
										</label>
									</div>
									<div class="col-sm-12 T-send-div hide" style="padding-top:25px;">
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right">送离日期:</label>
											<div class="col-sm-9">
												<div class="input-group">
													<input type="text" value="{{if touristGroupDetail.isNeedLeaveService==1}}{{if touristGroupDetail.outRemarkArrange != null}}{{touristGroupDetail.outRemarkArrange.leaveTime | dateFormat: 'yyyy-MM-dd'}}{{/if}}{{/if}}" name="sendTime" class="col-sm-12 date-picker datepicker" />
													<span class="input-group-addon">
														<i class="fa fa-calendar"></i>
													</span>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right">地点：</label>
											<div class="col-sm-9">
												<input name="sendAddress" value="{{if touristGroupDetail.isNeedLeaveService==1}}{{if touristGroupDetail.outRemarkArrange != null}}{{touristGroupDetail.outRemarkArrange.leavePosition}}{{/if}}{{/if}}" type="text" class="col-sm-8" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right">班次：</label>
											<div class="col-sm-9">
												<input name="leaveShift" type="text" class="col-sm-8" value="{{if touristGroupDetail.isNeedLeaveService==1}}{{if touristGroupDetail.outRemarkArrange != null}}{{touristGroupDetail.outRemarkArrange.leaveShift}}{{/if}}{{/if}}" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right">班次时间：</label>
											<div class="col-sm-9">
												<div class="input-group">
													<input name="leaveShiftTime" type="text" class="col-sm-12  date-picker ShiftDatepicker" value="{{if touristGroupDetail.isNeedLeaveService==1}}{{if touristGroupDetail.outRemarkArrange != null}}{{touristGroupDetail.outRemarkArrange.leaveShiftTime}}{{/if}}{{/if}}" />
													<span class="input-group-addon">
															<i class="fa fa-calendar"></i>
													</span>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> 
			</div>
		</div>
		<div class="space-10"></div>
		<button class="btn btn-block btn-primary T-submit-updateTouristGroup guideSubmit" data-entity-id="{{touristGroupDetail.id}}">
			<i class="ace-icon fa fa-check"></i>
			提交信息
		</button>
		<div class="space-20"></div>
	</form>
</div>
