<div class="touristGroupViewAccount" id="T-touristGroupViewAccount">
	<div class="form-inline" style="text-align:center;margin: 15px 0px 25px 0px;">
		<div class="form-group">
			<h4 style="margin: auto;">
			<img src="../images/logo_32x32.png" alt="火柴头地接社">火柴头地接社
		</h4>
		</div>
		<div class="form-group pull-right mar-r-20 globalAdd">
			<button class="btn btn-sm btn-success T-printAccountBtn T-noprint" style="height: 24px;"><i class="ace-icon fa fa-print"></i>打印</button>
		</div>
	</div>
	
	<form action="">
		<div class="viewAccountsMain">
			<p>致 <span style="margin-left: 4px;">{{if touristGroupDetail.partnerAgency != null}}{{touristGroupDetail.partnerAgency.travelAgencyName}}{{/if}}</span> &nbsp; (<span>{{if touristGroupDetail.partnerAgencyContact != null}}{{touristGroupDetail.partnerAgencyContact.contactRealname}} -[{{touristGroupDetail.partnerAgencyContact.contactMobileNumber}}]{{/if}}</span> <span>传真：</span>) <span>您好！</span></p>
			<p>贵单位： <span>(收客单号)</span> <span>{{touristGroupDetail.orderNumber}}</span> <span style="margin-left: 6px;">(线路产品)</span> <span>{{if touristGroupDetail.lineProduct != null}}{{touristGroupDetail.lineProduct.name}}{{/if}},</span> <span>此团费用结算列表如下,请审阅并盖章、签字执回我社！</span></p>
		
		<table class="whereQ whereTwo" style="width: 100%;">
					<tr>
						<td class="textaR-paR">人数</td>
						<td class="textaR-paL"><span class="F-float F-count">{{touristGroupDetail.adultCount}}</span>大 <span class="F-float F-count">{{touristGroupDetail.childCount}}</span>小</td>
						<td class="textaR-paR">联系人</td>
						{{each touristGroupDetail.touristGroupMemberList as touristGroup}}
						<td class="textaR-paL">
							<span>{{touristGroup.name}}</span>
							<span>{{touristGroup.mobileNumber}}</span>
						</td>
						{{/each}}
					</tr>
					<tr>
						<td class="textaR-paR">出团日期</td>
						<td class="textaR-paL">{{touristGroupDetail.startTime | dateFormat: 'yyyy-MM-dd'}}</td>
						<td class="textaR-paR">完团日期</td>
						<td class="textaR-paL">{{touristGroupDetail.endTime | dateFormat: 'yyyy-MM-dd'}}</td>
					</tr>
					<tr>
						<td class="textaR-paR">团号</td>
						<td class="textaR-paL">2556453234213</td>
						<td class="textaR-paR">针对客源</td>
						<td class="textaR-paL">{{if touristGroupDetail.customerType == 0}}散客{{/if}}{{if touristGroupDetail.customerType == 1}}团体{{/if}}</td>
					</tr>
					<tr>
						<td class="textaR-paR">导游</td>
						<td class="textaR-paL">张三麻子</td>
						<td class="textaR-paR">全陪</td>
						<td class="textaR-paL"> <span>{{touristGroupDetail.accompanyGuideName}}</span> <span class="mar-l-5">{{touristGroupDetail.accompanyGuideMobile}}</span></td>
					</tr>
				</table>

				<table class="table table-bordered"> 
					<thead>
						<tr>
							<th class="th-border" width="160">费用项</th>
							<th class="th-border">数量</th>
							<th class="th-border">单价</th>
							<th class="th-border">金额</th>
							<th class="th-border">说明</th>
						</tr>
					</thead>
					<tbody class="addCostTbody">
						{{each touristGroupDetail.touristGroupFeeList as touristGroup}}
							<tr data-entity-id="{{touristGroup.id}}">
								<td>
									{{touristGroup.name}}
								</td>
								<td>
									<span class="F-float F-count">{{touristGroup.count}}</span>
								</td>
								<td>
									<span class="F-float F-money">{{touristGroup.price}}</span>
								</td>

								<td>
									<span class="F-float F-money">{{touristGroup.price*touristGroup.count}}</span>
								</td>
								<td>
									{{touristGroup.remark}}
								</td>

							</tr>
								{{/each}}
					</tbody>
			</table>

			<table class="whereQ" style="width: 100%;margin-top: -20px;">
				<tr>
					<td style="text-align: right;padding-right:60px;width: 160px">应收</td>
					<td class="textaR-paL">{{touristGroupDetail.needPayAllMoney}}</td>
				</tr>
				<tr>
					<td style="text-align: right;padding-right:60px;width: 160px">已收</td>
					<td class="textaR-paL">234.00</td>
				</tr>
				<tr>
					<td style="text-align: right;padding-right:60px;width: 160px">现收</td>
					<td class="textaR-paL">2131.00</td>
				</tr>
				<tr>
					<td style="text-align: right;padding-right:60px;width: 160px">未收</td>
					<td class="textaR-paL">987.00</td>
				</tr>
				<tr>
					<td colspan="2">请仔细阅读并盖章确认之后回传！谢谢！</td>
				</tr>
			</table>
			<p style="text-align: right;margin-top: 10px;"><span>外联销售：</span> <span>{{if !!touristGroupDetail.outOPUser}}{{touristGroupDetail.outOPUser.realName}}{{/if}}</span> <span>{{if !!touristGroupDetail.outOPUser}}{{touristGroupDetail.outOPUser.mobileNumber}}{{/if}}</span></p>
			<p style="text-align: right;margin-top: -8px;">传真：028-32435465</p>
			<p style="text-align: right;margin-top: -8px;"><span>2016.02.23</span> <span>16:30:45</span></p>
		</div>
	</form>
</div>