<div class="col-xs-12">
<button class="btn btn-sm btn-success export-Btn T-statementsBtn pull-right">结算单</button>
	<form class="form-horizontal touristGroupMainForm T-touristGroupMainForm" role="form" style="margin-top:10px" onsubmit="return false">
		<div class=" ui-sortable-handle">
				<h5 class="">
					<label class="middle  title-size">小组信息</label>
				</h5>
			<div class="widget-body">
				<table class="whereQ whereTwo" style="width: 100%;margin-bottom: 20px">
					<colgroup>
						<col style="width:7%"></col>
						<col style="width:10%;"></col>
						<col style="width:7%;"></col>
						<col style="width:10%;"></col>
						<col style="width:7%;"></col>
						<col style="width:10%;"></col>
						<col style="width:7%;"></col>
						<col style="width:42%;"></col>
					</colgroup>
					<tr>
						<td class="style-myself">报价单号</td>
						<td style="text-align: left;padding: 0px 0px 0px 10px">{{if touristGroupDetail.quote != null}}{{touristGroupDetail.quote.quoteNumber}}{{/if}}</td>
						<td class="style-myself">线路产品</td>
						<td style="text-align: left;padding: 0px 0px 0px 10px">{{if touristGroupDetail.lineProduct != null}}{{touristGroupDetail.lineProduct.name}}{{/if}}</td>

						<td class="style-myself">人数</td>
						<td style="text-align: left;padding: 0px 0px 0px 10px;width: 20%;"><span class="F-float F-count">{{touristGroupDetail.adultCount}}</span>大人 <span class="F-float F-count">{{touristGroupDetail.childCount}}</span>小孩</td>

						
						<td width="80px">是否购买保险</td>
						<td style="text-align: left;padding: 0px 0px 0px 10px">{{if touristGroupDetail.buyInsurance == 0}}
							否
							{{else touristGroupDetail.buyInsurance == 1}}
							是
							{{/if}}
						</td>
					</tr>
					<tr>
						<td class="style-myself">客户</td>
						<td style="text-align: left;padding: 0px 0px 0px 10px">{{if touristGroupDetail.partnerAgency != null}}{{touristGroupDetail.partnerAgency.travelAgencyName}}{{/if}}</td>
						<td class="style-myself">{{if touristGroupDetail.isInnerTransferConfirm == 1}}部门联系人{{else}}同行联系人{{/if}}</td>
						<td style="text-align: left;padding: 0px 0px 0px 10px">{{if touristGroupDetail.partnerAgencyContact != null}}{{touristGroupDetail.partnerAgencyContact.contactRealname}} -[{{touristGroupDetail.partnerAgencyContact.contactMobileNumber}}]{{/if}}</td>
						<td class="style-myself">获得方式</td>
						<td style="text-align: left;padding: 0px 0px 0px 10px" >{{if touristGroupDetail.getType == 1}}
							旅行社系统
							{{else if touristGroupDetail.getType == 2}}
							传真
							{{else if touristGroupDetail.getType == 3}}
							短信
							{{else if touristGroupDetail.getType == 4}}
							电话
							{{else if touristGroupDetail.getType == 5}}
							QQ
							{{else if touristGroupDetail.getType == 6}}
							微信
							{{else if touristGroupDetail.getType == 7}}
							线上渠道
							{{/if}}</td>
					    <td class="style-myself">组团单号:</td>
						<td style="text-align: left;padding: 0px 0px 0px 10px;width: 20%;">{{touristGroupDetail.otaOrderNumber}}</td>
					</tr>

					<tr>
						<td class="style-myself">外联销售</td>
						<td style="text-align: left;padding: 0px 0px 0px 10px;width: 20%;">{{if !!touristGroupDetail.outOPUser}}{{touristGroupDetail.outOPUser.realName}}{{/if}}</td>
						<td class="style-myself">客源类型</td>
						<td style="text-align: left;padding: 0px 0px 0px 10px;width: 20%;">
							{{if touristGroupDetail.memberType == 0}}内宾
								{{else}}外宾
							{{/if}}
						</td>
						<td class="style-myself">接站牌</td>
						<td style="text-align: left;padding: 0px 0px 0px 10px;width: 20%;">{{touristGroupDetail.welcomeBoard}}</td>
						<td class="style-myself">出游日期</td>
						<td style="text-align: left;padding: 0px 0px 0px 10px">{{touristGroupDetail.startTime | dateFormat: 'yyyy-MM-dd'}}</td>
						</tr>
					<tr>
						<td class="style-myself">完团日期</td>
						<td style="text-align: left;padding: 0px 0px 0px 10px" >{{touristGroupDetail.endTime | dateFormat: 'yyyy-MM-dd'}}
						</td>

						<td class="style-myself">针对客源</td>
						<td style="text-align: left;padding: 0px 0px 0px 10px">
						{{if touristGroupDetail.customerType == 0}}散客{{/if}}{{if touristGroupDetail.customerType == 1}}团体{{/if}}
						</td>

						<td class="style-myself">送客地点</td>
						<td style="text-align: left;padding: 0px 0px 0px 10px">
						{{touristGroupDetail.sendPosition}}
						</td>
					</tr>
					<tr>
						<td class="style-myself">全陪</td>
						<td style="text-align: left;padding: 0px 0px 0px 10px" >{{touristGroupDetail.accompanyGuideName}}</td>
						<td class="style-myself">全陪电话</td>
						<td style="text-align: left;padding: 0px 0px 0px 10px">{{touristGroupDetail.accompanyGuideMobile}}</td>
						<td class="style-myself">收客单号</td>
						<td style="text-align: left;padding: 0px 0px 0px 10px" colspan="3">
						    {{touristGroupDetail.orderNumber}}
						</td>
					</tr>


					<tr>
						<td class="style-myself">备注</td>
						<td style="text-align: left;padding: 0px 0px 0px 10px" colspan="7">{{touristGroupDetail.remark}}</td>
					</tr>
				</table>

				<div class="group-info-area">
					<h5>
						<label class="middle title-size">账单</label>
					</h5>
				</div>

			    <div class="widget-body">
					<table class="whereQ whereTwo" style="width: 100%;margin-bottom: 20px">
						<tr>
							<td class="style-myself">应收：</td>
							<td style="text-align: left;padding: 0px 0px 0px 10px;width: 20%;"><span class="F-float F-money">{{touristGroupDetail.needPayAllMoney}}</span></td>
							<td class="style-myself">预收款：</td>
							<td style="text-align: left;padding: 0px 0px 0px 10px;width: 20%;"><span class="F-float F-money">{{touristGroupDetail.preIncomeMoney}}</span></td>
							<td class="style-myself">计划现收：</td>
							<td style="text-align: left;padding: 0px 0px 0px 10px;width: 20%;"><span class="F-float F-money">{{touristGroupDetail.currentNeedPayMoney}}</span></td>
							<td></td>
						    <td></td>

						</tr>
					</table>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<table class="table table-striped table-bordered table-hover addCostList"> 
							<thead>
								<tr>
									<th class="th-border">费用项</th>
									<th class="th-border">数量</th>
									<th class="th-border">单价</th>
									<th class="th-border">金额</th>
									<th class="th-border">说明</th>
								</tr>
							</thead>
							<tbody class="addCostTbody">
								{{each touristGroupDetail.touristGroupFeeList as touristGroup}}
									<tr data-entity-id="{{touristGroup.id}}">
										<td>
											{{touristGroup.name}}
										</td>
										<td>
											<span class="F-float F-count">{{touristGroup.count}}</span>
										</td>
										<td>
											<span class="F-float F-money">{{touristGroup.price}}</span>
										</td>

										<td>
											<span class="F-float F-money">{{touristGroup.price*touristGroup.count}}</span>
										</td>
										<td>
											{{touristGroup.remark}}
										</td>

									</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</form>
	
	<form class="form-horizontal touristGroupMainForm T-touristGroupMainFormMember" role="form" style="margin-top:10px" onsubmit="return false">
		<div class="form-group">
			<div class="col-xs-12 col-sm-12 widget-container-col">
				<div class=" ui-sortable-handle">
						<h5 class="">
							<label class="middle title-size">游客名单</label>
						</h5>
					<div class="widget-body">
						<div class="widget-main">
							<div class="form-group">
								<label class="col-sm-1 control-label no-padding-right">住宿标准：</label>
								<div class="col-sm-9">
									<label class="control-label">
										{{if touristGroupDetail.hotelLevel == 0}}   
											未选择
										{{else if touristGroupDetail.hotelLevel == 1}}
											三星以下
										{{else if touristGroupDetail.hotelLevel == 2}}
											三星
										{{else if touristGroupDetail.hotelLevel == 3}}
											准四星
										{{else if touristGroupDetail.hotelLevel == 4}}
											四星
										{{else if touristGroupDetail.hotelLevel == 5}}
											准五星
										{{else if touristGroupDetail.hotelLevel == 6}}
											五星
										{{else if touristGroupDetail.hotelLevel == 7}}
											五星以上
										{{/if}}
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label no-padding-right">包含自费：</label>
								<div class="col-sm-9">
									<label class="control-label" style="text-align: left">{{touristGroupDetail.includeSelfPay}}</label>
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-sm-12">
									<table class="table table-striped table-bordered table-hover addTouristList">
										<thead>
											<tr>
												<th class="th-border">序号</th>
												<th class="th-border">姓名</th>
												<th class="th-border">手机号码</th>
												<th class="th-border">证件类型</th>
												<th class="th-border">证件号</th>
												<th class="th-border">是否为联系人</th>
											</tr>
										</thead>
										<tbody class="T-addTouristTbody">{{each touristGroupDetail.touristGroupMemberList as touristGroup}}  
											<tr data-entity-id="touristGroup.id">
												<td></td>
												<td>
													{{touristGroup.name}}
												</td>
												<td>
													{{touristGroup.mobileNumber}}
												</td>
												<td>
													{{if touristGroup.idCardType == 0}}身份证
													{{else if touristGroup.idCardType == 1}}护照
													{{else}}其它
													{{/if}}
												</td>
												<td>
													{{touristGroup.idCardNumber}}
												</td>
												<td>
													{{if touristGroup.isContactUser==0}}
														否
													{{else}}
														是
													{{/if}}
												</td>
											</tr>{{/each}}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>


	{{if type!='inner'}}
	<form class="form-horizontal touristGroupMainForm T-touristGroupMainFormRS" role="form" style="margin-top:10px" onsubmit="return false">
		<div class="form-group">
			<div class="col-xs-12 col-sm-12 widget-container-col">
				<div class=" ui-sortable-handle">
						<h5 class="">
							<label class="middle title-size">中转</label>
						</h5>
			       <div class="form-inline col-sm-12">
					    <!--接团start-->
					          <div class="form-group fixed-width T-recive col-sm-6" style="margin-left:25px;">
						            <div class="col-sm-12 T-recive-title" style="padding-bottom:10px;">接团</div>
						        	<label data-type="receiveBus" class="control-label T-add-action" style="margin-left:25px;">
						                <input type="checkbox" class="ace" {{if touristGroupDetail.transfer.receiveTrip.receiveBusStatus==1}}checked{{/if}} disabled>
						                <span class="lbl">车辆</span>
						            </label>
						            <label data-type="receiveHotel" class="control-label T-add-action mar-l-10">
						                <input type="checkbox" class="ace" {{if touristGroupDetail.transfer.receiveTrip.receiveHotelStatus==1}}checked{{/if}} disabled>
						                <span class="lbl">酒店</span>
						            </label>
						            <label data-type="receiveRestaurant" class="control-label T-add-action mar-l-10">
						                <input type="checkbox" class="ace"  {{if touristGroupDetail.transfer.receiveTrip.receiveRestaurantStatus==1}}checked{{/if}} disabled>
						                <span class="lbl">餐饮</span>
						            </label>
						            <label data-type="receiveTicket" class="control-label T-add-action mar-l-10">
						                <input type="checkbox" class="ace" {{if touristGroupDetail.transfer.receiveTrip.receiveTicketStatus==1}}checked{{/if}} disabled>
						                <span class="lbl">票务</span>
						            </label>
						            <label data-type="receiveOther" class="control-label T-add-action mar-l-10">
						                <input type="checkbox" class="ace"  {{if touristGroupDetail.transfer.receiveTrip.receiveOtherStatus==1}}checked{{/if}} disabled>
						                <span class="lbl">其他</span>
						            </label>
						            <div class="col-xs-12 T-action-require-list T-receive-list">
						            {{if !!touristGroupDetail.transfer.receiveTrip.param}}
							            <div class="require-commons">
										    <div class="form-inline" style="padding:14px 0 7px 14px;">
										        <div class="fixed-width">
										            <label>时间：</label>
										            <input type="text" name="arriveTime" value="{{touristGroupDetail.transfer.receiveTrip.param.arriveTime | dateTimeHSFormat}}" class="form-control date-picker datetimepicker" disabled/>
										        </div>
										    </div>
										    <div class="form-inline" style="padding:0 0 7px 14px;">
										        <div class="fixed-width">
										            <label>地点：</label>
										            <input type="text" name="arrivePosition" value="{{touristGroupDetail.transfer.receiveTrip.param.arrivePosition}}" class="form-control" disabled/>
										        </div>
										    </div>
										    <div class="form-inline" style="padding:0 0 7px 14px;">
										        <div class="fixed-width">
										            <label>票务班次：</label>
										            <input type="text" name="arriveShift" value="{{touristGroupDetail.transfer.receiveTrip.param.arriveShift}}" class="form-control" disabled/>
										        </div>
										    </div>
										    <div class="form-inline" style="padding:0 0 7px 14px;">
										        <div class="fixed-width">
										            <label>票务时间：</label>
										            <input type="text" name="arriveShiftTime" value="{{touristGroupDetail.transfer.receiveTrip.param.arriveShiftTime | dateTimeHSFormat}}" class="form-control date-picker datetimepicker" disabled/>
										        </div>
										    </div>
										</div>
									 {{each touristGroupDetail.transfer.receiveTrip.require as recive}}
	                                    {{if recive.requireType =='receiveBus'}}
		                                 <div class="col-xs-10 hct-plan-ask" data-id="{{recive.id}}" data-type="{{recive.requireType}}">
						                    <div class="pull-left hct-plan-ask-title  mar-l-10" style="width:auto;">车辆要求：</div>
						                    <div class="pull-left hct-plan-ask-input" style="padding-left:65px;"><input type="text" class="col-xs-8" name="requireContent" value="{{recive.requireContent}}" disabled></div>
					                    </div>
					                    {{else if recive.requireType =='receiveHotel'}}
					                    <div class="col-xs-10 hct-plan-ask" data-id="{{recive.id}}" data-type="{{recive.requireType}}">
						                    <div class="pull-left hct-plan-ask-title  mar-l-10" style="width:auto;">酒店要求：</div>
						                    <div class="pull-left hct-plan-ask-input" style="padding-left:65px;"><input type="text" class="col-xs-8" name="requireContent" value="{{recive.requireContent}}" disabled></div>
					                    </div>
					                    {{else if recive.requireType =='receiveRestaurant'}}
					                    <div class="col-xs-10 hct-plan-ask" data-id="{{recive.id}}" data-type="{{recive.requireType}}">
						                    <div class="pull-left hct-plan-ask-title  mar-l-10" style="width:auto;">餐饮要求：</div>
						                    <div class="pull-left hct-plan-ask-input" style="padding-left:65px;"><input type="text" class="col-xs-8" name="requireContent" value="{{recive.requireContent}}" disabled></div>
					                    </div>
					                    {{else if recive.requireType =='receiveTicket'}}
					                    <div class="col-xs-10 hct-plan-ask" data-id="{{recive.id}}" data-type="{{recive.requireType}}">
						                    <div class="pull-left hct-plan-ask-title  mar-l-10" style="width:auto;">票务要求：</div>
						                    <div class="pull-left hct-plan-ask-input" style="padding-left:65px;"><input type="text" class="col-xs-8" name="requireContent" value="{{recive.requireContent}}" disabled></div>
					                    </div>
					                    {{else if recive.requireType =='receiveOther'}}
					                    <div class="col-xs-10 hct-plan-ask" data-id="{{recive.id}}" data-type="{{recive.requireType}}">
						                    <div class="pull-left hct-plan-ask-title  mar-l-10" style="width:auto;">其他要求：</div>
						                    <div class="pull-left hct-plan-ask-input" style="padding-left:65px;"><input type="text" class="col-xs-8" name="requireContent" value="{{recive.requireContent}}" disabled></div>
					                    </div>
					                    {{/if}}
								     {{/each}}
								     {{/if}}
						            </div>
						    </div>
					    <!--接团end-->


						<!--送团start-->
					          <div class="form-group fixed-width T-send col-sm-6">
						            <div class="col-sm-12 T-send-title" style="padding-bottom:10px;">送团</div>
						     		<label data-type="sendBus" class="control-label T-add-action" style="margin-left:25px;">
						                <input type="checkbox" class="ace" {{if touristGroupDetail.transfer.sendTrip.sendBusStatus==1}}checked{{/if}} disabled>
						                <span class="lbl">车辆</span>
						            </label>
						            <label data-type="sendHotel" class="control-label T-add-action mar-l-10">
						                <input type="checkbox" class="ace" {{if touristGroupDetail.transfer.sendTrip.sendHotelStatus==1}}checked{{/if}} disabled>
						                <span class="lbl">酒店</span>
						            </label>
						            <label data-type="sendRestaurant" class="control-label T-add-action mar-l-10">
						                <input type="checkbox" class="ace" {{if touristGroupDetail.transfer.sendTrip.sendRestaurantStatus==1}}checked{{/if}} disabled>
						                <span class="lbl">餐饮</span>
						            </label>
						            <label data-type="sendTicket" class="control-label T-add-action mar-l-10">
						                <input type="checkbox" class="ace" {{if touristGroupDetail.transfer.sendTrip.sendTicketStatus==1}}checked{{/if}} disabled>
						                <span class="lbl">票务</span>
						            </label>

						            
						            <label data-type="sendOther" class="control-label T-add-action mar-l-10">
						                <input type="checkbox" class="ace" {{if touristGroupDetail.transfer.sendTrip.sendOtherStatus==1}}checked{{/if}} disabled>
						                <span class="lbl">其他</span>
						            </label>

						            <div class="col-xs-12 T-action-require-list T-leave-list">
						            {{if !!touristGroupDetail.transfer.sendTrip.param}}
								       <div class="require-commons">
										    <div class="form-inline" style="padding:14px 0 7px 14px;">
										        <div class="fixed-width">
										            <label>时间：</label>
										            <input type="text" name="leaveTime" value="{{touristGroupDetail.transfer.sendTrip.param.leaveTime | dateTimeHSFormat}}"  class="form-control date-picker datetimepicker" disabled />
										        </div>
										    </div>
										    <div class="form-inline" style="padding:0 0 7px 14px;">
										        <div class="fixed-width">
										            <label>地点：</label>
										            <input type="text" name="leavePosition" class="form-control"  value="{{touristGroupDetail.transfer.sendTrip.param.leavePosition}}" disabled/>
										        </div>
										    </div>
										    <div class="form-inline" style="padding:0 0 7px 14px;">
										        <div class="fixed-width">
										            <label>票务班次：</label>
										            <input type="text" name="leaveShift" class="form-control" value="{{touristGroupDetail.transfer.sendTrip.param.leaveShift}}" disabled/>
										        </div>
										    </div>
										    <div class="form-inline" style="padding:0 0 7px 14px;">
										        <div class="fixed-width">
										            <label>票务时间：</label>
										            <input type="text" name="leaveShiftTime" class="form-control date-picker datetimepicker" value="{{touristGroupDetail.transfer.sendTrip.param.leaveShiftTime | dateTimeHSFormat}}" disabled/>
										        </div>
										    </div>
										</div>

									      {{each touristGroupDetail.transfer.sendTrip.require as send}}
		                                    {{if send.requireType =='sendBus'}}
			                                 <div class="col-xs-10 hct-plan-ask" data-id="{{send.id}}" data-type="{{send.requireType}}">
							                    <div class="pull-left hct-plan-ask-title  mar-l-10" style="width:auto;">车辆要求：</div>
							                    <div class="pull-left hct-plan-ask-input" style="padding-left:65px;"><input type="text" class="col-xs-8" name="requireContent" value="{{send.requireContent}}" disabled></div>
						                    </div>
						                    {{else if send.requireType =='sendHotel'}}
						                    <div class="col-xs-10 hct-plan-ask" data-id="{{send.id}}" data-type="{{send.requireType}}">
							                    <div class="pull-left hct-plan-ask-title  mar-l-10" style="width:auto;">酒店要求：</div>
							                    <div class="pull-left hct-plan-ask-input" style="padding-left:65px;"><input type="text" class="col-xs-8" name="requireContent" value="{{send.requireContent}}" disabled></div>
						                    </div>
						                    {{else if send.requireType =='sendRestaurant'}}
						                    <div class="col-xs-10 hct-plan-ask" data-id="{{send.id}}" data-type="{{send.requireType}}">
							                    <div class="pull-left hct-plan-ask-title  mar-l-10" style="width:auto;">餐饮要求：</div>
							                    <div class="pull-left hct-plan-ask-input" style="padding-left:65px;"><input type="text" class="col-xs-8" name="requireContent" value="{{send.requireContent}}" disabled></div>
						                    </div>
						                    {{else if send.requireType =='sendTicket'}}
						                    <div class="col-xs-10 hct-plan-ask" data-id="{{send.id}}" data-type="{{send.requireType}}">
							                    <div class="pull-left hct-plan-ask-title  mar-l-10" style="width:auto;">票务要求：</div>
							                    <div class="pull-left hct-plan-ask-input" style="padding-left:65px;"><input type="text" class="col-xs-8" name="requireContent" value="{{send.requireContent}}" disabled></div>
						                    </div>
						                    {{else if send.requireType =='sendOther'}}
						                    <div class="col-xs-10 hct-plan-ask" data-id="{{send.id}}" data-type="{{send.requireType}}">
							                    <div class="pull-left hct-plan-ask-title  mar-l-10" style="width:auto;">其他要求：</div>
							                    <div class="pull-left hct-plan-ask-input" style="padding-left:65px;"><input type="text" class="col-xs-8" name="requireContent" value="{{send.requireContent}}" disabled></div>
						                    </div>
						                    {{/if}}
									    {{/each}}
									    {{/if}}
						            </div>
						        </div>
					    <!--送团end-->
				    </div> 
				


				</div>
			</div>
		</div>
		<!-- <div class="space-10"></div>
		<button class="btn btn-block btn-primary btn-submit-addTouristGroup">
			<i class="ace-icon fa fa-times"></i>
			关闭
		</button>
		<div class="space-20"></div> -->
	</form>
    {{/if}}
	
	
	
</div>
