<div class="row">
	<div class="col-xs-12 bookingListMain globalAdd">
	  <div class="form-group">
		<div class="search-area">
			<div class="col-xs-2">
				<input type="text" name="orderNumber" class="col-xs-12 guideInputList T-orderNumberChoose" placeholder="代订单号" value="{{searchParam.orderNumber}}" />
				<input type="hidden" name="orderNumberId" value="{{searchParam.id}}" />
				</div>
			<div class="col-xs-1">
				<input type="text" name="partnerAgency" class="col-xs-12 T-partnerAgencyChoose" placeholder="客户" value="{{if searchParam.partnerAgency != null}}{{searchParam.partnerAgency}}{{/if}}" />
				<input type="hidden" name="partnerAgencyChooseId" value="{{searchParam.partnerAgencyId}}" />
			</div>
			<div class="col-xs-1">
				<input type="text" name="operateUser" class="col-xs-12 T-operateUserChoose" placeholder="操作人" value="{{if searchParam.operateUser != null}}{{searchParam.operateUser}}{{/if}}" />
				<input type="hidden" name="operateUserId" value="{{searchParam.operateUserId}}" />
			</div>
			<div class="col-xs-3">
				<div class="col-xs-6">
					<div class="input-group">
						<input class="col-xs-12 datepicker" name="startTime" placeholder="开始操作时间" value="{{searchParam.startTime}}" type="text" />
						<span class="input-group-addon">
							<i class="fa fa-calendar"></i>
						</span>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="input-group">
						<input class="col-xs-12 datepicker" name="endTime" placeholder="结束操作时间" value="{{searchParam.endTime}}" type="text" />
						<span class="input-group-addon">
							<i class="fa fa-calendar"></i>
						</span>
					</div>
				</div>
			</div>
			<div class="col-xs-3">
				<button class=" btn-sm  T-booking-search search-btn" style="margin-left: -25px">
					<i class="ace-icon fa fa-search"></i>
					搜索
				</button>
				<button class="btn btn-sm btn-success T-Booking-add R-right" data-right="1170002" style="margin-left: 20px"> <i class="ace-icon fa fa-plus"></i> 新增项目代订</button>
			</div>
			<div style="clear:both;height:0px;line-height:0px;">

			</div>
		</div>
		</div>
		<table class="table table-striped table-bordered table-hover T-showHighLight">
			<thead>
				<tr class="bg-blur">
					<th rowspan="2">订单代号</th>
					<th rowspan="2">客户</th>
					<th colspan="4">代订项目</th>
					<th rowspan="2">应收</th>
					<th rowspan="2">已收</th>
					<th rowspan="2">操作人</th>
					<th rowspan="2">操作时间</th>
					<th rowspan="2">状态</th>
					<th rowspan="2">操作</th>
				</tr>
				<tr class="bg-blur">
					<th>酒店</th>
					<th>票务</th>
					<th>景区</th>
					<th>旅游车</th>
				</tr>
			</thead>
			<tbody class="T-list">{{each bookingOrderList as booking}}
				<tr data-entity-id="{{booking.id}}">
					<td>{{booking.orderNumber}}</td>
					<td>{{if booking.partnerAgency != null}}{{booking.partnerAgency.travelAgencyName}}{{/if}}</td>
					<td>
					{{if booking.hotelOrderStatus == 0}}
					<i class ="ace-icon fa fa-times red bigger-125"></i>
					{{else}}
					<i class ="ace-icon fa fa-check green bigger-130"></i>
					{{/if}}
					</td>
					<td>
					{{if booking.ticketOrderStatus == 0}}
					<i class ="ace-icon fa fa-times red bigger-125"></i>
					{{else}}
					<i class ="ace-icon fa fa-check green bigger-130"></i>
					{{/if}}
					</td>
					<td>
					{{if booking.scenicOrderStatus == 0}}
					<i class ="ace-icon fa fa-times red bigger-125"></i>
					{{else}}
					<i class ="ace-icon fa fa-check green bigger-130"></i>
					{{/if}}
					</td>
					<td>
					{{if booking.busCompanyOrderStatus == 0}}
					<i class ="ace-icon fa fa-times red bigger-125"></i>
					{{else}}
					<i class ="ace-icon fa fa-check green bigger-130"></i>
					{{/if}}
					</td>
					<td>{{booking.sumNeedGetMoney}}</td>
					<td>{{booking.getedMoney}}</td>
					<td>{{if booking.operateUser != null}}{{booking.operateUser.realName}}{{/if}}</td>
					<td>{{booking.operationTime}}</td>
					<td>{{if booking.isConfirmAccount == 1}}已对账{{else}}未对账{{/if}}</td>
					<td>

						<a data-entity-id="{{booking.id}}" title="查看计划" class="T-action cursor T-view">
							查看
						</a>
					    <a data-entity-id="{{booking.id}}" title="编辑计划" class=" cursor {{if booking.isConfirmAccount != 1}}T-action T-edit{{/if}} R-right" data-right="1170003" {{if booking.isConfirmAccount == 1}} style="color: #bbb" {{/if}}>
							<label class="padding-right20">|</label>
							编辑
						</a>
						<a data-entity-id="{{booking.id}}" title="取消计划" class=" cursor {{if booking.isConfirmAccount != 1}}T-action T-cancel{{/if}} R-right" data-right="1170004" {{if booking.isConfirmAccount == 1}} style="color: #bbb" {{/if}}>
							<label class="padding-right20">|</label>
							取消
						</a>

					</td>
				</tr>{{/each}}
			</tbody>
		</table>
		<div class="row pageMode">
			<div class="col-xs-6">
				<small>共计 {{recordSize}} 条记录</small>
			</div>
			<div class="col-xs-6">
				<div class="dataTables_paginate paging_simple_numbers T-pagenation">
				</div>
			</div>
		</div>
	</div>
</div>