<div class="updateBooking">
 <button class="btn btn-sm btn-success btn-Booking-export export-Btn T-bookingBtn ">导出项目代订</button>
	<form class="form-horizontal bookingMainForm" role="form" style="margin-top:10px" onsubmit="return false">
		<div class="group-info-area form-inline">
			<div class="form-group fixed-width-1">
		        <span class="badge badge-primary">1</span>
		        <label class="middle title-size">代订信息</label>
		    </div>
			<div class="form-group fixed-width-1" style="dispaly:inline-block; margin-left:1040px;">
		        <label>代订单号：{{bookingOrder.orderNumber}}</label>
		         
		    </div> 
		</div>

		<table class="whereQ whereTwo" style="width: 100%">
			<!-- <tr>
				<td colspan="8" class="HeadManage" style="text-align: left">代订信息</td>
			</tr> -->
			<tr>
				<td class="style-myself">同行客户 </td>
				<td style="text-align: left;padding-left: 6px;">{{if bookingOrder.partnerAgency != null}}{{bookingOrder.partnerAgency.travelAgencyName}}{{/if}}</td>
				<td class="style-myself">联系人 </td>
				<td style="text-align: left;padding-left: 6px;">{{if bookingOrder.partnerAgencyContact != null}}{{bookingOrder.partnerAgencyContact.contactRealname}}{{/if}}</td>
				<td class="style-myself">联系电话 </td>
				<td style="text-align: left;padding-left: 6px;">{{if bookingOrder.partnerAgencyContact != null}}{{bookingOrder.partnerAgencyContact.contactMobileNumber}}{{/if}}</td>

			</tr>
			<tr>
				<td class="style-myself">游客 </td> 
				<td style="text-align: left;padding-left: 6px;">{{bookingOrder.touristRealname}}</td>
				<td class="style-myself">游客电话 </td>
				<td style="text-align: left;padding-left: 6px;">{{bookingOrder.touristMobileNumber}}</td>
				<td class="style-myself">外联销售 </td>
				<td style="text-align: left;padding-left: 6px;">{{if bookingOrder.outOPUser}}{{bookingOrder.outOPUser.realName}}{{/if}}</td>
			</tr>
			<tr>
				<td class="style-myself">备注 </td>
				<td style="text-align: left;padding-left: 6px;" colspan="5">{{bookingOrder.remark}}</td>
			</tr>
		</table>

		<table class="whereQ whereTwo" style="width: 100%;margin-top: 10px">

			<tr>
				<td class="style-myself">总应收 </td>
				<td style="text-align: left;padding-left: 6px;" class="F-float F-money">{{bookingOrder.sumNeedGetMoney}}</td>
				<td class="style-myself">已收 </td>
				<td style="text-align: left;padding-left: 6px;"class="F-float F-money">{{bookingOrder.getedMoney}}</td>
				<td class="style-myself">预收款 </td>
				<td style="text-align: left;padding-left: 6px;"class="F-float F-money">{{bookingOrder.preIncomeMoney}}	</td>
			</tr>
			<tr>
				<td class="style-myself">总成本 </td>
				<td style="text-align: left;padding-left: 6px;" class="F-float F-money">{{bookingOrder.sumCostMoney}}</td>
				<td class="style-myself">已付 </td>
				<td  style="text-align: left;padding-left: 6px;" class="F-float F-money">{{bookingOrder.payedMoney}}</td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</form>
	<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
		<div class="form-group">
			<div class="col-xs-12 col-sm-12 widget-container-col bookingHotelList">
				<div class=" ui-sortable-handle">
						<h5 class="">
							<label class="middle title-size">酒店代订</label>
						</h5>
					<div class="widget-body">
						<div class="widget-main">
							<table class="table table-striped table-bordered table-hover margin-top">
								<thead>
									<tr>
										<th class="th-border" width="150">入住日期</th>
										<th class="th-border" width="150">离店日期</th>
										<th class="th-border">星级</th>
										<th class="th-border">酒店</th>
										<th class="th-border">房型</th>
										<th class="th-border">天数</th>
										<th class="th-border">数量</th>
										<th class="th-border">成本单价</th>
										<th class="th-border">销售单价</th>
										<th class="th-border">成本</th>
										<th class="th-border">应收</th>
										<th class="th-border">预付款</th>
									</tr>
								</thead>
								<tbody class="hotelBookingList">{{each bookingOrder.bookingHotelList as hotelList}}
									<tr data-entity-id="{{hotelList.id}}">
										<td>{{hotelList.enterTime | dateFormat: 'yyyy-MM-dd'}}</td>
										<td>{{hotelList.leaveTime | dateFormat: 'yyyy-MM-dd'}}</td>
										<td>
											{{if hotelList.hotel.level == 1}}
											三星以下
											{{else if hotelList.hotel.level == 2}}
											三星
											{{else if hotelList.hotel.level == 3}}
											准四星
											{{else if hotelList.hotel.level == 4}}
											四星
											{{else if hotelList.hotel.level == 5}}
											准五星
											{{else if hotelList.hotel.level == 6}}
											五星
											{{else if hotelList.hotel.level == 7}}
											五星以上
											{{/if}}
										</td>
										<td>{{if hotelList.hotel != null}}{{hotelList.hotel.name}}{{/if}}</td>
										<td>{{if hotelList.hotelRoom != null}}{{hotelList.hotelRoom.type}}{{/if}}</td>
										<td class="F-float F-count">{{hotelList.days}}</td>
										<td class="F-float F-count">{{hotelList.roomCount}}</td>
										<td><span class="F-float F-money">{{hotelList.costPrice}}</span>/天</td>
										<td><span class="F-float F-money">{{hotelList.salePrice}}</span>/天</td>
										<td class="F-float F-money">{{hotelList.sumCostMoney}}</td>
										<td class="F-float F-money">{{hotelList.sumNeedGetMoney}}</td>
										<td class="F-float F-money">{{hotelList.prePayMoney}}</td>
									</tr>{{/each}}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-12 col-sm-12 widget-container-col bookingScenicList">
				<div class=" ui-sortable-handle">
						<h5 class="">
							<label class="middle title-size">景区项目代订</label>
						</h5>
					<div class="widget-body">
						<div class="widget-main">
							<table class="table table-striped table-bordered table-hover margin-top">
								<thead>
									<tr>
										<th class="th-border" width="150">日期</th>
										<th class="th-border">景区</th>
										<th class="th-border">收费项</th>
										<th class="th-border">数量</th>
										<th class="th-border">成本单价</th>
										<th class="th-border">销售单价</th>
										<th class="th-border">成本</th>
										<th class="th-border">应收</th>
										<th class="th-border">订单号</th>
										<th class="th-border">预付款</th>
									</tr>
								</thead>
								<tbody class="scenicBookingList">{{each bookingOrder.bookingScenicList as scenicList}}
									<tr data-entity-id="{{scenicList.id}}">
										<td>{{scenicList.startTime | dateFormat: 'yyyy-MM-dd'}}</td>
										<td>{{if scenicList.scenic != null}}{{scenicList.scenic.name}}{{/if}}</td>
										<td>{{if scenicList.scenicItem != null}}{{scenicList.scenicItem.name}}{{/if}}</td>
										<td class="F-float F-count">{{scenicList.roomCount}}</td>
										<td class="F-float F-money">{{scenicList.costPrice}}</td>
										<td class="F-float F-money">{{scenicList.salePrice}}</td>
										<td class="F-float F-money">{{scenicList.sumCostMoney}}</td>
										<td class="F-float F-money">{{scenicList.sumNeedGetMoney}}</td>
										<td>{{scenicList.orderNumber}}</td>
										<td class="F-float F-money">{{scenicList.prePayMoney}}</td>
									</tr>{{/each}}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-12 col-sm-12 widget-container-col bookingTicketList">
				<div class=" ui-sortable-handle">
						<h5 class="">
							<label class="middle title-size">票务代订</label>
						</h5>
					<div class="widget-body">
						<div class="widget-main">
							<table class="table table-striped table-bordered table-hover margin-top">
								<thead>
									<tr>
										<th class="th-border">票务公司</th>
										<th class="th-border">类型</th>
										<th class="th-border">出发城市</th>
										<th class="th-border">到达城市</th>
										<th class="th-border">班次</th>
										<th class="th-border">座位级别</th>
										<th class="th-border" width="150">时间</th>
										<th class="th-border">数量</th>
										<th class="th-border">成本单价</th>
										<th class="th-border">销售单价</th>
										<th class="th-border">成本</th>
										<th class="th-border">应收</th>
										<th class="th-border">预付款</th>
									</tr>
								</thead>
								<tbody class="ticketBookingList">{{each bookingOrder.bookingTicketList as ticketList}}
									<tr data-entity-id="{{ticketList.id}}">
										<td>{{if ticketList.ticket != null}}{{ticketList.ticket.name}}{{/if}}</td>
										<td>
											{{if ticketList.type==1}}
											机票
											{{else if ticketList.type==2}}
											汽车票
											{{else if ticketList.type==3}}  
											火车票
											{{else if ticketList.type==4}}
											轮船票
											{{/if}}
										</td>
										<td>{{ticketList.startCity}}</td>
										<td>{{ticketList.arriveCity}}</td>
										<td>{{ticketList.shift}}</td>
										<td>{{ticketList.seatLevel}}</td>
										<td>{{ticketList.startTime | getDataForMatHS}}</td>
										<td class="F-float F-count">{{ticketList.roomCount}}</td>
										<td class="F-float F-money">{{ticketList.costPrice}}</td>
										<td class="F-float F-money">{{ticketList.salePrice}}</td>
										<td class="F-float F-money">{{ticketList.sumCostMoney}}</td>
										<td class="F-float F-money">{{ticketList.sumNeedGetMoney}}</td>
										<td class="F-float F-money">{{ticketList.prePayMoney}}</td>
									</tr>{{/each}}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-12 col-sm-12 widget-container-col bookingBusList">
				<div class=" ui-sortable-handle">
						<h5 class="">
							<label class="cursor title-size">旅游车代订</label>
						</h5>

					<div class="widget-body">
						<div class="widget-main">
							<table class="table table-striped table-bordered table-hover margin-top">
								<thead>
									<tr>
										<th class="th-border" width="150">开始日期</th>
										<th class="th-border" width="150">结束日期</th>
										<th class="th-border">车座数</th>
										<th class="th-border">车辆品牌</th>
										<th class="th-border">所属车队</th>
										<th class="th-border">数量</th>
										<th class="th-border">成本单价</th>
										<th class="th-border">销售单价</th>
										<th class="th-border">成本</th>
										<th class="th-border">应收</th>
										<th class="th-border ">预付款</th>
									</tr>
								</thead>
								<tbody class="busBookingList">{{each bookingOrder.bookingBusCompanieList as busList}}
									<tr data-entity-id="{{busList.id}}">
										<td>{{busList.startTime | dateFormat: 'yyyy-MM-dd'}}</td>
										<td>{{busList.endTime | dateFormat: 'yyyy-MM-dd'}}</td>
										<td class="F-float F-count">{{busList.needSeatCount}}</td>
										<td>{{busList.needBusBrand}}</td>
										<td>{{if busList.busCompany != null}}{{busList.busCompany.companyName}}{{/if}}</td>
										<td class="F-float F-count">{{busList.roomCount}}</td>
										<td class="F-float F-money">{{busList.costPrice}}</td>
										<td class="F-float F-money">{{busList.salePrice}}</td>
										<td class="F-float F-money">{{busList.sumCostMoney}}</td>
										<td class="F-float F-money">{{busList.sumNeedGetMoney}}</td>
										<td class="F-float F-money">{{busList.prePayMoney}}</td>
									</tr>{{/each}}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="space-10"></div><!-- 
		<div class="space-20"></div>
		<button class="btn btn-block btn-primary btn-submit-booking">
			<i class="ace-icon fa fa-check"></i>
			提交信息
		</button> -->
		<div class="space-20"></div>
	</form>
</div>
