<div class="col-xs-12 globalAdd" id="T-innerEditFeeMain">
	<form class="form-horizontal innerEditFeeMainForm" role="form" style="margin-top:10px" onsubmit="return false">
		<div class=" ui-sortable-handle">
				<h5 class="">
					<span class="badge badge-primary">1</span>
					<label class="middle title-size">填写费用</label>
				</h5>
			<div class="widget-body" >
				<div class="form-group">
					<input type="hidden" name="touristGroupId" value="{{touristGroup.id}}" />
					<label class="col-sm-2 control-label no-padding-right">备注：</label>
					<div class="col-sm-8">    
						<input name="transRemark" value="{{touristGroup.transRemark}}" class="col-sm-12  no-padding-right" type="text" maxlength="500" />  
					</div>
				</div> 
				<input type="hidden" name="transferFeeStatus" value="{{touristGroup.transferFeeStatus}}">  
				<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right">应付:</label>
						<div class="col-sm-2">
							<input value="{{if touristGroup.transferFeeStatus == 0}}{{touristGroup.needPayAllMoney}}{{else}}{{touristGroup.transNeedPayAllMoney}}{{/if}}" readonly="readonly" type="text" name="transNeedPayAllMoney" class="col-sm-12" />
						</div>
						<label class="col-sm-1 control-label no-padding-right">已付:</label>
						<div class="col-sm-2">
							<input value="{{if touristGroup.transferFeeStatus == 1}}{{touristGroup.transPayedMoney}}{{/if}}" type="text" name="transPayedMoney" class="col-sm-12 price"  maxlength="10" />
						</div>

					    <div class="col-sm-2">
						    <label class="no-padding-right pull-left">付款方式：</label>
						    {{if touristGroup.transferFeeStatus == 0}}
							<select name="transPayType" class="pull-left">
								<option selected="selected" value="0">现金</option>
								<option value="1">银行转账</option>
								<option value="2">网上支付</option>
								<option value="3">支票</option>
								<option value="4">其它</option>
							</select>
							{{else}}
							<select name="transPayType" class="pull-left">
								<option{{if touristGroup.transPayType == 0}} selected="selected"{{/if}} value="0">现金</option>
								<option{{if touristGroup.transPayType == 1}} selected="selected"{{/if}} value="1">银行转账</option>
								<option{{if touristGroup.transPayType == 2}} selected="selected"{{/if}} value="2">网上支付</option>
								<option{{if touristGroup.transPayType == 3}} selected="selected"{{/if}} value="3">支票</option>
								<option{{if touristGroup.transPayType == 4}} selected="selected"{{/if}} value="4">其它</option>
							</select>
							{{/if}}
						</div>


                        <label class="control-label no-padding-right">对方现收</label>
						<label style="margin: 2px 5px 0">
							<input type="checkbox" disabled="disabled" {{if touristGroup.operateCurrentNeedPayMoney == 1}}checked="checked"{{/if}} class="ace send-check">
							<span class="lbl">
							</span>
							<input type="hidden" name="isCurrent" value="{{touristGroup.operateCurrentNeedPayMoney}}">
						</label>
					</div>
				<div class="form-group">
					<div class="col-sm-2"></div>
					<div class="col-sm-8">
						<button class="btn btn-sm btn-success T-newEditFee" style="float:left;">
							<i class="ace-icon fa fa-plus"></i>
							新增费用项
						</button>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2"></div>
					<div class="col-sm-8">
						<table class="table table-striped table-bordered table-hover addCostList"> 
							<thead>
								<tr>
									<th class="th-border">类型</th>
									<th class="th-border">说明</th>
									<th class="th-border">数量</th>
									<th class="th-border">单价</th>
									<th class="th-border">操作</th>
								</tr>
							</thead>
							<tbody class="T-innerOutEditFeeTbody">
								<tr>
									<td>转客价</td>
									<td>大人</td>
									<td>
										<input name="adultCount" value="{{if touristGroup != null}}{{touristGroup.adultCount}}{{/if}}" readonly="readonly" type="text" class="col-sm-12  no-padding-right count" />
									</td>
									<td>
										<input name="transAdultPrice" value="{{if touristGroup.transferFeeStatus == 1}}{{touristGroup.transAdultPrice}}{{/if}}" type="text" class="col-sm-12  no-padding-right  price"  maxlength="10" />
									</td>
									<td></td>
								</tr>
								<tr>
									<td>
										转客价
									</td>
									<td>
										小孩
									</td>
									<td>
										<input name="childCount" value="{{if touristGroup != null}}{{touristGroup.childCount}}{{/if}}" readonly="readonly" type="text" class="col-sm-12  no-padding-right count" />
									</td>
									<td>
										<input name="transChildPrice" value="{{if touristGroup.transferFeeStatus == 1}}{{touristGroup.transChildPrice}}{{/if}}" type="text" class="col-sm-12  no-padding-right price"  maxlength="10" />
									</td>
									<td></td>
								</tr>  

								{{if touristGroup.transferFeeStatus == 0}}
									<!--初始化游客小组费用start--> 
									{{each touristGroupFeeList as transferList}}         
										<tr  data-entity-id="{{transferList.id}}">  
											<td>
												<span name="type" value="0">其他费用</span>   
											</td>   
											<td>
												<input name="discribe" value="{{transferList.describeInfo}}" type="text" class="col-sm-12  no-padding-right"  maxlength="500" />
											</td>
											<td>
												<input name="count" value="{{transferList.count}}" type="text" class="col-sm-12  no-padding-right count"  maxlength="10" />
											</td>
											<td>
												<input name="otherPrice" value="{{transferList.price}}" type="text" class="col-sm-12  no-padding-right price"  maxlength="10" />
											</td>
											<td><a class="T-delete cursor">删除</a></td>
										</tr>
									{{/each}} 
									<!--游客小组费end-->
									{{else}}
									<!--转客其他费用start-->
									{{each innerTransferFeeList as innerFee}}
									<tr data-entity-id="{{innerFee.id}}">
										<td>
											<span name="type" value="0">其他费用</span>
										</td>
										<td>
											<input name="discribe" value="{{innerFee.discribe}}" type="text" class="col-sm-12  no-padding-right"  maxlength="500" />
										</td>
										<td>
											<input name="count" value="{{innerFee.count}}" type="text" class="col-sm-12  no-padding-right count"  maxlength="10" />
										</td>
										<td>
											<input name="otherPrice" value="{{innerFee.price}}" type="text" class="col-sm-12  no-padding-right price"  maxlength="10" />
										</td>
										<td><a class="T-delete cursor">删除</a></td>
									</tr>
									{{/each}}
									<!--转客其他费用end-->

								{{/if}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</form>   

	<!--收客信息 start-->
	<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
		<div class=" ui-sortable-handle">
				<h5 class="title">
					<span class="badge badge-primary">2</span>
					<label class="middle title-size">收客信息</label>
				</h5>
			<div class="widget-body" >
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right">收客备注:</label>  
					<div class="col-sm-8">
						{{touristGroup.remark}}
					</div>
				</div> 
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right">应收:</label>
					<div class="col-sm-2">
						{{ if touristGroup.parentTouristGroup == null}}
							{{touristGroup.needPayAllMoney}}
						{{else}}
							{{touristGroup.parentTouristGroup.needPayAllMoney}}
						{{/if}}
					</div>
					<label class="col-sm-1 control-label no-padding-right">已收:</label>
					<div class="col-sm-2">
						{{ if touristGroup.parentTouristGroup == null}}
							{{touristGroup.payedMoney}}
						{{else}}
							{{touristGroup.parentTouristGroup.payedMoney}}
						{{/if}}
					</div>
					<label class="col-sm-1 control-label no-padding-right">现收:</label>
					<div class="col-sm-2">
						{{ if touristGroup.parentTouristGroup == null}}
							{{touristGroup.currentNeedPayMoney}}
						{{else}}
							{{touristGroup.parentTouristGroup.currentNeedPayMoney}}
						{{/if}}
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2"></div>
					<div class="col-sm-8">  
						<table class="table table-striped table-bordered table-hover addCostList"> 
							<thead>
								<tr>
									<th class="th-border">类型</th>
									<th class="th-border">说明</th>
									<th class="th-border">数量</th>
									<th class="th-border">单价</th>
								</tr>
							</thead>   
							<tbody>
								<tr>
									<td>结算价</td>
									<td>大人</td>
									<td>{{touristGroup.adultCount}}</td>
									<td>{{touristGroup.adultPrice}}</td>
								</tr> 
								<tr>
									<td>结算价</td>
									<td>小孩</td>
									<td>{{touristGroup.childCount}}</td>
									<td>{{touristGroup.childPrice}}</td>   
								</tr>
								{{each touristGroupFeeList as touristGroupFlist}}
										<tr>       
											<td>    
												<span name="type" value="0">其他费用</span>          
											</td>   
											<td>
												{{touristGroupFlist.describeInfo}}
											</td>
											<td>
												{{touristGroupFlist.count}}
											</td>
											<td>
												{{touristGroupFlist.price}}  
											</td>
										</tr> 
								{{/each}}
							</tbody>
						</table>
				    </div>
			    </div>
			</div>   
		</div>  
	</form>     
	<!--收客信息 end-->  


	<form class="form-horizontal" role="form" style="margin-top:10px" onsubmit="return false">
		<div class="space-10"></div>
		<button class="btn btn-block btn-default btn-primary T-updateFee guideSubmit">
			<i class="ace-icon fa fa-check"></i>
			保存信息
		</button>
		<div class="space-20"></div>
	</form>
</div>