<div class="row">
	<div class="col-xs-12 arrangeTouristMain globalAdd">
		<div class="search-area">
			<form class="form-horizontal" role="form" onsubmit="return false">
				<div class="form-group" style="max-width: 1100px;">
					<label class="pull-left control-label no-padding-right" style="margin-left: 10px">线路产品：</label>
					<div class="col-sm-3">
						<select name="lineProductId" class="col-xs-12 guideInputList">
							<option></option>
							{{each lineProductList as lineProduct}}
								<option value="{{lineProduct.id}}">{{lineProduct.name}}</option>
							{{/each}}
						</select>
					</div>
					<label class="pull-left control-label no-padding-right">出游日期：</label>
					<div class="col-sm-3">
						<input name="startTime" value="" type="text" class="date-picker col-xs-12 guideInputList"/>
					</div>
					<button class=" btn-sm  btn-arrangeTourist-search search-btn" style="margin-left: -22px">
						<i class="ace-icon fa fa-search"></i>
						搜索
					</button>
				</div>
			</form>
		</div>
		<div class="row">
			<div class="col-xs-12 arrangeTouristList">


			</div>
		</div>
		<div class="col-xs-12 arrangeTouristMergeList">
			<div>
				<button class="btn btn-sm btn-success btn-start-touristGroup-merge">
					<i class="ace-icon fa fa-user-plus"></i>
					开始并团
				</button>
			</div>
			<div class="space-10"></div>
			<div class="list">

			</div>
		</div>
	</div>
</div>