<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr class="bg-blur">
			<th>并团选择</th>
			<th>线路产品</th>
			<th>类别</th>
			<th>应用范围</th>
			<th>天数</th>
			<th>出游日期</th>
			<th>人数</th>
			<th>未分团人数</th>
			<th>应收款</th>
			<th>已收款</th>
			<th>现收款</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		{{each arrangeTouristGroupList as arrangeTourist}}
			<tr data-entity-id="{{arrangeTourist.lineProductId}}" data-entity-startTime="{{arrangeTourist.startTime}}" data-entity-days="{{arrangeTourist.days}}" data-entity-name="{{arrangeTourist.name}}" data-entity-type="{{arrangeTourist.type}}" class="tr-{{arrangeTourist.lineProductId}}-{{arrangeTourist.startTime}}">
				<td>
					<label class="pos-rel"> <input type="checkbox" class="ace touristGroupMergeCheckBox"> <span class="lbl"></span> </label>
				</td>
				<td>{{arrangeTourist.name}}</td>
				<td>{{arrangeTourist.type}}</td>
				<td>
					{{if arrangeTourist.customerType == 0}}
						散客
					{{else}}
						团体
					{{/if}}
				</td>
				<td>{{arrangeTourist.days}}</td>
				<td>{{arrangeTourist.startTime}}</td>
				<td>大人{{arrangeTourist.sumAdultCount}}小孩{{arrangeTourist.sumChildCount}}</td>
				<td>大人{{arrangeTourist.sumNoOperationAdultCount}}小孩{{arrangeTourist.sumNoOperationChildCount}}</td>
				<td>{{arrangeTourist.sumNeedPayAllMoney}}</td>
				<td>{{arrangeTourist.sumPayedMoney}}</td>
				<td>{{arrangeTourist.sumCurrentNeedPayMoney}}</td>
				<td>
					<button data-entity-id="{{arrangeTourist.lineProductId}}" data-entity-startTime="{{arrangeTourist.startTime}}" class="btn btn-success btn-sm btn-divide">
						<i class="ace-icon fa fa-users"></i>
						分团
					</button>
					<button data-entity-id="{{arrangeTourist.lineProductId}}" data-entity-startTime="{{arrangeTourist.startTime}}" class=" btn btn-sm btn-success btn-transfer">
						<i class="ace-icon fa  fa-exchange"></i>
						转客
					</button>
				</td>

			</tr>

		{{/each}}

	</tbody>
</table>

<div class="row pageMode">
	<div class="col-xs-6">
		<div class="dataTables_info" id="dynamic-table_info" role="status" aria-live="polite">共计 {{recordSize}} 条记录</div>
	</div>
	<div class="col-xs-6">
		<div class="dataTables_paginate paging_simple_numbers" id="dynamic-table_paginate">
			<ul class="pagination">
				<li class="paginate_button" aria-controls="dynamic-table" tabindex="0"><a class="first" href="javascript:void(0)">首页</a></li>
				<li class="paginate_button" aria-controls="dynamic-table" tabindex="0"><a class="previous"href="javascript:void(0)">上一页</a></li>
				<li class="paginate_button" aria-controls="dynamic-table" tabindex="0">
					<a href="javascript:void(0)">
						{{if totalPage == 0}}
							0/0
						{{else}}
							{{pageNo+1}}/{{totalPage}}
						{{/if}}
					</a>
				</li>
				<li class="paginate_button" aria-controls="dynamic-table" tabindex="0"><a class="next"  href="javascript:void(0)">下一页</a></li>
				<li class="paginate_button" aria-controls="dynamic-table" tabindex="0"><a class="last" href="javascript:void(0)">尾页</a></li>
			</ul>
		</div>
	</div>
</div>
