<div class="mergeTripPlan globalAdd">
	<div class="col-xs-12 addTripPlanMain">
		<form class="form-horizontal newAddTripPlanMainForm formOneList" role="form" style="margin-top:10px" onsubmit="return false">
			<div class="form-group">
				<div class="col-xs-12 col-sm-12 widget-container-col">
					<div class="widget-box ui-sortable-handle">
						<div class="widget-header">
							<h5 class="widget-title">
								<i class="ace-icon fa fa-building"></i>
								基本信息
							</h5>
						</div>
						<div class="widget-body">
							<div class="widget-main">
								<div class="form-group">
									<input type="hidden" name="tripPlanId" value="{{tripPlan.id}}" />
									<label class="col-sm-1 control-label no-padding-right"><span class="necessary">*</span>线路名称：</label>
									<div class="col-sm-2">
										<input class="col-sm-12" readonly="readonly" type="text" name="name" id="" value="{{lineProduct.name}}" />
										<input type="hidden" name="lineProductId" value="{{lineProduct.id}}" />
									</div>
									<label class="col-sm-1 control-label no-padding-right"><span class="necessary">*</span>出团日期：</label>
									<div class="col-sm-2">
										<input class="col-sm-12" type="text" name="startTime" readonly="readonly" id="" value="{{tripPlan.startTime | dateFormat: 'yyyy-MM-dd'}}" />
									</div>
									<label class="col-sm-1 control-label no-padding-right">团队编号：</label>
									<div class="col-sm-2">
										<input class="col-sm-12" readonly="readonly" type="text" name="" id="" value="{{tripPlan.tripNumber}}" placeholder="系统自动生成" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right"><span class="necessary">*</span>计划人数：</label>
									<div class="col-sm-2">
										<input class="col-sm-12" type="text" name="planTouristCount" id="" value="{{tripPlan.planTouristCount}}" />
									</div>
									<label class="col-sm-1 control-label no-padding-right"><span class="necessary">*</span>车座数：</label>
									<div class="col-sm-2">
										<input class="col-sm-12 bind-change" type="text" name="seatCount" id="" value="{{bus.seatCount}}" />
									</div>
									<label class="col-sm-1 control-label no-padding-right"><span class="necessary">*</span>车辆品牌：</label>
									<div class="col-sm-2">
										<input class="col-sm-12 chooseBusCompany bind-change" type="text" name="needBusBrand" id="" value="{{bus.brand}}" />
										<input type="hidden" name="busBrandId" value="" />
									</div>
									<label class="col-sm-1 control-label no-padding-right"><span class="necessary">*</span>车牌号：</label>
									<div class="col-sm-2">
										<input class="col-sm-12 chooseBusLicenseNumber bind-change" type="text" name="LicenseNumber" id="" value="{{bus.licenseNumber}}" />
										<input type="hidden" name="busLicenseNumberId" value="{{bus.id}}" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right"><span class="necessary">*</span>导游：</label>
									<div class="col-sm-2">
										<input class="col-sm-12 AddTPchooseGuide bind-change" type="text" name="AddTPchooseGuide" id="" value="{{guide.realname}}" />
										<input type="hidden" name="AddTPchooseGuideId" value="{{guide.id}}" />
									</div>
									<label class="col-sm-1 control-label no-padding-right">导游电话：</label>
									<div class="col-sm-2">
										<input class="col-sm-12" readonly="readonly" type="text" name="GmobileNumber" id="" value="{{guide.mobileNumber}}" />
									</div>
									<label class="col-sm-1 control-label no-padding-right"><span class="necessary">*</span>司机：</label>
									<div class="col-sm-2">
										<input class="col-sm-12 chooseDriver bind-change" type="text" name="driverName" id="" value="{{driver.name}}" />
										<input type="hidden" name="driverId" value="{{driver.id}}" />
									</div>
									<label class="col-sm-1 control-label no-padding-right">司机电话：</label>
									<div class="col-sm-2">
										<input class="col-sm-12" readonly="readonly" type="text" name="DmobileNumber" id="" value="{{driver.mobileNumber}}" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right">全陪：</label>
									<div class="col-sm-2">
										<input class="col-sm-12" type="text" name="accompanyGuideName" id="" value="{{tripPlan.accompanyGuideName}}" />
									</div>							
									<label class="col-sm-1 control-label no-padding-right">全陪电话：</label>
									<div class="col-sm-2">
										<input class="col-sm-12" type="text" name="accompanyGuideMobile" id="" value="{{tripPlan.accompanyGuideMobile}}" />
									</div>
									<label class="col-sm-1 control-label no-padding-right">集合地点：</label>
									<div class="col-sm-2">
										<input class="col-sm-12" type="text" name="setPlacePosition" id="" value="{{tripPlan.setPlacePosition}}" />
									</div>
									<label class="col-sm-1 control-label no-padding-right">集合时间：</label>
									<div class="col-sm-2">
										<input class="form-control col-sm-12 dataTimePicker" type="text" name="setPlaceTime" value="{{tripPlan.setPlaceTime}}" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>


		<div class="form-horizontal col-sm-12 checkbox">
			<div class="pull-left  no-padding-right">
				<label class="control-label no-padding-right">游客短信发送:</label>
				立即发送
				<label>
					<input type="radio" class="ace checked" checked="" value="0" name="executeTimeType">
					<span class="lbl">
					</span>
				</label>
				定时发送
				<label>
					<input type="radio" class="ace checked"  checked=""  value="1" name="executeTimeType">
					<span class="lbl">
					</span>
				</label> 
			</div>
			<div class="col-sm-2 addMergePlanTime">
				<input class="form-control col-sm-4 datetimepicker" type="text" name="executeTime" value="{{tripPlan.executeTime}}" />
			</div>
        </div>



		<form class="form-horizontal" role="form" onsubmit="return false">
			<div class="form-group">
				<div class="col-xs-12 col-sm-12 widget-container-col">
					<div class="widget-box ui-sortable-handle">
						<div class="widget-header">
							<h5 class="widget-title">
								<i class="ace-icon fa fa-building"></i>
								游客名单
							</h5>
						</div>
	
						<div class="widget-body">
							<div class="widget-main">
								<div class="form-group">
									<div class="col-xs-12">
										<!-- 	<button class="btn btn-sm btn-success addTouristGroup">
											<i class="ace-icon fa fa-plus"></i>
											添加游客小组
										</button> -->
										<div style="display: inline-block;padding-left: 30px;">总人数：<span class="tripPlanAllMemberCount"></span></div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-xs-12">
										<table class="table table-striped table-bordered table-hover"> 
											<thead>
												<tr>
													<th class="th-border">小组</th>
													<th class="th-border">来源</th>
													<th class="th-border">联系人</th>
													<th class="th-border">联系电话</th>
													<th class="th-border">客源地</th>
													<th class="th-border">年龄</th>
													<th class="th-border">人数</th>
													<th class="th-border" width="380">备注</th>
													<th class="th-border">操作</th>
												</tr>
											</thead>
											<tbody class="updateTripPlanTouristTbody">{{each touristGroupList as touristGroup}}
												<tr data-entity-id="{{touristGroup.id}}">
													<td></td>
													<td>{{if touristGroup.partnerAgency != null}}{{touristGroup.partnerAgency.travelAgencyName}}{{/if}}</td>
													<td>{{if touristGroup.contactMember != null}}{{touristGroup.contactMember.name}}{{/if}}</td>
													<td>{{if touristGroup.contactMember != null}}{{touristGroup.contactMember.mobileNumber}}{{/if}}</td>
													<td>{{touristGroup.areaData}}</td>
													<td>{{touristGroup.ageData}}</td>
													<td class="tripPlanTrMemberCount">{{touristGroup.adultCount + touristGroup.childCount}}</td>
													<td>{{touristGroup.remark}}</td>
													<td>
														<div class="hidden-sm hidden-xs btn-group">
															<button data-entity-id="{{touristGroup.id}}" class="btn btn-xs btn-success touristGroupView">
																<i class="ace-icon fa fa-search-plus bigger-120"></i>
															</button>
															<button data-entity-id="{{touristGroup.id}}" class="btn btn-xs btn-danger touristGroupDelete">
																<i class="ace-icon fa fa-trash-o bigger-120"></i>
															</button>
														</div>
													</td>
												</tr>{{/each}}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<form class="form-horizontal formOneList" role="form" onsubmit="return false">
			<div class="form-group">
				<div class="col-xs-12 col-sm-12 widget-container-col">
					<div class="widget-box ui-sortable-handle">
						<div class="widget-header">
							<h5 class="widget-title">
								<i class="ace-icon fa fa-building"></i>
								线路
							</h5>
						</div>
	
						<div class="widget-body">
							<div class="widget-main">
								<div class="form-group">
									<div class="col-xs-12">
										<div class="form-group">
											<label class="col-sm-1 control-label no-padding-right">类别：</label>
											<div class="col-sm-2">
												<input class="col-sm-12" readonly="readonly" type="text" name="type" id="" value="{{lineProduct.type}}" />
											</div>
											<label class="col-sm-1 control-label no-padding-right">应用范围：</label>
											<div class="col-sm-2">
												<input class="col-sm-12" readonly="readonly" type="text" name="customerType" id="" value="{{if lineProduct.customerType==0}}散客{{else if lineProduct.customerType==1}}团体{{/if}}" />
											</div>
											<label class="col-sm-1 control-label no-padding-right">天数：</label>
											<div class="col-sm-2">
												<input class="col-sm-12" readonly="readonly" type="text" name="days" id="" value="{{lineProduct.days}}" />
											</div>				
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<form class="form-horizontal" role="form" onsubmit="return false">
			<div class="form-group">
				<div class="col-xs-12 col-sm-12 widget-container-col">
					<div class="widget-box ui-sortable-handle">
						<div class="widget-header">
							<h5 class="widget-title">
								<i class="ace-icon fa fa-building"></i>
								日程
							</h5>
						</div>
	
						<div class="widget-body">
							<div class="widget-main">
								<div class="form-group">
									<div class="col-xs-12">
										<div class="form-group">
											<table class="table table-striped table-bordered table-hover days">
												<thead>
													<tr>
														<th class="th-border">日期</th>
														<th class="th-border">含餐情况</th>
														<th class="th-border">酒店星级</th>
														<th class="th-border">简要行程</th>
													</tr>
												</thead>
												<tbody>{{each lineProductDayList as dayList}}
													<tr data-entity-id="{{dayList.id}}">
														<td>第{{dayList.whichDay}}天</td>
														<td>{{dayList.repastDetail}}</td>
														<td>
															{{if dayList.hotelLevel == 1}}
															三星以下
															{{else if dayList.hotelLevel == 2}}
															三星
															{{else if dayList.hotelLevel == 3}}
															准四星
															{{else if dayList.hotelLevel == 4}}
															四星
															{{else if dayList.hotelLevel == 5}}
															准五星
															{{else if dayList.hotelLevel == 6}}
															五星
															{{else if dayList.hotelLevel == 7}}
															五星以上
															{{/if}}
														</td>
														<td class="col-xs-6">{{dayList.title}}</td>
													</tr>{{/each}}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="widget-body">
							<div class="widget-main">
								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right">费用包含:</label>
									<div class="col-sm-8">
										<textarea class="form-control" class="col-sm-12" readonly="readonly" name="includeFee">{{lineProduct.includeFee}}</textarea>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right">费用不含:</label>
									<div class="col-sm-8">
										<textarea class="form-control" class="col-sm-12" readonly="readonly" name="excludeFee">{{lineProduct.excludeFee}}</textarea>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right">行程特色:</label>
									<div class="col-sm-8">
										<textarea class="form-control" class="col-sm-12" readonly="readonly" name="lineFeature">{{lineProduct.lineFeature}}</textarea>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right">行程须知:</label>
									<div class="col-sm-8">
										<textarea class="form-control" class="col-sm-12" readonly="readonly" name="lineNotice">{{lineProduct.lineNotice}}</textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<form class="form-horizontal" role="form" onsubmit="return false">
			<div class="form-group" style="text-align: center;">
				<button class="btn btn-danger btn-updatecancelTripPlan otherButton">
					<i class="ace-icon fa fa-times"></i>
					取消
				</button>
				<button class="btn btn-primary btn-saveTripPlan otherButton">
					<i class="ace-icon fa fa-check"></i>
					保存
				</button>
			</div>
		</form>
	</div>
</div>