<div class="col-xs-12 chooseTripPlanMain">
	<form class="form-horizontal" role="form" onsubmit="return false">
		<div class="form-group">
			<label class="pitch control-label no-padding-right">线路产品：{{lineProduct.name}}</label>
			<label class="pitch control-label no-padding-right">天数：{{lineProduct.days}}</label>
			<label class="pitch control-label no-padding-right">应用范围：{{if lineProduct.customerType==0}}散客{{else if lineProduct.customerType==1}}团体{{/if}}</label>
			<label class="pitch control-label no-padding-right">出游日期：{{tripPlanList[0].startTime | dateFormat:'yyyy-MM-dd'}}</label>
		</div>
	</form>
	<div class="col-xs-12">
			<table class="table table-striped table-bordered table-hover all">
				<thead>
					<tr>
						<th class="th-border">选择</th>
						<th class="th-border">团号</th>
						<th class="th-border">出团日期</th>
						<th class="th-border">人数</th>
						<th class="th-border">导游</th>
						<th class="th-border">车牌号</th>
						<th class="th-border">状态</th>
						<th class="th-border">操作</th>
					</tr>
				</thead>
					<tbody class="chooseTripPlanTbody">{{each tripPlanList as tripPlanList}}
						<tr data-entity-id="{{tripPlanList.id}}">
							<td>
								<label class="pos-rel">
									<input type="radio" class="ace ridioCheck" name="form-field-radio">
									<span class="lbl"></span>
								</label>
							</td>
							<td>{{tripPlanList.tripNumber}}</td>
							<td>{{tripPlanList.startTime | dateFormat : 'yyyy-MM-dd'}}</td>
							<td>大人{{tripPlanList.touristAdultCount}}小孩{{tripPlanList.touristChildCount}}</td>
							<td>{{if tripPlanList.guide != null}}{{tripPlanList.guide.realname}}{{/if}}</td>
							<td>{{if tripPlanList.bus != null}}{{tripPlanList.bus.licenseNumber}}{{/if}}</td>
							<td>{{if tripPlanList.status == 0}}待确认{{else if tripPlanList.status == 1}}已发团{{else if tripPlanList.status == -1}}已取消{{/if}}</td>
							<td>
								<a class="groupView cursor"  data-entity-id="{{tripPlanList.id}}">
									查看
								</a>
							</td>
						</tr>{{/each}}
				
				</tbody>
			</table>
			<form class="form-horizontal" role="form" onsubmit="return false">
				<div class="form-group" style="text-align: center;margin:0px;">
					<button class="btn btn-block btn-primary btn-chooseTripPlan">
						<i class="ace-icon fa fa-check"></i>
						选择计划
					</button>
				</div>
			</form>
		</div>
</div>
