<div class="row globalAdd">
	<div class="col-xs-12 T-transferTouristMain">
		<table class="table table-striped table-bordered table-hover T-showHighLight all">
			<thead>
				<tr class="bg-blur">
					<th>
						<label class="pos-rel">
							<input type="checkbox" class="ace T-CheckAllBox">
							<span class="lbl"></span>
						</label>
					</th>
					<th>收客信息</th>
					<th>销售部门</th>
					<th>天数</th>
					<th>出游日期</th>
					<th>联系人</th>
					<th>联系电话</th>
					<th>人数</th>
					<th>客源地</th>
					<th>年龄</th>
					<th>应付</th>
					<th>填写状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody class="T-transferTouristGroup-list">
				{{each touristGroupJson as touristGroup}}
					<tr data-value="{{touristGroup.id}}"  data-entity-adultCount="{{touristGroup.adultCount}}" data-entity-childCount="{{touristGroup.childCount}}" data-getType="{{if touristGroup.getType == 1}}旅行社系统{{else if touristGroup.getType == 2}}传真{{else if touristGroup.getType == 3}}短信{{else if touristGroup.getType == 4}}电话{{else if touristGroup.getType == 5}}QQ{{else if touristGroup.getType == 6}}微信{{else if touristGroup.getType == 7}}线上渠道{{/if}}" data-partnerAgency="{{if touristGroup.partnerAgency}}{{touristGroup.partnerAgency.travelAgencyName}}{{/if}}">
						<td>
							<label class="pos-rel">
								<input type="checkbox" class="ace T-TransferCheckBox" />
								<span class="lbl"></span>
							</label>
						</td>

						<td class="h-touristGroupInfo">
						 	<div>
						 		<p>
						 			{{if touristGroup.orderNumber}}<span class="h-orderNumber">收客单号：{{touristGroup.orderNumber}}</span>{{/if}}
								 	{{if touristGroup.lineProduct}}
									 <span class="h-type">
									 	{{if touristGroup.lineProduct.customerType==0}}散客
									 	{{else if touristGroup.lineProduct.customerType==1}}团体
									 	{{else if group.lineProduct.customerType == 2}}转客
									 	{{/if}}
									 </span>
							 		{{/if}}
						 		</p>
						 	</div>
						 	{{if !!touristGroup.lineProduct}}
							    <p class="T-ctrl-tip h-lineName" title="{{touristGroup.lineProduct.name}}">
									<span class='T-lineName'>{{touristGroup.lineProduct.name}}</span>
									<span>({{touristGroup.lineProduct.type}})</span>
								</p>
						 	{{/if}}									
						 	{{if touristGroup.partnerAgency}}<p class="h-agencyName">{{touristGroup.partnerAgency.travelAgencyName}}</p>{{/if}}
   						</td>
						<td>{{ if !!touristGroup.saleLineProductBG}} {{touristGroup.saleLineProductBG.name}}{{/if}}</td>
						<td>
							{{if !!touristGroup.lineProduct}}
								{{touristGroup.lineProduct.days}}
						 	{{/if}}	
						</td>
						<td class="T-startTime">{{touristGroup.startTime | dateFormat:'yyyy-MM-dd'}}</td>
						<td class="T-contactMember">{{if touristGroup.contactMember != null}}{{touristGroup.contactMember.name}}{{/if}}</td>
						<td class="T-mobileNumber">{{if touristGroup.contactMember != null}}{{touristGroup.contactMember.mobileNumber}}{{/if}}</td>
						<td><span class="T-viewTouristGroup T-action" data-entity-id="{{touristGroup.id}}" style="color:blue;text-decoration: underline; cursor:pointer;">大人{{touristGroup.adultCount}}小孩{{touristGroup.childCount}}</span></td>
						<td>{{touristGroup.areaData}}</td>
						<td class="F-float F-count">{{touristGroup.ageData}}</td>
						<td class="F-float F-money T-needPay">{{touristGroup.transNeedPayAllMoney}}</td>
						<td class="transferFeeStatus">{{if touristGroup.innerTransferFeeStatus == 1}}
							<i class ="ace-icon fa fa-check green"></i>
							已填写
							{{else}}
							<i class="ace-icon fa fa-times red bigger-125"></i>
							未填写
							{{/if}}
						</td>                                                                                                          
						<td>
							<a class="cursor T-action T-editFee" data-type="1">
								填写费用
							</a>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	
		<div class="mar-t-20">
			<label class="control-label no-padding-right">部门</label>
			<input name="businessGroupName" style="width:270px;" class="T-Chosen-businessGroup mar-r-20" placeholder="请选择部门" />
			<input name="businessGroupId" type="hidden" value="businessGroupId" style="width:270px;"/>

			<label class="control-label no-padding-right">责任计调</label>
			<input name="opUserName" style="width:270px;" class="T-Chosen-opUser" placeholder="请选择责任计调" />
			<input name="opUserId" type="hidden" value="1" style="width:270px;"/>

			<div style="color:RGB(184,70,53);" class="pull-right">(*提示：内转操作需填写费用信息)</div>
		</div>
		<div class="form-group col-sm-12" style="text-align: center; margin-top:50px;">
			<button class="btn btn-sm btn-danger T-cancelTransfer">
				<i class="ace-icon fa fa-times "></i>
				取消
			</button>
			<button class="btn btn-sm btn-primary T-saveTransfer" style="margin-left: 30px">
				<i class="ace-icon fa fa-check"></i>
				保存
			</button>
		</div>

	</div>
</div>