<div class="search-tripPlanContainer">
    <div class="clearfix T-search-area mar-b-10">
        <label class="pull-left text-right control-label no-padding-right">开始日期 </label>
        <div class="col-xs-1">
            <input type="text" name="startTime" class="col-xs-12 datepicker" placeholder="开始日期" value="{{searchParam.startTime}}" />
        </div>
        <label class="pull-left text-right control-label no-padding-right">结束日期 </label>
        <div class="col-xs-1">
            <input type="text" name="endTime" class="col-xs-12 datepicker" placeholder="结束日期" value="{{searchParam.endTime}}" />
        </div>
        <label class="pull-left text-right control-label no-padding-right">导游 </label>
        <div class="col-xs-1">
            <input type="text" name="guideName" class="col-xs-10 T-Choose-tourgSet" placeholder="导游" value="{{searchParam.guideName}}" />
            <input type="hidden" name="guidChooseId" value="" />
        </div>

        <div class="col-xs-2 pull-left">
            <label class="pull-left text-right control-label no-padding-right mar-r-10">排序</label>
            <select name="sortType">
                <option value="all"    {{if searchParam.sortType=='all'}}selected{{/if}} >购物总额</option>
                <option value="trip"   {{if searchParam.sortType=='trip'}}selected{{/if}} >团均购物</option>
                <option value="person" {{if searchParam.sortType=='person'}}selected{{/if}}>人均购物</option>
            </select>
            
            <select name="orderBy">
                <option value="asc" {{if searchParam.order=='asc'}}selected{{/if}}>升序</option> 
                <option value="desc" {{if searchParam.order=='desc'}}selected{{/if}}>降序</option> 
            </select>
            
        </div>

        <div class="w100 pull-left">
            <button class=" btn-sm  T-tourguidPer-search search-btn">
                <i class="ace-icon fa fa-search"></i> 搜索
            </button>
        </div>
    </div>
    <div class="T-saleProductPager-list">
        <table class="table table-striped table-bordered table-hover table-fixed T-showHighLight">
            <colgroup>
                <col style="width:10%;"></col>
                <col style="width:100px;"></col>
                <col style="width:10%;"></col>
                <col style="width:20%;"></col>
                <col style="width:20%;"></col>
                <col style="width:15%;"></col>
                <col style="width:15%;"></col>
                <col style="width:10%;"></col>
                <col style="width:10%;"></col>
                <col style="width:10%;"></col>
            </colgroup>
            <thead class="T-thead">
                <tr class="bg-blur">
                    <th class="col-sm-1">导游</th>
                    <th class="col-sm-2">手机号码</th>
                    <th class="col-sm-1">带团数量</th>
                    <th class="col-sm-1">带团人数</th>
                    <th class="col-sm-1">购物总额</th>
                    <th class="col-sm-1">单团最高购物</th>
                    <th class="col-sm-1">团均购物</th>
                    <th class="col-sm-2">人均购物</th>
                    <th class="col-sm-1">自费总额</th>
                    <th class="col-sm-1">团均自费</th>
                    <th class="col-sm-2">人均自费</th>
                </tr>
            </thead>
            <tbody class="T-tourguidPer-list">
                {{each sumListPerformance as sumL}}
                <tr data-guideId="{{sumL.id}}" data-guideName="{{sumL.guideName}}" data-mobileNumber="{{sumL.mobileNumber}}">
                    <td>{{sumL.guideName}}</td>
                    <td>{{sumL.mobileNumber}}</td>
                    <td class="T-tourCount cursor" style="color:#337ab7">{{sumL.tourCount}}</td>
                    <td>{{sumL.adultCount}}大{{sumL.childCount}}小</td>
                    <td>{{sumL.sumShopMoney}}</td>
                    <td>{{sumL.maxShopMoney}}</td>
                    <td>{{sumL.aveTeamShop}}</td>
                    <td>{{sumL.avePeoShop}}</td>
                    <td>{{sumL.sumSelfPayMoney}}</td>
                    <td>{{sumL.aveSelfPayMoney}}</td>
                    <td>{{sumL.aveSelfPay}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <div class="pageMode">
            <div class="col-xs-5">
                <small>共计{{totalCount}}条记录</small>
            </div>
            <div class="col-xs-7">
                <div class="dataTables_paginate paging_simple_numbers T-pagenation">
                </div>
            </div>
        </div>
    </div>
</div>
